[2016-11-29 01:51] robbrockbank opened #1353 "Sort out various etcd make targets"
There are a number of make targets that should be removed:

run-etcd-st....  possibly others
Need to check that run-etcd and run-etcd-host are correct too

[2016-11-29 12:57] davison commented on #1082
We just came across this and although I read most of the comments here, I missed the final one above :(

I'd just opened https://github.com/projectcalico/felix/issues/1190 for our problem as I thought from the discussion here that this issue wouldn't cause felix to restart.

I've worked around it by doing the following for now:
[code]

this appears to allow felix to start and continue working afte

[2016-11-29 17:02] djosborne commented on #1082
@davison A configuration setting for Felix was added to degrade the error to just a warning, so that Felix and calico-node will function properly even when `rp_filter == loose`.

Instead of flipping rp_filter, set [IgnoreLooseRPF](https://github.com/projectcalico/felix/blob/ab8799eaea66627e5db7717e62fca61fd9c08646/python/calico/felix/config.py#L198) to True.

[2016-11-29 17:41] davison commented on #1082
@djosborne thanks, I'd seen that code diff but didn't realise it was already released tbh.  Took me a while to work out the actual name of the environment variable that should be used to add this to my docker strap, but I have it working now :)

[2016-11-29 17:45] matthewdupre commented on #716
Let's hope so :).

[2016-11-29 17:51] matthewdupre commented on #1082
@djosborne is there anything we can do to the Mesos docs to tell people to set this option?

[2016-11-29 18:15] robbrockbank commented on #1309
Yes this was in planning for post v2.0.0 anyways

[2016-11-29 19:53] caseydavenport commented on #1297
Fixed.

[2016-11-29 19:53] #1297 closed

[2016-11-29 19:54] robbrockbank commented on #1346
I believe this was a misconfiguration with calicoctl.  @lwr20 - reopen if that is not correct

[2016-11-29 19:54] #1346 closed

[2016-11-29 19:59] robbrockbank commented on #1271
First iteration, print "using global value"    rather than blank
(maybe) Update node status to display effective value.

[2016-11-29 20:01] #1034 closed

[2016-11-29 20:06] djosborne commented on #1082
Good call. Raised #278

[2016-11-29 20:10] caseydavenport commented on #1258
@gunjan5 we'd still like to do this if we can for v1.0.0, but it's low priority.

We'll need an ST for it.

[2016-11-29 20:11] caseydavenport commented on #1242
@fasaxc what do you think the right way to fix this would be?

[2016-11-29 20:57] tomdee commented on #1349
Agree - I'm not sure people would want all of the information to be included in a diags bundle...

[2016-11-29 23:49] #1350 closed

[2016-11-30 02:42] robbrockbank commented on #1280
When we do switch over to using the Docker client, we should split out the docker pull so that we are able to display a sensible message to the user when we need to do a pull.

[2016-11-30 07:04] robbrockbank commented on #716
I've tested this using a 2 node ubuntu vagrant cluster.

[code]

Route moves over to tunl0 immediately.

I'll keep this issue open to see if anyone else wants to check it is fixed in other repo scenarios.

[2016-11-30 08:46] #1287 closed

[2016-11-30 08:54] robbrockbank opened #1362 "GoBGP backend does not work correctly if workloads across multiple hosts use IPs from the same /26"
When using GoBGP, routes are not distributed correctly if workload IPs across different hosts are in the same /26.

[code]

Should have had:

Host1 IP=172.17.0.2; Workload=192.168.1.1
Host2 IP=172.17.03; Workload=192.168.1.2
Host3 IP=172.17.03; Workload=192.168.1.3

But suspect the 192.168.1.0/26 route is mucking things up.

[2016-11-30 14:33] lwr20 commented on #1341
Still hitting this with
[code]
[code]

[2016-11-30 14:48] lwr20 opened #1363 "Its easy to end up writing to the wrong etcd with calicoctl"
As summary.  For example, you may end up manipulating the k8s etcd instead of the calico one.

Perhaps we should check for the existence of the `/calico` directory in etcd before writing a key into it - and error if there isn't one found.  Maybe with a `-f` flag to do it anyway (e.g. to set the Ready flag on a baremetal system at start of day).  And error if we don't find a `/calico` directory whe

[2016-11-30 16:20] lwr20 commented on #1341
@fasaxc wonders if we've updated the calicoctl glide pin to get the fix from libcalico into calicoctl...

[2016-11-30 17:34] #1271 closed

[2016-11-30 18:01] caseydavenport commented on #1212
This doc indicates the need to specify k8s API access details: http://docs.projectcalico.org/v2.0/reference/cni-plugin/configuration#kubernetes-specific

[2016-11-30 18:01] #1212 closed

[2016-11-30 18:43] robbrockbank opened #1364 "Make the PR testing faster"
For PR check-ins we should run a small subset of the tests.
For overnight we should run the full suite of tests.

[2016-11-30 20:10] robbrockbank commented on #1363
I think the real issue was that there was a local etcd running and calicoctl defaults to using localhost:2379.

Maybe we should just warn the user if they have not explicitly specified an etcd datastore and are using the default "localhost:2379".

@lwr20 - would that have sorted this out for you??

[2016-11-30 20:15] lwr20 commented on #1363
This was on a k8s system (on the master) - so it's not surprising that
there was an etcd there. And if I didn't know better, why would I know that
the local etcd was the wrong one?  If probably ignore any warning like
that...

On Wed, 30 Nov 2016, 20:10 Rob Brockbank, <notifications@github.com> wrote:

I think the real issue was that there was a local etcd running and
calicoctl defaults to using l

[2016-11-30 20:45] caseydavenport commented on #1363
etcd datastore and are using the default "localhost:2379"

Feels like warning if `ETCD_ENDPOINTS=` would be fine behavior.  We could add a configuration option to disable warnings if they're annoying.

[2016-11-30 20:45] caseydavenport commented on #1363
We probably want to warn if people use ETCD_AUTHORITY=... if we don't already.

[2016-12-01 10:00] ishidawataru commented on #1362
@robbrockbank Reproduced the issue. This is due to a lacking feature of `calico-bgp-daemon`.
I think I figured out what to implement, but I would like to hear your option before I proceed.
Below is my understanding. Could you check whether this is correct?

When the same /26 is assigned to multiple hosts, the prefix is only inserted to one place under etcd `/calico/ipam/v2/host`.

Here, we have tw

[2016-12-01 10:21] fasaxc opened #1374 "Felix syslog logging doesn't work in calico/node"
I believe that's the issue behind https://github.com/projectcalico/felix/issues/1197.

Do we care?  Should we disable syslog in containerland (since it's not typically used)?

[2016-12-01 10:21] fasaxc commented on #1374
If we do want to fix, we probably need to forward the syslog port/named pipe into the container.

[2016-12-01 12:05] lwr20 commented on #1349
OK - so how would we diagnose a problem like #1346?

[2016-12-01 18:01] lwr20 opened #1375 "RC1 calicoctl runs the wrong calico/node"
The RC1 calicoctl runs the following when doing `calicoctl node run`:
[code]
So its running `calico/node:latest`.  Is that correct?  Should it not be a specific calico/node version?

[2016-12-01 18:19] robbrockbank commented on #1375
@lwr20 Useful to include output from:

[code]

[2016-12-01 18:31] robbrockbank commented on #1375
OK looks like we aren't passing in the version environment to the containerized build.

[2016-12-01 18:49] tomdee commented on #1173
Does it report its version?

[2016-12-01 18:57] gunjan5 commented on #1173
@tomdee it doesn't report it right now, I misunderstood this issue before.
We might do it after the release

[2016-12-01 21:13] lwr20 commented on #1375
[code]
[code]

[2016-12-01 23:38] robbrockbank commented on #1362
@ishidawataru Yes, if I understand correctly the issue is that it isn't currently importing and re-exporting kernel routes.   I assume the current implementation just uses the aggregation block for routing?

[2016-12-02 00:48] caseydavenport commented on #716
Fixed in v1.0.0-rc1

[2016-12-02 00:48] #716 closed

[2016-12-02 01:22] #1375 closed

[2016-12-02 03:41] ishidawataru commented on #1362
@robbrockbank Thank you for the clarification. Yes, current implementation only uses the aggregation block. I'll try to fix this issue.

[2016-12-02 05:35] MikeSpreitzer opened #1377 "Master can not ping pods, request disappears after PREROUTING chain of nat iptable"
Ubuntu 16.04
Kubernetes release 1.4.6
Calico 1.6 (calicoctl and calico/node v0.23.0)
Calico CNI 1.4.3

On the worker nodes, I have a calico-node service with
[code]

After starting the calico-node service on the master and all the workers, my Ansible playbook then creates one pool; here is what was logged in the typescript:
[code]

Later the playbook goes on to install Kubernetes components, and t

[2016-12-02 05:48] MikeSpreitzer commented on #1377
Here is `calicoctl diags`, taken at this point in the narrative (i.e., after the problem was made to evaporate by removing and re-adding ipip):
[diags-021216_004457.tar.gz](https://github.com/projectcalico/calico-containers/files/626451/diags-021216_004457.tar.gz)

[2016-12-02 05:52] MikeSpreitzer commented on #1377
Here is a dump of the iptables on the worker node from a certain point in time while I was probing the bad behavior.

[iptables-with-loggin-and-problem.txt](https://github.com/projectcalico/calico-containers/files/626458/iptables-with-loggin-and-problem.txt)

This was after some `-j LOG` rules had been added but not all.  After this point I added three more:

[code]

[2016-12-02 05:56] MikeSpreitzer commented on #1377
To complete your viewing pleasure, here is the output of `fgrep '[MJS' syslog` at 23:28 on the worker node's clock.
[syslog-filtered.zip](https://github.com/projectcalico/calico-containers/files/626461/syslog-filtered.zip)

[2016-12-02 06:07] MikeSpreitzer commented on #1377
Finally, for easy reference:
the master was at 100.126.0.2 and Calico assigned 172.18.118.0/26;
the worker node hosting the pod was at 100.126.0.5 and Calico assigned 172.18.157.128/26;
I successfully pinged from a worker node at 100.126.0.3, where Calico assigned 172.18.87.128/26.

Interestingly, this is one of the times when I found Calico assigned two blocks to each host.  Here is the routing t

[2016-12-02 06:09] MikeSpreitzer commented on #1377
Here a clue I noticed in the iptables logging: when it was failing, the request packet's source address is 172.18.118.0; after the repair, the successful packet's source address is 172.18.118.1.

[2016-12-02 15:52] MikeSpreitzer commented on #1377
I changed my Ansible playbook to create the desired Calico pool before starting the calico-node service anywhere, and this works around the problem.

[2016-12-02 18:04] fasaxc commented on #1377
@MikeSpreitzer Did you happen to look at the routing table on the target machine before it fixed itself?  We've had some issues with BIRD where it doesn't correctly update the routes after IPIP is toggled on.  A correct IPIP route looks like this:
[code]
i.e.

- it matches the `/26` IPAM block
- has a via for the real, routable IP of the destination host
- it has an exlicit `dev tunl0` and `onlink

[2016-12-02 18:19] MikeSpreitzer commented on #1377
The double blocks was there from the start, the repair procedure did not introduce it.  Now that I have destroyed the troubled cluster and re-built it with the work-around, I also see double blocks.  Here is the routing table on the master:
[code]

Yes, in the troubled case I looked at `ip route` on the master and on some workers, and did not see anything wrong.  Unfortunately I do not have a hand

[2016-12-02 18:41] fasaxc commented on #1377
Yes, sorry you did confirm that in a previous comment.

My working hypothesis was that the packet was failing the kernel's RPF check on the destination host, which could happen if BIRD had failed to correct the routes after turning on IPIP.  I'm not 100% sure where in the pipeline the RPF check occurs but the routing decision is made between `nat PREROUTING` and `mangle FORWARD`, which is a pretty

[2016-12-02 19:07] fasaxc opened #1378 "Hosts being allocated 2 IPV4 IPAM affine blocks at start-of-day"
Spotted by @MikeSpreitzer under #1377 (runing Calico 1.6).  I checked my test cluster and it also seems to have 2 blocks per host even though I've never had more than about 10 pods running.

[2016-12-02 19:12] fasaxc commented on #1378
Example from my k8s test cluster; routes show that each host has two blocks (I also checked that same was true in etcd):
[code]

[2016-12-02 19:23] MikeSpreitzer commented on #1378
Thanks, I've been meaning to raise this as an issue of its own.  I have been seeing it for a while.  At least in 1.5 and 1.6.

[2016-12-02 20:37] MikeSpreitzer commented on #1377
OK, I have reproduced the problem with the old playbook.  Same as before, Ubuntu 16.04, Calico 1.6, Kubernetes 1.4.6.
From the master (100.127.0.2 AKA 172.16.184.128), pinging a pod fails.  The ping request appears at `tunl0` on the destination worker node, but not on the `califbe0e613d1c` interface in that node's main network namespace (leading to the pod).  OTOH, a ping from another worker node

[2016-12-02 20:44] MikeSpreitzer commented on #1377
I used `calicoctl diags` on the destination worker machine, and it partially succeeded.
[code]
[diags-021216_154239.tar.gz](https://github.com/projectcalico/calico-containers/files/628189/diags-021216_154239.tar.gz)

[2016-12-02 20:58] MikeSpreitzer commented on #1377
Here are the `calicoctl diags` archives from the master
[diags-021216_155225.tar.gz](https://github.com/projectcalico/calico-containers/files/628205/diags-021216_155225.tar.gz)
and the destination worker
[diags-021216_155208.tar.gz](https://github.com/projectcalico/calico-containers/files/628206/diags-021216_155208.tar.gz)

[2016-12-02 20:59] robbrockbank opened #1379 "Add run flag to pass in interface name for libnetwork containers"
See https://github.com/projectcalico/libnetwork-plugin/pull/88

[2016-12-03 09:06] TamalSaha opened #1380 "Feature request: Make Calico use Kubernetes's etcd"
Hi,
One of the difficult parts of using Calico with Kubernetes is that Calico requires a separate etcd server which is accessed by any nodes of a cluster. This introduces complexity in setup process because this etcd needs to be secured separately. So, I wonder will it be possible to use Kubernetes apiserver/3rd part objects as a replacement for etcd to store data for Calico. I saw that Flannel di

[2016-12-03 17:37] caseydavenport commented on #1380
@TamalSaha Yes, this is definitely in our road map.

We've already implemented a version of Calico that does this for policy only, but it doesn't yet support all of the Calico data model (e.g stuff required for BGP).

See here: http://docs.projectcalico.org/v2.0/getting-started/kubernetes/installation/hosted/k8s-backend/

[2016-12-03 22:09] TamalSaha commented on #1380
Thank @caseydavenport . I am interested in the stuff required for BGP. Any tentative timeline for that?

[2016-12-04 02:12] caseydavenport commented on #1380
@TamalSaha really tentatively I'd say in the next couple of months, but no date set yet.

[2016-12-04 03:04] TamalSaha commented on #1380
@caseydavenport sounds great! We are looking forward to that.

[2016-12-04 03:32] MikeSpreitzer commented on #1377
Yes, it looks like RPF is involved.  In my cluster with the problem, here is the routing table on a worker node running a pod that the master can not ping:
[code]

.. and here is what I see there coming in from the tunnel:
[code]

Note that the routing table entry for the request packets' source address is
[code]

On the other hand, in the cluster built with the work-around, here is what I see arr

[2016-12-04 16:12] MikeSpreitzer commented on #1107
And, just to keep you on your toes, the "tlsv1 alert" problem happens in `calico/node:v0.23.0` only if it is given a list of more than one etcd endpoint.

[2016-12-04 19:56] caseydavenport commented on #841
@gunjan5 can you ensure that in v1.0.0 we're passing the CALICO_LIBNETWORK_IFPREFIX value through via calicoctl?

[2016-12-05 10:29] yolkov commented on #1107
[code]

[2016-12-05 17:21] caseydavenport opened #1383 "Ability to delete selections of workload endpoints and other resources."
I'd like to remove _all_ workload endpoints for a given node / orchestrator combination without

[code]

[2016-12-05 17:23] caseydavenport commented on #1383
Would be cool to be able to perform operations on weps based on label selectors too, but not part of this issue :)

[2016-12-05 18:33] lwr20 commented on #1341
Er - why is this back with me?  Can you point me at a new binary to test with please?

[2016-12-05 18:37] caseydavenport commented on #1341
@lwr20 this is back with you to test with v1.0.0-rc1.

[2016-12-05 19:09] ozdanborne opened #1384 "Implement adjustable host affinity pool sizes"
By default, calico assigns a /26 block to each host from the larger configured pools.

This imposes a minimum pool size of /25.

We should allow the /26 to be configurable so users can sacrifice speed optimization to allow for smaller pool sizes, all the way up to /32.

[2016-12-05 19:22] lwr20 commented on #1341
Yep - looks fixed in RC1.

[2016-12-05 19:22] #1341 closed

[2016-12-06 00:22] gunjan5 opened #1385 "calico node doesn't honor NODENAME env var"
this is on CoreOS+rkt setup but shouldn't be system specific:
I started calicoc-node:
[code]
It starts successfully, but when I look at the confd logs, I see:
[code]

Looking at etcd, I find the key really doesn't exist, and node is somehow using a different NODENAME:
[code]

also passing `HOSTNAME=calico-01` seems to make it work

meep!

[2016-12-06 00:22] gunjan5 commented on #1385
CC @robbrockbank

[2016-12-06 00:33] tomdee opened #1386 "End to end network plugin testing is "light""
Both the CNI and libnetwork plugins have tests (in their respective repos) that ensure that the plugins have the right side effects (create the right network devices and write the correct info to the datastore). Howeve, they don't have e2e tests to ensure that felix can (still) consume this information.

IIUC, this repo has some testing of libnetwork plugin but nothing for CNI.

For libnetwork plu

[2016-12-06 02:29] caseydavenport commented on #1258
Removing this from v1.0.0 to v1.0.1

[2016-12-06 17:17] gunjan5 commented on #1258
@caseydavenport  why is this moved to 1.0.1? This was merged with STs, I forgot to close it :)

[2016-12-06 18:05] gunjan5 opened #1388 "calicoctl node run command should be able to mount non default docker socket"
calicoctl node run only mounts `/var/run/docker.sock` by default

See https://github.com/projectcalico/libnetwork-plugin/issues/90#issuecomment-264939740 for details

[2016-12-06 18:18] matthewdupre opened #1389 "Is drop the correct DefaultEndpointToHostAction for Kubernetes?"
From calico-users Slack:
[code]
@caseydavenport - should we change it?  We already vary this by orchestrator (e.g. OpenStack VMs all connect to the host for DHCP/metadata).

[2016-12-06 18:26] caseydavenport commented on #1258
@gunjan5 Ah! Should have closed this issue then :)

[2016-12-06 18:26] #1258 closed

[2016-12-06 18:44] gunjan5 opened #1391 "calicoctl node run shouldn't enforce root for --dryrun option"
root should only be enforced if it's actually running the command

[2016-12-06 18:51] caseydavenport opened #1392 "Unable to delete workloadendpoints from file"
I'm seeing this:

[code]

The file looks like:

[code]

[2016-12-06 21:14] caseydavenport commented on #1389
Seems sensible enough to change.

Does seem like a number of apps desire connectivity to the container host.

[2016-12-06 23:14] caseydavenport commented on #1194
Closing. Let me know if this actually isn't fixed.

[2016-12-06 23:14] #1194 closed

[2016-12-06 23:15] caseydavenport commented on #1178
Fixed in the v1.0.0-beta, soon to be released as v1.0.0.

[2016-12-06 23:15] #1178 closed

[2016-12-06 23:24] caseydavenport commented on #1265
We can take this in chunks.

I've done the first bit here: #1381.

We can also take this opportunity to do #873

[2016-12-06 23:28] robbrockbank commented on #1098
Not for 1.0.0

We do print the "stop" command for docker when running in an init system.  We probably just want to always print out the stop command.  And then we also need to consider different run times.

[2016-12-06 23:58] neiljerram commented on #1347
We don't have a 1.6 PPA.  Is there an issue here?

[2016-12-06 23:59] neiljerram commented on #1347
Oh I'm sorry, actually we do.  (I created it and have already forgotten.)

[2016-12-07 00:20] #1385 closed

[2016-12-07 01:11] gunjan5 opened #1395 "STs for calicoctl node run --docker-networking-ifprefix flag"
See #1390 and #841 for reference

[2016-12-07 01:15] gunjan5 commented on #841
fixed in #1390

[2016-12-07 01:15] #841 closed

[2016-12-07 06:14] ZhenyangZhao commented on #1205
@zouyee i'm not resolve this problem, if i have any idea i will notify you.
@matthewdupre
my environment is : using docker in openstack vxlan network.
act1: use local Oracle vBox running with docker & calico, the container can ping other container in different host.
act2: same configuration using docker&calico in openstack vxlan network not works. calicoctl status shows everything ok(established)

[2016-12-07 08:42] ZhenyangZhao commented on #1205
@zouyee i resolve this promblem by using ipip and natoutgoing
`calicoctl pool add 192.168.10.192/26 --ipip --nat-outgoing`
@matthewdupre  thanks for help.my mistake.:)

[2016-12-07 08:42] #1205 closed

[2016-12-07 15:36] lwr20 opened #1397 "windows version of calicoctl needs to end in .exe"
Otherwise windows wants to open it in another application...

[2016-12-07 20:49] gunjan5 commented on #1375
verified this is fixed in RC2

[2016-12-08 01:48] spuranam commented on #1307
@caseydavenport i finally got calico network policies to work with TLS enabled etcd, using both systemd managed instance and hosted calico. I posted my configuration for anyone else who might be running into same issues https://gist.github.com/spuranam/e8584e6cac75663814c90ba7b58cba06

[2016-12-08 01:49] spuranam commented on #1107
@yolkov please take a look at the configs that worked for me, https://gist.github.com/spuranam/e8584e6cac75663814c90ba7b58cba06

[2016-12-08 02:53] caseydavenport commented on #1307
Awesome, thanks for checking back in and providing that config :)

[2016-12-08 02:53] #1307 closed

[2016-12-08 06:42] caseydavenport commented on #1392
@heschlie I think this is a bug.  Assigning to you to investigate and propose a fix (unless I just messed up somehow in which case sorry..)

[2016-12-08 06:45] caseydavenport commented on #1383
Marking this as high priority since it hinders ability to clean up etcd.

[2016-12-08 06:49] caseydavenport commented on #1380
This issue touches on a lot of different components and has lots of work ahead of it.

I've raised https://github.com/projectcalico/calico/issues/355 to track questions / feature progress.

[2016-12-08 06:49] #1380 closed

[2016-12-08 07:03] caseydavenport commented on #1378
@robbrockbank we just spoke about this today in the context of v2.0.0.

See this libcalico issue: https://github.com/projectcalico/libcalico-go/issues/294

The intention is for @gunjan5 to fix this in time for v2.0.0.

[2016-12-08 07:04] caseydavenport commented on #1378
Closing this in favor of the libcalico issue since that's where the offending code is.

See projectcalico/libcalico-go#294

[2016-12-08 07:04] #1378 closed

[2016-12-08 07:05] caseydavenport commented on #1379
Closed by https://github.com/projectcalico/calico-containers/pull/1390

[2016-12-08 07:05] #1379 closed

[2016-12-08 07:06] caseydavenport commented on #1374
Closing as wontfix.

Set `FELIX_LOGSEVERITYSYS` to get debug logs in calico/node.

[2016-12-08 07:06] #1374 closed

[2016-12-08 07:08] caseydavenport commented on #1353
This should include standardizing all of our make targets across all the repos and updating them to deploy v3.

[2016-12-08 07:10] caseydavenport commented on #1349
@lwr20 just because calicoctl doesn't dump etcd doesn't mean we can no longer look in etcd.

If we need it the data is still there!  If we gather a diags bundle from someone they might not want to send us all the data in their etcd - especially if they're sharing it with something else.

Closing this as wontfix.

[2016-12-08 07:10] #1349 closed

[2016-12-08 07:13] caseydavenport commented on #1340
I can't quite remember who is supposed to populate that data at startup.  @robbrockbank?

[2016-12-08 07:21] caseydavenport commented on #1328
This looks like it could be a duplicate of https://github.com/projectcalico/calico-containers/issues/1340

Looks like something isn't writing out the key that it should be.  AFAICT that should be the IPAM code, but I feel like I'm missing something.  Once again, @robbrockbank?

[2016-12-08 07:27] caseydavenport commented on #1324
@javaboyuk glad you figured it out, and sorry we've taken so long to chime in on this guy!

Would appreciate a docs PR to address the two points you raised if you can :)

I've raised https://github.com/projectcalico/calico/issues/357 and https://github.com/projectcalico/calico/issues/356 to track.

[2016-12-08 07:27] #1324 closed

[2016-12-08 07:39] caseydavenport commented on #1226
10.10.48.105    0.0.0.0         255.255.255.255 UH    0      0        0 cali36c36819fd7

These routes look correct to me.

I suspect your routes to the outside world are just the default routes to the TOR?  Do you need any other routes?

Did you check to see if Calico network policy was configured which was preventing the traffic?

I'm going to close this as it's rather old.

[2016-12-08 07:39] #1226 closed

[2016-12-08 07:39] caseydavenport commented on #1209
@xh3b4sd any news on this guy?

[2016-12-08 07:41] caseydavenport commented on #1201
Maybe a libnetwork vs CNI plugin thing? @fasaxc do you know what versions you were using? I'm tempted to close unless you think there is something we should do.

[2016-12-08 07:44] caseydavenport commented on #1177
I think the calicoctl node stop command is going away in v2.0.0.

@robbrockbank do we have the documentation in place yet for how to do this with v2.0?

[2016-12-08 07:44] #1172 closed

[2016-12-08 07:46] caseydavenport commented on #1167
Yep, the new calicoctl node command will just print help text.. there's a calicoctl node run command for that now.  It also produces the correct docker run cmds for you.

The code has been released as a beta and will be GA very soon.

[2016-12-08 07:46] #1167 closed

[2016-12-08 07:48] caseydavenport commented on #1143
I don't think this is relevant anymore since the Go rewrite? But correct me if I'm wrong.

[2016-12-08 07:48] #1143 closed

[2016-12-08 07:50] #1135 closed

[2016-12-08 07:52] caseydavenport commented on #1123
This should be fast and easy and is something I'd like to do to clean up our self-hosted k8s manifest.

[2016-12-08 07:54] caseydavenport commented on #1127
Yep!

@robbrockbank has done this on AWS.  Plan is to get this into Calico in the near future.

[2016-12-08 07:55] #1108 closed

[2016-12-08 07:56] #1098 closed

[2016-12-08 07:57] caseydavenport commented on #999
@robbrockbank do we use Docker IPAM ever?

[2016-12-08 07:59] caseydavenport commented on #997
This is staying in the v2.0 release.  No --runtime any more, but we should document clearly how to run in rkt.

See: https://github.com/projectcalico/calico/pull/344

[2016-12-08 08:02] caseydavenport commented on #937
I think we do disable by default.  I don't ever see this unless I've explicitly enabled syslog.

[2016-12-08 08:02] #937 closed

[2016-12-08 08:07] caseydavenport commented on #899
I think this is a wontfix.

[2016-12-08 08:07] #899 closed

[2016-12-08 08:08] #904 closed

[2016-12-08 08:09] caseydavenport commented on #737
@robbrockbank doesn't the Go calicoctl support this? Or am I imagining things?

[2016-12-08 09:45] xh3b4sd commented on #1209
I did not check further on this one because I also need to work in other directions. Is this issue fixed? Can somebody else confirm it? Not sure what feedback I can give here now. All I know is in the PR description.

[2016-12-08 10:38] hectorj2f commented on #1209
@caseydavenport The problem remains there, we have to restart calico (etcd TLS) and other components of our cluster nodes whenever we perform a certificate renewal operation. So the node is there, but in terms of calico networking, it takes around 4min to become operative :/.

[2016-12-08 17:12] caseydavenport commented on #1209
Assigning to myself + marking as a bug.  Will aim to repro and hopefully fix in v1.0.1.  Thanks for your patience!

[2016-12-08 17:27] hectorj2f commented on #1209
Thanks @caseydavenport! 👍

[2016-12-08 19:37] matthewdupre opened #1399 "calicoctl output command line arguments are inconsistent"
`calicoctl get policy -o yaml` works
`calicoctl get policy --output=yaml` works
`calicoctl get policy --output yaml` works
`calicoctl get policy -o=yaml` fails with `unrecognized output format '=yaml'.

The help text describes the format as `-o --output=<OUTPUT FORMAT>`.

The fourth of these should work: it's perfectly reasonable to expect it to be valid given the help text.

[2016-12-09 14:51] fasaxc opened #1401 "Release process hiccups"
First time I've tried to do a calico-containers release today; hit a few snags as a set of fresh eyes:

- [x] `make release` "what to do next" help doesn't mention mac/windows calicoctl binaries.
- [x] `make release` "what to do next" help doesn't mention the list of sub-component versions to embed in the release note or how to collect that.
- [x] RELEASING.md implies you can release from a non-ma

[2016-12-09 17:48] tomdee opened #1403 "calicoctl node run should pass through all Calico env vars"
e.g. it should pass through all environment variables prefixed with `CALICO_`

This allows is to easily add flags to components e.g. libnetwork-plugin or felix, and have a way for users to configure them

[2016-12-09 20:55] gunjan5 opened #1404 "Pass DOCKER_HOST to calico/node"
See https://github.com/projectcalico/libnetwork-plugin/issues/90#issuecomment-266078037 for detail

[2016-12-09 21:04] gunjan5 commented on #1404
I'm thinking of one of the two approaches here:
1. calicoctl node run command checks if ENV var `DOCKER_HOST` is set, if it is, then pass it to calico/node as `-e DOCKER_HOST`
2. add a flag for calicoctl node run `--docker-host=<DOCKER_HOST>`

I'm leaning more towards the first option.
WDYT? @tomdee @robbrockbank

[2016-12-09 21:09] dkoshkin opened #1405 "calicoctl apply returns "No resources specified in file""
**Version**: `v1.0.0-rc1`, `v1.0.0-rc2`, `v1.0.0-rc3`
**OS**: CentOS

[code]
I've also tried the example from the [docs](http://docs.projectcalico.org/v2.0/reference/calicoctl/resources/ippool) with the same error.

Same file works with calicoctl `v1.0.0-beta`

[2016-12-09 21:18] gunjan5 commented on #1405
@dkoshkin hmm strange. I tried it with `v1.0.0-rc2` and seems to work fine for me. Can you run the command with debug on (see mine below)? Also can you get me the output of `calicoctl version`?

[code]

[2016-12-09 21:46] dkoshkin commented on #1405
[code]
[code]

Config issue maybe? Is there a way to test if caicoctl can talk to etcd?

[2016-12-09 21:53] dkoshkin commented on #1405
Yep looks like the config file needs to be a valid YAML or JSON file, after changing to the below it worked
[code]

Thanks!

[2016-12-09 21:56] robbrockbank commented on #1404
I prefer to have things that we think are permanent features as command line options - they are easier to use and easier to document IMHO.   This feels like a permanent feature to me, so I'd err on having it as an option rather than an env

[2016-12-09 22:02] caseydavenport commented on #1405
Going to re-open this to track fixing up that error message.  That should be more clear what's going on if we fail to parse the config file!

@gunjan5 could you fix this up?

[2016-12-09 22:12] gunjan5 commented on #1405
@dkoshkin Yep, if you haven't already, this should help: http://docs.projectcalico.org/master/reference/calicoctl/setup/etcdv2

I will fix up the error message

[2016-12-09 23:56] robbrockbank commented on #1405
@gunjan - the better way to fix this up would be to use my modified yaml library in libcalico-go - we didn't do this initially because of time constraints.....   but it will provide better messages such as specifying when unknown fields are in the config file.

[2016-12-09 23:58] caseydavenport commented on #1405
@robbrockbank Gunjan and I just spoke and came to the same conclusion :)

[2016-12-09 23:58] caseydavenport commented on #1405
Also I think you meant @gunjan5 :)

[2016-12-09 23:58] robbrockbank commented on #1405
yes, yes I did.

[2016-12-10 04:21] #997 closed

[2016-12-12 12:35] r0bj opened #1407 "calico/node v1.0.0-rc3: Unexpected command output Device "eth0" does not exist."
I have working k8s cluster with calico v0.23.0:
OS: ubuntu 14.04
kubernetes: 1.4.7
docker-engine: 1.12.1-0~trusty
etcd: 3.0.15
calico-containers: v0.23.0
calico-cni: 1.4.3

Everything works ok.

Then I'm trying to run new hosted version of calico:
http://docs.projectcalico.org/v2.0/getting-started/kubernetes/installation/hosted/hosted
using yaml file:
http://docs.projectcalico.org/v2.0/getting-sta

[2016-12-12 13:10] tomdee commented on #1364
@robbrockbank Can you share some ideas for which subset of tests should be run?

[2016-12-12 18:50] caseydavenport commented on #1407
[code]

That error message is actually benign.  The kubelet has an async status check that, when it occurs before the CNI plugin is finished, emits that message.

Since the "Device "eth0" does not exist." is likely a red-herring, there is probably something else preventing the pods from starting.

This is the last log I see from Calico

[code]

but I'd expect some more logs to come after that.  Ca

[2016-12-12 21:30] gunjan5 commented on #896
@heschlie assigning this to you since you're already looking into removing endpoints

[2016-12-12 23:54] matthewdupre opened #1412 "Calico node run fails (with a cryptic error!) when calico node is already running"
The below is fairly self explanatory: you get the same failure if you `docker stop calico-node`; it takes a `docker rm calico-node` to clear.  Really, it should probably either stop and rm the existing node; or print a message like "calico-node is already running.  If you want to restart it, run `docker rm -f calico-node` and then re-run this command."

I don't mind which particularly.  The 'alway

[2016-12-13 00:22] gunjan5 commented on #1412
@matthewdupre which version of calicoctl are you running? We render docker logs now so in the newer version you shouldn't see the cryptic `Error executing command: exit status 125`.
Also, the new code should just start a new calico/node. See below:
[code]

[2016-12-13 00:28] matthewdupre commented on #1412
OK; it was probably a little old.  I did look for a duplicate issue, but I guess this was fixed under a vaguely titled one.  Closing :).

[2016-12-13 00:28] #1412 closed

[2016-12-13 00:40] #1397 closed

[2016-12-13 05:20] #1405 closed

[2016-12-13 07:47] caseydavenport commented on #880
I think this has been fixed for a while.

[2016-12-13 07:47] #880 closed

[2016-12-13 07:49] caseydavenport commented on #906
I'm closing this as wontfix.

[2016-12-13 07:49] #906 closed

[2016-12-13 18:13] tomdee opened #1415 "master builds of calico-containers are not getting the correct versioning information in calicoctl"
[code]

[2016-12-13 20:37] r0bj commented on #1407
Thanks for help.
kube-proxy wasn't running on the node. So without communication with API there was not possible to create pod. I guess this is difference in comparison to previous version of calico.
I'm closing this issue then.

[2016-12-13 20:37] #1407 closed

[2016-12-13 21:01] r0bj opened #1416 "calico/node v1.0.0-rc3: add routes after ~3-4 minutes"
My setup:
OS: ubuntu 14.04
kubernetes: 1.4.7
docker-engine: 1.12.1-0~trusty
etcd: 3.0.15
calico-containers: v1.0.0-rc3

I run hosted version of calico:
http://docs.projectcalico.org/v2.0/getting-started/kubernetes/installation/hosted/hosted
using yaml file:
http://docs.projectcalico.org/v2.0/getting-started/kubernetes/installation/hosted/calico.yaml

I've edited yaml file changing fields: etcd_end

[2016-12-13 21:52] r0bj commented on #1416
It may be related, one of the nodes is off-line:
[code]

[2016-12-13 23:30] heschlie commented on #1392
Was a bug in libcalico-go, fixed here:

https://github.com/projectcalico/libcalico-go/pull/305

[2016-12-13 23:30] #1392 closed

[2016-12-13 23:31] heschlie commented on #896
This should now work in the go version of calicoctl, fixed in this PR for libcalico-go:

https://github.com/projectcalico/libcalico-go/pull/305

[2016-12-13 23:31] #896 closed

[2016-12-14 11:03] r0bj opened #1418 "calicoctl as a pod: Calico process is not running"
My setup:
OS: ubuntu 14.04
kubernetes: 1.4.7
docker-engine: 1.12.1-0~trusty
etcd: 3.0.15
calico-containers: v1.0.0-rc4

I've deployed `calicoctl` as a DaemonSet to have it on every node:
[code]

Following documentation:
[code]
Works as expected.

But trying to get node status generates error message:
[code]

Local version of `calicoctl` on the node works ok:
[code]

[2016-12-14 17:50] caseydavenport commented on #1416
@r0bj is `10.14.30.114` actually a running node that you expect to be up?  If it's not you probably need to delete it via `calicoctl delete node`

My first guess is that BIRD is waiting to program routes until it does a graceful restart and syncs with all its peers, but since it can't reach that peer it's hitting the full timeout before re-programming routes.

[2016-12-14 18:10] r0bj commented on #1416
`10.14.30.114` is down, it's old decommissioned node. After I removed this node the whole process is much faster.

Thanks for explanation.

[2016-12-14 18:12] cirocosta commented on #1133
as of https://github.com/docker/docker/issues/24569#issuecomment-267044175 1.13 will ship with the network plugins support 😁 it'd be awesome to have calico support!

[2016-12-14 18:25] lxpollitt commented on #1133
cc @tomdee

[2016-12-14 19:07] #1416 closed

[2016-12-14 21:14] lwr20 opened #1419 "Break in connectivity while restarting calico/node"
I create a kubernetes cluster with 2 nodes.  I create iperf server pods on it with:
`kubectl run iperf --image=phlak/iperf` until I have at least 1 on each node.

I then get into one with `kubectl exec -it iperfb-3109788441-ag1vg sh` and run iperf: `iperf -c 192.168.177.128 -t 3600 -i 1`.

I then kill one of the calico-node instances running on a node:
`kubectl delete pod -n kube-system calico-nod

[2016-12-14 21:23] caseydavenport commented on #1419
So it sounds like either Felix and/or BIRD is not programming the data plane gracefully when it comes back up.

I think it would be worth grabbing the logs from both BIRD + Felix and we can take a look at what it's doing during the restart.

Might also be interesting to note if this happens on restart, or if it happens on upgrade from 1.6 -> 2.0 exclusively.

[2016-12-14 21:24] caseydavenport commented on #1419
CC @fasaxc for thoughts on what to look for in Felix.

[2016-12-14 21:40] fasaxc commented on #1419
To narrow it down, I'd start with
- `sudo watch -d -n 0.1 "iptables-save | grep felix"` during a test and see if the rules glitch when Felix restarts.
- `sudo watch -d -n 0.1 "ip route"`and see if the routes glitch (either felix or bird ones).
If felix looks at fault, might need to drop to debug felix logs and worth through the iptables and ipsets updates.

[2016-12-14 22:17] caseydavenport commented on #1419
I've tried the following, using the steps @lwr20 mentions above:

#### 1.6 restart case (success)
- Deploy v1.6 + run iperf between two pods.
- Kill calico/node on one of the hosts with an iperf pod, wait for it to come back.

#### v1.6 -> v2.0 upgrade (success)
- Pull calico/node:v1.0.0-rc4 to the host.
- Apply new DaemonSet
- Delete the calico/node on the host and wait for it to restart

#### v2

[2016-12-15 10:47] lwr20 commented on #1419
OK - I'll attempt to repro and get the diags requested.

[2016-12-15 10:54] lwr20 commented on #1419
There was indeed a very brief glitch at the point of the break.  Here's the `ip monitor` output at the point it glitched:
[code]

[2016-12-15 11:09] fasaxc commented on #1419
As discussed, felix logs would be helpful.  I'd be on the lookout for a felix restart with different config.  Did Felix start up once thinking there was no tunnel address, then once with it or something like that?  Other ideas is that felix is removing then re-adding the IP, or that creating the tunnel isn't idempotent so, even thought we don't remove it.

[2016-12-15 11:10] lwr20 commented on #1419
Felix debug logs over startup: https://gist.github.com/lwr20/fe8d3c11fb15f985f546b635649bbb5d

[2016-12-15 11:22] fasaxc commented on #1419
From the logs, looks like Felix *is* flapping the IP address on the tunnel interface:
[code]
While it's reading the correct IPs, it's then removing them all and re-adding them rather than spotting that the IP is already in place.

[2016-12-15 16:20] lwr20 commented on #1419
Looks much better with the fix.

[2016-12-16 01:27] gunjan5 commented on #1418
@r0bj you'd have to share the PID namespace and mount `/var/run/calico` and `/var/run/bird` in order for the `node status` command to work since the command looks at the process list to see if Calico and BGP backends are running and then talks to the bird socket which needs to be mounted if you're running calicoctl at a pod. See the example DaemonSet below:
[code]

Having said that, I'd recommend

[2016-12-16 01:27] #1418 closed

[2016-12-16 04:14] djosborne opened #1422 "Don't print ETCD_AUTHORITY in `node start` output if possible"
To further help phase out the deprecated `$ETCD_AUTHORITY`, we should avoid printing it in the `calicoctl node run` output when possible, i.e. when user has specified `$ETCD_ENDPOINTS` instead.

For example, I ran

`[vagrant@calico-mesos-03 ~]$ sudo ETCD_ENDPOINTS=http://172.24.197.101:2379 calicoctl node run --dryrun --init-system`

and I get:

`docker run --net=host --privileged --name=calico-no

[2016-12-16 05:44] gunjan5 commented on #1422
@djosborne I think the reason for passing that is because we have a `--config` option to specify calico config file and it can still have `ETCD_AUTHORITY`.

Are you suggesting we convert `ETCD_SCHEME` + `ETCD_AUTHORITY` to `ETCD_ENDPOINTS` and pass that?

[2016-12-16 07:51] #1222 closed

[2016-12-16 10:33] r0bj commented on #1418
Thanks for explanation!

[2016-12-16 14:30] #1419 closed

[2016-12-16 22:30] djosborne commented on #1422
No, I'm just suggesting that before we output that command string, if `-e ETCD_AUTHORITY=` is blank (as it is in my output), we should redact it.

I don't think this is affected by `calicoctl.cfg`, but maybe we should chat if you think it is.

[2016-12-18 03:26] caseydavenport commented on #826
Assigning to @2blesd2bstresd since this will be fixed up by his startup.go changes.

[2016-12-19 02:17] caseydavenport opened #1423 "Rename calico-containers -> calicoctl"

[2016-12-19 13:56] bluecmd opened #1424 "calico-node 1.0.0 w/ Kubernetes 1.5.1 requires node restart for connectivity"
Hi,

This bug is a bit odd, so I'm going to dump as much as I can and hope it's enough for someone to get an idea.

Problem: New pods often require restart of calico-node for them to have any sort of connectivity.

Layman's analysis: Something with network policies not being applied?

I have calico set up as CNI for my lab Kubernetes 1.5.1 installation running on CoreOS. I have 3 nodes, running ET

[2016-12-19 14:01] bluecmd commented on #1424
Log from policy controller:
[code]

As the log is pretty massive, these are all the counted lines instead (full log at https://gist.github.com/08d2e85e400409a9230c93681ad2d6ac)
[code]

[2016-12-19 18:05] fasaxc commented on #1424
@bluecmd A few questions:

- What version of the Calico components are you running?
- Is there a particular guide you followed to get it all set up?  If so, it'd help us to reproduce the issue here.
- How are you running Calico, is it in a docker container; or are you using rktnetes, for example?

[2016-12-19 18:34] caseydavenport commented on #1424
The policy controller logs I've seen a few times now.  I just raised a bug for it: https://github.com/projectcalico/k8s-policy/issues/63

That said, I don't think it's related to the issue you're seeing and shouldn't actually have an impact on things working.

The calico/node logs look more troubling.  They seem to indicate that felix,bird, etc are not getting started (which would explain why noth

[2016-12-19 19:06] bluecmd commented on #1424
@fasaxc I'm doing something very close to the bare-metal kubernetes install: http://docs.projectcalico.org/v2.0/getting-started/kubernetes/installation/hosted/hosted

My config: https://gist.github.com/bluecmd/d897e20b0ce1d80b049313eea4ae233f

As for versions:
[code]

@caseydavenport

If I understand your question then no - the log errors start looping the errors just after calico-node has started

[2016-12-20 09:49] bluecmd commented on #1424
It looks like it may be the same issue as was reported here: https://github.com/projectcalico/calicoctl/issues/1244

``
/etc # ls -la /etc/service/available/bird/
total 4
drwxrwxr-x    1 root     root            16 Dec 20 04:00 .
drwxrwxr-x    1 root     root            77 Dec 20 04:00 ..
drwxrwxr-x    1 root     root            16 Dec 20 09:33 log
-rwxrwxr-x    1 root     root           100 Dec 2

[2016-12-20 11:08] bluecmd commented on #1424
Switched my /var/lib/docker on CoreOS to a btrfs backed device and on that node calico-node now jumps up and logs new nice things:

[code]

I will proceed to do this on all my nodes and let you know the outcome.

[2016-12-20 14:58] bluecmd commented on #1424
All nodes have now been transitioned to btrfs and I have not needed to restart calico since the migration.

Feel free to close or re-purpose the bug as you see fit.

[2016-12-21 16:50] hanikesn commented on #1107
Calicoctl v0.22 also doesn't start with etcd version >= 3.x. Calicoctl v0.23 gives starts, but doesn't add the correct routes for the endpoints:
[code]

[2016-12-21 21:05] gunjan5 commented on #1423
- [x] update cc -> calicoctl for master/v2.0
- [ ] update calico-containers -> calicoctl for older versions of docs (v1.5 and v1.6)

[2016-12-22 05:38] MikeSpreitzer opened #1425 "Default MTU for CNI plugin is not right"
I am using Kubernetes, and my worker nodes have MTU=1446.  The network interface that the CNI plugin puts in the container has an MTU of 1500.  That is too high.  When I make a Calico IP pool with ip-in-ip encapsulation, and the container sends a long reply to an HTTP request, the long packets are dropped in the plumbing outside the worker node.  When I add `"mtu": 1416` into the Calico CNI plugin

[2016-12-22 05:49] #1424 closed

[2016-12-23 20:26] #1173 closed

[2016-12-26 14:11] artem-panchenko opened #1429 "`calicoctl node run` cmd fails: /usr/bin/docker: no such file or directory"
The command fails since **calico/ctl** image was switched to use a common alpine docker image instead of custom one with **glibc**:

https://github.com/projectcalico/calicoctl/commit/6bceaa7b6dd82ae9fc8a6723d4c9931007766eea#diff-7c036e281666f41844cdd3a4e834e1ebR1

Example:

[code]

[2016-12-28 10:38] chenzhiwei commented on #1244
@onyxet Why closed this issue since calico/node can't work properly with overlayfs, I think it's a bug.

@matthewdupre What do you think?

[2016-12-28 23:57] robbrockbank commented on #1422
Actually, if someone is still explicitly using ETCD_AUTHORITY then we should just convert that to ETCD_ENDPOINTS.

[2016-12-29 04:15] gaord opened #1431 "CALICO_DISABLE_FILE_LOGGING leads to networking down and runsv spamming the log"
This seems fixed previously. But with node v1.0.0 + cni v1.5.5 + policy server v0.5.1, this reappear again:
The deployment goes as in the link http://docs.projectcalico.org/v1.5/getting-started/kubernetes/installation/hosted/

With CALICO_DISABLE_FILE_LOGGING to true:
node gives logs as below:

[code]

Interestingly, with the both configuration there will be errors with kubectl logs calico-node-..

[2016-12-29 17:42] robbrockbank commented on #1280
When moving away from shelling out, we should undo the additions of #1430 which are working around requirements for running the docker CLI within the calico/ctl container.

[2016-12-29 17:48] caseydavenport commented on #1422
Agreed with @robbrockbank.  Let's _never_ show ETCD_AUTHORITY.

[2016-12-29 20:58] djosborne commented on #1422
I don't like converting environment variables for Users. Users would pass `ETCD_AUTHORITY` when they call `calicoctl`, but see `ETCD_ENDPOINTS` get set in `calico/node`.

I'd much prefer just continuing to phase out ETCD_AUTHORITY by redacting references to it, as my original issue suggested...

[2016-12-29 21:17] caseydavenport commented on #1422
@djosborne hmm, I get what you're saying, but ETCD_AUTHORITY has been deprecated for a while now.  I'd be really happy to just drop it entirely in Calico v2.1.0.  The conversion to ETCD_ENDPOINTS is just once last nicety before that if we want to.

[2016-12-30 01:49] gaord commented on #1431
@caseydavenport It is running on RHEL 7.3 vmware with xfs/tmpfs file system. Thanks.

[2016-12-30 02:15] ruansteve opened #1432 "how to make calico advertise static routes?"
I met this use case:
My k8s network use calilo and I want to run a IPSec VPN pod to connect to a remote network. Topo is like this:
remote network(10.1.0.0/16)  ---------------->  | VPN Pod (172.16.3.3)  in K8s node 1|
.............................................................................................. |  Pod (172.16.5.3) in           k8s node 2|

As I can image, I can add a static route

[2016-12-30 08:51] lsm opened #1433 "Can not use same file for `etcdKeyFile` & `etcdCertFile`"
## Version

`1.0.0`

## Example `/etc/calico/calicoctl.yml` file

[code]
Where `/etc/tls/etcdclientpem` contains both tls `key` and `cert`.

## Command to reproduce
`sudo calicoctl node run --config /etc/calico/calicoctl.yml`

## Actual docker command triggered

`docker run --net=host --privileged --name=calico-node -d --restart=always -e ETCD_AUTHORITY= -e ETCD_CA_CERT_FILE=/etc/calico/certs/ca_c

[2016-12-30 10:27] shouhong opened #1434 "How to change the IP range for a block"
Currently the default IP block range is /26 like below. Is there any way to change this? Such as change it to /24. So more IPs are available to be assigned. Thanks!
[code]

[2016-12-30 17:39] caseydavenport commented on #1433
@gunjan5 looks like there's a bug in the mounts generated by `calicoctl`.

[2016-12-30 17:42] caseydavenport commented on #1434
@shouhong Currently there is no way to change the size of the blocks used by Calico IPAM.  However, this doesn't actually limit you to a /26 per host because Calico can assign multiple /26s to each host.

For each host, when it runs out of addresses in the block(s) assigned to it, it will assign a new /26 block to that host, so you can assign as many addresses as you like.

[2016-12-31 02:45] shouhong commented on #1434
Thanks a lot, the information is very helpful!

[2016-12-31 02:45] #1434 closed

[2017-01-03 09:28] pizzarabe commented on #443
I would like to see https://github.com/kelseyhightower/confd/pull/329 in calico node, because I can see a bunch of `closed request prematurely` using etcdv2.
The fix is in the 0.12 version (using a new etcd lib)  which is still in alpha so I guess we will wait for the 0.12 ro be released.

[2017-01-03 18:51] gunjan5 commented on #1415
@tomdee I pulled the master build artifact from our CI and ran the command and I see `calicoctl node run` working as expected. Not sure why the image tag is missing from your output.

[code]

[2017-01-03 19:42] djosborne opened #1436 "display valid resource types as list in `calicoctl get --help`"
I always find it difficult to locate the valid resource types in `calicoctl get --help` output.

Can we move them into a bulleted list instead of a comma-separated list?

[2017-01-03 20:25] caseydavenport commented on #1436
Yes, I think this would be better.

[2017-01-03 21:28] caseydavenport commented on #1432
@ruansteve by default Calico configures BIRD such that it only advertises routes for addresses within its configured pools (see [here](https://github.com/projectcalico/calicoctl/blob/2d59018cb550464f98b9582ea0a42c6932e7a84b/calico_node/filesystem/etc/calico/confd/templates/bird_ipam.cfg.template#L6))

However, you should be able to configure custom filters in etcd which will be interpreted by this

[2017-01-04 00:25] gunjan5 opened #1437 "Switch to google's gops library"
we're currently using https://github.com/mitchellh/go-ps which doesnt seem to be actively mantained and has a bug that's affecting us https://github.com/mitchellh/go-ps/issues/2

We should try out google's new gops library instead (https://github.com/google/gops)

[2017-01-04 01:18] ruansteve commented on #1432
Thanks. I will try it.

[2017-01-05 01:29] gunjan5 opened #1440 "system test container should be versioned"
calico/test container is used without a tag at the moment which always pulls the latest container, this is a problem specifically when there's a hotfix patch (for example in one of the python stable versions).
Hotfix patch shouldn';t have to change that part of the makefile.

We need some release process to make sure we tag the calico/test container and use that tag in the Makefile for testing jus

[2017-01-05 15:54] MikeSpreitzer commented on #1425
The ip-in-ip encapsulation overhead is 20 bytes, and an MTU of 1426 inside the container works too.  I also tested a client inside a pod fetching a long file from outside the cluster, and that worked too (I suppose due to the client setting its max segment size TCP option based on the local MTU).  I have _not_ tested external peers sending large UDP packets into a pod, but I worry that might fail.

[2017-01-05 16:56] djosborne opened #1441 "Expand calico.cfg support"
This is a request to expand support for `/etc/calico/calicoctl.cfg` to other components, namely `calico/node` and Calico-CNI.

@caseydavenport @robbrockbank

[2017-01-05 18:20] gunjan5 commented on #1433
@lsm so seems like the config file isn't correct. after talking to @robbrockbank turns out it is suppose to be a full path to the files for all 3 of those. See the example below:
[code]
http://docs.projectcalico.org/v2.0/reference/calicoctl/setup/etcdv2

[2017-01-06 09:54] lsm commented on #1433
@gunjan5 Yes.  That's the setup when you have **separate** key and cert files.  Sometimes you can put both `key` and `cert` in **one** file, let's say:

`/etc/calico/key-cert.pem`

then use the same file path for `etcdKeyFile` and `etcdCertFile` like this:
[code]
This works for a lot of programs AFAK (`mongo`, `etcd`, `docker` etc.) but not for `calicoctl`@1.0.0. Seems the patch you pushed 2 days

[2017-01-06 16:48] fasaxc commented on #1377
CC @lxpollitt

[2017-01-06 16:49] fasaxc commented on #1425
CC @lxpollitt

[2017-01-06 17:05] matthewdupre commented on #1377
Sorry I haven't read all the way through; but is this similar to https://github.com/projectcalico/calicoctl/issues/1296?

[2017-01-06 17:08] heschlie commented on #1296
cc @lxpollitt

[2017-01-06 17:11] MikeSpreitzer commented on #1377
This is different from #1296.

[2017-01-06 19:09] MikeSpreitzer commented on #1296
I'm afraid I do not remember the use case.  I do not have a need for `ipip` without `nat-outgoing` at this time.

[2017-01-07 00:35] gunjan5 opened #1444 "calicoctl node checksystem should check ALL the kernel modules required"
Right now it only checks for the kernel version (required for network namespace), and `xt_set` and `ip6_tables` kernel modules, but it needs more kernel modules that we just assume are present in the kernel, but not always the case.
See: https://github.com/kubernetes/minikube/issues/973
& https://github.com/kubernetes/minikube/pull/972

- [ ] update calicoctl node checksystem code to check all the

[2017-01-07 00:56] tomdee commented on #1425
Is this a bug or an enhancement? We don't try to autodetect the MTU - but we do allow the user to set it.

Is the solution here better documentation around MTUs (esp when used with IPIP) or should the CNI plugin  be gaining an understanding of whether the container could end up using IPIP and what the MTU of the external interface is.

[2017-01-07 00:58] tomdee commented on #1401
Sorry, I can't take this. Assigning to Casey as he did the last release.

[2017-01-07 01:02] gunjan5 commented on #1444
Related issue https://github.com/projectcalico/calicoctl/issues/905
- [ ] update calico docs to add a pre-requisite list

[2017-01-07 01:46] gunjan5 commented on #1444
Another related issue (but for felix) https://github.com/projectcalico/calicoctl/issues/1242

[2017-01-09 10:22] robbrockbank opened #1445 "Allow default pool configuration to be configurable"
It might be useful if we allow the default pool configuration to be configurable when starting up the calico/node.

I'm not 100% convinced about this, but raising issue for discussion.

For example, we could add additional envs that specify the pool CIDRs and IPIP config for the default IP pools - so if an IP pool does not exist create it with the specific config.

[2017-01-09 10:28] gunjan5 commented on #1445
+1. Sounds like a good idea. Besides being an env var we could also add it as a flag for calicoctl node run so it's well documented. `--initial-ippool=<CIDR>` something like that

[2017-01-09 17:39] gunjan5 commented on #1433
@lsm you're right, we should support that. The only concern is some old python libraries didn't support having them all in one file. We have one last bit of python code in Calico which should be replaced by Go soon (hopefully within a week) then we could test this out and merge the PR.

Re-opening this issue and the PR.

[2017-01-09 18:38] caseydavenport commented on #1445
I think this would be pretty useful.  Currently in k8s we need to run a Job to configure the desired Pool.  This would mean we don't have to do this.

An environment variable would work.  We could also consider creating a Pool based on a file in the container's filesystem.  You could then mount in the pool you want to create to override the default.

[2017-01-09 19:29] MikeSpreitzer commented on #1425
I suppose whether it is a bug or an enhancement is a matter that could be debated.  I currently can and do work around the issue, because my automation that deploys Calico can detect the MTU on the relevant host interface, knows whether IPIP is being used, and puts an explicit MTU field in the CNI config.  I was a little surprised that I had to do this.

[2017-01-10 11:06] lwr20 opened #1448 "Setting labels to boolean values results in unexpected behavior"
I set this label on a workload endpoint:  `{"test": True}`.

It got rendered as
[code]
But I was expecting it to be rendered as `{"test": "True"}`, so my rule selector didn't work: `{"selector": "test == 'True'"}`.

I'm not sure this behaviour is obvious, so perhaps we should simply reject boolean labels rather than converting them?

[2017-01-10 17:35] caseydavenport commented on #1448
Yeah, that seems like a bug.  We really should just be interpreting whatever value is passed there as a string, independent of whether it is in quotes or not.

`test: True` should should be interpreted as `test: "True"`

[2017-01-10 23:31] gunjan5 commented on #1401
@fasaxc I created a PR #1449 with your suggestions. One thing I'm not sure about is the `make clean` step. Seems like it is backing up 3 container images `felix`, `libcalico` and `test` images that it (makefile) doesn't make. Do you think we should not remove any of those?

On the other hand, I'm also thinking what if there is a "dirty" local image. Person doing the release can also end up using a

[2017-01-13 01:35] rikatz opened #1452 "Kubernetes - Selectable IPPool"
Don't know if is there some other issue opened here, so here's a feature request/suggestion:

It would be great if I could select, in Kubernetes, which ippool my container is going to use, according to some annotation on the POD spec.

Some other solutions does implement this (I've seen this operational in contiv -> https://github.com/contiv/netplugin/tree/b5fd3d3dc4bd8fefff3f51d8229953650cdc67db/

[2017-01-13 01:53] caseydavenport commented on #1452
@rikatz thanks for raising!

I think you're actually looking for pretty much exactly this issue:
https://github.com/projectcalico/cni-plugin/issues/213

And a similar, related issue: https://github.com/projectcalico/cni-plugin/issues/212

There is a WIP PR from the community to add this feature, so it should be in the next release: https://github.com/projectcalico/cni-plugin/pull/223

[2017-01-13 01:53] #1452 closed

[2017-01-13 09:42] fasaxc commented on #1401
@gunjan5 Yeah, the backup saved me last time.  Maybe we just live with but I'm not 100% sure why we are removing those images at all; if you can find that out from Casey or Tom then it might help us come up with something better.

[2017-01-17 19:12] gunjan5 opened #1454 "Need a single command to report all Calico sub-component versions"
It's difficult to debug user environments where there might be version mismatches.
A single command to report all the Calico component versions would be _**really**_ useful.

See a request from a user in our slack channel:
https://calicousers.slack.com/archives/kubernetes/p1484233079002139

Something like:
[code]

[2017-01-18 21:06] ThomasLohner commented on #1113
Guys, i'm still struggling with this issue. Do you see any chance to make this possible or can you suggest a workaround? The goal is to spread calico network over multiple cloud providers.

[2017-01-18 23:49] a-palchikov commented on #1431
Hi,
I'm experiencing the same issue with docker 1.12 and `overlay2` as storage driver. I don't really see `switching to btrfs` as a solution since the whole point of docker update for me was to be able to use the new overlay2 driver.

[2017-01-19 06:06] caseydavenport commented on #1431
@gunjan5 I've assigned this to you since I don't think I'll get a chance to look at this any time in the near future.

This seems to be sufficiently common that we should fix, ideally for v2.1.0.

[2017-01-20 00:20] caseydavenport commented on #1006
I'm going to close this for now, since I've been unable to reproduce and I'm not convinced it's a Calico issue.

Please do poke me if it turns out there's evidence for something wrong on Calico's end.

[2017-01-20 00:20] #1006 closed

[2017-01-20 00:22] caseydavenport commented on #1050
Closing this as a duplicate of the more active discussion here: https://github.com/projectcalico/cni-plugin/issues/213

[2017-01-20 00:22] #1050 closed

[2017-01-20 00:53] caseydavenport commented on #1423
I don't think we need to do the earlier releases.

[2017-01-20 00:53] #1423 closed

[2017-01-20 01:00] #1432 closed

[2017-01-20 16:51] liftedkilt commented on #1133
With 1.13 officially out, is there an update on this?

[2017-01-20 19:30] gunjan5 opened #1457 "startup-go fails with etcdless k8s backend"
[code]

[2017-01-24 23:24] caseydavenport commented on #1445
I think for starters we can support (with defaults as shown)

[code]

[2017-01-25 06:50] caseydavenport commented on #1389
One of the symptoms here is that pods scheduled on the master (or, for example, a single node kubeadm cluster) can't talk to the apiserver.

This will cause Pods like kubedns or the dashboard to fail.

The fix for this is to add the following environment variable to the calico-node Pod in calico.yaml

[code]

[2017-01-25 09:06] gunjan5 commented on #1389
So this only seems to affect etcdless mode. Not exactly sure why but everytime I've hit this it was with etcdless. etcd mode works every time without having to set this

[2017-01-25 16:41] tmjd commented on #1445
A few points of clarification after discussing with @caseydavenport:
* There will be two env variables for the IP pools.  CALICO_IPV4POOL_CIDR and CALICO_IPV6POOL_CIDR
 * If one of the above env variables is set and NO_DEFAULT_POOLS is set then terminate as an invalid configuration.

[2017-01-25 17:19] fasaxc opened #1463 "Add support for untracked policy"
Felix 2.1.0 will support untracked policy, need to make sure the matching support ends up in calicoctl (i.e. rev libcalico-go pin to appropriate level).

[2017-01-25 20:04] caseydavenport opened #1464 "Automatically detect Kubernetes pod CIDR, create IP Pool"
It would be great if we could detect what the cluster CIDR being used by a given Kubernetes cluster is and ensure that the necessary IP Pool exits automatically.

At the moment, this is configurable in the Calico self-hosted manifests and is run as a "Job" to perform one time configuration.

I'd like to be able to remove that requirement, and have the `calico/node` Pod do that automatically based

[2017-01-26 15:12] spothanis commented on #1457
I too am hitting this, anyway to work around till the actual fix lands?

[2017-01-26 18:50] caseydavenport commented on #1457
Hm.  Looks like this is the line causing the problem: https://github.com/projectcalico/libcalico-go/blob/master/lib/backend/k8s/k8s.go#L684

We can probably change that line to return a nil value for all host config.  The code that allocates / removes IPIP tunnel addresses should handle that case correctly.

https://github.com/projectcalico/calicoctl/blob/master/calico_node/allocateipip/allocate_i

[2017-01-26 18:52] caseydavenport commented on #873
I think this is a key feature we should be looking to address in v2.1.0.

CC @tomdee

[2017-01-27 08:58] pizzarabe opened #1466 "Caclio fails with hostname does not match IP (CertificateError)"
I updated my Kubernetes Cluster to calico-node version 1.0.1 and my kube-policy-controller to v.0.5.2 and calico was unable to connect to my etcdv2 cluster anymore.

` pycalico.datastore_errors.DataStoreError: get_host_bgp_ips: Error accessing etcd (Connection to etcd failed due to SSLError(CertificateError("hostname 'alien1.local doesn't match '10.169.1.131'",),)).  Is etcd running?`

The Certifi

[2017-01-27 08:59] pizzarabe commented on #1466
related to https://github.com/projectcalico/libcalico/issues/107 ?

[2017-01-27 16:33] caseydavenport commented on #1466
I think what you're seeing is that the name "alien1.local" isn't present in the subject alternative names and so isn't found.

[code]

If a certificate has a SAN section specified then clients are supposed to ignore the CN, giving the SAN list preference.  Try adding the hostname as a SAN as well and see if that fixes this issue.

[2017-01-27 21:34] gunjan5 commented on #1433
Just tested this again since all the python code (startup) is replaced by Go.
I created all separate files for key, cert and CA first, that seemed to work, then I had a combined file for key and cert into a single file and that seemed to work as well:

[code]

[2017-01-28 04:48] gunjan5 commented on #1415
@tomdee ^ can this be closed?

[2017-01-28 04:57] gunjan5 commented on #1121
We don't have remove command anymore. We just stop/kill/delete the calico/node container/pod depending on the orchestrator (docker, k8s, rkt)

[2017-01-28 04:57] #1121 closed

[2017-01-28 06:37] lsm commented on #1433
Thank you @gunjan5 you are the best.  I'm wondering when this can be merged to master.

[2017-01-30 06:02] caseydavenport commented on #1127
See https://github.com/projectcalico/calicoctl/pull/1453 for a PR which implements this.

[2017-01-30 06:07] caseydavenport commented on #1310
Duplicate of #1127

[2017-01-30 06:08] #1310 closed

[2017-01-30 06:09] caseydavenport commented on #1265
This is fixed in master.

[2017-01-30 06:09] #1265 closed

[2017-01-30 06:12] caseydavenport commented on #1347
@neiljerram - could this be knocked off quickly?

Otherwise we should just close this issue.

[2017-01-30 06:13] caseydavenport commented on #967
Nodes can now be renamed using `calicoctl`.

Otherwise, this isn't a Calico issue, so I'm going to close this.

[2017-01-30 06:13] #967 closed

[2017-01-30 06:15] caseydavenport commented on #963
@tomdee does this bug still apply?  We've since made significant changes to our libnetwork plugin (e.g porting to Go)

[2017-01-30 06:16] caseydavenport commented on #941
A PR for this is in the works over here: https://github.com/projectcalico/libcalico-go/pull/319

[2017-01-30 06:17] caseydavenport commented on #900
This is a pretty old issue.  Closing as not reproducible for now.

[2017-01-30 06:17] #900 closed

[2017-01-30 06:17] #826 closed

[2017-01-30 15:50] #1347 closed

[2017-01-30 16:56] alexey-medvedchikov commented on #1120
The problem is on docker + overlay and centos 7 kernel you have:

[code]

I think it can be solved by replacing sequence:
[code]
with
[code]

[2017-01-30 17:00] caseydavenport commented on #1431
A suggested fix here: https://github.com/projectcalico/calicoctl/issues/1120#issuecomment-276118863

[2017-01-30 17:16] gunjan5 commented on #1433
@lsm I'm hoping it would be merged in next 2 days since @robbrockbank who is the reviewer for the PR is on vacation

[2017-01-30 18:02] alexey-medvedchikov commented on #1120
I've tested my suggestion and it works for me #1473

[2017-01-30 18:09] gunjan5 commented on #1440
After talking to @lwr20 it seems like this may not be a problem moving forward since STs have moved into the same repo (calicoctl) now, so won't need to pull the calico/test container.
However, I would still want to keep the calico/node image on Dockerhub since it will be required whenever we do a hotfix release (like 1.6.2 or 2.0.2 for example)

I think it's ok to close this issue now.

[2017-01-30 18:09] #1440 closed

[2017-01-30 22:31] tomdee commented on #1415
No, I think there's still an issue. I'll add some more details soon

[2017-01-30 23:15] xied75 opened #1475 "Calico for ARM?"
Dear all,

I was following kubeadm instructions here: https://kubernetes.io/docs/getting-started-guides/kubeadm/
and Calico is one of the options for network as here: https://kubernetes.io/docs/admin/addons/

Then following the link http://docs.projectcalico.org/v2.0/getting-started/kubernetes/installation/hosted/kubeadm/ I can see the contents of this file:
http://docs.projectcalico.org/v2.0/gett

[2017-01-30 23:53] tomdee commented on #1431
And a PR in #1473

[2017-01-30 23:54] tomdee commented on #1440
@gunjan5 Do you mean calico/node image or calico/test image?

[2017-01-31 00:00] tomdee commented on #1475
It's something we'd like to add support for but have no immediate plans for.

[2017-01-31 01:10] gunjan5 commented on #1440
@tomdee I meant calico/test, oops

[2017-01-31 17:40] robbrockbank commented on #797
I can't remember the exact use case - more that I had someone asking to be able to knock out certain IP addresses from their pool - because the addresses were already in use.

We do have the ability to do that through the API - just by reserving and releasing the specific IP address, so this was more about exposing that function in `calicoctl`.

[2017-01-31 17:51] #1401 closed

[2017-01-31 18:39] caseydavenport commented on #1457
This should be fixed in libcalico-go v1.0.2, but needs to be re-tested, so leaving open for now.

[2017-02-01 03:12] caseydavenport opened #1482 "Error levels not determined correctly."
This log from startup.go:

[code]

Shows up as this in GCE logging:

[code]

Note that the severity is interpreted as "ERROR", which is wrong.  I suspect that the logs are going to stderr and as a result being interpreted as errors.

We should make sure that only error logs get reported as errors.

[2017-02-01 03:12] caseydavenport commented on #1482
@robbrockbank assigning to you for now.

[2017-02-01 15:11] fasaxc commented on #1457
I just tried to spin up a k8s cluster with `calico/node:2.1.0-rc1` and I hit the above error.

[2017-02-01 15:13] fasaxc commented on #1457
I checked the 2.1.0-rc1 tag in this repo, its glide.yaml is pinned to an older commit, not v1.0.2.

[2017-02-01 19:18] fasaxc commented on #1463
@lwr20 I think this is done, do we have an FV test for it in calicoctl?  I know we have one in the OpenStack rig but it doesn't test calicoctl.

[2017-02-01 22:29] robbrockbank commented on #983
Hi @saiwl - I'm closing the issue since I'm not sure of the repo of this particular problem, and it's not something I've seen when running with calico/node.

Please feel free to re-open if this is still a problem for you.

[2017-02-01 22:29] #983 closed

[2017-02-01 22:31] robbrockbank commented on #999
With the latest release of libnetwork plugin we no longer allow Calico networking without Calico IPAM.  Closing issue.

[2017-02-01 22:31] #999 closed

[2017-02-01 22:40] robbrockbank commented on #1383
@caseydavenport What does k8s do here when there are multiple identifiers?

I'm nervous about a missing identifier simply meaning "wildcard" because it'll be too easy to accidentally delete a bunch of config....   But perhaps a "*" or similar identifier to explicitly indicate "wildcard", or add another CLI parm such as "--wildcard-missing-parms"  or "--delete-multiple" or something along those lin

[2017-02-01 22:43] caseydavenport commented on #1383
An equivalent would be k8s namespaces, where you need to declare it or specify "all".

e.g

[code]

vs

[code]

vs

[code]

So, maybe we need

[code]

[2017-02-02 13:55] fasaxc opened #1486 "Missing FV tests"
We've managed to add some features without adding FV tests for them, we should add these:

Felix features:

- [ ] Configuring status reporting interval/disabling status reporting
- [ ] IgnoreLooseRPF flag
- [ ] IPv6Support flag should disable IPv6 even on an IPv6 system
- [ ] Test with iptables root chain policy set to "DROP", at least for the INPUT chain.  Calico policy should still ACCEPT packet

[2017-02-02 17:19] caseydavenport commented on #1466
@pizzarabe closing for now, since this should work added to the SANs.  Please let me know if that doesn't fix your issue and I'll re-open.

[2017-02-02 17:19] #1466 closed

[2017-02-02 22:26] tomdee commented on #873
@robbrockbank Could you share your design for solving this (when you have it) so we can all discuss and comment 😄

[2017-02-02 22:28] tomdee commented on #1209
Looks like we're still needing to find a simple repro for this? Does anyone have a simple way to demonstrate this problem?

[2017-02-02 23:30] xh3b4sd commented on #1209
@tomdee I was under the impression the issue description contains all relevant information to reproduce the problem. What do you miss?

[2017-02-03 00:09] tomdee commented on #1454
I've added `docker run calico/node versions`.

It might be good to add a `calicoctl node versions` command or something which calls this.

[2017-02-03 00:16] tomdee commented on #1431
#1473 was merged so closing

[2017-02-03 00:16] #1431 closed

[2017-02-03 09:27] fasaxc commented on #1209
@caseydavenport @tomdee I think it's only the tunl0 routes that are going away, @xh3b4sd's test was `! route -n | grep tunl0`.

[2017-02-03 09:36] fasaxc commented on #1209
@xh3b4sd @hectorj2f Do you still see this with the latest pre-release: https://github.com/projectcalico/calicoctl/releases/tag/v1.1.0-rc2

In that release, we fixed a bug (in Felix) where the tunl0 IP was flapped over restart.

[2017-02-03 09:37] lwr20 commented on #1209
A lot of similarities here with https://github.com/projectcalico/calicoctl/issues/1419.  Are we still seeing this with the latest release?

[2017-02-03 10:24] hectorj2f commented on #1209
@fasaxc We didn't upgrade calico to the latest version. We still use v1.4.2 but @xh3b4sd can confirm that.

[2017-02-03 10:42] fasaxc commented on #1209
@hectorj2f The fix isn't in the 1.4.x series, you need at least `calico/node:v1.0.2` / felix `v2.0.2`

[2017-02-03 12:03] xh3b4sd commented on #1209
We will upgrade calico at some point. Have to check with the team for priorities. Will come back on that eventually.

[2017-02-03 18:37] brendandburns commented on #949
Update, there are templates here:

https://github.com/Azure/acs-engine/pull/151

[2017-02-03 19:01] pmichali commented on #873
I hit this too, on a kubeadm host-based setup where I have multiple interfaces and a bond I/F is being used as the main interface and calico-node is selecting a different interface. One suggestion would be to make sure the logging indicates what interface was chosen - as I only found out at pod create time, when the local endpoint was using a different I/F.

[2017-02-03 21:39] robbrockbank opened #1492 "The TestFelixOnGateway tests are failing frequently"
I've spotted a number of failures with the TestFelixOnGateway test.  For example:

https://semaphoreci.com/calico/calicoctl/branches/master/builds/1188

It looks like the test might be a little flaky.  Note, though that I've only spotted the flakiness since fixing the STs to actually use the locally built version of calico/node.  Recently, when we moved to using quay.io as the default image, we ha

[2017-02-03 23:02] robbrockbank commented on #1492
======================================================================
FAIL: test_egress_policy_can_block_through_traffic (tests.st.policy.test_felix_gateway.TestFelixOnGateway)
----------------------------------------------------------------------
Traceback (most recent call last):
  File "/code/tests/st/policy/test_felix_gateway.py", line 227, in test_egress_policy_can_block_through_traffic

[2017-02-03 23:03] robbrockbank commented on #1492
======================================================================
ERROR: test_conflicting_ingress_and_egress_policy_1_deny (tests.st.policy.test_felix_gateway.TestFelixOnGateway)
----------------------------------------------------------------------
Traceback (most recent call last):
  File "/usr/lib/python2.7/site-packages/nose_parameterized/parameterized.py", line 365, in standalone_func

[2017-02-06 13:50] lwr20 opened #1498 "calico/node:v1.1.0-rc2 cyclically crashing on startup"
System was setup according to http://docs.projectcalico.org/v2.0/getting-started/kubernetes/installation/hosted/k8s-backend/ on GCE, using `kubeadm init --pod-network-cidr=10.244.0.0/16`, then joining nodes and finally `kubectl apply -f calico.yaml` where the calico.yaml is the one from http://docs.projectcalico.org/v2.0/getting-started/kubernetes/installation/hosted/k8s-backend/calico.yaml but wi

[2017-02-06 14:41] fasaxc commented on #1498
New k8s backend returning nil rather than the expected "key not found" error?

[2017-02-06 15:45] fasaxc commented on #1492
Looks like a genuine bug; Felix is failing to resolve the endpoint, looks like it's due to the veth being renamed.

[2017-02-06 17:23] caseydavenport commented on #1498
Yes, looks like the error is here https://github.com/projectcalico/libcalico-go/blob/master/lib/backend/k8s/k8s.go#L720

Should be returning `errors.ErrorResourceDoesNotExist` instead.

[2017-02-07 01:32] caseydavenport commented on #1389
Fixed https://github.com/projectcalico/calico/pull/464

[2017-02-07 01:32] #1389 closed

[2017-02-07 02:15] tomdee opened #1501 "Calicoctl should pass through some environment variables automatically when starting node"
IIUC, `calicoctl node run` already passes through environment variables prefixed with `FELIX_` when running the `calico/node` image. Libnetwork-plugin uses environment variables prefixed with `CALICO_` so `calicoctl` should pass those through too.

[2017-02-07 03:27] #1433 closed

[2017-02-07 03:28] gunjan5 commented on #1433
@lsm sorry it took us so long. It's in master now. Let me know if you still see the issue.

[2017-02-07 07:01] lsm commented on #1433
@gunjan5 No worries.  It's a minor issue which could be solved by using two separate files.  Thanks a lot for fix it!

[2017-02-07 10:16] fasaxc commented on #1492
Should be fixed in felix master, we should unskip these once we've got a Felix 2.1.0-rc3 with that fix in it.

[2017-02-07 17:30] heschlie commented on #1498
fixed in projectcalico/libcalico-go#339

[2017-02-07 17:30] #1498 closed

[2017-02-07 17:39] #1492 closed

[2017-02-08 00:46] caseydavenport opened #1505 "WAIT_FOR_DATASTORE broken"
Looks like the WAIT_FOR_DATASTORE loop has no exit condition.

This code: https://github.com/projectcalico/calicoctl/blob/23939adccbd0340787098b558641c615210dd510/calico_node/startup/startup.go#L152

should probably have a break in it.

[2017-02-08 00:46] caseydavenport commented on #1505
@tomdee added to v2.1.0

[2017-02-08 01:05] caseydavenport commented on #1505
CC @robbrockbank

[2017-02-08 01:11] caseydavenport commented on #1505
We should also change the Get() that is performed to use something other than Nodes, since the Kubernetes datastore driver (KDD) doesn't support Nodes yet.

[2017-02-08 03:02] #1505 closed

[2017-02-08 09:32] fasaxc commented on #1242
@caseydavenport Can/do we map the kernel module directories `/lib/` IIRC into the container so that they can be loaded?  Obviously we can't ship modules inside the container because they wouldn't match the running kernel.

[2017-02-08 09:58] mcortinas opened #1507 "Docker network doesn't create any calico network"
I cannot create docker network , I'm running CentOs7:

[code]

Other thest in order to describe my environment
[code]

[2017-02-08 14:04] marun commented on #1242
@fasaxc That might be fine for development, but I think that's inadvisable in any production scenario due to the security implications.

[2017-02-08 18:01] mcortinas commented on #1507
I added other commands suggested in slack channel
[code]

[2017-02-08 18:39] #873 closed

[2017-02-08 19:33] mcortinas commented on #1507
Finally i enabled trace loglevel in docker daemon and i can see this error stack trace.
[code]
I solved downgrade ETCD to 2.3.7 and its works fine!

[2017-02-08 19:33] #1507 closed

[2017-02-09 09:30] sunilganatra opened #1510 "port forwarding doesn't work on docker 1.12.5 with calico v1.0.2"
I am trying to forward inbound traffic of host on following ports 22,10000.9443,8443 to calico network container.

docker's port forwarding is not working as it is. I came across calico document to apply policy on calico-node. I tried to apply following policy but it is not working. could you please comment some examples on how to achieve port forwarding.

- apiVersion: v1
  kind: policy
  metadat

[2017-02-09 09:39] fasaxc commented on #1457
Fixed in rc3 after resolving another issue.

[2017-02-09 09:39] #1457 closed

[2017-02-09 19:06] #1127 closed

[2017-02-10 17:51] tmjd commented on #1510
Ok the first thing I feel I need to point out is that since you are using calico each container is receiving its own IP and doing port forwarding is not necessary since the containers can be reached directly.  If you are accessing the service from hosts that are not running calico node that those hosts will need to have the routes necessary to reach those IP addresses.

Second, I just asked the te

[2017-02-11 00:52] djosborne commented on #873
#1500 has been merged, which adds a new pluggable IP detection module. The old method is now referred to as "first-found". Additionally, a new "can-reach" method (using the initial design from the [above comment](https://github.com/projectcalico/calicoctl/issues/873#issuecomment-262063361))

Documentation on this new method is here: http://docs.projectcalico.org/master/reference/node/configuration

[2017-02-13 06:16] sunilganatra commented on #1510
Hi Erik Stidham,

is there any option to achieve following usecase :

let's say calico docker network name is : dev and created with option --subnet 196.168.1.0/24 (not portable public ip subnet)

1. host A (running calico-node and containerA.  containerA  is associated to network **dev**. containerA has been created with docker port forwarding option [-p 9443:9443].  containerA is running httpd s

[2017-02-13 21:20] tmjd commented on #1510
To do that here is a great explanation from one of my colleagues (thanks @djosborne):
1. Get container routes onto the other host. You can do this by:
a. Configuring calico to peer with the networking fabric so that the other hosts' L3 hop already knows how to route to the containers. This is philiosphically the "best" solution but not always one people can implement if they're not running in priv

[2017-02-14 07:05] sunilganatra commented on #1510
Thank you @tmjd and @djosborne. We will try bgp peering.
I have another question, if i want to reach container on some port(let's say 6767) through internet. how can i do that? If you have any example in any blog / doc please point me.

[2017-02-14 11:52] fasaxc opened #1518 "calico/node fails if there are active iptables rules that need plugins"
Felix runs `iptables-save` to dump the contents of iptables for inspection.  If another process, outside the container, has added a rule that requires a plugin that we don't have inside our container then `iptables-save` fails.

One example is the shaman monitor daemon used in Virtuozzo linux.

[2017-02-14 14:05] jaxxstorm commented on #1518
Any suggestions on how to rectify this? I've tried:
Mounting `/usr/lib64/xtables` into `/lib/xtables` on the container.
Made sure kernel modules are mounted, and can see the custom module with `lsmod`

It seems iptables isn't picking up the module, as when I run:

[code]

I can't see the module loaded.

[2017-02-14 22:58] caseydavenport opened #1519 "Felix logs not showing up"
Seen in the v2.1.0-rc3.  I don't see Felix logs showing up in calico/node.  Has something changed?

@fasaxc @tomdee

[code]

Here's the environment in the container:

[code]

I'd expect more logs with the above config.

[2017-02-14 23:57] tomdee commented on #1519
Hmmm, felix still seems to be writing logs
[code]

[2017-02-15 00:02] tomdee opened #1520 "docker run command printed by calicoctl node run is longer than it needs to be"
`calicoctl node run` prints a `docker run` command that's longer than it needs to be e.g.
```docker run --net=host --privileged --name=calico-node -d --restart=always -e NO_DEFAULT_POOLS= -e CALICO_LIBNETWORK_ENABLED=true -e CALICO_LIBNETWORK_IFPREFIX=cali -e ETCD_AUTHORITY=127.0.0.1:2379 -e ETCD_SCHEME=http -e ETCD_ENDPOINTS= -e NODENAME=xeon -e CALICO_NETWORKING_BACKEND=bird -v /var/log/calico:/

[2017-02-15 00:07] tomdee commented on #1519
I can see that `docker run --net=host --privileged --rm -e CALICO_DISABLE_FILE_LOGGING=true quay.io/calico/node:v1.1.0-rc4` doesn't produce logs from felix, but `docker run --net=host --privileged --rm -e CALICO_DISABLE_FILE_LOGGING=true quay.io/calico/node:v1.0.0` so I can confirm this is a regression

[2017-02-15 00:29] matthewdupre commented on #1520
Aren't a bunch of those values the default anyway?  We could just try and squelch defaulted environment variables.

[2017-02-15 01:09] #1519 closed

[2017-02-15 02:30] tmjd commented on #1510
This is the only document that talks about reaching a container externally but is light on content:
http://docs.projectcalico.org/master/usage/external-connectivity#inbound-connectivity

I created an issue around possibly adding some documentation around what you are requesting since there is not much available right now.  Here is the issue https://github.com/projectcalico/calico/issues/509

I'm g

[2017-02-15 02:30] #1510 closed

[2017-02-15 09:10] jaxxstorm commented on #1518
One option here is to have BIRD and conf running inside a container, then an env var to disable the calico-felix binary.

I opened an issue here to detail instructions on how to get this working as well: https://github.com/projectcalico/felix/issues/1340

[2017-02-15 09:33] fasaxc commented on #1518
Looks like @jaxxstorm was able to get his particular case working by running Felix outside the container: https://github.com/projectcalico/felix/issues/1340

[2017-02-15 10:02] fasaxc commented on #1519
Looks like you guys found the issue, note Felix also has a `FELIX_EARLYLOGSEVERITYSCREEN` env var, which controls the logging that happens to screen before the config is loaded.  It's useful for debugging config parsing problems and disabling early logging if you really really want felix not to log.

[2017-02-15 10:15] fasaxc commented on #1518
Even if we can't solve the root cause, we could have made this easier to diagnose by doing a sanity check of iptables in statup.go.  For example, just run `iptables-save` and bail out with an error if it fails?

[2017-02-15 10:15] fasaxc commented on #1518
Assigning to @heschlie for triage.

[2017-02-15 11:10] sunilganatra commented on #1510
@tmjd, thanks for providing links.  The link which you have given is pointing to BGP Peering (http://docs.projectcalico.org/master/usage/configuration/bgp) and i have already follow this.

I tried example given in topic "Configuring a global BGP peer", is this the right topic to follow?
If it is than, it is not working for me ? could you please point me to right example.

[2017-02-15 15:20] tmjd commented on #1510
Yes that is the right topic to follow. I went through the exercise of setting up BIRD manually for a 2 node docker with calico cluster and was able to get it working, eventually (I'm not familiar with BIRD).  I have since torn down that setup or I would give you the configs I used.

As mentioned before an easy/cheaty method is to run calico/node on the host you are wanting to have routes to the co

[2017-02-15 16:43] tmjd commented on #1069
There have been no updates on this issue for a while so I'm closing it.  If you believe this should still be open please feel free to reopen.

[2017-02-15 16:43] #1069 closed

[2017-02-15 20:33] robbrockbank commented on #1179
Additional info:
-  I tried to reproduce this locally and whilst I did hit the "Unexpected end of JSON input" error, things always seemed to recover once I'd started etcd again.  I was running etcd in a container on the same host as running calico/node container - perhaps related to that.

-  I tried swapping in the latest 0.12.1 confd from bacongobbler and seem to be hitting errors in our STs.  A

[2017-02-16 01:36] emptywee opened #1523 "Duplicate IP addresses assigned to pods"
Hello.

I am running a kubernetes cluster on CoreOS using Calico CNI and Flannel per coreos docs.
The cluster ends up with duplicate IPs assigned to pods. Easy to reproduce if I just reboot one of the worker nodes and then scale a deployment or create new pods that are assigned to the rebooted node.

But today also noticed that that happened even without rebooting the worker nodes. All I did was r

[2017-02-16 02:05] caseydavenport commented on #1523
@emptywee I'd be interested in seeing the kubelet + cni logs which capture the creation of a Pod which receives a duplicate IP address (best if you enable debug logging in the CNI config).

I'd also be interested in seeing:
- The CNI config you're using.
- The config you're passing to the kubelet and the way you're starting the kubelet (systemd? hyperkube?)

[2017-02-16 02:22] emptywee commented on #1523
@caseydavenport, absolutely! Thank you in advance for taking a look into it.

I haven't had debug enabled at the time I discovered this issue. But I can definitely enable it and reproduce it.

I'll provide configs first, then logs.

[code]

And kubelet service is the following:

[code]

Obviously using systemd unit. Hyperkube is used to start apiserver, scheduler, controller-manager and proxy comp

[2017-02-16 02:26] emptywee commented on #1523
I will also provide manifest for the calico daemon set:

[code]

[2017-02-16 05:41] emptywee commented on #1523
Ok, reproduced it by rebooting one of the worker nodes. Had calico node running with debug logging (at least that's what confd is saying).

So, after rebooting the worker node it brought up all previously running pods on it. One pod for some reason went into CrashLoopBackOff state.

Initially after reboot:
[code]

I deleted the pod that went into the crashloopbackoff state:
[code]
The new pod was

[2017-02-16 05:48] emptywee commented on #1523
Not sure if debug level got enabled, but that's what I have in the logs for the calico node container on the rebooted worker: https://gist.github.com/emptywee/7c3a60f198042764a83bd1548c2d75bd

And on top of that bird did not start for some reason, which did not happen before. Any thoughts?

[2017-02-16 06:19] emptywee commented on #1523
Let me know if you need more logs or configuration excerpts. Will be happy to provide.

[2017-02-16 06:29] emptywee commented on #1523
Found some logs from the journalctl regarding 10.161.112.3, which got "dupped":
[code]

There's more in the logs, I just grepped by the IP address. I saved that journal file so I can provide it in full if required.

[2017-02-16 07:07] reachlin opened #1524 "one of two calico nodes can't find peer"
I have installed 2-node calico network: 118 and 218, following [this page](http://docs.projectcalico.org/v2.0/getting-started/docker/installation/manual)
On 118, I can see:
[code]

But on 218:
[code]

Both calico nodes container logs have no errors.

[2017-02-16 08:02] reachlin commented on #1524
also, there's no route to calico network on the bad node 218:
[code]

[2017-02-16 17:29] caseydavenport commented on #1523
@emptywee I don't see anything obviously wrong with the config.

My _guess_ is that if you're seeing duplicate IP addresses then there is an issue with the `host-local` CNI IPAM plugin.

Logs might help. Also might be useful to monitor if the host-local plugin is actually reserving the duplicate IP addresses on disk - https://github.com/containernetworking/cni/tree/master/plugins/ipam/host-local#b

[2017-02-16 17:39] emptywee commented on #1523
@caseydavenport could you please elaborate a bit on that? Is host-local CNI IPAM plugin a part of Calico or something completely different? I don't remember enabling it explicitly. Does it have its own logs somewhere? I will go through the link you provided to make sure that I did everything I could from my end to resolve this issue. And I thank you for providing it.

Some guidance in further trou

[2017-02-16 17:40] fasaxc commented on #1209
@lwr20 is planning to manually re-test this for 2.1; adding the ST shouldn't block the release.

[2017-02-16 17:56] emptywee commented on #1523
@caseydavenport The only place I found with anything similar to /var/lib/cni is this:

[code]

The path kind of saying that it's being managed by calico ipam?

There's no default or any other directories there besides calico:

[code]

Each file with IP address in its name has a reference to a file in the flannel directory nearby (/var/lib/rkt/pods/run/089cd516-66be-4e02-8140-cf7395656e2c/stage1/ro

[2017-02-16 19:26] emptywee commented on #1523
Turns out that `ExecStartPre=-/usr/bin/rkt rm --uuid-file=/var/run/kubelet-pod.uuid` in the kubelet.service removes all that data stored in /var/lib/rkt/pods/run/<uuid>/... on every kubelet restart or node reboot.
Which may seem logical. However, after restarting kubelet and flanneld services, I notice that with the new uuid is generated (8d7b43ba-6e04-4f0a-9583-30feefadfab1 in this case) and whol

[2017-02-16 19:31] caseydavenport commented on #1523
In the config you've posted above, it's not actually Calico that is doing the IP allocation / reservation.

The host-local IPAM plugin is passed to the Calico CNI plugin by Flannel and reserves IP addresses for containers as files on disk.  It's the host-local IPAM plugin's responsibility to make sure it doesn't allocate duplicate IP addresses.

I was just about to post a similar thing - those all

[2017-02-16 19:41] emptywee commented on #1523
Thank you @caseydavenport
Trying to do it now and will report back. If it works, I will be really surprised as to why I am the only one who ran into this.  Although, there was a similar report back in the day ( https://github.com/coreos/kube-aws/issues/60 ) but in regards to the AWS installation.

[2017-02-16 19:43] emptywee commented on #1523
https://github.com/coreos/kube-aws/pull/64/files - haha, they'd done the same what I just did :)

[2017-02-16 19:55] emptywee commented on #1523
@caseydavenport it's a win! IP address information is retained throughout reboots and/or kubelet restarts and no more duplicate IP address assignments observed.

Thank you very much, I couldn't have done without your help and hints.

I am going to file an issue with the CoreOS support/documentation team.

The issue can be closed at this time :)

[2017-02-16 19:58] caseydavenport commented on #1523
Awesome - glad it's working :)

[2017-02-16 19:58] #1523 closed

[2017-02-16 20:50] tmjd commented on #1524
Hi @reachlin. Sorry but I'm going to start with the basics.  Have you verified that your nodes can reach each other? and they can both reach etcd?  You can test it by running `calicoctl get pool` or `curl http://<etcd_host_or_ip>:<port>/version`.

The next thing I would check are the confd, bird, and felix logs in `/var/log/calico`, in that order.
Please check those out and if you find anything in

[2017-02-16 22:34] tomdee commented on #1179
Moving out of milestone for now. We're struggling to repro and this doesn't seem to be a new issue. Still something we should fix though.

[2017-02-17 00:13] leodotcloud opened #1525 "PATH problems with calicoctl binary"
In the image `calico/ctl`, the binary is placed at the top level directory(`/`). But this directory is not in the PATH variable.

[code]

So when running a container with this image, I would have to prepend `./` when running the command.

[code]

Problem:
[code]

Expected:
[code]

Either the binary can be copied into `/usr/bin/calicoctl` or when building the docker image, the top level directory n

[2017-02-17 11:05] lwr20 opened #1526 "IPv6 pool can be configured with IPIP despite not being supported"
I can configure and IPv6 pool with IPIP tunneling, despite this not being supported (by the linux kernel).
[code]
We should reject this config (and document the limitation) since it doesn't work.

[2017-02-17 11:07] lwr20 commented on #1526
A user might try this for example to get IPv6 working on a cloud network which does not support ipv6 natively (e.g. GCE).

[2017-02-17 15:44] lwr20 opened #1527 "Environment var IP_AUTODETECT_METHOD inconsistently named"
From: http://docs.projectcalico.org/master/reference/calicoctl/commands/node/run
calicoctl node run takes a bunch of config flags: `--ip`, `--as`, `--ip-autodetection-method`.

From http://docs.projectcalico.org/master/reference/node/configuration
those can be passed into calico-node as env vars: `IP`, `AS` and ` IP_AUTODETECT_METHOD`

But the AUTODETECT_METHOD seems inconsistent - the others are

[2017-02-17 18:52] lwr20 opened #1528 "IP autodetection tests don't go far enough"
While the tests of interface autodetection in: https://github.com/projectcalico/calicoctl/blob/master/tests/st/calicoctl/test_autodetection.py are great, they don't actually test the logic of the selection algorithm.

For example, I think they wouldn't spot if (for example):
- the flag was being ignored and the first-found algorithm was being used for all the settings.
- the algorithm was always s

[2017-02-17 20:22] lwr20 opened #1530 "calico-node cyclically restarts if we try to allocate IPIP address from a disabled pool"
calico-node is cyclically restarting on my system.  Logs show:
[code]
My pools are:
[code]
Neither https://github.com/projectcalico/calicoctl/blob/master/calico_node/allocateipip/allocate_ipip_addr.go#L99-L103

nor https://github.com/projectcalico/calicoctl/blob/master/calico_node/allocateipip/allocate_ipip_addr.go#L133
seem to check that the pool is enabled before trying to allocate an IPIP IP fr

[2017-02-17 20:47] caseydavenport opened #1531 "rm: can't remove '/etc/service/enabled/bird/log': No such file or directory"
[code]

I'm assuming this is related to https://github.com/projectcalico/calicoctl/pull/1521

[2017-02-17 20:48] lwr20 commented on #1530
After enabling the pool, I continue to see the cyclic restart - this time with new logs:
[code]
Looks like the 'first available pool with free IPs' is IPv6 in this case - which upsets things...

[2017-02-17 20:50] caseydavenport commented on #1531
I think this is because we're trying to remove the log directories for some components which aren't actually enabled in calico/node.

[2017-02-17 20:52] lwr20 commented on #1530
Compare that second one with https://github.com/projectcalico/calicoctl/issues/1526

[2017-02-17 21:02] lwr20 commented on #1530
Removing IPIP from the IPv6 pools has allowed calico-node to start.

[2017-02-17 21:28] tmjd opened #1532 "Need different or alternate delimiter for IP_AUTODETECT_METHOD"
In Kuberenetes, when loading a config file with `kubectl apply -f <file>` and there is an equal in an environment variable the command returns with
[code]

Equal is currently a delimiter used in the value for several AUTODETECT methods, so it should probably be changed or an alternate allowed so `--validate=false` is not required.  I would vote for replacing it with something else since there hasn

[2017-02-17 21:39] robbrockbank opened #1533 "Disabling an IP pool (which has IPIP enabled) will not trigger an IPIP allocation update"
The confd template (tunl-ip.template) is used to trigger the IPIP tunnel IP address allocation when the list of IPIP pools changes.

However, if you disable an IPIP pool the list won't change and will not re-trigger an allocation.

Simple fix is to update the template to check if the pool is disabled.

This would only affect disabling an IPIP pool but keeping IPIP enabled (which is a bit of an odd

[2017-02-17 21:49] tmjd commented on #1532
Nope, I just can't spell value (vale).  It does say it right there too.  My bad

[2017-02-17 21:49] #1532 closed

[2017-02-17 22:14] tmjd opened #1534 "CALICO_IPIP_ENABLED should only enable on IPv4 pools"
IPIP is not valid on IPv6 pools. So the environment variable should only set it on default IPv4 pools.

[2017-02-20 06:49] reachlin commented on #1524
@tmjd yeah, i've checked basics and logs. Both hosts can ping each other and etcd is on host218. For logs, I couldn't find any error in all "current" file under /var/log/calico.

[code]

[2017-02-20 06:53] reachlin commented on #1524
[code]

[code]

[code]

[2017-02-20 14:25] lwr20 opened #1535 "BIRD fails to start"
I'm trying to run a self hosted k8s system (with etcd) with:
calico/ctl:v1.1.0-rc5
quay.io/calico/cni:v1.6.0

But:
[code]
And looking inside the container, `felix-startup-1.log` contains ERRORs:
[code]

Looking at the offending file:
[code]

Line 17 appears to be: `{{if eq $data.ipip_mode "cross-subnet"}}`

[2017-02-20 19:54] lwr20 opened #1536 "Default IPv6 pool gets NAT outgoing"
I run calico-node with:
`$ docker run --net=host --privileged --name=calico-node -d --restart=always -e IP_AUTODETECT_METHOD=first-found -e CALICO_LIBNETWORK_CREATE_PROFILES=true -e CALICO_LIBNETWORK_LABEL_ENDPOINTS=false -e CALICO_LIBNETWORK_IFPREFIX=cali -e NODENAME=drogon -e CALICO_NETWORKING_BACKEND=bird -e CALICO_IPV6POOL_CIDR=fd00::1:0/120 -e CALICO_LIBNETWORK_ENABLED=true -e IP6_AUTODETECT_

[2017-02-21 10:37] lwr20 opened #1537 "CALICO_IPV4POOL_CIDR will accept pools which calicoctl will not"
I run this, expecting it to fail because I've asked for a pool which is too small (10.0.0.0/32):
`$ docker run --net=host --privileged --name=calico-node -d --restart=always -e IP_AUTODETECT_METHOD=first-found -e CALICO_LIBNETWORK_CREATE_PROFILES=true -e CALICO_LIBNETWORK_LABEL_ENDPOINTS=false -e CALICO_LIBNETWORK_IFPREFIX=cali -e NODENAME=drogon -e CALICO_NETWORKING_BACKEND=bird -e CALICO_IPV4POO

[2017-02-21 14:48] tmjd commented on #1536
There are enough addresses but wouldn't the reason for having `nat-outgoing: true` so that the "router" doesn't have to be peered with the cluster for outgoing traffic to make it back to the container that it originated from?

[2017-02-21 15:07] lwr20 commented on #1536
Yep - makes sense.

@fasaxc says that in the 'real world' you ought to be assigning an IPv6 range to a host and then assigning IPs to containers on that host out of that range.  Apparently that works without peering.  Or they could just BGP peer with external routers.

But regardless of the 'good' ways to handle this, there will be those who cannot configure anything about their system, and for th

[2017-02-21 15:07] #1536 closed

[2017-02-21 16:36] lwr20 commented on #1537
Similarly for `CALICO_IPV6POOL_CIDR` accepting `fd00::/123`

[2017-02-21 20:04] lwr20 opened #1539 "CALICO_IPV4POOL_CIDR accepts IPv6 addresses"
I run calico-node with:
[code]
expecting it to fail, and it does not:
[code]
It seems to have created 2 default IPv6 pools in this case...

[2017-02-21 20:07] lwr20 commented on #1539
Seems that the reverse is also true - `CALICO_IPV6POOL_CIDR` accepts IPv4 addresses, and creates 2 default pools:
[code]
[code]

[2017-02-21 21:11] tomdee commented on #1463
ping @lwr20 can we close this?

[2017-02-22 11:21] lwr20 opened #1544 "Cannot specify both ipv4 and ipv6 pools in a pod annotation"
I tried the following deployment spec, expecting it to create pods with IPs from the specified IPv4 and IPv6 pools.  The pods got IPv4 addresses only.
[code]

If this is not supported, docs (https://github.com/projectcalico/calico/issues/493) should probably mention it.

[2017-02-22 15:02] lwr20 commented on #1463
@fasaxc Do we need a test for calicoctl?  Why is the Openstack rig one insufficient?

[2017-02-22 17:16] #1535 closed

[2017-02-22 19:09] tmjd opened #1545 "Calico node failing to start when trying to follow Docker guide on Coreos with v1.1.0-rc5"
Bringing up the docker vagrant environment and then trying to start calico/node is failing.  I switched the versions to v1.0.2 and was able to bring it up just fine, so there seems to be some issue in v1.1.0-rc5.  I'll try with the Ubuntu version of the directions and see if it works.

I was using the directions here: http://docs.projectcalico.org/master/getting-started/docker/installation/vagrant

[2017-02-22 19:35] gunjan5 commented on #1544
@lwr20 this should have worked. What was your CNI config? Need to make sure both `"assign_ipv4"` and `"assign_ipv6"` are set to `true`. If you had that config, did you see anything in the logs? or if you have this in a lab system I can check out?
I will try to reproduce this locally.

[2017-02-22 20:05] tmjd commented on #1545
Using the Ubuntu based vagrant file does not have this issue.

[2017-02-22 21:49] gunjan5 commented on #1544
I was able to deploy pods with the same annotations and they got both IPv4 and IPv6 address from the IP pools specified.
[code]
[code]
[code]

IPPools:
[code]

Logs:
[code]

[2017-02-22 22:10] tmjd commented on #1545
Not a calico issue.  A docker service restart fixed the issue.

[2017-02-22 22:10] #1545 closed

[2017-02-22 22:26] tmjd commented on #1524
Sorry @reachlin for the slow response but I've been trying to figure out what could be going on (among other things).  Do you perhaps have multiple network devices on your hosts?  If so then when you run `calicoctl node run` you may need to include the `--ip=<IP>` flag to specify the local IPv4 address for the node.  Please let me know if this helps.

[2017-02-22 23:49] djosborne commented on #1436
@robbrockbank Can we bump priority on this? I think it's an easy fix and would make a big impact on usability.

[2017-02-23 02:33] #1530 closed

[2017-02-23 02:33] #1533 closed

[2017-02-23 02:36] reachlin commented on #1524
@tmjd it's ok. i just stared to learn calico. i tried your parameter, but still no luck. i also checked trouble shooting, and disabled network manager on the bad host. it's an ubuntu 14.04.

[2017-02-23 03:12] tmjd commented on #1524
Just to be clear, you did try the `--ip=<IP>` on both nodes and the same for checking out the logs previously?  If it is not obvious, the logs are unique per node so they should be reviewed on both nodes.

[2017-02-23 03:28] reachlin commented on #1524
just on the bad host, let me try on the good one

[2017-02-23 03:49] reachlin commented on #1524
@tmjd thanks a lot, that resolved my problem, after i add --ip on the good node.

[2017-02-23 03:49] #1524 closed

[2017-02-23 03:53] reachlin commented on #1524
verified:

[code]

[code]

[2017-02-23 04:45] tmjd commented on #1524
Awesome :+1:

[2017-02-23 11:47] lwr20 commented on #1544
Yep - agree this works.  I wonder what was wrong with my system. :(

[2017-02-23 11:47] #1544 closed

[2017-02-23 23:10] #1526 closed

[2017-02-24 02:04] tmjd commented on #1539
I believe this is fixed via #1542, should I close this issue and the others like it since that is merged?

[2017-02-24 14:50] tmjd commented on #1537
Ready for retest with #1542 merged

[2017-02-24 19:52] tmjd commented on #1534
Did a test using Vagrant k8s and verified IPIP was enabled on just IPv4 pool and not IPv6.  Good to go.

[2017-02-24 19:52] #1534 closed

[2017-02-27 19:59] tmjd commented on #1113
@matthewdupre or @liljenstolpe is there any update on this?

[2017-02-27 21:20] tmjd commented on #1116
@dp-farm Are you still interested in this issue.  If so could you give some context on what you are trying to achieve?  In general we don't suggest adding multiple IP addresses to an interface, so I was wondering if I could help you achieve your goal another way.

[2017-02-27 21:39] dp-farm commented on #1116
@tmjd My idea is to use a user-space load-balancer (in container form) in calico environment.
In this deployment calico does the network isolation of applications by keeping instances of an application in one calico profile. So if 3 applications are launched (say with 2 instances each) then we have 3 calico profiles.

And LB is assigned a vserver IP from calico application profile itself.
[code]

[2017-02-27 23:13] tomdee commented on #1528
Discussed with Rob and given the amount of manual testing, we're OK to slip this till after v2.1

[2017-02-27 23:14] tomdee commented on #1531
@tmjd As discussed, handing this over to you. Gimme a call if you want to talk through it.

[2017-02-28 04:52] tmjd commented on #1531
@tomdee :+1: Take a look at #1547 and see if that works for you, if you were thinking something else then maybe we can talk tomorrow.
@caseydavenport I added you as a reviewer since you were the original reporter.

[2017-02-28 09:01] fasaxc commented on #1463
@lwr20

[2017-02-28 15:51] tmjd commented on #1116
@dp-farm I'm not sure that I totally understand what you are going for.  Are you adding the LB to the network/profile with the application it is load balancing?   If that is the case then could you instead put the LB in a new network/profile then just allow access to the appropriate application profile through profile configuration?

What is the purpose of giving the LB multiple vserver IPs?  Coul

[2017-02-28 17:29] #1531 closed

[2017-02-28 18:13] matthewdupre commented on #1296
Here's a use-case from fxposter on Slack: running Kubernetes and host endpoints in AWS.
- The pods need to be tunnelled, but it's undesirable to use nat-outgoing to the host endpoints, because then they can't properly enforce policy.

[2017-02-28 18:22] dp-farm commented on #1116
`Are you adding the LB to the network/profile with the application it is load balancing? >>
yes.`
in any case we need VIP per application whether VIP is from application profile or a VIP per profile is created.
Idea is that each VIP will be doing LB for all instances of application.

`Are the VIPs defined externally or could they come from a Calico IP pool?`
Both approaches are good as long as we

[2017-02-28 18:54] tmjd commented on #1116
If the IP being assigned from the IP pool can be used as the VIP then what is the need of assigning a second address?

[2017-02-28 19:15] dp-farm commented on #1116
what about multiple application hosted by LB instance? It is important that VIP can be identified as application. And thus when someone connects to a VIP related to particular app, appropriate application profile can be invoked and thus policy enforcement based on VIP (application).

all such VIPs (one VIP per application) will be hosted on single LB instance.

[2017-03-01 12:01] lwr20 opened #1550 "Leaking endpoints when node reboots"
I set up 6 pods using a deployment which got spread across my two nodes.   I setup a further pod, requesting a particular IP within a managed pool.  After the pods were up and happy, I shutdown one of the  nodes.

Once the node was down, `kubectl` showed state "Unknown" for the pods on the downed node and set up replacement pods on the remaining nodes, but failed to do so for the one which was req

[2017-03-01 15:32] tmjd commented on #1116
There are probably several solutions you could use/test out:
1. Run an LB instance for each application, these are light weight containers so I wouldn't think that would be too much of a stretch.  The LB could be added to the network/profile of the application or even its own profile with access to the application profile which would allow even tighter policy on the LB.
2. A colleague of mine said

[2017-03-01 15:41] neiljerram commented on #1116
@tmjd Yes, with Calico for OpenStack, http://docs.projectcalico.org/master/usage/openstack/service-ips describes how a VIP can be added to a Calico-networked VM.

[2017-03-01 15:55] lwr20 commented on #1539
Fix looks good in calico/node:v1.1.0-rc5-14-g1f5381f3

[2017-03-01 15:55] #1539 closed

[2017-03-01 15:56] lwr20 commented on #1537
Fix looks good in calico/node:v1.1.0-rc5-14-g1f5381f3

[2017-03-01 15:56] #1537 closed

[2017-03-01 16:18] tmjd commented on #1177
The `calicoctl node stop` command has been removed.  From the docs here http://docs.projectcalico.org/v2.0/usage/configuration/as-service the suggested method for stopping is `docker stop calico-node`.

I'm going to close this issue since the command has been removed.  @xh3b4sd I hope this works for you, if not feel free to reopen or create a new issue. Thanks.

[2017-03-01 16:18] #1177 closed

[2017-03-01 16:58] caseydavenport commented on #1550
@lwr20 What version of Kubernetes are you using?

It's tricky to say what the right fix is here.  Calico doesn't know if a node is gone for good or not (If it's rebooting, being taken down for good, or just lost connection to the API for a bit), so it's hard for Calico to make the call on whether or not endpoints and IPAM allocations should be cleaned up or not.

[2017-03-01 17:15] lwr20 commented on #1550
Agree that while the host is down that that is true (and k8s agrees - putting the pods in state 'unknown').  But after the host comes back up and k8s clears down the 'unknown' pods, I'd expect everything to be happy and in-sync again?

[2017-03-01 17:23] caseydavenport commented on #1550
At the moment, Kubernetes doesn't clear the "unknown pods".  There is a fix going into k8s v1.6 that might address this case though.

[2017-03-01 18:06] lwr20 commented on #1550
Ahhh.  OK.  I was using k8s v1.5.3.  So this (k8s not clearing the unknown pods) is a known k8s issue?

[2017-03-01 20:20] tmjd commented on #1201
There hasn't been any traffic on this for a while so I'm going to close this.

[2017-03-01 20:20] #1201 closed

[2017-03-01 20:34] tmjd commented on #1328
@javaboyuk, is this still an issue for you?  If so could you try it again with the v1.0.2 release or the release candidate that is out, v1.1.0-rc6.  Thanks

[2017-03-01 20:45] tmjd commented on #1340
@alfred-huangjian, is this still an issue for you? If it is, could you try again with the v1.0.2 release or the release candidate that is out, v1.1.0-rc6. Thanks

[2017-03-01 23:07] gunjan5 commented on #1422
So do we agree to just drop `ETCD_AUTHORITY` in v2.2? @caseydavenport @robbrockbank @djosborne

[2017-03-01 23:08] gunjan5 commented on #1415
ping @tomdee

[2017-03-01 23:12] gunjan5 commented on #1403
Duplicate of https://github.com/projectcalico/calicoctl/issues/1501

[2017-03-01 23:12] #1403 closed

[2017-03-01 23:40] gunjan5 commented on #1391
this doesn't seem to be the case anymore

[2017-03-01 23:40] #1391 closed

[2017-03-01 23:41] gunjan5 commented on #1391
[code]

[2017-03-02 03:07] caseydavenport commented on #1550
@lwr20 Here are some related issues / PRs:

- https://github.com/kubernetes/kubernetes/issues/14940
- https://github.com/kubernetes/kubernetes/pull/37036
- https://github.com/kubernetes/kubernetes/pull/35572

[2017-03-02 10:21] lwr20 commented on #1550
OK.  Agree it looks like a known k8s bug then.

For anyone else hitting this, if you wish to manually clean up calico endpoints, you can use `calicoctl get wep -o yaml > endpoints.yaml`, then *remove any endpoints from `endpoints.yaml` which you want to keep*.

Finally (once you've checked carefully that you want to get rid of all the endpoints left in `endpoints.yaml`) `calicoctl delete -f endpoi

[2017-03-02 15:28] dp-farm commented on #1116
thanks @tmjd @neiljerram
yes this OpenStack link describes the exact requirement this current enhancement is seeking in docker libnetwork context.

yes I understand that there are multiple ways an LB can be used in calico. This requirement is one of the natural ways LB can be used.

1. will be some wastage of container instances.
3. we wanted to use container form of LB.
4. DNS based LB has its ow

[2017-03-02 16:45] lwr20 commented on #1528
Really needs to be in v2.2.0 then to avoid increasing our testing backlog.

[2017-03-02 17:14] #1463 closed

[2017-03-02 22:45] #1362 closed

[2017-03-03 17:28] caseydavenport commented on #1550
@gunjan5 did some testing of this on v1.6 alpha.  I'll let him report his findings on which scenarios worked and which didn't.

[2017-03-03 18:24] gunjan5 commented on #1550
I tested a few scenarios with K8s 1.6 alpha, here is what I saw:
Two node cluster with master un-tainted (so pods can get scheduled on master as well)

1. Reboot docker daemon on node-02:
- `dockerd` reboot is very quick so k8s master doesn't notice it down (with the default config) so none of the pods actually get rescueduled.

2. Reboot node-02:
- similar to rebooting `dockerd` reboot happens qu

[2017-03-06 18:33] lwr20 opened #1554 "kubernetes e2e test failures"
Running the NetworkPolicy tests from https://github.com/djosborne/kubernetes/tree/e2e-network-policy
I'm finding that 2 of the tests consistently (5/5) fail when using the kubernetes dataplane driver:
[code]

[2017-03-06 20:53] robbrockbank opened #1555 "Allow configurable interface matching for first-found auto detection."
Based on user experience.

[2017-03-06 21:51] caseydavenport commented on #1555
@robbrockbank rather than continue to add more options here, why don't we support letting users pass in the interface regexes they want to skip / match?

I'm worried that we're going to keep adding these and it's going to break someone who is relying on us finding a, for example, "vtep" interface.  Also worried that it's not scalable for us to change the code every time someone else has another in

[2017-03-06 22:04] robbrockbank commented on #1555
Yup I'm for that too :-)

[2017-03-07 09:33] Huang-Wei commented on #1377
I'm afraid I got into exactly the same issue:

**Env:**

- Ubuntu 16.04
- Kubernetes release 1.4.5
- Calico 2.0.1 (calicoctl and calico/node v1.0.1)
- Calico CNI 1.5.5
- IPIP enabled

**Symptoms:**

The cluster has been running for a while, and today I found that one pod in one worker can't be pinged from any other workers/masters. And weird thing is another pod on the same worker could be pinged.

[2017-03-07 16:48] fasaxc commented on #1377
@Huang-Wei Can you ping the workload from its own host?

[2017-03-08 01:06] Huang-Wei commented on #1377
@fasaxc I can ping from its own host.

For the incoming packet (from ip `10.177.83.90` with tunl0 address `172.16.166.0`), with a ping (`ping -c1 172.16.224.157`) onto the good pod, it looks like this:

[code]

With a ping (`ping -c1 172.16.224.147`) onto the bad pod, it looks like this (no response):

[code]

And here is the routing table on destination node for `172.16.166.0`:

[code]

So (1) th

[2017-03-08 04:24] rmb938 opened #1558 "Failsafe Inbound ports not taking effection"
I am currently running calico-node 1.0.2.

Systemd File is bellow:

[code]

It seems like the env var FELIX_FAILSAFEINBOUNDHOSTPORTS is not taking effect as iptables is still only showing port 22.

[code]

Also is there an alternative to giving a list of ports? My nodes run a bunch of other services for service discovery, monitoring, ect.. and having to list every port of every service seems very

[2017-03-08 04:34] tmjd commented on #1558
I'm thinking this was maybe just a copy/paste error or something but I have to double check, your FELIX_FAILSAFEINBOUNDHOSTPORTS line does not end with a `\` which it probably needs to function correctly.

[2017-03-08 04:35] rmb938 commented on #1558
Ah yes, let me fix that and double check the issue.

[2017-03-08 04:49] rmb938 commented on #1558
Yup that was it... Sometimes a 2nd pair of eyes is helpful.

[2017-03-08 04:49] #1558 closed

[2017-03-08 06:11] Huang-Wei commented on #1377
@fasaxc I found it has nothing to do with IPIP. It's a issue in `calico-policy-controller`. I opened https://github.com/projectcalico/k8s-policy/issues/72 to track this.

Thanks for your help.

[2017-03-08 14:17] lwr20 commented on #1554
Possibly connected to https://github.com/projectcalico/felix/issues/1375

[2017-03-08 16:41] bradbehle opened #1559 "Can not set FailsafeInboundHostPorts to nothing using calicoctl"
I don't want any inbound ports open by default for my host endpoint policies.  I am following the following instructions:
http://docs.projectcalico.org/v2.0/getting-started/bare-metal/bare-metal#failsafe-rules
and
http://docs.projectcalico.org/v2.0/usage/configuration/

This shows how to change the ports that are open for failsafe inbound and outbound, but I haven't found a way to remove all the p

[2017-03-08 19:05] tmjd opened #1561 "Using calicoctl it should be possible to add additional IP addresses to a container"
It would be useful to be able to add multiple IP Addresses to a container using calicoctl with different policies applied.  Using Calico with OpenStack this is allowed and it existed previously but the functionality was dropped so it is obviously possible.

For reference, this support issue #1116 spawned creation of this feature request.

Since the feature previously existed and was dropped when t

[2017-03-08 19:10] tmjd commented on #1116
Since I don't believe what you are trying to do right now is possible with calicoctl I am going to close this issue.  I created #1561 to track a feature request to add it.  ProjectCalico does welcome PRs and the company I work for Tigera Inc. (contact@tigera.io) is available to develop the feature if it is critical for you.

[2017-03-08 19:10] #1116 closed

[2017-03-08 22:58] tmjd opened #1562 "IPIP Pools and Host Endpoints should allow WEP to HEP traffic without nat-outgoing"
See #1296 for history of this request.

As @matthewdupre said a fix would be to:

And a use case that @matthewdupre reported:

[2017-03-09 05:40] pnegahdar commented on #688
Any updates to this?

[2017-03-09 05:53] caseydavenport commented on #688
@pnegahdar this is now supported by all Calico components.  See the documentation for details: http://docs.projectcalico.org/v2.0/reference/node/configuration

[2017-03-09 05:58] pnegahdar commented on #688
We recently had a network plane outage after a single etcd (in the comma separated list) failed The cluster itself was healthy. I plan on taking a look at how the endpoints are used by calico, if you're already familiar any advice would  be great.

[2017-03-09 11:26] lwr20 commented on #1554
Seems to be fixed by projectcalico/felix#1375

[2017-03-09 11:26] #1554 closed

[2017-03-09 18:46] robbrockbank commented on #1259
I've prototyped this (by nabbing a bunch of the kubenetes code :-)

https://github.com/robbrockbank/calicoctl/tree/edit-command

Probably a good starting point.

[2017-03-10 20:40] tmjd commented on #1562
This should not be isolated to Host Endpoints but any host running calico/node and part of the Calico cluster.

[2017-03-13 16:45] ozdanborne opened #1566 "calicoctl launches a different image than the one created by `make calico/node`"
- `make calico/node` produces a docker image tagged as `calico/node`
- `make dist/calicoctl` produces a binary of calicoctl which launches `quay.io/calico/node`.

Therefore running `make dist/calicoctl calico/node; dist/calicoctl node run` will pull and run a separate calico/node image than the one just created.

I found this unintuitive. It looks like `make semaphore` compensates for this by reta

[2017-03-13 18:08] robbrockbank commented on #1566
Yup,

I originally checked in a change that tagged calico/node as quay.io/calico/node in #1490

But was asked to undo it in #1499 - however, after a little more discussion we decided it would bo ok to go in, so we probably just need to redo the original checkin.  It's a little odd to tag an image as quay.io when it isn't, but then this only affects local builds and (IMHO) I think it is perfectly r

[2017-03-13 21:36] djosborne commented on #1566
Yeah I think that if `calicoctl node run` launches `quay.io/calico/node`, then our build scripts should be using that same image name.

[2017-03-14 08:54] talset opened #1567 "custom kubeconfig for anonymous-auth false"
wrong calico repo, closed here

[2017-03-14 09:25] #1567 closed

[2017-03-15 15:12] fasaxc opened #1568 "IP in use warning should include detected hostname"
This was hit by a user on slack.  Example log:

[code]

An IP in use can be caused by dynamic IP allocation or by the current node's hostname changing.  We should log out the current node's hostname in the log to make it easier to spot the latter case.

[2017-03-16 07:03] tmjd commented on #1328
Closing for now. @javaboyuk if this is still an issue for you please reopen and if possible retest with a newer version and let us know the results.  Thanks

[2017-03-16 07:03] #1328 closed

[2017-03-16 07:05] tmjd commented on #1377
@Huang-Wei it sounds like you figured out the problem so I'm going to close this issue.  If I'm incorrect please feel free to reopen.

[2017-03-16 12:26] rikatz commented on #577
Guys, about this issue:

Did we have had any evolution in this?

Contiv does implements this using Openvswitch, but I think this is not the right way. Maybe setting this through 'tc command' is a good choice (and also, CoreOS have tc built in, as example!).

Thanks!

[2017-03-16 20:04] jlovejoy opened #1573 "contributor agreement text"
There doesn't not seem to be a way to review your contributor license agreement before actually submitting a pull request.  Can you provide a copy somewhere or link?  These pages just note that there is now a single CLA and how the process has changed, but also don't indicate what the new CLA is.
thanks!

[2017-03-16 20:47] tmjd commented on #1573
I believe this is what you are looking for.
https://cla-assistant.io/projectcalico/calicoctl

[2017-03-16 21:45] #1573 closed

[2017-03-19 23:52] caseydavenport commented on #688
@pnegahdar interesting, I would not expect a single node failure in a clustered etcd to cause Calico to stop working.

Any idea which component stopped working properly?  What were your symptoms?

[2017-03-21 19:50] MikaelCluseau commented on #1523
@emptywee you're not the only one anymore ;-) thanks for the solution!

[2017-03-21 20:11] tomdee commented on #1415
[code]
See how the default has the wrong image name,

[2017-03-21 20:13] tomdee commented on #1475
The kube policy controller is still written in Python so that one might be tricky. We also ship a bird binary in the node image, which is written in C.

[2017-03-21 20:18] tomdee commented on #1550
@gunjan5 @lwr20 So can this be closed?

[2017-03-21 20:19] tomdee commented on #1559
@fasaxc I think you added this feature - can you comment on this issue?

[2017-03-21 20:21] tomdee commented on #1561
I don't really understand the use case for having different policies applied from the same container. Having multiple interfaces in the container is pretty difficult for app developers to work with so something that we probably want to avoid.

[2017-03-21 21:03] tmjd commented on #1561
I guess the part about having different policies applied for the different IP Addresses could be dropped from this feature but I think it would be nice for the use case laid out in #1116.

If you could add multiple IP Addresses but the same policy was applied to all of them then each new app that the load balancer handled could require updating the one common policy.
Whereas if each IP Address add

[2017-03-22 23:27] djosborne opened #1575 "calico/node:v1.1 changes FELIX_DEFAULTENDPOINTTOHOSTACTION default from RETURN to DENY"
I've found that in both an openshift (k8s 1.4) a kubeadm cluster (k8s 1.5),  FELIX_DEFAULTENDPOINTTOHOSTACTION=ACCEPT must be explicitly set. Otherwise, pods started on the master are unable to speak to the Kubernetes API.

In both environments, this flag did not need to be specified when using calico/node:v1.0.0. It was only upon upgrading to calico/node:v1.1.0 that the value needed to be explici

[2017-03-22 23:32] caseydavenport commented on #1575
@djosborne I believe all of our k8s manifests set this field to ACCEPT.

What is your desired outcome for this issue?

[2017-03-23 01:22] djosborne commented on #1575
The Canal manifest currently does not. Sure, we should update it. But I also worry about users rolling their own Calico deployments themselves and may not include this variable, or users on other orchestrators where clean installation instructions are not provided. For example, Mesos users will hit this as well since Tasks in mesos make a network connection to the agent to register.

[2017-03-24 11:31] r0bj opened #1579 "how to configure nat-outgoing in calico 2.1?"
In calico 2.0 there was `ippool.yaml` to configure `nat-outgoing`:

[code]

How to configure `nat-outgoing` in calico 2.1?

There is no mention of NAT on doc site: http://docs.projectcalico.org/v2.1/reference/node/configuration

Thanks!

[2017-03-24 11:37] caseydavenport commented on #1579
@r0bj you can still configure nat-outgoing in the same way as v2.0.  It's an option on the IP Pool resource.

see the IP Pools documentation for more information: http://docs.projectcalico.org/v2.1/reference/calicoctl/resources/ippool

You can run `calicoctl get ippools -o wide` to see what pools you have configured.

Note that in v2.1, nat-outgoing is enabled by default on the default IPv4 Pool c

[2017-03-24 11:37] #1579 closed

[2017-03-24 11:57] r0bj commented on #1579
@caseydavenport thanks.
So `ippool.yaml` isn't configured in official `calico.yaml` http://docs.projectcalico.org/v2.1/getting-started/kubernetes/installation/hosted/calico.yaml
Instead of configuring `ippool.yaml` there is `CALICO_IPV4POOL_IPIP` env for `calico-node` DaemonSet.

So what is proper way of configuring `nat-outgoing`:
- via `ippool.yaml` as before
- via some other env passed to the `

[2017-03-24 13:06] caseydavenport opened #1580 "Support disabling NAT in default ip pool"
NATOutgoing is hard-coded to be enabled in the default pool: https://github.com/projectcalico/calicoctl/blob/master/calico_node/startup/startup.go#L564

This is the right default, but some users may want to disable it.

I think we should have a `CALICO_NAT_OUTGOING` variable or similar to control this.

@tmjd WDYT? Was there a reason we didn't add this in v2.1?

[2017-03-24 13:07] caseydavenport commented on #1579
@r0bj the `ippool.yaml` approach that was present in v2.0 will still work.  Alternatively, you can modify via `calicoctl`.

Looking at the code, it doesn't look like there is an environment variable that can be set to configure this (NAT outgoing is enabled by default).

I've raised https://github.com/projectcalico/calicoctl/issues/1580 to track making this configurable.

[2017-03-24 17:26] robbrockbank opened #1581 "Add IPIP testing for GoBGP"
Currently only testing IPIP features for Bird - we need to add similar for IPIP.

This requires updating the GoBGP daemon (or possibly even Felix) to handle adding/removing an IP address for the IPIP tunnel.

[2017-03-27 10:13] fasaxc commented on #1559
@bradbehle You need to set the value to the string "none";  empty string means "use the default". I'll update the docs.

[2017-03-27 12:39] fasaxc commented on #1076
@robbrockbank I don't think I'm a good person to track this but I know you've worked on BGP config recently, is this something that makes sense to add?

[2017-03-27 15:47] tmjd commented on #1580
No specific reason, I was just keeping the changes to the minimum I needed to do at the time.  I totally agree we should have it.

[2017-03-27 15:48] tmjd commented on #1580
There is a docs issue for this too https://github.com/projectcalico/calico/issues/516

[2017-03-27 16:29] djosborne commented on #1575
@fasaxc do you have any insight on why this changed?

[2017-03-27 17:24] lusche commented on #1575
+1 this problem should be addressed, I run into it as new user and struggle to find the solution

[2017-03-27 18:10] djosborne commented on #1575
Calico v2.1 switched from a python startup script using the python libcalico, to a golang one using the golang libcalico-go.

Seems this bit of code was left out of the libcalico-go port: https://github.com/projectcalico/libcalico/blob/2bf36b33dd5a754fec10d3d96dce16ec79ed2a39/calico_containers/pycalico/datastore.py#L406-L408

[2017-03-27 18:51] tmjd commented on #1377
I think I closed this prematurely before. It sounds like Mike has a work around for this issue though.  @fasaxc should we keep this issue open to track it or is there a more specific issue that can be created to track the root of the problem?

[2017-03-27 20:43] tmjd commented on #1340
I'm going to close this for now.  @alfred-huangjian if you can try this again with the latest release Calico v2.1 http://docs.projectcalico.org/v2.1/releases/ and the problem still persists please feel free to reopen this issue.  For other problems please open a new issue or feel free to reach out to the calico team at https://calicousers.slack.com.  Thanks.

[2017-03-27 20:43] #1340 closed

[2017-03-28 02:14] ishidawataru commented on #1581
As mentioned in #1553, currently `allocate-ipip-addr` is not called for gobgp backend.
I think we have two options to do the identical stuff for gobgp backend.

1. move what `allocate-ipip-addr` is doing into `felix`. Both BGP backend can use the same  mechanism for IPIP addressing. `felix` is already managing the IPIP device. It would be natural to let it also manage its IP address.

2. make [thi

[2017-03-28 05:49] caseydavenport commented on #1575
I think ACCEPT is the correct value for k8s, provided it can easily be changed (which it can).

Fixing the default in startup.go to be RETURN is still the right thing to do though.

I think there's already reference docs (which may need to be updated with more context).

[2017-03-28 08:43] fasaxc commented on #1575
I added some more context to the docs under this PR: https://github.com/projectcalico/calico/pull/639

[2017-03-28 08:56] fasaxc commented on #1377
Looking at Mike's logs fromt he worker node and comparing the confd log and the bird log, I see that BIRD comes up and connects to 100.127.0.2 and finishes syncing routes:
[code]

Then, I think, confd spots that IPIP is enabled:
[code]
and SIGHUP's bird to reconfigure it:
[code]
However, by that point, the "bad" route:
[code]
must already by in the routing table, and BIRD doesn't fix it when it ge

[2017-03-28 11:27] fasaxc opened #1582 "versions gave garbled output"
Sometimes, running `versions` gives garbled (interleaved) output:
[code]
Seen once in about 5 runs while testing the release I was working on.

[2017-03-28 18:19] robbrockbank commented on #1581
Hi @ishidawataru,

I'm not sure about moving in to Felix at the moment as I think I'd like to keep IP allocation separate from Felix.

To implement this properly as a library function would require watchers on the main Client API which we don't have yet although that is in the works.

I've a suggestion for a temporary workaround that would suffice for now:
-  Use confd as we are doing for Bird BGP

[2017-03-28 18:36] robbrockbank commented on #737
@tomdee I'm not sure how relevant this is now:

-  We don't do any networking stuff within calicoctl anymore
-  We do print out the `docker run` command for `calicoctl node run`

I don't think any of the other commands do anything that the user would care about.  It is possible to turn on low level logging too if required (but that's not really what this issue was about).

WDYT?  Perhaps close?

[2017-03-28 20:07] tomdee commented on #737
Yeah, I'm happy to close it.

[2017-03-28 20:07] #737 closed

[2017-03-28 20:56] robbrockbank commented on #1138
I believe this has been merged some time ago, and custom filters can now be applied writing to the relevant etcd location.

@adidenko :  Please re-open if you believe this is not the case.

Regarding doc's/calicoctl control of this - I think this is a broader question about how we handle additional BGP configuration, and is dependent on the BGP backend that we use.  Needs some thought - but I'll r

[2017-03-28 20:56] #1138 closed

[2017-03-28 21:09] robbrockbank commented on #1237
The text in the calico/node repo was from a very old README.

I've removed it and replaced it to just contain a link to the calico/node architecture.  I think that should suffice for now.

[2017-03-28 21:09] #1237 closed

[2017-03-28 21:19] robbrockbank commented on #1345
This might come out quite easily from something I'm doing for the libcalico-go refactor: ability to covert a key to an ordered set of strings - should make general key comparison easy.

[2017-03-28 21:23] lxpollitt commented on #1345
What does kubectl do in equivalent scenarios?

[2017-03-28 21:27] robbrockbank commented on #1364
All of the UTs (since they don't take long)
For the STs, I'd suggest:

- test_bgp_backends
- test_autodetection
- test_crud
- test_ipam
- test_labelling
- test_felix_gateway

That covers a bunch of different areas, but to some degree is a little arbitrary based on what I perceive to be areas that change more often that others.

[2017-03-28 21:39] robbrockbank commented on #1395
I know this is low priority, but good to work on some of these for each release and this was a recently added feature for which an ST is lacking.

[2017-03-28 21:47] robbrockbank commented on #1415
Also, we _may_ want to reinstate this PR:  https://github.com/projectcalico/calicoctl/pull/1490

We previously reverted this at the request of a contributor, but eventually he came round to the approach.

[2017-03-28 21:49] robbrockbank commented on #1429
This was fixed by #1430.

[2017-03-28 21:49] #1429 closed

[2017-03-28 21:54] robbrockbank commented on #1441
@tmjd  - is this what you're currently working on?

[2017-03-28 21:55] robbrockbank commented on #1445
@tmjd Can this be closed now?  I think so, but just want to check.

[2017-03-28 22:04] tmjd commented on #1441
Yes though I didn't know this issue existed.  I've been working 'under' https://github.com/projectcalico/calico/issues/563

[2017-03-28 22:06] caseydavenport commented on #1441
Yep, this is a duplicate

[2017-03-28 22:06] #1441 closed

[2017-03-28 22:11] tmjd commented on #1445
I was leaving this to cover adding a setting for NAT configuration on the default pool but #1580 exists.  So yep, time to close.

[2017-03-28 22:11] #1445 closed

[2017-03-29 02:29] ishidawataru commented on #1581
@robbrockbank Sure, I can do that for a temporary workaround.
What do you think about the long-term solution?
Once IPIP support is finished, I'd like to work on putting `calico-bgp-daemon` into `felix` and make them a single binary. In this case, the workaround doesn't fit and I think we need to choose from two options I listed above anyway.

[2017-03-29 03:28] libby commented on #1575
+1 this confused me for a day+ until I stumbled on a slack discussion that pointed this out.  For this kind of situation it would be nice to have the ability to pass arbitrary env vars to calicoctl for the docker calico-node container.

[2017-03-29 10:15] neiljerram opened #1586 "Default CIDR 192.168.0.0/16 clashes with home networks"
I just found that calicoctl STs fail when I run them at home, because my home network is on 192.168.1.0/24, and the STs allocate workload IPs from 192.168.0.0/16.  (Starting from 192.168.1.1, which is my router!)

Use of 192.168.0.0/16 is the usual default setup - and commonly advised - for home networking, so can we use a different default for calicoctl STs?

[2017-03-29 10:22] neiljerram commented on #1586
According to https://en.wikipedia.org/wiki/Private_network the possible choices are:

10.0.0.0 – 10.255.255.255
172.16.0.0 – 172.31.255.255
192.168.0.0 – 192.168.255.255

and I guess the problem here is that our office networks are likely to be using addresses from the 10 and 172 ranges.

How about 192.168.128.0/17 ?  Most home networks will be on factory defaults of 192.168.0 or 192.168.1, so tha

[2017-03-29 13:57] tmjd commented on #1575
@libby There is this work https://github.com/projectcalico/calicoctl/pull/1511 in progress.  Not arbitrary env vars but would work in this case.

[2017-03-29 16:19] robbrockbank commented on #1581
@ishidawataru :  Combining binaries is something that we are considering doing but not by including any routing solution within the Felix code base.  We'd probably do it as a separate calico/node binary that imports in Felix and GoBGP etc.  All of that is very early stages at the moment though.

[2017-03-29 18:36] #1575 closed

[2017-03-29 19:07] djosborne commented on #1575
Default has been restored in current master. Fix coming in `calico/node:v1.1.1` which will be included in Calico v2.1.2.

[2017-03-29 23:46] robbrockbank commented on #1076
I think it does make sense, and it seems to be something Bird supports - the key thing is translating that into a sensible configuration model (environments or stored in etcd) and then updating our Bird templates accordingly.

[2017-03-30 02:49] ishidawataru commented on #1581
@robbrockbank Ah, I got it. Thanks for the explanation.
I'll work on enabling confd with gobgp backend.

[2017-03-30 08:19] gunjan5 opened #1589 "Alpha GoBGP support for v2.2.0"
This issue is to track STs/QA and docs changes needed for GoBGP support in **v2.2.0**:

**STs**:
- https://github.com/projectcalico/calicoctl/issues/1581
- https://github.com/projectcalico/calicoctl/pull/1553
- https://github.com/projectcalico/calicoctl/pull/1359
- #1601
- Some resilience STs WIP by @frnkdny

**QA**:
- full mesh
- IPIP
- Route summarization
- playtime to see if the correct routes

[2017-03-30 15:58] robbrockbank opened #1590 "Can we speed up STs by creating a local DIND image with the uploaded tar files."
At the moment, a big chunk of the ST time is taken up by copying in a few tar files and loading in the docker images they contain.

Could we instead, as part of creating the tar file, create a new local DIND image that contains those images pre-loaded?

[2017-03-30 21:29] djosborne commented on #1575
Fix has been released in `calico/node:v1.1.1` and install instructions on docs.projectcalico.org/v2.1 have been updated to use it :shipit:

[2017-03-31 05:15] robbrockbank commented on #1590
@tomdee - does this sound like a sensible thing to do?  would be nice to get your opinion -- of course may be that we need to just do it and see how much time it saves.

[2017-03-31 08:33] #1559 closed

[2017-03-31 17:09] tmjd commented on #1296
Fixed by https://github.com/projectcalico/calico/issues/592

Tracked by https://github.com/projectcalico/calicoctl/issues/1562

I'm closing this issue since it is covered by the above.

[2017-03-31 17:09] #1296 closed

[2017-04-03 20:44] tomdee commented on #1377
Should this be relabelled as a bug?

[2017-04-03 20:46] tomdee commented on #1364
Who should own making this happen? @lwr20

[2017-04-03 20:51] tomdee commented on #1590
No, it's not possible. Chat to me sometime if you want to understand why it can't be done.

[2017-04-03 20:51] #1590 closed

[2017-04-04 13:05] r0bj opened #1592 "k8s 1.6: workload endpoint deleted though Pod is still running"
kubernetes: 1.6.1
calico: 2.1
docker: 1.12.6
OS: ubuntu 14.04

calico k8s config from http://docs.projectcalico.org/v2.1/getting-started/kubernetes/installation/hosted/calico.yaml:
https://gist.github.com/r0bj/26e77c1698bb9bfb0796924fba600a1f

After k8s node restart sometimes workload endpoints are not created properly. In the example below there is one pod which is broken in terms of network comm

[2017-04-04 14:06] lwr20 commented on #1364
I can do this if you like, but trouble is, as a tester, I'm inclined to think we should run them all every time - then there are no arguments over who broke it, and you don't need someone to keep an eye on them and figure out who gets the blame the next morning when no one else claims the breakage.

According to Semaphore, build and test only takes 38 minutes at present.

Another approach might be

[2017-04-04 14:08] fasaxc commented on #1377
@MikeSpreitzer, after some sleuthing, we think this issue was fixed by the following commit, which was shipped in calico/node v1.0.0: https://github.com/projectcalico/bird/commit/205aa82fa23d05702ae11b4fa7fb09135e9955e1.  Are you still seeing the issue in v1.0.0+?

[2017-04-04 14:41] gaelL commented on #1418
Hello,

I'm have the same kind of issue running a specific pod to run calicoctl.

I'm sharing `/var/run/calico` and `/var/run/bird` volumes but when I try to run a node status I have this result

[code]

Looking with `strace` it seems that calicoctl is trying to look if we have locally felix and backend (bird in my case) running locally.

[code]
Going inside my container again, I tried to create f

[2017-04-04 14:43] gaelL opened #1594 "calicoctl as a pod: Calico process is not running"
Following https://github.com/projectcalico/calicoctl/issues/1418

I have the same kind of issue running a specific pod to run calicoctl.

I'm sharing `/var/run/calico` and `/var/run/bird` volumes but when I try to run a node status I have this result

[code]

Looking with `strace` it seems that calicoctl trying to look if we have locally felix and backend (bird in my case) running locally.

[code]

[2017-04-04 15:53] caseydavenport commented on #1594
@gaelL looks like calicoctl does an explicit check for the bird or bird6 processes

https://github.com/projectcalico/calicoctl/blob/master/calicoctl/commands/node/status.go#L75

My guess is that you need to share a process namespace with the calicoctl Pod in order for that to work (and is why once you make the fake process it seems to work)

[2017-04-04 15:57] caseydavenport commented on #1592
@r0bj thanks for raising - looks like something is going wrong and the workload endpoint is being deleted.

I think it would be useful to have the full kubelet logs so we can see what is happening in CNI throughout the node reboot.

Could you enable debug logging in the Calico CNI plugin (`log_level: debug`) and verbose logging in the kubelet (`--v=5`) and then share those logs?

[2017-04-04 16:30] r0bj commented on #1592
@caseydavenport here you have:

calico-node logs:
https://gist.github.com/r0bj/ef15d5767b0ac3805f5c67bdbc610b8d

kubelet logs:
https://gist.github.com/r0bj/0a9ee90009a5721b38a6864ab62918bc

failed pod name: `traefik-ingress-controller-g6lsb`

[2017-04-04 21:08] caseydavenport commented on #1592
Investigating this now.  I have been able to reproduce on v1.6.

Not clear yet if this is a Calico bug, a Kubernetes bug, or somewhere in between, but marking as high priority.

[2017-04-05 16:27] caseydavenport commented on #1592
Latest investigation shows that the kubelet is calling the CNI plugin to teardown the Pod using the old container ID after the Pod has been restarted using a new container ID.

The Calico CNI plugin is respecting that call, and deleting the workloadendpoint for that Pod even though the Pod is still running.

This is because Calico uses the pod name/namespace as the identifying information for the

[2017-04-05 17:10] vinayk06 commented on #415
how to configure felix I am using calico/node:v1.1.0

[2017-04-05 17:45] djosborne opened #1596 "WAIT_FOR_DATASTORE broken for KDD with RBAC"
WAIT_FOR_DATASTORE [checks a felix config setting](https://github.com/projectcalico/calicoctl/blob/d67e6cedff97708f9de4b78b78d4895dd13a5e41/calico_node/startup/startup.go#L149) to see if it has a datastore connection.

In k8s, this field is backed by a third party resource, which isn't actually  created until later on. Attempting to access it before it is created, results in an anuathorized error

[2017-04-05 19:00] caseydavenport commented on #1596
Can we just treat an unauthorized response as "datastore is ready"?

Seems like if we get any response from the datastore at all, that means it's up and running.

CC @robbrockbank

[2017-04-06 09:10] gaelL commented on #1594
Is it the expected behavior ? I think it could be create that `calicoctl` tend to be a client command like `kubectl`  that you can run outside of your calico node.

Is this check is still required ? Maybe we could also have a `--standalone` to bypasse those checks if calicoctl work as expected without them ?

[2017-04-06 15:06] caseydavenport commented on #1594
@robbrockbank @gunjan5 do we really need to check if there is a BIRD process running?  Can it be a soft check instead?

Yeah, most of the `calicoctl` commands are capable of running from anywhere. It's just the `calicoctl node` commands that currently need to be run on the same node as `calico/node`.

[2017-04-06 23:13] #1336 closed

[2017-04-06 23:22] tomdee commented on #1210
This sounds like a really useful feature but is probably best fixed in the etcd client library. Did you try raising it upstream?

[2017-04-06 23:36] #1454 closed

[2017-04-07 00:45] caseydavenport opened #1597 "Don't populate IP / AS in policy-only mode"
When using policy-only mode (CALICO_NETWORKING_BACKEND=none) we don't need to populate the IP / AS on the Node resource.

[2017-04-07 07:35] fasaxc commented on #1242
Files this issue in Felix to cover improving our IPv6/module detection: https://github.com/projectcalico/felix/issues/1411

I think this issue should remain open to cover improving the tie between felix status and calico/node status.  Shouldn't calico/node fail if Felix is cyclicly crashing?  (Note, felix does restart from time to time to reload config so it's not 100% trivial.)

[2017-04-07 07:47] fasaxc commented on #443
@heschlie did you work to do a k8s back-end for confd include revving to v0.12?

[2017-04-07 08:16] lwr20 commented on #1550
If there's nothing we can do about this, feel free to close.  But do we need to document this case and explain how to clean up WEPs?

OTOH, if we can work round it, we probably should. @gunjan5 ?

[2017-04-07 14:32] heschlie commented on #443
I did not, it is on the list to do but it does not have a target yet.

[2017-04-07 15:01] fasaxc commented on #443
@heschlie OK if I assign this to you since it's on your list already?

[2017-04-08 14:01] xh3b4sd commented on #1210
I cannot completely comprehend your thinking. Why is this a feature for the etcd client? It is the calico node that has to be configured. Can you elaborate a bit more on your idea?

[2017-04-10 20:34] heschlie opened #1599 "IPIP Currently not working with KDD"
Currently calico/node calls directly into the Calico IPAM driver when IPIP is enabled to get an IP for the tunnel, this does not work with KDD as it calls into the host-local IPAM driver (Calico IPAM is still in the works for KDD)

[2017-04-10 20:47] caseydavenport commented on #1599
e.g.

[code]

[2017-04-10 20:53] caseydavenport commented on #1592
Fix being discussed in  projectcalico/cni-plugin#310

[2017-04-11 14:11] ishidawataru commented on #1589
@gunjan5 Please add https://github.com/projectcalico/calicoctl/pull/1601 to the list

[2017-04-11 14:34] tmjd commented on #1422
With dropping ETCD_AUTHORITY, does that also include dropping ETCD_SCHEME?  One does not seem useful without the other.  @gunjan5 @robbrockbank @djosborne

[2017-04-11 16:14] robbrockbank commented on #1422
@tmjd:  Yes it does include dropping ETCD_SCHEME.  The two are only useful together since the ETCD_ENDPOINTS combines both scheme and address.

[2017-04-11 20:37] tmjd commented on #1422
To clarify what is desired.  By 'drop' we mean to never display/show ETCD_AUTHORITY or ETCD_SCHEME.  If those are set they will be combined to create an ETCD_ENDPOINTS (assuming it is not already set).

[2017-04-11 20:44] robbrockbank commented on #1422
Yup that's correct.

It's just the output from `calicoctl node run` where we want to suppress showing ETC_AUTHORITY and ETCD_SCHEME.  This command displays the underlying docker command to execute if you want to add calico to your own init system etc - so we should display the preferred incantation.

We still need to handle ETCD_AUTHORITY and ETCD_SCHEME for back-compatibility with existing deploy

[2017-04-11 23:15] #1422 closed

[2017-04-11 23:50] kprabhak commented on #1113
@ThomasLohner Only just recently saw this issue. Have you considered running a route reflector outside of Calico (with a public IP, so calico nodes can reach it), so (using your original example) host2 and host3 are able to see routes to each other via their respective public IP's (or whatever openstack floating ip/magic natted ip gets assigned by the provider)?
Obviously, you'll want to give some

[2017-04-12 01:08] immesys commented on #1592
Is there a workaround? This is crippling me

[2017-04-12 23:22] sigxcpu76 commented on #1592
This completely breaks StatefulSets because they use the same namespace/name upon restart.
The new pod will have no network few tens of seconds after startup.

What is the actual reasoning to identify a pod by its ```name.namespace``` instead of a real unique ID?

[2017-04-12 23:28] immesys commented on #1592
Yeah my statefulset pods don't get networking when I delete them and they are recreated. I have to scale down to zero instances, wait and scale back up to fix it

[2017-04-13 16:44] #1123 closed

[2017-04-14 19:38] #1525 closed

[2017-04-17 16:28] #1599 closed

[2017-04-17 20:52] tmjd commented on #1594
I would think that the communication done with `/var/run/calico/bird.ctl` should be enough for checking on BIRD but I'm not sure what could replace the check for `calico-felix`.  If we can't check on these things there is not really a point to the `calicoctl node status` command though.

[2017-04-18 16:06] simonswine commented on #488
I would love to see better support (or documentation for custom MTU settings)

* To setup the value for the `veth`/`caliXX` devices, you have to use the field in the cni-config:
[code]
* The generic `tun0` device can be raised using an environment setting for felix/calico-node container:
[code]

This is based on AWS' 9001 MTU

[2017-04-18 17:03] ThomasLohner commented on #1113
@kprabhak I'm open to any suggestions ;-) We also need `--ipip` and `--nat-otigoing`. So if i understand correctly, i'd start calico-node on host2 and host3 listening on their private IPs and the route reflector would announce those private IPs to be accessible through their public counterparts? With this configuration Traffic would still use the direct link because public IPs are simply natted to

[2017-04-18 17:41] ozdanborne opened #1608 "quay master builds still showing v1.1.0-xxx"
calicoctl 1.1.1 has been out for awhile but our quay.io master builds are being tagged as v1.1.0-xxxxx.
- https://quay.io/repository/calico/ctl?tab=tags
- https://quay.io/repository/calico/node?tab=tags

Not only should we bump this to 1.1.1,  RELEASING.md should get updated with instructions on how to do it.

[2017-04-19 07:12] jdfless opened #1609 "AS number changes on first calicoctl node run"
calicoctl version 1.0.2 (calico/node version 1.0.2) - calico version 2.0.2

I am seeing my AS number magically change on a fresh build from 64512 to 64511 when I start running calico on my nodes when using a bgp global setup.

Steps to reproduce:
1.) start a routereflector image with bird at 0.2.1
2.) add a global bgp peer with the default AS number (which at this point is 64512)
3.) turn nodeToNo

[2017-04-19 09:57] fasaxc opened #1610 "Missing newline after error message"
When calicoctl (v1.1.2-rc1) returns an error, it's missing a new-line at the end (so it screws up the next terminal line):
[code]

[2017-04-19 12:11] fasaxc commented on #1610
Assigning to Tom for triage.

[2017-04-19 16:08] tmjd commented on #1609
Could you try the latest calico version 2.1.2 and see if this problem still exists?  I'm not sure if there has been anything that would fix this but it would be good to know if the latest still has this issue.  Thanks for the report.

[2017-04-20 00:01] robbrockbank opened #1611 "calico/node should not attempt IPAM operations when using KDD"

[2017-04-20 05:27] gunjan5 commented on #1594
As @caseydavenport said, you'll need to share PID namespace if you want to run any calicoctl node commands inside a container. Yes the process check is to make sure the processes are running before we connect to the socket to get the data and translate it, the main reason being we need to check which BGP daemon is running (BIRD or GoBGP) and we find that by checking which process is running so we

[2017-04-20 10:11] niusmallnan commented on #1579
In my setup,  use v2.1, nat-outgoing is enabled, but I still can not access external network.
I have tested v2.0 with same settings, it can work.

Does anyone have my problem?

[2017-04-20 14:31] r0bj opened #1613 "docker build inside container: connection timed out"
calico/node: v1.1.0
calico/cni: v1.6.1
kubernetes: 1.5.5
docker: 1.12.6
OS: ubuntu 14.04

Running `docker build` inside docker container failed because of connectivity issue.

Kubernetes workload:
[code]

Inside container (install docker and prepare Dockerfile):
[code]

Result:
[code]

Connectivity from container itself works fine:
[code]

Networking inside container looks ok:
[code]

[code]

`doc

[2017-04-20 16:16] #1611 closed

[2017-04-20 16:21] tmjd commented on #1594
I think there is understanding on what and why the mounts are needed at this time so I'm going to close this issue.  @gaelL if this solution is not satisfactory perhaps you could create a feature request of what you are looking for specifically with your suggested `--standalone` option and the use case for it.  Thanks.

[2017-04-20 16:21] #1594 closed

[2017-04-20 17:39] jdfless commented on #1609
I'm not able to check the latest version right now, but I did some more leg work to track down the issue. It looks like when we run "calicoctl config get asNumber" the first time to set the value for our global bgp peer (it returns 64512), that value is not yet set in etcd. Then when the calico nodes try and start, they use the older default value (64511) and set that in etcd.

I fixed this issue

[2017-04-20 19:47] kprabhak commented on #1113
Will avoid comment on adding static routes on routers, given the potential pitfalls with accidental routing loops ;)
Will share some notes on route reflector configuration in a few minutes.

[2017-04-20 20:18] kprabhak commented on #1113
Here's some notes (copying from my notes from an install I'd done a while ago) using the calico/bird route reflector (although you could use any route reflector, including just a standalone bird instance).

### 1. Deploy RR:
`docker run --privileged --net=host -d -e IP=<RR_IP> -e ETCD_AUTHORITY=<etcd:2379> -e ETCD_ENDPOINTS=https://etcd1:2379,https://etcd2:2379,https://etcd3:2379 -v /home/core/cer

[2017-04-20 22:34] tomdee commented on #1550
I think we should be closing this down for v2.2

[2017-04-20 22:39] tomdee commented on #1210
I was thinking that the etcd client library could be passed a file name for the certificates. If the certs change on disk then the client just starts using the new cert.

I'm not against the idea of it being handled from the calico side though - it's just not currently on our roadmap.

[2017-04-20 23:14] tomdee commented on #1608
They're tagged with v1.1.0-xxxx because v1.1.0 was tagged from master as per our process. v1.1.1 wasn't tagged from master but I'm getting pretty confused looking at it. I think we probably have a problem with releases that get tagged from the the vx.y.z-series branches which I'm not immediately sure about how we fix, maybe merging them to master.

But @djosborne I'm pretty confused about what you

[2017-04-20 23:15] tomdee commented on #1610
Assigning to the ether for fixing.

[2017-04-20 23:18] tomdee commented on #1613
IIUC the docker build inside the container is using the docker daemon on the host. Do you have internet connectivity on the host?

[2017-04-21 09:21] r0bj commented on #1613
@tomdee yes, internet connectivity is fine on the host, it's regular kubernetes node:
[code]

[2017-04-21 09:54] r0bj commented on #1613
More debugging shows that it's probably issue with NAT.

tcpdump on host:
[code]

So packets are leaving host with internal address `172.17.0.2` without NAT.

Since recomended method of running docker in kubernetes is to use parameters `--iptables=false --ip-masq=false` so there is no iptables rule similar to:

[code]

calico puts NAT rule only like this:
[code]

So there is no proper NAT rule for

[2017-04-21 15:21] tmjd commented on #1613
Are you explicitly setting `--iptables=false --ip-masq=false` for docker? Try running without those.
I was able to do what you were attempting using:
calico/node: v1.1.0
calico/cni: v1.6.1
kubernetes: 1.5.1
docker: 1.12.6
OS: Container Linux by CoreOS 1298.5.0

I could not find any specific setting of iptables or ip-masq for docker so that may be the problem.

[2017-04-21 16:05] r0bj commented on #1613
@tmjd you are right,  I've tested this without setting options `--iptables=false --ip-masq=false` and `docker build` from the container works as expected.
I just thought those docker daemon options would interfere with iptables rules managed by `kube-proxy` or `calico` itself.

Thanks a lot for help!

[2017-04-21 16:10] tmjd commented on #1613
That's great.  Thanks for reporting back.
The components have all figured out how to be friends and play nicely together. :grinning:

[2017-04-21 16:10] #1613 closed

[2017-04-24 09:16] fasaxc opened #1615 "Released calico/node image may be being rebuilt"
I noticed that the `calico/node:v1.1.2-rc2` image on DockerHub was “Last updated” 4 hours ago, but I thought we built it last week; is there a script mis-firing somewhere?

https://hub.docker.com/r/calico/node/tags/

Looks like master is currently at that tag; maybe our periodic rebuild of master is re-pushing that tag too?  (Or maybe it's just a quirk of the docker UI.)

[2017-04-24 14:29] tmjd commented on #1615
Right now master and v1.1.2-rc2 are at the same commit hash.  So maybe the rebuilding & pushing of master updates the 'Last updated' on the tag too.

[2017-04-24 18:19] tomdee commented on #1615
Yep, I can't see that there's an actual issues so closing (but thanks for raising @fasaxc). Let's reopen if we see a tag being rebuilt when it's not at the same hash commit as master.

[2017-04-24 18:19] #1615 closed

[2017-04-25 16:42] tomdee commented on #1592
Fixed with cni-plugin v1.7.0

[2017-04-25 16:42] #1592 closed

[2017-04-25 20:54] ozdanborne opened #1617 "Change working directory for calico/ctl container"
I find that I often run an interactive shell in the calico/ctl container, and manipulate yaml for calico objects. I have two gripes when I do this:

1. ~~Calicoctl is not in `$PATH`, so I must use the full path name~~
2. The default working directory for `calico/ctl` is `/`, so unless I `cd` into `$HOME` , When I save and manipulate yamls, I'm doing it in root alongside important files.

I think i

[2017-04-25 20:57] tmjd commented on #1617
Duplicate #1525 as far as adding it to path, fixed in #1606.

[2017-04-28 13:35] carlosmkb opened #1618 "Access to pod from external system in same VNET of Kubernetes cluster"
Hi,
I have a Kubernetes cluster with calico and created an ippool with pods address CIDR.
With this configuration I can access to external systems from the pods, but cannot access directly to pods (10.244.x.x) from an external system in the same vnet.
There is any solution for this requirement?

[2017-04-28 13:39] tmjd commented on #1618
This might help http://docs.projectcalico.org/v2.1/usage/external-connectivity#inbound-connectivity

[2017-04-28 15:03] tmjd commented on #1618
Closing in favor of https://github.com/projectcalico/calico/issues/730

[2017-04-28 15:03] #1618 closed

[2017-05-01 16:17] tmjd commented on #1609
@jdfless I'm glad you found a work around for this and thank your for reporting what you did.
I'm going to flag this as a bug because we might want to check on this behavior and if nothing else document it.

[2017-05-02 06:15] marviniter opened #1619 "Calico work with kubernetes sometimes assign ip errors"
Restart the docker service, pod state is running, but ip is None
[code]
Who can help me?

[2017-05-02 06:36] gunjan5 commented on #1619
@marviniter so the container doesn't restart itself seems like. Calico CNI/Calico IPAM only get called when the container starts/terminates.
Can you attach to the nginx container and do `ip addr` in there to see if the IP is still there?
Do you see any errors in the kubelet logs?

[2017-05-02 06:40] marviniter commented on #1619
[code]
@gunjan5
i think when kill the pause container,the pod ip is None

[2017-05-02 06:45] marviniter commented on #1619
when i kill the pause pod
[code]

the kubelet logs
[code]

kubectl get pod -o wide
[code]
@gunjan5

[2017-05-02 07:12] gunjan5 commented on #1619
@marviniter what is your k8s version? Also I'm guessing Calico CNI is 1.7.0 or 1.8.0? (based on the NetConfig)

I see the following issues where k8s checks pod status too early:
https://github.com/kubernetes/kubernetes/issues/25281
https://github.com/kubernetes/kubernetes/issues/42735

[2017-05-02 07:37] marviniter commented on #1619
[code]
[code]
@gunjan5

[2017-05-02 07:43] gunjan5 commented on #1619
@marviniter what did you use to setup your k8s cluster? Have you tried this with k8s version 1.6.3? I still see that issue open in k8s repo, but I haven't seen it much lately with newer versions of k8s

[2017-05-02 07:46] marviniter commented on #1619
I also see the same problem with kubernetes version 1.6.3, when kill the pause container.
@gunjan5

[2017-05-04 02:57] ozdanborne opened #1624 "can't modify loglevel for startup.go"
startup.go logs beautiful debug messages that can never see the light of day because loglevel is hardcoded as info. :cry:

[2017-05-04 03:02] frnkdny opened #1625 "ASN (unknown) for KDD w/ routing v1"
Setup is using calico-k8s-cluster on k8s 1.5.3.

kubectl apply -f http://docs.projectcalico.org/v2.2/getting-started/kubernetes/installation/hosted/kubernetes-datastore/calico.yaml

export DATASTORE_TYPE=kubernetes
export KUBECONFIG=~/.kube/config

[code]

Below is more context for the state of the cluster.

calicoctl node status
[code]
calicoctl get wep -o yaml
[code]
calicoctl get ippool -o yaml

[2017-05-04 16:22] #1436 closed

[2017-05-04 17:32] caseydavenport commented on #1625
Given that all the peers are established, this feels like a cosmetic issue rather than one that impacts function.

We should definitely fix in 2.2, but should hopefully help narrow down where the issue is.  I'm guessing it's related to how calicoctl merges the per-node AS and the global one.

[2017-05-04 18:32] robbrockbank opened #1627 "Useful if failed STs provided additional diags (iptables-save and ipset save)"
We are hitting intermittent ST failure due to Felix hitting kernel update issues with ipset.  Really need Felix to output additional diags at the time, but for now it would be useful for our ST framework to output iptables-save and ipset save for failed STs.

[2017-05-04 18:34] robbrockbank opened #1628 "STs failing due to error logs cause multiple follow-on failures due to tear-down incompletion"
When we assert due to error logs in the ST framework, we don't perform the usual tidy of docker networks and containers.  This results in a bunch of follow on errors with other tests - making it difficult to spot real issues.

[2017-05-04 19:54] robbrockbank opened #1630 "Intermittent failures in the IPIP STs."
Current suspicion is that etcd is in the same subnet as the IPIP IP pool and therefore routing to etcd will be out of whack (attempt to go over tunnel)

[2017-05-04 20:02] djosborne opened #1631 "kdd doesn't aggregate routes"
kdd is not aggregating routes, and is broadcasting a /32 route for each pod:

[code]

CC: @heschlie @caseydavenport

[2017-05-04 21:29] robbrockbank opened #1632 "System test cleanup / log checking is not quite correct for certain tests"
The DockerHost has a cleanup() method which also:
-  Checks logs
-  Outputs extra diags

However, this is only useful when the DockerHost is used as a context manager and we output errors as soon as a test fails.
For some tests (e.g. test_default_pools) we don't use the DockerHost as a context manager and thus the cleanup and the extra diags/checks only get performed at the end of a series of test

[2017-05-04 22:41] #1627 closed

[2017-05-04 22:41] #1628 closed

[2017-05-05 15:55] ozdanborne opened #1633 "Unify Logging Story"
I have noticed a few things missing from Calico's logging story:

- Log messages don't include component identifier (from calico/node, from calico/cni, etc.)
- Name for "LOG_LEVEL" parameter of each component is different. e.g.
   - `calicoctl -l debug`
   - `log_level` for cni-plugin
   - `LogSeveritySys` or `FELIX_LOG_SEVERITY_SYS` for Felix
- Difficult to configure the log level for some compon

[2017-05-05 15:55] r0bj opened #1634 "k8s 1.6: Unexpected command output Device "eth0" does not exist."
calico/node: v1.1.3
calico/cni: v1.8.0
kubernetes: 1.6.2
docker: 1.12.6
OS: ubuntu 14.04

Sometimes after node reboot some pods are in `CrashLoopBackOff` state:
[code]

Inside container logs indicates that there is no communication possible:
[code]

Kubelet logs messages:
[code]

Kubelet full logs:
https://gist.github.com/r0bj/3fecca99930db96250671b7443218d4e

calico-node full logs:
https://gist.g

[2017-05-05 16:12] caseydavenport commented on #1633
I thought this was configurable through calicoctl, and in some cases environment variables.

[2017-05-05 17:46] djosborne commented on #1625
This "works as designed". confd phase 1 has hardcoded the global ASN. So calicoctl is unable to find it in etcd.

[2017-05-05 18:37] caseydavenport commented on #1625
Thanks for investigating @djosborne.

I think the fix for this will be to support GlobalBGP config in the KDD and removing the hard-coded value in confd, instead reading from the k8s api.

[2017-05-05 18:48] caseydavenport commented on #1634
Are you able to confirm whether or not `eth0` is actually present inside the container?

Looking at the kubelet log, it seems it's missing the CNI create/ADD logs for that Pod.

I see this about a third of the way through the log:

[code]

Those logs seem to indicate that the kubelet is telling CNI to tear down the Pod, and that Calico isn't aware of the Pod in the datastore (note that it claims t

[2017-05-05 19:06] r0bj commented on #1634
@caseydavenport  there is no "eth0" interface in the pod:
[code]
[code]
[code]

There are kubelet logs with more context:
https://gist.github.com/r0bj/a61304a4cf23449ca40fde3221ce021f

[2017-05-05 23:46] robbrockbank opened #1635 "Error in calicoctl.cfg file syntax does not indicate that the error is in that file."
[code]

[2017-05-06 03:58] xiaochunyn commented on #1222
@kharisj Disabling SELinux by running "setenforce 0" is required in order to allow containers to access the host filesystem.

[2017-05-08 17:33] robbrockbank commented on #1635
Error message should indicate that the syntax of the calicoctl.cfg file is invalid.

e.g.

[code]

[2017-05-09 16:18] #1631 closed

[2017-05-09 21:45] svend opened #1639 "Unable to connect to Kubernetes host IP from container on that host"
We have two Kubernetes clusters. In cluster A, containers can ping their host. In cluster B, a ping between a container and its host times out. On both clusters, containers can ping hosts they are not running on on.

Cluster A is running quay.io/calico/node:v1.0.2 and calico/cni:v1.5.5.
Cluster B is running  quay.io/calico/node:v1.1.1 and calico/cni:v1.6.1.
Other than that, the daemonSets and cali

[2017-05-09 22:04] tmjd commented on #1639
Could you attach or link the manifest you are using?  There were some changes between Calico v2.0 and v2.1 around how the default IP Pools are created.  I feel like both scenarios should produce results where containers can ping their hosts but it might help.

[2017-05-09 22:10] svend commented on #1639
Here are the daemonset and configmap manifests. Thanks!

[calico-daemonset](https://gist.github.com/svend/b7ba40eb8b18d59f3f666dc10ba3feec)
[calico-configmap](https://gist.github.com/svend/efb22e7f73481299a6a816b12fb26bf2)

[2017-05-09 22:18] tmjd commented on #1639
Could you do a `calicoctl get pool -o yaml` for both clusters and attach that output? Thanks

[2017-05-09 22:21] svend commented on #1639
I get the same results for cluster A and B.

[code]

[2017-05-10 13:41] VincentS commented on #1580
Should it be possible to be able to differentiate between ipv4 and ipv6 pool? Meaning  that we have an CALICO_NAT_OUTGOING_IPV6 and CALICO_NAT_OUTGOING_IPV4 variable or is one CALICO_NAT_OUTGOING for both pools enough?

[2017-05-10 14:34] tmjd commented on #1580
Yes I would imagine NAT_OUTGOING should have an IPV4 and IPV6 variable like the other CALICO_IPV*POOL_* variables for configuring default pools.  @caseydavenport is there any reason you would expect otherwise?

[2017-05-10 15:05] VincentS commented on #1580
My current pull request only introduces the parameter CALICO_NAT_OUTGOING which sets `nat-outgoing`for both IPv4 and IPv6 default IPPools.

[2017-05-10 15:12] tmjd commented on #1639
Some questions before asking for a lot of information below.
- Have you verified that `kubectl --context clusterB get po busybox -o 'jsonpath={.spec.nodeName}'` is returning what you expect and that also that name it resolves to is what you expect?
- On cluster B do multiple hosts and pods on them show the same behavior or is this only on one host?
- Does pod to pod traffic work?
- Are you running

[2017-05-10 18:15] svend commented on #1639
Thanks for your help!

The ping output shows the expected host's IP.

I ran the following daemonset on both clusters to test ping to the local host by IP address.

<details><summary>ping-test-daemonset.yaml</summary>

[code]
</details>

On clusterA, all pods could ping the host's IP. On clusterB, the pings timed out for all pods. The outputs are below, which contain the host IPs.

<details><summar

[2017-05-10 18:21] tmjd commented on #1639
Would it be much trouble to update your cluster B to use calico/node:v1.1.3?  It is the most recent version in the v2.1 Calico release. I don't see any fixed issue that would cause what you are seeing but if it is easy then it wouldn't hurt.

[2017-05-10 18:57] tmjd commented on #1639
Just FYI I brought up a cluster with the config map, calico node manifest, and policy-controller manifest you've attached and I was able to ping between my hosts and test pod (both ways).  I did change out the calico-policy-controller, because I couldn't access the one in your manifest, for the one at quay.io/calico/kube-policy-controller:v0.5.1.

[2017-05-10 20:59] svend commented on #1639
This returns Established for both clusters:

<details><summary>calicoctl node status clusterA</summary>

[code]
</details>

<details><summary>calicoctl node status clusterB</summary>

[code]
</details>

<details><summary>ip a clusterA</summary>

[code]
</details>

<details><summary>ip r clusterA</summary>

[code]
</details>

<details><summary>ip a clusterB</summary>

[code]
</details>

<details><s

[2017-05-10 21:08] svend commented on #1639
The `iptables-save -c` output for both clusters after zeroing the counters is here:

https://gist.github.com/svend/d8d7993881ba29226613d0682eca3f53

[2017-05-10 21:09] svend commented on #1639
I will create a new cluster using v1.1.3 and try to reproduce the problem. (The current clusters are in production use.)

[2017-05-10 21:21] tmjd commented on #1639
Are you certain that you are running calico/node:v1.1.1 on your cluster B? The rule that is dropping your packets is `[5:420] -A cali-wl-to-host -m comment --comment "cali:3xIeqPkH_U4Pk0Cf" -m comment --comment "Configured DefaultEndpointToHostAction" -j DROP` and there was a fix that went into v1.1.1 that restored the default of Allow for the DefaultEndpointToHostAction.  Could you double check t

[2017-05-10 22:32] svend commented on #1639
I had the version wrong. Cluster B is running calico/node:v1.1.0, not v1.1.1. Sorry about that.

I will see if v1.1.1 fixes the issue.

[2017-05-11 21:02] svend commented on #1639
A new cluster running calico/node:v1.1.3 does not exhibit the behavior. Thanks for the help troubleshooting, and pointing me to the version with the fix!

[2017-05-11 21:02] #1639 closed

[2017-05-12 21:21] tomdee commented on #1630
@robbrockbank Can this be closed now?

[2017-05-12 22:50] frankgreco commented on #949
Could I get an explanation as to why this issue was closed? Was a native networking solution being implemented that didn't force you down the asc-engine path

[2017-05-15 15:02] r0bj commented on #1634
The same result with:
calico/node: v1.2.0
calico/cni: v1.8.3

Pod name `fluentd-node-agent-7p250`

kubelet log:
https://gist.github.com/r0bj/e3b4dec69610f9bf4a7885b2eaeaf0c3

calico-node log:
https://gist.github.com/r0bj/b91c3568e3c339e7b54abbc6ea1ba56c

In the above pod there is also no `eth0` interface.

[2017-05-17 04:46] caseydavenport commented on #1634
@r0bj from what I can tell those logs still don't include the CNI create for the fluentd Pod.

Can you confirm that the fluentd Pod was started using the Calico CNI plugin (and not, for example, kubenet or another CNI plugin) and that the CNI SetUp command was successful?

[2017-05-17 05:00] caseydavenport commented on #577
Closing in favor of https://github.com/projectcalico/calico/issues/797

[2017-05-17 05:00] #577 closed

[2017-05-17 20:49] caseydavenport commented on #1448
@lwr20 can you explain how you set the label "test: True" on the endpoint? Was it through calicoctl? Or an orchestrator?

[2017-05-17 20:55] caseydavenport commented on #1437
Closing for now, can reopen if we find issues that affect us.

[2017-05-17 20:55] #1437 closed

[2017-05-17 20:58] caseydavenport commented on #1399
@gunjan5 If this is easy to fix, we should just fix it.  If it's not, then let's close this issue for now as `wontfix`.

[2017-05-17 21:02] caseydavenport commented on #560
Closing as wont fix for now, feel free to re-open if someone cares to implement this.

[2017-05-17 21:02] #560 closed

[2017-05-17 21:03] #1335 closed

[2017-05-17 21:04] caseydavenport commented on #1335
Leaving as is in case anyone is relying on the format - it's just cosmetic.

[2017-05-18 15:09] r0bj commented on #1634
@caseydavenport it was probably effect of bumpy migration from k8s 1.5 to 1.6. I can't reproduce it anymore so let's close it.
Thanks for help.

[2017-05-18 15:09] #1634 closed

[2017-05-18 22:18] gunjan5 commented on #905
don't use this module anymore. See issue #1444 for the rest of them

[2017-05-18 22:18] #905 closed

[2017-05-19 09:00] #1619 closed

[2017-05-23 20:37] ozdanborne commented on #949
This is the top search result when googling "Calico azure". We should do a better job of explaining current azure support here.

[2017-05-23 21:22] robbrockbank commented on #1581
Fixed by #1601

[2017-05-23 21:22] #1581 closed

[2017-05-23 21:23] robbrockbank commented on #1179
Fixed by #1642

[2017-05-23 21:23] robbrockbank commented on #443
Fixed by #1642

[2017-05-23 21:27] caseydavenport commented on #949
@ozdanborne sounds like we might need a doc [like this one](http://docs.projectcalico.org/v2.2/reference/public-cloud/aws) but for Azure.

[2017-05-24 21:47] #1610 closed

[2017-05-27 17:03] caseydavenport commented on #1625
Assigned to @robbrockbank as he's working on the next phase of this.

[2017-05-28 21:03] caseydavenport commented on #1377
Closing since we think this is fixed in recent releases.

[2017-05-28 21:03] #1377 closed

[2017-05-28 21:10] caseydavenport commented on #985
I think this is fixed in the [latest instructions for running Calico with rkt](http://docs.projectcalico.org/v2.2/getting-started/rkt/installation/manual#run-caliconode-and-configure-the-node)

[2017-05-28 21:10] #985 closed

[2017-05-28 23:16] caseydavenport commented on #949
I think the status of this is:
- You can use Calico on Azure in policy-only mode for enforcing policy on top of Azure networking.
- Calico is integrated into acs-engine today.
- We're missing some documentation, which is covered here: https://github.com/projectcalico/calico/issues/220

[2017-05-28 23:16] #949 closed

[2017-05-30 20:56] tmjd commented on #1113
Does anyone object to closing this issue?

[2017-05-31 19:19] spirrello opened #1652 "Calico Doesn't Honor IP Subnet Specified in Kubernetes Annotations"
When I deploy an application in Kubernetes and specify the subnet with the annotations the Pods do not show up on the expected subnet.

## Expected Behavior
For the Pods to be deployed on the requested network.

## Current Behavior
Calico deploys the pods on the first ippool configured.  The logs below indicate that it does not receive the subnet requested.

[code]

## Steps to Reproduce (for bugs

[2017-05-31 20:33] gunjan5 commented on #1652
CNI plugin version seems to be `v1.2.1`, Calico CNI didn't have IP Pool annotation support in that version. For IPPool annotation support, upgrade to version `v1.6.0` or higher https://github.com/projectcalico/cni-plugin/releases

[2017-05-31 20:36] spirrello commented on #1652
Appollogies, my CNI version is the following:
v1.8.3

[2017-06-01 05:17] salamaniibm opened #1653 "How to resolve issue with creating network"
Hi,

I create the docker network using command:

`$docker network create --driver calico --ipam-driver calico-ipam net1`
resulted in following error:
`Error response from daemon: failed to update store for object type *libnetwork.endpointCnt: client: etcd cluster is unavailable or misconfigured`

Environment:
* etcd cluster as follow:
e7ebfe94fbe7ce5: name=etcd0 peerURLs=http://10.20.39.2:2380 cli

[2017-06-01 06:08] gunjan5 commented on #1652
@spirrello I don't see anything obviously wrong with your config. Can you change the CNI log level from `"info"` to `"debug"` and try spinning the pod? I'd like to see the debug logs to see if we are receiving the annotation info from k8s API server.

[2017-06-01 12:06] spirrello commented on #1652
Will do.

[2017-06-01 12:52] spirrello commented on #1652
Here are the logs after making the changes.

-- Logs begin at Mon 2017-05-22 14:05:54 EDT. --
Jun 01 08:39:01 acme-lpk8sn01 kubelet[13328]: I0601 08:39:01.900190   13328 kubelet.go:1781] SyncLoop (ADD, "api"): "nginx01-4177904196-t46k5_dev(4a128125-46c7-11e7-b620-90b8d016bc81)"
Jun 01 08:39:01 acme-lpk8sn01 kubelet[13328]: I0601 08:39:01.939779   13328 kubelet.go:1781] SyncLoop (ADD, "api"): "ngin

[2017-06-01 13:14] spirrello commented on #1652
Tried something else.  I added the annotations spec.template.metadata.annotations and this worked!  It would be nice if Calico's documentation included an example of this given that K8s will allow you to add annotations beneath metadata or beneath spec.template.metadata.

apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  name: nginx01
  namespace: dev
spec:
  replicas: 10 # tells deploym

[2017-06-01 13:14] #1652 closed

[2017-06-01 15:28] caseydavenport commented on #1652
@tmjd ^

[2017-06-02 01:28] tmjd commented on #1653
What is the ETCD_ENDPOINT you specified for calico/node? I'm wondering if maybe you passed it 'etcd://10.20.36.7:2379' instead of 'http://10.20.36.7:2379'.

If that doesn't help then you should take a look at the logs from the calico/node container and see if those help identify the problem.

[2017-06-05 17:02] tomdee opened #1655 "Allow calico/node container to access iptables-restore lockfile"
## Expected Behavior
The calico/node container should mount the /run directory and ensure that iptables-restore is using the same lock file as kube-proxy

## Current Behavior
The lockfile directory isn't mounted so the lockfile doesn't get used/shared

## Possible Solution
See expected behaviour

## Context
See https://github.com/kubernetes/kubernetes/pull/46259

[2017-06-05 19:19] tmjd commented on #1579
@niusmallnan Could you please verify that you do see nat-outgoing enabled on your pools by checking the output of `calicoctl get ippools -o wide`?  If it is enabled on your pool(s) and you are still not able to access an external network then please open a new issue, as it is a different issue than the original one reported.  Thanks

[2017-06-06 08:08] fasaxc commented on #1655
This depends on adding the relevant support to Felix: https://github.com/projectcalico/felix/issues/1470

[2017-06-06 11:28] fasaxc opened #1657 "ST failures due to calicoctl emitting "ignoring ServerName" warning"
This build failed due to failing to parse the YAML emitted by calicoctl: https://semaphoreci.com/calico/calicoctl/branches/pull-request-1656/builds/3

## Expected Behavior
YAML should be parsable.

## Current Behavior
It looks like a log got mixed into the output and then the test tried to parse it; frustratingly, there's very little context in the log:
[code]

## Possible Solution
Prevent calicoc

[2017-06-06 11:30] fasaxc commented on #1657
Ah, found some more context in the logs:
[code]

[2017-06-06 12:25] salamaniibm commented on #1653
I was using etcd version v3.0.3, now changed it to etcd v3.1.7,working fine for me.

[2017-06-06 14:21] cirocosta commented on #1133
Hey, just noticed the change of milestone to 2.3.0; are there any specific issues that we can link to or that's more of a vague milestone?

Thx!

[2017-06-06 14:38] tmjd commented on #1653
Oh there was an issue with the early versions of etcd v3, though I forgot specifically what it was that was changed/fixed.  Thanks for reporting back.  Hopefully it helps someone else.

[2017-06-06 14:38] #1653 closed

[2017-06-06 17:10] gunjan5 opened #1658 "calicoctl get profile doesn't work for KDD"
[code]

It shows up in list output
[code]
CC @caseydavenport

[2017-06-07 17:35] caseydavenport commented on #1657
Hopefully fixed by https://github.com/projectcalico/calicoctl/pull/1656, which pins to a coreos/etcd v3.2 RC.

If that fixes it, we should keep this to track updating the pin once 3.2 is GA.

[2017-06-07 19:37] caseydavenport commented on #1657
Fixed by #1660.

[2017-06-08 12:56] bg1szd opened #1661 "Calico does not use the TLS secure setting"
I enabled SSL setting for both etcd and calico. However, when creating the calico container, it shows a lot of issues in docker log (I enabled debug level of log output.).
## Expected Behavior

The expected behavior is that there is no error in the docker log when creating a new calico container via cmd like calicoctl node run --ip=10.146.89.21 --config=/etc/calico/calicoctl.cfg

## Current Behavi

[2017-06-08 13:14] tmjd commented on #1661
After trying to start calico-node, did you look at the etcd logs again?  Someone reported the same type of error ` etcd cluster is unavailable or misconfigured` and then determined that the certs they were using were old/wrong after looking at what etcd reported in its logs.

[2017-06-08 15:53] bg1szd commented on #1661
I checked the etcd log via journalctl -u etcd since etcd service is started
I did not find any error.

Jun 08 10:35:43 dockerhost01.cloud.com etcd[4222]: a9ed1d764e614fbc became follower at term 108
Jun 08 10:35:43 dockerhost01.cloud.com etcd[4222]: newRaft a9ed1d764e614fbc [peers: [], term: 108, commit: 1978, applied: 0, lastindex: 1978, lastterm: 108]
Jun 08 10:35:43 dockerhost01.cloud.com etcd[

[2017-06-08 16:29] tmjd commented on #1661
If you run `calicoctl get nodes --config=/etc/calico/calicoctl.cfg` on one of your hosts does it return a list of the nodes?  I'm curious if the problem is with the config or the config in the calico/node.

You checked the etcd logs, did you check them for each of your etcd members?

You could also `docker exec -it <calico/node docker container ID> /bin/sh` and then do `export` and see that you ha

[2017-06-09 02:13] bg1szd commented on #1661
I ran the calicoctl get nodes --config=/etc/calico/calicoctl.cfg on any of the hosts, each of them will return a list of the nodes, as
[root@dockerhost03 ~]# calicoctl get nodes --config=/etc/calico/calicoctl.cfg
NAME
dockerhost01.cloud.com
dockerhost02.cloud.com
dockerhost03.cloud.com

I checked the environment variables in each calico container, they are correct. And the *.crt and *.pem files ar

[2017-06-09 03:35] bg1szd commented on #1661
I downloaded the 2.2.1 version calicoctl. It revised the calico image/container automatically. However, the issue is still there. When starting the calico container, I found the following error from the docker log with debug mode enabled.

DEBU[3024] form data: {"AttachStderr":false,"AttachStdin":false,"AttachStdout":false,"Cmd":null,"Domainname":"","Entrypoint":null,"Env":["CALICO_LIBNETWORK_IFPR

[2017-06-09 06:17] bg1szd commented on #1661
I followed the following guide to create the SSL certification and key, which are used for etcd and calico
https://github.com/coreos/etcd/tree/master/hack/tls-setup

[2017-06-09 08:53] mozhuli opened #1663 "Calico does not clean up etcd data when node removed"
when a node removed, and with a different hostname and same ip added to calico, which caused error: `Calico node(***) already using the IPv4 address ***`. because calico does not clean up etcd data when node removed.
## Expected Behavior

when a node removed, the calico node data in the etcd  should be clean up. Is there some way to clean up calico node data using calicoctl manually, or configure

[2017-06-09 13:36] tmjd commented on #1663
What you are seeing is the expected behavior and manual removal is needed. Check out this page http://docs.projectcalico.org/v2.2/usage/decommissioning-a-node for how to remove a node.  Make sure the prerequisites are satisfied before issuing the commands listed on that page.

There currently is no auto-remove feature in Calico though we welcome feature requests and community contributions.

Since

[2017-06-09 13:36] #1663 closed

[2017-06-09 16:01] felipejfc opened #1665 ""Failed to apply 'policy' resource: operation Apply is not supported on Policy""
I was going through the advanced policy tutorial but then when I try to apply the policy ```advanced-policy-demo.deny-egress``` :

[code]

I get the following error:

[code]

calicoctl version:
[code]

calico version on the daemonset running on kubernetes is:
[code]

[2017-06-09 16:49] tmjd commented on #1665
Are you using the Kubernetes API as the datastore? If so the Advanced policy will not work in that setup currently, though there is working going on to enable the full Calico egress policy with it.
I think there is an issue that already exists around this but I was not able to locate it yet.

[2017-06-10 01:44] bg1szd commented on #1661
@tmjd , do you have any comment or suggestion about this issue? I was blocked by this issue so far. Thank you!

[2017-06-12 11:24] bg1szd commented on #1661
I tried the following command, And it could return the expected result

etcdctl --peers=https://10.146.89.16:2379 --ca-file=/etc/etcd/ssl/ca.pem --cert-file=/etc/etcd/ssl/etcd.pem --key-file=/etc/etcd/ssl/etcd-key.pem ls

2017-06-12 06:22:52.279965 I | warning: ignoring ServerName for user-provided CA for backwards compatibility is deprecated
/message
/calico

So the key + certification file used

[2017-06-12 14:04] tmjd commented on #1661
@bg1szd sorry for the silence.  It looks like everything is configured correctly from what you've done.  I am not familiar with the internals of using etcd with certs so I pinged the team I work with if anyone could help and everybody is very busy so I am going to try to dig in and see if I can figure out what is going on.

I just had the thought could you run tcpdump and filter on port 2379 and s

[2017-06-12 15:27] tmjd commented on #1661
I was just reading the `hack/tls-setup` readme and noticed `won't require client certs for non-peer clients`.  Have you tried using just `http` for your ETCD_ENDPOINTS?

[2017-06-13 02:20] bg1szd commented on #1661
@tmjd , Thanks for your reply.
I just tried to modify the  cat /etc/calico/calicoctl.cfg to the following:
apiVersion: v1
kind: calicoApiConfig
metadata:
spec:
    datastoreType: "etcdv2"
    etcdEndpoints: "http://10.146.89.21:2379,http://10.146.89.16:2379,http://10.146.89.62:2379"
    etcdKeyFile: "/etc/etcd/ssl/etcd-key.pem"
    etcdCertFile: "/etc/etcd/ssl/etcd.pem"
    etcdCACertFile: "/etc/e

[2017-06-13 02:46] bg1szd commented on #1661
I guess after the calico container is started, when calico wants to access the network or endpoint info, it uses the http instead of https.

Jun 12 21:19:03 dockerhost01 dockerd: time="2017-06-12T21:19:03.460748631-05:00" level=debug msg="failed to get networks for scope global: client: etcd cluster is unavailable or misconfigured; error #0: malformed HTTP response \"\\x15\\x03\\x01\\x00\\x02\\x02

[2017-06-13 03:35] bg1szd commented on #1661
I get the tcpdump data via the following steps:
1. Run the tcpdump cmd on the 10.146.89.21
tcpdump  -vv host 10.146.89.21  and port 2379 -w /tmp/port_2379_calico.cap
2. Run the calicoctl cmd to create the calico node again.
 calicoctl node run --ip=10.146.89.21 --config=/etc/calico/calicoctl.cfg
3. Once the calico container is created, stop the tcpdump.

I used wireshark to analyze the cap file. H

[2017-06-13 13:44] tmjd commented on #1661
Could you show your etcd server configuration?  I'd like to see what you have since there are several pieces to configure for it.  Then I can match up what I'm trying with what you have.
Thanks.

[2017-06-13 15:24] bg1szd commented on #1661
The etcd version is 3.1.8.
The docker version is
[root@dockerhost01 ~]# docker version
Client:
 Version:      17.03.1-ce
 API version:  1.27
 Go version:   go1.7.5
 Git commit:   c6d412e
 Built:        Mon Mar 27 17:05:44 2017
 OS/Arch:      linux/amd64

This is the cmd I used to start the etcd service.
[root@dockerhost01 ~]# vim /usr/lib/systemd/system/etcd.service
[Unit]
Description=etcd server

[2017-06-13 17:02] tmjd commented on #1661
I just picked up that the logs you are referring to are the docker logs.  Have you configured your docker daemon to start with

[code]

Perhaps you could share your docker configuration also.

[2017-06-13 22:09] felipejfc opened #1667 "Failed to create 'ipPool' resource: resource does not exist: IPPool(cidr=100.64.0.0/10)"
get show no ipp
[code]

cant create ipp
[code]
already has workloadEndpoints:
[code]

this is on a kubernetes 1.6.2 setup.

daemonset is configured like that:

[code]

I'm using calicoctl version v1.3.0. CALICO_DATASTORE_TYPE is kubernetes

[2017-06-14 05:47] bg1szd commented on #1661
@tmjd , Thanks!With your help, the issue was finally resolved.
Here is what I did
1. Update the  /usr/lib/systemd/system/docker.service file
ExecStart=/usr/bin/dockerd  --cluster-store=etcd://10.146.89.21:2379  --cluster-advertise=eth0:2376 --cluster-store-opt kv.cacertfile=/etc/etcd/ssl/ca.pem --cluster-store-opt kv.certfile=/etc/etcd/ssl/etcd.pem --cluster-store-opt kv.keyfile=/etc/etcd/ssl/etcd

[2017-06-14 12:52] fasaxc commented on #941
Assigning to @robbrockbank since I think he's got the associated PR.

[2017-06-14 13:45] tmjd commented on #1661
Great.  Thanks for reporting back.

I'm curious would a comment about adding the certificates to the docker daemon on http://docs.projectcalico.org/v2.3/getting-started/docker/installation/requirements have helped when you were originally setting up for calico?  That seems like the logical place to put that info but I'm just curious if it would have helped you.

[2017-06-14 14:26] #1113 closed

[2017-06-14 15:06] tmjd commented on #1667
I don't believe the create command works when using kubernetes as the datastore. @robbrockbank is that still true?

Have you created the proper environment variables for calicoctl to access kubernetes?  By default it will attempt to access an etcd datastore. See http://docs.projectcalico.org/v2.3/reference/calicoctl/setup/kubernetes for help with that.

[2017-06-14 15:07] felipejfc commented on #1667
this was indeed caused by kubernetes datastore, I moved to inside the cluster and used etcdv2 datastore then I got it to work :)

[2017-06-14 17:33] caseydavenport commented on #1667
@tmjd huh, this is supposed to work with KDD.

This is the bit of code: https://github.com/projectcalico/libcalico-go/blob/master/lib/backend/k8s/k8s.go#L324

If it's not working, that sounds like a bug.  Certainly `startup.go` is able to create IPPools - I wonder if there's a bug in calicoctl?

[2017-06-14 17:38] tmjd commented on #1667
Oh I had missed that calicoctl was hitting an active endpoint. I see now that `calicoctl get workloadendpoints` worked.  I had assumed calicoctl was hitting an empty (as far as calico) etcd and that was why the pool was empty.  My bad.

[2017-06-14 17:41] caseydavenport commented on #1667
Actually, looking at this is looks like the DaemonSet is configured to use etcd, and calicoctl was configured to use KDD, which is a misconfiguration and explains why create wasn't working.

I think we can close this, but it probably indicates a deficiency in our documentation around datastore type configuration.

[2017-06-14 17:41] #1667 closed

[2017-06-15 02:22] bg1szd commented on #1661
It is better to provide an sample about how to configure the docker daemon with --cluster-store, --cluster-advertise and --cluster-store-opt. Then when user dig into the docker help url, he could find more detailed reference info.

[2017-06-15 14:03] tmjd commented on #1661
Thank you for the feedback.

[2017-06-15 14:03] #1661 closed

[2017-06-16 12:14] lc4ntoni-centralway commented on #1665
\+ 1 for getting calicoctl able to configure egress policies when using the Kubernetes API datastore. People using kops would have the possibility to mitigate certain security issues like:

- the pods being able to abuse the AWS IAM Role (https://github.com/kubernetes/kops/issues/1577)
- the possibility to execute commands in other containers via the kubelet vulnerability (https://github.com/kayru

[2017-06-19 16:20] caseydavenport commented on #1364
I think we should be aiming to have at _most_ 15 minutes of tests run against each PR / push.

This could be done through parallel jobs, or by limiting the number of tests that get run against each commit and delegating others to nightly jobs, but we should definitely be able to get high-confidence testing within that amount of time, and it will greatly improve development cycles.

[2017-06-20 17:13] bcreane commented on #1635
submitted PR: https://github.com/projectcalico/calicoctl/pull/1670

[2017-06-21 20:07] #1635 closed