[2016-07-01 20:58] DreadPirateShawn commented on #1034
Tagging @caseydavenport per request, via Slack discussion of this scenario.

[2016-07-01 21:00] DreadPirateShawn commented on #1034
[calico-endpoint-cleanup.sh.txt](https://github.com/projectcalico/calico-containers/files/344173/calico-endpoint-cleanup.sh.txt)

[2016-07-01 21:04] caseydavenport commented on #1034
Pulling in @robbrockbank since I think he's most familiar with `calicoctl`.

I feel like we've considered something like this in the past, but can't recall why we did go ahead with it.  This isn't the first time we've had trouble with lingering endpoints that are hard to remove, and it feels to me like we should have a way to get rid of them via calicoctl.

[2016-07-01 21:11] DreadPirateShawn commented on #1034
I found several tickets which touched on the same themes, but all of them seemed to ultimately resolve to fixing a root cause that *led* to orphan endpoints, or supporting ipam release, etc... all of which are certainly great fixes, but I think my situation is one of the cleanest "yank the rug out with no chance for Calico / Kubernetes to cleanup" repros.

[2016-07-04 08:56] jaminlai commented on #1032
I have resolve the problem, thank you very much.

Because the etcd cluster bind on 127.0.0.1:2379，but my calico require the real ip, so that I change the etcd's bind ip

[2016-07-04 08:56] #1032 closed

[2016-07-04 09:27] jaminlai opened #1036 "How to connect calico node inside the external network(non-calico assigned ip)"
Hi:

Now I practiced calico and have success communicated each other between two docker container in calico node.

However, I have deploy haproxy on another physical host(non-calico assigned ip,ip address such as 172.16.xx.xx), and I expected the haproxy could find the docker container(ip address such as 192.168.xx.xx) in calico node, but on the 172.16.xx.xx I cound not ping success to 192.168.xx.

[2016-07-04 15:43] mattymo opened #1037 "Create calico/cni container"
It would be very useful to distribute a calico/cni Docker container that could be consumed by Kubernetes hyperkube. Here is how workflow would change:
Old method:
wget -N -P /opt/cni/bin/ https://github.com/projectcalico/calico-cni/releases/download/v1.3.1/calico
wget -N -P /opt/cni/bin/ https://github.com/projectcalico/calico-cni/releases/download/v1.3.1/calico-ipam
docker run -d gcr.io/google_co

[2016-07-05 16:49] caseydavenport commented on #1037
@tomdee what do you think?

We've wanted to move away from the "wget" distribution method to something containerized for a while now.  The CoreOS hyperkube images come with Calico CNI binaries, but as far as I know there isn't a way to specify which version to use.  The suggestion seems like a good way to do this to me.

[2016-07-05 17:04] tomdee commented on #1037
Sounds like a good idea to me

[2016-07-05 17:23] caseydavenport commented on #1037
@mattymo Looks like we're in agreement :)

Would you be willing to contribute the Dockerfile for this to https://github.com/projectcalico/calico-cni?

[2016-07-05 17:55] mattymo commented on #1037
@caseydavenport My hands are full at the moment, but I'm hoping we can find a volunteer. If not, I'll contribute one in about two weeks.

[2016-07-05 21:24] djosborne opened #1040 "calico-node image build fails for alpine:edge"
Currently, the latest `gliderlabs/alpine:edge` image installs the latest python-setuptools: 24.0.2.

When building calico-node from this image, the call to `pip install felix` is failing:
[code]
Interestingly, the same version of setuptools on my ubuntu dev box succesfully installs Calico. So I can't confidently say its setuptools-24.0.2 that is causing an issue.

To remedy, I first tried to pin s

[2016-07-06 00:24] djosborne commented on #1040
After discussing with @tomdee , it seems only reason we were using `:edge` was we mistakenly thought it was required to access `edge/testing` repositories to get `runit`. #1039 modified so runit is pulled from edge and everything else is pulled from global, all from the stable 3.4 image.

So no longer need to follow up with switching back to `:edge` later - we can stay on 3.4

[2016-07-06 00:24] #1040 closed

[2016-07-06 00:40] djosborne commented on #1036
@jaminlai Your haproxy service is going to need two things in place to connect to 192.168.x.x

#### 1. A route to the Calico IP
- If you are planning on running calico workloads on the same box haproxy is running on, simply run `calico/node` on that box. Calico-node will then populate its routing table with routes to the calico workloads on other boxes. This is a quick and easy way to populate the

[2016-07-06 00:40] #1036 closed

[2016-07-06 12:57] bogdando commented on #1037
This https://github.com/projectcalico/calico-cni/pull/114

[2016-07-06 13:30] bogdando commented on #1037
Also note, it might make sens to run dockerized components as a kublet's static pods.
If some cannot be put there, we have to think who will manage them, like systemd nspawn f.e.

[2016-07-06 14:35] ae6rt commented on #1020
I see something similar, but in an apparently simpler situation.  For calicoctl version v0.20.0, I see:

[code]

If I pare the list of etcd servers back to one, I see something different, but which still fails

[code]

Yet the etcd server is available:

[code]

[2016-07-06 16:03] djosborne opened #1041 "Dockerless Calico is Outdated"
Our [Dockerless Calico](https://github.com/projectcalico/calico-containers/blob/master/docs/DockerlessCalicoManual.md) guide has fallen out of date, namely with the introduction of [`startup.py`](https://github.com/projectcalico/calico-containers/blob/master/calico_node/filesystem/startup.py).

[2016-07-06 16:16] ae6rt commented on #1020
Progress:  this works, namely specifying the etcd hosts as hostnames and not IP addresses.  I wish it weren't so strict.  This suggests that the TLS client in calicoctl is not prepared to use subject alternative names when considering whether to accept a server certificate.  Am I right?

[code]

[2016-07-06 16:24] ae6rt commented on #1020
Actually, wait.  If I had only looked at what calicoctl claims it will run, I see no evidence that the https endpoints are actually honored.  It appears some validation on ETCD_ENDPOINTS is performed on startup, and this validation passes, but then the value is apparently ignored.  See in the output

[code]

[2016-07-06 22:00] matthewdupre opened #1043 "calicoctl doesn't pass through error causes from python-etcd"
It's common for python-etcd to return errors when setting up certificate verification on the connection.

python-etcd now logs causes for these errors, but we don't display them in calicoctl output.  It would be helpful if we did.

[2016-07-07 08:29] fasaxc opened #1044 "vagrant-ubuntu failing with '--advertise-client-urls' not found or does not exist.."
Looks like `calico-containers/docs/calico-with-docker/without-docker-networking/vagrant-ubuntu` is out-of-date.  Presumably, the :latest tag on the etcd image has been updated to a too-new release:

[code]

[2016-07-07 11:10] zefciu opened #1045 "Problem with vagrant quickstart - no hypercube running"
I try to run the configuration from https://github.com/projectcalico/calico-containers/blob/master/docs/cni/kubernetes/VagrantCoreOS.md

After I run vagrant up and ssh to the master I cannot issue any kubectl commands. What I get is

```Unable to connect to the server: dial tcp: lookup localhost on 10.0.2.3:53: too many redirects```

It seems that kubectl is not configured properly on this machine

[2016-07-07 15:58] matthewdupre opened #1046 "calicoctl node requires all of ETCD_CA_CERT_FILE, ETCD_KEY_FILE, ETCD_CERT_FILE"
but if etcd doesn't require authentication, only ETCD_CA_CERT_FILE should be needed.

see https://github.com/projectcalico/calico-containers/blob/master/calicoctl/calico_ctl/node.py#L285

[2016-07-07 21:00] caseydavenport commented on #1045
The face that hyperkube isn't running is expected - this guide uses cloud-config [here](https://github.com/projectcalico/calico-containers/tree/master/docs/cni/kubernetes/vagrant-coreos/cloud-config) to run the kubernetes components under `systemd`.

I just tried running this myself and didn't encounter the same issue.  It looks like it's attempting to do a DNS lookup for `localhost` on `10.0.2.3:

[2016-07-08 12:37] zefciu commented on #1045
I saw later, that hypercube wasn't containerised. I fixed the problem with bad IP by configuring kubectl to use 127.0.0.1. Next week I will create a patch, that will fix this and one other problem, so that the Vagrantfile works out of the box.

[2016-07-08 13:02] zefciu opened #1050 "Proposal: Ability to use static IPs configured per ContainerID"
We want to deploy on kubernetes some applications that require the IP to be static (e.g. they use IP as prefixes in queues). k8s doesn't guarantee however that the Pod IP wouldn't change during its lifecycle.

My idea is to implement the logic of static IPs on the level of calico CNI plugin. It would be configured with a mapping of ContainerID -> IP. If a containerID is found in this mapping it wo

[2016-07-08 18:44] lxpollitt commented on #1050
cc @caseydavenport since I know he's thought about this a bit in the past.

Is ContainerID guaranteed to never change?  Would a pod annotation be more desirable mechanism in terms of usability?  (I'm not sure which is the easier to implement, but that's a a separate question.)

[2016-07-08 22:19] caseydavenport commented on #1050
Yep, I've thought a little about this in the past.  We haven't done this just yet because we expected the new PetSet resource to cover many of the use cases.  However, I think PetSet doesn't @zefciu's use-case because the actual value of the IP address is important.

The containerID for a given pod will be different each time it is started, so I don't think we can rely on that.  Similarly, we can'

[2016-07-08 22:22] caseydavenport commented on #1050
I do have a concern that there would be a number of edge cases we'd need to think about here.  First thoughts being:
- What if the address has already been allocated to another pod?
- What if multiple pods request the same IP via the annotation (e.g a ReplicaSet with 3 replicas)
- Currently, if a host crashes, the endpoints and IP allocations will not be cleaned up.  Do we prevent the re-scheduled

[2016-07-09 04:42] MikeSpreitzer opened #1052 "Outdated pointer to policy-controller.yaml"
https://github.com/projectcalico/calico-containers/blob/master/docs/cni/kubernetes/KubernetesIntegration.md refers to https://raw.githubusercontent.com/projectcalico/k8s-policy/v0.2.0/examples/policy-controller.yaml, which says
[code]
--- which is wrong, the correct image is referenced from https://raw.githubusercontent.com/projectcalico/k8s-policy/master/examples/policy-controller.yaml, which say

[2016-07-11 11:20] zefciu opened #1054 "Vagrant-coreos: trying to recreate existing namespace in skydns yaml"
When trying to run the vagrant-coreos example and running the ``skydns.yaml`` file you get ``namespace already exists`` error. Indeed the ``skydns.yaml`` contains redefinition of ``kube-system``. What is the reason for this? Does some other example require this redefinition or can it be removed from this file to make vagrant-coreos example work out of the box?

[2016-07-11 11:55] ae6rt commented on #1054
I have related experience with this.  I assume the system namespace exists out of the box on on new k8s cluster, which makes explicitly defining the kube-system namespace unnecessary.  One had to create the  namespace manually in k8s 1.2, but no longer:

https://github.com/kubernetes/kubernetes/pull/25196

[2016-07-11 16:25] #1052 closed

[2016-07-11 18:12] caseydavenport commented on #1054
Yep, that k8s issue is the culprit.

If you look at the latest master, that manifest no longer configures the kube-system namespace: https://github.com/projectcalico/calico-containers/blob/master/docs/cni/kubernetes/manifests/skydns.yaml

[2016-07-11 18:12] #1054 closed

[2016-07-11 20:51] MikeSpreitzer opened #1055 "The stars demo should not be hard to find"
Some more easily found doc should point to the stars demo.

[2016-07-11 20:53] MikeSpreitzer opened #1056 "There should be a simpler demo than the stars demo"
There should be a demo of NetworkPolicy that has minimal moving parts.  This could be good for making the basic idea really clear, and for providing a simple use case for debugging and bug reports.

[2016-07-11 21:51] ozdanborne opened #1057 "Provide Mesos-CNI with label-based policy demo"
I'm creating this issue to track work being done to release [the demonstration shown at MesosCon 2016 Denver which showcases label-based policy in Mesos](https://asciinema.org/a/9xy1zuhozoc76oltv3eh5eaou):
- [x] [MESOS-5592: Mesos Passes NetworkInfo to CNI Plugins](https://issues.apache.org/jira/browse/MESOS-5592)
- [x] Mesos v1.0.0 release which includes MESOS-5592
- [x] [Marathon allows setting

[2016-07-11 22:29] #1055 closed

[2016-07-12 06:59] bogdando commented on #1037
We have the image now, so this may continue

[2016-07-12 07:02] mattymo commented on #1037
Bogdan, kubelet requires calico-node to be running as far as I can tell. I think that precludes the possibility of running calico-node as a static pod

[2016-07-12 16:50] caseydavenport opened #1061 "Ability to run `calico/node` as a static pod / DaemonSet in Kubernetes"
Opening this issue to track discussion of running `calico/node` on Kubernetes.

This is something we've considered for a while and should be possible, potentially needing some minor tweaks in Kubernetes / Calico to make it work.

Relevant issues / PRs
- Better IP auto-detection https://github.com/projectcalico/calico-containers/issues/873
- kube-up: https://github.com/kubernetes/kubernetes/pull/30

[2016-07-12 16:52] caseydavenport commented on #1037
@mattymo  @bogdando - Closing this since the PR has been merged.  Will publish an image with the next release.

I've opened https://github.com/projectcalico/calico-containers/issues/1061 to continue discussion on running calico/node under kubernetes.

[2016-07-12 16:52] #1037 closed

[2016-07-12 17:49] MikeSpreitzer opened #1062 "KubernetesIntegration.md is not pinned to specific versions"
https://github.com/projectcalico/calico-containers/blob/master/docs/cni/kubernetes/KubernetesIntegration.md tells me to use `http://www.projectcalico.org/builds/calicoctl` rather than a specific version, and tells me to use `https://raw.githubusercontent.com/projectcalico/k8s-policy/master/examples/policy-controller.yaml`, which calls for the `latest` policy controller image.

[2016-07-12 17:49] MikeSpreitzer commented on #1062
CC @caseydavenport

[2016-07-12 18:11] robbrockbank commented on #983
Hi @saiwl - is there anymore news on this one?  I had a question above about how you were running confd.  Was this being run as part of calico-node container.  Also what version of calicoctl (and calico-node) were you running.

Thanks.  Rob

[2016-07-12 20:05] caseydavenport commented on #1062
Thanks for spotting these.  I definitely want to pin down all the places we reference master builds and make sure they're stuck to a specific version.

[2016-07-13 07:37] erandu opened #1063 "`calicoctl status` giving `undefined symbol: rl_signal_event_hook` under certain bash versions"
I have follow this guide https://github.com/projectcalico/calico-containers/tree/master/docs/calico-with-docker/docker-network-plugin with vagrant coreOS installation and I have a problem when I execute sudo calicoctl status,  I have an error message "Couldn't connect to bird." My other problem is the error message "sh: symbol lookup error: sh: undefined symbol: rl_signal_event_hook" and I don't u

[2016-07-14 08:14] fasaxc commented on #1063
These issue look related:

https://github.com/projectcalico/calico-containers/issues/60 looks like we tracked it down to a bad Python build @teemow managed to get a build without the error; @tomdee did we ever upstream his fix?

https://github.com/docker/compose/issues/170 Same problem with docker compose (they did manage to fix but thread is long and I didn't see a reference to the fix).

If comp

[2016-07-14 08:59] fasaxc commented on #1063
@erandu tried downloading the 0.20.0 release version but that shows the same error as 0.20.0-dev.

[2016-07-14 22:24] DreadPirateShawn opened #1066 "calicoctl node can fail to detect successful docker image startup"
We occasionally hit a scenario where "calicoctl node" appears to hang, but we can see that the calico-node image has in fact started successfully.

We run `calicoctl node --ip=192.168.0.68 --detach=true` and we see the Calico process start just fine, we see the "calico-node" appear in "docker ps", but the `calicoctl node` process itself never completes.

Calico processes:

[code]

"calico-node" lo

[2016-07-15 08:18] fasaxc commented on #1066
@DreadPirateShawn when you say "occasionally", do you have any feel for how often (across how many systems) and if there are any particular circumstances (e.g. system under load)?

That loop feels like a good thread to pull on.  Normally doing `for x in file_like_object:` does iterate over lines but I could believe that we're hitting a buffer-flushing issue or that the `output` object isn't file-l

[2016-07-15 21:32] quater opened #1068 "Systemd Configuration for Docker when using Calico"
Docker Client:
 Version:      1.11.2
 API version:  1.23
 Go version:   go1.5.4
 Git commit:   b9f10c9
 Built:        Wed Jun  1 21:23:11 2016
 OS/Arch:      linux/amd64

Docker Server:
 Version:      1.11.2
 API version:  1.23
 Go version:   go1.5.4
 Git commit:   b9f10c9
 Built:        Wed Jun  1 21:23:11 2016
 OS/Arch:      linux/amd64

etcd Version: 2.1.1
Git SHA: 6335fdc
Go Version: go1.4.2
G

[2016-07-16 11:41] quater commented on #1068
Okay, I figured it out. This problem has nothing to do with Calico nor Docker as such.

I my particular case the Systemd configuration for Docker had already been customized by placing conf files in the `/etc/systemd/system/docker.service.d/` directory that caused the changes applied with `systemctl edit --full docker.service` to be overridden/ ignored.

To conclude, the above shown Systemd docker

[2016-07-16 11:41] #1068 closed

[2016-07-18 07:31] sdurrheimer opened #1069 "Connecting a container to both a calico and bridge network doesn't work all the time"
Hi there, using calico as docker libnetwork plugin, is it possible to connect a single container to both a calico network (with calico ipam driver) and a bridge network ?
The reason behind that is to be able to give internet connectivity to some containers without using a calico network with the default ipam driver which would give access to internet to all containers of this network.

Here are so

[2016-07-18 08:23] fasaxc commented on #1069
Thanks for mapping this all out for us.  I've asked one of our container experts to take a look.  I'm wondering if this is a regression with some changes in Docker, for example.  What versions of Calico and Docker are you using?

[2016-07-18 08:25] sdurrheimer commented on #1069
Docker: 1.11.2
Calico node: v0.20.0
Calico libnetwork: v0.8.0

[2016-07-18 09:19] mattymo commented on #1037
Sorry to reopen this, but can this get built and hosted now? https://quay.io/organization/calico doesn't show cni container.

[2016-07-18 11:49] hectorj2f opened #1071 "Containers cannot communicate across hosts"
Hello there, I have a virtualized environment on which I run kubernetes nodes (a master and two workers) that use calico cni for networking. The kube nodes run in a flannel network so I have a flannel interface, and the nodes are containers inside the flannel ip range.

I am using CoreOS, kubernetes `v1.3.0_coreos.1` docker images with the `cni` network plugin and the `k8s-proxy` in an iptable mod

[2016-07-18 16:30] caseydavenport commented on #1037
@mattymo - sorry, was planning on doing this with the next calico-cni release (which hasn't happened yet).

I've pushed an image to `quay.io/calico/cni:latest` which includes the calico CNI binaries built from master.  We'll start doing versioned tags with the next release.

[2016-07-18 22:30] matthewdupre commented on #1071
Looking at the tcpdumps at the end, there's no return packets visible at all.  Could you please confirm that by tcpdumping the caliX interface into the destination container?  Usually with problems of this form I'd expect to see return packets on the destination host, but them not going over tunl0 and therefore dropped by the switch.

If there aren't any return packets, could you please grab `ipta

[2016-07-19 00:38] hectorj2f commented on #1071
@matthewdupre Thanks for your reply. I just double checked and I don't get anything in ` tcpdump -i tunl0` nor ` tcpdump -i caliX` in the destination host `kube-node-2` :-/ . I can only see the incoming requests in `tcpdump -i eth0` in the destination host.

In the destination host `kube-node-2`, I show the output of `iptables -L -v -n` in the following gist: https://gist.github.com/hectorj2f/177a

[2016-07-19 00:39] matthewdupre commented on #1071
So no incoming packets on caliX either?

[2016-07-19 00:52] matthewdupre commented on #1071
So packets getting to the host, but not the container suggests iptables is blocking them, or a routing failure, but the tables look good above.

I note that there are some drops in the first entry in felix-FORWARD.  Could you send me `ipset list felix-calico-hosts-4` please?

[2016-07-19 01:08] hectorj2f commented on #1071
I don't get incoming packets in caliX from the host of origin.

When I try the command you suggested to me, I get the following error:
[code]

[2016-07-19 15:05] hectorj2f commented on #1071
@matthewdupre I manage to see incoming requests, if I open the iptables. However the calico iptable rules seem to be restored after few seconds.

[code]

[2016-07-19 15:08] DreadPirateShawn commented on #1066
@fasaxc By "occasionally", we've seen it twice so far, almost a month apart, during nightly automated "create VMs and spin up all services sequentially" tests, of which we run about 2-3 per night. Granted, the tests don't always reach the Calico startup phase, so the numbers aren't clear-cut, but rough estimates put it at less than 1% of Calico node startups. Definitely rare, but on the other hand

[2016-07-19 15:46] damhau commented on #1063
Hi Guys,

In the meantime you can use the docker version of calicoctl with the following command:
/usr/bin/docker run --net=host --privileged -v /var/run/docker.sock:/var/run/docker.sock -v /var/run/calico/bird.ctl:/var/run/calico/bird.ctl calico/ctl status

Tested on Coreos 1109.1.0

Cheers,

Damien

[2016-07-19 15:47] damhau commented on #1063
of course replace status with the calicoctl subcommand you want to run.

[2016-07-19 15:49] damhau commented on #1063
and for the final touch add an alias and you re good to go:
alias calicoctl='/usr/bin/docker run --net=host --privileged -v /var/run/docker.sock:/var/run/docker.sock -v /var/run/calico/bird.ctl:/var/run/calico/bird.ctl calico/ctl'

[2016-07-19 17:15] tomdee commented on #1063
We're building with a really old version of glibc to avoid this kind of issue so I'm not sure what's up
[code]

[2016-07-19 23:40] leodotcloud opened #1073 "docker image tag and version are not in sync"
I pulled the `v0.20.0` tag and `./calicoctl version` shows `0.19.0-dev`
[code]

[2016-07-20 00:55] matthewdupre commented on #1071
Looks like the traffic is originating from outside felix-calico-hosts-4.

[2016-07-20 02:06] 245347881 opened #1074 "whether the --ip parameter can use?"
when i run a container like this : docker run --net applications --name my_workload --ip 192.168.100.253 -tid busybox ,it tell me flag provided but not defined: --ip,

[2016-07-20 07:24] erandu commented on #1063
@damhau it works fine with your following command, but only on my node 1.
On node 2, I have this :
core@calico-02 ~ $ /usr/bin/docker run --net=host --privileged -v /var/run/docker.sock:/var/run/docker.sock -v /var/run/calico/bird.ctl:/var/run/calico/bird.ctl calico/ctl status
Unable to connect to server control socket (/var/run/calico/bird6.ctl): No such file or directory
sh: write error: Broken

[2016-07-20 13:30] aleks-v-k commented on #716
I have a similar problem with kubernetes & calico (as described in duplicates of this issue: #772 & #947 ).

After rebooting a node most of the time I have broken routes on that node:
[code]
If I delete a wrong route (with enp0s3 interface), then there will be added new
one with correct route (tunl0 interface) and access between pods on different
nodes will work.

I have two questions:

1. When yo

[2016-07-21 20:34] matthewdupre commented on #1071
The IPIP packets are probably being dropped because they aren't coming from a known IPIP source.

If you figure out what the source address is, you could add a bird_ip entry to etcd to imitate that being a Calico host: e.g. `etcdctl set /calico/v1/host/fakehost1/bird_ip <IP>`.  We should still figure out what about your setup it is that's making the packets come from an unexpected source.

[2016-07-22 10:58] hectorj2f opened #1075 "calicoctl status is affected by bash 4.3 version"
Hello there,

I am using CoreOS `1068.8.0` which uses `bash` version `4.3` on which there is a bug https://bugs.archlinux.org/task/39533. This seems to affect to the output of some commands of `calicoctl`. Regardless of this problem, calico seems to be working fine.

[code]
[code]

[2016-07-22 11:44] fasaxc commented on #1063
I think @hector2jf has found the cause of the symbol error under #1075:

[2016-07-22 11:46] fasaxc commented on #1075
Thanks a lot for tracking this down @hectorj2f.  Someone else had reported the issue as #1063 but we hadn't managed to find the cause.  I've copied your comment over there and I'm going to close this one as a dupe so we get the whole trail.

[2016-07-22 11:46] #1075 closed

[2016-07-22 21:50] matthewdupre commented on #1074
Interesting - that command works for me (admittedly I'm running a very recent Docker: 1.12 rc4).

What version are you using?

[2016-07-22 23:34] dm0- commented on #1063
Copying my response here from over at coreos/bugs#1477...

What seems to be happening is that the `calicoctl` binary from http://www.projectcalico.org/builds/calicoctl extracts a bunch of libraries including libreadline to a temporary directory (e.g. `/tmp/_MEIpFhcZH/libreadline.so.6`) as a method of bundling Python into a single executable.

Our bash program is linked against the version under `/

[2016-07-25 08:49] fasaxc opened #1076 "Add support for BGP authentication"
Feature request from @awlx (AKA **Sail0r** on IRC).  Wants to limit access to their RR based on BGP password.

If we did implement this, it probably wouldn't be a good idea to store it in etcd.  Maybe a config file mounted into the container or an env variable?

[2016-07-25 22:47] matthewdupre commented on #1024
What's the reason for configuring this?

[2016-07-25 23:48] ae6rt commented on #1024
One indirect reason for surfacing this as a configurable is to give the operator confidence that this address has not somehow been provisioned from a similar 169.254-net block that may coincidentally be used for either Service IP's or the Calico IP pool.

[2016-07-26 08:41] 245347881 commented on #1074
@matthewdupre my docker version is  Docker version 1.9.1, build ab77bde/1.9.1,thanks you

[2016-07-26 09:50] hectorj2f commented on #1071
@matthewdupre I saw this too.. If I add the hosts as recognized bird IPs, it works.

Nevertheless I tried to use IPIP but without success. I prompt the output of the commands:

[code]

Logs from `/var/log/calico/bird/current`

[code]

Tcp dump in the destination host:

[code]

If I block the tips of 10.1.56.0, 10.1.89.0 … sudo iptables -I FORWARD -s 10.1.56.0 -d 10.1.92.2 -j DROP … then I cannot p

[2016-07-26 19:49] matthewdupre commented on #569
Powerstrip is long gone.  As is this doc.

[2016-07-26 19:49] #569 closed

[2016-07-26 22:13] matthewdupre commented on #1074
@245347881 Docker 1.9.1 doesn't support specifying IPs: you need at least 1.10.

See https://github.com/docker/docker/pull/19001 for the PR that merged it.

[2016-07-26 22:13] #1074 closed

[2016-07-26 22:41] matthewdupre commented on #1044
Yeah, this worked with etcd 2.3.7 but doesn't with 3.0.0.

[2016-07-26 23:12] matthewdupre commented on #1044
The culprit: https://github.com/coreos/etcd/pull/5709 - change from ENTRYPOINT to CMD means we can't just pass parameters.

[2016-07-26 23:25] matthewdupre commented on #1044
Reported upstream as https://github.com/coreos/etcd/issues/6048

[2016-07-26 23:40] matthewdupre commented on #1044
Apparently it's a feature.  I'll update the calls.

[2016-07-27 01:03] matthewdupre commented on #1073
Oops!  Thanks for reporting.

I'll add a note to the release process to check the version.  I'm not sure it's worth going back now though: we'll make sure to get it right for 0.21.

[2016-07-27 01:03] #1073 closed

[2016-07-27 01:10] matthewdupre commented on #1061
@caseydavenport: In what kubernetes specific situations is the IP detection a problem?

I ask because the IP detection is never going to be perfect, so unless there's a concrete case that someone's actually that doesn't work (i.e. a set of interfaces and addresses on them that breaks), we should probably just close this.

[2016-07-27 09:04] fasaxc commented on #1066
@DreadPirateShawn I can't reproduce the issue locally but, based on your hunch, here's a patched calicoctl binary that will output each chunk it reads from docker as well as concatenating the output before scanning it for the marker string.

[code]

[code]

Please can you give that a spin and see if you still hit the issue (and if you do hit the issue, please can you grab the output from calicoctl

[2016-07-27 13:49] mattymo opened #1081 "calico/ctl container v0.20.0 is actually 0.19.0"
$ docker run calico/ctl:v0.20.0 version
0.19.0-dev

This could be introducing issues for people who want it to behave like v0.20.0 version.

[2016-07-27 16:23] caseydavenport commented on #1061
@matthewdupre This issue is not solely about the IP detection (as per the title).

The case here is running Calico as a DaemonSet, where a single copy of calico/node is run as a pod under kubernetes on each node.  In this case, we don't yet have a way of telling `calico/node` what the host's IP address it should use is.

Our auto-detection fails most commonly when there is more than one interface

[2016-07-27 16:28] #840 closed

[2016-07-27 17:23] matthewdupre commented on #1081
OK; I've built a new v0.20.0 that should be correctly versioned.  If you've been using the '0.19.0-dev' version, I wouldn't worry too much: it's very much closer to 0.20.0 than 0.19.0.

[2016-07-27 17:23] #1081 closed

[2016-07-27 17:36] matthewdupre commented on #1003
`calicoctl node --libnetwork` won't be able to not detach, because there's 2 containers.

We don't want to go down the road of trying to merge calico-libnetwork into calico-node (node is used for other orchestrators), so we're stuck with 2 containers.

I think the only way we can fix this via calicoctl is by adding an option to only start the libnetwork container.  @wrouesnel do you think that wou

[2016-07-27 17:44] matthewdupre commented on #1071
@hectorj2f I need to understand exactly where all the IP addresses sit (notice that BIRD is complaining about incoming connections from unexpected addresses, and unsurprisingly its own outgoing connections are also failing).

Specifically things like on which interfaces, inside which VMs / containers: `ip addr list` and `ip route` from each entity (VM, container etc) with an indication of the hier

[2016-07-27 18:00] matthewdupre commented on #1069
@sdurrheimer I'd probably advise avoiding using two networks: they won't play nicely because of default route conflicts, as you've identified.

I can think of a couple of ways to only give some containers internet access without needing additional veths (which only causes problems):

1. Use --nat-outgoing on the pool, but use security policy to ban connections from the non-internet connected conta

[2016-07-27 21:29] matthewdupre commented on #1020
As far as the original report goes @robbrockbank it's normal that both values get passed through (notice ENDPOINTS is passed after the defaulted AUTHORITY).

On the other hand, that doesn't really explain @ae6rt's results.  Could you please confirm the calicoctl version you're using?

[2016-07-27 21:37] ae6rt commented on #1020
I am using calicoctl version

[code]
and can confirm that ETCD_ENDPOINTS is correctly read from the environment with this type of systemd service definition:

[code]

where /etc/calico/calico-node.conf looks like

[code]

[2016-07-27 21:56] matthewdupre commented on #1020
And when hitting the issue calling calicoctl yourself you also had the ETCD_CA_CERT_FILE / CERT / KEY variables set?

[2016-07-27 21:59] wrouesnel commented on #1003
That is pretty much the solution I'm mimicking at the moment (i.e. I extracted the options and made up a service file for it at the moment).

An observation is that calico-libnetwork does in fact start and run just fine without _needing_ the node container to be running before it is.

[2016-07-27 22:54] matthewdupre commented on #1020
OK - closing this :).

[2016-07-27 22:54] #1020 closed

[2016-07-28 18:22] djosborne opened #1082 "calicoctl should check rp_filter"
On a system where `net.ipv4.conf.all.rp_filter` is set to 2, calicoctl will successfully launch calico-node, but Felix will stack trace with the following error:
[code]

Either Calicoctl should be checking this and refusing to launch node, or calicoctl should simply correct it itself.

[2016-07-28 21:34] neiljerram commented on #1082
I was going to say that if calicoctl was going to enforce rp_filter, would it make better sense for Felix to do that instead (rather than just checking).

However, if you're now thinking that calicoctl should only check and warn, that thought no longer applies.

[2016-07-28 21:41] djosborne commented on #1082
To further complicate things, seems DC/OS is intentionally setting `rp_filter=2` at launch. I spotted this in the slave logs:
[code]

This vague DC/OS issue seems to suggest this is intentional: https://dcosjira.atlassian.net/browse/DCOS-230

Can we modify Felix so that it is compatible with loose mode?
[code]

[2016-07-28 21:52] #1044 closed

[2016-07-28 21:54] neiljerram commented on #1082
There's a comment in the relevant Felix code (devices.py) that seems pretty clear about the situation:

    # For IPv4, we rely on the kernel's reverse path filtering to prevent
    # workloads from spoofing their IP addresses.
    #
    # The RPF check for a particular interface is controlled by several
    # sysctls:
    #
    # - ipv4.conf.all.rp_filter is a global override
    # - ipv4.conf.de

[2016-07-28 22:24] matthewdupre commented on #1082
One more thing: strictly speaking, unprivileged containers can't spoof IPs anyway.

I'd probably want to figure out why Mesos needs (or thinks it needs) loose.

[2016-07-28 23:29] djosborne commented on #1082
Matt and I just finished digging, seems there's a very specific scenario that requires `rp_filter=2` in DC/OS. However, they enable it across **all** interfaces, when it really only needs to be enabled on one particular VTEP on each host. I'm going open a issue with DC/OS to make that change.

[2016-07-29 07:30] 245347881 commented on #1074
thank you

[2016-07-29 09:25] fasaxc commented on #1082
Damn, I forget the details for why it's hard to get an RPF check right in iptables but we did get it wrong when we implemented it that way and we made the switch to using the kernel's version because it's more comprehensive and earlier in the pipeline.

For IPv6, RPF checks are implemented as a dedicated iptables filter rather than a global option (so presumably we could have selective iptables ru

[2016-07-29 16:29] djosborne commented on #1082
@fasaxc so that being said, implementing RPF checks ourselves sounds like something we should continue to avoid. The correct solution to the larger problem is to dial down DC/OS' overreaching configuration of rp_filter=2 to just the relevant interfaces. However, I'm also concerned that we won't have enough time to do that before DC/OS 1.8 is released, meaning calico would not be compatible with at

[2016-07-29 16:36] djosborne commented on #809
I'm going to close this out. We've been through quite a few overhaul's in our mesos docs / installation story, so this is fairly outdated.

[2016-07-29 16:36] #809 closed

[2016-07-29 17:18] djosborne commented on #1082
I've opened https://dcosjira.atlassian.net/browse/DCOS-265 and submitted a PR to DC/OS

[2016-08-01 10:13] hectorj2f commented on #1071
@matthewdupre Okay, I'd facilitate you this data within this week. Thanks

[2016-08-01 14:09] fasaxc commented on #1082
@djosborne Agreed, I think DC/OS should be fixed.

However, I'm not talking about rolling our own (which is what we used to do).  The kernel has two types of RPF check.  One type is controlled by the flag that we've been discussing, and only applies to IPv4.  The other type is a dedicated iptables match rule:
[code]
for IPv6, you have to use the latter type so that's what we do.  What I'm wonderin

[2016-08-02 01:42] caseydavenport opened #1084 "Calico/node: auto-detect hostname if not provided"
It would be useful if one didn't need to pass an explicit hostname to `calico/node`, and it instead defaulted to the value of `socket.gethostname()`.

Currently, there is no default: https://github.com/projectcalico/calico-containers/blob/master/calico_node/filesystem/startup.py#L306

My use case is running in a DaemonSet under Kubernetes, where the hostname is not readily available through the [D

[2016-08-02 04:28] caseydavenport opened #1086 "calicoctl expects specific name for calico/node container"
When running under Kubernetes, the `calico/node` container name is unique.

e.g

[code]

`calicoctl` expects the container name to be `calico-node`, and `calicoctl status` fails with the following message:

[code]

`calicoctl` should be more flexible here.

[2016-08-02 05:05] dp-farm opened #1087 "calicoctl binary location as per documentation."
Hi,

I am following instructions given in
https://github.com/projectcalico/calico-containers/blob/v0.20.0/docs/mesos/Vagrant.md

But vagrant is failing to retrieve calicoctl binary from below link -->
calicoctl_url = "http://www.projectcalico.org/builds/calicoctl

I tried manually as well. This link doesn't work. This was working till yesterday.

thanks,
Devesh

[2016-08-02 15:56] #1087 closed

[2016-08-02 15:56] dp-farm commented on #1087
working now.

[2016-08-02 20:56] djosborne commented on #1082
Update on the DC/OS PR - the fix isn't as easily implementable in DC/OS as we thought. There are three different components of DC/OS which create a new virtual interface which all need rp_filter=2 to function properly. Currently, none of those components actually set rp_filter themselves, but instead rely on the kernel being configured with rp_filter=2 for `default` interfaces, so that when an int

[2016-08-03 07:46] jdoucy commented on #1045
I think I'm facing the same issue, but not sure, just finish to vagrant up, connect to k8s-master, and try to launch some Kubectl commands. Not working, first get:
`The connection to the server localhost:8080 was refused - did you specify the right host or port?`
So trying to do what @zefciu did:
`kubectl get services --server='http://127.0.0.1:8080'`
and get:
`The connection to the server 127.0.0

[2016-08-03 08:13] fasaxc commented on #1082
If we're sure that containers can't spoof anyway then I'm happy to make the check configurable.

That said, the [manpage for raw sockets](http://man7.org/linux/man-pages/man7/raw.7.html) says you only need `CAP_NET_RAW`, which is a lot narrower than than `CAP_NET_ADMIN` and `CAP_SYS_ADMIN`.  Does that change the calculation?  I'm struggling to think of a reason to have `CAP_NET_RAW` if you're only

[2016-08-03 11:02] zefciu commented on #1045
Did you try my patch?
https://github.com/projectcalico/calico-containers/pull/1060

[2016-08-03 14:37] jdoucy commented on #1045
Yes I just apply your patch, `vagrant destroy`, `vagrant up`, and still the same issue. But now I have this when logging into `k8s-master`:

[code]

I suppose that failed units is not a good thing.

[2016-08-03 18:06] robbrockbank commented on #1076
I assume this is request is asking us to support peers that have authentication turned on rather than having authentication on our BGP node.  If that is the case, it might be a little tricky to just handle with a config file or env variable as you'd need authentication info on a per-peer basis.

@fasaxc What's the issue with having this in etcd?  I assume if you do have in etcd then you'd probably

[2016-08-03 18:24] fasaxc commented on #1076
Well, it just needs more thought.  No good having a password on your BGP session if all the passwords are stored in etcd and your etcd is accessible from any node.

[2016-08-04 11:34] evilabandon opened #1091 "Calico-Mesos-Docker guide should detail launching tasks for Marathon <v1.2.0"
hi,when i follow this link
https://github.com/projectcalico/calico-containers/blob/master/docs/mesos/UsageGuideDockerContainerizer.md

the marathon give me {"message":"Invalid JSON","details":[{"path":"/container/docker/network","errors":["USER is not a valid network type"]}]}
the marathon version is Name        : marathon
Version     : 1.1.2
Release     : 1.0.488.el7
Architecture: x86_64
Install

[2016-08-04 15:44] shouhong opened #1092 "How calico work across K8S nodes isolated by physical firewall?"
I want to deploy K8S+Calico to a group of machines which are isolated by physical firewall. What ports should I request the firewall team to open, so the pods on these K8S nodes can communicate with each other?

[2016-08-04 15:50] fasaxc commented on #1092
@shouhong that is dynamic and it depends on the particular pods that are running at any instant.  Calico implements a dynamic firewall, which adjusts to the currently active pods.  To my knowledge, there's no way to do that with a traditional firewall.  Your firewall team would have to open up every port that your pods could possible use.

[2016-08-04 16:06] #1092 closed

[2016-08-04 16:07] fasaxc commented on #1091
One for @djosborne?

[2016-08-04 16:41] djosborne commented on #1091
Whoops! The instructions you followed are for Marathon v1.2.0+. That version of Marathon now supports the "USER" type for networks.

If you're on <1.2.0, you can still specify a network type. [this older version of that doc shows how](https://github.com/projectcalico/calico-containers/blob/e249061188ed35d04b7d1ccd839ed920c7e81c4a/docs/mesos/UsageGuideDockerContainerizer.md#launching-a-container-wi

[2016-08-04 17:36] #1091 closed

[2016-08-04 17:37] djosborne commented on #1091
@evilabandon If this doesn't fix your original issue please reopen!

[2016-08-04 21:41] robbrockbank commented on #1031
@sdurrheimer - unfortunately it's a limitation of our libnetwork plugin that you can't attach multiple calico networks to a container (see note in our docs: https://github.com/projectcalico/calico-containers/blob/master/docs/calico-with-docker/docker-network-plugin/AdvancedPolicy.md#multiple-networks )

For Calico networks, we want to add the same route in the container for each network - Calico d

[2016-08-04 21:43] #1046 closed

[2016-08-04 21:48] #951 closed

[2016-08-04 22:00] robbrockbank commented on #1069
Hi @sdurrheimer, As Matt mentions the default route conflicts prevent multiple calico networks being connected to a single container.   This is a known limitation of our libnetwork integration and isn't something we can easily workaround.

Perhaps you could outline what behavior you are trying to achieve and which aspects of Calico that you are interested in (IP per container or our isolation mode

[2016-08-04 22:01] djosborne opened #1095 "Add links to blogposts describing "how people are using Calico""
Some contenders:
- http://www.tcpcloud.eu/en/blog/2016/06/27/making-openstack-production-ready-kubernetes-and-openstack-salt-part-2/
- https://clusterhq.com/2016/04/15/resilient-riak-mesos/

[2016-08-04 22:29] robbrockbank commented on #1031
@sdurrheimer - I'm going to close this issue as it is an unfortunate limitation due to the libnetwork API.

[2016-08-04 22:29] #1031 closed

[2016-08-04 23:24] robbrockbank commented on #1016
@wrouesnel

I believe this is resolved in the v0.20.0 release.  I saw the problem with v0.19.0 and could not report with v0.20.0 - there were changes in the v0.20.0 startup scripts that would account for this behavior.

Closing the issue.  Please reopen if you are still having issues with v0.20.0

[2016-08-04 23:24] #1016 closed

[2016-08-05 00:07] matthewdupre commented on #668
@caseydavenport is this issue still relevant?

[2016-08-05 00:15] caseydavenport commented on #668
The latest CNI plugin supports this, so we can close this issue.

[2016-08-05 00:15] #668 closed

[2016-08-05 23:11] robbrockbank opened #1098 "Odd message about calico-node.service when running calicoctl node stop"
calico@calico:~/code/calico-containers$ sudo dist/calicoctl node stop
Failed to stop calico-node.service: Unit calico-node.service not loaded.
Node stopped

[2016-08-05 23:11] robbrockbank commented on #1098
Running with current master

[2016-08-08 08:42] fasaxc opened #1099 "Incompatibility with datadog: assumes gateway IP serves k8s API"
To avoid the headache of configuring an IP on the host, we use a link-local IP for the default gateway, which is *not* assigned to the host side of the veth.

User **donch** on slack reports:

[2016-08-08 09:15] fasaxc commented on #1099
Their workaround is to run datadog with docker rather than k8s.

[2016-08-08 12:05] hectorj2f commented on #1071
@matthewdupre We're able to communicate  the containers between VMs once we add the bridge IP of our VMs to the `bird_ip` of calico.

Would it be this error prone ?
Is there a way to specify a IP range of trusted IPs instead of specific IPs ?

[2016-08-08 12:57] hectorj2f commented on #1071
I share with you a picture of how our networking stack looks like. I hope it helps you to understand our infra.
![copy of copy of multi-tenant-network](https://cloud.githubusercontent.com/assets/3602792/17480483/649e1872-5d78-11e6-8845-517724153c32.png)

[2016-08-08 16:04] dp-farm opened #1100 "Calico without mesos-DNS / kuberentes like cluster IP in Calico."
Is there a way to do service isolation using calico in mesos without using mesos-DNS (DNS based LB will probably not yield good load-balancing distribution of backend containers)?

e.g. iptables based kube-proxy in kubernetes maintains source IP of client pod. And thus calico can do service isolation based on 4-tuple in the packet before forwarding packet to destination pod.

But if we use a user

[2016-08-08 16:19] caseydavenport commented on #1099
Sounds like datadog is doing the wrong thing to connect to the API, and should be using the API access config that Kubernetes injects into each pod.

However, this is still relevant: #1024

[2016-08-08 17:41] awlx commented on #1076
Actually a cluster-wide setting will be ok. I just don't want any dev to announce it's own things out of a container. When the RR runs a peering group.

[2016-08-08 18:16] DreadPirateShawn commented on #1066
Sorry for the delay -- will do, I plan to get a custom repro loop with the attached binary set up later today.

[2016-08-08 20:02] #1045 closed

[2016-08-08 22:08] djosborne commented on #1100
@dp-farm I believe the new minuteman load balancer does what you are suggesting.

To reiterate, the problem with Marathon-lb, as you said, is that containers must forward requests to the LB-in-the-middle, which will rewrite the packet in userspace before forwarding on to the final destination agent/container. What's worse, this LB is usually running on a different host, so most requests will jump

[2016-08-08 23:12] djosborne commented on #1082
@fasaxc I was under the impression that Docker privileges were all or nothing, i.e. you gave a container full root access (`--privileged`), or you didn't.

But seems you can quite easily add a single privilege with `docker run --cap-add=NET_RAW`. I fear that there may be scenarios where users could have some reason to grant `NET_RAW` to a container, which would open them up to a spoof attack if rp

[2016-08-09 06:23] ishidawataru opened #1102 "RFC: simplify bird, bird6, confd stack by using gobgp"
Currently, calico-node is running bird, bird6 and confd for BGP advertisement/configuration.
We can simplify this stack by using [GoBGP](https://github.com/osrg/gobgp).
GoBGP is a BGP implementation in golang and it can be used as a native golang library.
Combined with etcd client library, we can develop a minimal and efficient daemon for calico-node.

This daemon reads/watches information stored

[2016-08-09 18:24] dp-farm commented on #1100
Thanks @djosborne . Yes seems like minuteman will work in such use-cases.

Though still I want to explore whether in Calico we can implement ClusterIP behaviour? i.e. assign same host-local IP 'X' from some calico profile in each node to LB-in-the-middle. And then Calico can do policy enforcement even before forwarding packets to LB-in-the-middle.

Is that possible by any way to assign same IP (sa

[2016-08-09 20:49] djosborne commented on #1100
Assigning the same IP to multiple workloads is currently unsupported. Calico's IP-per-container model assumes that each container is uniquely routable by its IP.

@dp-farm I'm confused by this, can you elaborate some more?

[2016-08-09 20:59] dp-farm commented on #1100
IP 'X' is similar to kubernetes cluster IP.  So when a container (running on host 'H1') tries to connect to 'X', Calico routes it to a container which owns IP 'X' in this host (H1).

Only difference is that instead of using Iptables to forward packets to Cluster IP ('X'), Calico itself forward the packets. That way policy enforcement can be done before LB itself. And this mode will work for user-s

[2016-08-09 21:14] djosborne commented on #1100
Ah ok. So I believe minuteman covers this with [Virtual IPs](https://dcos.io/docs/1.7/usage/service-discovery/load-balancing/). Our goal is to integrate Calico with Minuteman so that you can use Minuteman VIPs and its distributed, smart load balancing, while still using Calico policy for security. In that scenario, each container in a particular service would have both its own Calico IP and a shar

[2016-08-09 21:20] caseydavenport commented on #1100
@dp-farm I'd like to get a better understanding of your requirements.

When using the kube-proxy in iptables mode, Calico is indeed doing the forwarding of traffic.  The kube-proxy `iptables` rules are simply decoding the service IP to a real container IP address.  Calico can still enforce network policy on top of this just fine.

With solutions like iptables-kube-proxy / minuteman, there is no "m

[2016-08-09 23:26] dp-farm commented on #1100
@caseydavenport That's right. What I am suggesting only makes sense if there is a user space proxy in between which can't maintain source IP of client container.

[2016-08-09 23:30] robbrockbank commented on #1086
I think we have a few options here:
-  Check for calico/node image name
-  Check for calico-node in the container name
-  Pass in the image name or container name into `calicoctl status`

The latter would be more generic but arguably harder to use.

@caseydavenport - do you have a particular preference for k8s?

[2016-08-09 23:42] caseydavenport commented on #1086
I think passing the container name into `calicoctl status` is a no-go.  The container name can sometimes be _really_ ugly to work with (see OP).

I think checking for `calico-node` in the name would be sufficient.  This is probably nicer anyway in case people want to use their own tagged version of calico-node (which would make the images not match).  e.g `caseydavenport/node`.

[2016-08-09 23:42] caseydavenport commented on #1084
Fixed by #1085

[2016-08-09 23:42] #1084 closed

[2016-08-09 23:47] matthewdupre commented on #1063
I had a little look for the docker commit that fixed the issue for them.  I'm not fully confident, but I think it might have been this one: https://github.com/docker/compose/pull/1474.

Reports also suggest it could be fixed by building on a much newer system, but that will likely introduce glibc incompatibilities with (e.g.) CentOS 6.

[2016-08-10 03:06] lxpollitt commented on #1102
@ishidawataru: This is very interesting work that I think is well worth continuing.  I was discussing with @djosborne and he's going to have a look at the rough implementation to see if any advice or suggestions or other help, plus he is a good person to help with general shepherding.

I think one thing it would be good for us to do is create a to do list of what we think would need to be done to

[2016-08-10 04:25] ishidawataru commented on #1102
@lxpollitt Thanks for the positive feedback. I'll wait for @djosborne's review.

I agree with you on having a todo list. Having a public demo also sounds good.

As for a todo list, can I edit [here](https://github.com/projectcalico/calico-containers/wiki) to create one? I'll list what feature is now lacking compared with BIRD+confd implementation.

[2016-08-10 15:40] tomdee commented on #1102
You could always use the github task list feature (https://github.com/blog/1375-task-lists-in-gfm-issues-pulls-comments) either in this issue or in a followup PR?

[2016-08-10 20:10] djosborne commented on #1102
@ishidawataru Woo! I'm a huge fan of this move, and wanted to share my thoughts on it -

- This work greatly simplifies the backend architecture of calico-node. Much less components in play here, which is great
- Because of the first point, this also makes running uncontainerized Calico (directly on a host) much easier. I wrote the [fairly complicated guide on running dockerless Calico](https://gi

[2016-08-11 06:25] wrouesnel opened #1105 "calico-node and calico-libnetwork HOSTNAME not matching actual hostname means workload routes don't get added"
So I've been assigning the HOSTNAME environment var to `calico-node` and `calico-libnetwork` from DNS SRV records to configure my environment.

These hostnames differ from the machine hostname which is unconfigured (or set transiently from DHCP), and the result seems to be that when I launch a workload (using the libnetwork plugin and docker), the blackhole entry for a network gets created ala
[co

[2016-08-11 07:14] wrouesnel commented on #1105
Ok it looks like actually I was misunderstanding the routing setup on hosts (and having a separate, unrelated issue). Closing.

[2016-08-11 15:38] wrouesnel commented on #1105
Digging into the logs, it looks like Felix in docker container reads the wrong hostname - i.e. it gets the actual hostname of the machine, and ignores the `HOSTNAME` var passed to the container -
[code]
whereas in this case I'm actually passing in `HOSTNAME=host0.node.com`.

My systemd launch stanza ended up being:
[code]

[2016-08-11 22:14] evan2645 commented on #949
@robbrockbank any idea if the proposed solution will enable native non-IPIP operation on Azure, similar to an AWS VPC with instance Source/Dest checks disabled?

[2016-08-12 08:25] fasaxc commented on #1063
Pretty sure Rob is working on this.

[2016-08-12 14:39] SaMnCo opened #1107 "Issue running with TLS etcd in k8s"
Hi,

I am running a k8s cluster in AWS, with a remote TLS enabled etcd 2.3 cluster (coreOS).

My calico-node.service file looks like:

[code]

I am seeing logs in journald for the calico service like:

[code]

(note I get the same error with 0.20.0)

If I change the ETCD_AUTHORITY to one of the IP addresses of the LB, which doesn't have the cert,

[code]

As a conclusion, I can see changing ETCD_A

[2016-08-12 16:06] robbrockbank opened #1108 "Advanced network policy doc needs updating for Calico as a Docker network plugin"
See article:  https://github.com/projectcalico/calico-containers/blob/v0.18.0/docs/AdvancedNetworkPolicy.md

This article describes adding additional tags to a profile to allow other networks to access certain ports on another network.  For Calico as a Docker network plugin, there is a direct link between the docker network name and the tag - calicoctl assumes the tag is a Docker network name and

[2016-08-12 16:08] ae6rt commented on #1107
For the first case, try using ETCD_ENDPOINTS (https://host:port)  instead of the deprecated ETCD_AUTHORITY.

For the second case, the calico client is telling you that that IP address when used as a hostname for etcd does not match the certificate CN or SANs.  This is presumably due to the python urllib3 underlying SSL connector being picky about this sort of thing.

[2016-08-12 17:00] SaMnCo commented on #1107
Thanks for taking the time to answer.

I have also tested ETCD_ENDPOINTS, as the code let me think that both
alternatives were acceptable. But I have the same issue.

Agreed, the second problem is a TLS Cert / CA validation issue. What I
found interesting is that it would connect with the IP address (and fail)
whereas the FQDN would not even connect. I then tried by adding a dns to
the rkt pod, bu

[2016-08-13 23:55] #1105 closed

[2016-08-14 07:31] ishidawataru commented on #1102
@djosborne I understand your concern. As a GoBGP developer, if you have any question about GoBGP, I'm happy to answer that.
About the stability, we are already running GoBGP in a production network and have no problem so far.
About the feature, could you tell me what kind of BGP feature you need ?

As for IPIP support in forked BIRD, it seems you've only modified the code related to kernel injecti

[2016-08-15 13:29] ThomasLohner opened #1113 "How to run calico when public IP is not visible inside hosts (on some cloud providers)?"
Hi,

i'm running calico across multiple cloud providers. Basically there are two kinds of IP implementations out there:

1) Public IP is "visible" inside VM (i.e. Digital Ocean)

[code]

2) Only private IP is "visible" inside VM (i.e. AWS, OpenStack, Hetzner...)

[code]

In this case the cloud provider connects a public IP from outside of the vm with whatever magic they may use.

If i run `calicot

[2016-08-16 14:32] hanikesn opened #1115 "[DOC] Kubernetes 1.3.5 requires cni default plugins to be installed"
See https://github.com/kubernetes/kubernetes/issues/30681

The following documentation should be updated:
https://github.com/projectcalico/calico-containers/blob/master/docs/cni/kubernetes/KubernetesIntegration.md
https://github.com/kubernetes/kubernetes/blob/master/docs/getting-started-guides/ubuntu-calico.md

The default plugins from https://github.com/containernetworking/cni/releases should be

[2016-08-16 15:07] ae6rt commented on #1115
As a Calico CNI user, I don't understand the impact of this issue on me.  If I have installed the Calico CNI plugin before I start the k8s control plane, do I need to do more?

[2016-08-16 18:09] caseydavenport commented on #1115
Bah, that's annoying.

@ae6rt the impact here is that in addition to the Calico / IPAM CNI plugins, you'll need to install the `loopback` plugin from upstream CNI.

I don't think the `KubernetesIntegration.md` needs to be updated for this - If I understand correctly, it's a new Kubernetes requirement not a Calico requirement.

However, our guides that actually install Kubernetes should be updated

[2016-08-16 21:09] robbrockbank commented on #1113
Hi @ThomasLohner - in the last two `calicoctl status` outputs, Host 1 is connecting to two 185.56.* addresses.

How come the output from Host 2 (3?) is connecting to host 1 and the private address of Host 3 (2?) - are these outputs from different test scenarios?

[2016-08-17 00:34] dp-farm opened #1116 "failure in assigning more than one IP address in native docker networking (libnetwork) mode."
I am trying to assign more than one IP addresses to an existing interface in a container (created using calico libnetwork plugin). and it fails with below errors. Is this because when we use libnetwork plugin, calico based etcd structure is not used. (as defined in https://github.com/projectcalico/calico-containers/blob/master/docs/etcdStructure.md)?

[code]

'calicoctl container add' obviously fa

[2016-08-17 09:05] aleks-v-k commented on #947
Here I have tried to fix the isuue: https://github.com/projectcalico/calico-bird/pull/21
Please, look at the patch. I hope it is acceptable.

[2016-08-17 11:52] fasaxc commented on #947
Thanks @aleks-v-k, I'll get that reviewed.

[2016-08-17 15:56] liljenstolpe commented on #1113
Hi @ThomasLohner, some questions, if you don't mind.

1) What public cloud are host2 and host3 running in?  What is the environment (i.e. if AWS, are they in the same VPC)?
2) Can you ping between host2 and host3?  If so, can you do a traceroute and see if there is something between host2 and host3?
3) If you ssh from host2 to host3, can you see what IP address host3 sees the inbound ssh coming fr

[2016-08-17 17:47] djosborne commented on #1102
@ishidawataru My concerns about resiliency weren't meant to question the stability of GoBGP, more that I'm hesitant to wipe out bird completely while we still have legacy customers who aren't expecting such a massive change. Instead, let's aim to merge this alongside the existing backend options in master.

I spoke with a few team members about the IPIP changes we've made to BIRD, but let's not wo

[2016-08-17 19:32] ThomasLohner commented on #1113
@robbrockbank Yes, you're right. I mixed up two test scenarios while writing this issue. The output was when i did not use --ip on host2 and host3. I've corrected the output above so it shows the current situation. sorry.

[2016-08-17 19:52] ThomasLohner commented on #1113
@liljenstolpe

It's an OpenStack Implementation at SysEleven, but i can reproduce this with every cloud provider where public ("floating") IPs are not assigned inside the vm.

[code]

[code]

Internal traffic between the vms host2 and host3 happens on 172.16.0.0/24. Only external Traffic (like to host1) gets NATed to 185.56.xxx.51 / 185.56.xxx.52:

[code]

I think the problem is that bird can't bi

[2016-08-18 03:11] ae6rt opened #1118 "/etc/rc.local for the calico-node container has a sed bug"
This line

[code]
in https://github.com/projectcalico/calico-containers/blob/master/calico_node/filesystem/etc/rc.local#L34

should read

[code]

so that the substitution works for more than two etcd nodes.

[2016-08-18 03:14] caseydavenport commented on #1118
I've got a patch for this here: https://github.com/projectcalico/calico-containers/pull/1119/files

[2016-08-18 09:50] ishidawataru commented on #1102
@djosborne done. please take a look.
https://github.com/ishidawataru/calico-containers/tree/dev

What do you think about moving [calico-bgp-daemon](https://github.com/ishidawataru/calico-bgp-daemon) repo under projectcalico?

[2016-08-18 16:17] robbrockbank commented on #1063
This is resolved with the latest release.

[2016-08-18 16:21] robbrockbank commented on #1082
It is now possible to pass in a felix environment into the container to disable this check.  This is in the latest node image (0.21.0)

[2016-08-18 16:22] robbrockbank commented on #1082
@djosborne Dan - can we close this?

[2016-08-18 16:24] robbrockbank commented on #1015
Fixed in calico-containers 0.21

[2016-08-18 16:24] #1015 closed

[2016-08-18 16:47] djosborne commented on #1102
@ishidawataru Looking good.

I think calico-bgp-daemon belongs here in calico-containers for now. It's a small enough piece that I don't want to have to maintain its own release schedule quite yet. Its long term home might be its own repo, or maybe as a library in Felix.

Let's try the following:
- put its source in `calico_node/calico-bgp-daemon/`
- add a makefile step: `make calico_node/bin/cali

[2016-08-18 16:50] #1082 closed

[2016-08-18 16:50] liljenstolpe commented on #1113
@ThomasLohner, we haven't forgotten you.  We're looking at this and will get back to you as soon as possible.

[2016-08-18 16:53] djosborne commented on #1082
There's still one piece of this left open - If `rp_filter=loose`, calicoctl node won't mention any failures, and felix will just continuously stack trace and restart once a container is launched. I think it'd be best to open a seperate issue at this point, as this one has been more of a diagnostic tracker.

[2016-08-18 18:25] ae6rt opened #1120 "Setting CALICO_DISABLE_FILE_LOGGING=true leads to failed rkt calico-node container startup"
Given this development-mode script to start calico-node under rkt

[code]

I find this in journalctl logs, which indicates some problems starting the runsv services:

[code]

If I remove

[code]
The services startup without incident.

@caseydavenport

[2016-08-18 20:08] #1118 closed

[2016-08-18 22:24] ae6rt opened #1121 "calicoctl node remove should warn when the invocation would produce no result"
calicoctl should complain when the target of a _node remove_ would produce no result because the node doesn't exist.

For example, if the given hostname exists in the etcd backing store, then the second invocation should produce a warning saying no such host exists:

[code]

[2016-08-18 22:25] matthewdupre commented on #1121
+1

[2016-08-19 01:01] caseydavenport commented on #1062
@robbrockbank what is the position on pinning version in the docs?  I thought master docs were meant to use the latest versions, whereas releases are supposed to pin these.

[2016-08-19 02:54] caseydavenport commented on #914
Needs re-test with v0.21.0

[2016-08-19 02:57] caseydavenport commented on #708
@eepyaich Are you the right assignee for this?

[2016-08-19 02:59] caseydavenport commented on #716
@matthewdupre what's the status on this guy?  @djosborne is this related to the recent `ipip` fix you made?

[2016-08-19 03:03] caseydavenport commented on #443
What do we need to do to close this out? Just pull in the latest upstream release here and test? https://github.com/projectcalico/calico-containers/blob/master/calico_node/build.sh#L30

Do we still have any outstanding patches in our fork that haven't been upstreamed?

[2016-08-19 03:05] caseydavenport commented on #1061
This PR attempts to do this in kube-up: https://github.com/kubernetes/kubernetes/pull/30598

[2016-08-19 04:37] ishidawataru commented on #1102
@djosborne done.
PTAL https://github.com/ishidawataru/calico-containers/tree/dev

[2016-08-19 16:00] djosborne commented on #1102
@ishidawataru Build images & containers are useful when there's a lot of dependencies, but I managed to modify the makefile step to instasll deps and build in one shot using the official golang image.

[code]

Can you update your Makefile to be the same? Then let's open this PR up and take a closer look at the code.

[2016-08-19 16:11] djosborne commented on #716
The `ipip` change I made no longer requires `calico/node`  be restarted when you add your first pool with `--ipip`. It uses confd to watch pools, and when one with `ipip` is added, it [does what node does at startup](https://github.com/projectcalico/calico-containers/blob/2d0b6d5d15a5556742f7af3cc076b00dcfcf6f11/calico_node/filesystem/startup.py#L70) - it allocates one IP from that pool and stores

[2016-08-19 17:54] caseydavenport commented on #1120
I've just tried reproducing this, though with some minor differences since I'm not using a clustered / TLS enabled etcd.

[code]

However, everything seems to start just fine.  Some more info:

[code]

OS Version:
[code]

[2016-08-19 19:47] ae6rt commented on #1120
Here is my environment:

[code]

[2016-08-19 19:59] caseydavenport commented on #704
Closing - the latest versions of the Calico CNI plugin handle k8s / docker / node restart much better, cleaning up IP addresses + workloads of stale pods.

There are still scenarios in which data is orphaned in etcd and won't be cleaned up.  That discussion is here: https://github.com/projectcalico/calico-containers/issues/1034

[2016-08-19 19:59] #704 closed

[2016-08-19 20:17] caseydavenport commented on #1034
As per https://github.com/tigera/libcalico-go/issues/67

We plan on adding this sort of feature to `calicoctl` in the Go release.

[2016-08-19 21:21] djosborne opened #1123 "Bird fails startup if /var/run/calico not volume mounted"
I'm using `docker run calico/node` to start node (instead of using `calicoctl`). I accidentally did not volume mount in `/var/run/calico` from the host, which means that `/var/run/calico` doesn't exist in the container. As a result, bird repeatedly fails with `2016-08-19_21:06:16.72566 bird: Cannot create control socket /var/run/calico/bird.ctl: No such file or directory`.

This was not a very int

[2016-08-19 21:30] caseydavenport commented on #1123
The question is, do we want to allow people to run `calico/node` without mounting in the `/var/run/calico` directory?

At the moment, this is only used for `bird.ctl`, which is only mounted to the host so that `calicoctl` can access BIRD.

On the one hand, if you don't plan on using `calicoctl` then it means you shouldn't need to mount in the directory.  However, it feels like it could be a big so

[2016-08-20 05:45] ishidawataru commented on #1102
@djosborne Sure. done.
https://github.com/ishidawataru/calico-containers/tree/dev

[2016-08-22 18:12] matthewdupre commented on #1123
I'd probably go the other way and just `mkdir -p` the directory in the container, so it doesn't fail.

A log (maybe info/warning) if the directory isn't mounted would be OK, but I don't think it's worth failing to start.  I don't love making calico-node "worse", because calicoctl doesn't give very good error messages.

[2016-08-23 00:12] danieldreier commented on #1107
I'm seeing what I believe to be the same issue. In my case, I'm running CentOS 7 with etcd 3.0.6 as set up follow the instructions from https://github.com/kelseyhightower/kubernetes-the-hard-way/blob/master/docs/03-etcd.md.

I've tried using ETCD_ENDPOINTS and get the same error. In my case, when I substituted the IP address for the fqdn of the etcd server, the error message stayed the same `ERROR

[2016-08-23 12:52] djosborne commented on #1102
@ishidawataru Looking good. Go ahead and open the PR for this.

[2016-08-23 13:09] ishidawataru commented on #1102
@djosborne Thanks for your review. Just opened a PR

[2016-08-23 13:14] #1102 closed

[2016-08-24 05:24] garo opened #1127 "Ability to use ipip only when communicating across different subnets"
Currently enabling ipip will force every connection to use ipip encapsulation. It would however be more optimal to let Calico to use native connection whenever both src and dst hosts are in the same network, but fallback to ipip when they are in different networks and when the cross network router doesn't support BGP (thus as in AWS EC2 VPC). This would give the best possible performance in both i

[2016-08-24 14:12] PranjalMishra commented on #1063
Running into this issue on DCOS cluster. Using the universe package of Calico 0.1.0. Is this issue fixed there?

[2016-08-24 14:48] shouhong opened #1128 "How to configure calico to use a different subnet other than 192.168.0.0/16?"
By default calico use 192.168.0.0/16 subnet to assign IPs to K8S Pods. How to configure it to use a customized subnet for a K8S cluster?

[2016-08-24 15:16] ae6rt commented on #1128
Like this

[code]

Depending on your server side networking, you may not need the *--nat-outgoing*.

[2016-08-24 15:33] shouhong commented on #1128
@ae6rt Thanks! After this change the new created Pods will get the IP in the new subnet. But I already have some pods been assigned 192.168.X.X IPs. How to make this change update the existing Pod's IP addresses immediately?

[2016-08-24 15:58] caseydavenport commented on #1063
@PranjalMishra - this should be fixed in version v0.21.0.  Could you make sure you're using that version (a la `calicoctl version`)?

[2016-08-24 16:01] caseydavenport commented on #1128
@shouhong - you need to delete and re-recreate those pods via kubernetes.  Currently, there is no mechanism to re-assign a new IP address to an existing pod.

The recommended way of configuring a different default pool is to do as @ae6rt said above _before_ starting any `calico/node` containers. Then, make sure you start `calico/node` with `NO_DEFAULT_POOLS=true` to prevent it from trying to creat

[2016-08-24 16:01] #1128 closed

[2016-08-24 17:57] gmcquillan opened #1129 "Package calicoctl on Kube-aws systems"
In cases where people are using the Calico networking CNI, calicoctl should be included so you can make changes to the network, diagnose issues.

[2016-08-24 18:11] PranjalMishra commented on #1063
@caseydavenport - thanks for the response. In the DCOS cluster I have following repos,
https://universe.mesosphere.com/repo
and
https://universe.mesosphere.com/repo-1.7
Both of these have Calico package which is older.

How to get v0.21.0?

[2016-08-24 18:31] #1129 closed

[2016-08-24 22:33] caseydavenport commented on #1063
@djosborne ^

[2016-08-25 17:57] krunal7558 opened #1131 "Please use IPv6 Documentation prefix"
Please use IPv6 prefix 2001:db8::/32 that is reserved via RFC 3849 in below help file.

https://github.com/projectcalico/calico-containers/blob/master/docs/calico-with-docker/without-docker-networking/IPv6.md

Use of ULA means all IPv6 communication has to be NATed for services that are exposed to internet via container.

[2016-08-26 08:12] highlyunavailable opened #1132 "Unable to get Calico to assign IPs to Kubernetes pods"
I'm not quite sure what I'm doing wrong but I'm following along [the docs](http://kubernetes.io/docs/getting-started-guides/ubuntu-calico/) of how to set up a "bare metal" (it's actually 9 Vagrant VMs on a local box) Kubernetes/Calico cluster and I'm unable to get Calico to assign an IP to a pod, but only on the Kubernetes side.

If I set kubelet to use `--network-provider=kubenet` I get this and

[2016-08-26 20:56] DreadPirateShawn commented on #1066
Well, I've had this custom binary starting & stopping in a loop for over a week now, in parallel with the legacy binary -- *none* of them have manifested the problem so far.

That being said, we can't really prove a negative, of course. It could be that starting & stopping the calico node itself isn't a sufficient repro, it may also only occur when a host has just booted up and docker service has

[2016-08-29 01:14] singhwang opened #1133 "Support for Docker Swarm mode"
Now,calico does not Docker 1.12 swarm mode.Whether can support Docker 1.12 swarm mode in the near future?

[2016-08-29 06:43] highlyunavailable commented on #1132
This was caused by setting the CNI_IFNAMES variable to something other than `eth0`.

[2016-08-29 06:43] #1132 closed

[2016-08-29 09:17] timstoop commented on #1063
Latest version still has this error on CoreOS stable:

[code]

[2016-08-29 09:28] lxpollitt commented on #1133
Yes, it should be supported in the future, but timing is unclear.  cc @mavenugo

[2016-08-29 10:19] SirEdvin commented on #1113
As I understand, now it's impossible.
I can configure bird to bind to one address and publish another, but felix ignore this and always use public address.

[2016-08-29 16:28] djosborne commented on #1063
@PranjalMishra Calico's DC/OS v0.2.0 was cut over the weekend. It includes node v0.21.0

[2016-08-30 08:34] pandasumm opened #1135 "cannot ping containers in other host"
i met two problems
1. I started 4 containers in two host. two(worker-1, worker-2) in host-1 and other two(worker-3, worker-4) in host-2. They are in the same profile. Through worker-1, it's ok to ping worker-2, host-1 and host -2, but cannot ping worker-3. below is some status in my host:

`root@calico01-S2600WTTR:~/Downloads# ./calicoctl status`
`calico-node container is running. Status: Up 16 mi

[2016-08-30 11:59] ae6rt commented on #1135
If your hosts are in EC2 you may have to disable src/dest routing checks

https://s3.amazonaws.com/uploads.hipchat.com/190289/1443365/OFPQPVt2BEymUFF/srcdestchk.png

and enable --nat-outgoing in the configured pool

[code]

[2016-08-30 15:07] CarlosOVillanueva opened #1136 "Unable to create pods on K8"
K8 Version: 1.3
CoreOS: 1153.0.0
Calico/Calico-IPAM: 1.3.1 (also tried the latest stable)
Calicoctl: latest
Network-Plugin: CNI
ENV: USE_CALICO=true

I have calico running on K8 and flannel disabled. I can confirm that calico networking is working, but all my pods are failing. The kubelet logs show the following error:

`
Aug 30 15:03:26 kube1.test.domain kubelet[1195]: E0830 15:03:26.711514    11

[2016-08-30 15:15] #1136 closed

[2016-08-30 15:16] CarlosOVillanueva commented on #1136
The calico and calico-ipam binaries were incorrect.

[2016-08-30 16:44] fasaxc commented on #1066
I'm happy to make a tentative fix here rather than do a dragged out repro.  That patch isn't production ready, though so we'll need to respin to avoid infinitely concatenating to the `all_output` string.

[2016-08-30 16:52] caseydavenport commented on #1132
@highlyunavailable - How were you setting the CNI_IFNAME variable to something other than eth0?    Is there a reason you'd like to be able to do this (I think it's just a limitation in k8s right now, but correct me if I'm wrong)

[2016-08-31 00:56] highlyunavailable commented on #1132
I don't _need_ this to be anything other than eth0 but I was setting it to `enp0s8` match the host's interface on the mistaken reading of the docs that that variable controlled which interface CNI bound the container to, not the name of the container's internal interface.

It is indeed a limitation of k8s.

How was just passing it as an environment variable as part of the Kubelet's env variables (

[2016-08-31 01:30] pandasumm commented on #1135
@ae6rt
thanks for help.
I'm using two physical machine, and they are in the same subnet.

[2016-08-31 08:34] adidenko opened #1138 "Ability to customize export filters is needed"
Right now export filter is quite restrictive as it allows to export only IP pools defined in Calico. As a cloud operator I may want to reuse existing Bird from calico/node to also export some additional routes needed for my infrastructure. For instance, export routes for all 'tap*' interfaces or for some specific IP addresses which are not a part of Calico pool.

[2016-09-01 06:42] rojingeorge commented on #1135
Hi Guys...I too faced same issue...
I am using normal physical machine on same segment and tried out the calico based docker network...
I also tried started the docker daemon using --icc=true, still didn't work
Both inter host and intra host containers are not able to communicate with each other.

[code]

Unable to ping other containers in same profile
[code]
Any help to find out the issue? or any

[2016-09-01 06:55] mikev commented on #1107
Sam, thanks for reporting this!

[2016-09-01 07:06] pandasumm commented on #1135
@rojingeorge
it seems we are facing different issues.
I solved my problem just now. Using`iptables -F` to disable the firewall, the status of calico is
`IPv4 BGP status
IP: 10.239.129.249    AS Number: 64511 (inherited)
+---------------+-------------------+-------+----------+-------------+
|  Peer address |     Peer type     | State |  Since   |     Info    |
+---------------+-------------------+-

[2016-09-01 07:15] rojingeorge commented on #1135
@pandasumm
I can ping from inside my container to the host machines, but not between the contianers.
There are two unique interfaces inside container. one the cali0 veth and other NIC actor the eth1. Tried pinging both the interfaces in other containers no luck with that.

I rechecked the felix rules, all seems to be allowed
[code]

[2016-09-01 07:43] pandasumm commented on #1135
@rojingeorge
um...
I followed this guide file:
[https://github.com/projectcalico/calico-containers/blob/master/docs/calico-with-docker/docker-network-plugin/README.md](https://github.com/projectcalico/calico-containers/blob/master/docs/calico-with-docker/docker-network-plugin/README.md)
To be honest, I cannot tell the exact issue you are facing.
There are some status of mine. Hope it's helpful to

[2016-09-01 08:57] rojingeorge commented on #1135
@pandasumm - I too followed similar steps.
I think, since I am inside a corporate proxy & firewall, I would to do further configurations...searching for helps

[2016-09-01 19:43] tomdee opened #1141 "Update Kubernetes docs (in this repo) to reference new CNI plugin release"

[2016-09-01 19:44] tomdee opened #1142 "Update Mesos docs (in this repo) to reference new CNI plugin release"

[2016-09-02 01:00] djosborne opened #1143 "libnetwork doesn't simply invalidate cache of libcalico"
The calico-libnetwork build [installs the libcalico code on one line of the Dockerfile](https://github.com/projectcalico/libnetwork-plugin/blob/master/Dockerfile#L21), then adds the libnetwork source code on another. Since the first step is cached, it can be easy for a user to build an image of libnetwork that relies on new libcalico, but is built with an older cached version.

Consider the follow

[2016-09-02 05:04] caseydavenport commented on #443
@fasaxc - Assigned this guy to you for tracking / retest when the new release comes out. Looks like we just need to wait... hasn't been a release in a while.

[2016-09-02 05:07] caseydavenport commented on #488
Not convinced this should be calicoctl's job - the next CNI plugin release, for example, will support this.

[2016-09-02 05:10] caseydavenport commented on #896
@robbrockbank - I believe we'll be adding this to the golang version of calicoctl.  Assigning to you for tracking - feel free to close if there is another issue tracking this!

[2016-09-02 21:22] tlvenn commented on #941
It would be pretty neat to do so. For people operating a consul cluster already, it's not really appealing to have to run an etcd cluster as well.

[2016-09-07 10:16] fasaxc commented on #941
We're working on introducing an API around the datastore.  Once that work is complete, we'd welcome contributions to add additional datastores.

[2016-09-07 15:29] ThomasLohner commented on #1113
@SirEdvin Can you explain how? I don't see options for this in `calicoctl node --help`

[2016-09-08 17:16] fvigotti commented on #1113
Hi,
I'm having the same issue with hetzner vps ( also scaleway and other providers have this kind of "nat" of public ip )
in a 3 node cluster  ( on hetzner vps ) :

+---------------+-------------------+-------+----------+-----------------------------------------+
|  Peer address |     Peer type     | State |  Since   |                   Info                  |
+---------------+-------------------+

[2016-09-08 20:05] caseydavenport opened #1146 "Add calico/kube-policy-controller:latest to do_release.py"
We should be pinning the policy controller in the docs for our releases.

[2016-09-08 22:09] caseydavenport commented on #914
Looks like we haven't shipped a mac binary for the last couple of releases :(

[2016-09-09 08:17] jiaoge commented on #1133
oh no!
@lxpollitt could you hurry up?

[2016-09-09 10:37] kongbo1987 opened #1147 "Fail to use calico in docker"
Hi:

I create the docker network via such command:

docker network create --driver calico --ipam-driver calico net1

However, it caught error response as below:
Error response from daemon: failed to update store for object type *libnetwork.network: client: etcd cluster is unavailable or misconfigured

How can I do with it, thanks.

 docker 1.12
 calico/node-libnetwork:latest
 calico/node:latest
 c

[2016-09-09 14:28] erandu commented on #1147
Hi,
It seems that you have a problem with etcd. Do you have configured etcd ?
Calico needs an external key/value cluster such as etcd to store data.

[2016-09-10 14:34] kongbo1987 commented on #1147
Yes I  have configured a etcd cluster,  and it seems good for Calico if I use command
calicoctl pool add 192.168.0.0/16
But not work with docker as a cluster store when use
docker network create --driver calico --ipam-driver calico net1

[2016-09-12 07:08] gosuri opened #1148 "docs: aws deployment instructions stability"
I was wondering if AWS instructions (https://github.com/projectcalico/calico-containers/blob/master/docs/cni/kubernetes/AWS.md) has ever been tested?

we're trying to pitch calico to a customer and seeing a perpetual stream of issues like projectcalico/calico-cni#171

[2016-09-12 08:05] fasaxc commented on #1148
projectcalico/calico-cni#171 is a new issue that we spotted on Friday; Calico seems to have been broken by k8s changes.  We've got someone working on it and we should have a fix out ASAP.

Closing this as a duplicate of projectcalico/calico-cni#171.

[2016-09-12 08:05] #1148 closed

[2016-09-12 09:24] gosuri commented on #1148
Great. Thanks. Looking forward to testing the update!

[2016-09-12 11:43] kongbo1987 opened #1149 "bird client does not work"
I  try calico in docker, and follow the doc, but I meet the problem above：
calicoctl version
0.22.0-dev

[root@192-168-6-240 ~]# calicoctl status
calico-node container is running. Status: Up 7 minutes
Running felix version 1.4.0

IPv4 BGP status
IP: 192.168.6.240    AS Number: 64511 (inherited)
Unable to connect to server control socket (/var/run/calico/bird.ctl): Connection refused
Couldn't conne

[2016-09-12 11:49] kongbo1987 commented on #1147
solved after  right config docker

[2016-09-12 17:45] caseydavenport commented on #1115
The latest getting started guides install the upstream CNI plugins.

[2016-09-12 17:45] #1115 closed

[2016-09-12 17:48] caseydavenport commented on #942
v1.4.0 CNI plugin is written in Golang so this issue can be closed :)

[2016-09-12 17:48] #942 closed

[2016-09-12 17:49] caseydavenport commented on #883
I think this is a duplicate of https://github.com/projectcalico/calico-cni/issues/135

[2016-09-12 17:49] #883 closed

[2016-09-12 19:32] caseydavenport commented on #957
@fasaxc we've since done numerous tests of k8s above the scale mentioned in this issue.  Can this be closed?

[2016-09-13 00:07] gunjan5 commented on #1149
@kongbo1987 what happens when you run this on on the host:
`sudo nc -U /var/run/calico/bird.ctl`
if that doesn't error out then type `show protocols` and see if it returns something.

It should look like this:
[code]

[2016-09-13 00:20] gunjan5 commented on #1149
Actually @kongbo1987, can you get the confd logs and see why confd can't generate the BIRD config file?
if you look under `/var/log/calico/confd`

[2016-09-13 01:18] kongbo1987 commented on #1149
2016-09-13T01:11:55Z 192-168-6-240 confd[42]: ERROR 501: All the given peers are not reachable (failed to propose on members [http://0.0.0.0:2379] twice [last error: Get http://0.0.0.0:2379/v2/keys/calico/ipam/v2/host/192-168-6-240/ipv6/block?quorum=false&recursive=true&sorted=false: dial tcp 0.0.0.0:2379: connection refused]) [0]

I looks like calico find the wrong etcd, but I have config the evn

[2016-09-13 02:19] kongbo1987 commented on #1149
fixed after right config etcd,  change ETCD_ADVERTISE_CLIENT_URLS to the right ip address

[2016-09-13 08:21] fasaxc commented on #957
I think so, didn't we track it down to IPAM contention, which we've now resolved?

[2016-09-13 08:21] #957 closed

[2016-09-13 11:12] kongbo1987 opened #1152 "How can I integrate calico with mesos?"
As calico can create a  profile by calicoctl and attach it to container,  how can I use this when I use mesos to create container?  This page https://github.com/projectcalico/calico-containers/blob/master/docs/mesos/ManualInstallCalicoUnifiedContainerizer.md  has introduced net-modules, how it works, I am now confused.
Anyone give a help?

Thanks.

[2016-09-13 16:06] gunjan5 commented on #1149
Glad to know that fixed it!

[2016-09-13 16:06] #1149 closed

[2016-09-14 03:26] matthewdupre commented on #1147
Glad you got it working @kongbo1987 :).

For anyone else reading this, I believe this is caused by the cluster-store option for the docker daemon not being set (properly).  (Please let us know if it was something else.)

[2016-09-14 03:26] #1147 closed

[2016-09-14 04:58] caseydavenport commented on #1008
Closing this, since I don't think it's a bug and it's currently not a valid way to access Services from outside of the cluster.

[2016-09-14 04:58] #1008 closed

[2016-09-14 05:01] caseydavenport commented on #1061
Docs in this repo now do this.

[2016-09-14 05:01] #1061 closed

[2016-09-14 15:02] djosborne commented on #1152
Hi @kongbo1987 the [Calico Mesos Integration Information](https://github.com/projectcalico/calico-containers/tree/master/docs/mesos#calico-networking-for-mesos) page has information on how calico Integrates with Mesos.

Net-modules is a 3rd party networking module for Mesos that is now deprecated. Calico has a plugin which is no longer supported for net-modules. Instead, we recommend using the Cal

[2016-09-14 22:59] gunjan5 opened #1154 "Include libnetwork to calico/node container"
- [ ] make libnetwork-plugin pip install-able
- [ ] check if `--libnetwork` flag is passed (for backwards compatiblity)
- [ ] check for `CALICO_LIBNETWORK_ENABLED` env var

[2016-09-15 00:23] tomdee commented on #1154
Are we sure that we need to check the `--libnetwork` flag at all?
Isn't `CALICO_LIBNETWORK_ENABLED` an environment variable?

[2016-09-15 16:32] gunjan5 commented on #1154
@tomdee yes, `CALICO_LIBNETWORK_ENABLED` is env var, fixed the description

For checking the `--libnetwork`, do we honor the flag or keep it for backwards compatibility but ignore it? CC @robbrockbank

[2016-09-16 01:21] matthewdupre opened #1155 "Can't use docker network names as profile names when they contain special characters."
You can `docker network create` a network with a name like `a/b`, which works, but attempting to use `calicoctl profile a/b rule show` (e.g.) fails, because / isn't accepted.

It's not valid for a Calico profile name, but perhaps we should accept it for the 'convenience' docker network name => profile uuid lookup?

What do people think?

[2016-09-16 17:35] gunjan5 opened #1156 "Makefile target 'setup-env' fails"
The build process explained in `docs/Building.md` doesn't work anymore because the `requirements.txt` doesn't exist in `calicoctl/` anymore.

https://github.com/projectcalico/calico-containers/blob/master/docs/Building.md#virtual-environment-build

[code]

If the process has changed then we need to change `Makefile` and `docs/Building.md`

[2016-09-16 19:39] matthewdupre commented on #1154
Duplicate of #1003

[2016-09-16 19:39] #1154 closed

[2016-09-16 19:39] matthewdupre commented on #1003
This is being worked on in https://github.com/projectcalico/libnetwork-plugin/pull/64

[2016-09-16 20:02] matthewdupre commented on #1098
Yet another "detect where/how Calico is running" problem.

[2016-09-16 20:05] matthewdupre commented on #1099
This isn't a Calico problem.  Really, it's a datadog issue, but a fix to #1024 may offer a workaround.

[2016-09-16 20:05] #1099 closed

[2016-09-16 20:08] matthewdupre commented on #1024
Another possible justification: the datadog bug in #1099 might be workable around by changing this.

[2016-09-16 20:10] matthewdupre commented on #1107
@caseydavenport is this anything to do with the SAN problem?

[2016-09-16 20:12] djosborne commented on #1100
@dp-farm  This completely slipped my mind -  Marathon-LB is for N/S traffic. If you're doing E/W traffic (i.e. container to container), you should not hit the Marathon-LB entry at all.

Instead, both Mesos-DNS and Navstar can provide a DNS record for your scaled task, which, when resolved, will point to one of the Calico IPs of that task. Container A can then route directly to Container B, without

[2016-09-16 20:31] caseydavenport commented on #1107
I think there are two distinct issues here.

1) I think this is exactly ae6rt says above - urllib3 doesn't respect IP SAN fields.  There is an upstream urllib3 fix here https://github.com/shazow/urllib3/pull/922.  We probably just need to wait until this gets propagated through to us, and use hostnames in the meantime.
[code]

2) @danieldreier is seeing this one.  It's being tracked here: https://

[2016-09-16 20:32] #437 closed

[2016-09-16 21:03] #710 closed

[2016-09-16 21:07] matthewdupre commented on #743
Closing as duplicate of #488.

[2016-09-16 21:07] #743 closed

[2016-09-16 21:12] matthewdupre commented on #797
@robbrockbank could you elaborate a bit more on the use case?

[2016-09-16 21:13] matthewdupre commented on #810
Closing this since we expect these tests to be retired in the near future (nearer than this issue is old anyway!)

[2016-09-16 21:13] #810 closed

[2016-09-16 21:20] matthewdupre commented on #873
It would be helpful if we could get the specific failure cases: perhaps `ip addr` output, and an indication of what was picked, and what should have been picked.

[2016-09-16 21:21] caseydavenport commented on #784
Assigning to Turk since he's going to be looking into our docs in the near future.

@djosborne I think the requirement here is a doc that explains the philosophy behind Calico's IPAM behavior, why one would use it, and what it does.

[2016-09-16 21:25] matthewdupre commented on #880
@robbrockbank Isn't this problem mostly moot (aside from the releasing part), since IPIPEnabled is only set when an IPIP pool is created?

[2016-09-16 21:27] caseydavenport commented on #873
One case I've hit numerous times -

A vagrant setup with an eth0 which is NAT'd for internet access, and then an eth1 which is host-local and is meant for cluster traffic. All the eth0 interfaces have the same `10.0.2.15` address, and the eth1 interfaces have `172.18.18.X` addresses.

Calico always picks `10.0.2.15`.  For this, being able to specific which interface to pick an address from would p

[2016-09-16 21:28] matthewdupre commented on #889
(Really, we should mostly remove ETCD_AUTHORITY from our docs, replacing with ETCD_ENDPOINTS as needed.)

[2016-09-16 21:28] caseydavenport commented on #873
Sticking this at P2 since I think people will start to feel the pain here with Kubernetes self-hosted.

[2016-09-16 21:32] caseydavenport commented on #899
@gunjan5 has been working on diags for the Go calicoctl tool.  Assigning to him to investigate.

[2016-09-16 21:55] matthewdupre commented on #906
It's wrong to use 'localhost' as the HOSTNAME (certainly if there's more than one node).

The best place to get calicoctl from is the Releases page on github (https://github.com/projectcalico/calico-containers/releases).  This should avoid problems with master not always being stable.

[2016-09-16 21:56] matthewdupre commented on #911
Guide has now disappeared: closing.

[2016-09-16 21:56] #911 closed

[2016-09-16 22:31] ae6rt opened #1158 "Documentation bug for calicoctl profile subcommand"
On this page

https://github.com/projectcalico/calico-containers/blob/master/docs/calicoctl/profile.md#calicoctl-profile-profile-rule-remove-inboundoutbound-allowdeny

the text says

[code]

The text should read

[code]

[2016-09-16 23:11] matthewdupre commented on #949
For the time being people may want to use Calico policy with some other network (e.g. Flannel => Canal).

Assigning this to @lxpollitt because I think he might be more in touch with any Azure discussions.

[2016-09-16 23:17] matthewdupre commented on #999
(Only P2 because we don't push Calico IPAM over Docker IPAM in the documentation.  If we added more of a steer, this can be P3.)

[2016-09-16 23:19] matthewdupre commented on #1005
Closing this, since it shouldn't affect the forthcoming calicoctl anyway.)

[2016-09-16 23:22] matthewdupre commented on #1009
Closing as duplicate of #1086.

[2016-09-16 23:22] #1009 closed

[2016-09-16 23:25] matthewdupre commented on #1043
(Rob to check against new version and close this if it's fixed there.)

[2016-09-16 23:26] caseydavenport commented on #1056
This is actually done now - see https://github.com/projectcalico/calico-containers/tree/master/docs/cni/kubernetes/simple-policy-demo

[2016-09-16 23:26] #1056 closed

[2016-09-19 16:25] caseydavenport commented on #979
@wrouesnel I believe the `calico/node` container supports this through the `CALICO_DISABLE_FILE_LOGGING` environment variable.  When set to "true", the container will produce logs visible through "docker logs".

[2016-09-19 17:18] mikev commented on #1107
A fix did go into 0.17.0 of libcalico -
https://github.com/projectcalico/libcalico/releases/tag/v0.17.0
calico 0.22.0 should be referencing libcalico 0.17.0.

On Fri, Sep 16, 2016 at 1:31 PM, Casey Davenport <notifications@github.com>
wrote:

[2016-09-19 17:25] caseydavenport commented on #1107
@danieldreier could you let us know if v0.22.0 fixes the issue you're seeing?

[2016-09-19 19:46] tomdee commented on #1000
This is fixed in the latest code. Closing

[2016-09-19 19:46] #1000 closed

[2016-09-19 19:48] #1158 closed

[2016-09-19 19:53] caseydavenport commented on #1023
@djosborne giving this one to you as one to consider as part of your docs work.

[2016-09-19 21:18] danieldreier commented on #1107
The k8s network plugin / calico portion of my project got pushed out a bit, so it'll probably be a week or two before I'm on that and can find out. I'll update the ticket when I know whether v0.22.0 fixes my issue.

[2016-09-19 21:38] #1141 closed

[2016-09-20 16:47] matthewdupre commented on #1135
@pandasumm good to hear you got it running.  There was probably a rule lying around blocking the BGP connection.  For future reference, it's safe(ish) to run `iptables -F` with Calico running: there'll be no security temporarily, but Felix will rewrite all of the Calico added rules within a minute.

[2016-09-20 16:55] matthewdupre commented on #1135
@rojingeorge Sorry to leave you hanging for so long.

What I suggest you do is first focus on traffic between containers on the same host.  If you can run tcpdump on the host (`tcpdump -vvv -i any icmp`, via /usr/bin/toolbox if it's CoreOS), then that's a good way to check that traffic is making it out of the source container.

If it isn't appearing at all, can I see `ip link`, `ip addr` and `ip r

[2016-09-20 22:49] djosborne commented on #1152
@kongbo1987 I haven't heard back from you so I am going to close this issue. Reopen or [contact us on slack](https://slack.projectcalico.org/) if you need more assistance.

[2016-09-20 22:49] #1152 closed

[2016-09-20 23:13] djosborne commented on #933
Closing as Won't-fix.

The only real use case we currently have for SRV entry compatability is DC/OS. However, it doesn't seem sensible to add SRV support when
1. We already work around this (by running etcd in proxy mode)
2. We recommend switching to the more stable approach of running etcd on the master manually and connecting to it via its CNAME domain name.

Folks who stumbled upon this issue,

[2016-09-20 23:13] #933 closed

[2016-09-23 15:18] yottatsa commented on #488
How about https://github.com/projectcalico/calico-cni/commit/48168e268a516738565cb782888958e6fb0ae20a ?

[2016-09-23 16:08] caseydavenport commented on #488
@yottatsa Yes, the Calico CNI plugin does this now :)

Leaving this open though since not all integrations use CNI.

[2016-09-23 18:43] caseydavenport opened #1165 "Automatically configure src/dst check in AWS"
As seen here:
https://github.com/kubernetes/kubernetes/blob/master/pkg/cloudprovider/providers/aws/aws_routes.go#L98

Raising this to track / get thoughts.  Might be useful if Calico provided a way to automatically configure settings like this (plenty of users get burnt by not realizing this setting isn't configured right).

Worth also understanding when this setting is configured in the k8s AWS c

[2016-09-23 18:46] caseydavenport commented on #873
@tomdee @matthewdupre What do you think of the proposal in my comment above?

[2016-09-26 07:24] tizhou86 opened #1166 "The cni 1.4.1 download binary is from something old, please check and fix it."
Hi the cni download version for 1.4.1 is broken, it's actually built from some 1.3.0+ version, since I can see the debug logs before 1.4.0, like "Querying Kubernetes API for Pod"... it takes me a day to figure it out, please fix it:-)

[2016-09-26 07:29] tizhou86 commented on #1166
Sorry, leave it to calico-cni project.

[2016-09-26 15:27] hectorj2f commented on #1071
@matthewdupre We can close this issue as we overcome the mentioned problems. Thx @matthewdupre

[2016-09-26 15:27] #1071 closed

[2016-09-26 16:15] caseydavenport commented on #1166
https://github.com/projectcalico/calico-cni/issues/181

[2016-09-26 16:15] #1166 closed

[2016-09-26 16:35] klynch opened #1167 "calicoctl node restarts the container even when running via systemd"
I have configured calico using the `cailco-node.service` configuration outlined in the [Kubernetes Integration](https://github.com/projectcalico/calico-containers/blob/master/docs/cni/kubernetes/KubernetesIntegration.md) docs. However, everytime I run `calicoctl node` the container is restarted.

This issue appears similar to #1098 in that calicoctl should detect how it is started and not attempt

[2016-09-26 17:48] TaiSHiNet opened #1168 "SSL error on calico-policy when not using default domain"
If K8S_API URL is not changed and your API certificates do not have 'kubernetes.default' SAN, calico-policy will fail (although it wont restart).
Out of this there are a few things to note:
- calico-policy-controller is not 'health checked'
- SSL could be disabled (or not)
- Update documentation to note that K8S_API should be set to a proper value

Describe pod calico-policy-controller:
[code]

Re

[2016-09-26 17:50] TaiSHiNet opened #1169 "etcd_endpoints in calico-configmap.yaml"
calico-configmap.yaml defaults etcd endpoints to 127.0.0.1, which will end up failing if there isn't a proxy running on every node.
Documentation could be updated to reflected this and/or only a 'master' node (running in the controller) could have interaction with etcd directly

[2016-09-27 01:19] wrouesnel opened #1171 "Make calico-node friendly to read-only filesystems / runc containerization"
As an improvement on running calico-node as a docker daemon (with the associated chicken-egg problem with calico-libnetwork), we've been looking at running it as a simple `docker-runc` service instead. This has the benefit of being easier to stream into a disk image on first provisioning, and running more natually as an init job rather then a docker job.

Unfortunately, the existing `calico-node`

[2016-09-27 21:36] tomdee opened #1172 "Revisit what should listed when running 'make help'"
Currently it's focused on just the top level helper commands

[2016-09-27 23:23] matthewdupre commented on #1167
Why do you need to run `calicoctl node` when there's a systemd unit managing it?

I don't see how calicoctl could skip this step anyway (given the systemd unit itself calls `calicoctl node`).

[2016-09-27 23:41] caseydavenport commented on #1169
I believe the docs already cover this: https://github.com/projectcalico/calico-containers/tree/master/docs/cni/kubernetes/manifests#etcd_endpoints

[2016-09-27 23:42] #1169 closed

[2016-09-27 23:46] caseydavenport commented on #1168
Yes, this could certainly be documented better.  Basically, the policy controller uses a cert that is mounted into the Pod by the kubelet which expects `kubernetes.default`.

One option would be to document mounting of other API access certs into the container.

We could also add an option to disable SSL verification (which is done by default when the cert is present)

[2016-09-27 23:48] tomdee opened #1173 "calico-bgp-daemon should be versioned"
..and should be able to report that version

[2016-09-27 23:48] TaiSHiNet commented on #1168
I managed to get it working by explicitly specifying a CA file
[code]
But yes, usually clusters are not signed with a 'known' CA.
Feel free to close/rename at will

Bests

[2016-09-27 23:49] caseydavenport commented on #1168
This is probably a separate issue.  I've raised this guy: https://github.com/projectcalico/k8s-policy/issues/44

[2016-09-28 08:57] hectorj2f commented on #488
@caseydavenport How could I configure the MTU of my `tunl0` ? My calico interfaces for the containers use MTU 1500 while my `tunl0` has `1440`. I know that I can modify the MTU of the calico containers with the new version. But I am not able to change the MTU of the `tunl0` for the ip-ip. How could we do that ?

I have a k8s cluster that uses calico as cni plugin.

[2016-09-28 15:27] klynch commented on #1167
The problem is a usability issue. `calicoctl node` has many sub commands for information gathering and other actions. An administrator will assume that the raw `node` command will display information or present the valid subcommands since many other programs behave that way.

Since my `calico-node` container is configured in the systemd unit file with a specific BGP AS number corresponding to the

[2016-09-28 20:44] gunjan5 commented on #1086
Fixed in the Go version # [115](https://github.com/projectcalico/libcalico-go/pull/115)

[2016-09-28 21:24] caseydavenport commented on #488
@hectorj2f - a little bit of digging found this: https://github.com/projectcalico/calico/blob/master/calico/felix/config.py#L279

It looks like you can configure the tunl0 interface MTU as Felix config.

[2016-09-28 21:36] hectorj2f commented on #488
@caseydavenport how can we configure it running `calico/node` using `calicoctl` ?
`/opt/bin/calicoctl node --ip=${DEFAULT_IPV4} --detach=false --node-image=calico/node:v0.21.0`

I saw you don't have arguments to pass the felix configuration. I understand that the only solution is to manually run calico/node without calicoctl. Am I wrong ?

[2016-09-28 22:02] caseydavenport commented on #488
Hmm.  Yes, the easiest way is probably to run `calico/node` without using `calicoctl`.  This will let you pass in whatever environment / file based configuration you'd like to.  I would have hoped that `calicoctl config` would let you set this, but apparently it does not.

I'd like to start moving our documentation that direction more generally anyway, since it's a more flexible and understandable

[2016-09-28 22:10] caseydavenport commented on #610
Consolidating with this issue: https://github.com/projectcalico/calico-containers/issues/488

Please carry on any conversation there :)

[2016-09-28 22:10] #610 closed

[2016-09-28 22:12] caseydavenport commented on #488
Linking related issue (https://github.com/projectcalico/calico-containers/issues/610) and re-purposing to cover general MTU configuration support, where I think the current status is like so:
- Calico CNI plugin allows configuration of container veth MTU, default 1500.
- Felix allows configuration of tunl0 MTU, default 1440 (but this isn't exposed through calicoctl)
- Docker libnetwork does not pr

[2016-09-28 22:41] hectorj2f commented on #488
I'd also like to be able to configure it via `calicoctl config`. Thanks for the effort @caseydavenport. I'll keep 👀  in these issues.

[2016-09-28 23:02] caseydavenport commented on #826
The reasoning being that not all `calico/node` deployments will use systemd/journalctl.  Kubernetes self-hosted deployments being one example.

[2016-09-29 00:45] matthewdupre commented on #1167
Ahh, I understand.

We've got a substantial rewrite of calicoctl in progress, which won't behave like this (our current plan is to not do any docker running, instead having commands that produce a systemd unit or `docker run` line).

I expect we'll switch over in the next month or two.

[2016-09-29 05:47] pandasumm opened #1175 "How can I get a new calicoctl file"
Hi,
Because of the special network setting of my development environment, I've modified some files in
`calico-containers-master\calicoctl\calico_ctl` and
`libcalico-master\calico_containers\pycalico`.
I wonder if I can get a new  executable `calicoctl` to take place of the download file "http://www.projectcalico.org/builds/calicoctl".

 Or are there some related docs I can refer to?

thanks a lot

[2016-09-29 14:28] xh3b4sd opened #1176 "calicoctl endpoint remove is documented but not implemented"
As documented on [how to stop a calico node](https://github.com/projectcalico/calico-containers/blob/8bc12f020191232156c391b2b36c9ed7d1e218f2/docs/calicoctl/node.md#calicoctl-node-stop) it is advised to call `calicoctl endpoint remove`. This in fact results into the following.

[code]

I feel like I am doing something fundamentally wrong. Can somebody provide feedback here?

[2016-09-29 14:34] xh3b4sd opened #1177 "calicoctl node stop --force does not forward the received signal"
I have a unit similar to this just to demonstrate the issue. Note that the image `giantswarm/node:v0.22.0` is only re-tagged from the original release.
`systemctl start <unit>` starts the unit, but `systemctl stop <unit>` does not stop it properly. The stop action always times out end fails with `<unit>: Failed with result 'timeout'`.

I can reproduce this issue with systemd `225` which is shipped

[2016-09-29 14:42] xh3b4sd opened #1178 "calicoctl leaks `/tmp/_MEI*` directories on start"
This issue is similar to https://github.com/projectcalico/calico-containers/issues/942. It is only that it does not effect the `calico-cni` plugin, but `calicoctl` itself. Further the leaked directories are created when running `calicoctl node --ip=${DEFAULT_IPV4} --detach=false --node-image=giantswarm/node:v0.22.0`. Note that the image giantswarm/node:v0.22.0 is only re-tagged from the original r

[2016-09-29 14:45] aleks-v-k opened #1179 "confd does not reсover after etcd was temporary unavailable"
If etcd is unavailable for confd for some reason, then confd first writes in the log:

[code]

After this it will begin write to log infinitely

[code]

and this will not finish even after etcd become alive.
The simplest way to reproduce - stop etcd for a few seconds, and start it again.

Confd from upstream (tested with https://github.com/kelseyhightower/confd/releases/tag/v0.12.0-alpha3) does no

[2016-09-29 17:50] ssergiienko commented on #1107
@caseydavenport @danieldreier Hi! I'm struggling with the same issue and I've tried calicoctl v0.22.0
but it doesn't fix the problem, the only thing it doing better is a more verbose error message than v0.20.0.

v0.22.0 (from our deploy script):
[code]

We upgraded from etcd 2.2.5 to 2.3.7 and now have this problem with new etcd

Do you now any workaround for this?

[2016-09-29 21:41] matthewdupre commented on #1175
From libcalico: `make build-container`
From calico-containers: `make binary`, and your binaries should be in dist/.

[2016-09-29 21:45] matthewdupre commented on #1176
That might be a typo for calicoctl container remove.  Could you try it and let me know if the doc works modulo that substitution?  If so I can update the doc (or you could make a PR for it if you like).

[2016-09-30 17:33] carsonoid opened #1182 "Kubernetes NetworkPolicy - Felix only creates rules for local containers"
I have a two node Kubernetes cluster running on AWS.  Communication between pods on different nodes via calico works just fine. However when I enable network isolation and add policies to allow inter-pod communication it only works when both pods are on the same host.

I checked iptables and felix is creating rules to allow traffic from specific mac addresses but only for containers on the local n

[2016-09-30 17:38] carsonoid commented on #1182
Moving this to the felix project

[2016-09-30 17:38] #1182 closed

[2016-09-30 18:11] gunjan5 commented on #1154
Fix in #1180

[2016-09-30 20:29] matthewdupre commented on #1177
I tried that service out, and didn't see the timeout error.  It did take some time (seconds) for the `systemctl stop` to return, but no error.

[code]

Can you give any more information on a repro?  I tried it on an (admittedly far from fresh) Ubuntu Wily / Linux 4.5.

[2016-09-30 20:42] matthewdupre commented on #1178
These are created by pyinstaller: the way we're now distributing Felix for calico-node.  See https://pythonhosted.org/PyInstaller/operating-mode.html#how-the-one-file-program-works

It should always be safe to delete them as long as calicoctl isn't running.  I also expect the problem will go away completely in the next couple of months when we replace the current calicoctl with one written in go (

[2016-09-30 21:00] matthewdupre opened #1183 "calicoctl doesn't work on GCI."
The current `calicoctl` uses pyinstaller in a mode that extracts files to /tmp.

Unfortunately on GCI, /tmp is noexec, so calicoctl doesn't work:

[code]

This isn't the only problem with pyinstaller: #1178.

[2016-09-30 21:01] matthewdupre commented on #1183
This will get fixed by the go version of calicoctl in a couple of months, but in the meantime if anyone is having problems because of this please post here so we can appropriately prioritise a temporary fix.

[2016-10-02 12:20] tlvenn commented on #941
Hi @fasaxc , that's pretty good news ! Is there any estimate as when this API will surface ? Thanks !

[2016-10-03 19:59] matthewdupre commented on #1175
Closing this for now: feel free to reopen or ask on Slack (slack.projectcalico.org) if you have any trouble.

[2016-10-03 19:59] #1175 closed

[2016-10-04 00:30] matthewdupre commented on #1107
@caseydavenport - the urllib3 fix was released in 1.18 a week ago, so we can upgrade to that version now.

[2016-10-04 00:32] ae6rt commented on #1107
Looking forward to this. Thank you!

[2016-10-04 12:47] #947 closed

[2016-10-04 15:56] fasaxc commented on #941
@tlvenn The API is in libcalico-go: https://github.com/projectcalico/libcalico-go/blob/master/lib/backend/api/api.go, which will be used by Felix in due course.  Right now, there's only an etcdv2 implementation. In the etcd package.

If you're interested in contributing an alternative, you should come chat to us on the calicousers slack in the calico-dev channel.  While we've got an API, we don't

[2016-10-04 18:06] caseydavenport commented on #1138
@neiljerram I believe you've been involved here, so assigning to you!

[2016-10-04 18:56] tlvenn commented on #941
@fasaxc wouldnt it be simpler to integrate https://github.com/docker/libkv ? So that all backends such as etcd, consul, zookeeper are already handled ?

[2016-10-05 08:12] fasaxc commented on #941
@tlvenn I don't think libkv provides what we need for Calico right now.  We'd need a GetTree operation and a version of WatchTree that supported consistency guarantees vs the values returned from GetTree.

We also have in mind to support non-KV-based datastores behind our API, which is why our API is one layer of abstraction above libkv (it uses typed structs for its keys and values).

We'd welcom

[2016-10-05 10:28] fasaxc opened #1185 "system tests: LOCAL_IP_ENV setting ignored/broken in some cases"
`Building.md` mentions a `LOCAL_IP_ENV` environment variable, which it says controls what local IP etcd will bind to but it doesn't seem to be honoured by all of the test code:

I ran `sudo LOCAL_IP_ENV=172.17.0.1 make st` and it looked like it started etcd correctly:

[code]

But the tests then fail at this stage, using the wrong IP (`192.168.171.128`):

[code]

[2016-10-05 10:34] fasaxc opened #1186 "make st relies on specific iptables configuration"
I'm trying to test golang felix with the calico-containers STs but I'm having trouble getting them to run.  They seem to hang at this stage:

```docker exec -it host1 sh -c 'export ETCD_AUTHORITY=192.168.171.128:2379; export ETCD_SCHEME=http; export ETCD_CA_CERT_FILE=; export ETCD_CERT_FILE=; export ETCD_KEY_FILE=; /code/dist/calicoctl bgp default-node-as 4294.566'```

Eventually timing out with a

[2016-10-05 10:43] fasaxc commented on #1186
OK, this turned out to be a misconfigured iptables INPUT chain policy.  For some reason my INPUT chain had policy DROP, which was dropping the etcd traffic.  Lance's machines had policy ACCEPT.
[code]
is one way to find out the policy
[code]
to change.

[2016-10-05 10:44] fasaxc commented on #1186
Could/should we make the STs more robust to this sort of config change?  If we ran etcd in a container with its own IP (rather than host networking), wouldn't that do the trick?

[2016-10-05 12:20] fasaxc commented on #1178
@matthewdupre Felix is packaged as a single-dir PyInstaller bundle to avoid this problem.  I think the issue is that calico/node now uses PyInstaller to package some of the other python apps that are in calico/node as well as calicoctl itself.

[2016-10-05 13:01] tlvenn commented on #941
Thanks for the clarification @fasaxc , I guess it was worth to check ;)

[2016-10-05 13:15] xh3b4sd commented on #1177
Thanks for coming back on this one so quickly. I updated the issue description and hope this helps reproducing the problem.

[2016-10-05 13:26] xh3b4sd commented on #1177
What I also find weird is that the journal on start only says `Started Calico node.`. Only when executing `systemctl stop` there comes log output which is actually related to the start up process.

[code]

[2016-10-05 13:27] xh3b4sd commented on #1176
I think it is a typo in the docs and `calicoctl container remove` does the trick.

[2016-10-05 17:20] klynch commented on #1167
Will this rewrite be available in a branch anytime soon?

[2016-10-05 19:07] aleks-v-k opened #1190 "DefaultEndpointToHostAction option become overwritten after node rebooting"
I run calico-node in docker container via `calicoctl node --ip=node ip` and it turns out that etcd key `/calico/v1/host/<node hostname>/config/DefaultEndpointToHostAction` is set to 'RETURN'. If I change it to 'DROP' it works until rebooting the VM. After rebooting it is set to 'RETURN' again.
What is the reason for such behavior? In my opinion, the desirable way is to not overwrite the setting if

[2016-10-05 20:02] micahhausler opened #1191 "Automatically get the injected Service Account token for Kubernetes"
Currently to use with Kubernetes, [you have to specify a `k8s_auth_token`,](https://github.com/projectcalico/calico-containers/blob/698d55bfdb891db18be1c6ec3a3aa8bcf1b37bd3/docs/cni/kubernetes/manifests/README.md) but Kubernetes injects a token at [`/var/run/secrets/kubernetes.io/serviceaccount/token`](http://kubernetes.io/docs/user-guide/service-accounts/)

It would help a lot in terms of automat

[2016-10-05 20:26] caseydavenport commented on #1191
@micahhausler The latest `calico/cni` container actually does do this if you're using it with a self-hosted installation.

See here: https://github.com/projectcalico/calico-containers/tree/master/docs/cni/kubernetes/manifests#cni_network_config

Are you thinking of this in another context?

Also note that k8s_auth_token isn't required - you can also use certificate based API authentication.

[2016-10-05 21:06] JohnOmernik commented on #1086
Hey all, I'd like to reopen this in that this solution only addresses K8s and not other uses (like DCOS/Mesos/Marathon)  Relying on the name of the container is not a good way, and shouldn't be used because there are cases we don't have control over the name (mesos doesn't include calico-node).

One of the other options above "Check for calico/node image name" is better, however, this assumes that

[2016-10-05 21:23] caseydavenport commented on #1086
@JohnOmernik thanks for chiming in - we definitely want to make sure this fix is generally applicable.

I think an ENV variable + checking for the image rather than the name could be a valid solution.

It looks like @gunjan5 has already done some work to make this command run even when Calico is not running in a container (https://github.com/projectcalico/libcalico-go/pull/149)

@gunjan5 I haven't

[2016-10-05 21:33] gunjan5 commented on #1086
@caseydavenport in Go version, it just looks for the calico processes so container name wouldn't matter anymore

[2016-10-06 21:45] matthewdupre commented on #1190
Quick question: is this OpenStack or containers?

[2016-10-06 21:46] tomdee commented on #1185
@lwr20 You might be better placed to resolve this than me?

[2016-10-06 21:52] micahhausler opened #1194 "Cannot remove dead node from k8s cluster"
I'm running calico on a kubernetes cluster, and noticed that there are multiple dead nodes listed when I run `calicoctl status`:

[code]

When I go to remove the dead nodes (any without the INFO of "Established"), I get the error

[code]

[2016-10-06 22:00] micahhausler commented on #1191
I thought that `__SERVICEACCOUNT_TOKEN__` was a placeholder for the operator to fill in, I didn't realize that there was a script `sed`ing a replacement for `__SERVICEACCOUNT_TOKEN__`

[2016-10-06 22:00] #1191 closed

[2016-10-06 22:14] micahhausler commented on #1194
As a workaround, I removed all the dead hosts records from `/calico/ipam/v2/host/{host}` in etcd, and then had no problem deleting each node with `calicoctl node remove --hostname {host}`

[2016-10-06 22:46] matthewdupre commented on #1194
Were there any containers left on those nodes?

[2016-10-06 22:47] micahhausler commented on #1194
They had running containers when they were killed off

[2016-10-06 23:05] micahhausler opened #1196 "calicoctl profile rules example is invalid"
The help message for profile rule  manipulation outputs an invalid ruleset

[code]

The last command is invalid and only produces the help message

[code]

[2016-10-07 04:46] aleks-v-k commented on #1190
@matthewdupre It is containers - kubernetes.

[2016-10-07 07:55] lwr20 commented on #1185
Yep - I'll take a look today

[2016-10-07 08:11] fasaxc commented on #1196
Should be `... from cidr 192.168.0.0/16` IIRC

[2016-10-07 13:31] fasaxc opened #1201 "hostname -i doesn't work to find IP address inside docker container"
With normal docker networking, `hostname -i`run from inside the container shows the containers IP address but this doesn't work when networked with Calico.

[2016-10-07 13:38] ae6rt commented on #1201
I find that _hostname -i_ works from inside a pod networked with Calico.  Hmm.

[code]

[code]

[code]

[2016-10-07 13:41] aslanbekirov commented on #1201
I am using it in Mesos environment, and I am not using latest Mesos, so we dont have pod yet. and `hostname -i` does not work

[2016-10-07 14:05] aslanbekirov commented on #1201
But if the goal is to get the hostname by someway , `networkctl status | awk '/Address/ { print $2 }'` works if you have networkctl installed

[2016-10-07 15:19] #1185 closed

[2016-10-07 17:03] djosborne commented on #1041
This issue was moved to projectcalico/calico#61

[2016-10-07 17:03] #1041 closed

[2016-10-07 17:20] djosborne commented on #708
This issue was moved to projectcalico/calico#62

[2016-10-07 17:20] #708 closed

[2016-10-07 17:20] djosborne commented on #784
This issue was moved to projectcalico/calico#63

[2016-10-07 17:21] #784 closed

[2016-10-07 17:22] djosborne commented on #889
This issue was moved to projectcalico/calico#64

[2016-10-07 17:22] #889 closed

[2016-10-07 17:22] djosborne commented on #991
This issue was moved to projectcalico/calico#65

[2016-10-07 17:22] #991 closed

[2016-10-07 17:23] djosborne commented on #1023
This issue was moved to projectcalico/calico#66

[2016-10-07 17:23] #1023 closed

[2016-10-07 17:24] djosborne commented on #1142
This issue was moved to projectcalico/calico#67

[2016-10-07 17:24] #1142 closed

[2016-10-07 17:25] djosborne commented on #1176
This issue was moved to projectcalico/calico#68

[2016-10-07 17:25] #1176 closed

[2016-10-07 17:42] #1186 closed

[2016-10-07 17:44] matthewdupre commented on #1201
What was the container you were running (and does it reproduce in a reasonably capable container: say an ubuntu), and what did `ip addr list` look like in that container?

[2016-10-07 17:45] tomdee commented on #1156
Fixed by #1197

[2016-10-07 17:45] #1156 closed

[2016-10-10 10:56] SirEdvin commented on #1113
@ThomasLohner I edit bird.cfg file and change route to external ip addresses.

[2016-10-10 13:28] ZhenyangZhao opened #1205 "Calico with docker : can not ping from one container to other container in diffenrent host but same net."
There are my environment
docker: 1.12.1
calicoctl: 0.21.0
calico/node:v0.21.0
calico/node-libnetwork:v0.9.0

I do according to the document : http://docs.projectcalico.org/master/getting-started/docker/tutorials/basic but it doesn't works.

i use calico ipam driver in none cloud env.

when i check this i found it doesn't work.

[code]

![image](https://cloud.githubusercontent.com/assets/7477708/19

[2016-10-10 15:43] bobrik commented on #1107
Seeing `SSL: TLSV1_ALERT_PROTOCOL_VERSION] tlsv1 alert protocol version (_ssl.c:590)` as well, really looking forward to the next release.

[2016-10-12 01:08] matthewdupre commented on #1205
Could you please test between two containers on the same host?
- If that doesn't work, please could you attach the diagnostics (`calicoctl diags`)
- If it does it's possible that the switch is dropping the packets: could you run a `tcpdump -i eth0 -vvv icmp` on both hosts while trying the ping to confirm if this is happening.  If they are being dropped in transit (packets appear on the source but

[2016-10-12 01:11] ZhenyangZhao commented on #1205
@matthewdupre  I will try it as you say. Thanks a lot.

[2016-10-12 09:10] xh3b4sd commented on #1177
Hello there. I wanted to check back and see if there are any new information on this issue. Cheers.

[2016-10-12 09:11] xh3b4sd commented on #1178
Hello there. I wanted to check back and see if there are any new information on this issue. Cheers.

[2016-10-12 14:43] bobrik commented on #1107
I did some digging and it doesn't look like `urllib3` upgrade will fix anything. The issue was fixed in `etcd` client, but that fix was never released:

* https://github.com/jplana/python-etcd/commit/80f936963773053c36ebdff5185147b5e127f94d

The latest release of `python-etcd` is from 2015-12-14 (10 month ago).

The root cause is that current version of etcd client forces TLSv1.0, while Go runtime

[2016-10-12 16:13] caseydavenport commented on #1107
@bobrik - We maintain a fork of python-etcd, which has the desired changes.

The urllib3 fix is a separate issue from the one you're describing.  I've been rather busy the past week but I hope to get back to this soon and address both issues.

[2016-10-12 16:21] bobrik commented on #1107
@caseydavenport the image doesn't have these changes:

[code]

[2016-10-12 16:36] bobrik opened #1208 "IP is not being propagated to confd"
[code]

Line 5 looks like this:

[code]

When I run the `node` container manually, I can see why `IP` is not being populated:

[code]

In `/etc/rc.local`:

[code]

These env variables (`IP` and `HOST`) are not propagated to `confd`.

[2016-10-12 17:54] caseydavenport commented on #1107
@bobrik Yep, I noticed that as well.  Planning on digging into _why_, since I thought it was supposed to..

[2016-10-12 20:17] xh3b4sd opened #1209 "Add ST for: tunl0 takes 4 minutes to be re-created after calico container restart"
I have the following systemd units running on a systemd `225`. One runs calico, one restarts it. The restart is required for certificate renewal. I already created issues about the restart behaviour in https://github.com/projectcalico/calico-containers/issues/1177 and https://github.com/projectcalico/calico-containers/issues/1178.

[code]

[code]

When running the following command it shows that i

[2016-10-12 20:19] xh3b4sd opened #1210 "missing support for hot reloading configuration"
We want to run calico within an end-to-end encrypted Kubernetes cluster. Therefore we need to renew certificates frequently. This requires all components involved, including calico, to be provided with new certificates after a specific amount of time. Our current approach is to restart calico which results in several issues as I already pointed out in https://github.com/projectcalico/calico-contai

[2016-10-12 23:07] matthewdupre commented on #1183
Felix now uses single-directory mode.  The remaining problem is at https://github.com/projectcalico/calico-containers/blob/c1ab02263f83bb43cf72c1311b53970991e32c90/Makefile#L65.

[2016-10-13 00:06] caseydavenport commented on #1183
@matthewdupre Another option here is using the `calico/ctl` container.

[2016-10-13 07:22] bobrik commented on #1208
It's 0.22.0

[2016-10-13 09:33] bobrik commented on #1208
Just to be clear:

* It works when I supply `-e IP=1.2.3.4` in `docker run`
* It doesn't work when I supply `-e IP=` in `docker run`

The latter is suggested by k8s guide.

[2016-10-13 12:13] bobrik commented on #1107
Fix: 2016-09-01 https://github.com/projectcalico/libcalico/commit/fae9854b

k8s-policy: 2016-08-17 https://github.com/projectcalico/k8s-policy/releases/tag/v0.3.0. The latest release happened before the fix. Hence the issues with that.

calico/node [does](https://github.com/projectcalico/calico-containers/blob/2d59018cb550464f98b9582ea0a42c6932e7a84b/calico_node/Dockerfile#L39) the following:

[co

[2016-10-13 12:14] bobrik commented on #1107
The fact that `calico/node` installs libcalico without asking for any particular version is also very sad.

[2016-10-13 15:18] caseydavenport commented on #1107
@bobrik `calico/node` on _master_ installs the latest libcalico version.  It helps us spot when things break between the two.

When we do a release, the libcalico version is pinned.

[2016-10-13 15:35] caseydavenport commented on #1107
- https://github.com/projectcalico/libcalico/pull/153
- https://github.com/projectcalico/felix/pull/1125
- https://github.com/projectcalico/k8s-policy/pull/48/files
- https://github.com/projectcalico/calico-containers/pull/1184/files

The above PRs add / propagate the urllib3 fix to libcalico, felix, the policy controller, calico/node and calicoctl.

[2016-10-13 17:22] #1190 closed

[2016-10-13 17:29] aleks-v-k commented on #1190
@matthewdupre Thanks!

[2016-10-13 18:59] djosborne commented on #1017
This issue was moved to projectcalico/libnetwork-plugin#65

[2016-10-13 18:59] #1017 closed

[2016-10-13 21:03] ThomasLohner commented on #1113
Any news on this? I'd really love to span calico network over multiple cloud providers...

[2016-10-14 09:19] ZhenyangZhao commented on #1205
@matthewdupre
i try to ping two containers on the same host.it works.
i run the command calicoctl pool remove 192.168.0.0/16 && calicoctl pool add 172.18.0.0/16
it can not ping from one container to other container in diffenrent host but same net
i chanage to mode ipip nat-outgoing also can not ping too.

my host is openstack vm(ovs network)

this is i use ipip & nat-outgoing
docker exec workload-

[2016-10-14 10:54] bobrik opened #1212 "Docs skip the fact that kubeconfig is required"
- http://docs.projectcalico.org/v1.5/getting-started/kubernetes/installation/

[code]

This fails because there is no `kubernetes` key here, error coming out of calico cni:

[code]

`calico/cni` repo mentions the key:
- https://github.com/projectcalico/calico-cni/blob/master/configuration.md#kubernetes-specific

It's also not very clear from the error what kind of config is required.

[2016-10-17 01:31] caseydavenport commented on #1212
I think this changed in v1.4, as there are no longer default values for `k8s_api_root`, etc.

[2016-10-17 14:39] swqmaven opened #1217 "used k8s and calico cni plugin"
deploy successful! but in k8s node calico node is not unhealthy!
the following log

[code]

[code]

thanks for help!

[2016-10-17 15:52] kovert commented on #1086
What about going through a list of things and going with the best match?   An environment variable  always wins, followed by a config file, the container named calico-node, the container with the label io.kubernetes.container.name=calico-node, the equivalent for mesos, the same for other things, all else fails go with the image name?  It seems like none of these are perfect, but making a best gues

[2016-10-17 23:16] dkoshkin commented on #873
I ran into a very similar scenario as your described @caseydavenport, in Vagrant there are 2 IPs in the `eth1` interface (one assigned via DHCP in Virtualbox) a wrong IP was chosen. What does the `--IP` option do in `calico node`, does that not specify the IP to use? Because it was using the wrong IP bird was failing to reach the other hosts.

[2016-10-18 05:22] SlevinBE commented on #971
Hi @ajaybhatnagar, can you clarify which options you had to specify to make this work? I think I'm running into the same issue.

[2016-10-18 08:56] sigxcpu76 opened #1218 "Image fails to download"
Deploying calico used to work last week, but something changed today when I've tried a new k8s deployment using kubeadm.

[code]

[code]

The DNS is fine, because all other kubernetes components downloaded successfully, including calico-etcd.

[2016-10-18 09:05] sigxcpu76 commented on #1218
It looks like cloudfront host has maaany addresses and the DNS packet size is > 512 bytes. This triggers a go/docker (?) error. Limiting DNS server (192.168.28.1) packet size to 512 bytes managed to fix this issue.

This is not calico, but docker issue, because docker pull was failing, outside calico/kubernetes.

[2016-10-18 09:05] #1218 closed

[2016-10-18 18:32] dkoshkin opened #1220 "Can't ping pod IP from node with --register-schedulable=false"
Versions:
- calico-node - `v0.22`
- calico-cni - `v1.4.2`
- k8s - `v1.4.0`
- etcd - `v2.3.7`

Centos7 on packet.net

[code]

[code]

[code]

[code]
---

I have 4 nodes in the cluster
- 1 as a "master"(`node01`) : running kubelet with `--register-schedulable=false`, kube-proxy, kube-controller, kube-apiserver, and kube-scheduler, along with calico-node
- 2nd as a "master" and a "worker"(`node02`) :

[2016-10-18 19:44] dkoshkin commented on #1220
New findings, looks like its unrelated to `--register-schedulable=false` and to Calico, looking at the `kube-proxy` logs of the broken node I see that the service is being restarted and there is an a message `missing br-netfilter module or unset sysctl br-nf-call-iptables; proxy may not work as intended`
[code]

Restarting the `kube-proxy` fixed the issue. Will post an update if I find anything ab

[2016-10-19 08:29] n-marton commented on #1086
Or you can use this version: https://github.com/n-marton/calico-containers/releases/tag/v0.22.0k8s

--runtime=k8s

[2016-10-19 10:43] kharisj opened #1222 "All canal container CrashLoopBackOff with default kubeadm initialize"
I'm new for kubernetes and I choose canal for my kubernetes network.
I struck with this error for a week and I cannot bring kube-dns up. For more information I try to compare with weave network. in my kubernetes with weave was succesful and I hope canal will be more powerful than weave. error as following

[code]

[canal.txt](https://github.com/projectcalico/calico-containers/files/538674/canal.tx

[2016-10-19 15:44] ajaybhatnagar commented on #971
Need to set DOCKER_OPTS="--cluster-store=etcd://<ETCD_SERVER_IP_ADDRESS>:<ETCD_PORT>"

and also export environment variable ETCD_AUTHORITY=<ETCD_SERVER_IP_ADDRESS>:<ETCD_PORT>

[2016-10-19 15:46] ajaybhatnagar commented on #971
Missed info in previous update.
Need to set DOCKER_OPTS="--cluster-store=etcd://ETCD_SERVER_IP_ADDRESS:ETCD_PORT

and also export environment variable ETCD_AUTHORITY=ETCD_SERVER_IP_ADDRESS:ETCD_PORT

[2016-10-20 18:03] caseydavenport commented on #873
@dkoshkin Yes, the `--ip` option will specify the IP address to use.  There are a number of scenarios where it isn't easy to automate populating that field, so this issue is about making the auto-detection better to handle those cases.

[2016-10-20 20:46] caseydavenport commented on #1220
I think this is a red-herring.  When using Calico, that module isn't required. Calico doesn't use a bridge, and so all traffic is sent through iptables without that module installed.

I also noticed you're running `calicoctl pool add ${SERVICE_CIDR} --nat-outgoing --ipip`.  I can't say for sure if this is related to the issue you're seeing, but in general you shouldn't add the Service CIDR as a Ca

[2016-10-20 20:58] caseydavenport commented on #1222
@kharisj It looks like etcd is failing to start, and is likely causing the other components to fail to start as well.

Could you take a look at the logs for the etcd pod and see why it is crashing?

[2016-10-20 21:15] dkoshkin commented on #1220
My mistake I looked through the code again and we aren't actually doing `calicoctl pool add ${SERVICE_CIDR} --nat-outgoing --ipip`

[2016-10-20 23:26] caseydavenport commented on #1209
Hmm.. I wouldn't have expected the `tunl0` interface to be destroyed by restarting `calico/node`.

@matthewdupre do you know of any cases where Felix / BIRD will do this?

[2016-10-21 00:38] caseydavenport commented on #1107
@gunjan5 @djosborne Can you please ensure this is tested as part of the next release?

[2016-10-21 00:56] caseydavenport commented on #1062
This doc has moved to the main Calico repo / docs: http://docs.projectcalico.org/v1.5/getting-started/kubernetes/installation/

Versions are pinned by this guy: https://github.com/projectcalico/calico/pull/104

[2016-10-21 00:56] #1062 closed

[2016-10-21 09:03] bmikhael opened #1226 "Docker containers unreachable from outside Calico network"
I've a 3 nodes Calico cluster with Docker, all of the nodes are connected to the same ToR.

ToR Cisco Nexus 3000 Switch
Docker v1.10.3-46
calicoctl v0.22.0
docker.io/calico/node v0.22.0
docker.io/calico/node-libnetwork v0.9.0
etcd v2.3.7-2

I've created a calico pool as follows:

[code]

Then I did BGP peering with the ToR as follows:

[code]

Then, I've created Docker network as follows:
`node01:

[2016-10-21 15:40] caseydavenport commented on #1217
Could you share the manifest you're using to deploy? It looks like confd is trying to access etcd on `0.0.0.0` and is failing.  What have you set your etcd_endpoints to?

[2016-10-21 23:51] bmikhael commented on #1226
I've made some changes.
I've broken the BGP peering between calico nodes, and made node BGP peering with the ToR instead of global peering.

The steps I've done are as follows:
That's how calico cluster looked like at the beginning:
[code]
[code]
Then I've broken the BGP peering between the nodes as follows:
`# calicoctl bgp node-mesh off`

After that, I've removed the global BGP peering with the

[2016-10-24 23:56] TomBlossom commented on #1063
@djosborne as discussed - on 0.22.0-dev I had this issue while following the guide

http://docs.projectcalico.org/v1.5/getting-started/docker/installation/vagrant-coreos/
http://docs.projectcalico.org/v1.5/getting-started/docker/tutorials/basic

[code]

[2016-10-25 16:40] robbrockbank commented on #1063
@TomBlossom does this just affect the current master build, or does it also not work on the latest release of the calicoctl?

[2016-10-26 08:29] pandasumm commented on #1175
thanks for help.
And sorry for responding so late. When you answered me, I'm during my holiday vacation.

Now I have a new question, I have edit some code in /calico (now it's called /felix). From my study, I need to build a new docker image called 'node', and 'felix' is running in this container. So I have read the dockerfile in /felix, if I just run the script 'docker_build_and_run.sh' in /felix

[2016-10-26 23:09] caseydavenport commented on #1217
@swqmaven Could you check the values you're passing to `--advertise-client-urls` and `-initial-cluster` when starting etcd?

I recently saw this occur when `0.0.0.0` was passed for those flags, when etcd is actually expecting a resolvable IP address / hostname.

[2016-10-26 23:10] stresler commented on #1217
I had something very similar to this and @caseydavenport helped me in slack to realize I'd mis-set several parameters in my etcd config leaving it in a state where I could connect via curl, but confd's usage of it failed. Check that your etcd is started with something very similar to this:

https://coreos.com/etcd/docs/latest/docker_guide.html

``
docker run -d -v /usr/share/ca-certificates/:/etc/

[2016-10-27 06:00] caseydavenport commented on #1194
@micahhausler what version of the CNI plugin were you running?

A quick investigation leads me to believe that the v1.4.x CNI IPAM plugin, which uses Go libcalico is writing data to etcd in a way that the python libcalico doesn't like.

Specifically, the two representations of an allocation block seem to differ:

Python: https://github.com/projectcalico/libcalico/blob/master/calico_containers/pyca

[2016-10-27 06:09] caseydavenport commented on #1194
I will continue discussion of a fix in projectcalico/libcalico-go#226.

For now, your workaround involving the deletion of the block allocations for the host before `calicoctl node remove` should work.  Once the above issue is fixed and propagated to a CNI release, then you won't have to manually remove the block allocations anymore and `calicoctl node remove` should just work.

[2016-10-27 06:10] caseydavenport commented on #1146
Closing - no longer relevant to this repo.

[2016-10-27 06:10] #1146 closed

[2016-10-27 06:12] #1168 closed

[2016-10-27 06:14] caseydavenport commented on #1120
Closing as not reproducible for now.

Please comment / re-open if encountered again.

[2016-10-27 06:14] #1120 closed

[2016-10-27 06:19] caseydavenport commented on #1100
I think the resolution here is to use a distributed load balancer like the kube-proxy, which doesn't obscure the source address of traffic.

The problem with enforcing policy _before_ a man-in-the-middle load balancer is that you don't actually know which ultimate destination the traffic will be load-balanced to because that decision is up to the load balancer, not the network fabric.

Will re-vis

[2016-10-27 06:19] #1100 closed

[2016-10-27 06:24] caseydavenport commented on #1006
Sorry, it's been a while on this issue - @DreadPirateShawn is there any more recent status on this issue?

I've not been able to reproduce myself, and my feeling is that this is _probably_ an issue with Docker, but it's hard to say for sure.

[2016-10-28 22:28] r0bj opened #1233 "Calico IPIP - broken comunication between subnets"
My environment:
OS: ubuntu 14.04
kernel: 4.4.0-45-generic
docker: 1.12.1
calicoctl: 0.22.0
calico-cni: 1.4.2
kubernetes: 1.4.3

I have two hosts in different subnets:
[code]

[code]

[code]
interfaces on on first host `10.8.32.18 k8s-worker-s3`:
[code]
routing table on first host `10.8.32.18 k8s-worker-s3`:
[code]

interfaces on second host `10.8.42.46 k8s-worker-s4`:
[code]
routing table on secon

[2016-10-28 23:00] #1233 closed

[2016-10-28 23:01] r0bj commented on #1233
There was no active endpoints in calico, I had to redeploy containers.

[2016-10-31 20:01] heschlie commented on #1196
Fixed in #1234

[2016-10-31 20:01] #1196 closed

[2016-11-01 15:09] fasaxc opened #1237 "Docker hub page has strange comment blocks at top"
https://hub.docker.com/r/calico/node/

![screen shot 2016-11-01 at 15 08 32](https://cloud.githubusercontent.com/assets/469264/19894512/310c3a24-a045-11e6-9489-a87ddee79d69.png)

[2016-11-01 22:51] marun opened #1242 "calico-node container doesn't fail when a missing module prevents iptables manipulation"
Running on kubernetes, on a host that hadn't loaded the ``ip6_tables`` module, a ``calico-node`` container failed to install the global rules as per the following log output:

[code]

Nothing in the pod status indicated an error condition, despite the problem preventing networking  connectivity of subsequently launched pods.  The only indication of the problem was in the container logs.   It may m

[2016-11-01 23:06] caseydavenport commented on #1242
@marun thanks for raising.

We should probably be setting this option to false for the k8s installs: https://github.com/projectcalico/felix/blob/master/go/felix/config/config_params.go#L101

I _think_ we should also be failing hard when Felix falls over, as you suggest.

[2016-11-01 23:10] caseydavenport commented on #1242
I've raised this guy for disabling ipv6 on k8s: https://github.com/projectcalico/calico/pull/135

[2016-11-02 15:41] DreadPirateShawn commented on #1006
@caseydavenport No change -- same versions of everything, same behavior. I'm inclined to agree with your suspicion.

We attempted to upgrade to Docker 1.12 recently, but ultimately ran into docker/docker#27607 as a blocker issue, and we needed to roll back. At this point we're waiting for Docker 1.13 (pending soon) and revisiting.

[2016-11-02 16:34] DreadPirateShawn commented on #1006
Actually, I found a stack with Docker 1.12 on it -- same error, same stacktrace, etc. `Docker version 1.12.2, build bb80604`

This might also be a Docker + Kernel combo issue -- we've seen those crop up more and more during our various adventures. We're on kernel `3.13.0-55-generic`.

[2016-11-02 17:27] onyxet opened #1244 "Unable to start calico/node services"
Following this guide http://docs.projectcalico.org/v1.5/getting-started/kubernetes/installation/hosted/  I have next messages in calico/node log

When I try reproduce this outside my k8s cluster - everything looks ok (I tried run only calico/node container with conf environments)
I saw similar issue

but how resolve this I don`t know.

My env is

And I have some issue, I cant ping containers on di

[2016-11-02 20:32] caseydavenport opened #1246 "`--hostname` doesn't work"
Tried this against the Golang calicoctl.

[code]

Looks like it's ignoring the `--hostname` argument.

[2016-11-02 20:33] caseydavenport commented on #1246
Actually, I think this is my fault.

[2016-11-02 20:33] #1246 closed

[2016-11-02 21:53] DreadPirateShawn opened #1247 "Calico thinks that the mesh network is enabled, but none of the mesh network peers are active"
Found via stress tests -- It's possible to get Calico into a state where it thinks that the mesh network is enabled, but none of the mesh network peers are active.

Version: 0.18.0

The repro for this was to leave the following loop running for about 2 hours, where $peer is our route reflector:

[code]

Given about 1m 40s per run, that's about 72 runs in 2 hours, before triggering this scenario.

[2016-11-03 04:53] CaoShuFeng opened #1249 "--nat-outgoing doesn't work in my virtual machine environment"
I take the following steps in my local virtual machine:
1. sudo ETCD_ENDPOINTS=http://192.168.122.183:2379 ./calicoctl  node
2. sudo ETCD_ENDPOINTS=http://192.168.122.183:2379 ./calicoctl  pool remove 192.168.0.0/16
3. sudo ETCD_ENDPOINTS=http://192.168.122.183:2379 ./calicoctl  pool add 172.168.0.0/16 --nat-outgoing
4. sudo docker run --net=none --name workload-A -tid busybox
5. sudo sudo ETCD_EN

[2016-11-03 06:53] CaoShuFeng commented on #1249
It still doesn't work when I run such command:
# sudo iptables -t nat -A felix-FIP-SNAT -s 172.168.0.9  -j MASQUERADE

[2016-11-03 07:57] CaoShuFeng commented on #1249
@caseydavenport
Can you help me? Thanks very much.
I think it maybe a bug. Because I have passed --nat-outing  when creating pool.
Also I test this in local virtual machine.

[2016-11-03 08:29] CaoShuFeng commented on #1249
It still can't work when I pass --ipip to create the pool.
This is my iptable when --ipip is passed to create the pool:
http://paste.openstack.org/show/587723/

[2016-11-03 09:33] fasaxc commented on #1249
@CaoShuFeng Felix will remove any changes made to its `felix-XXX` chains.  Setting `--nat-outgoing` on the pool should be what you need.

I don't see the MASQ rule that felix should be putting in place with `--nat-outgoing` set on the pool.  Please can you verify the setting with `calicoctl pool show`?

[2016-11-03 09:48] CaoShuFeng commented on #1249
Hi, @fasaxc, I have set it. The output is this:
$ sudo ETCD_ENDPOINTS=http://192.168.122.183:2379 ./calicoctl pool show
+----------------+--------------+
|   IPv4 CIDR    |   Options    |
+----------------+--------------+
| 172.168.0.0/16 | nat-outgoing |
+----------------+--------------+
+--------------------------+---------+
|        IPv6 CIDR         | Options |
+--------------------------+----

[2016-11-03 19:33] matthewdupre commented on #1247
@frnkdny looks like we've got some load issue, where occasionally parts of the BGP mesh configuration drop out.  Next step is probably to figure out the exact steps in the cycle where the mesh disappears (or some of the peers do; if it's not instantaneous).

[2016-11-04 01:04] gunjan5 opened #1257 "`calicoctl node run` cmd should honor CALICO_LIBNETWORK_ENABLED ENV var"
command hardcodes `CALICO_LIBNETWORK_ENABLED` to `true` right now

For post `v2.0.0-beta`

[2016-11-04 03:16] tomdee opened #1258 "GoBGP is missing from calicoctl status command (go version)"

[2016-11-04 03:20] matthewdupre commented on #1249
So I can repro this as follows (with latest calico-node as of time of writing):

- Given a fresh etcd, flushed iptables (including nat table) and no ipsets, run calico-node
- Create a container --net=none, calicoctl container add it
- Assign it a profile
- Ping 8.8.8.8: fails, ping other containers etc.: succeeds
- calicoctl pool add 192.168.0.0/16 --nat-outgoing
- Ping 8.8.8.8 still fails

In thi

[2016-11-04 03:34] gunjan5 opened #1259 "calicoctl edit command"
a command to edit a specific resource field

[2016-11-04 03:35] CaoShuFeng commented on #1249
Hi, matthewdupre, thanks for reproduceing this.

So this issue depends on the order of operations?
In which order of operations can I avoid this?
Thanks

[2016-11-04 03:35] gunjan5 commented on #1259
/CC @caseydavenport

[2016-11-04 03:37] caseydavenport commented on #1259
Yep.  See `kubectl edit` for inspiration :)

It's pretty cool.

[2016-11-04 03:42] matthewdupre commented on #1249
I'm still checking now: I first thought it might depend on whether the pool was configured before starting the calico-nodes, but now I'm not sure.  Can you confirm your calico-node version please?

[2016-11-04 03:50] matthewdupre commented on #1244
Could you please try `docker exec -it calico-node /bin/sh`ing into the calico/node container, and then send us `ls -Ra` from /etc/service?

[2016-11-04 03:57] CaoShuFeng commented on #1249
I can reproduce this with calico pulled several minutes ago.
$ sudo docker images
REPOSITORY                             TAG                 IMAGE ID            CREATED             SIZE
calico/node                            latest              f804946e09de        7 hours ago         180.6 MB

[2016-11-04 03:58] matthewdupre commented on #1249
OK got it, definitely just a bug in :latest.

While we work on it, please use the latest release calico/node:v0.23.0 instead: that works for me (and shout if that doesn't work either for you!).

[2016-11-04 04:18] CaoShuFeng commented on #1249
calico/node:v0.23.0 works for me.
Thanks very much.

[2016-11-04 05:35] caseydavenport commented on #1107
Folks, Calico version 1.6 should fix the two bugs being discussed in this issue.  Components of v1.6 can be found here: http://docs.projectcalico.org/v1.6/releases/

Closing, but please notify me if issues remain.

[2016-11-04 05:35] #1107 closed

[2016-11-04 05:40] caseydavenport commented on #1220
@dkoshkin any news on this? I'm inclined to close this as a kube-proxy issue, unless there is evidence pointing to Calico.

[2016-11-04 05:41] caseydavenport commented on #1217
Closing - the issue is a result of an incorrectly configured etcd cluster.

[2016-11-04 05:41] #1217 closed

[2016-11-04 05:44] caseydavenport commented on #1222
@kharisj were you able to get the etcd logs (e.g `kubectl logs calico-etcd-2r5k6 --namespace=kube-system`)?

[2016-11-04 10:06] onyxet commented on #1244
Yes, here is

Actually I dont understand why I have this issue only at my master node now. k8s nodes has very similar conf with master. Thanks for help @matthewdupre

[2016-11-04 18:10] #1249 closed

[2016-11-04 20:45] tomdee opened #1265 "Calico/node image still has some dependencies on Python libcalico"
For the startup.py script and the allocate-ipip-addr.py script

- [x] startup.py
- [x] allocate-ipip-addr.py

[2016-11-05 21:43] robbrockbank opened #1270 "Access logs for failed STs"
With intermittent ST failures it can be difficult to get to the bottom of the problem without the logs.

For a bare minimum it is probably worth dumping out the libnetwork logs when the test fails - generally there are not too many logs to check.

[2016-11-05 21:57] caseydavenport opened #1271 "calicoctl doesn't show global default ASN."
[code]

It should populate ASN with the global default rather than <nil> when none is specified for a node.

[2016-11-05 21:57] caseydavenport commented on #1271
CC @robbrockbank

[2016-11-06 01:08] robbrockbank opened #1274 "Split out STs to test appropriate function for each repo"
Currently the STs are all bundled into this repo.  We need to do the following:

-  Have a minimum set of fast tests in calico-containers.  This needs to test calicoctl function *and* also do some limited end to end tests.

-  Perform some end to end tests as part of libnetwork-plugin

-  Have a nightly or similar set of "detailed" STs that test a raft of different policy options.

[2016-11-06 10:41] fasaxc opened #1276 "calico/node missing CA certificates"
Original issue: https://github.com/projectcalico/felix/issues/1164

Looks like we install, then remove the certificates as part of the build: https://github.com/projectcalico/calico-containers/blob/master/calico_node/Dockerfile#L27

Python felix used to pick up certs from `certifi` but golang felix needs the system CA bundle to be installed.

[2016-11-06 16:23] #1276 closed

[2016-11-07 08:04] CaoShuFeng opened #1279 "calicoctl KeyError: 'affinity'"
When deleting a node, I get this:
$ sudo ETCD_ENDPOINTS=http://172.16.19.137:2379 ./calicoctl node remove
KeyError: 'affinity'

Traceback (most recent call last):
  File "<string>", line 144, in <module>
  File "calico_ctl/node.py", line 228, in node
  File "calico_ctl/node.py", line 667, in node_remove
  File "site-packages/pycalico/datastore.py", line 133, in wrapped
  File "site-packages/pycali

[2016-11-07 08:27] CaoShuFeng commented on #1279
Hi, I known the reason of this issue. Can I fix it myself?
Also I think this need to be fixed in libcalico.

[2016-11-07 09:06] onyxet commented on #1244
I think I know where is my issue. On my master node I have overlay storage driver and when I changed it to devicemapper and repull image calico/node from my private registry bird and other services started properly. I need some time in docs about docker storage-drivers. Thanks for support

[2016-11-07 09:06] #1244 closed

[2016-11-07 13:27] robbrockbank opened #1280 "Use Docker client for calicoctl node run command"
Currently the command shells out to run the container - we should be using the Docker client to do this.

Also:
-  Should handle a stopped container with the same name being present
-  Have options for generating systemd config (should remove the -d from the docker incantation)

[2016-11-07 13:30] wmuizelaar opened #1281 "calicoctl node status sometimes doesn't show the BGP sessions"
Hi,

I'm testing the v1.0.0-beta of calicoctl, and after setting up a BGP session with my router, the commando 'calicoctl node status' sometimes doesn't show the BGP session.

Output as can be seen:

[code]

My setup is as follows:
- 1 mesos-master
- 2 mesos-agents
- 1 router

I'm running this within vagrant / virtualbox on my laptop, based on RHEL7.

I disabled the node-to-node BGP mesh option, a

[2016-11-07 14:45] robbrockbank opened #1282 "calicoctl should set the ready flag for Felix"
If the creation of a node resource through calicoctl set the Ready flag for felix, it would allow calicoctl to be used for Host protection deployments without requiring the use of etcdctl at all.

[2016-11-07 16:11] alexbrand opened #1284 "Calico-node fails to start intermittently"
We have been noticing that Calico sometimes fails to start with the following error:

[code]

Image version: `calico/node:v0.22.0`

Command line flags:
[code]

[2016-11-07 17:01] caseydavenport commented on #1279
@CaoShuFeng I'll take a look at that PR :)

However, I'm going to close this issue as a duplicate of https://github.com/projectcalico/calico-containers/issues/1194#issuecomment-256553868

[2016-11-07 17:01] #1279 closed

[2016-11-07 17:03] caseydavenport commented on #1194
This should be addressed in the v1.0.0-beta version of `calicoctl`, which now attempts to respect both representations of affinity (though prefers the `affinity: host=blah` form).

@CaoShuFeng has a PR up for the Python library. https://github.com/projectcalico/libcalico/pull/166

[2016-11-07 17:35] caseydavenport commented on #1271
repurposed this issue just for the ASN bug (now that the nil stuff is fixed by #1283)

[2016-11-07 17:37] mattymo opened #1286 "calicoctl node should be able to mount certificates dir"
``calicoctl node`` is the preferred way to start calico-node container, but it does not include options for mounting any volumes. As a result, you can't use it for secure etcd communication. What you get as a result is:

[code]

[2016-11-07 17:41] caseydavenport commented on #1286
@mattymo

I’d recommend running directly through docker (or as a Kubernetes pod).  Both will lets you mount in whatever volumes you like.

`calicoctl` should print out the command that it is running under the covers, IIRC.  The latest v1.0.0-beta includes a `--dry-run` option.  Should just be a matter of adding in the docker args to mount the volumes.

[2016-11-07 17:48] mattymo commented on #1286
I am going to close this because calico-node already mounts the following three files:
/etc/calico/certs/ca_cert.crt
/etc/calico/certs/cert.crt
/etc/calico/certs/key.pem

I will work around the problem that way.

[2016-11-07 17:49] gunjan5 commented on #1281
@wmuizelaar how often do you see it flapping from showing the sessions to not showing them?
Do you see a pattern? As in how long are they gone for before they show up again?

Can you run the following when they don't show up in the output?
[code]
and then type `show protocols` when you see `0001 BIRD 1.5.0 ready.` as the output for the previous command, and paste the output here.

[2016-11-07 18:22] caseydavenport commented on #1284
@alexbrand Sounds to me like you're hitting a similar issue to this: https://github.com/projectcalico/libcalico/issues/156 which was fixed by https://github.com/projectcalico/libcalico/pull/155, but wasn't included until `calico/node:v0.23.0`.

Would you be able to upgrade to the newer release? That should fix up the problem.

[2016-11-07 18:52] matthewdupre commented on #1209
Yeah, I thought we never destroyed tunl0.

[2016-11-07 20:45] gunjan5 commented on #1194
@caseydavenport small correction, it's `affinity: host:blah` where `host:blah` is the value

[2016-11-07 22:14] djosborne opened #1287 "`calicoctl node run` hangs without warning if it needs to download image"
The new `calicoctl node run` command hangs for a long time while the image is being downloaded, without telling the user why.

We should just  always print an info message that states `Pulling calico/node:xyz if it doesn't exist locally...`

[2016-11-07 22:39] djosborne commented on #1280
Would be nice to also fix #1287 while work's being done in the same ballpark

[2016-11-07 22:40] djosborne commented on #1280
@robbrockbank for the first bullet point, I found that if `calico/node` is already running, `calicoctl node run` quits with a 125 exit code.

[2016-11-08 00:57] ozdanborne opened #1288 "calico/node Makefile steps don't rebuild node when different input artifacts are specified."
The `make calico/node` build step doesn't rebuild `calico/node` even when different input artifacts are specified.

For example:
[code]

[2016-11-08 01:37] caseydavenport commented on #1280
I don't think switching to using the Go library is high priority at all, unless there are clear, important benefits.

One nice thing about shelling out is that the command we print for `--dry-run` is easier to make accurate.

[2016-11-08 03:00] wrouesnel commented on #1171
So the big problem here is the large number of things which want to write to `/etc` which really shouldn't need to.

On startup the container should make a copy of the active config files to `/tmp` or `/run`, so that these volumes can be put on a tmpfs or mounted at a writeable location (there is a slight tension against service restarts during an `etcd` outage here, but not severe I'd say).

It a

[2016-11-08 08:01] opskumu commented on #1212
@caseydavenport Thanks, if the CNI plugin v1.4.0`+`, CNI Configuration must add `k8s_api_root` option, otherwise kubelet error:

[code]

cni configuration like:

[code]

[2016-11-08 11:49] wmuizelaar commented on #1281
The flaps occur every couple of seconds - it feels about 1/5 to 1/3 of the time that it's not showing, the other times it does show.

As far as I can conclude it mostly looks like a timeout somewhere requesting the actual status from bird, and not bird dropping the BGP session itself:

[code]

The output of `show protocols` is this:

[code]

[2016-11-08 13:52] artem-panchenko opened #1291 "`calicoctl node run` fails while executing inside container: error while loading shared libraries: libltdl.so.7"
When I try to run calico/node docker container using new Golang `calicoctl` (which is also running with docker) I get the following error:

More info here: http://paste.openstack.org/show/588375/

To fix the issue I have to install **libltdl** into container:

`apk update && apk add libltdl`

Most probably this bug will be gone if https://github.com/projectcalico/calico-containers/issues/1280 is f

[2016-11-08 14:37] robbrockbank opened #1293 "Calicoctl should allow configuration of all Felix global and per-node configuration"
In particular the Host Protection docs discuss global Felix configuration and refer to the configuration guide (Which is etcd specific).   We need to remove the etcd requirement.

[2016-11-08 18:18] djosborne opened #1294 "calicoctl starts node even without etcd connection"
Seems `calicoctl` no longer fails to start node if it can't connect to etcd. When launched, we're left with a immediately dead container, and a return code of `0`.

[code]

[2016-11-08 21:48] gunjan5 commented on #1281
@wmuizelaar I've created a special debug image for you that will show us more lower level debugs when this command is executed, can you download that calicoctl binary and run this command and paste the output with both when it shows the peers and when it doesn't.
Here are the steps:
1. `wget https://raw.githubusercontent.com/gunjan5/calico-containers/status-debug-binary/debug/calicoctl`
2. `chmod

[2016-11-09 16:42] #1291 closed

[2016-11-09 16:52] stonith opened #1295 "2 pods may receive same ip"
@lwr20  Unfortunately, I wasn't able to reproduce to get more information but I applied a basic deployment of 2 nginx pods and both of them received the same ip:

[code]

Deployment:

[code]

[2016-11-09 17:20] gunjan5 commented on #1295
@stonith Can you tell me the versions of calico-node, CNI , and calicoctl you're running?
Also, can you collect the diagnostic logs and attach them here?

Did you only have one k8s node in the deployment? And how did you deploy the pods? I'm wondering if there's a race condition

If you happen to see this again, I'd be happy to jump on a call/hangout to look take a look at it.
Thanks for reporting

[2016-11-09 17:29] lwr20 commented on #1295
From slack conversation:
﻿⁠⁠⁠⁠calico/cni:latest

[2016-11-09 17:32] lwr20 commented on #1295
I wonder if we should setup a repro test?  Something like:
- setup a k8s cluster with an nginx replication controller on it, then:
    - scale from 0 to 2,
    - check if it reproed - if so exit.
    - else scale from 2 to 0
    - loop.

[2016-11-09 17:36] gunjan5 commented on #1295
@lwr20 yup that sounds like a good idea, I will set it up and keep it running for a while to see if we get a hit

[2016-11-09 19:41] wmuizelaar commented on #1281
I'm afraid it can't find the image mentioned in the `docker run` command:

[code]

[2016-11-09 19:49] wmuizelaar commented on #1281
ah! I did find a tag with that name without the '-dirty' suffix, and tried to pull that, and run the docker run command from that.

I reproduced the issue, with this output:

[code]

[2016-11-10 03:33] MikeSpreitzer opened #1296 "--ipip vs --nat-outgoing"
(1) I am told that currently `--ipip` only works in conjunction with `--nat-outgoing` --- for pod to host connections.  Make sure this is clearly documented, I did not know it.

(2) I would like pod-to-host connections to work with `--ipip` and not `--nat-outgoing`.

[2016-11-10 06:14] caseydavenport commented on #1284
Going to close this guy - let me know if you're still hitting issues!

[2016-11-10 06:14] #1284 closed

[2016-11-10 06:18] caseydavenport commented on #1282
Should it do this automatically? Or should there be a "calicoctl set ready" type command?

What does Felix do when that flag goes from true / false? Is this something that would be reasonable to expose as a "enable / disable Calico" global flag?

[2016-11-10 06:21] #1220 closed

[2016-11-10 06:22] caseydavenport commented on #1183
Should be fixed in v1.0.0-beta.

[2016-11-10 06:22] #1183 closed

[2016-11-10 06:23] caseydavenport commented on #1172
@tomdee  is this still relevant? If not could you close?

[2016-11-10 06:26] caseydavenport commented on #1194
@micahhausler this should work in the v1.0.0-beta release.

LMK if you get a chance to try it out with the new version.

[2016-11-10 06:27] caseydavenport opened #1297 "`calicoctl delete` doing weird stuff"
[code]

I'd expect the second command to be an error, but it returns successfully!

[2016-11-10 06:31] caseydavenport commented on #1297
Note: This was performed with DATASTORE_TYPE=kubernetes.

 Note sure how it behaves with etcdv2

[2016-11-10 06:32] caseydavenport commented on #1086
Should be fixed in the v1.0.0-beta.  Adding to v1.0.0 milestone for re-test.

[2016-11-10 06:34] caseydavenport commented on #1066
@fasaxc this guy is pretty old - what's the latest on this?

[2016-11-10 06:34] caseydavenport commented on #1063
Should be fixed in v1.0.0-beta.

[2016-11-10 06:34] #1063 closed

[2016-11-10 06:35] caseydavenport commented on #1034
Adding to v1.0 milestone for re-test against the new Go calicoctl.

[2016-11-10 06:37] caseydavenport commented on #1005
Fixed in v1.0.0-beta

[2016-11-10 06:37] #1005 closed

[2016-11-10 06:37] caseydavenport commented on #1003
As of calico/node v0.23.0, the libnetwork plugin should run within the `calico/node` container, and `--detach=false` should work as expected.

[2016-11-10 06:37] #1003 closed

[2016-11-10 06:38] #969 closed

[2016-11-10 06:39] caseydavenport commented on #997
@gunjan5 what is the status of this in the v1.0.0-beta release? Do we still have a `--runtime` option?

[2016-11-10 06:40] caseydavenport commented on #914
Repurposing this issue to cover shipping a mac version of calicoctl.

[2016-11-10 06:42] caseydavenport commented on #906
@matthewdupre @lwr20 what's up with this guy?

[2016-11-10 06:43] caseydavenport commented on #899
Adding to v1.0.0 since we should have some way to gather the CNI plugin diags (we don't currently)

[2016-11-10 06:44] caseydavenport commented on #849
This is fixed in v1.0.0-beta.

`calicoctl get workloadedpoint -o wide` shows this info.

[2016-11-10 06:44] #849 closed

[2016-11-10 06:45] caseydavenport commented on #841
@tomdee @MikeSpreitzer looks like I opened this a while ago!

Let's fix this up in time for the next release.

[2016-11-10 11:35] lwr20 commented on #906
I'm waiting for a diags fix - as @fasaxc says: "Can we at least detect this case and print a warning from calicoctl. Feels sufficiently obscure to diagnose that errorring out might be the right approach."

[2016-11-10 15:23] dkoshkin commented on #1220
I will report back if this is still happening with the newer versions of both calico and k8s.

[2016-11-10 23:52] gunjan5 commented on #997
@caseydavenport we don't have `--runtime` option in v1.0.0-beta release anymore

[2016-11-11 07:10] zouyee commented on #1205
@ZhenyangZhao  how to resolve this problem?tahnk you for your response!

[2016-11-11 17:20] gunjan5 commented on #1295
I was finally able to reproduce this in my environment after trying this a bunch of times.
[code]

I will investigate more to find out what's going on, could be some sort of race condition but too early to tell.

[2016-11-11 18:04] stonith commented on #1295
Was it on a fresh setup or did you repro by cycling RC's?

[2016-11-11 21:07] caseydavenport commented on #1295
This sounds very much like the compare-and-swap logic in libcalico is going wrong.

Basically, if two pods come up at the same time, its possible that the etcd interactions line up such that they both try to grab the same address.

The design is meant to handle this case via a CAS operation and a retry for whichever of the two IPAM requests comes in second.  If the CAS isn't returning an error, th

[2016-11-11 22:02] caseydavenport commented on #1295
From a discussion with @gunjan5, we think we've found the issue and it shouldn't be present in CNI plugins prior to release v1.5.0.

[2016-11-11 22:39] matthewdupre commented on #1296
More details: the observed problem was that a container was unable to connect to a remote host when running `--ipip`, but worked with `--ipip --nat-outgoing` or neither option (the test environment didn't actually require ipip).

[2016-11-11 22:52] matthewdupre commented on #1296
Some general thoughts on the interactions between the two features:

If IPIP is required, then all inter-host traffic where either end is a pod needs to be tunnelled in both directions.  Otherwise most environments where overlays are needed will drop the traffic.
- This always worked when both ends are pods.
- Host (running Calico) to pod was fixed (with some caveats*) in https://github.com/projec

[2016-11-11 23:13] matthewdupre commented on #1296
Some specific thoughts on this particular issue (pod to host), as observed in the test environment that didn't need IPIP, set up with `--ipip` only:

- The outgoing packets will be sent un-tunnelled (since that's a routing decision, which only depends on the destination).
- If the destination host is RPF checking on eth1, then it will drop the packets.
- The return traffic would be tunnelled.
- It

[2016-11-11 23:51] matthewdupre commented on #1282
@fasaxc WDYT?

[2016-11-11 23:53] #1286 closed

[2016-11-13 10:03] frostynova commented on #967
Also met this problem and I found there is no way unless `export HOSTNAME` in running `calicoctl node` bash to fix it.

So maybe we can add a `calicoctl node rename` subcommand?

[2016-11-14 09:26] fasaxc commented on #1282
@caseydavenport Felix stops when the Ready flag is set to false.  I.e. it leaves everything in the dataplane just as it is and stops processing updates until the flag is set back to true.  the intended purpose it to cover awkward upgrade scenarios where we want to pause all the felixes while we tinker with the datamodel.

How about having calicoctl check if the Ready flag exists; then, if not, aut

[2016-11-14 09:29] fasaxc commented on #1066
We merged a tentative fix.  I'm going to close.  @DreadPirateShawn please raise a new issue if you see this again after the above fix went in.

[2016-11-14 09:29] #1066 closed

[2016-11-14 14:29] artem-panchenko opened #1302 "`calicoctl` returns 0 if command not found"
Golang `calicoctl` utility returns 0 exit code when passed command not found:

It should return 1 or any other non-zero value instead. A message like 'Error: unknown command %s' also needs to be printed to stderr.

[2016-11-14 21:18] MikeSpreitzer commented on #841
Thanks.

Just to be utterly clear, we are talking about the name of the network interface inside the container, not its compatriot outside the container.

[2016-11-14 23:10] #1295 closed

[2016-11-15 00:58] #1302 closed

[2016-11-15 03:02] caseydavenport commented on #1294
@djosborne Thoughts on a proposed fix?

Not sure what the priority of this is.  The `calico/node` container also has an option to wait for an etcd connection, which we should expose through calicoctl if it isn't already.  See `WAIT_FOR_DATASTORE=true`

[2016-11-15 03:03] caseydavenport commented on #1293
@robbrockbank what else is left to do for this? I'm going to put this in the v1.0.0 milestone, but shout if you think that is wrong.

[2016-11-15 04:29] djosborne commented on #1294
I thought we used to attach to `startup.py` and return its error code since it makes use of the etcd connection

[2016-11-15 17:19] robbrockbank commented on #1282
Will only set the flag if it is not already set then.

[2016-11-15 18:09] caseydavenport commented on #1043
calicoctl isn't written in Python anymore.

[2016-11-15 18:09] #1043 closed

[2016-11-15 18:51] gunjan5 commented on #1222
@kharisj any update on this? Let us know if you are still seeing this issue

[2016-11-15 18:52] gunjan5 commented on #1173
@tomdee seems like it is versioned now. OK to close this?

[2016-11-15 18:56] gunjan5 commented on #1098
@robbrockbank do you think we need to add a `calicoctl node stop` for Go calicoctl 2.0?
CC @caseydavenport

[2016-11-15 19:03] gunjan5 commented on #603
should this be added to v1.0.0 milestone?

[2016-11-15 19:59] caseydavenport commented on #603
Yeah, I think so.

This is actually two issues though.

- Documentation
- libnetwork missing support

[2016-11-15 21:17] spuranam commented on #1107
@caseydavenport i am running into issues even after upgrading to 1.6.

OS: CoreOS v1192.2.0
Calico Images used:
quay.io/calico/node:v0.23.0
calico/kube-policy-controller:v0.4.0
quay.io/calico/leader-elector:v0.1.0

I have verified the certs are present in the filesystem and are readable.

## calico node.service
[code]

## /etc/kubernetes/cni/net.d/10-calico.conf on master
[code]

## /etc/kubernete

[2016-11-16 02:10] caseydavenport opened #1307 "Certificate Authority is required and must be readable"
Originally raised by @spuranam

@caseydavenport i am running into issues even after upgrading to 1.6.

OS: CoreOS v1192.2.0
Calico Images used:
quay.io/calico/node:v0.23.0
calico/kube-policy-controller:v0.4.0
quay.io/calico/leader-elector:v0.1.0

I have verified the certs are present in the filesystem and are readable.

## calico node.service
[code]

## /etc/kubernetes/cni/net.d/10-calico.conf on

[2016-11-16 02:10] caseydavenport commented on #1107
I believe this is another problem that the one original described in this issue.   I've raised #1307 to track.

[2016-11-16 02:13] caseydavenport commented on #1307
@spuranam Looks like the CNI plugin is having trouble finding the CA cert.

Could you ensure that this file exists within the kubelet container? `/etc/ssl/etcd/ca.pem`

It looks like you've mounted the directory properly, but best to double check.

[2016-11-16 02:19] caseydavenport commented on #1307
Could you make sure that you've mounted `/etc/cni/net.d` and `/etc/ssl/etcd` into the kubelet container (if you're running it as a container).

Looks like the CNI plugin isn't getting the right CNI network config passed to it.

[2016-11-16 02:41] caseydavenport opened #1308 "Support shorthand for calicoctl resources"
Would be really nice to support shorthand for at least the longer calicoctl resources.

e.g

[code]
vs
[code]

As much as I'd like this to be v1.0.0 worthy, I don't think it actually is (though it's really not that much work.. so if someone wants to make me really happy...)

[2016-11-16 09:47] robbrockbank opened #1309 "Add merge command to calicoctl"
Add a merge command to calicoctl which will merge in only the fields supplied in a YAML document.

See k8s for best practices wrt to slices etc.

[2016-11-16 10:22] robbrockbank commented on #603
Opened a docs issue for docs - there is already a libnetwork =-plugin issue for this.  Do we need this issue open?

[2016-11-16 17:56] djosborne commented on #1086
Like @gunjan5 said, [this commit](https://github.com/projectcalico/calico-containers/commit/3a16a24d3821af9c0a4015d5153bb7088263768e) updates calicoctl to perform its status checks in the host namespace instead of bothering to exec on the container at all.

I'm going to close, as I've reproed and this does seem to be resolved with calicoctl-v1.0.0-beta:
[code]

[2016-11-16 17:56] #1086 closed

[2016-11-16 19:03] caseydavenport opened #1310 "AWS: Only use ipip for cross-AZ communications"
This should be pretty easy and we get asked for it a lot.  We only need `ipip` when crossing different AWS subnets, so let's only use it for those cases.

Should also be generally applicable (don't use encap for L2 domains, only when crossing L3 hops) for example.

@robbrockbank has already prototyped this in the past.

[2016-11-16 19:04] caseydavenport commented on #1310
@robbrockbank how much work is left to support this? It would be _really_ nice to get this out as a feature people could use (even if it's behind a flag of some sort?)

[2016-11-17 05:30] #914 closed

[2016-11-17 20:35] robbrockbank commented on #1293
We need to re-instate the configure arbitrary config option ability .... this brings us back in alignment with the old calicoctl.

[2016-11-17 20:52] #1308 closed

[2016-11-17 20:55] robbrockbank commented on #1271
I think this will be fixed as part of a larger rework of how we display inherited per-node configuration.

[2016-11-17 21:00] robbrockbank commented on #1297
I think if the command is misbehaving this should be a P1 no?

[2016-11-18 19:25] caseydavenport commented on #841
Fixed by https://github.com/projectcalico/libnetwork-plugin/pull/88

[2016-11-18 21:18] klynch commented on #1000
@tomdee I'm still seeing this using `quay.io/calico/node:v1.0.0-beta` deployed as a DaemonSet.

[2016-11-18 21:44] MikeSpreitzer commented on #841
I use `calicoctl node --libnetwork`.  So can I get the new functionality by changing that to `CALICO_LIBNETWORK_IFPREFIX=eth calicoctl node --libnetwork` ?

[2016-11-18 23:12] matthewdupre commented on #716
Thanks Alex: adding a little detail / some possible narrowing of where the fix is needed.
- the route in question was `<Calico /26> via <Remote host> dev ethX proto bird onlink`
- it needed to be `<Calico /26> via <Remote host> dev tunl0 proto bird onlink`
- Since BIRD was observed reprogramming it correctly, it seems very likely that any fix needed should be in BIRD, or around it.

I guess we cou

[2016-11-18 23:42] robbrockbank opened #1315 "Reinstate old STs to cover general calicoctl/config testing"
Checklist to ensure we have at least the same ST coverage that we had before

- [ ] IPIP configuration
- [ ] Container to host pings
- [ ] Hostname override
- [ ] Manage pools
- [ ] Single host mainline
- [ ] Multi host mainline
- [ ] BGP configuration
- [ ] Global peering
- [ ] Node specific peering
- [ ] Route reflector cluster
- [ ] Single route reflector
- [ ] Node status test
- [ ] Node diags

[2016-11-20 23:45] bluecmd commented on #1281
I'm also seeing this. Let me know if you need any debug data from me.

[2016-11-21 05:24] klynch commented on #1281
I'm seeing this too.

[code]

This is the output from bird:
[code]

Strangely enough, I am seeing occasional truncated output when running `echo "show protocols" | nc -U /var/run/calico/bird.ctl`. It stops at the `0001 BIRD 1.5.0 ready.` about 75% of the time.

[2016-11-21 18:01] micahhausler opened #1321 "calicoctl replace profile doesn't accept stdin"
I've got a profile that looks like this:

[code]

and when I try to replace with stdin, it doesn't work

[code]

[code]

[2016-11-21 18:03] micahhausler commented on #1321
ah I see I don't need to specify the type or name

[2016-11-21 18:03] #1321 closed

[2016-11-21 18:55] djosborne opened #1322 "`calicoctl node` should accept both `--detach=false` and `--libnetwork`"
`calicoctl node --libnetwork` used to spawn two containers, so we did not allow `--detach=false`, as we could not easily bind to two running containers.

However, libnetwork now runs in the calico-node container. so `calicoctl node --libnetwork` always spawns 1 container. We should allow `--detach=false` in this case.

[2016-11-21 18:56] #1282 closed

[2016-11-21 18:56] caseydavenport commented on #1322
How does this look in a post 2.0 world?

[2016-11-21 19:00] djosborne commented on #1322
I hadn't realized `--detach=false` was not implemented for v2.0. I'm assuming this was intentional, as now there is only one way to bind to a running calico/node, and that's by using the recommended way of launching `calico/node` with `docker run`?

[2016-11-21 19:33] caseydavenport commented on #1281
Hmm. I think there must be some timing or system-dependent behavior here.

I've been running this in a loop against my k8s vagrant CoreOS cluster and haven't seen the issue yet.

[2016-11-21 20:05] bluecmd commented on #1281
@klynch Neat, didn't know how to connect to BIRD directly. I've been trying to figure that out for a while. Thanks!

FWIW, Ubuntu 16.04.1:
[code]

[2016-11-21 20:12] lwr20 commented on #873
Autodetection is fraught with problems.  The only one who knows for sure is the human deploying.

If specifying exactly is a pain for automation, can we specify the subnet that the correct address should come from?  Surely the user will know that?

[2016-11-21 20:15] caseydavenport commented on #873
@lwr20 See my proposal above :)

[2016-11-21 20:29] matthewdupre commented on #873
I think allowing people to specify an interface name to pull the address from would be OK.  I don't like the CIDR restriction: I don't see a compelling use case for it where interface name wouldn't be suitable; and adding more options gratuitously is a bad thing.

[2016-11-21 20:32] caseydavenport commented on #873
@matthewdupre the use-case is probably just "I have a bunch of machines with different interface names but they're all part of the same cluster".

I'm not sure how common that is, but would be happy to leave it off and see if it's needed down the road.  The design certainly allows for that to be added later :)

[2016-11-21 20:32] lwr20 commented on #873
I've been bitten by interface names before - ISTR that the naming of an interface can be dependant on the order in which interfaces are detected on boot.

[2016-11-21 20:48] caseydavenport commented on #716
I'd like to go down this path if we could since it should be simpler, but there is definitely concern for restarting all BIRD instances across a cluster at once.  We enable graceful restart, so we should be able to make this work without affecting the data plane.  We likely just need to add some random jitter so that each BIRD instance doesn't restart at once.

@matthewdupre any other specific tim

[2016-11-21 20:50] caseydavenport commented on #716
@djosborne you did some work in this area a while back, didn't you? Do you have time this week to try this out?

[2016-11-21 20:51] djosborne commented on #873
I want to propose something a bit different, hope this isn't too off topic.

`calicoctl node start --can-reach=10.0.0.1`. This would cause calico to bind to whichever IP is used to reach `--can-reach`:

[code]

Users can set `--can-reach` to whatever makes most sense.
- The etcd address
- The "master" (depending on the orchestrator)
- `8.8.8.8`
- the nexthop of a private interface that all calico

[2016-11-21 20:58] matthewdupre commented on #716
@caseydavenport couple of concerns:
- Need to make sure BIRD updates an already programmed route (since the route will survive BIRD restart).
- BGP GR can take quite a long time (default is 10s of seconds IIRC).  If we actually need to only have one restarting BIRD at once, this might be problematic and take hours in a large cluster.  I'm not sure how much overlapping GR windows is actually a prob

[2016-11-21 23:05] gunjan5 commented on #1281
@klynch @wmuizelaar @bluecmd I think I have a fix, but I wasn't really able to reproduce it on my system (although, I did some goroutine and time.Sleep hacking to kinda repro it).
Can you try using this image and see if you see the issue:
[code]

[2016-11-21 23:38] gunjan5 commented on #1297
This is what I see with my setup (etcd backend):
[code]

[2016-11-22 03:13] caseydavenport commented on #1297
@gunjan5 I think this is a bug in the k8s backend code, since it doesn't handle the node resource.

It should be returning an error for any delete commands, I think.

[2016-11-22 08:33] bluecmd commented on #1281
@gunjan5 Works flawlessly for me

[2016-11-22 10:38] javaboyuk opened #1324 "Documenatation unclear for calicoctl command and calico node defaults (ETCD_ENDPOINTS)"
Background (my first git hub issue I need to find out how to layout better!)
1. Installed a new etcd (v3.0.14) (3 nodes) seperate from the node I will start calico node on!
2. Trying to get calicoctl v0.23.0 to start on a single node
3. i am NOT using any security (as I am learning and thought this would add more moving parts for me to get wrong :-)) and the example in the calico doc shows an exam

[2016-11-22 11:33] lwr20 commented on #1281
@gunjan5 I have a reliable repro based on the calico-containers STs docker-in-docker stuff.

Your new calicoctl works much better for me :)  I'll go add some STs for this.

[2016-11-22 11:47] javaboyuk commented on #1324
Sorry  running on command line:
/usr/local/bin/calicoctl node --ip=192.168.0.22 --detach=false
Running Docker container with the following command:

docker run --restart=always --net=host --privileged --name=calico-node -e HOSTNAME=master-2 -e IP=192.168.0.22 -e IP6= -e CALICO_NETWORKING_BACKEND=bird -e AS= -e NO_DEFAULT_POOLS= -e CALICO_LIBNETWORK_ENABLED=false -e ETCD_AUTHORITY=127.0.0.1:2379 -e

[2016-11-22 14:59] sege commented on #1281
I had the same problem on Ubuntu 16.04(.01), confirming the patched calicoctl above fixes the issue for me as well.

[2016-11-22 16:50] javaboyuk commented on #1324
This was actual two newbie issues:

1. That the docs (well where I looked) did not state that the defaul calico network is 192.168.0.0/16 which just so happens to be the network I am using on the front end (I am currently trying to make this 10.3.0.0/16)
2. The calicoctl command talks to the etcd back-end directly and so you need to have an env variable ETCD_ENDPOINTS which points to your etcd ser

[2016-11-22 19:49] wmuizelaar commented on #1281
I can also confirm this new calicoctl fixes this issue!

[2016-11-23 04:38] klynch commented on #1281
This is working great here too.

[2016-11-23 12:33] javaboyuk opened #1328 "confd ERROR with bird (calico-node:v1.0.0-beta) Unable to open included file /etc/calico/confd/config/bird6_aggr.cfg"
I am getting this ERROR in /var/log/calico/confd:

2016-11-23T11:47:44Z master-1 confd[89]: DEBUG Target config /etc/calico/confd/config/bird.cfg in sync
2016-11-23T11:47:44Z master-1 confd[89]: DEBUG Comparing candidate config to /etc/calico/confd/config/bird6.cfg
2016-11-23T11:47:44Z master-1 confd[89]: INFO Target config /etc/calico/confd/config/bird6.cfg out of sync
2016-11-23T11:47:44Z master

[2016-11-23 16:08] caseydavenport commented on #873
For my use-case, I'd be fine with a `CAN_REACH` env variable.

[2016-11-23 16:51] robbrockbank opened #1330 "Add automated STs for remaining calicoctl commands"
Once the STs PR is merged,  there will be some commands that our STs do not yet handle.  These are:

[code]

[2016-11-23 18:50] caseydavenport opened #1331 "calicoctl get profile fails"
Seen on master calicoctl.

[code]

[2016-11-23 18:53] caseydavenport commented on #1331
I'll fix this up.

[2016-11-23 18:58] robbrockbank commented on #1287
And we need to make sure it doesn't hang indefinitely.

[2016-11-23 19:33] #1331 closed

[2016-11-23 19:47] #1257 closed

[2016-11-23 19:47] #1294 closed

[2016-11-23 19:47] #1315 closed

[2016-11-23 19:48] robbrockbank commented on #1281
Fixed in latest master

[2016-11-23 19:48] #1281 closed

[2016-11-23 19:52] robbrockbank commented on #1322
@djosborne

The `calicoctl node run` command accepts the following options:

[code]

So, logic is a little different from before.

For an init-system I'd recommend that you run with `--dryrun` and `--initsystem` and that will print out the command that you need to run to put the command in an init system, it will also write out the `docker stop` command too.

[2016-11-23 19:58] robbrockbank commented on #1293
Fixed by #1320

[2016-11-23 19:58] #1293 closed

[2016-11-23 21:17] caseydavenport commented on #716
@matthewdupre Yeah, that all sounds pretty scary.

Maybe we should be looking for the BIRD fix instead.

[2016-11-23 21:18] caseydavenport commented on #716
This has been around for a long time and it's really bad.  Moving to P0

[2016-11-23 22:47] caseydavenport commented on #1328
@javaboyuk thanks for raising!

Note that it's Thanksgiving in the US the next couple of days, so a lot of us won't be doing much work in that time.

[2016-11-24 00:06] gunjan5 commented on #1297
@caseydavenport

then how would anyone delete an `ipPool` for example?

Seems like any delete command is being ignored for k8s backend right now:
[code]

[2016-11-24 03:00] robbrockbank opened #1335 "Format of `calicoctl node status` output should be ps-style rather than table"
Format of `calicoctl node status` is as follows:

[code]

which is different to the format of `calicoctl get` - which by default is ps-style table output.

We may want to consider changing this to match.

[2016-11-24 06:20] caseydavenport commented on #1309
@robbrockbank can we punt this from 2.0?  It's useful but I don't think it's mandatory.

[2016-11-24 15:41] lxpollitt opened #1336 "Readme: Might want to call out the windows / darwin builds for calicoctl"
This was an outstanding review feedback from @caseydavenport on @djosborne's latest updates, but I didn't want to delay getting the rest of @djosborne's stuff merged.

[2016-11-24 16:41] Stealthii commented on #1222
I reckon this might be a permissions error. Similar example:
[code]

[2016-11-24 17:10] Stealthii commented on #1222
Repeating these steps with SElinux rules properly set (or disabled completely) leads to better success. `configure-calico` still gets stuck in a crash loop, with the following:
[code]

[2016-11-24 17:19] Stealthii commented on #1222
It seems the version of calicoctl image (v0.23.0) comes with version `v1.0.0-beta-13-g463cc95`, which no longer provides pool or other subcommands. Let me know if I should open a new issue on this, or if it's relevant to the same issue listed here.

[2016-11-24 17:42] caseydavenport commented on #1222
@Stealthii could you raise another issue? That's a pretty urgent bug.

[2016-11-24 17:45] Stealthii opened #1339 "calicoctl image tag v.0.23.0 contains dirty commit build of tool"
Trailing off from #1222, it seems the version of calicoctl image (v0.23.0) comes with version `v1.0.0-beta-16-gb075ecb-dirty`, which no longer provides pool or other subcommands.

For context, the container definition in the example `calico.yaml` for kubeadm is as follows:
[code]

Output from `docker run --rm docker.io/calico/ctl:v0.23.0 pool`:
[code]

Output from `docker run --rm docker.io/calico

[2016-11-24 17:58] caseydavenport commented on #1339
@Stealthii I've just pushed a new image.  You'll need to re-pull to write over whatever you've already got locally.

It should have the right version:

[code]

[code]

[2016-11-24 17:59] caseydavenport commented on #1339
@Stealthii if you can confirm this works, I'll close!

[2016-11-24 18:25] Stealthii commented on #1339
Running `docker pull docker.io/calico/ctl:v0.23.0`:
[code]

Re-run apply to reconfigure (`kubectl apply -f calico.yaml`):
[code]

Checking job completed successfully (`kubectl get pods --all-namespaces  --show-all | grep calico`):
[code]

@caseydavenport I can confirm tag `v0.23.0` now provides v0.23.0 of the calicoctl tool, and works as intended.

[2016-11-24 18:25] #1339 closed

[2016-11-24 18:26] Stealthii commented on #1222
calicoctl being a separate issue - @kharisj the likely issue here is a misconfigured SELinux environment. If you can't configure this correctly, follow instructions to disable SELinux on your host OS fully, and you should have no permission issues as expected from your example.

[2016-11-24 19:49] caseydavenport commented on #1297
@gunjan5 d'oh, yeah I forgot about that.

That's the right behavior for it right now.  I think we want to pull out the ipPool support in the backend anyway for now - it's not done correctly.

[2016-11-25 02:14] wrouesnel commented on #1171
I've been revisiting this lately with `oci-runtime-tools` to do the deployment. This is my latest effort;
[code]

The big call out is that `/tmp:/tmp` bindmount is to workaround `--tmpfs` being mounted noexec, whereas almost everything tends to try and execute stuff from `/tmp` anyway. The python script being called in there reads some config-drive JSON to get the calico hostname, IP and AS number

[2016-11-25 03:44] alfred-huangjian opened #1340 "Confd Errors about getting ipv6 keys"
I'm trying to build up an kubernetes environment with calico, and follow the guide below.
http://docs.projectcalico.org/v1.6/getting-started/kubernetes/installation/

kubernetes version:  1.3.0
OS: Suse12sp1
Calico: 1.6
[code]
And the route between hosts is not generated
[code]
Can anyone help or give some ideas?

[2016-11-25 04:01] alfred-huangjian commented on #1340
By the way, I have meet the same problem with the lastest beta version.

[2016-11-25 14:27] lwr20 opened #1341 ""calicoctl config set logLevel debug" does not turn on debug logging in Felix"
As summary.

Having run that command, there are 3 likely looking keys in etcd:
[code]
But the felix logs from my calico-node instances are still outputting INFO logs.  @fasaxc thinks that the key felix is watching is `/calico/v1/config/LogSeverityScreen` - i.e. the one which still says INFO.

[2016-11-25 15:08] fasaxc opened #1343 "Confusing error when running calico/ctl without docker -i flag"
I tried to use the `calico/ctl` container image to import some policy using this command:
[code]
But it fails with this confusing error:
[code]
It turned out that I was missing the `-i` flag on the docker run command, without which the stdin doesn't reach calicoctl.  So these do work:
[code]
Ideally, we'd spot this docker gotcha and tell the user to pass `-i` but failing that, it'd be better to wa

[2016-11-25 15:35] fasaxc opened #1345 "calicoctl apply could flag up repeated names in input yaml"
I imported a yaml file containing multiple policies; I'd made a noob error by copy and pasting a policy and failing to update its name.  calicoctl happily processed the file with the two policies in it but presumably the later one clobbered the first.  Output said `Successfully applied 2 'policy' resource(s)`, which was a bit misleading.

[2016-11-25 16:07] lwr20 opened #1346 ""calicoctl config set asnumber <x>" has no effect"
I ran `calicoctl config set asnumber 5555` and expected the ASNumbers of the bird instances to change.

After a while of searching, I concluded the best way to check was to look at the config files in `/etc/calico/confd/config` of my `calico/node` containers.  (`calicoctl node status` does not show the configured ASN of each node - is that a bug in itself?)

Anyway - I do not see confd creating ne

[2016-11-25 17:29] djosborne commented on #1322
Ok, I appreciate that we now have one official way to bind `calico/node` to an init-system. Our systemd documentation already shows this, so I can't identify any actions from here, so closing

[2016-11-25 17:29] #1322 closed

[2016-11-27 05:17] robbrockbank commented on #1346
@lwr20 : If the default global value is not being honored then it might be because the node has been started with an explicit AS number (which overrides the default).

You can tell either by looking at the run parms of the calico/node container, and you can also check by running `calicoctl get nodes --output=wide`

If an AS number is set that'll be the problem.   If it isn't set then i'll need to

[2016-11-27 05:32] robbrockbank commented on #1330
STs are now checked in

[2016-11-27 05:32] #1330 closed

[2016-11-28 09:49] fasaxc opened #1347 "1.6 OpenStack docs refer to 1.4 PPA"
I didn't know we had a 1.6 PPA, but the docs appear to refer to the 1.4 PPA: http://docs.projectcalico.org/v1.6/getting-started/openstack/installation/ubuntu

[2016-11-28 10:05] fasaxc commented on #716
Does this BIRD PR help at all: https://github.com/projectcalico/calico-bird/pull/25 I thought that was supposed to fix BIRD's inability to replace IPIP/non-IPIP routes with the opposite.

[2016-11-28 10:14] wupeaking opened #1348 "host can't ping container when adding some profiles rules"
sorry my english is poor.

there are my env:
calico-node v0.22.0
calio-libnetwork v0.9.0
docker 1.12
vmware centos 7.2

mesos-slave1: 172.24.6.166
mesos-slave2: 172.24.4.167
mesos-master,marathon: 172.24.6.174

mesos-slave1 and mesos-slave2 are not in same subnet, so i use ipip.

I create three networks:
[code]

I create three application using marathon.

web11  has two containers:
[code]

app11 h

[2016-11-28 11:47] lwr20 opened #1349 "'calicoctl node diags' doesn't dump etcd"
As summary.  I ran `calicoctl node diags` and the resulting diags file contains:
[code]
Would be handy (e.g. for issue #1346) if it also collected the keys and values from below `/calico/` in the etcd database.

[2016-11-28 12:04] lwr20 commented on #1346
Nope - node has not been started with explicit AS number. (as an aside, would `calico node diags` capture that info?)

[code]

etcd contents:
[code]

[2016-11-28 18:21] caseydavenport commented on #716
@fasaxc it might!  We should investigate and see if this can just be closed when we move to that version.

[2016-11-28 18:39] robbrockbank commented on #1349
I'm not convinced diags should really dump out the whole of etcd.  Firstly, it could be a *lot* of data for a real deployment.  Secondly, this will only work for an etcd backend and not for k8s.  Might be useful to trace out certain key bits of information such as data for the host, global config, peers etc...  needs some thought here.

[2016-11-28 18:46] caseydavenport commented on #1057
@djosborne what's the latest on this guy? Most of those bullet points are just about done?

[2016-11-28 21:16] robbrockbank opened #1350 "Update calicoctl node run to optionally overwrite the node resource parameters"
Currently the node run command takes --as, --ip and --ip6 parameters to allow you to configure the AS number and IP addresses on the node.

However, these are also configurable through the node resource.

We should make it so that if the parameters are omitted then we will use the currently configured values.  If a node resource has not been explicitly created and set these values then we will:
-

[2016-11-28 23:04] robbrockbank commented on #1350
This is a tidy up of our API and as such needs to be addressed for the v1.0.0 milestone.

[2016-11-28 23:55] josephjacks commented on #949
Hi @robbrockbank - any new developments? We are seeing customers looking to use Calico on Azure.

[2016-11-29 00:19] tomdee commented on #603
So we have https://github.com/projectcalico/libnetwork-plugin/issues/72 for libnetwork-plugin
and https://github.com/projectcalico/calico/issues/227 for the docker libnetwork part of the docs.

But what about the other bits, e.g. can someone run Calico on an IPv6 only network - can they talk to etcd using IPv6? Can the bird instances talk to each other using IPv6? How do they configure it?

I don'

[2016-11-29 00:21] tomdee commented on #963
Hmmm, this has fallen through the cracks. I don't think kind/support is the best label here - it's either a bug or an enhancement, I'm pretty sure this is more than user error.

[2016-11-29 01:03] #1208 closed

[2016-11-29 01:14] caseydavenport commented on #603
Yeah, don't think this is v1.0.0.

It's a shame we don't document better - I'd like to make this a priority after the next release.