[2015-11-17 23:11] ajaybhatnagar commented on #633
Here is the status. Have the diag files also ceated. Let me know where should I put them .
On first node creating the docker container fails though docker ps command does not list any. Remove the container and rerun the same command , it fails again.

Thanks
Ajay

root@calico-00:~# calicoctl status
calico-node container is running. Status: Up 2 hours
Running felix version 1.2.0

IPv4 BGP status
+-

[2015-11-18 03:13] robbrockbank commented on #633
Hi @ajaybhatnagar,

I haven't had a chance to look at the diags just at the moment, but I have just hit an issue myself with the latest images - in particular images that are using the latest release of calico.  I've raise an issue with the core calico folk about that.

From your output, it looks as though you are using the latest images from the HEAD of master.  Until that is resolved, you might

[2015-11-18 04:17] frostynova opened #636 "Host cannot ping to container"
Calico 0.10 + libnetwork + Docker 1.9

On the host can not ping the container. But tcpdump show the container has received the arp packet.

With some testing, i found more than one network interfaces in the container:

[code]

**eth1** seems to be the docker bridge, and the default route point to it. I guess it is why the ping failed

In this issue https://github.com/docker/libnetwork/issues/666 ,

[2015-11-18 15:28] ajaybhatnagar commented on #633
Problem is in release v0.11.0, able to connect with release v.0.10.0
Thanks
Ajay

From: robbrockbank [mailto:notifications@github.com]
Sent: Tuesday, November 17, 2015 10:14 PM
To: projectcalico/calico-docker
Cc: Ajay Bhatnagar
Subject: Re: [calico-docker] After creating multihost calico demo docker containers they are unable to reach (#633)

Hi @ajaybhatnagar<https://github.com/ajaybhatnagar>,

I

[2015-11-18 17:47] robbrockbank commented on #630
Hi @frostynova - this one is on our radar, but still needs a little thought about how to handle.  It may simply end up being a testing/documentation thing - but we'll keep you posted.

[2015-11-18 17:51] robbrockbank commented on #636
Hi @frostynova - could you let me know what steps you took to create the container etc?  I'm surprised that there are two interfaces if you are using libnetwork.

[2015-11-18 23:37] robbrockbank opened #639 "Documentation not updated correctly for v0.11.0"
For example:

Links to calicoctl binary are still referencing the latest build from master
Page header still says the docs are for master.

There may be other issues.

[2015-11-18 23:40] robbrockbank commented on #633
Hi @ajaybhatnagar,

Thank you for the update.  I've just noticed that the documentation links for v0.11.0 were not updated correctly, so it is quite possible that the binaries you were using were actually from the master branch which was not working (although it should be working now).

I'll get the docs fixed up for v0.11.0 - hopefully this will resolve the problem, but it's good to know that you

[2015-11-18 23:55] ajaybhatnagar commented on #633
I specifically tried with v0.11‎.0 links provided first then downgraded to v0.10
Thanks
Ajay

Sent from my BlackBerry 10 smartphone on the Rogers network.
From: robbrockbank
Sent: Wednesday, November 18, 2015 18:40
To: projectcalico/calico-docker
Reply To: projectcalico/calico-docker
Cc: Ajay Bhatnagar
Subject: Re: [calico-docker] After creating multihost calico demo docker containers they are una

[2015-11-19 00:13] robbrockbank commented on #636
Hi @frostynova,

Actually this is similar to a discussion on the libnetwork-plugin repo (https://github.com/projectcalico/libnetwork-plugin/issues/21).  We are currently working on an IPAM driver for libnetwork, using this driver will default to the previous behavior of a single cali interface.

[2015-11-19 00:13] caseydavenport commented on #639
Version still reports v0.10.0-dev

[2015-11-19 14:48] ajaybhatnagar commented on #633
Is it possible to use Zookeeper in place of ETCD , if yes, what changes may be needed?
Thanks
Ajay

From: robbrockbank [mailto:notifications@github.com]
Sent: Wednesday, November 18, 2015 6:40 PM
To: projectcalico/calico-docker
Cc: Ajay Bhatnagar
Subject: Re: [calico-docker] After creating multihost calico demo docker containers they are unable to reach (#633)

Hi @ajaybhatnagar<https://github.com

[2015-11-19 19:13] robbrockbank commented on #633
@ajaybhatnagar

We currently only support etcd.

[2015-11-19 19:35] #627 closed

[2015-11-19 19:59] #520 closed

[2015-11-19 21:14] tomdee commented on #426
@Symmetric @caseydavenport Any update on this kubernetes issue?

[2015-11-19 21:16] tomdee commented on #576
Fixed

[2015-11-19 21:16] #576 closed

[2015-11-19 21:26] Symmetric commented on #426
@tomdee looks like the Vagrant issue was with our bare calico-docker Vagrantfile, which should be easy to test. The original issue in this thread should be followed up on now -- we were deferring making a fix here until we figured out what our approach was going to be on other cloud providers.

Notes -- @fasaxc suggested that we could add iptables rules equivalent to the `ip rule` here, but in my

[2015-11-19 21:27] Symmetric commented on #426
Also this isn't a kubernetes-specific issue; it applies to the bare calico-docker case as well, it's just that nobody has hit it there.

[2015-11-20 05:32] AdoHe commented on #631
@tomdee how about this issue?

[2015-11-20 18:49] robbrockbank commented on #614
Hi @AdoHe,

Did you manage to run the `calicoctl diags` comands on the hosts.  If you do manage to run this, you could upload the diags to transfer.sh or similar and post the link here, or let me know if you'd rather send in a PM.

If you don't manage to gather the diags, we'll try and repro in house as soon as we can.

Rob

[2015-11-20 18:55] Smana opened #643 "Calico node status (systemd)"
Hello,

I'm working on a project which deploys kubernetes and Calico with Ansible https://github.com/ansibl8s
Currently i'm looking for a way to manage Calico-node as a service.

I've the following systemd unit
[code]

But this only runs calico on startup.
I don't have any way to be sure that the calico-node is running after a deployment (service status).
Is there a systemd unit which manage the c

[2015-11-20 19:46] Smana commented on #643
@caseydavenport informed me about an existing unit file https://github.com/projectcalico/calico-kubernetes/blob/master/config/node/calico-node.service.

I'll test it and let you know if that work for my use case.

Thanks

[2015-11-20 19:58] tomdee commented on #631
Do you have IP connectivity between the two hosts? e.g. can they ping each other? If so, then you have L3 connectivity (but not L2 since they are on different hosts).

When Calico starts sending packets across your network with Calico IPs, the routers on your network need to know how to forward those packets. One way to achieve this is it have your routers peer with the Calico hosts (using BGP) wh

[2015-11-20 19:58] #631 closed

[2015-11-20 20:02] tomdee commented on #614
I just tried to repro this problem on centos 7 but didn't hit any issues.

[code]

[2015-11-20 22:43] tomdee commented on #82
Sorry, missed this as the issue was still closed.

Libnetwork complicates things. Make sure you understand it before you upgrade. As long as you use the calico driver _and_ the calico IPAM then you should be OK.

We're going to be releasing v0.11.0 today or maybe over the weekend, I would recommend holding out for that.

Upgrading should be as simple as you describe but we've not tested that parti

[2015-11-20 22:43] #82 closed

[2015-11-21 03:56] AdoHe commented on #614
@tomdee @robbrockbank sorry about reply so late. I tried `calicoctl 0.4.9`, it is ok. Later I will try to reproduce this issue and provide more information.

[2015-11-21 04:03] AdoHe commented on #631
@tomdee the two hosts can ping each other, they did have L3 connectivity. for this sentence `One way to achieve this is it have your routers peer with the Calico hosts (using BGP) which allows them to know where to forward the Calico packets` I am not very clear, you mean that we should run `BIRD` on every routers peer for BGP?

[2015-11-21 12:34] Smana commented on #643
Tested successfully.

[2015-11-21 12:34] #643 closed

[2015-11-23 10:42] AdoHe commented on #631
@tomdee the routers peer is the `router` which connects two different subnets?

[2015-11-23 19:29] djosborne commented on #582
Closing, now that our [calico-mesos documentation](https://github.com/projectcalico/calico-docker/tree/master/docs/mesos) has been published

[2015-11-23 19:29] #582 closed

[2015-11-23 20:26] ajaybhatnagar opened #646 "How to install Net Modules in Ubuntu for Docker, Mesos and Calico setup"
Hi
Instructions on the link provide for rpm install for NetModules.  I have working Ubuntu Mesos/ Marathon (v 0.25)cluster and Calico networking (v0.10.0) with Docker (v1.9.0) containers. I would like to add Calico Netmodule to the slave nodes and run a a docker containers cluster with multiple hosts.

I do not plan to use Vagrant based setup.

Thanks
Ajay

[2015-11-23 20:46] robbrockbank commented on #639
Not fixed in v0.11.0 - but v0.12.0 is now released, and version string updates seem to have been resolved.

[2015-11-23 20:46] #639 closed

[2015-11-23 20:54] robbrockbank commented on #633
@ajaybhatnagar

We've just released v0.12.0 which I believe will address the problem you were having with master and with v0.11.0.

I'll close the issue, but if you are still having problem please reopen and update.

Rob

[2015-11-23 20:54] #633 closed

[2015-11-23 20:56] ajaybhatnagar commented on #633
Thanks  Rob.
I will verify it and update if necessary.
Ajay

From: robbrockbank [mailto:notifications@github.com]
Sent: Monday, November 23, 2015 3:55 PM
To: projectcalico/calico-docker
Cc: Ajay Bhatnagar
Subject: Re: [calico-docker] After creating multihost calico demo docker containers they are unable to reach (#633)

@ajaybhatnagar<https://github.com/ajaybhatnagar>

We've just released v0.12.0

[2015-11-23 21:03] robbrockbank commented on #630
@frostynova

We've just release v0.12.0 which adds Calico IPAM support.  One upshot of this is that provided you are using Calico IPAM then it should be possible to edit the profile rules rather than using the default behavior.

We do still need to do a better job of documenting this - or possibly thinking about new commands, or new docker network options to improve this.  I'll close this issue an

[2015-11-23 21:03] #630 closed

[2015-11-23 21:05] robbrockbank commented on #636
Hi @frostynova,

If you now use the Calico IPAM driver (release in v0.12.0) we always route via the host vRouter rather than the Docker gateway bridge.

I believe this should resolve your issue.  I'll close the issue, but please re-open and update if that is not the case.

[2015-11-23 21:05] #636 closed

[2015-11-23 21:20] robbrockbank commented on #614
Hi @AdoHe,

Was 0.4.9 the first version that you found in which it started working?  Did you try all of the later versions?

I'm just wondering if it would be possible for you to find the most recent version that it works for CentOS so I can see what changed in the next release.

We also released a v0.12.0 today - perhaps that may resolve the issue.

Rob

[2015-11-23 21:24] TrimBiggs commented on #610
@titilambert, did you see my message just above?

[2015-11-23 21:24] robbrockbank commented on #586
Fixed by #642

[2015-11-23 21:24] #586 closed

[2015-11-23 23:17] djosborne commented on #646
Hi @ajaybhatnagar.

The setup you've described is our end-goal, but unfortunately not yet supported.

We separately support:
1.) Calico Networking with Docker via Libnetwork
2.) Calico Networking in Mesos for Frameworks Launching Applications via the [Mesos Containerizer](http://mesos.apache.org/documentation/latest/containerizer/).

However we do not yet support Calico-networked Docker Containers

[2015-11-23 23:32] titilambert commented on #610
Hello!
Indeed, when I just ping I don't get any error. If I try with a larger packet I get the frag error.
I get the error with only one of my calls, which I don't have a lot a information. But all other calls are fine.
But I think the problem could come with is a streaming requests.
Also, I'm working on Digital Ocean. Maybe there is something on their network ?

[2015-11-24 01:43] ShanshanHe opened #649 "can not start the mesos slave service"
I followed the instructions to spin up my mesos cluster with calico net-module on two VMs (CentOS7), and I have my master service running, the problem is that I can't start the slave service. Here is the output of $systemctl status mesos-slave.service:

mesos-slave.service - Mesos Slave
   Loaded: loaded (/usr/lib/systemd/system/mesos-slave.service; enabled)
   Active: activating (auto-restart) (R

[2015-11-24 01:54] AdoHe commented on #614
@robbrockbank I will try later version as soon as I can. And I will give you more feedback.

[2015-11-24 14:16] ajaybhatnagar commented on #646
Thanks for the info. Looking forward to Docker containerizer support.

From: djosborne [mailto:notifications@github.com]
Sent: Monday, November 23, 2015 6:17 PM
To: projectcalico/calico-docker
Cc: Ajay Bhatnagar
Subject: Re: [calico-docker] How to install Net Modules in Ubuntu for Docker, Mesos and Calico setup (#646)

Hi @ajaybhatnagar<https://github.com/ajaybhatnagar>.

The setup you've describe

[2015-11-24 14:56] ajaybhatnagar commented on #633
It worked on v0.12.0 however when all nodes were running v0.12.0 not in mixed mode with some nodes on  v.010.0 and some on v0.12.0. Probably some incompatibility between versions.
Thanks

[2015-11-24 18:13] djosborne commented on #649
Hi @ShanshanHe . Which instructions did you follow to install core Mesos + Netmodules? Was it the [RPM guide](https://github.com/projectcalico/calico-docker/blob/master/docs/mesos/RpmInstallMesos.md)? And can you rerun the command with the `-l` option: `systemctl status mesos-slave.service -l`

[2015-11-25 03:16] frostynova opened #652 "How to specify IP Address when using libnetwork?"
When using powerstrip, we can run containers with  ``` -e CALICO_IP=xxx ``` , now how can we do that?

[2015-11-26 01:12] robbrockbank commented on #652
@frostynova

If you use the "default docker networking" approach, you can specify the IP address when you add the container to the Calico network.  (e.g. ```sudo calicoctl container add workload-A 192.168.0.1```)

If you are using the new libnetwork based approach, we don't currently support IP selection per container.  IP addresses are assigned automatically from the configured IP Pools.

The lib

[2015-11-26 03:58] jaywayjayway opened #655 "restart a container,how to acquire old ipaddress automatically"
restart a container,how to acquire old  ipaddress automatically

[2015-11-26 05:08] frostynova commented on #652
@robbrockbank yep, we need libnetwork+calico  with ip address specified

Imaging this:

When upgrading a container ( stop  & pull_new & start ), if the ip changed, dns record must be updated too. But there is often a time lag.

And since clients may hold their own dns cache, we have to restart all clients which need request this container to force them access the new ip address

[2015-11-30 17:19] robbrockbank commented on #577
@frostynova

There are discussions about in the core Calico team regarding QoS, of which this would be subset of the work.  Nothing concrete in the plan as far as I am aware.  I would recommend raising this issue in the Calico project ( https://github.com/projectcalico/calico ) - I think full integration with Calico and Calico data model is the preferred approach for this.

[2015-11-30 17:24] robbrockbank commented on #655
@jaywayjayway

Hi,  just to clarify, are you using the "libnetwork", or "default docker networking" approach to add you containers into Calico.

I assume you are using the "default docker networking" approach.  In this case you'll need to remove your container from Calico using the ```calicoctl container remove``` command, and then re-add it back into the Calico network using the ```calicoctl cont

[2015-11-30 22:00] tomdee opened #657 "Kubernetes vagrant instructions are wrong/out of date"
Multiple problems with the docs at
https://github.com/projectcalico/calico-docker/blob/master/docs/kubernetes/VagrantProvisioner.md

Mainly the text just feels out of date - the biggest problem is that it's using a pre-1.0 fork of Kubernetes.

It's also not great in that the magic is hidden in a script making it hard for users to know what's going on.

[2015-12-02 08:41] AdoHe opened #659 "no need to use export DOCKER_HOST=localhost:2377 ?"
FYI. is there any need to use `export DOCKER_HOST=localhost:2377` command after we call `sudo calicoctl node` command? If no need, how `calico` can intercept the docker api?

[2015-12-02 23:51] robbrockbank commented on #659
@AdoHe

Not any more.

From version 1.9, Docker has a native networking framework (based on libnetwork) that allows you to write networking and IPAM drivers for Docker containers.  If you are using Calico with libnetwork (e.g. by running ```calicoctl node --libnetwork```) we spin up a container (calico-libnetwork) that contains a network driver that hooks directly into Dockers native networking fr

[2015-12-03 00:33] AdoHe commented on #659
@robbrockbank Get it! Thanks very much.

[2015-12-03 00:50] #659 closed

[2015-12-03 11:12] dragonde commented on #426
I'm experiencing this issue. I deployed k8s over CoreOs nodes running on DigitalOcean (DO).
The hosts network is a DO private net, 10.131.0.0/16, and the pods network 10.2.0.0 corresponding to:

calicoctl pool add 10.2.0.0/16 --ipip --nat-outgoing

I get communication host-to-host and pod-to-pod, but NO comunication "host-to-pod", so kube-proxy, which is a hostNetwork:true container, cannot proxy

[2015-12-03 21:27] alexhersh commented on #657
When we cleanup and merge https://github.com/kubernetes/kubernetes/pull/7245 we will be able to point to kubernetes:master

[2015-12-03 23:10] caseydavenport commented on #426
To implement this fix, we need to add code to Felix which is aware of which IP addresses are assigned to this host, as well as all node IP addresses in the Calico deployment.

When IPIP is enabled, Felix will need to install the following for each pod IP / subnet on this host,
[code]

Felix will also need to install the following for each node in the Calico deployment.
[code]

I'd like to start ad

[2015-12-04 17:26] robbrockbank commented on #655
@jaywayjayway

Hi, Just following up with your issue.  Did my previous comment make sense?  Just want to make sure you aren't blocked on anything.

Rob

[2015-12-04 19:55] #601 closed

[2015-12-04 22:04] TrimBiggs commented on #512
Fixed by #654

[2015-12-07 11:19] dmytroleonenko commented on #646
+1 for that feature

[2015-12-07 16:57] djosborne commented on #646
@ajaybhatnagar @dmytroleonenko We've almost merged some Calico-specific Netmodules installation guides at #667 (specifically the [Manual Mesos + Netmodules](https://github.com/djosborne/calico-docker/blob/mesos-docs-update/docs/mesos/ManualInstallNetmodules.md) one

[2015-12-07 17:03] djosborne commented on #646
Also @ajaybhatnagar an update on Mesos/Docker networking: work is being done by Mesos on the Mesos Containerizer to support docker containers (deprecating the Docker Containerizer). Since the Mesos Containerizer uses the new networking in Mesos, Calico should work out of the box. Its currently early stage testing.

[2015-12-07 18:30] ajaybhatnagar commented on #646
Thanks. Looking forward to functional release.

From: djosborne [mailto:notifications@github.com]
Sent: Monday, December 07, 2015 12:04 PM
To: projectcalico/calico-docker
Cc: Ajay Bhatnagar
Subject: Re: [calico-docker] How to install Net Modules in Ubuntu for Docker, Mesos and Calico setup (#646)

Also @ajaybhatnagar<https://github.com/ajaybhatnagar> an update on Mesos/Docker networking: work is b

[2015-12-07 22:24] TrimBiggs commented on #602
This isn't quite as simple as I thought.  I was unable to catch the KeyboardInterrupt exception within the calicoctl and node commands.  It may be a matter of catching a SIGINT with a signal handler.

[2015-12-07 22:35] #646 closed

[2015-12-07 22:36] djosborne commented on #649
@ShanshanHe can you provide some more information to debug this?

[2015-12-08 01:29] ShanshanHe commented on #649
Hi @djosborne, yeah I followed the  [RPM guide](https://github.com/projectcalico/calico-docker/blob/master/docs/mesos/RpmInstallMesos.md) to install mesos+netmodules, I actually followed the [four step instructions](https://github.com/projectcalico/calico-docker/tree/master/docs/mesos),  `systemctl status mesos-slave.service -l` didn't give me much things, almost the same as the infomation I poste

[2015-12-08 01:29] robbrockbank commented on #652
Hi @frostynova.  I wrote a response to this a while back and looks like i didn't hit comment.  Apologies.

As far as I'm aware the native Docker API doesn't currently support a mechanism for specifying a container IP, so I'm not sure this is possible using the libnetwork approach.  Is it possible for you to use the non-libnetwork approach for networking with Calico?

[2015-12-08 02:24] frostynova commented on #652
@robbrockbank Thanks for the answer

That's why we still use ver 0.4.9
Without libnetwork, the main problem is when containers start, the network is actually not ready. Some applications which depend on a reachable network will fail.
And the problem of the  default network solution in current version is, we need to deploy a daemon on each host, which will monitor the running containers and add the

[2015-12-08 16:43] djosborne commented on #649
So the problem is this line:
[code]
And the failure is a bit embarrassing on our part - the modules.json file provided in the rpm has "comments" in it, but there's no such thing as a JSON comment. So if you delete the lines beginning with `#` in `/calico/modules.json` you should see some better results.

[2015-12-08 18:32] euprogramador opened #668 "Kubernetes client certificate KUBE_API_ROOT"
kubernetes supports multiple ways to protect your api, the best is client certificate, where api kubernetes is protected with a client certificate and only those who have this certificate is doing operations in api, calico node does not support certificate-based authentication, today decided making a nginx proxy site and pointing to localhost KUBE_API_ROOT however this leaves a gap in communicatio

[2015-12-08 21:18] robbrockbank commented on #652
Docker docker issue https://github.com/docker/docker/issues/6743 is currently tracking this.

[2015-12-08 22:40] #602 closed

[2015-12-09 00:45] ShanshanHe commented on #649
I followed the [manually install instruction](https://github.com/projectcalico/calico-docker/blob/master/docs/mesos/ManualInstallCalico.md) where I downloaded the binary `calico_mesos` and created the modules.json file by copying the content in the [manually install instruction](https://github.com/projectcalico/calico-docker/blob/master/docs/mesos/ManualInstallCalico.md) (which has no lines beginn

[2015-12-09 00:51] djosborne commented on #649
Can you post your `modules.json` file, by running `cat /calico/modules.json` on your slave?

[2015-12-09 02:15] frostynova commented on #652
@robbrockbank Thanks, now we can only wait for the new version released.

[2015-12-09 21:36] caseydavenport commented on #668
@euprogramador - The `calico/node` container itself doesn't currently access the Kubernetes API, but the calico-kubernetes plugin does.  The calico-kubernetes plugin currently supports token authentication using the KUBE_AUTH_TOKEN variable.  Is there a reason that token auth is not sufficient for your use case?

[2015-12-09 22:28] TrimBiggs opened #671 "etcdStructure.md is out of date"
The structure of etcd has changed since this doc was written.  The ipam paths are significantly different with the introduction of ipam blocks, and some naming has also changed, such as changing `/calico/v1/host/<host>/bird_ip` to `/calico/v1/host/<host>/bird_ip`

[2015-12-10 11:27] euprogramador commented on #668
@caseydavenport for safer use authentication via client certificate, so the security is enhanced since ssl use the ssl server and the client to identify a closing cross pair. for each client that uses the api I generate a client certificate, and kubernetes does not accept other authentication mechanism, auth token refers not autentication authorization, would be good for calico-kubernetes have a w

[2015-12-10 22:09] #512 closed

[2015-12-11 09:32] jaywayjayway opened #674 "remove pool,but something relationship of pool still exist in the etcd ."
I show my environment ：
-  two nodes: hostname with  node1, controller
- node1's IPaddress  `10.10.0.7`
- controller's IPaddress `10.10.0.5`
- kubernetes cluster with calico_kubernetes (all are right)

starting  container  named calico-node  using  `calicoctl  node --ip xxx ` on above the nodes.And it will create pool  `192.168.0.0/16`,as show below:

[code]
then I use k8s to create two pods. the

[2015-12-14 17:57] robbrockbank commented on #614
@AdoHe Hi - did you ever manage to see if this was working for you?

[2015-12-14 18:05] robbrockbank commented on #674
Hi @jaywayjayway

Yes I agree.  There are a couple of issues related to dangling configuration with the IP Pools.  One is #519 in calico-docker and the other is issue 56 in libcalico.

We are thinking about the best way to fix this at the moment.

https://github.com/projectcalico/calico-docker/issues/519
https://github.com/projectcalico/libcalico/issues/56

I'm closing this issue since it is effec

[2015-12-14 18:05] #674 closed

[2015-12-14 20:07] euprogramador opened #679 "symbol lookup error"
I downloaded the calicoctl and run'm getting this:

\#./calicoctl
*sh: symbol lookup error: /lib/x86_64-linux-gnu/libncurses.so.5: undefined symbol: _nc_putchar
sh: symbol lookup error: /lib/x86_64-linux-gnu/libncurses.so.5: undefined symbol: _nc_putchar
sh: symbol lookup error: /lib/x86_64-linux-gnu/libncurses.so.5: undefined symbol: _nc_putchar
sh: symbol lookup error: /lib/x86_64-linux-gnu/libn

[2015-12-14 23:17] TrimBiggs opened #682 "Upgrade calicoctl Python version for improved security when using Etcd with SSL"
When running calicoctl with etcd, urllib3 prints a warning to the screen:
[code]

We can fix this by:
1) Upgrading the version of python being used to create the calicoctl binary (currently 2.7.3, upgrade to 2.7.9+).  This involves something like changing the Dockerfile to use `debian:jessie` instead of `debian:wheezy`.  The Kubernetes plugin (and potentially others) also uses `debian:wheezy` and

[2015-12-15 04:09] AdoHe commented on #614
@robbrockbank I tried v0.12.0, it is ok. I think we can close this issue.

[2015-12-16 08:40] maklemenz opened #688 "Kubernetes-plugin: allow multiple etcd-peers [HA]"
The [plugin documentation](https://github.com/projectcalico/calico-docker/blob/master/docs/kubernetes/PluginConfiguration.md) says it is not possible to define multiple etcd-endpoints. This is a problem to me since this particular node could be down.

This could possibly be done without breaking anything by accepting comma separated values in ETCD_AUTHORITY.

Adding a haproxy doesn't seem to be th

[2015-12-16 17:55] fasaxc opened #689 "Make calico/node container work in rkt"
This issue tracks what's needed to make calico/node work in rkt.

The calico/node container doesn't currently work in rkt because rkt seems to have no way to run a container with the privileges that we need.  In particular, we know of these issues:

* rkt mounts /proc/sys as read-only but we need to modify it to configure the kernel.  I was able to work around this by using `rkt enter` to enter th

[2015-12-16 18:21] robbrockbank commented on #655
Hi @jaywayjayway - I'm closing this issue as I hope I addressed your question above.  However, if it didn't make sense, or you need more information - please feel free to re-open and update the issue.

[2015-12-16 18:21] #655 closed

[2015-12-16 18:21] #614 closed

[2015-12-16 18:42] robbrockbank commented on #679
Hi @euprogramador

I've not seen that before.  Sounds like an incompatibility between the host OS and the calicoctl binary.

Could you let me know a little more about your OD/Kernel, and include the output from `uname -a`

[2015-12-16 20:38] robbrockbank commented on #671
Not sure what you mean about the bird_ip naming.

[2015-12-16 21:47] caseydavenport commented on #688
Hi @maklemenz - At the moment, neither the kubernetes plugin nor the `calico/node` container support a list of `etcd` endpoints.  We recommend using an `etcd` proxy for connecting to multiple `etcd` endpoints.

I believe this is also the way CoreOS recommends connecting to a clustered `etcd`.

https://github.com/coreos/etcd/blob/master/Documentation/proxy.md

[2015-12-16 22:00] TrimBiggs commented on #671
Whoops, I meant `/calico/v1/host/<host>/ipv4_addr` to `/calico/v1/host/<host>/bird_ip`.  I made a comment about it in the PR.

[2015-12-16 22:05] euprogramador commented on #679
i am using debian jessie, Interestingly, I reinstalled the system in debian 7 and upgraded to the debian 8 and work in any required form .

[2015-12-16 22:05] #679 closed

[2015-12-16 22:41] #671 closed

[2015-12-17 08:21] maklemenz commented on #688
Hi @caseydavenport, thank you for that information. I'll look into the configuration of etcd-instances as proxies.

[2015-12-17 08:21] #688 closed

[2015-12-17 10:33] fasaxc commented on #689
https://github.com/coreos/rkt/pull/1833 introduces a new rkt stage1, which implements the `rkt fly` behaviour.  It's not yet finished but I was able to get calico/node running in that mode if I made a couple of tweaks.

Building rkt from source using  https://github.com/steveeJ/rkt/commit/59add1ae862ad1cb55103389d07582eb1002be52 , I was able to run calico/node with these arguments:
[code]
However,

[2015-12-17 14:16] fasaxc opened #691 "calicoctl can't match on ICMPv6"
As described in https://github.com/projectcalico/calico/issues/938, inserting an ICMP rule for v6 addresses doesn't work.

calicoctl/libcalico uses "icmp" for the protocol but felix is expecting "icmpv6".  This passes validation in Felix and the kernel accepts it even for an IPv6 rule, but it doesn't match the right packets.

We could fix in Felix by mapping "icmp" to different kernel protocols de

[2015-12-17 14:25] fasaxc commented on #691
WDYT?  I expect the work is pretty straightforward in Felix or calicoctl.

[2015-12-17 18:16] jonboulle commented on #689
/cc @jonboulle @steveej

[2015-12-18 01:50] fzhouse commented on #100
@frostynova Have you solved the problem with calico? I met the same problem with calico 0.12.0-dev. After I start the calico-node, I run 'docker run -tid -p 80:80 nginx' on physical host 10.0.0.1, I am able to access the nginx through http://10.0.0.1:80. However, after I add a new port to the docker with calico, I cannot access the nginx any more. Is there any way to solve this without adding ipta

[2015-12-18 13:08] frostynova commented on #100
@fzhouse Do you use Calico with Docker Libnetwork? How do you "add a new port to the docker"? Now our solution is still use iptables with DNAT rules.

[2015-12-18 13:15] frostynova opened #694 "With default network model, can we use inspect to fetch the ip addr managed by Calico?"
When using powerstrip, inspect API is hijack by Calico. Now use default network, can we still get the IP Address ?

[2015-12-18 23:44] TrimBiggs commented on #691
I think changing this in `calicoctl` is the right thing to do.  Seems like Felix is doing the right thing, and we should really be explicit about having an ICMPv6 rule option.

[2015-12-19 00:05] TrimBiggs commented on #694
Rather than using docker inspect to get the IP, you can use `calicoctl container <container> endpoint show` command to see the Calico IP address on the container:
[code]

Does that answer your question?

[2015-12-19 07:43] frostynova commented on #694
@TrimBiggs I know this way, but swarm we use to manage the containers cannot use it.

[2015-12-19 09:01] fzhouse commented on #100
@frostynova I am sorry for my poor expression. What I mean is that I start a docker with 'docker run --name webserver -tid -p 80:80 nginx' and I am able to access the docker with the host ip address and port 80. However, After I run 'calicoctl container add webserver 192.168.0.1', I am no longer able to access the nginx with the host IP and port 80. For now, I can only export the port of the docke

[2015-12-19 21:32] frostynova commented on #100
@fzhouse One possible answer is calico changed the container's default route, so your packet can reach the container, but cannot route back.  You can view the default route in the container or run tcpdump to see if the container has received the packets..

[2015-12-22 15:51] spikecurtis commented on #100
@fzhouse are you using the Calico driver with Docker 1.9 (e.g. `docker network create` commands)?

[2015-12-22 22:53] djosborne opened #697 "calicoctl status should return code 1 if errors detected"
Currently, the return code is 0 even when it detects an error:
[code]

There should be a sensible way to tell if calico is healthy via calicoctl.

Use Case: the Netmodules test framework will fail if it is executed before the `calico-node` container has started on the slave. Currently, we use an arbitrary 20 second delay to give calico-node time to launch. But it would be much more sensible to hav

[2015-12-22 23:26] robbrockbank commented on #694
HI @frostynova - no this won't be possible.  When using docker `--net==none` and `calicoctl` to manage the container interface and IP assignment, Docker is not involved in the networking at all, and so this information will not be output in the `inspect` command.

[2015-12-23 00:20] spikecurtis commented on #697
+1

[2015-12-24 00:21] spikecurtis commented on #426
One further issue rankles this mix:
Using both `ip rule` workaround for node to pod comm interferes with `--nat-outgoing` for pod to node comms.

The issue is that our outgoing NAT is in the `POSTROUTING` hook, so we change the source after the `ip rule` routing has happened, causing a masqueraded packet from the pod to be tunnelled `ipip`.  The host on the other side sees a host-to-host IP packet

[2015-12-25 05:36] frostynova commented on #694
@robbrockbank Got

We are still use 0.4.9, with the powerstrip. I wonder if there is any special reason for removing the hijack method in the later version? If not, we will re-implement our own version.

[2015-12-29 07:02] tacy opened #704 "Policy is not deleted, when you remove a profile by calicoctl"
Policy is not deleted, when you remove a profile by calicoctl

And some incorrect data in the etcd, I want to delete them by calicoctl, for example: workload, endpoint. these is not yet implement

[2015-12-29 18:46] robbrockbank commented on #694
@frostynova

The reason we moved away from powerstrip was simply because the libnetwork approach is the preferred approach moving forwards - it has better integration with docker and the full container lifecycle.

Is the only thing preventing you from using calico as a docker network plugin the fact that you cannot specify an IP address for a container?  If so, there was mention of a forked versio

[2015-12-30 17:44] robbrockbank commented on #704
Hi @tacy.

Could you tell me a little more about what you were doing to get the incorrect data?  It sounds to me like you were using the `calicoctl container` commands to add a Docker container into a Calico network, and then subsequently deleted a profile so that the endpoints referenced an invalid profile.  Is that correct?

If so, you should be able to delete the endpoint/workload using the `ca

[2015-12-31 03:28] tacy commented on #704
@robbrockbank

In my kubernetes test env,  if I restart kubernetes ,  it will recreate  pod.
[code]

The ip resources assigned to the exited pods no reclaim, I want manual clean by calicoctl, but I don't know how to do it .

[2015-12-31 07:49] frostynova commented on #694
@robbrockbank Yes, that is a key feature we needed.

And another is it seems upgrade from v0.4.9 to latest version with libnetwork is difficult. We need to translate the profile in 0.4.9 to libnetwork subnet, without breaking our produciton environment.

We will wait until Feb 2016, to have a look at if the new version libnetwork will provide what we need.

[2015-12-31 21:27] caseydavenport commented on #704
Hi @tacy.

You can use `calicoctl` to reclaim allocations using the `calicoctl container remove` command.

In Kubernetes, Calico sets up networking for the `/pause` infra container for each pod.  In most cases, Kubernetes will inform the Calico plugin to remove networking for the pod.  However, there are some circumstances where Kubernetes does not do this and the endpoints need to be cleaned up m

[2016-01-01 15:27] tacy commented on #704
Hi @caseydavenport

I got it,  thanks for your input.

But this is still a problem,  I don't want reclaim resource manual.

IMO, Calico need to better assign resource, such as kubernetes issue a pod schedule event, we can do that:

IF calico has assigned ip for the pod
    reclaim resource
    reassign resource for it
ELSE assign resource for it

[2016-01-04 17:32] fasaxc commented on #426
@caseydavenport felix already maintains some useful ipsets that might help.  We have sets for each of:

* all host IPs
* all (IPAM) pool CIDRs
* all CIDRs with NAT turned on.

Should make it easier to match traffic that's going from an IPAM-assigned IP to a host, for example.

We could add an ipset for "all IPIP pool CIDRs" too if that'd help.

[2016-01-04 17:33] fasaxc commented on #426
Also, you can match packets from pod interfaces with an interface match.  In iptables, we can do "cali*" to refer to all of the itnterfaces, without having to add individual rules.  I'd prefer if we can add a few static rules that take advantage of dynamic ipsets and interface matching, if possible.

[2016-01-04 17:44] spikecurtis commented on #426
@fasaxc I'm not sure ipsets helps here, unless we do all this in netfilter.  What @caseydavenport proposed is to use `ip rule` (i.e. policy routing), not netfilter.

[2016-01-04 17:59] Symmetric commented on #426
Not sure if this is what @spikecurtis was referring to, but keep in mind
that if you do the pure iptables route, you'll need to take account of
reverse path filtering (I found that I needed the `ip rule` statement, or
rp_filter=0 for _incoming_ packets to be accepted from another node to a
container). Seems that rp_filter needs there to be some route to the packet
source, though it doesn't need to

[2016-01-04 18:03] lxpollitt commented on #426
Someone recently suggested that you could switch off RPF in AWS and GCE.  Not sure if that is true or not, but we should definitely investigate that too.

[2016-01-04 18:16] Symmetric commented on #426
I can confirm that there is a per-instance filtering option that can be
disabled on both platforms. E.g.
https://cloud.google.com/compute/docs/networking#canipforward on GCE
(annoyingly only configurable at creation time). Is that what you're
referring to?

On Mon, Jan 4, 2016 at 10:03 AM, Alex Pollitt <notifications@github.com>
wrote:

[2016-01-04 23:54] robbrockbank opened #708 "Re-vamp links from projectcalico.org to calico-containers"
The links from the projectcalico.org site (http://www.projectcalico.org/getting-started/) could do with a substantial re-work to better reflect the variety of options available in calico-containers.

[2016-01-05 09:35] fasaxc commented on #426
@spikecurtis  Sorry, I thought that was something you could do in a rule but I've checked the docs and you definitely can't.

However, you can match on the FWMARK, which means you can pass a flag from the iptables mangle/PREROUTING chain to the RPDB.  That allows you to do a generic match in iptables based on an ipset and pass the result to the RPDB.  I think that's a better approach than adding l

[2016-01-05 09:40] fasaxc commented on #426
@Symmetric Loose mode is no good for us on a host.  We need strict mode to prevent workloads from spoofing other workloads on the same host.  I'm not sure how the RPDB interacts with the RPF check.  We might need to populate the additional routing table with the local workload routes to make this work.

[2016-01-05 13:25] fasaxc opened #710 "Very confusing if calicoctl connects to wrong etcd"
Setting up a k8s cluster with skydns results in creating 3 etcd clusters.  Running calicoctl connects to the wrong one by default, so commands like `calicoctl endpoint show` show empty lists (but don't error out).  It'd be great if calicoctl could show a warning if it is connected to the wrong etcd.

It'd be even better if there was a config file that we could drop in /etc as part of the set-up to

[2016-01-05 18:43] Calpicow opened #712 "ConfD should resolve hostnames"
I'm getting a possible SSL verification error due to `calicoctl` resolving the hostname. My etcd is behind an ELB, so adding the IP to the cert itself is not viable.

Related code is below, but I've been notified that the underlying cause is ConfD not able to resolve hostnames.

https://github.com/projectcalico/calico-containers/blob/f76df7ad67296187c3b61129fc6c0eee5faf8371/calicoctl/calico_ctl/no

[2016-01-05 21:01] #691 closed

[2016-01-06 00:09] #697 closed

[2016-01-06 00:16] caseydavenport commented on #426
`canIpForward` isn't quite enough though - you also need a GCE route (https://cloud.google.com/compute/docs/networking#addingroute) or else the GCE fabric itself will still RPF your packets.  I've tested this with Calico.  The `canIpForward` option appears to be a separate per-instance RPF, but doesn't disable the RPF in GCE's network.

From my reading of the documentation, I don't see a way to sa

[2016-01-06 09:21] fasaxc opened #713 "calico guessed wrong host IP address"
Following the k8s install instructions for Ubuntu, I started calico via systemd.  It used the wrong IP address for BGP, choosing the IP address on (I think) the `lxcbr0` device instead of the one on `eth0`.

It's probably best if I make the instructions explicit about the IP anyway but I thought we had heuristics in place that should have done the right thing.

[2016-01-06 09:33] fasaxc opened #714 "Add local BGP addresses to calicoctl status"
Adding that would make it easier to diagnose if calico has chosen the wrong local IP address to connect to the peer.

We could also add the AS numbers.

[2016-01-06 18:08] robbrockbank commented on #712
@Calpicow There is a suggestion on https://github.com/kelseyhightower/confd/issues/309 that I'd like to try.  I'll give that a go later this week.

[2016-01-06 18:09] robbrockbank commented on #710
@fasaxc What about adding something to your .bashrc or similar?

[2016-01-06 18:19] robbrockbank opened #715 "IP address not tidied up correctly after failing to add it to container"
Attempted to add IP to workload. but node was not running.  Two issues:
-  The error message could suggest that the node is not running
-  The IP address could not be assigned after because it was reserved in IPAM and not released.

core@calico-02 ~ $ sudo calicoctl container add workload-D 192.168.1.1
KeyError: 'BGP configuration for host calico-02 not found.'

Traceback (most recent call last):

[2016-01-06 20:09] TrimBiggs commented on #713
Is `lxcbr0` a kubernetes container bridge?

We have checks that ignore two bridge regexes at the moment if no IP is specified:
https://github.com/projectcalico/calico-containers/blob/master/calicoctl/calico_ctl/node.py#L276
`ips = get_host_ips(exclude=["^docker.*", "^cbr.*"])`

We do not exclude bridges in general at the moment, though we could be fancy here.  If `lxcbr0` is a recurring or common

[2016-01-06 20:13] tomdee opened #716 "Enabling --ipip on a pool doesn't have desired effect if "node" is already started"
I was trying out calico on GCE and ran `calicoctl node` on all my hosts. I then realised that I'd need --ipip so I ran `calicoctl pool add x.x.x.x/x --ipip` to update my pool.

I created some containers but found they couldn't communicate with each other. The issue was revealed by looking at the routing table

[code]

Some part of confd or bird hasn't spotted that ipip was enabled and so all the r

[2016-01-07 14:55] fasaxc commented on #716
I hit this too. I tried stopping and starting my calico/node but that didn't resolve it.  I had to reboot to fix it.

[2016-01-07 18:27] fasaxc commented on #716
I was testing the Ubuntu k8s set up guides that I've been working on.  As part of that, I switched the guides to use 0.13.0, in case that's relevant.

CC @caseydavenport who has the details of what I was testing, in case that's needed while I'm OOF.

[2016-01-07 19:01] robbrockbank commented on #694
I think this has been answered, so closing out the issue.

[2016-01-07 19:01] #694 closed

[2016-01-07 19:10] robbrockbank commented on #710
I don't think it is possible to know it is connected to the wrong etcd.  The only thing we have to go on is the non-existence of the calico directory structure, of the existence of non-Calico directories.  However, both are perfectly valid - so we can't police against that.

[2016-01-07 22:18] #713 closed

[2016-01-08 01:30] #715 closed

[2016-01-08 01:33] #714 closed

[2016-01-08 23:49] tomdee opened #724 "calicoctl node --rkt flag doesn't match current cni plugin code"
e.g. two binaries are required - one 1 the main plugin and one for the ipam plugin.

[2016-01-11 09:39] ThomasLohner opened #726 "How to forward a host port to a local container ip?"
I'm following the [Calico as a Docker network plugin](https://github.com/projectcalico/calico-containers/blob/master/docs/calico-with-docker/docker-network-plugin/README.md) example with the [install instructions for DigitalOcean](https://github.com/projectcalico/calico-containers/blob/master/docs/calico-with-docker/DigitalOcean.md).

Container-to-conatiner communication works just fine with ```--

[2016-01-11 17:52] tomdee opened #728 "User can't choose to talk to insecure registry"
[code]

A workaround would be to use docker to pull the image e.g. `docker pull kube-scale-master:5000/calico-node` does work.

[2016-01-11 18:46] robbrockbank commented on #726
Hi @ThomasLohner.

You'll also need to ensure your profile is updated to allow this traffic.  It's a little trickier with the Docker network plugin example because the security profile is created "under-the-covers".  However it is fairly easy to locate the correct profile to update. The [Advanced Policy](https://github.com/projectcalico/calico-containers/blob/master/docs/calico-with-docker/docker-

[2016-01-11 19:27] ThomasLohner commented on #726
Wohoo, thanks, i've got it almost.

profile is set up
[code]

nat rule is still in place:
[code]

I've double checked that ```<HOSTIP>``` is on eth0:
[code]

now i can curl ```<HOSTIP>``` from outside
[code]

but i still can't curl the ip from the same host:
[code]

Anyways, this is only cosmetics, i can do what i wanted to achieve. Thanks.

[2016-01-12 01:18] #426 closed

[2016-01-12 08:19] frostynova commented on #726
@ThomasLohner The DNAT rule does not take effect on the same host.

When you curl node2's ip on node2, Linux think this is a local connection, and will bypass the iptables rules. If you want to access it, you must use container ip directly.

[2016-01-12 09:05] frostynova commented on #726
@ThomasLohner I just found another solution.

You can add a DNAT rule in NAT table OUTPUT chain like this:

iptables -t nat -I OUTPUT -p tcp -o lo --dport 80 -j DNAT --to-destination 192.168.0.68:80

[2016-01-12 17:38] tomdee opened #730 "calicoctl node ip detection chooses a strange address"
[code]

calicoctl node chooses the address of one of my veths. That can't be the best choice...

[code]

[2016-01-12 18:57] ThomasLohner commented on #726
@frostynova Adding both nat rules works like a charm! Thanks for your help.

@robbrockbank Should i add this to the docs or just close this issue?

[2016-01-12 18:58] robbrockbank commented on #726
@ThomasLohner We always welcome updates to our documentation.  If you'd like to beef up the docs and raise a PR that would be awesome!

[2016-01-12 23:47] tomdee opened #732 "Documentation still refers to calico-docker instead of calico-containers"
We need to do a search and replace at some point.

[2016-01-13 18:12] Calpicow commented on #712
Schema is already being appended to the node flag, so we could probably remove the `gethostbyname`.
https://github.com/projectcalico/calico-containers/blob/f76df7ad67296187c3b61129fc6c0eee5faf8371/calico_node/filesystem/etc/service/confd/run#L6

I'll try to rebuild with the change and see what happens.

[2016-01-13 18:59] robbrockbank commented on #712
@Calpicow That's great news!  I'll take a look at the PR.

[2016-01-13 21:05] tomdee opened #737 "Feature Request: Add --verbose option to calicoctl"
This could provide extra insight into what calicoctl is doing and help diagnose issues that users are having.

It could print out the relevant parts of the environment to allow users to spot if they don't have things set up as they think they do (very common since we require sudo for some commands and not others).

[2016-01-13 22:16] djosborne opened #738 "diags should save results of `ip addr`"
As the title states, it would be useful if the `calicoctl diags` command would, in addition to saving `ip route`, also saved `ip addr` output in the diags bundle.

[2016-01-14 23:52] #730 closed

[2016-01-14 23:55] robbrockbank commented on #732
This is largely done now - see #734.

Remaining issues:
-  The badges on the main README need updating - this will probably require new semaphore/circleCI/coveralls projects to be made (or the existing ones to be renamed).  Simply changing the name to calico-containers in the badge does not work.

[2016-01-15 16:47] fasaxc opened #743 "No way to configure MTU, for AWS, for example"
Our [docs](https://github.com/projectcalico/calico-containers/blob/master/docs/calico-with-docker/AWS.md) currently say that you need to configure the MTU to make AWS perform but they instructions they give are involved and require `nsenter`ing the container.

That's not acceptable!  We need a better way of configuring the MTU.

A potential customer just hit this in their initial testing, giving a

[2016-01-18 11:05] fasaxc commented on #743
@robbrockbank I think this is with you

[2016-01-19 09:47] makuk66 opened #751 "RELRO error"
I'm trying dockr 1.10.0-rc1 with the latest calico containers.
I tried to create a network, and that failed with:
[code]
Looking at the containers, they are in a restarting state:
[code]
And looking at the logs, they are full of RELRO errors:
[code]
Any ideas?

This is on "Ubuntu 14.04.3 LTS", with a newer kernel "Linux trinity10 3.16.0-57-generic #77~14.04.1-Ubuntu SMP Thu Dec 17 23:20:00 UTC 201

[2016-01-19 16:20] makuk66 commented on #751
This appears to be https://github.com/docker/docker/issues/18948 . Per @cpuguy83's suggestion there I did:
[code]
and verified I could run containers with ttys.
Then for the calico containers:
[code]
which got them out of "Starting" into "Up" state.
On another node I just did:
[code]
and rebooted; that also did the trick.

So, not a calico issue.

[2016-01-19 16:20] #751 closed

[2016-01-19 18:00] robbrockbank commented on #743
@TrimBiggs Tim - what happened with this one?

[2016-01-20 10:07] AI-PaaS opened #753 "Calico-Mesos RPM should install latest docker"
https://github.com/projectcalico/calico-containers/blob/master/docs/mesos/RpmInstallCalicoMesos.md,
I follow the above url to install mesos+calico, but we have to use docker 1.9.0. but the calico-mesos.rpm use docker 1.8, so how i do this?

[2016-01-20 18:56] djosborne commented on #753
Hi @AI-PaaS - you should be fine simply upgrading docker to 1.9 after you've installed the RPM.

[2016-01-20 19:01] djosborne commented on #753
Going forward, we should improve our install instructions for the Calico-Mesos RPM to add docker's yum repo to receive the latest docker, instead of using Centos' (which is typically out of date).

[2016-01-21 03:09] AI-PaaS commented on #753
I followed these steps and wasn't successful:
 1. yum erase docker-engine,yum erase docker-selinux.
 2. install all calico-mesos rpms
 3. yum update, but there is no update for docker. In fact, I added the docker repo and i can installed docker 1.9
 4. then I erase the docker 1.8, some calico-mesos rpm also were erased.

so, the result is same as before according to the djosborne's  comment.
I nee

[2016-01-25 02:01] AI-PaaS commented on #753
Hello, does the issue has any going on?

[2016-01-25 18:18] djosborne commented on #753
I ran through your steps and found that calico-mesos' docker requirements make it is impossible to change the underlying docker engine to docker 1.9.

To fix this, we're aiming to include a new RPM in a calico-mesos release later this week that resolves calico's dependencies on docker.

[2016-01-28 18:08] tomdee opened #767 "Some calicoctl commands are too docker specific"
Some of the calicoctl commands assume that docker is available.

- node is already being handled elsewhere
- status (maybe add --runtime=rkt option)
- checksystem Checks the docker version.
  - Maybe have an option to check rkt version and stuff
- diags

- Commands with no changes
  - profile
  - endpoint
  - config
  - bgp
  - ipam
  - pool
  - version
  - container
    - NA - This is OK being do

[2016-01-28 22:47] philips commented on #689
@fasaxc This issue should be fixed now in rkt v0.16.0 https://github.com/coreos/rkt/pull/1989

[2016-01-28 23:19] tomdee commented on #689
@philips Thanks for the response. I'm pleased to say this is now working for us and I'm currently working on a guide for running rkt+calico on CoreOS - #759

[2016-01-28 23:19] #689 closed

[2016-01-29 01:59] #753 closed

[2016-01-29 07:03] djosborne commented on #753
@AI-PaaS If you want to get your hands on this before the next release, I've built an RPM that doesn't require Centos' docker package installed. I've uploaded it here for early access: https://transfer.sh/hkwPQ/calico-mesos.rpm

If you are not installing this on a fresh system

1. Run `sudo yum list installed | grep docker`, and uninstall any packages listed with `sudo yum erase <package-name>`
2.

[2016-01-29 08:40] fasaxc commented on #689
@philips thanks!

[2016-01-29 17:30] tomdee opened #771 "This repo lacks a contributors.md file"
We should have one as per https://help.github.com/articles/setting-guidelines-for-repository-contributors/

[2016-01-31 00:33] ajays20078 opened #772 "Calico Node/Bird routes through default interface(eth0) and not tunnelled interface (tunl0)"
How did i notice the issue -

docker instance on Machine1 was not able to communicate with docker instance on Machine2 inspite of they being part of same profile and the profile had default settings which is allow all communication within the profile.

Background:

I was running a few docker instances on Machine 1(192.168.0.12 , 13 and 14) and they were part of same profile so obviously as expecte

[2016-01-31 00:41] matthewdupre commented on #772
One additional bit of background from IRC: this was libnetwork with default (non-calico) IPAM.

[2016-02-01 13:16] ajays20078 commented on #772
More info on this issue.

I noticed the tunl0 link on Machine 2 stops routing (routes are present in route table, output of ip route show is shown below) after sometime(not sure what causes this behaviour), then once your clear the route for the subnet, and ping tunl0 ip from any other machine, it re-learns the route(same route) and starts working.

default via 172.31.16.1 dev eth0
10.0.0.0/26 via

[2016-02-01 19:24] robbrockbank commented on #772
@tomdee Is this possibly the same as #716?

[2016-02-01 21:45] wienczny commented on #554
Has this been superseded by CNI?

[2016-02-01 21:46] caseydavenport commented on #554
Yep, this isn't relevant with CNI.

[2016-02-01 21:46] #554 closed

[2016-02-02 14:22] hanikesn opened #779 "Pods get still get old ips assigned"
Steps to reproduce:
1. Create new kubernetes cluster
2. Add ipv4 pool
3. create some pods
4. Delete ipv4 pool
5. create another ipv4 pool
6. create some pods

Expected result new prods from step 6. get ip addresses from the new pool, but they get addresses from the old one.

https://transfer.sh/I1GYQ/diags-020216-132513.tar.gz

[2016-02-03 00:50] caseydavenport opened #784 "No IPAM documentation"
I can't find any documentation that describes Calico's IPAM behavior and how it interacts with pools.  This would be useful info for Calico users to have.

[2016-02-03 17:32] tomdee opened #786 "Coverage badge on README.md is broken"

[2016-02-04 01:37] tomdee opened #789 "URLS aren't being updated properly in the guides by the release script"
e.g. taken from the recent v0.16.0 tag.
[code]

Some URLs are just in the wrong format to begin with but some are OK but the files aren't referenced the release script.

[2016-02-04 01:41] tomdee commented on #470
We need to understand this issue better before we can fix it. A simple(r) repro would really help...

[2016-02-04 06:55] tnithya opened #791 "Why isn't the -p flag on docker run working as expected?"
The FAQ has the following:
"Simply put, you don't need this flag with Calico and so Calico doesn't support it.
The -p flag tells Docker to set up port mapping to connect a port on the Docker host to a port on your container. This is useful because with Docker bridge networking, the container's IP address isn't reachable outside the host. But with Calico, the container's IP address is reachable not

[2016-02-05 00:16] robbrockbank commented on #505
Tim, let's just prevent users from configuring pools smaller than the limit dictated by our IPAM module.

This limit should either be inforced in calicoctl - and possible also in the IPAM client.

If enforcing in the IPAM client we should remove the restriction if the pool is not allowed to be used for calico IPAM since our IPAM client won't allocate from the block anyways.

[2016-02-05 01:09] robbrockbank commented on #573
Tim, another real quick one.

[2016-02-05 01:25] robbrockbank commented on #649
@ShanshanHe - Looks like Dan has supplied a fix here.  Closing this issue.  Please re-open if this is still a problem.

[2016-02-05 01:25] #649 closed

[2016-02-05 01:27] robbrockbank commented on #682
@TrimBiggs

I assume we supress the warning now, so can the title of this issue be adjusted to reflect that we need to upgrade the calicoctl python version for improved security when using etcd.

[2016-02-05 03:30] robbrockbank commented on #712
Closing issue.  We now also have SSL tests that use hostname - so everything is looking good.

[2016-02-05 03:30] #712 closed

[2016-02-05 03:31] robbrockbank commented on #726
Hi @ThomasLohner,

Just going through our issues.  Did you happen to make a docs update for this?  If so I can review and merge.

Thanks!

[2016-02-05 03:54] robbrockbank commented on #772
@ajays20078 Can you paste in the docker run commands you were using to start your containers?  Could you also paste in the output from running `calicoctl pool show`.

[2016-02-05 04:32] frostynova commented on #652
seems docker 1.10 has been released and support custom ip feature

[2016-02-05 05:23] robbrockbank commented on #652
Indeed!  I was just installing a new VM since my current dev machine is 15.10 which is not supported by docker 1.10.0 at the moment.

With any luck, it may just work out of the tin provided the libnetwork interface has not changed.

[2016-02-05 17:08] TrimBiggs commented on #682
Yes, just updated.

[2016-02-05 17:48] #786 closed

[2016-02-05 19:27] robbrockbank opened #797 "Need to be able to blacklist IP addresses from the pools"

[2016-02-05 20:14] #738 closed

[2016-02-05 23:18] tomdee opened #801 "calicoctl node probably doesn't pass correct options to rkt"
Our guide currently uses rkt 0.16 so we're OK for now, but we need to update before the next release to use the new options - https://github.com/coreos/rkt/pull/1977

[2016-02-06 00:15] TrimBiggs opened #802 "Calicoctl Pool allows overlapping pools to be programmed"
This currently allows you to program pools such as:
[code]

We currently reject all overlapping ranges in the `ip_pool_range_add` function called by `calicoctl pool range add <cidr_start> <cidr_end>`, but not in `ip_pool_add`.

Pools now must start/end at a `/26` prefix, meaning that any cider net smaller than `/26` is not allowed.  So any overlapping pool that is programmed either fully encapsula

[2016-02-06 01:22] TrimBiggs commented on #505
Wait until #800 is merged

[2016-02-08 17:29] robbrockbank commented on #789
I believe I've fixed up the file extensions that were missing from the script, and fixed up the incorrect links.

I'll double check when we do the next release.

[2016-02-08 18:28] #309 closed

[2016-02-08 19:11] tomdee opened #804 "Unwanted output when running UTs"
When I run the UTs I see
[code]
I imagine we're not mocking out something that we should be...

[2016-02-09 00:48] #801 closed

[2016-02-09 01:47] robbrockbank commented on #652
I've tested with Docker 1.10.  Unfortunately there was a bug in the libnetwork plugin which did not allow the IP to be specified.  I have fixed the bug, so if you use the latest version of the libnetwork plugin (which you can explicitly specify on the `calicoctl node` command using `--libnetwork-image=calico/node-libnetwork:latest` then it should work.  The 0.17 release of calico-containers should

[2016-02-09 01:49] #505 closed

[2016-02-09 02:00] robbrockbank commented on #789
Latest release looks good - closing.

[2016-02-09 02:00] #789 closed

[2016-02-09 02:10] robbrockbank commented on #470
The diagnostic gather should be a lot more robust now - so that if there is a problem running a command we won't bail out but instead write the problem to the log file.  This will certainly look better but doesn't get to the bottom of the issue.

Another thing we might want to do is switch using the "Sh" library and just use the subprocess library.  Perhaps there is something odd about that librar

[2016-02-09 02:15] robbrockbank commented on #784
@caseydavenport Casey - are you after beefing up our API docs in libcalico (i.e. someone writing to use libcalico), or adding some docs in calico-containers to indicate how our IPAM module assigned IPs from pools etc.  The latter is somewhat dependent on orchestrator though because it might be possible to specify which pool you choose from based on the environment.

[2016-02-09 02:18] robbrockbank opened #808 "Update tests to use Docker 1.10"
We should be testing with Docker 1.10 now - need to update our STs to use Docker 1.10.  Also would be good to update our vagrant installs to start using Docker 1.10.

#652 covers updating our docs to describe the new Docker 1.10 feature to specify a container IP.

[2016-02-09 09:48] fasaxc commented on #470
Running as root seemed to be a workaround, should we simply recommend that?

[2016-02-09 15:27] DaveLangridge opened #809 "Docs comments for mesos setup"
General:

- docs seem a bit vague - (e.g. confusion about mesos versions. ) This turned out to be OK - I followed the RPM instructions which used 0.26.
- There's some stuff on preparing master, then RPM install instructions for slave, but nothing about install and setup of mesos-master.
- Having set things up - I want to start some containers using mesos + calco. The section on using marathon is l

[2016-02-09 15:34] matthewdupre commented on #560
I've took a quick look at what supporting this would mean, and a few things jumped out.

1. We don't use --log-dir for rkt or the libnetwork plugin.  As such this issue doesn't apply, but we should get round to doing them.

[2016-02-09 15:34] matthewdupre commented on #560
(Oops, accidentally hit close)

[2016-02-09 15:40] matthewdupre commented on #470
I'd second running as root.  "Dumping ipset" doesn't work as non-root anyway (prints "Error gathering diagnostics", so we have a reason for doing this anyway.

[2016-02-09 15:42] matthewdupre commented on #737
Best to have a specific list of information to do anything about this - it sounds like this is coming out of specific problems people have had.  What additional verbose output from what commands would have helped in each specific case?

[2016-02-09 15:45] matthewdupre commented on #772
From IRC log:

    calicoctl pool show
    | IPv4 CIDR    |      Options      |
    | 192.168.0.0/16 | ipip,nat-outgoing |

[2016-02-09 15:48] matthewdupre commented on #772
I'm not sure what the `docker run`s looked like (I didn't ask at the time: is this a good question to ask people in general?), but it can't have been all bad (since things worked with a bit of tunl0 route prodding).

[2016-02-09 16:25] matthewdupre commented on #772
I had a quick go at reproing this.  tl;dr: it looks like we don't cope with turning IPIP on for existing pools.  This sounds bad to me: @robbrockbank to prioritise.

I had a Calico Kubernetes setup (installed a couple of weeks ago with the latest version) which wasn't using IPIP; it had the default pool setup with some workloads in.

I turned IPIP on (`calicoctl pool add 192.168.0.0/24 --ipip`) an

[2016-02-09 16:31] matthewdupre commented on #772
(It looks from the above like this is definitely a dupe of #716.)

[2016-02-09 16:39] matthewdupre commented on #716
Candidate fix: flush all the BIRD programmed routes when changing IPIP.

[2016-02-09 16:56] robbrockbank commented on #737
@tomdee Correct me if I'm wrong, but I think the idea here is really to indicate what calicoctl is doing under-the-covers, so in particular we'd be tracing out environment variables that are picked up and used, and indicating which calls we are invoking (e.g. when running netns commands, or equivalent Docker commands)

[2016-02-09 17:23] robbrockbank commented on #470
Yup sounds like a plan!

[2016-02-09 17:27] caseydavenport commented on #784
@robbrockbank - My original intent here was to document how our IPAM module assigns blocks and pools.  I believe I raised this after answering a number of different questions about how Calico assigns IP addresses on Slack.

Maybe this is something that needs to be documented per-orchestrator.

[2016-02-10 18:58] TrimBiggs opened #810 "Unit Tests produce Error after results output"
After tests conclude and coverage is printed, this error is printed to screen:

[code]

I narrowed it down to having something to do with importing connectors.client into the calicoctl files that are tested.

[2016-02-10 22:43] #804 closed

[2016-02-12 07:23] DaveLangridge opened #812 "felix not deleting old endpoints"
Short-lived containers being replaced by marathon. (Initially because they were failing to find ifconfig, later because they only lasted 30s and marathon decided they hadn't registered.)

Logs on agent:
` 2016-02-09 11:54:54,215 [INFO] CALICOMESOS 53: Received request: {"args":{"container_id":"244a3750-3831-433f-b02a-ab3bd312ad22","hostname":"dl-agent2.c.unique-caldron-775.internal"},"command":"cl

[2016-02-12 07:45] DaveLangridge commented on #812
wrong repo.

[2016-02-12 07:45] #812 closed

[2016-02-12 17:02] matthewdupre commented on #716
A little bit of additional information.

- This looks like some kind of timing issue between setup of the IPIP tunnel device tunl0 and BIRD picking up the config for it.
- The problem only happens once: if you change from no-ipip to ipip then the routes won't be fixed, but if you later restart the BIRDs you can't reproduce on the same system by toggling back to no-ipip (this is a pain!).  From thi

[2016-02-12 17:03] matthewdupre commented on #716
Possible fix approaches:
- (partial) delay BIRD restart (perhaps full restart not HUP),
- see if there's a problem with the krt_tunnel code in BIRD.

I'll take a quick look at the BIRD patches to see if there's a smoking gun.

[2016-02-12 19:26] tomdee opened #814 "Flannel0 bridge IP gets autodetected by calicoctl node as the public IP"
It should be added to the ignore list, or even better, why not ignore all bridges?

[2016-02-18 22:28] tomdee opened #818 "Configuring etcd location on Calico is non-standard"
Other projects (e.g. flannel, kubernetes) configure etcd by passing in a command separated list of `http(s)://<host>:<port>`

We generally only support `<host>:<port>` with a single server

[2016-02-19 00:20] kegray opened #819 "Manual setup fails to connect to bird"
Running the manual, two VM setup for a trial on Centos.   Docker container up, calico containers fire up and I can't seem to connect to bird socket.

$ sudo /home/cloud-user/calicoctl node --libnetwork
No IP provided. Using detected IP: 192.168.98.6
Calico node is running with id: 5277d2ec28e06e7a6bf336b9ce318a4355afd847bd648473c3f0b228cd89c169
Calico libnetwork driver is running with id: 9bc2c269

[2016-02-19 00:32] caseydavenport commented on #819
@kegray Thanks for raising this.

It looks like the you're hitting a permission error `Unable to connect to server control socket (/var/run/calico/bird.ctl): Permission denied`.

Could you try running `sudo calicoctl status` and see if that changes anything?

[2016-02-19 13:45] kegray commented on #819
Okay.  That connects, but I'm still not making networks:

[cloud-user@ken1 ~]$ sudo ./calicoctl status
calico-node container is running. Status: Up 13 hours
Running felix version 1.3.0rc6

IPv4 BGP status
IP: 192.168.98.6    AS Number: 64511 (inherited)
+--------------+-----------+-------+-------+------+
| Peer address | Peer type | State | Since | Info |
+--------------+-----------+-------+------

[2016-02-19 19:41] liljenstolpe opened #820 "Register our v6 ULA address in SixXS's informal registry"
We should register our POC ULA we are using as our default v6 IPAM pool (fd80:24e2:f998::/48).

[2016-02-19 19:44] liljenstolpe commented on #820
I have just registered us in the SixXS registry.  The e-mail address used was hostmaster@projectcalico.org and I've made a request to ITServices to point that at me for the time being.  We should maybe point that at a maintainer's alias or something similar.

The registration record is:  https://www.sixxs.net/tools/whois/?fd80:24e2:f998::/48

[2016-02-19 19:44] #820 closed

[2016-02-19 23:09] robbrockbank commented on #819
@kegray  Are you running your docker daemon with the --cluster-store option pointing at your etcd cluster?

If you are using dockers user-defined networks, you need to ensure docker is running with a key-value cluster store.  For simplicity we recommend you point it at the same etcd store you are using for Calico.

[2016-02-20 00:34] TrimBiggs commented on #573
Fixed by #806

[2016-02-20 00:34] #573 closed

[2016-02-22 22:14] caseydavenport opened #822 "calicoctl status needs "enforce_root""
Since we've changed the status command to access the `/var/run/calico` directory on the host, it needs an enforce_root.

e.g
[code]

[2016-02-23 09:13] fasaxc commented on #443
@robbrockbank @tomdee Looks like we now have the upstream fix: https://github.com/kelseyhightower/confd/issues/319

Re-opening as a reminder to switch to upstream confd, if we can.

[2016-02-24 18:18] TrimBiggs commented on #808
Fixed by https://github.com/projectcalico/libnetwork-plugin/pull/43 and #811

[2016-02-24 18:18] #808 closed

[2016-02-24 20:06] robbrockbank opened #825 "Unable to run calico libnetwork node in process manager"
It is not possible to run calicoctl node --libnetwork with detach==false ... this makes it difficult to run in a process manager such as systemd.

I think we need a way to spin up the libnetwork container separately (maybe with a --libnetwork-only option)

[2016-02-24 22:07] caseydavenport opened #826 "Add timestamps to `calico/node` startup output"
When running the `calico/node` container using a process manager like upstart or systemd, we don't produce timestamps in the output of `calicoctl node`.

This makes debugging in this case difficult.  We should at a minimum print a timestamp at the time the command is being run, perhaps behind a `--verbose` flag if we don't want to clutter the output for the non-managed case.

e.g:

[code]

[2016-02-24 22:40] #822 closed

[2016-02-25 14:01] fasaxc opened #828 "No way to clean up an IPAM pool and assignments"
This seems to come up fairly frequently on slack:

* User realises they've got an incorrect IPAM pool.
* User adds new pool/removes old pool.
* Stale block assignments hang around, causing trouble.

In particular: routes are advertised for the old blocks and, due to affinity, they get used for assigning new IPs.

Current workaround is to do etcd surgery to remove the blocks.

[2016-02-25 18:00] caseydavenport opened #829 "Node stop produces weird output"
[code]

Needs to be run as sudo, but the above output doesn't indicate that.

[2016-02-25 18:01] caseydavenport commented on #829
I think this only occurs when running with a `calico-node.service` systemd unit

[2016-02-25 18:08] caseydavenport opened #830 "Ability to remove a calico BGP peer when using full-mesh"
When using full-mesh BGP, the only way to remove a BGP peer from your cluster is like so:
[code]

By default, these commands should be run on the host which you are trying to remove.  However, you can remove another nodes configuration by setting the HOSTNAME variable when removing:

[code]

This works OK, but it requires that you know the hostname of the node that you're trying to remove (which i

[2016-02-26 00:28] TrimBiggs commented on #829
I think you're right about it being the `calico-node.service` systemd unit.  I believe the error output is from making the `systemctl` call without `sudo`.

[2016-02-26 00:44] caseydavenport commented on #829
Yep it would (I tried it), but this issue is mostly about the fact that on one line we say "failed to stop" and the next line says "Node stopped".

Also, calicoctl is leaking output from the underlying systemctl commands.

We should probably:
- Add an enforce_root() to this command so the above never occurs.

[2016-02-26 18:44] #726 closed

[2016-02-26 21:22] robbrockbank opened #833 "calicoctl node errors do not stop it from being run"
Two scenarios I spotted,

Running "calicoctl node" without sudo seems to be allowed - I thought we used to check that it was being run as sudo - has this changed?

Trying to start node with libnetwork with Docker 1.8.1 produces an error message about incorrect Docker version, but then still starts up the libnetwork plugin container.  Is this as expected?

[2016-02-27 00:18] TrimBiggs commented on #833
I also thought we enforced root on the node start/stop commands, but it appears we haven't.  I added a PR to fix this.

We should `sys.exit(1)` if the docker version is incorrect.  I'm surprised we don't.

[2016-02-29 17:18] #829 closed

[2016-02-29 19:45] TrimBiggs commented on #791
Hi @tnithya,

There is a fix in (#832) for **(1)** in your list of concerns. I've updated the FAQ and there is now a new doc explaining how to configure port forwarding in Calico using linux commands [here](https://github.com/projectcalico/calico-containers/blob/master/docs/ExposePortsToInternet.md). Let me know if this is helpful to you.

Part **(2)** should also be covered by this fix. If you fo

[2016-03-01 04:43] robbrockbank opened #837 "Should update vagrant demos to use latest docker"
Current Ubuntu vagrant uses Docker 1.9.  Would be good to go up to 1.10 or higher.

Should check CoreOS too.

[2016-03-01 04:46] robbrockbank opened #838 "Ubuntu libnetwork Vagrant demo does not pre-download docker images"
The Vagrantfile for the Ubuntu libnetwork  demo has a section to pre-download the docker images.

However, when starting the node, calicoctl ends up downloading both the node and libnetwork docker images.

Maybe due to upgrading Docker after - perhaps should do that first (although see #837)

[2016-03-01 19:40] robbrockbank commented on #652
The latest of calicoctl includes the fixed libnetwork plugin that allows the --ip flag to be used.

[2016-03-01 19:40] #652 closed

[2016-03-02 17:37] matthewdupre commented on #716
Also node that turning IPIP on, then off then on again also works (essentially giving some time for the tunl0 to be established).

[2016-03-03 01:32] matthewdupre opened #840 "calicoctl diags fails to grab ipsets when ipset isn't installed"
Tom: "We could try to run ipset in the calico-node container (or even run a calico/diags container). Could you raise a calico-containers bug to track that?"

However we go about it, it would be nice to see the ipsets.

[2016-03-03 01:38] caseydavenport opened #841 "Libnetwork driver uses special `cali` prefix for interfaces"
Some users have tried to use libnetwork in conjunction with Kubernetes, which expects an 'eth0' interface and will fail if it isn't present.  Is there any reason we're not creating interfaces with the `eth` prefix?

From user mspreitz on Slack:

[code]

[2016-03-04 18:42] robbrockbank opened #844 "Cannot start node when IPv6 is not enabled on OS."
When starting calicoctl node, exists complaining that IPv4 forwarding could not be enabled.

Looks like this is actually an IPv6 forwarding issue because IPv6 is not enabled on the customers OS.  We need to only try and enable forwarding if IPv6 is configured, and we need to fix the error message.

[2016-03-04 19:41] tomdee opened #845 "Should support ETCD_ENDPOINTS (in additional to ETCD_AUTHORITY)"
Other projects (Kubernetes, Flannel) support an etcd configuration as a comma separated list of `{protocol}://{ip}:{port}`. Calico should support this too.

This relies on a felix change too (https://github.com/projectcalico/calico/issues/988)

I expect that ETCD_AUTHORITY would continue to be supported but if this new variable is set then that would take precedence.

[2016-03-04 19:49] TrimBiggs commented on #845
This is related to #818, and a fix for this will fix #818 as well.

[2016-03-04 22:34] tomdee opened #847 "Policy management using `calicoctl` should be possible from Mac and Windows"
Currently, we only compile calicoctl for Linux. It's also assumed that it will run often from hosts that are running the calico-node

Since calico doesn't run on Windows or Mac there is no possibility that there is a calico-node running on the same machine - though it would be possible to access a machine running calico-node (e.g. using the Docker client)

- [ ] Remove impossible commands when not

[2016-03-04 23:16] tomdee commented on #818
Closing this one in favor of the dupe that I just raised !

[2016-03-04 23:16] #818 closed

[2016-03-05 00:43] #825 closed

[2016-03-05 19:06] robbrockbank opened #849 "Useful to include the calico interface name in the endpoint show"
Might be useful for debug purposes to include the cali interface name in the endpoint show commands.  (Just in the verbose output).

[2016-03-07 10:19] niklaswik opened #850 "KubernetesIntegration refer to non-existing file"
The kubernetesintegration refers to non-existen calicoctl file.

wget http://www.projectcalico.org/builds/calicoctl
--2016-03-07 12:14:07--  http://www.projectcalico.org/builds/calicoctl
Resolving www.projectcalico.org (www.projectcalico.org)... 64.91.234.195
Connecting to www.projectcalico.org (www.projectcalico.org)|64.91.234.195|:80... connected.
HTTP request sent, awaiting response... 301 Move

[2016-03-07 20:12] #771 closed

[2016-03-07 21:34] tomdee commented on #682
This issue should not be closed until the TODO is removed from the code.

It will be fixed by https://github.com/projectcalico/libcalico/pull/89

[2016-03-07 21:42] #837 closed

[2016-03-07 21:42] #838 closed

[2016-03-07 22:01] caseydavenport commented on #682
I've got a branch in libcalico which includes an update to the Python version in the build container to 2.7.9 in order to fix this.

See here: https://github.com/projectcalico/libcalico/pull/89/files

[2016-03-08 03:31] caseydavenport commented on #850
@robbrockbank - Should we still expect the projectcalico.org download link to be active?  Are you the right person to look into this?

[2016-03-08 08:58] fasaxc commented on #845
FYI, I tried out passing multiple hosts/ports to python-etcd in an effort to give a migration path from the old etcd port to the IANA-assigned one.  I found that, with `use_proxies=True`, which made sense for my use-case, I hit this issue:
[code]
Without setting `use_proxies`, it seems to work:
[code]

[2016-03-08 09:03] fasaxc commented on #845
Note: to enable multiple host support, you have to set `allow_reconnects=True` and I think that breaks proxy support, because it triggers python-etcd to query etcd's cluster topology and use that for the reconnects.

When we are connected to a proxy only, I think we're supposed to set `use_proxies=True`, which is a flag they added after we started using python-etcd.

[2016-03-08 18:20] BediarSofiane opened #852 "Calico network containers unreachable from one another"
Hello,
I followed the same tutorial of how to use calico with Docker containers: https://github.com/projectcalico/calico-containers/blob/master/docs/calico-with-docker/docker-network-plugin/README.md
 I have created a calico network, added 2 containers to it. but thay cannot reach each other.

Envirement:

Docker version:
root@sofiane-VirtualBox-Client1:~# docker version
Client:
 Version:      1.1

[2016-03-08 21:15] matthewdupre commented on #845
Your test was on >0.4.1 right?  That added "* Allow the use of etcd proxies with reconnections"

[2016-03-08 21:38] matthewdupre commented on #845
From an inspection it looks like it's still there (bit hard to be sure without running it though).

If _allow_reconnect, _wrap_request() calls _next_server() when it fails to connect.  That pops the next server out of _machines_cache (which is initially just the configured list).  Then because some_request_failed and _use_proxies, we try to remove the already popped server.

[2016-03-08 23:36] tomdee opened #855 "calicoctl node should set this sysctl "net.netfilter.nf_conntrack_max""
See http://docs.projectcalico.org/en/1.3.0/configuration.html#system-configuration

[2016-03-09 00:26] matthewdupre commented on #845
One note on this one.  When we enable passing multiple endpoints to python-etcd we'll need to turn on allow_reconnect.  At this point we'll get nasty behaviour with proxies (or turn on use_proxies and hit the bug mentioned above).

The problem is with allow_reconnect, python-etcd will grab the addresses of the cluster nodes and consider connecting to them directly.  This isn't intended.

For now I

[2016-03-09 01:41] tomdee commented on #657
@caseydavenport Can this just be closed?

[2016-03-09 01:42] caseydavenport commented on #657
Yep.

[2016-03-09 01:42] #657 closed

[2016-03-09 01:43] tomdee commented on #724
Very out of date now.

[2016-03-09 01:43] #724 closed

[2016-03-09 01:44] tomdee commented on #732
Since this relies on features of external CI systems that we can't change, and it doesn't really matter that the names are wrong, I'm just going to close this.

[2016-03-09 01:44] #732 closed

[2016-03-09 01:45] tomdee commented on #737
Yes

[2016-03-09 01:45] tomdee commented on #767
This is now resolved.

[2016-03-09 01:45] #767 closed

[2016-03-09 01:46] tomdee commented on #772
Closing as a dupe

[2016-03-09 01:46] #772 closed

[2016-03-09 01:47] tomdee commented on #779
Could this be a dupe of #716 ? @caseydavenport Thoughts on this issue?

[2016-03-09 01:49] tomdee commented on #791
I'm closing since the PR that @TrimBiggs references has been merged

[2016-03-09 01:49] #791 closed

[2016-03-09 08:42] fasaxc commented on #845
Do we care about the case where you had one node in your cluster and add a new one (or if you're lazy and don't pass a full list to Felix)?  Maybe we should have an explicit EtcdIsProxy flag?

[2016-03-09 16:34] caseydavenport commented on #779
I don't think this is related to #716.  This looks like a known IPAM issue with these exact symptoms.

There is a PR which includes the fix open right now - I am in the middle of reviewing.

This guy: https://github.com/projectcalico/libcalico/pull/74

[2016-03-09 18:46] lwr20 opened #858 "Docs banner warning displayed incorrectly on 0.16 doc"
This page has a banner warning about being HEAD of source tree, but this is no longer true.  Also the banner links to 1.3 as the latest release(!).

https://github.com/projectcalico/calico-containers/blob/v0.16.0/docs/cni/kubernetes/VagrantCoreOS.md

[2016-03-09 18:56] #470 closed

[2016-03-09 19:00] tomdee commented on #858
Hi lance, thanks for the bug report. We screwed up the docs banners on the 0.16 release. It's now fixed though and there have been two releases since which are fine. So closing.

[2016-03-09 19:00] #858 closed

[2016-03-09 19:19] TrimBiggs commented on #852
Hi @BediarSofiane

Thanks for the issue, sorry to hear you're seeing this. I've got a few questions/requests to help figure this out.

If you can create an overlay network that functions, I assume you are able to ping from host to host?

With your setup at the point where it should be running, can you post output for these commands on each host:
`route -n`
`calicoctl bgp peer show`

Also, can you

[2016-03-09 19:41] TrimBiggs commented on #844
@robbrockbank Can this be closed now?

[2016-03-10 18:04] TrimBiggs commented on #833
Problem here was that node was not checking/erroring out when the check_system output returned docker failures, only etcd failures.

[2016-03-10 18:47] #833 closed

[2016-03-10 19:10] TrimBiggs commented on #830
It doesn't look like the `HOSTNAME=` option is documented either.

[2016-03-10 19:53] TrimBiggs commented on #830
The `HOSTNAME=` piece is pretty hacky I think.  We should allow the user to specify and IP address or a hostname to remove.

I think we should use something similar to what @caseydavenport proposed:
[code]

[2016-03-10 21:45] tomdee commented on #830
Just discussed with @caseydavenport and @TrimBiggs and we've decided on the following spec:

It would be good to have a `calicoctl node show` command. This should be available on Windows and Mac binaries too (along with `node remove`).

[code]

And then enhance `calicoctl node remove`
- Add --force
- Add --hostname (the same as doing "sudo HOSTNAME=blah calicoctl node remove" but it's more explici

[2016-03-10 21:51] tomdee commented on #443
Let take v0.12 as soon as it comes out - https://github.com/kelseyhightower/confd/releases

[2016-03-10 22:37] tomdee commented on #592
Fixed by #862

[2016-03-10 22:37] #592 closed

[2016-03-10 22:49] tomdee commented on #728
Docker pull has a load of options
[code]

We shouldn't try to duplicate them - instead we should just provide a --no-pull option.

[2016-03-10 23:26] tomdee commented on #728
Discussed with @caseydavenport and agreed on the --no-pull type option

[2016-03-11 16:19] #855 closed

[2016-03-11 22:36] TrimBiggs commented on #802
I think we should simply reject a pool that overlaps. Starting on a fix for this now.

[2016-03-12 00:27] tomdee commented on #850
The file is missing if a build fails. Builds are working now so the link works. It's only broken on master. If you look at the docs from the latest release, the link points at the released binary (and that link works).

[2016-03-12 00:27] #850 closed

[2016-03-12 00:28] #847 closed

[2016-03-12 00:32] tomdee commented on #802
How does this play with us saying 'you can assign public IP addresses to your containers'. Am I right in thinking that all containers need to have an IP that's in a pool?

[2016-03-12 00:32] tomdee commented on #826
See #737 too

[2016-03-12 00:34] tomdee commented on #809
Dan is working on fixing these issue

[2016-03-14 15:37] tomdee opened #866 "There is no way to stop Calicoctl from creating a default pool"
It would be nice to be able to suppress the default pool creation e.g. with a --no-default-pool flag or an env variable.

[2016-03-14 16:34] TrimBiggs commented on #830
Hey @tomdee, I'm not so sure the `--force` option is necessary.

Currently, the command will try to remove the local host and fail if:
 - The container is running (requires user to run `node stop` first)
 - The container has endpoints associated with it (pass in `--remove-endpoints` when running the command)

The changes to `node remove` allow you to pass in the hostname of the node you'd like to

[2016-03-14 16:44] TrimBiggs commented on #802
Yes, you're right that IPs need to come from a pool. I'm not sure the relation between assigning public IPs and overlapping pools, though.  Can you elaborate?

[2016-03-14 17:08] #682 closed

[2016-03-14 17:14] tomdee commented on #830
It's the container stop bit that I'm concerned about. What if I want to run this from a host that has the container running, but that isn't the host I'm trying to remove?

[2016-03-14 17:32] TrimBiggs commented on #830
Spoke with Tom.  The `--force` was planned to bypass checking if the `calico/node` or `calico'node=libnetwork` containers were running on the host machine so that removing a different host would not be blocked by having either of these containers running on the host that ran the command.

Instead, I've added a check to see if the host value passed in is equal to the local hostname before running t

[2016-03-14 18:06] tomdee commented on #802
The problem is just with restricting the pool size - which is issue didn't introduce. So no relation. Nothing to see here. Carry on.

[2016-03-14 21:00] tomdee opened #869 "calicoctl binary produces warning when run"
This is almost certainly a regression that is on master only

[code]

[2016-03-14 21:29] #830 closed

[2016-03-15 03:41] #519 closed

[2016-03-15 03:41] #828 closed

[2016-03-15 03:46] robbrockbank commented on #844
Fixed by #846

[2016-03-15 03:46] #844 closed

[2016-03-15 21:29] tomdee opened #872 "Kubernetes CoreOS vagrant instructions failing"
I just tried the virtualbox vagrant CoreOS kubernetes demo and it didn't work. My calico-02 host couldn't contact kubernetes-master. I'm not sure how it's meant to know what the IP for that host is?

[2016-03-15 21:30] tomdee opened #873 "Improve calico/node IP address detection"
Our current method fails in too many cases.

It is however a really useful feature - e.g. for deploying as a kubernetes daemonset

[2016-03-15 21:50] robbrockbank commented on #819
Hi @kegray.

Are you still having this problem, or did you manage to resolve it?  Was it a problem setting up Docker with a cluster store?

[2016-03-15 22:23] #814 closed

[2016-03-16 00:45] tomdee commented on #826
Worth noting that journalctl will add timestamps so I'm not sure why we need to add them too...

[2016-03-16 17:18] TrimBiggs commented on #869
Fixed by #876

[2016-03-16 17:18] #869 closed

[2016-03-16 22:57] TrimBiggs commented on #852
Hi @BediarSofiane,

Just wanted to check in and see if you have made any progress or seen any more issues like this.  Let me know if you're still having problems, and I can help solve them with you.

[2016-03-16 23:33] BediarSofiane commented on #852
Hi @TrimBiggs ,
Thank you for your answer. In fact, i didn't really resolved the problem or know what caused it. But by restarting my etcd cluster I could reach the containers from one another. It must be some bug of the etcd cluster concerning the keys of calico. after all now it is working fine.
However, i'm studying calico driver and the difference between it and Overlay driver, and i want some

[2016-03-17 05:02] #728 closed

[2016-03-18 14:33] michaelmonroe commented on #646
djosborne, I see  you have updated the GIT pages with netmodules but the manual compilation is still geared to Centos (rpm based).  As we run mesos + marathon on Ubuntu 14.04, we are still looking to do this.  Can you provide any update/feedback? As a sidenote, Mesos has now gone to 0.28 with Marathon sitting at 0.15.3

[2016-03-18 18:19] #802 closed

[2016-03-18 21:34] caseydavenport commented on #872
Did you find out what was wrong with this?  I will give it a shot and see if I get the same behavior.

[2016-03-18 22:02] robbrockbank opened #880 "Assignment of IPIP tunnel IP requires IP pool to be created before starting the calico nodes"
Came across some code in the node startup that assigns an IP address to the IPIP tunnel.  Rough flow is:
-  Check IP Pools for IPIP enabled
-  Check if IP address is assigned to IPIP tunnel:
  -  If not, assign an IP from an IPIP pool
  -  If assigned, check if still in an IPIP pool.
    -  If not, unassign IP and reassign from IPIP pool.

There are a few issues with this processing:
-  It assumes

[2016-03-18 22:04] robbrockbank commented on #880
May be another problem to solve alongside #716

[2016-03-18 23:37] robbrockbank commented on #779
This should be fixed in the v0.18.0 release of calicoctl which should be available next week.

If you have an existing deployment which is still hitting this issue, upgrade to the new calicoctl when it is out,  add the old IP Pool back in and then delete it again - that will perform all the necessary tidy up of the old pool.

Please re-open if this problem is still occurring with the 0.18.0 releas

[2016-03-18 23:37] #779 closed

[2016-03-21 19:48] #866 closed

[2016-03-21 22:48] TrimBiggs commented on #819
Hi @kegray,

I'm going to close this issue for now since there has not been any additional discussion in about a month.

Please feel free to reopen it if you are still experiencing an issue.  Thanks for trying out Calico.

[2016-03-21 22:48] #819 closed

[2016-03-21 23:29] TrimBiggs commented on #852
Hi @BediarSofiane

I'm glad you were able to get your setup working.

We don't have a book, but here are a few doc pages on our Github that I think will be useful to you:
 - [Calico Components](https://github.com/projectcalico/calico-containers/blob/master/docs/Components.md): The pieces that make up the `calico/node` container.
 - [Docker Container Lifecycle doc](https://github.com/projectcalico/

[2016-03-21 23:29] #852 closed

[2016-03-22 16:31] caseydavenport commented on #872
Looks like this is failing because it is using a special policy node image that is incompatible with the latest calicoctl version.

Will update shortly.

[2016-03-23 01:02] caseydavenport opened #883 "CNI plugin timing out in k8s coreos-vagrant demo"
Seems like ~ 1 in 5 times I run the demo I get this error in my CNI log, preventing containers from starting:

[code]

[2016-03-23 09:16] MatMeredith opened #884 "Calicoctl doesn't work with non default Docker configuration"
I added an entry to docker.cfg to change the default output of "docker ps"

"psFormat":"table {{.ID}}\t{{.Names}}\t{{.Image}}\t{{.RunningFor}}"

Calicoctl now fails.

 calicoctl
Traceback (most recent call last):
  File "<string>", line 64, in <module>
  File "/usr/local/lib/python2.7/site-packages/PyInstaller/loader/pyimod03_importers.py", line 389, in load_module
  File "calico_ctl/bgp.py", line

[2016-03-23 21:54] matthewdupre opened #889 "Add new ETCD_ENDPOINTS option to documentation."
We now support a new way to configure etcd's location: ETCD_ENDPOINTS (see #882).

This should be added to the documentation.

[2016-03-23 22:37] TrimBiggs commented on #884
Hi @MatMeredith,

I've created a config file at `~/.docker/config.json` with the contents:
[code]

And ran `calicoctl` without issues.

What version of Docker/Claicoctl were you using? What else does your config file have?

[2016-03-23 23:43] #872 closed

[2016-03-24 09:48] MatMeredith commented on #884
In answer to your questions…

-          Docker version 1.9.0, build 76d6bc9

-          Calicoctl 0.17.0-dev

Box is installed using a modified version of the Vagrantfile from the “Vagrant install with Ubuntu” option here: https://github.com/projectcalico/calico-containers/tree/master/docs/calico-with-docker/docker-network-plugin (albeit not quite the latest version).   Changes are just to add ad

[2016-03-24 14:48] fasaxc opened #892 "Non-libnetwork docker vagrant-ubuntu: docker daemon not started by default"
Used the docker non-libnetwork Ubuntu vagrant file for a bit of prototyping.  Found that, apart from on calico-01, docker wasn't started by default.  `sudo start docker` did the trick.

[2016-03-25 19:34] ThomasLohner opened #896 "How to get rid of orphaned endpoints?"
If i understand correctly this was fixed in #507 but i can't figure out how to do it.

[code]

The first endpoint belongs to a running container. All of the others don't even have existing containers anymore. I wonder why they weren't removed in the first place. I always did `docker rm ...`

Anyways, i tried to remove them like this:

[code]

Any hints how to fix this?

---

My Setup:

[code]

[2016-03-28 14:32] frostynova opened #898 "Cannot communicate with the gateway"
Calico node libnetwork plugin and docker is the latest release version

I met a strange thing:

Our pool is 172.20.0.0/16, when launching the 1st container with auto ip 172.20.0.0, everything is OK.
But the 2nd container with ip 172.20.0.1 (using different network) cannot ping to the gateway. Tcpdump on the gateway show it has received the ICMP packets.

But if we stop this container and start it

[2016-03-29 04:52] frostynova commented on #898
add the diags: https://transfer.sh/NcJWP/diags-290316-045056.tar.gz

[2016-03-29 05:50] frostynova commented on #898
add environment details:

calico node 0.18.0
libnetwork 0.8.0
docker 1.10.3
CentOS 7

[2016-03-29 16:02] caseydavenport opened #899 "Collect kubelet diags"
It would be useful to have kubelet diagnostics collected in `calicoctl diags`.

Not sure the best way to do this since kubelet can log to different locations, and is only running in Kubernetes deployments, but I'm sure we can do something sensible.

[2016-03-29 16:35] caseydavenport commented on #896
@ThomasLohner - The "Endpoint ID" isn't the right identifier to use for `calicoctl container remove` - you'll need the "container ID" for that.  If you're using Docker, I believe the workload ID in that output should be the container ID.  Could you give that a try?

[2016-03-29 18:02] ThomasLohner commented on #896
Ok, i thought it would be the Container ID, because Workload ID ist always "libnetwork", here's one example:

[code]

Also, the containers don't exist any more so i can't delete them in docker :-/

[2016-03-30 12:59] frostynova commented on #898
Calico node 0.17.0  works well

[2016-03-30 13:51] mzupan opened #900 "restarting calico-node and the routes go away"
I'm working on a upgrade plan from 0.16.1->0.18.0 and noticed even if I restart the calico/node container i lose all the routes for 4 minutes.

Setup on a test node

[code]

[code]

My systemd unit file

[code]

I did a simple

[code]

I verified the node in docker was restarted and then I see this in the bird logs

[code]

So once the node went down to where it came up 4 minutes later the routes

[2016-03-30 15:00] TrimBiggs commented on #898
Hi @frostynova,

I'm going to take a look at your diags now.  That is strange behavior indeed.

Are you running your cluster in the cloud or in a local deployment?  Are the containers running on a single host or two separate hosts?

[2016-03-30 15:03] frostynova commented on #898
@TrimBiggs all containers are in a single vagrant box

[2016-03-30 15:57] TrimBiggs commented on #898
I couldn't find anything glaring in the logs.  I'm trying to repro now with the same setup.

As a general point, I believe there were a fair amount of IP Address Manager changes in the latest release, hopefully this hasn't caused problems.

[2016-03-30 16:25] TrimBiggs commented on #896
The `calicoctl container` commands should not be used when running Calico with libnetwork.  The `container add` and `container remove` commands are meant to be used when running docker without docker networking, where `add` and `remove` will add/remove Calico networking on the containers.

You can use the `calicoctl endpoint` commands instead with the endpoint id you found before.  The `calicoctl

[2016-03-30 17:28] ThomasLohner commented on #896
Thanks for clarifying `calicoctl container`.

As for removing endpoints, there's no such command:

[code]

There's only `calicoctl endpoint <ID> profile remove` but i guess this is not what i'm looking for?

[2016-03-30 18:19] matthewdupre commented on #900
Looks like graceful restart is being delayed by something: when I repro'd my BIRDs spent <50ms in 'wait' before proceeding to feed / up.

[2016-03-30 18:51] TrimBiggs commented on #898
I've just run through a vagrant install with CentOS using the versions you mentioned were failing.

My process was:
 - start the node with `calico/node:v0.18.0` and `calico/node-libnetwork:v0.8.0`
 - remove default 192.168.0.0/16 pool
 - add new 10.10.0.0/16 pool
 - create docker network with calico driver and calico ipam driver
 - create two docker containers (networked using calico)
 - ping betw

[2016-03-30 19:51] mzupan commented on #900
Here is a debug log when I restart the node

[code]

[2016-03-30 21:04] matthewdupre commented on #900
It looks like the GR is being delayed by the failures to connect to .43.54 and .42.193 (which are indeed dead).

This still shouldn't be affecting routes from other nodes though (and when I tried reproducing a GR with a dead peer, it still worked: the previously existing routes all survived).

[2016-03-30 22:13] mzupan commented on #900
@matthewdupre yes the routes survive when I `rm` the container.

[2016-03-31 09:01] frostynova commented on #898
I also cannot use origin docker cli to reproduce this issue.

Our environment use docker-py and 3rd-party go client to operate docker network and contains.

But I think I found the direct cause, 2nd container got an invalid mac address:

[code]

it should be ee:ee:ee:ee:ee:ee

I will go on digging this

[2016-03-31 09:41] frostynova commented on #898
I got it

Because the bad docker api example, i thought i needed to connect the container to its network before starting it. The correct method is just creating the container with NetworkingConfig then start it directly.

@TrimBiggs Sorry to disturb your work

[2016-03-31 16:43] fasaxc commented on #896
Another user reached out on the mailing list with this issue, it'd be good to have a solution.

[2016-03-31 17:13] tomdee opened #901 "calicoctl node gives bad warning about IPv6"
Using v0.18.0 I get a warning `WARNING: Could not confirm that the provided IPv6 address is assigned to this host.`
[code]

[code]

[2016-04-01 12:08] frostynova commented on #898
@TrimBiggs I am confused, after i using the correct api to deploy container, this problem appeared again.

the docker network inspect show correct info:

[code]

but the docker exec ip addr show the container had a wrong MAC address:

[code]

Docker daemon and calico has no error log

[2016-04-01 16:27] TrimBiggs commented on #898
Hi @frostynova,

I'm going to look into the `calico/libnetwork-plugin` code to see where we're setting the MAC address, I'll get back shortly.

[2016-04-01 17:32] TrimBiggs commented on #898
The libnetwork plugin only ever uses the ee:ee... MAC address for the containers.

I'm wondering if this is a bug with docker-py not accepting the MAC address that is passed to it, or if there is some other MAC address manipulation in your docker-py calls that trumps the fixed ee:ee- mac.

[2016-04-01 17:56] frostynova commented on #898
Yep, i also took a look at the plugin code, here is my opinion:

1. `docker network inspect` show ee:ee... MAC address, that means it has been set by the plugin correctly
1.  this is the 2nd container deployed by our api call, the 1st is always ok. And i also let the docker daemon print the json it received, the difference is only network name.
1. but inside the container, the MAC is wrong, this m

[2016-04-01 22:01] DreadPirateShawn opened #902 "calicoctl node complains about missing ipv6 key when NO_DEFAULT_POOLS=TRUE"
When running with:
[code]

... then the /calico/v1/ipam/v6 keys don't get created, and we get the following errors:

[code]
upon startup, and

[code]
every 2 seconds thereafter.

Workaround is to `calicoctl pool add fd80:24e2:f998:72d6::/64` and restart calicoctl node.

[2016-04-01 22:03] caseydavenport opened #903 "IPv6 Pool required for node to start"
We now support the NO_DEFAULT_POOLS=TRUE option, which disables automatic pool creation in calico/node.

However, confd still looks for IPv6 info and fails if it can't find it:
[code]

We should be able to start the calico/node container without an IPv6 pool defined.

[2016-04-01 22:06] DreadPirateShawn commented on #902
Dupe of #903, closing.

[2016-04-01 22:06] #902 closed

[2016-04-04 17:32] TrimBiggs commented on #898
Hi @frostynova,

Just checking in.  I hope you've had some success with this.  Please let me know if you've had any more success/issues, and if you're still finding that it works with some version of calico/node or node-libnetwork but not others.

Thanks again for all of the info.

[2016-04-04 19:12] robbrockbank commented on #896
Hi @ThomasLohner,

The `calicoctl container remove` is only useful for containers that were networked using the `calicoctl container add` commands, and won't work for endpoints that have been created using Docker libnetwork.

The endpoints should be tidied up by the Calico Docker network plugin where you run `docker rm`, so i can only assume something is going wrong in the plugin and the endpoints

[2016-04-04 21:36] robbrockbank commented on #898
Hi @frostynova,

This sounds rather odd.  From what you've described, we are going through the code branch to set the MAC on the container interface, but that it appears to be set to something else.

I'm at a bit of a loss as to what might be going on here - but perhaps there is a bug in the OS that is preventing this from working.

A couple of other questions:

-  Is this repeatable behavior, or

[2016-04-05 13:16] frostynova commented on #898
@robbrockbank for your questions:

* Most of the time this problem occurs (but not all the time)
* The 3rd container is ok

Today i modified the libnetwork pluigin to let it print the `ip addr` output when join the network. The log shows it created the `tmp` interface with correct MAC Address. But i noticed a strange log in `dmesg`

[code]

this output show the 1st 2nd and 3rd containers' interfac

[2016-04-05 16:32] tomdee opened #904 "calico/node is missing conntrack binary"

[2016-04-05 16:33] tomdee opened #905 "Code and docs are missing requirement on nf_conntrack_netlink module"

[2016-04-05 17:56] lwr20 opened #906 "calico-node fails to start when using ETCD_AUTHORITY=localhost:2379 and hostname is set to localhost"
I'm trying to run a Kubenetes master using the cloud-config from the the Vagrant demo (https://github.com/projectcalico/calico-containers/tree/master/docs/cni/kubernetes/vagrant-coreos/cloud-config), but modified to use Kubenetes 1.2.0 and calico 0.18.

The master is failing to start - the relevant logs appear to be:

[code]

If I run `calicoctl node` it seems to work:

[code]

And the difference

[2016-04-05 18:15] lwr20 commented on #906
I've tried changing the hostname with `hostnamectl <name>` and rebooted the master.  I'm still getting the same calico-node error.

[2016-04-05 18:18] tomdee opened #907 "Coverage badge is broken in README.md"

[2016-04-05 19:31] tomdee commented on #906
The following command works for me `docker run --net=host --privileged --rm -e HOSTNAME=localhost -e IP=172.24.176.38 -e IP6= -e CALICO_NETWORKING=true -e AS= -e NO_DEFAULT_POOLS= -e ETCD_AUTHORITY=localhost:2379 -e ETCD_SCHEME=http -v /var/log/calico:/var/log/calico -v /var/run/calico:/var/run/calico calico/node:v0.18.0`

Can you confirm that a simple ping works? `docker run --net=host --privileg

[2016-04-06 07:59] fasaxc commented on #906
Can we at least detect this case and print a warning from calicoctl.  Feels sufficiently obscure to diagnose that errorring out might be the right approach.

[2016-04-06 12:52] hanikesn opened #910 "calico-node doesn't load ip_tables module"
After upgrading from docker 1.8.3 to 1.10.3 with `--iptables=false` set for the docker daemon, the `ip_tables` module doesn't get loaded by docker anymore. This means that the `calico-node` container can't upate iptables rules and fails setting up networking for containers (as it can't load the `ip_tables` module from inside the container).

Some logs:
[code]

A solution would be for `calicoctl no

[2016-04-06 13:08] fasaxc opened #911 "Very out-of-date Kubernetes + Fedora guide"
Not sure where it came from, but Kubernetes have a very out-of-date guide (using calicoctl v0.5.5) for setting up Calico with Kubernetes:

http://kubernetes.io/docs/getting-started-guides/fedora/fedora-calico/#install-calico

Tripped up a user on IRC.

[2016-04-06 14:17] #907 closed

[2016-04-06 15:32] caseydavenport commented on #911
Odd... I deleted that guide from the docs a month or so ago.

Kubernetes recently moved all of their docs to a new repo, so perhaps that deletion got lost in the process.

[2016-04-06 16:17] pigmej commented on #911
Anyway, using cni way works on that fedora too (just tested, it was me who spoke with @fasaxc ). Just updated calico to 0.18.0 removed `--kubernetes` option and switched to `cni` instead.

[2016-04-07 09:43] ThomasLohner commented on #896
I've upgraded calico so the logs won't be any good. I will try to reproduce and get you logs...

[2016-04-07 10:11] amon-ra opened #912 "Cannot comunicate containers in diferent networks by name"
I have setup 1 node calico cluster but name resolving is not working.
I can ping with ip address but name resolving is not working

[code]

Any ideas?

[2016-04-07 14:18] thedrow opened #913 "Release with homebrew"
It'd be really nice to be able to install the calico binaries with Homebrew on OSX.

[2016-04-08 01:06] caseydavenport opened #914 "Ship a darwin `calicoctl`"
Seen with the v0.18.0 version of calicoctl for mac.

[code]

[2016-04-08 01:33] lxpollitt commented on #912
I don't think Calico gets involved in name resolution.  @TrimBiggs @robbrockbank @tomdee may better understand and be able to comment.

[2016-04-08 08:19] fasaxc opened #915 "Lack of connectivity for whole IPAM block allocated mid-test"
Running scale tests with IPAM block allocation occurring in the middle of the test, on one host in 20, I see none of the hosts in the IPAM block getting connectivity.

I'm still digging, but so far:

- hosts _are_ sending packets (verified with tcpdump on the cali* interface).
- iptables rules _are_ in place
- iptables rules _are_ being hit for the test packets (verified with `iptables -L -v`, loo

[2016-04-08 09:42] fasaxc commented on #915
Ah, looks like the scale test has an IPAM pool that overlaps with docker's pool so we hit docker's MASQUERADE rule

[code]

The randomised block allocation in my patch flushes out the issue because it has a 1 in 32 chance of picking a block in the overlapping range.

[2016-04-08 09:42] #915 closed

[2016-04-13 14:54] fasaxc opened #919 "Kubernetes sample cloud-config substitutes wrong param"
This sample cloud-config:

https://raw.githubusercontent.com/projectcalico/calico-cni/k8s-1.1-docs/samples/kubernetes/cloud-config/master-config-template.yaml

referenced from this guide:

http://kubernetes.io/docs/getting-started-guides/coreos/bare_metal_calico/

substitutes `<PRIVATE_IPV4>` in the `calico-etcd.manifest` file that it downloads but that file contains `<MASTER_IPV4>`, not `<PRIVATE

[2016-04-13 15:31] TrimBiggs commented on #912
@amon-ra, Alex is right, Calico does not get involved with name resolution.  Docker does, however.  I'll look into how Docker DNS works.  There may be some parameters to pass to Docker so that all containers get host entries, regardless of the network they are attached to, or some way to turn off host entry writes so you could use your own DNS (this is speculation, though).

[2016-04-13 15:41] frostynova commented on #912
According to some docker issues, with user defined network, libnetwork will give the container an embedded dns `127.0.0.11`.

This is a dns cache, if you use docker overlay, it will resolve container name, and bypass all the others dns request to the dns address which specified during creating the container.

And there is still no way to disable this feature: https://github.com/docker/docker/issue

[2016-04-13 18:44] djosborne opened #920 "Failed calico-node start exits with success status"
I'm launching calico-node using calicoctl in mesos. My tasks fail because they're binding to an IP which is already in use by Calico (which is a mesos problem that I'll need to resolve seperately myself).

However, calicoctl is exiting with status code 0 when this happens, instead of an error. This is bug.

The implications of this is that my mesos tasks think they've completed successfully and re

[2016-04-13 20:34] #919 closed

[2016-04-13 21:39] djosborne commented on #920
whoops, accidentally closed

[2016-04-14 08:38] bboreham commented on #912
@amon-ra is using Docker 1.9.1; Docker DNS was added in 1.10, so it's irrelevant.

More fundamentally, the two containers are connected to different Docker networks, so Docker thinks you don't expect them to see each other.

If you set up an upstream DNS, Docker should punt to that.

[2016-04-14 09:20] frostynova commented on #896
We also met this problem

It occurs when docker daemon restarted, then the old endpoint become a dead one, neither libnetwork or calico can clean it.

I report more details on: https://github.com/projectcalico/libnetwork-plugin/issues/49

[2016-04-14 17:01] TrimBiggs commented on #912
Thank you for chipping in @frostynova and @bboreham.

By the sounds of it, we would not expect these two containers to have name resolution between each other since Calico does not get involved with name resolution and Docker does not provide hostname entries in a container to containers in different networks.

[2016-04-14 17:01] #912 closed

[2016-04-19 18:11] TrimBiggs commented on #898
Hi @frostynova,

Just checking in.  Have you been continuing to see this issue?

[2016-04-20 00:30] frostynova commented on #898
@TrimBiggs Until now, Calico with CentOS 7.2 works very well. So this issue can be closed.

[2016-04-20 01:16] TrimBiggs commented on #898
That's great! We'll keep note of this issue and possibly write about it being a known issue with Centos 7.0 if we can't figure out the underlying problem.

Thanks again for the consistent feedback :smiley:

[2016-04-20 01:16] #898 closed

[2016-04-20 04:54] tomdee opened #926 "etcd_structure doc has wrong field names for inbound/outbound"
It should be inbound_rules and outbound_rules

[2016-04-20 11:03] dongmx opened #927 "How should I config profile to let it get ip from a certain pool ?"
I have several pools : 10.10.1.0/24; 10.10.2.0/24; 10.10.3.0/24.  And I want  profile A use  10.10.1.0/24, profile B use 10.10.2.0/24, others use 10.10.3.0/24.

What should I do? I can't find any information from the documents. Thanks for your help!

[2016-04-20 12:51] dongmx commented on #927
calicoctl version is v0.19.0

[2016-04-20 22:02] TrimBiggs commented on #927
Are you using Calico as a Docker network plugin? As in, did you create networks with the `docker network` command with Calico as the driver?

[2016-04-21 01:44] dongmx commented on #927
I am using Calico as a Docker network plugin. Thank you very much!

[2016-04-21 01:45] dongmx commented on #927
This issue can be closed.

[2016-04-21 02:11] #927 closed

[2016-04-21 15:58] TrimBiggs commented on #927
Happy to help! :)

[2016-04-21 23:47] #926 closed

[2016-04-22 00:08] TrimBiggs commented on #901
This gives the warning message if any section of the string IP address is different from the string in the ifconfig output, e.g. `aa::0123 != `aa::123`, even though they do actually match in terms of IP.

[2016-04-22 02:46] workhardcc opened #932 "There is no work when i use "-e CALICO_IP=auto -e CALICO_PROFILE=test" to run a container"
hi guys,
i have three etcd node(physical matchine), run calico container in each of them. My docker listen port is :

OPTIONS="-b=bond0 -H tcp://0.0.0.0:2375 -H unix:///var/run/docker.sock"
DOCKER_CERT_PATH=/etc/docker

Then i hijack docker port  to calico as below:`export DOCKER_HOST=localhost:2375`
At last run a container as `docker run --name test3 -e CALICO_IP=auto -e CALICO_PROFILE=test -tid

[2016-04-22 15:12] djosborne opened #933 "Connect to Etcd using SRV entry"
In the case of DC/OS, etcd is running on an unknown address and port in the cluster discoverable only by an SRV lookup. Calico does not have the cabaility to connect to etcd using an SRV record. To circumvent this, our current DC/OS solution runs an etcd proxy on each Agent pointed at the SRV entry, so that Calico can just connect to `localhost:2379`, offloading the SRV lookup onto the proxy.

pyt

[2016-04-22 17:14] TrimBiggs commented on #932
Hi @workhardcc,

Looks like you caught some outdated docs from our repo! We no longer use the `CALICO_IP` or `CALICO_PROFILE` environment variables, but it looks like we still have some leftover references to them in our FAQ and Troubleshooting guides.  I also don't think you need to specify `DOCKER_HOST`, Calico should just connect to `unix://var/run/docker.sock`.

Could you tell us a bit more ab

[2016-04-22 23:24] #901 closed

[2016-04-22 23:50] TrimBiggs commented on #903
This fails for IPv4 as well until an IPv4 pool is created.

The issue here is that confd is requiring an IPv6 pool even when IPv6 is not enabled.

I think this goes a bit deeper though because you could have IPv4 and IPv6 enabled, but you may not have a pool configured for one of them, causing confd to print this error constantly (and blocking confd).

[2016-04-25 02:35] workhardcc commented on #932
Thanks for your relay!
My test environment consist of three physical machine, one is mesos master(marathon,zookeeper service on this node)， the other two of them are mesos slave and  deployed etcd、docker service and run a calico container. The goal is: make a new container by marathon, calico can assign a independent ip from ip pool. So i want calico can auto deploy a ip to a new container by comm

[2016-04-25 12:05] ThomasLohner commented on #896
I can confirm this happens when docker daemon is restarted. Also Containers with fixed IPs (`docker run ... --ip=xxx`) refuse to restart after docker daemon was restarted:

[code]

Only workaround is to manually kill etcd entries and release the ip from calico ipam:

[code]

All of this is also reported in projectcalico/libnetwork-plugin#49 and it totally makes sense that this is related to libnet

[2016-04-25 12:56] fasaxc opened #937 "Exceptions logged to stderr when felix tries to log to syslog"
Seen while scale testing k8s on coreOS.  I suspect these are benign because (from code reading) the logging framework catches the exception, logs it out and then continues.

[code]

I think the default config for felix has it logging errors to syslog but I think coreOS doesn't run a syslog server by default (and maybe it's failing to resolve, say, "localhost") so whenever we log an error we'll hit

[2016-04-25 23:17] TrimBiggs commented on #932
Thanks for the info! That's important to know.

The idea behind Calico with Mesos is to provide Calico integration within the actual tasks that are run by Marathon.  It makes most sense for the IP assignment to be within the actual task definition so that you do not have to run Calico each time the task runs.

We have hooks into Marathon that allow you to specify that you'd like to assign an IP to

[2016-04-26 04:13] duffqiu opened #941 "data storage with consul"
Is it possible to use consul instead of etc?

thanks

[2016-04-26 07:40] fasaxc commented on #941
Not at this time.  We may add that feature in future but it's not a simple drop-in replacement (we've done a year of performance and scale testing with etcd that we'd have to repeat).

[2016-04-26 08:18] fasaxc opened #942 "calico-cni plugin leaks `/tmp/_MEIxxx` directories after failure"
We use `pyinstaller` to pack calico CNI; when the `calico` command is run, pyinstaller unpacks a copy of the code and libraries to `/tmp/_MEIxxx`.  If the `calico` command dies or is killed, those temporary files are left in place leaking 10-20MB.

[2016-04-26 13:00] fasaxc opened #943 "Sporadic `NetworkPlugin cni failed` errors during k8s scale test"
I ran a 2-host (200-pod) scale test.  While the test seemed to work OK, I see these errors sporadically (none for a while and then several pods fail in a row) in the kubelet log:
[code]
From the corresponding CNI log, it looks like the container gets torn down and rescheduled on the other host, where it succeeds.

Our CNI log appears normal (it looks like we think we've set up the eth0 device corr

[2016-04-26 14:40] lxpollitt commented on #942
cc/ @tomdee: Time for a golang version of the our CNI plugin?  ;-)

[2016-04-26 14:51] fasaxc commented on #942
That sounds sensible to me, it seems to be a bit of pain to package python for coreOS.  Either that, or ship the CNI plugin inside calico-node (or its own container) and exec it inside there.

I also had a crack at running the CNI plugin as a one-dir pyinstaller build to see if it reduced its CPU load/startup time vs the one-file option.  It does seem to (load average is 15 rather than 20 in my te

[2016-04-26 19:46] yangongcontractor commented on #751
It happens on coreos as well. There is no apparmor on coreos.

[2016-04-26 23:50] djosborne opened #946 "Upgrade calico-dind to docker-1.11.0"
This is a continuation of the hotfix from #944 . Please read the description there, as it covers the full situation, including its affect on Semaphore.

This issue is being raised as followup to upgrade docker to 1.11.0 in our dind image.

[2016-04-27 09:15] fasaxc opened #947 "After rebooting kubernetes host, routes don't use IPIP tunnel"
Running Casey's scale test with only a couple of hosts, one NGINX pod and 199 getter pods.  I rebooted the k8s host that had the NGINX pod on it.  Kubernetes recovered, recreated the pods etc but the getters on the non-rebooted host started logging timeouts even after the NGINX pod was restarted.

Investigating, I found

- iptables rules all looked OK
- on the getter's host, the outgoing packets w

[2016-04-27 09:21] fasaxc commented on #947
Restarting bird didn't insert the correct routes but if I manually delete one of the routes then bird inserts the correct route in its place.

Perhaps bird is being started before the tunnel device is configured properly so it does the wrong thing; then it doesn't have appropriate code to diff the route and correct it?

[2016-04-27 16:28] fasaxc commented on #947
May be related to #716?

[2016-04-27 18:03] TrimBiggs commented on #903
Fixed by https://github.com/projectcalico/libcalico/pull/106

[2016-04-27 18:03] #903 closed

[2016-04-27 18:06] padgyx commented on #906
Our company is evaluating Calico currently, but calico node we pulled down does not work.
We have to switch to weave. Below is the error we got:

Pulling Docker image calico/node:latest

Running Docker container with the following command:

docker run -d --restart=always --net=host --privileged --name=calico-node -e HOSTNAME=ip-10-224-15-53.aws.domainname.comec2.internal -e IP= -e IP6= -e CALICO_N

[2016-04-27 18:17] caseydavenport commented on #906
@padgyx it looks like the issue you're seeing is different from the one @lwr20 was seeing.  Could you open a separate issue for it?

I'd also recommend trying one of our released calico/node images.  The latest is `v0.19.0`.  The `latest` tag is built from master and is not always stable.

[2016-04-27 22:28] ghost opened #949 "Using Calico with Azure"
Will it be possible use Calico for building Kubernetes in Azure? I have not found any documentation on this. Under what circumstances, do we need to use --ipip mode? Does Azure need that?

Thanks.

[2016-04-27 23:53] robbrockbank commented on #949
Hi @codefx9,

Azure don't support IPIP so it's not currently possible to use Calico on Azure.  However, we are working with the Azure team on a solution for this.  Keep an eye on this issue, and we'll update it with any developments.

[2016-04-28 00:21] padgyx commented on #906
Thanks for the quick reply. The problem is when user run calicoctl node
command, it will pick up the latest version of calico node image. We have
no way to tell what version of image to use. I have tried the docker run
like this:

sudo docker run -d --restart=always --net=host --privileged
--name=calico-node -e
HOSTNAME=ip-10-224-15-36.aws.domainname.comec2.internal -e IP= -e IP6= -e
CALICO_NETWOR

[2016-04-28 02:31] padgyx commented on #852
Hi, @TrimBiggs: I have similar issue and here is the output of your request:
./calicoctl bgp peer show
No global IPv4 BGP Peers defined.

No global IPv6 BGP Peers defined.

Should I configure the global BGP Peers to make it work?

[2016-04-28 03:06] padgyx opened #950 "Docker containers using Calico without docker networking cannot ping each other from remote hosts"
Followed this instruction to set up docker containers on different AWS EC2 instances using Calico without-docker-networking: https://github.com/projectcalico/calico-containers/blob/8118aafe45ea218db07f72b284f72fd26b51eb3d/docs/calico-with-docker/without-docker-networking/README.md. However, the container on different hosts cannot ping each other. The container can ping the remote host without any

[2016-04-28 03:49] padgyx commented on #950
Here is the profile details:

[centos@ip-10-224-15-9 ~]$ sudo ./calicoctl profile show --detailed
+------------------------------------------------------------------+-----------------+-----------------+------------------------------------------------------------------+------------------------------------------------------------------+--------+
|                               Name

[2016-04-28 03:56] padgyx commented on #950
./calicoctl pool show
+------------------+-------------------+
|    IPv4 CIDR     |      Options      |
+------------------+-------------------+
|   10.0.0.0/24    |                   |
|  10.168.0.0/16   |                   |
|  172.168.0.0/16  | ipip,nat-outgoing |
| 192.168.100.0/24 | ipip,nat-outgoing |
+------------------+-------------------+
+--------------------------+---------+
|        IP

[2016-04-28 07:52] fasaxc commented on #906
@padgyx if you're using a released version of `calicoctl node` then it fixes the version of the docker image to be the same version as `calicoctl`.  If you build `calicoctl` yourself from master then it pulls `calico/node:latest`.

I think there's a typo in your docker run command above, looks like you've got `v0.9.0` rather than `v0.19.0`, which is current.

[2016-04-28 16:01] TrimBiggs commented on #852
Hi @padgyx,

What exactly are you seeing? How is your cluster configured? How many nodes are running with calico?

Thanks

[2016-04-28 16:35] TrimBiggs commented on #950
Hi @padgyx!

It looks like you're on a pretty old version of `calico/node`.  You're on `v0.9.0`, but the current version is `v0.19.0`.  I'd recommend upgrading your `calico/node` and `calicoctl`, then rerunning `calicoctl node` on each host:

[code]

Also, can you print the ip address info of you containers on each host:

[code]

Upgrading is probably your best bet. We always recommend being on th

[2016-04-28 16:43] TrimBiggs commented on #896
Hi @ThomasLohner,

I think we should leave the issue open, we still like to keep this on our radar if we choose to fix it in a different way (like running the calico libnetwork plugin as a system service, rather than container). We'll keep an eye on Docker's comments about system containers here as well: https://github.com/docker/docker/issues/22239

[2016-04-28 16:53] robbrockbank commented on #950
This looks like your BGP session is not establishing - could it be a problem with your security groups blocking BGP traffic?

[2016-04-28 16:55] padgyx commented on #852
Hi, TrimBiggs:

Thanks for your reply. Our company is currently evaluating Calico vs Weave. Please help get this working so that we can see the performance advantage of Calico over Weave. I provided more details in this separate ticket: https://github.com/projectcalico/calico-containers/issues/950

I have two separate AWS ec2 instances. I tried both docker-network-plugin and without. Neither of th

[2016-04-28 17:03] padgyx commented on #950
Hi, Tim/Bob:

If I use the latest version which is picked up by calicoctl node
automatically, I got the following error: calico node failed to start
which is reported to you guys by this ticket:
https://github.com/projectcalico/calico-containers/issues/920

So I had to use an older version suggested by your team: sudo ./calicoctl
node --node-image=calico/node:v0.15.0 --libnetwork
but still does no

[2016-04-28 17:22] TrimBiggs commented on #852
@padgyx Let's continue to chat on the other issue, we'll leave this one closed.

[2016-04-28 17:31] padgyx commented on #950
@TrimBiggs Here is the data you requested:

[centos@ip-10-224-15-9 ~]$ sudo docker exec -ti workload-A ifconfig
cali0     Link encap:Ethernet  HWaddr EE:EE:EE:EE:EE:EE
          inet addr:10.0.0.4  Bcast:0.0.0.0  Mask:255.255.255.0
          inet6 addr: fe80::ecee:eeff:feee:eeee/64 Scope:Link
          UP BROADCAST RUNNING MULTICAST  MTU:1500  Metric:1
          RX packets:7 errors:0 dropped:0 ove

[2016-04-28 17:32] robbrockbank commented on #950
Hi Yan,

The AWS security configuration should be covered by our doc:  https://github.com/projectcalico/calico-containers/blob/master/docs/calico-with-docker/AWS.md

In particular sections 2.1 and 2.2.   Can you double check that your security groups are set up correctly to allow all protocols / ports?  If you want to limit which ports, it _may_ be sufficient to just add 179 for BGP - although I h

[2016-04-28 17:37] lwr20 opened #951 "calico-node is doing something which is deprecated?"
I'm seeing this in my logs:

`dockerd[1141]: time="2016-04-28T09:39:42.608567851Z" level=warning msg="Auto-creating non-
existent volume host path /var/run/calico, this is deprecated and will be removed soon"`

I think this means that calico-node is doing something which it will soon be unable to do?

[2016-04-28 17:39] tomdee commented on #951
How were you running the node image? (e.g. using calicoctl or docker directly). Could you provide the exact command line complete with a version number? ALso what docker version are you running on the host?

[2016-04-28 17:40] lwr20 opened #952 "error logs: invalid CIDR address: Device "eth0" does not exist"
I'm seeing lots of errors in my logs along the lines of:

```kubelet[2320]: E0428 10:30:04.003907    2320 manager.go:309] NetworkPlugin cni failed on the status hook for pod 'getter-kd3x7' - invalid CIDR address: Device "eth0" does not exist.```

I think its benign, but we're hitting quite a few of them.

Using calico-containers v0.19.0 on a CoreOS VM in GCE and K8s v1.2.0.

[2016-04-28 17:42] TrimBiggs commented on #950
As a sidenote, you could see all of your configured BGP hosts by running:
[code]

And you can check their IP values by running the following (replacing `<HOSTNAME>` with the actual hostname.:
[code]

[2016-04-28 17:42] padgyx commented on #950
Robb:

Are you talking about two AWS ec2 instances have the same ip address?

Thanks!

[2016-04-28 17:47] lwr20 commented on #951
v0.19.0 is being run by a cloud-init file.  The relevant chunk is:
[code]
Docker version:
[code]

[2016-04-28 17:48] padgyx commented on #950
@TrimBiggs: They look good to me? Please see the following. I masked the domain name.

[centos@ip-10-224-15-9 etcd-v2.2.1-linux-amd64]$ ./etcdctl ls /calico/bgp/v1/host/
/calico/bgp/v1/host/ip-10-224-15-36
/calico/bgp/v1/host/ip-10-224-15-9
/calico/bgp/v1/host/ip-10-224-15-36.aws.domainname.comec2.internal
/calico/bgp/v1/host/ip-10-224-15-9.aws.domainname.comec2.internal

[centos@ip-10-224-15-36 e

[2016-04-28 17:52] TrimBiggs commented on #950
It looks like you have 4 hosts, are there IP address values for the `/calico/bgp/v1/host/ip-10-224-15-36.aws.domainname.comec2.internal` and `/calico/bgp/v1/host/ip-10-224-15-9.aws.domainname.comec2.internal`?

[2016-04-28 18:02] padgyx commented on #950
@TrimBiggs one is hostname and one is FQDN but they have the same ip address:

[centos@ip-10-224-15-9 etcd-v2.2.1-linux-amd64]$ ping ip-10-224-15-9
PING ip-10-224-15-9.ec2.internal (10.224.15.9) 56(84) bytes of data.
64 bytes from ip-10-224-15-9.ec2.internal (10.224.15.9): icmp_seq=1 ttl=64 time=0.020 ms
64 bytes from ip-10-224-15-9.ec2.internal (10.224.15.9): icmp_seq=2 ttl=64 time=0.023 ms
64 by

[2016-04-28 18:10] padgyx commented on #950
@TrimBiggs @robbrockbank This might give you more details:

[centos@ip-10-224-15-36 etcd-v2.2.1-linux-amd64]$ ./etcdctl ls --recursive
/calico
/calico/felix
/calico/felix/v1
/calico/felix/v1/host
/calico/felix/v1/host/ip-10-224-15-36.aws.weather.comec2.internal
/calico/felix/v1/host/ip-10-224-15-36.aws.weather.comec2.internal/last_reported_status
/calico/felix/v1/host/ip-10-224-15-36.aws.weather.c

[2016-04-28 21:27] robbrockbank commented on #950
Tracked this down to bad configuration caused by hostname changes combined with downgrading to a calicoctl version that allowed multiple entries per host to be configured in etcd.

I'm not 100% sure why on AWS calicoctl defaulted to different hostnames (one just the hostname, the other the FQDN).  Current thoughts are:
-  Different versions of calicoctl pull different hostnames (maybe a side-effec

[2016-04-29 12:50] flyer5200 opened #953 "How to set a static ip for docker container by used calico?"
How to set a static ip for docker container by used calico?

In Multi-Host environment, how to keep a static ip for docker container?

[2016-04-29 12:55] fasaxc commented on #953
@flyer5200 That depends; are you using docker with or without libnetwork?

[2016-04-29 20:03] tweakmy commented on #953
I have use case using static ip using kubernetes. How can static allocation be done via cni?

[2016-04-29 20:21] caseydavenport commented on #953
@tweakmy - The Calico CNI plugin supports assigning a static IP by passing in the `IP` CNI_ARG - see here: https://github.com/projectcalico/calico-cni/blob/master/configuration.md#ipam

However, you can't do this in Kubernetes.  Kubernetes doesn't provide a way to do this (it goes against core Kubernetes principles).

The [PetSet](https://github.com/kubernetes/kubernetes/pull/18016) object (to be

[2016-05-01 16:23] jsfeutz commented on #513
Please also add option to pull the plugin from an internal repo for those of us behind corporate firewalls.

[2016-05-03 14:39] fasaxc opened #957 "k8s scale: pods fail to start at high scale"
Running 670 GCE compute hosts (tried to run 1000 but the startup failed) with a 5-node etcd cluster (16-core instances).  Tried scaling the getter RC to 30k pods but virtually no pods came up (about 6 of 10k by the time I stopped the test).

Digging into the logs, felix and the CNI plugin were both failing to access etcd with `Raft Internal Error : etcdserver: request timed out`.  This was causing

[2016-05-03 14:51] fasaxc commented on #957
Felix sees a very variable event rate.  Mostly low 10-30/s but towards the end of the test, it looked like it peaked at 160/s.  With the timeouts, felix was resyncing so I compared the difference between etcd indexes at the different resync times.  Much of the etcd traffic could have been outside the tree that felix is monitoring.

[2016-05-03 18:36] TrimBiggs commented on #932
Hey @workhardcc,

Any luck with this?  I'm going to close down this issue since I've made the docs fix for the initial problem you hit.  Please feel free to reopen it if you are still running into any roadblocks.

Thanks!

[2016-05-03 18:36] #932 closed

[2016-05-04 07:34] nashasha1 opened #959 "How calico recycle ip"
If I remove a container which calico has allocated an IP( Let's asume it is 192.168.0.1)，how can I recycle this Ip? I find this ip will never allocate to other containers.

Or if one of the nodes in cluster die and never recover back. How recycle it's ips?

[2016-05-04 07:36] nashasha1 opened #960 "How can I know which ip has been allocated?"
Can I query this from etcd, or any calico commands can show this?

[2016-05-04 07:41] fasaxc commented on #959
@nashasha1 We do recycle IPs as long as the container is correctly removed from Calico.  What orchestrator/calico plugin are you using, or are you using `calicoctl container add` to network containers manually?

[2016-05-04 07:46] fasaxc commented on #960
I think you're looking for `calicoctl endpoint show --detailed`.  When you network a container with calico, we create a new endpoint (linux interface), which owns the IP and then we add that endpoint to the container.

[2016-05-04 07:46] #960 closed

[2016-05-04 07:56] nashasha1 commented on #959
Yes I'm using `calicoctl container add`, I'm wondering if I `docker rm -f container-id` manually not from Calico. How this ip recycle?

[2016-05-04 09:18] fasaxc commented on #959
If you use the manual `calicoctl container add` then you also have to manually remove the container from calico before you delete it with `calicoctl container remove`.

We provide plugins for docker and other orchestrators to make that automatic.

[2016-05-04 09:29] nashasha1 commented on #959
Thank you again! @fasaxc . I will close this issue.

[2016-05-04 09:29] #959 closed

[2016-05-04 09:48] nashasha1 opened #961 "Create docker network fail!"
Hi guys:

Working with [This link](https://github.com/projectcalico/calico-containers/blob/master/docs/mesos/UsageGuideDockerContainerizer.md).

Can't create network databases success.

I have run `calico/node-libnetwork:latest` and `calico/node:latest` and `etcd`

[code]

after I run `docker network create --driver=calico --ipam-driver=calico databases`

get nothing

[code]

Did I miss sth?

Than

[2016-05-04 16:16] TrimBiggs commented on #961
Hi @nashasha1,

It looks like you may have missed the step to set Docker's `--cluster-store` parameter (this is a docker requirement to use Docker libnetwork).  This is covered in our [Calico as a Docker Networking Plugin guide](https://github.com/projectcalico/calico-containers/blob/master/docs/calico-with-docker/docker-network-plugin/ManualSetup.md#docker). We link to this setup from within the

[2016-05-04 16:24] #950 closed

[2016-05-05 01:08] hoppers99 opened #963 "Docker IpamDriver.RequestAddress error"
Twice, after changing the pool using calicoctl (pool remove then pool add) redeployment of docker containers has begun to fail with the below message being logged.

[code]

Resolution attempts the first time covered:
- Restarting calico-node container
- Removing and re-adding the pool
- Restarting the agent

Eventually, I added a second pool and containers instantly started getting IP's assigned o

[2016-05-05 01:55] nashasha1 commented on #961
@TrimBiggs  Thank you for your reply.

After I set Docker's `--cluster-store` parameter, network can create as expect.

But another issue occurred.

When I run `docker  run -d --name=c1 --net=databases tutum/ubuntu:latest`

response:

[code]

My calicoctl version

[code]

My Docker info:

[code]

Any idea about this.

Thanks!~

[2016-05-05 17:38] djosborne opened #966 "latest libnetwork uses removed libcalico method"
Repro:
[code]

Produces the following error:
`Error response from daemon: failed to create endpoint mesos-8b2e4149-77c4-40c0-90de-d8ede4b87bca-S1.201c98b1-0b15-4ed7-9cba-c7e1cef6539a on network management-ui: NetworkDriver.CreateEndpoint: 'LibnetworkDatastoreClient' object has no attribute 'get_default_next_hops'.`

[2016-05-05 17:43] djosborne commented on #961
Sounds like you hit a bug in our latest ibnetwork image: #966

You're using the 0.19.0-dev calicoctl, which is built from master and pulls master images for libnetwork and calico-node. In projectcalico, master images are not guaranteed to be bug free. Releases are!

Try downloading calicoctl from the 19 release: https://github.com/projectcalico/calico-containers/releases/tag/v0.19.0
If you rerun `

[2016-05-05 23:14] robbrockbank opened #967 "Node reboots causing calico node to fail to start due to clashing hostname"
Had a couple of reports that after a node reboot the calico node is failing to restart due to a clashing hostname.

Prior to the reboot, the hostname used by calicoctl and stored in etcd was the short name.  After reboot, however, the hostname is fully qualified and therefore clashes with the existing entry in etcd.

Looks like it could be related to:
https://bugs.launchpad.net/cloud-init/+bug/124

[2016-05-05 23:25] heidecke commented on #967
On an unpatched host (CentOS 7.2 in this case), setting the hostname and fqdn with cloudinit causes this behavior.

Sample config:
[code]

[2016-05-06 07:50] saiwl opened #968 "calico cannot work on host without ipv6 support"
i did the steps as the calico-without-docker-net.
the host doesn't have ipv6 support, i think it doesn't matter.
ip a command shows:

508: calia0163956134@if507: <BROADCAST,MULTICAST,UP,LOWER_UP> mtu 1500 qdisc pfifo_fast state UP qlen 1000
    link/ether 2e:7f:8f:94:ee:d7 brd ff:ff:ff:ff:ff:ff

ip ro command shows no route to the cali interface.
but i tried on another host with ipv6, all is ok.

[2016-05-06 08:12] fasaxc commented on #968
@saiwl what version of calico and calicoctl are you using?  We added support for running without IPv6 support in v0.18.0.

[2016-05-06 08:21] saiwl commented on #968
@fasaxc Thanks for your reply.
calicoctl version
0.19.0

calico/node:v0.19.0

I just check the log of felix, there is error about net.ipv4.conf.all.rp_filter config. Original value is 2, maybe it's caused by this? I am going to change it to 1 and try again.

[2016-05-06 08:25] fasaxc commented on #968
@saiwl yes, Calico requires strict RP filtering to maintain security (otherwise containers can spoof each other).

Closing for now, please re-open if you're still hitting issues.

[2016-05-06 08:25] #968 closed

[2016-05-06 09:39] workhardcc commented on #932
Ok! Thanks for your help!

[2016-05-06 10:06] neiljerram opened #969 "calicoctl doesn't tell me the allowed syntax for a port range"
Here are what I think are 3 reasonable attempts to discover or guess this:

[code]

In all three cases, the output that I get does not tell me what the correct syntax is (or whether a port range is allowed at all).

[2016-05-06 10:14] fasaxc opened #970 "Felix status reporting enabled but unused"
Felix supports reporting its status into etcd, which we use in the OpenStack integration to report the agent status.  That feature is currently turned on in the container integration even though we're not exposing it anywhere.

At high scale, it uses a significant chunk of etcd write bandwidth (the default is to write 2 etcd keys every 30s from every felix) and it causes resyncs when there are no

[2016-05-06 12:18] fasaxc commented on #970
Looks like this should be a one-liner in libcalico, now if I can figure out how to test it with my scale run...

[2016-05-06 14:07] nashasha1 commented on #961
@djosborne  Thank you very much.Release version work well.

[2016-05-06 14:37] neiljerram commented on #969
From code reading it appears that the correct syntax is <lower>:<higher>, and the code for handling that looks correct to me.  I can't work out why I'm getting the traceback and ValueError as shown above.

[2016-05-06 15:15] ajaybhatnagar opened #971 "Network created from agent nodes does not show profile created"
When I create a network from agent node, it does not create the network and profile is not displayed. When same command executed on node running ETCD, it displays correctly on the node but not on other agent nodes running docker/mesos-slaves. See the output below. Am I missing any step ?  Following the instructions on page:

https://github.com/projectcalico/calico-containers/blob/master/docs/mesos

[2016-05-06 15:47] #961 closed

[2016-05-06 16:15] #970 closed

[2016-05-06 16:23] caseydavenport commented on #969
Hmm, I think that code is bugged.  Look here: https://github.com/projectcalico/libcalico/blob/master/calico_containers/pycalico/util.py#L120

It's iterating the given `port_list`, but in your case the port list is actually a `string` "39040:39080", so it's going to go through that string one character at a time.  When it gets to the `:` character, it does this:

[code]

and then:
[code]

[2016-05-06 16:44] neiljerram commented on #969
Thanks @caseydavenport .  I thought that port_list would be passed as a list with a single item, i.e.:

    ["39040:39080"]

and for that case I believe the code is correct.  I also tried adding a case

        (['39040:39080'], True),

to the parameters for test_validate_ports in test_util.py, and that passed.

[2016-05-06 16:46] neiljerram commented on #969
But if I change that test case to

        ('39040:39080', True),

I get the same traceback as I reported above, so confirming your theory I think.  So then perhaps the problem is in the code that calls validate_port.

[2016-05-06 17:29] neiljerram commented on #969
Well no, not really, the caller always calls it with a single arg, being the word from the command line.

    for arg in ["<SRCPORTS>", "<DSTPORTS>"]:
        if arguments.get(arg) is not None:
            ports_ok = validate_ports(arguments[arg])
            if not ports_ok:
                break

So validate_ports is bugged as you say.  I'll look at a fix.

[2016-05-06 18:17] neiljerram commented on #969
Addressed by https://github.com/projectcalico/libcalico/pull/111 and https://github.com/projectcalico/calico-containers/pull/972.

[2016-05-06 18:19] neiljerram commented on #969
(It appears that there are other contexts that use validate_ports to validate port values from etcd; and the validate_ports is correct for that case.  Therefore I believe the right fix is to introduce and use a different validation function for the port specs that can be specified on the calicoctl command line.)

[2016-05-06 19:01] TrimBiggs commented on #971
Hi @ajaybhatnagar,

I've got a few questions for you to get a better understanding.
Can you tell me a bit more about your cluster configuration? Are you using calico with DCOS? Are you using a cloud service?

[2016-05-06 19:12] ajaybhatnagar commented on #971
Hi Trim
I am not using DCOS. It is private cloud KVM setup with no firewall between nodes.
On further investigation I found network is not up on docker0 interface on both etcd and agent nodes. See below:
On ETCD node:

root@calico-00:~# ping 172.17.0.1
PING 172.17.0.1 (172.17.0.1) 56(84) bytes of data.
64 bytes from 172.17.0.1: icmp_seq=1 ttl=64 time=0.035 ms

root@calico-00:~# ip a
1: lo: <LOOPBA

[2016-05-06 19:14] #920 closed

[2016-05-07 03:41] nashasha1 opened #973 "zombie ip occur when stop calico container"
I'm doing some test about [Calico as a Docker network plugin](https://github.com/projectcalico/calico-containers/blob/master/docs/calico-with-docker/docker-network-plugin/README.md)

Some edge test result:

1、shut down one of nodes. calico work well.
before
[code]

after
[code]

2、stop calico container `calico-libnetwork` `calico-node` then start them work well. Ip will not release.

3、stop calico

[2016-05-07 10:24] nashasha1 opened #974 "Can't ping container in vm"
When I login in VM-A ,I can only ping successfully the containers in VM-A. I can't ping other VMs' container. Is this a correct behavior?

Any container can ping any VM successfully.

This can reproduce either `Calico as a Docker network plugin` or `Calico without Docker networking`

How can I make the containers and vms can communicate each other?
calico version

[code]

Did I miss sth?

[2016-05-08 17:45] natostanco commented on #974
felix iptables ultimately drop all the traffic that does not match `felix-to-*`rules and apparently calico nodes ips are not included in the whitelist? I can add something like:
`iptables -I FORWARD -s 10.2.0.139 -j ACCEPT` where the ip is the ip of a calico node but these rules get cleaned up on each container run so how do you whitelist nodes with calico?

[2016-05-09 02:12] frostynova commented on #974
By default, Containers managed by Calico with the same Profile can communicate with each other , So first check if their are in the same Profile.

Another point is be sure  Iptables `FORWARD` chain default policy is not `DROP` or `REJECT` (or there is a rule doing the same thing).

[2016-05-09 05:12] nashasha1 commented on #974
@frostynova  Thank you for your reply.
I mean I can't Ping other VMs' container when I'm in VM-A(Not VM-A's containers). Any idea about this?

eg: VM-A(10.9.51.159) run container C1(192.168.0.0) VM-B(10.9.54.162) run container C2(192.168.0.64)

VM-A can ping C1
[code]

VM-B can ping C2

[code]

**BUT**

VM-A **CAN NOT** ping C2

[code]

VM-B **CAN NOT** ping C1

[code]

No response

[2016-05-09 06:35] frostynova commented on #974
@nashasha1 That is the correct behavior. If you want to do that, like what @natostanco said, you can modify your profile rule, add a new rule like that:

`calico profile {{ profile_name }} rule add inbound allow from cidr 10.9.0.0/16`

[2016-05-09 17:07] TrimBiggs commented on #973
Hi @nashasha1

There are a couple of things going on here.  I think the behavior you're seeing is correct, but it works slightly differently than what you've mentioned.

Calico will assign the *least*-recently used IP address to a container, so if you just stopped or removed a container with IP 192.168.0.6, that IP address will not be used next since it is now the *most*-recently used IP address.

[2016-05-10 03:13] nashasha1 commented on #973
Thanks @TrimBiggs . That is helpful.

[2016-05-10 03:16] nashasha1 commented on #973
I have an another question.
When I  use Calico as a Docker network plugin, what should I do if I want add multi-pool and multi-profile.  When I create a docker network(With calico IPAM), It seems I can't specify which pool and profile for this network.

Thank you!~

[2016-05-10 04:55] nashasha1 commented on #974
Hi @frostynova . Thank you for your help. But  still not work. Did I miss sth? I am using Calico as a Docker network plugin.

[code]

ping result:

[code]

No response.

Thank you for your help.

[2016-05-10 05:05] frostynova commented on #974
@nashasha1 That's strange.

Can you paste the output of `calicoctl status` in both VMs?

[2016-05-10 06:18] nashasha1 commented on #974
@frostynova  Sorry, meeting time. I will stay on line this afternoon.

[code]

[code]

ip route result:

[code]

[code]

[2016-05-10 08:07] frostynova commented on #974
@nashasha1 I noticed that you use ip tunnel mode between VMs from this line:
[code]

I test this mode, also cannot ping from a VM to containers in another VM.

I am afraid i cannot give you more help since I have little experience with ip tunnel,

[2016-05-10 09:04] nashasha1 commented on #974
Thank you @frostynova  That's very helpful.

I am not familiar with it too. What mode do you use?  I want to try that!

[2016-05-10 09:09] frostynova commented on #974
@nashasha1 i use the direct mode, this specified during calico pool creation

[code]

do not add the `--ipip` option

[2016-05-10 09:11] nashasha1 commented on #974
@frostynova  Thank you. I will try this!~

[2016-05-10 16:46] TrimBiggs commented on #973
You ***can*** specify the pool for a Docker network.

The link that I posted for the [Assign Static IP when Starting a Container section](https://github.com/projectcalico/calico-containers/blob/master/docs/calico-with-docker/docker-network-plugin/README.md#assign-static-ip-when-starting-a-container) shows how to create a new pool with `calicoctl`, set the pool to be used by a new Docker network, t

[2016-05-10 21:00] TrimBiggs commented on #914
@caseydavenport, do you remember if this was a locally built `calicoctl` that you copied from your dev machine? I used an old machine recently and hit this error because my local repos were not in sync. Could this have been happening here?

[2016-05-10 21:17] caseydavenport commented on #914
Nope, this was v0.18.0: https://github.com/projectcalico/calico-containers/releases/tag/v0.18.0

[2016-05-10 23:27] TrimBiggs commented on #845
Fixed by #882

[2016-05-10 23:28] #845 closed

[2016-05-11 00:08] TrimBiggs commented on #971
The `docker0` interface does not need to be up for it to work.

I'm not sure what's going on here. It seems like you are not longer connected to etcd, but if you have your etcd_authority set correctly then that shouldn't be the case.

Are you still seeing this behavior?

One configuration issue I'm seeing is that you have a peer node in your `calicoctl status output` on the agent that claims that

[2016-05-11 02:29] nashasha1 commented on #974
@frostynova  Thank you very much. direct mode without `--ipip` work well!

[2016-05-11 02:34] #974 closed

[2016-05-11 02:34] nashasha1 commented on #973
That's great. Thank you very much! @TrimBiggs  I will try this later.

[2016-05-11 04:11] TrimBiggs commented on #974
@frostynova thanks for pitching in here, you've been a great help in handling several issues recently :smiley:

[2016-05-11 04:16] frostynova commented on #974
@TrimBiggs You are welcome

Our project benefit a lot from Project Calico, so I want to contribute to the community as much as possible.

[2016-05-11 05:33] nashasha1 commented on #973
hi @TrimBiggs . I test this with `docker version 1.11.1`. It works well. Thank you very much.

[2016-05-11 15:02] ajaybhatnagar commented on #971
Thanks Trim. Issue was caused by additional Docker options that need to be specified in environment.

[2016-05-11 15:02] #971 closed

[2016-05-11 15:56] wrouesnel commented on #873
A middleground option might be to allow specifying a DNS A/AAAA record which lists ALL public IP addresses a host could have. This would help resolve ambiguity, and in (at least my) deployment scenarios isn't too hard to setup in advance with shared images.

So `nodes.cloud.com` resolves to something like 192.168.1.10 and 192.168.1.11 - `calicoctl` retrieves all records, and checks all the interfa

[2016-05-11 16:10] wrouesnel opened #979 "Log to container stdout/stderr"
It should be possible to have the calico/node container log in a standard way to docker stdout/stderr so it can integrate better with log aggregation tools that are listening there. A command line option to throw it svlog into tagged logging mode and link it to `/dev/stdout` would accomplish this.

[2016-05-11 17:54] matthewdupre commented on #910
We've changed things around so that Felix can load its own kernel modules now.  Hopefully this will include loading iptables - if you get a chance to retest this, could you please let us know if it's working in your environment?

Thanks,
Matt

[2016-05-11 23:52] wrouesnel opened #982 "Anycast/ECMP with Docker libnetwork?"
I know ECMP/anycast is possible with Calico (just the same route being advertised by felix) but at the moment it looks like it's not possible to set it up using the libnetwork plugins directly?

Specifically on 2 nodes I can't do this:
[code]

I need to step through the possible manual setup of this arrangement, but for our use-case (and the general "node suddenly dies, something like Marathon res

[2016-05-12 08:00] saiwl opened #983 "confd out of sync"
When I run confd, I got the out of sync errors, here is the log:

2016-05-03T03:38:07+08:00 localhost.localdomain confd[39170]: INFO Backend set to etcd
2016-05-03T03:38:07+08:00 localhost.localdomain confd[39170]: INFO Starting confd
2016-05-03T03:38:07+08:00 localhost.localdomain confd[39170]: INFO Backend nodes set to http://localhost:2379
2016-05-03T03:38:07+08:00 localhost.localdomain confd[3

[2016-05-13 09:56] lwr20 commented on #943
In my 1K node/30K pods test, I hit this 21537 times.  That's a lot of rescheduling and log spam.

[2016-05-13 10:27] flyer5200 opened #984 "kubelet can't started with the --config=/etc/kubernetes/manifests option"
calico-policy-agent.yaml write hostNetwork: true
But kubelet can't start docker containers, how can I rule out this problem?

[2016-05-13 10:50] fasaxc commented on #982
I expect docker forbids you from using the same IP for two containers in a network.  If docker polices against it, Calico won't be able to offer that.

Note: our anycast support is limited.  It only works if the containers with the same IPs are on different hosts.  If your same-IP containers are on one host, I think only one of them will get traffic.

[2016-05-13 13:21] wrouesnel commented on #982
With the Calico IPAM driver surely it could just lie?

In the short term the different hosts issue is fine - the problem is when an IP isn't deassigned due to a host crash, it still looks assigned so something like marathon rescheduling it fails.

I'll look into it some more.

[2016-05-13 13:25] fasaxc commented on #982
I think an anycast address would always have to be a secondary address to any IPAM-assigned address.  Otherwise, a container can't connect out into the network because the response may go to the other container with the same IP.  Our IPAM plugin guards against that (it's purpose it to assign unique IPs to different containers).

[2016-05-13 13:28] fasaxc commented on #984
@flyer5200 Please can you give a bit more information about what you're trying to achieve and what error messages or other symptoms you see?

[2016-05-13 14:19] fasaxc commented on #943
The function that is failing is this one: https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/network/cni/cni.go#L140

It uses this generic function to try to get the IP address from the pod, but that function is not seeing eth0:
https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/dockertools/manager.go#L1160

[2016-05-13 15:26] caseydavenport commented on #943
Guys - those timestamps for startup / teardown look pretty far apart.  Are you sure the pods are getting rescheduled?

If not, then I think you're just hitting this issue, which is benign: https://github.com/kubernetes/kubernetes/issues/25281

[2016-05-13 16:05] fasaxc commented on #943
@caseydavenport Can't remember the circumstances behind the teardown log, sorry.  Wish you'd linked that issue before if you knew the cause!

[2016-05-13 16:09] caseydavenport commented on #943
That's a pretty recent issue I raised - I missed linking it to this one.  Sorry!

[2016-05-13 16:11] caseydavenport commented on #943
Closing this for now since it looks like an upstream Kubernetes issue.

[2016-05-13 16:11] #943 closed

[2016-05-13 18:02] #892 closed

[2016-05-13 21:23] untoreh opened #985 "rkt calicoctl and systemd units"
- `--detach=false` should run rkt without systemd-run so that you can monitor the node from 1 unit file
- you should be able to specify rkt path and stage1 path

Or is it intended to work this way? And I have to use a full rkt command line inside a unit file?

[2016-05-14 01:22] wrouesnel commented on #982
Could a specific IP request from docker be considered "give me an anycast address" though? That's a situation where the user is deliberately giving an intention. Currently it doesn't seem to useful because a hard docker crash / machine failure locks out the IP - even bug fixed you'd still be waiting for it to come back up and clean up.

Basically in a situation where you launch a container from an

[2016-05-16 07:32] flyer5200 commented on #984
Thanks for your reply !  I think I've solved the problem.
I am using the latest version of calico, but my kubernetes version is 1.2.0, I upgraded to 1.2.4 kubernetes after policy-agent seems to work.

But I found a new problem, I have set up kubernetes of networkpolicys for my application.
calico does not seem to apply firewall rules.

http://api.xxxx.cn/apis/net.alpha.kubernetes.io/v1alpha1/names

[2016-05-16 08:02] saiwl opened #986 "cannot run felix on kernel 2.6.32"
For some reason, we need to run calico on kernel 2.6.32 without docker. But there is an error with felix about "ip6tables --table nat". I guess the kernel doesn't support ipv6 nat, and I cannot find the related kernel modules on the host. However, felix used this. I disabled ipv6 in sysctl.conf. But the error still exists.

net.ipv6.conf.all.disable_ipv6 = 1
net.ipv6.conf.default.disable_ipv6=1
ne

[2016-05-16 08:15] fasaxc commented on #986
@saiwl it's a large burden to support such an old kernel (2.6.32 is now 7 years old!).  What distribution are you using?

[2016-05-16 08:25] saiwl commented on #986
centos6.7
For some reason we have to use this kernel... Here are the errors reported in felix's log:

2016-05-16 16:23:26,669 [ERROR][5622/5] calico.felix.actor 320: Exception processing M607b65941114a38a (_load_chain_names_from_iptables)
Traceback (most recent call last):
  File "/usr/local/lib/python2.7/site-packages/calico/felix/actor.py", line 318, in _step
    result = msg.method()
  File "/u

[2016-05-16 08:25] saiwl commented on #986
@fasaxc

[2016-05-16 08:39] fasaxc commented on #986
Hmm, we don't have an option to disable IPv6 right now.  It looks like IPv6 NAT was added in 2011 so it's likely missing from your kernel.

[2016-05-16 08:42] saiwl commented on #986
Thanks for your help! I will try other methods to solve this.

[2016-05-16 09:16] fasaxc commented on #984
It's normal for `/calico/v1/policy/profile/k8s_ns.xiaodai/rules` to contain deny rules.  That's the "default deny" rule at the end of the rules applied to each endpoint.  The network policy should be in `/calico/v1/policy/policy/`

A few things to check:

- Have you enabled namespace isolation?
- Are you sure that your pods have labels `name=nginx1` and `name=nginx2`?
- Is this correct syntax: `"p

[2016-05-16 09:17] fasaxc commented on #952
Dupe of https://github.com/projectcalico/calico-containers/issues/943.  Looks like a benign upstream k8s issue.

[2016-05-16 09:17] #952 closed

[2016-05-16 10:19] fasaxc commented on #986
@saiwl it might be worth editing the calico code in the container just to check if this is the only issue.  You could replace the check for the ipv6 `/proc/` entry with `False`.

[2016-05-16 13:39] fasaxc commented on #982
@wrouesnel Anything we do in our datamodel will live for a long time.  I'd rather not pollute the datamodel with special cases like this.

Note, you don't have to use libnetwork to use Calico with Docker.  You can start a container with `--net=none` and then use Calico to network it after-the-fact.  That has the advantage of giving you Calico's full flexibility in policy etc.  However, I expect we

[2016-05-16 13:55] #986 closed

[2016-05-16 16:20] caseydavenport commented on #984
ICMP isn't supported by the k8s policy API yet.  The only valid protocols are "TCP" and "UDP".

[2016-05-16 18:05] #973 closed

[2016-05-17 07:31] depay opened #987 "Container is unreachable from host"
i deployed calico in our bare metal CentOS 7 cluster

[code]

and create network with libnetwork

[code]

ip of host is 10.15.230.1/21, ip of container is 192.168.1.1/24.

container to container in the same network is reachable, no matter in the same host or not.

but container is unreachable from host, even i make its profile like

[code]

and i run tcpdump when ping container ip from host, it sh

[2016-05-17 12:54] dongmx opened #988 "Container is unreachable and cannot outgoing"
I have a weird problem. I have several hosts. Containers running on most of them can be reachable from everywhere. But some of hosts maybe have some problems, containers running on them are unreachable and cannot outgoing.

[code]
and create network with libnetwork
[code]
and pool config like this
[code]

I run a container which network is
[code]
With `traceroute` from another host, we can see
[co

[2016-05-17 12:58] flyer5200 commented on #984
@fasaxc @caseydavenport
I solved the problem, cause of the error is networkpolicy set incorrectly, after protocol to TCP, to give the desired results.
Thank you again! :+1:

[2016-05-17 12:59] #984 closed

[2016-05-17 13:01] #953 closed

[2016-05-17 13:05] fasaxc commented on #987
@depay thanks for the report.  Please can you give the commands that you used to update the profile?  How did you find the right profile and what does the whole profile look like?

[2016-05-17 17:33] TrimBiggs commented on #983
Hi @saiwl

Do those files still exist? Such as `/etc/calico/confd/config/.bird.cfg312117590`? If so, can you send the output of `/etc/calico/confd/config/bird.cfg` and `/etc/calico/confd/config/.bird.cfg312117590` so we can see what has changed?

[2016-05-18 02:13] depay commented on #987
@fasaxc thanks for ur reply..

command i used to update profile is

[code]

before

[code]

after

[code]

but it did not work, still unreachable from neither host nor container in other network.

[2016-05-18 03:13] dongmx commented on #988
With `tcpdump`, I find that containers can recevie icmp packages, but cannot send packages back.

[2016-05-18 03:24] dongmx commented on #988
I have solved this problem. Because my sysctl net.ipv4.conf.all.arp_ignore = 1. Set net.ipv4.conf.all.arp_ignore = 0. Containers can be reachable.

[2016-05-18 03:24] #988 closed

[2016-05-18 13:18] fasaxc commented on #987
But is the profile for your network called "net1"?  I thought that our profile names were the UUID of the network.

Please can you use etcdctl to get one of the endpoints, we need to see the `profile_ids` field.  The endpoints should be under `/calico/v1/host/<hostname>/workload/...`

[2016-05-18 16:43] djosborne opened #991 "Libnetwork documentation doesn't show calico-ipam with --subnet"
[Our Libnetwork Documentation](https://github.com/projectcalico/calico-containers/blob/fd3df318a76f8255c255a9e131ad8bf5ddfcdd3e/docs/calico-with-docker/docker-network-plugin/README.md#32-create-the-network) doesn't show an example for launching a calico with Calico IPAM on a particular subnet.

We should provide information on it, including the known restriction that "the `--subnet` you specify mu

[2016-05-19 01:40] depay commented on #987
UUID and network_name are the same when using libnetwork, as

[code]

one endpoint in etcd is

[code]

[2016-05-19 02:57] depay commented on #987
some iptables rules are

[code]

i'm wondering whether rule 2 `DROP       all  --  anywhere             anywhere             MAC ! EE:EE:EE:EE:EE:EE /* Incorrect source MAC */` drop the packets from host ip/mac ?

[2016-05-19 08:14] fasaxc commented on #987
@depay what's in the `felix-p-_12aa1ed55348f0d-i/o` chains?  those are the chains that map to the inbound and outbound rules.

The `felix-from-xxx` chain is used for outgoing traffic from the endpoint.  We explicitly set the MAC address of the eth to ee:ee:ee:ee:ee:ee so that should be correct.

[2016-05-19 09:48] depay commented on #987
[code]

rule 3 in `Chain felix-p-_12aa1ed55348f0d-i` may be what we want

[2016-05-19 10:07] fasaxc commented on #987
Hmm, those chains look correct (and match the allow rule you added).

The fact that you see the pings going into the calixxx device means that they must have passed the iptables rules on the way into the container.  Are you able to run commands inside the container?  What does `ip route show`, `ip addr show` and `ip link show` give you inside the container?

[2016-05-19 10:12] depay commented on #987
[code]
[code]

[code]

[2016-05-19 10:18] depay commented on #987
IIRC, tcpdump catches packets before iptables..i'm  doulting those pings maybe dropped before that chain..

[2016-05-19 11:04] fasaxc commented on #987
Hmm, the routing inside the container looks wrong to me and there's an additional eth1 device in there.  Are you trying to network this container with Calico and another plugin (or docker networking) as well?

[2016-05-19 13:33] depay commented on #987
no, i did not...just `docker network create --driver calico --subnet=192.168.1.0/24 net1` then `docker run --net net1 xxxxxxx`..btw, my docker version is 1.9.1.

Besides the `eth1`(172.18.0.3/16), a bridge named `gwbridge`(172.18.0.0/16) exists on host.

[2016-05-19 16:41] robbrockbank commented on #987
When creating the network you didn't specify the `--ipam-driver calico` option.  Was this a deliberate choice? When you don't specify the Calico IPAM our plugin reverts to using default Docker IPAM, and in addition we let Docker set up the container interfaces to connect the container the Docker bridge.  This is useful for testing where you want to use port forwarding in the case you have not set

[2016-05-20 02:45] depay commented on #987
@robbrockbank , thanks for ur explaination. I've tried using `--ipam-driver calico` before, but it didn't work..

[code]

[code]

[code]

[code]

and i ping from container to host, and tcpdump

[code]

macs on container is

[code]

macs on host is

[code]

[2016-05-20 07:58] depay commented on #987
sorry, some body make `net.ipv4.conf.all.arp_ignore = 0` on my host... :sob:

[2016-05-20 09:33] fasaxc commented on #987
Sounds like you've found the issue.

[2016-05-20 09:33] #987 closed

[2016-05-23 06:22] HuKeping opened #996 "Multi-tenant support"
Hi, all:
I'm new to Calico and will really appreciate that if someone can tell me whether Calico supports the multi-tenant in the DC or not, for example, userA might want to set 12:34:56:78:9a:bc and 10.0.0.1 to his VM and userB want that also, will they overlay each other if using Calico?

[2016-05-23 08:03] fasaxc commented on #996
@HuKeping Calico does not currently support overlapping IPs (i.e. multiple tenants using the same IP address). Our rich security model does allow for isolating tenants from each other but they do not get to choose their IP addresses.  Making that simplification allows us to have a much more efficient and easy-to-debug datapath.

[2016-05-23 08:03] #996 closed

[2016-05-23 11:20] HuKeping commented on #996
Thanks @fasaxc

[2016-05-23 21:58] sgrimee opened #997 "Document --runtime option"
When using calico node under rkt instead of docker, the status command will fail:

[code]

Instead one needs to use

[code]

The error message could be improved to suggest this option, and the option should be documented

[2016-05-24 16:36] robbrockbank opened #999 "Docker networking with default IPAM may not be working - needs investigation"
Had a couple of reports recently that calico networking was not allowing communication between containers on different networks when using Docker default IPAM.  Report scenario below.

Need to repro to check if this is a genuine problem or not.

[code]

does not work

[code]

Compare this to the working use case:

[code]

[2016-05-26 04:46] wrouesnel opened #1000 "CALICO_DISABLE_FILE_LOGGING leads to runsv spamming the log"
[code]
It looks like `rm -r` fails to remove the directory when the container starts up.

[2016-05-26 14:08] eepyaich opened #1001 "GCE firewall instructions assume a given IP address range"
The GCE.md instructions include a line explaining how to open the firewall for IP in IP traffic.  They assume the network provided by GCE is 10.240.0.0/16.  However, I don't believe this is guaranteed (i.e. I've seen different ones in other GCE projects) - in fact, it looks like this is the "legacy" default for GCE, but they've now moved to use 10.128.0.0/9 for new instances.

Either way the docs

[2016-05-26 19:49] djosborne commented on #966
Fixed by [#51](https://github.com/projectcalico/libnetwork-plugin/pull/51/files)

[2016-05-26 19:49] #966 closed

[2016-05-26 19:52] djosborne commented on #946
Fixed by [#1](https://github.com/projectcalico/dind/pull/1)

[2016-05-26 19:52] #946 closed

[2016-05-26 23:36] wrouesnel opened #1003 "Allow calicoctl --libnetwork with docker to not detach?"
Setting up `calicoctl` with libnetwork should properly support the use case of running it as a systemd unit (i.e. a non-detaching, logs to stdout/stderr binary).

This seems like it could be supported by having calicoctl stay attached to the docker containers, and attach as a threaded log forwarded for both.

[2016-05-31 06:01] 245347881 opened #1004 "how can i use calico with mesos decision my ip with env"
i see the docs Mesos with Calico networking, but i don't understand it,when i complete Calico with Docker Containerizer - Manual Install Guide，it tell me Key = net
Value = <network name>  but how can i designated a ip address?

[2016-05-31 18:00] robbrockbank commented on #1004
If you have created a Calico Docker network, e.g. "net1" then you specify key=net, value=net1 to use that network.  You can also specify a key=ip value=<ip address> to select a particular IP address from a Calico pool.

[2016-05-31 18:03] robbrockbank commented on #1003
When you are using `calicoctl node` in libnetwork mode, calicoctl spins up two separate docker containers - one for the Calico node and one for the libnetwork plugin.  If you want to run this in systemd you'll need to run both containers as separate systemd processes.

Have a look at this document for details:  https://github.com/projectcalico/calico-containers/blob/master/docs/CalicoAsService.md

[2016-05-31 18:05] robbrockbank commented on #1001
Fixed by #1002

[2016-05-31 18:06] #1001 closed

[2016-05-31 18:11] robbrockbank commented on #983
Hi @saiwl

Did you manage to resolve this problem?  When you say you are running confide, could you explain a little more about what you are doing - are you running confd, bird, felix as separate processes rather than running the node container?  Is there a particular set of instructions you were following?

Thanks,

Rob

[2016-06-01 13:22] fasaxc opened #1005 "TypeError from etcd client destructor"
User was running calicoctl from the repo, rather than the packaged binary and they hit the attached error.  I believe it's a benign error from the etcd Client's destructor but it'd be good to shut it down propery so that we avoid this.

<img width="793" alt="screen shot 2016-06-01 at 14 20 56" src="https://cloud.githubusercontent.com/assets/469264/15710994/1e496a24-2804-11e6-8471-e52c59097b47.png"

[2016-06-01 18:27] DreadPirateShawn opened #1006 "First Calico re-launch after Kubernetes startup yields "Unable to remove filesystem" failure"
We've run into a bug when we try to upgrade our Kubernetes hosts.

The following repro is performed on one of our Kubernetes master hosts. Our basic flow is that we shutdown Kubernetes services, reboot, then start all services.

(We do not shutdown Calico, since Calico is not meant to be stopped. Per devs on Calico slack, we should simply reboot the host when needed, and re-run "calicoctl node" to

[2016-06-01 18:37] DreadPirateShawn commented on #1006
Workarounds:

*Option 1) Be very strict about ordering*
~ Namely, for an upgrade, we must call "calicoctl node" after the reboot but before starting Kubernetes services, and be sure to never call "calicoctl node" again after the Kubernetes services are running.
~ *Risk:* This is a pretty brittle solution, and sacrifices idempotency. Calico crashes if anyone attempts to "re-start" Calico on a runni

[2016-06-02 15:53] caseydavenport commented on #1006
@DreadPirateShawn - thanks a lot for raising this - definitely something we want to fix.

I'm out of the office at MesosCon this week but will be investigating this once I'm back in the office.

[2016-06-02 17:42] robbrockbank commented on #1004
Hi @245347881 - did the above sort out the issue - or did I misunderstand what you were asking?

[2016-06-02 17:43] robbrockbank commented on #1003
Hi @wrouesnel - did the above solve your problem?  OK to close?

[2016-06-02 21:58] wrouesnel commented on #1003
Yes and no : manually creating the containers works fine, but it does seem like calicoctl should support this natively. Would a patch which adds this be accepted?

[2016-06-03 11:39] fasaxc opened #1008 "Service IP responses can bypass kube-proxy"
User reached out on slack, having issues in this scenario:

- k8s nodes on same LAN segment
- Calico networking
- 2 compute nodes: node1 and node2
- service IP configured for a pod
- pod is running on node2
- try to connect to service IP via node1

Response packets come back with source IP being that of the pod rather than the service IP, as expected.  This scenario works with flannel.

I suspect

[2016-06-03 12:29] fasaxc opened #1009 "calicoctl status assumes that the calico/node container has a fixed name"
User was running calico/node with a k8s manifest, which means that it gets a different name so they were unable to run `calicoctl status`.

[2016-06-03 16:08] fasaxc opened #1010 "tunl0 device present inside containers"
I started a k8s cluster with the calico-k8s-scale GCE scripts, which enable IPIP.  Then I ran a test pod using kubectl:

[code]

Running `ip link` inside the pod showed

[code]

It seems odd that the `tunl0` device is present.  I couldn't seem to do anything with it (adding IPs was blocked, for example) but maybe someone with more knowledge could force a packet out of it or otherwise reconfigure i

[2016-06-03 17:06] caseydavenport commented on #1008
To make sure I understand, the traffic source was outside of the cluster and a route to the service IP range was set up to point at node1?  Rather than the traffic being originated on node1?

[2016-06-03 17:35] fasaxc commented on #1008
Yes, that's correct. They were trying to use node1 as a gateway into the
cluster.

On Fri, 3 Jun 2016 18:06 Casey Davenport, <notifications@github.com> wrote:

[2016-06-03 21:29] matthewdupre commented on #997
Maybe the best solution here is to check the status of both docker and rkt calico-nodes together; and

The most obvious downside is that the rkt version needs root.  Do people think that's acceptable?

[2016-06-03 21:35] matthewdupre commented on #982
Closing this for now, since it's not supported and won't be added immediately.

Having said that, if anyone reading is interested in this, please do talk to us on Slack, email, or leave a message here.  It's really helpful to get people's input so we can make sure development focuses on adding the right features.

[2016-06-03 21:35] #982 closed

[2016-06-03 21:41] sgrimee commented on #997
There isn't a big difference between a user with docker access and root, is there?

[2016-06-03 21:50] #910 closed

[2016-06-06 18:15] matthewdupre commented on #884
We use the docker client now instead, so closing this.

[2016-06-06 18:15] #884 closed

[2016-06-06 22:35] caseydavenport commented on #1006
So I tried a quick (but not exact since I'm running k8s using systemd rather than hyperkube) reproduction of the steps on my local cluster and didn't see the same error.

It seems that there are at least a few upstream Docker issues where people have been seeing this error message.

I took a look and found this issue: https://github.com/docker/docker/issues/5684#issuecomment-211897250

Which sugge

[2016-06-07 12:46] fasaxc opened #1015 "libnetwork plugin ignores ETCD_ENDPOINTS"
User **arjun_maya** on slack tried running the following command with `ETCD_ENDPOINTS` set.
[code]
But libnetwork failed with the following error when he tried to start a container:
[code]
Note: `host=u'127.0.0.1'` suggests it has ignored the `ETCD_ENDPOINTS`.

Setting `ETCD_AUTHORITY` instead made it work.

I suspect we haven't rebuilt the libnetwork plugin since adding `ETCD_ENDPOINTS` to libcal

[2016-06-07 15:56] wrouesnel opened #1016 "calico-node doesn't spawn bird/bird6 if etcd is uninitialized"
When starting the calico containers as systemd unit jobs (i.e. without using calicoctl), if there is no initial content in etcd (i.e. when bootstrapping a new cluster with no default pools) the containers will start but bird and bird6 will both die, and will not restart even once etcd is populated.

Replicable with calico/node:v0.19.0

[2016-06-07 16:00] fasaxc commented on #1016
The lack of restart sounds like a bug but doesn't `calicoctl node` do the required initialisation for you before starting the container?

[2016-06-07 16:13] caseydavenport commented on #1016
To my knowledge the container should do the necessary configuration for you (unless configured otherwise).

@wrouesnel could you share the exact command you're using to start `calico/node` as well as any notable diagnostics from `/var/log/calico/confd` or `/var/log/calico/bird`?

[2016-06-08 08:43] wrouesnel commented on #1016
The unit file for systemd:
[code]
and the `calico.env` file it references:
[code]

[2016-06-08 20:43] djosborne opened #1017 "Calico-Libnetwork should fail on unusable opts"
Docker network creation supports passing `--opt` [(as we explain in our documentation)](https://github.com/projectcalico/calico-containers/blob/e249061188ed35d04b7d1ccd839ed920c7e81c4a/docs/calico-with-docker/docker-network-plugin/README.md#d-networking-using-default-ipam-in-a-cloud-environment). We accept `--opt ipip` and `--opt nat-outgoing` as possible options, but they are only used [if not us

[2016-06-09 00:46] ae6rt commented on #1015
I ran across this same problem while using this CNI config:

[code]

[2016-06-09 07:19] wrouesnel commented on #1016
Logs from the error state:
bird/current: (repeats)
[code]

confd/current: (repeats)
[code]

[2016-06-09 08:10] fasaxc commented on #1015
@caseydavenport is the above the correct way to configure the CNI plugin to use etcd_endpoints?

[2016-06-09 12:37] ae6rt commented on #1015
Not that it's related, but I believe the kubeconfig portion looks like this.  Please correct me if I'm wrong:

[code]

[2016-06-09 15:28] caseydavenport commented on #1015
@fasaxc yes that looks like the correct CNI network config.  Sounds like this could be a bug in the libcalico used by this CNI plugin version / libnetwork version?

@ae6rt Are you seeing these errors in the CNI log, or when starting `calico/node`?

[2016-06-09 15:36] caseydavenport commented on #1016
@wrouesnel It looks like confd is failing to find any configured pools / IPAM information.  I suspect this is because you're starting `calico/node` with `-e NO_DEFAULT_POOLS=true`.

Can you make sure that you've configured IPv4 and IPv6 pools before starting `calico/node`?

[2016-06-09 15:44] ae6rt commented on #1015
@caseydavenport I saw them in the output of _journalctl -u kubelet_.

I'll try to reproduce and send additional information.  I'm very new at this, and need to double check my pronouncements carefully.

[2016-06-09 22:44] wrouesnel commented on #1016
The issue is that on starting up, bird is never restarted it is in this state except manually it seems. I'll run some more tests to be sure.

[2016-06-12 00:12] Bregor commented on #819
Hello!
Same issue here.

Steps to reproduce:

On both nodes:

	wget -N -P /usr/bin https://github.com/projectcalico/calico-containers/releases/download/v0.20.0/calicoctl
	chmod +x /usr/bin/calicoctl
	docker pull calico/node:v0.20.0

	mkdir -p /opt/cni/bin/ /etc/cni/net.d
	wget -N -P /opt/cni/bin/ https://github.com/projectcalico/calico-cni/releases/download/v1.3.1/calico
	wget -N -P /opt/cni/bin/

[2016-06-13 10:19] ccl0326 commented on #610
hi guys, any progress about this issue?

[2016-06-13 13:28] deitch opened #1018 "calicoctl as libnetwork plugin cannot connect as it sets routes to default"
I have a very simple 2-host setup. Each host is on a /31, so just itself and its router. source1 and target1.

Rather than a workload route directly from source1 to target1 (and vice-versa), there appears to be a route from source1 to the workload on target1 via the *gateway* for source1. Since the IPs themselves are unknown (the fabric is 10.0.0.0/8, while the IPs for the workloads are 192.168.0.

[2016-06-13 13:30] deitch commented on #1018
To add status info:

[code]

[2016-06-13 14:01] deitch commented on #1018
I probably also should add my startup:

1. `systemctl start docker` - with etcd enabled and configured
2. `calicoctl node --libnetwork` (repeat on both hosts)
3. `calicoctl pool add 192.168.0.0/16` (only one host of course)
3. `docker network create --driver calico --ipam-driver calico calico`
4. `docker run -it --rm --net=calico alpine sh` (repeat on both hosts)
5. ping from one to the other and

[2016-06-13 17:54] deitch commented on #1018
And in case it helps, the other direction is the same story: SYN packets and nothing else.

[2016-06-14 14:45] deitch commented on #1018
OK, I see the issue. The Calico mesh network assumes that there is complete L2 communication in the fabric, but in our case, `source1` and `target1` are on 2 different L2 networks, and the router in between has no knowledge of the workload IPs.

So I am confused how I use Calico in that structure, with an IP fabric yet routers with no knowledge of workload IPs. Isn't the whole point to avoid route

[2016-06-14 15:26] deitch commented on #1018
OK, the problem was the L3 router not partaking in the BGP. Consider this closed.

[2016-06-14 15:26] #1018 closed

[2016-06-14 16:44] caseydavenport commented on #819
@Bregor could you share the contents of `/var/log/calico/confd/current`

Usually those bird logs are caused when confd hits errors when trying to read from etcd.

[2016-06-14 17:33] DreadPirateShawn commented on #1006
Sorry for the delay -- retested with `Docker version 1.11.1, build 5604cbe` and got the same error, same stacktrace, etc.

[2016-06-14 21:45] robbrockbank opened #1020 "Setting ETCD_ENDPOINTS environment does not work"
Reported by a user:

If you set the ETCD_ENDPOINTS environment, calicoctl launches the node container with he default ETCD_AUTHORITY value and the endpoints list is ignored.

For example:

[code]

[2016-06-15 06:48] bmikhael commented on #819
I've exactly the same problem on CentOS 7.2, firewalld stopped, selinux permissive
# ./calicoctl version
0.20.0

# etcdctl --version
etcdctl version 2.2.5

# docker --version
Docker version 1.9.1, build 78ee77d/1.9.1

# systemctl status docker
● docker.service - Docker Application Container Engine
   Loaded: loaded (/usr/lib/systemd/system/docker.service; disabled; vendor preset: disabled)
   Acti

[2016-06-15 12:29] olavmrk commented on #873
I also just hit this problem -- calico-node picked the wrong address on a node with multiple interfaces.

A simple way to pick the source address may be to just create a UDP socket and connect it to a public address. Since this is a UDP socket, no packets will be sent, but Linux will still bind the socket to the local IP it would use for sending packets:

[code]

[2016-06-15 17:13] caseydavenport commented on #819
@bmikhael - Looks like confd is doing the right thing for you (I suspect it isn't for @Bregor), which makes me think you might be experiencing similar but different issues.

Could you show the exact error message you're seeing? Are there any errors in the bird log?

[2016-06-15 17:46] bmikhael commented on #819
[code]

[code]
[code]

[2016-06-15 22:49] bmikhael commented on #819
how should the routing table on the host look like?
Should Calico create a network interface on the host? so when I do ip a, should I see a network interface like what Flannel and Weave do?

[2016-06-16 00:57] caseydavenport commented on #819
@bmikhael Yes, `ip addr` should show a network interface `caliXXXXXXXXXX` for each workload networked by Calico (though it will not have an IP address assigned to it).  You should also see an `ip route` which directs traffic to that interface.

This appears to be the problem.  BIRD looks like it is trying to bind to 10.0.5.102 which isn't available on that host.  Can you share the exact command yo

[2016-06-16 05:10] bmikhael commented on #819
[code]

[code]

[code]

[code]

[code]

[code]

[code]

[code]

[code]

[code]

[2016-06-16 08:37] Bregor commented on #819
@caseydavenport in my case it seems like misunderstanding with `etcd`. When I run it with

    --advertise-client-urls=http://0.0.0.0:6666 --listen-client-urls=http://0.0.0.0:6666 --listen-peer-urls=http://0.0.0.0:6660

error persists. When I add "more precise" IP's like:

     --advertise-client-urls=http://10.0.15.21:6666 --listen-client-urls=http://10.0.15.21:6666 --listen-peer-urls=http://10.0

[2016-06-16 08:50] pmann91 opened #1022 "docker container unable to communicate"
Hi,

I was trying [this example](https://github.com/projectcalico/calico-containers/blob/master/docs/calico-with-docker/docker-network-plugin/ManualSetup.md) of Calico as a Docker network plugin. I have setup the cluster on 3 ubuntu machines.

When I try to execute ping command, the ping fails with 100% packet loss

[code]

It is able to resolve the ip correctly but unable to send the ping

Follow

[2016-06-16 15:31] caseydavenport commented on #819
@bmikhael - I don't see the addresses `10.0.5.101` or `10.0.5.102` anywhere in the `ip addr` output you provided.  It looks like you're passing that in when starting `calico/node`

But Calico needs to be given a real address on that host.  Could you re-run with either the address on `enp0s3` or `enp0s8`, depending on which is routable to the other hosts?

[2016-06-16 15:41] Bregor commented on #819
BTW, is there any way to set listen address for bird other than 0.0.0.0?

[2016-06-16 16:01] bmikhael commented on #819
I've deleted the previously Calico keys from etcd by doing this:
`[root@master ~]# etcdctl rm /calico --recursive`

Then I re-created the Calico network on every node:
[code]

[code]

[code]

[code]

[code]

After deleting Docker network "calico" previously created, then re-creating a new one after the new Calico config:

[code]

@caseydavenport Thank you so much for your help

[2016-06-16 16:21] bmikhael commented on #819
@Bregor I had problems when not using 0.0.0.0 with etcd, my opinion, just use 0.0.0.0 and as long as the calico keys stored in etcd are consistent all over the cluster, etcd at that point has done it's job, it doesn't matter if you configure etcd with 0.0.0.0 or explicitly define an IP.

[2016-06-16 16:29] Bregor commented on #819
@bmikhael you mean if `bird` listens on address other than 0.0.0.0 there should be problems with `etcd`?..

[2016-06-16 16:32] bmikhael commented on #819
@Bregor what I mean is that it doesn't matter to keep etcd using 0.0.0.0 as long as the keys are consistent across all the nodes, so when you do `# etcdctl ls /calico` the contents should be the same all over the nodes, it doesn't matter how did you achieve this.

[2016-06-17 16:20] caseydavenport opened #1023 "Document use of link-local address as gateway"
We set up the following routes within a container to get traffic out to the host:

[code]

We should document this so that it isn't confusing / surprising to users.

[2016-06-17 16:23] caseydavenport opened #1024 "Make "dummy next hop" configurable"
Make the address we use as our container gateway configurable.  Some users may want / need a different address here.

See here: https://github.com/projectcalico/libcalico/blob/ff531d018879f7b37a40a85a6df8390590172964/calico_containers/pycalico/netns.py#L220

[2016-06-21 07:15] 245347881 commented on #1004
hi, @robbrockbank  thank you very much ,i Success

[2016-06-21 07:15] #1004 closed

[2016-06-22 20:50] djosborne commented on #1022
@pmann91 Apologies for the delay in receiving a response. Can you answer a few questions about your deployment:
- Are you seeing ping failures between containers on the same host?
- Are you seeing ping failures between containers on different hosts?
- Who owns the networking fabric between hosts? i.e. are you on private cloud (Amazon, digial ocean, etc.) or private cloud?

[2016-06-23 05:22] pmann91 commented on #1022
Hi @djosborne,

- There are no ping failure between containers on the same host
- Ping failure is noticed between containers on different host. The IP of other container is being properly resolved but ping failure is noticed.
- I am working on physical machines i.e., virtual machines

The example works perfectly on vagrant box but when I set up the cluster on my machines its not working. Am I miss

[2016-06-26 01:12] rajholla opened #1027 "Mesos dns doesn't resolve the container host to calico assigned ip"
Mesos dns resolves to slave ip instead of calico ipam assigned ip for the container.
Here is my mesos-dns config

{
"zk": "zk://127.0.0.1:2181/mesos",
"refreshSeconds": 30,
"ttl": 60,
"domain": "mesos",
"port": 53,
"resolvers": ["144.202.8.11", "144.202.8.12", "144.202.54.10"],
"timeout": 5,
"listener": "0.0.0.0",
"email": "root.mesos-dns.mesos",
"IPSources": ["netinfo", "host"]
}

dig backend-cal

[2016-06-27 17:12] caseydavenport commented on #1027
@rajholla - I believe there is a config option that must be set to tell Mesos DNS to use the Calico IP.  @djosborne should be able to help you further.

[2016-06-27 17:24] djosborne commented on #1027
Hmm seems you've correctly set the mesos configuration to return calico IPs. Which version of Marathon and Mesos are you using? And is this the Docker Containerizer?

[2016-06-27 17:50] rajholla commented on #1027
Hello @djosborne @caseydavenport
We Docker Containerizer
Marathon 0.15.1
mesos version 0.27
Basically using mesosphere orchestrator(1.6.1)

[2016-06-27 19:28] djosborne commented on #1027
You'll need to upgrade to Mesos 0.28.0.

Unfortunately, Mesos 0.27.0 does not include the functionality to read the IP address assigned to a docker container running on a user-defined network.

Before Docker introduced user-defined networks, the IP address of a task was reported by Docker Engine in `NetworkSettings.IPAddress`. But a task launched on a UDN will have a blank `NetworkSettings.IPAddre

[2016-06-27 19:34] djosborne commented on #1022
@pmann91 the most common cause for the scenario you've described is the configuration of the network fabric between hosts. Some public cloud providers configure their network to drop packets with unrecognized src/dest IP. Since Calico does not use encapsulation, container traffic will have src/dest of addresses it has allocated (192.168.0.0/16 - by default).

You mentioned you were on virtual mach

[2016-06-27 20:08] rajholla commented on #1027
@djosborne Thank you for the information. I will close the thread now.

[2016-06-27 20:08] #1027 closed

[2016-06-28 15:09] sdurrheimer opened #1031 "Unable to connect a single container to two calico networks with libnetwork"
Hi there, using calico as docker libnetwork plugin, is it possible to connect a single container to multiple calico network ?

When following the [introduction](https://github.com/projectcalico/calico-containers/blob/master/docs/calico-with-docker/docker-network-plugin/README.md), if I add the `workload-A` container (`net1`) to the `net2` network (with the `docker network connect` command) I get t

[2016-06-29 00:34] tomdee commented on #1031
This looks like a bug. We'll investigate and fix int he next release

[2016-06-29 00:37] tomdee commented on #1024
Does anyone have any thoughts about how this should be configured? Maybe in the network config when using CNI, and a label when using libnetwork? What about when using `calicoctl container add` - does it need to be added as an option there too?

[2016-06-29 00:40] tomdee commented on #1020
We need a repro of this. It certainly looks like both env vars are being passed into the container.

[2016-06-29 00:41] tomdee commented on #1020
What is ignoring it? Is it just the libnetwork plugin?

[2016-06-29 00:43] tomdee commented on #1020
Might be a dupe of #1015

[2016-06-29 00:44] tomdee commented on #1017
This bug is probably better tracked on the libnetwork-plugin repo

[2016-06-29 00:52] tomdee commented on #1003
Yes a PR would be great if this think this is a useful/important feature.

[2016-06-29 05:56] sdurrheimer commented on #1031
Do we have a estimate date for the `v0.21` ? This bug is kinda blocking my plan of deploying Calico for a project.

[2016-06-29 06:37] jaminlai opened #1032 "How to reslove the problem when create network"
Hi:

  I create the docker network via such command:

`docker network create --driver calico --ipam-driver calico net1`

However, it caught error response as below:
`Error response from daemon: failed to update store for object type *libnetwork.network: client: etcd cluster is unavailable or misconfigured`

How can I do with it, thanks.

[2016-06-29 08:52] fasaxc commented on #1008
It's a non-obvious consequence of how Calico does networking that you can't access a service VIP from outside the cluster.  I don't think k8s ever intended for service VIPs to be accessible from outside the cluster but, since it works with some other networking options, some people have come to expect it.

Three possible options:

- Document it as an FAQ, along with the right way (which I think is

[2016-06-29 16:35] caseydavenport commented on #1008
I would argue that this is not a bug - this is neither a recommended nor supported way to access services from outside of the cluster in Kubernetes (see NodePort, Ingress).

I wouldn't be opposed to documenting it in the FAQ (though I've only heard of this one instance where it was hit) but my impression right now is that we shouldn't go through hoops to make this work.

[2016-06-29 16:38] djosborne commented on #1032
Have you [set up docker to use a cluster store](https://github.com/projectcalico/calico-containers/blob/master/docs/calico-with-docker/docker-network-plugin/ManualSetup.md#docker) and [succesfully launched the calico-node and calico-libnetwork containers](https://github.com/projectcalico/calico-containers/tree/master/docs/calico-with-docker/docker-network-plugin#2-starting-calico-services)?

[2016-06-29 16:53] lxpollitt commented on #1008
We do have some other users who have a desire to use service VIPs rather than node ports for accessing services from outside the cluster.  Essentially they want to have some dedicated nodes that they use as their ingress load balancers, but with kubeproxy being the load balancer itself (rather than separate e.g. HAProxy or NGINX).

I'm not 100% sure what the advantages of that are.  I think the nu

[2016-06-30 00:56] caseydavenport commented on #1024
I would think it needs to be added to all the ways we configure container networking, though some are more important than others.  I had originally though it might be a candidate for a datamodel config option, but it feels like it might be nice to be able to set this on a per-container basis, so I'd be OK with setting it in CNI config, libnetwork label, etc.

[2016-06-30 07:22] mattymo commented on #1022
I'm not sure if this will help, but I'm deploying a similar scenario and have a slightly different issue. It consists of 3 virtual machines on libvirtd and one simple private LAN.

 I can resolve internal DNS and internal TCP works great. ICMP isn't working, but I don't need it. What's stranger is if I have a container with --net=host (also from a bare host it's true), connectivity to containers o

[2016-06-30 22:29] djosborne commented on #1022
@pmann91 I'm going to close this issue, please follow up on slack if you're still having issues

@mattymo Likely a different issue. Can you open a seperate issue for assistance?

[2016-06-30 22:29] #1022 closed

[2016-06-30 22:30] djosborne commented on #1032
@jaminlai Can  you also post which version of docker, libnetwork, and calico-node, and calicoctl you are using?

[2016-07-01 20:56] DreadPirateShawn opened #1034 "calicoctl doesn't provide a way to release orphan endpoints in a Kubernetes cluster"
There are situations where Calico endpoints aren't properly torn down (for instance, catastrophic node failure). As it stands today, even though such endpoints can be manually identified, calicoctl provides no way to remove such endpoints.

**Versions:** calico-node container 0.18.0, kubernetes calico cni 1.1.0 (​**not**​ using calico libnetwork)

**Repro:**

[code]

**This basically results in:**