[2017-06-22 00:31] caseydavenport commented on #1561
I'm going to close this as wontfix for now.  We can always re-open if we find a need.

[2017-06-22 00:31] #1561 closed

[2017-06-22 00:50] caseydavenport commented on #1617
Fix is in #1673

[2017-06-22 00:59] caseydavenport commented on #1609
This is a result of using calico/node:v1.0.2, which still uses some old startup.py code to write the global AS number to the datastore, whereas newer version of Calico don't write the value to the datastore and assume an empty value means "use the default".

This will be fixed by upgrading calico/node 1.1.0+

* Python code: https://github.com/projectcalico/libcalico/blob/2bf36b33dd5a754fec10d3d96d

[2017-06-22 00:59] #1609 closed

[2017-06-22 01:01] caseydavenport commented on #1608
Looks like we're getting properly tagged images now - @tomdee @ozdanborne can we close this issue?

[2017-06-22 01:15] caseydavenport commented on #1415
https://github.com/projectcalico/calicoctl/blob/master/calicoctl/commands/node/run.go#L117

@tomdee _now_ can this be closed? :]

[2017-06-22 01:21] caseydavenport commented on #1364
I'm going to close this now that the STs for calico/node have been moved to the Calico repo.

We can re-open an issue there to discuss if still needed.

[2017-06-22 01:21] #1364 closed

[2017-06-22 01:35] bcreane commented on #1624
Hey @ozdanborne  - is this still an issue? Looks like the first thing calicoctl does after parsing flags is to set the logging level. Is there another project I should look at?

[2017-06-22 02:10] bcreane commented on #1624
Oops, never mind @ozdanborne - looks like I'm not able to checkout out calico_node in calico repo for some reason, so didn't see startup.go in my local copy.

[2017-06-22 15:55] caseydavenport commented on #1624
Yep, this issue is in the wrong place now that we've moved `calico/node` into the Calico repo.

[2017-06-22 21:17] robbrockbank commented on #1630
I think we can close - I haven't actually seen this issue for quite some time, although the issue was never explicitly resolved.

[2017-06-22 21:17] #1630 closed

[2017-06-22 21:41] #1617 closed

[2017-06-22 21:42] #1608 closed

[2017-06-23 16:20] #1586 closed

[2017-06-23 21:11] #443 closed

[2017-06-23 21:22] caseydavenport commented on #488
Been a while since I've looked at this guy.

- There is now documentation covering this here: http://docs.projectcalico.org/v2.3/usage/configuration/mtu
- Folks should be able to configure Felix via calicoctl a la `calicoctl config set --raw=felix IpInIpMtu  X` (disclaimer I haven't tried it myself yet)

There's still some things we _might_ want to do:
- Ability to configure the container veth via

[2017-06-23 21:26] caseydavenport commented on #797
We've already got a `calicoctl ipam` subcommand.

Presumably this would go there, something like:

[code]

This would, of course, only work with Calico IPAM and not with e.g. host-local.

[2017-06-23 21:29] caseydavenport commented on #797
Note that actually reserving them in Calico IPAM means that they can't be assigned to anyone else.

Seems like people might want to have an IP address which is available for use, but just won't be auto-assigned.

For that use-case, we already have a concept of IP Pools which are "disabled" in IPAM.

[2017-06-23 21:31] tmjd commented on #797
I was just going to comment that I thought it would be good to be able to use a reserve feature to prevent that auto-assignment.  That would save someone from having to have 2 pools just because they need a few known IPs.

[2017-06-23 21:33] #1057 closed

[2017-06-23 21:37] caseydavenport commented on #1165
Going to close this as 'wontfix' - this is generally the responsibility of the config management framework (kops, etc)

[2017-06-23 21:37] #1165 closed

[2017-06-23 21:37] #1179 closed

[2017-06-23 21:38] caseydavenport commented on #1155
Calico supports `/` characters in Profiles now.

[2017-06-23 21:38] #1155 closed

[2017-06-23 21:39] caseydavenport commented on #1209
My understanding is that this has been fixed in recent releases, please shout if you think otherwise!

[2017-06-23 21:39] #1209 closed

[2017-06-23 21:42] #1274 closed

[2017-06-23 21:47] caseydavenport commented on #1348
Sorry that you didn't get any response here.  This is for a really old version of Calico, so I'm going to close this issue.

If you see the same behavior on recent Calico versions, please re-open and tag me and I'll help figure out what's going on.

[2017-06-23 21:47] #1348 closed

[2017-06-23 21:49] caseydavenport commented on #1566
Closing now since we've removed the dependency on calico/node from calicoctl.

[2017-06-23 21:49] #1566 closed

[2017-06-23 21:49] tmjd commented on #1131
@caseydavenport Are you aware of any instances that this needs to be updated for? The only ULA addresses I could find were in some felix FV tests.  I did find several references to 2001::db8::/32 addresses in the docs so I believe this is already complete.

[2017-06-23 21:51] caseydavenport commented on #1131
@tmjd I'm not aware of any, so given we think this is fixed I'll close for now.

Please shout / open a PR if there are any outstanding.

[2017-06-23 21:51] #1131 closed

[2017-06-27 19:00] caseydavenport commented on #1133
Would love to see this issue addressed, but I'm not aware of anyone currently working on it.

@liftedkilt @cirocosta This is tentatively in the milestone, but I think this issue needs a champion to drive to completion.

[2017-06-27 19:46] cirocosta commented on #1133
@caseydavenport interesting to know!

I'll take a look at the new plugins API and see whether I can have some work at least started; I hope this gets on the track 😁  I'll let you know.

Thx! 👍

[2017-06-27 21:17] bcreane commented on #1624
dup'ed this issue into projectcalico/calico, closing this one.

[2017-06-27 21:18] #1624 closed

[2017-06-28 18:47] ejether opened #1676 "Unable to delete node ( Get is not supported on BlockKey )"
## Environment
Calico Version 1.1.3 (image: calico/node:v1.1.3)
Kubernetes Version 1.6.2
Kops Version 1.6.0
CoreOS 1409.5.0
on AWS

## Background
A node was created via Cluster Auto Scaler and the Calico was never able to start and ended up in `crashloopBackoff` state with the log message
[code]

Using `calicoctl` in docker (calico/ctl:v1.3.0-rc2-4-gd2babb66) using DATASTORE=kubernetes I attempted

[2017-06-28 20:10] caseydavenport commented on #1676
I noticed this log in the output: `DEBU[0000] Using datastore type 'kubernetes`.

How are you starting `calico/node`? Is it use the kubernetes datastore driver or an etcd datastore?

I don't think node removal via `calicoctl` is intended to work for the Kubernetes datastore driver (kdd) - it should be handled via Kubernetes itself (e.g. `kubectl delete node XXX`)

[2017-06-28 20:14] tmjd commented on #1676
Yes @ejether is using Kubernetes as the datastore.  calicoctl was being ran in a container calico/ctl.  I didn't know or think to suggest `kubectl delete node XXX`.

[2017-06-28 20:18] ejether commented on #1676
Calico is configured (daemonset) I assume, by kops when the cluster is created.
I was able to do `kubectl delete node` before terminating the instance in the AWS console.

The instance was created by the cluster auto scaler in kubernetes and calico never started properly and indicated that the IP address was already in use, but it was a new node. @caseydavenport  do you have any ideas about that?

[2017-06-28 20:23] caseydavenport commented on #1665
Yep! We're tracking those features in a couple of issues:
- https://github.com/projectcalico/calico/issues/458
- https://github.com/projectcalico/calico/issues/355

I'm going to close this for now since this is expected behavior and is tracked elsewhere.

[2017-06-28 20:23] #1665 closed

[2017-06-28 20:28] caseydavenport commented on #1676
I didn't think kops used Calico with the k8s datastore driver - I think it uses etcd? (cc @heschlie @ozdanborne).

Could you check the calico-node DaemonSet to see what datastore it is using?

e.g.

[code]
And then look for DATASTORE_TYPE.

If it's set to etcd, then you'll need to point `calicoctl` at etcd and not at kubernetes [as described here](http://docs.projectcalico.org/v2.3/getting-started

[2017-06-28 20:32] heschlie commented on #1676
kops currently only supports etcd backend.

[2017-06-28 20:34] ejether commented on #1676
DATASTORE_TYPE doesn't appear in
`kubectl get ds -n kube-system calico-node -o yaml`
`kubectl get ds -n kube-system calico-node`
or
`kubectl describe pod calico-node-xxxxx -n kube-system`

But
[code]
So it must be etcd

Thanks @heschlie

[2017-06-28 20:40] caseydavenport commented on #1676
Ah yep, the default for DATASTORE_TYPE is etcd.  So that's likely the problem you're hitting (though that error message is awful so we should think about how to fix that).

[2017-06-28 20:42] ejether commented on #1676
I'm mostly concerned with how to troubleshoot the issue where calico-node can't start on a brand new node because of the ip address ```Calico node 'ip-10-0-6-133' is already using the IPv4 address 10.0.6.133:
 -  Check the node configuration to remove the IP address conflict```

I only started with calicoctl trying to work that out. Any thoughts?

[2017-06-28 20:46] ejether commented on #1676
Alright, getting that connected properly shows that there are multiple nodes exiting with the same IP in the etcd datastore even though those nodes are no longer in the Kube cluster. Are nodes that terminated by the Cluster Auto Scaler not decommissioned in calico by default?

[2017-06-28 20:48] caseydavenport commented on #1676
I think the original suggestion of deleting the node via calicoctl is the correct one (similar to how you deleted it via kubectl).

However, you'll need to point calicoctl at the etcd datastore being used by your cluster in order for it work.

If you run that command as part of decommissioning the old node, then you won't get any IP conflicts.

You can also use calicoctl to, e.g. list running node

[2017-06-28 20:53] ejether commented on #1676
So, in a cluster with an autoscaler adding/deleting instances, I'll have to be sure to manage nodes in the calico state to prune old nodes?

Ok. Thanks for the help and information. You can close this bug.

[2017-06-28 21:01] tmjd commented on #1676
Yes you will need to manage pruning those nodes.

[2017-06-28 21:01] #1676 closed

[2017-06-30 15:43] VincentS commented on #1580
This issue should be solved by https://github.com/projectcalico/calico/pull/861

[2017-06-30 16:07] #1580 closed

[2017-07-05 17:06] #1658 closed

[2017-07-06 18:36] bcreane opened #1678 "calicoctl has silent failure if passed in config file does not exist"
<a href="https://github.com/tmjd"><img src="https://avatars0.githubusercontent.com/u/14025438?v=3" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [tmjd](https://github.com/tmjd)**
_Wednesday Jun 14, 2017 at 14:03 GMT_
_Originally opened as https://github.com/projectcalico/calico/issues/853_

----

When attempting to pass in a config file to `calicoctl node run` I had misname

[2017-07-10 22:03] tomdee commented on #1520
I'm going to reopen this as I think the docker run command is still longer than it needs to be. Current output is now:
[code]

[2017-07-10 23:33] caseydavenport commented on #1133
@cirocosta great! Let me know here if you do get started and would like any help.

[2017-07-10 23:36] #1415 closed

[2017-07-10 23:37] caseydavenport commented on #1633
We should probably standardize around the current felix log format for all components.

[2017-07-10 23:45] #1353 closed

[2017-07-10 23:55] bcreane commented on #1520
I'll take another pass through the CALICO_LIBNETWORK variables.

[2017-07-11 15:34] caseydavenport opened #1681 "calicoctl get pool -o wide does not show right ipip information"
## Expected Behavior

`calicoctl get pool -o wide` should show the ipip mode in the IPIP column.

e.g. one of:
- off
- always
- cross-subnet

## Current Behavior

It currently shows "true" or "false", but ipip is no longer binary.

[2017-07-12 00:24] #1678 closed

[2017-07-12 21:17] bcreane commented on #1520
Hey @tomdee, with the latest PR, the default "node run" output is:

```docker run --net=host --privileged --name=calico-node -d --restart=always -e CALICO_NETWORKING_BACKEND=bird -e CALICO_LIBNETWORK_ENABLED=true -e ETCD_ENDPOINTS=http://127.0.0.1:2379 -e NODENAME=bcreane-vm-dev -v /var/log/calico:/var/log/calico -v /var/run/calico:/var/run/calico -v /lib/modules:/lib/modules -v /run/docker/plugin

[2017-07-12 21:17] #1520 closed

[2017-07-14 22:42] caseydavenport commented on #1555
Has this been fixed by https://github.com/projectcalico/calico/pull/885 and https://github.com/projectcalico/calicoctl/pull/1675?

[2017-07-14 22:50] mgleung commented on #1555
Yup!  I'll add the release notes

[2017-07-14 22:50] #1555 closed

[2017-07-20 16:00] robbrockbank commented on #1625
This is fixed by https://github.com/projectcalico/calico/pull/931

[2017-07-20 16:00] #1625 closed

[2017-07-24 13:41] matthewdupre opened #1690 "calicoctl node diags should attempt to collect calico/node startup logs when started by Kubernetes"
`calico node diags` fails to capture the calico/node startup logs when calico/node is running under (self-hosted) Kubernetes.  These logs are really important.

If possible, we should try and grab them (although invoking kubectl might not always work).

If not, documentation should be updated to encourage people to get kubectl logs for calico/node as well.

[2017-07-28 00:55] bcreane opened #1693 ""includes" mispelled in node status --help"
"calicoctl node status --help" refers to "incudes" (missing "l"). See:
 https://github.com/projectcalico/calicoctl/blob/master/calicoctl/commands/node/status.go#L46

## Expected Behavior
Expect includes to be spelled correctly.

## Current Behavior
"Include" is misspelled.

## Possible Solution

## Steps to Reproduce (for bugs)

1. calicoctl node status --help

## Context

## Your Environment

* c

[2017-07-28 14:12] lwr20 opened #1694 "calicoctl doesn't warn me if I use deprecated "Net" in policy"
I apply this:
[code]
and read it back:
[code]
This is all correct. But since `Net` has been deprecated, I'd have expected calicoctl to warn me that I was using a deprecated field.

[2017-07-28 18:04] #1693 closed

[2017-07-28 20:08] bcreane commented on #1419
@lwr20 - looks like instantiating multiple replicas of phlak ensures distribution across nodes (maybe):
`kubectl run iperf --image=phlak/iperf --replicas=2`

[2017-08-01 19:27] caseydavenport commented on #1694
Closing this because I don't think we actually want calicoctl to spew logs at users.

If logging is enabled (e.g. `calicoctl -l debug`) then you should see a warning.

[2017-08-01 19:46] #1657 closed

[2017-08-01 19:49] caseydavenport commented on #1655
Fixed by https://github.com/projectcalico/calicoctl/pull/1684

[2017-08-01 19:49] #1655 closed

[2017-08-01 19:56] caseydavenport commented on #1633
We've split this out into its component issues since they're not really related and can be closed out independently.

[2017-08-01 19:56] #1633 closed

[2017-08-01 20:10] #1589 closed

[2017-08-01 20:35] caseydavenport commented on #1518
We should at least document this behavior - that might be enough to close the issue given nobody else has really hit this?

[2017-08-01 20:39] caseydavenport commented on #1501
This is confusing with the existing flags that we've already got.  I think we should close this, especially since we're not really recommending `calicoctl node run` for prod clusters.

[2017-08-01 20:39] #1501 closed

[2017-08-01 21:03] caseydavenport commented on #1425
I think to close this we need to update manifests to use the smallest MTU across public clouds.

From this doc (http://docs.projectcalico.org/v2.4/usage/configuration/mtu) that looks like GCE is the target, and our default CNI MTU should be 1440.

Auto-configuration is a potential feature on top of this, but probably should be a separate issue.

[2017-08-01 21:06] #1399 closed

[2017-08-01 21:07] #1395 closed

[2017-08-01 21:08] caseydavenport commented on #1388
Closing as a duplicate of https://github.com/projectcalico/calicoctl/issues/1404

[2017-08-01 21:08] #1388 closed

[2017-08-01 21:09] #1386 closed

[2017-08-01 21:21] caseydavenport commented on #1363
I don't think there's anything we can do about this.

[2017-08-01 21:26] #1288 closed

[2017-08-01 21:27] gunjan5 commented on #1597
just throwing this out there. What happens if a user who was using policy only mode and now decides to move their network to calico networking? Would it just work?

[2017-08-01 21:28] #1280 closed

[2017-08-01 21:29] #1270 closed

[2017-08-01 21:35] caseydavenport commented on #1247
Given the failure is so infrequent and not really a realistic scenario, I think we can close this as "wontfix"

[2017-08-01 21:35] #1247 closed

[2017-08-01 21:41] caseydavenport commented on #1242
Calico v2.4.0 now supports Felix readiness / liveness probes, which will trigger a restart of Felix in this scenario and provide some feedback to the user that the Pod isn't healthy.

[2017-08-01 21:41] #1242 closed

[2017-08-01 21:46] caseydavenport commented on #1210
@xh3b4sd are you still seeing issues with `calico/node` restart?

[2017-08-01 21:53] caseydavenport commented on #1171
@wrouesnel did you ever figure this out? Is there a concrete Calico change that you'd like to submit?

[2017-08-01 22:03] caseydavenport commented on #1010
I think this is just an artifact of how some linuxes work, rather than a problem with Calico.

[2017-08-01 22:03] #1010 closed

[2017-08-01 22:05] #963 closed

[2017-08-01 22:07] wrouesnel commented on #1171
Yes and no. We're running read only calico containers in production, so it's definitely possible but I haven't had the time to transpose the changes to the containers themselves.

[2017-08-01 22:09] robbrockbank commented on #913
We release MacOS binaries - so it's trivial to wget a Mac version from the calicoctl release page.

[2017-08-01 22:09] #913 closed

[2017-08-01 22:14] #603 closed

[2017-08-01 22:36] heschlie commented on #1597
calico/node would need to be restarted I believe, but I don't think that case is any different than now?  As you would need to get all of the components to start watching the relevant resources for BGP.

[2017-08-01 22:48] gunjan5 commented on #1597
ah ok right, I misunderstood what this change is proposing. Makes sense now

[2017-08-02 02:30] ishidawataru commented on #1589
@caseydavenport Why is this closed?

[2017-08-02 13:34] lwr20 commented on #1694
So perhaps we don't want calicoctl to spew logs at users, but IMO calicoctl *should* warn you if you're using deprecated fields in your manifests, which is the original subject of this Issue.

By closing this, are you saying that it should *not* warn you (and that that is an acceptable UX)?

[2017-08-02 13:43] lwr20 commented on #1363
What's wrong with the suggestion in the original comment?
"Perhaps we should check for the existence of the /calico directory in etcd before writing a key into it - and error if there isn't one found."

[2017-08-02 17:29] caseydavenport commented on #1589
@ishidawataru IIUC all of the things being discussed in this issue have been fixed?

If there's more to do here, we should open individual issues for each feature rather than cramming them all into this one - that will make it easier to manage the project.

[2017-08-02 20:23] bcreane commented on #1345
@mgleung - flag for your attention. Related to your help w/multiple yaml docs in same file/input: https://github.com/projectcalico/go-yaml-wrapper/pull/2 and https://github.com/projectcalico/libcalico-go/issues/47.

[2017-08-02 23:28] heschlie commented on #1690
We could probably go through `k8s.io/client-go` to grab the logs, We could use it to grab the previous failed run of logs I believe, and then include it with the rest of the diags.

[2017-08-03 00:46] caseydavenport commented on #1345
[code]

This is the kubernetes behavior ^

One solution to this problem would be to stop logging `Successfully applied 2 'policy' resource(s)` and instead log for each resource that was created / modified / etc.

[2017-08-03 01:53] ishidawataru commented on #1589
@caseydavenport I see. Thanks.

[2017-08-03 21:10] robbrockbank commented on #1345
I like the idea of printing out the resources we updated - and should be trivial now that the resources have a descriptive String() method.

[2017-08-04 05:41] #1597 closed

[2017-08-04 21:36] caseydavenport opened #1697 "calicoctl not working with KDD on GCE"
## Expected Behavior

Should emit the Calico version and cluster type

## Current Behavior

[code]

## Possible Solution

## Steps to Reproduce (for bugs)

1.
2.
3.
4.

## Context

## Your Environment

* calicoctl version (e.g. `calicoctl version`):
* calico/node version (e.g. `docker run --rm calico/node versions`)
* Orchestrator type and version (e.g. kubernetes, mesos, rkt):
* Operating System

[2017-08-04 21:38] caseydavenport commented on #1697
Same thing for other commands as well:

[code]

[2017-08-04 21:41] caseydavenport commented on #1697
Related: https://github.com/hashicorp/terraform/issues/15244#issuecomment-307597692

[2017-08-08 06:09] caseydavenport commented on #1475
xref: https://github.com/projectcalico/cni-plugin/issues/364

[2017-08-08 16:27] DreadPirateShawn opened #1698 "Feature request: Ability to modify felix configuration when running calico via "calicoctl node run""
## Expected Behavior

According to Calico documentation for bare metal policies, there are failsafe rules in place to prevent accidentally cutting off a host completely. https://docs.projectcalico.org/v2.0/getting-started/bare-metal/bare-metal#failsafe-rules

It then provides a link for disabling these failsure rules via the Calico configuration guide. https://docs.projectcalico.org/v2.0/usage/con

[2017-08-08 23:00] #1697 closed

[2017-08-18 09:54] laurencechan commented on #1032
Hey @jaminlai I've just encoutered the same error as you did. Could you tell me more details about how you solve this problem ? Thanks so much!!

[2017-08-27 14:38] jcmoraisjr commented on #1523
@caseydavenport If I understood you correctly this issue is only related with host-local running within a container. Can I safely run kubelet and calico-ipam on a container without mounting anything beyond conf (json) and binaries?

[2017-08-29 17:00] caseydavenport commented on #1523
@jcmoraisjr yep, that's correct.

[2017-08-31 21:02] dghubble opened #1704 "Confusing error message when CRDs do not exist"
Creating a bgpPeer with `calicoctl` v1.5.0 fails with a nonsense error.

## Environment

* Calico v2.5.0 (networking and policy) with Kubernetes datastore
* Kubernetes 1.7.3 (Container Linux, bootkube(dev), bare-metal)
* calicoctl v1.5.0

[code]

## Current Behavior

[code]

[code]

## Expected Behavior

Create the bgpPeer resource. We know it doesn't exist, that's why we're creating it :P

## Dae

[2017-08-31 23:09] dghubble commented on #1704
This occurs if the bgpPeers CRD definition itself is missing. Create that with kubectl before attempting to use calicoctl.

[code]

[2017-08-31 23:42] caseydavenport commented on #1704
I'm going to re-open this since I think the error message is pretty bad and we should consider ways to make this more user-friendly.

CC @tmjd

[2017-09-07 10:54] kpichardie commented on #1594
Hello guys,

I have the same issue here, but there is one thing I don't understand.

If calico-cli (calicoctl) is checking that the process are running, why did you create docker image for this cli (as it will not work) moreover when this cli isn't on calico-node image.

BTW it's on documentation : https://docs.projectcalico.org/v2.5/getting-started/kubernetes/tutorials/using-calicoctl

Maybe the

[2017-09-07 14:46] tmjd commented on #1594
The reason a docker image was created is because there are many other things that calicoctl can be used for other than the `node` commands, like creating/updating/deleting policy and changing many other configuration parameters and none of those do the process check.  See https://docs.projectcalico.org/v2.5/reference/calicoctl/commands/

[2017-09-13 01:22] gcavalcante8808 commented on #1133
Is there any news about this topic?

For now, looks like Weave now support V2 plugin support for Docker:

https://www.weave.works/docs/net/latest/install/plugin/plugin-v2/

[2017-09-13 12:09] cirocosta commented on #1133
I end up having 0 time to tackle it, even though now I'm more familiar with the plugin API 😬  sorry for raising the expectation (even though I still plan to implement)

[2017-09-14 06:24] panxia6679 commented on #1071
@hectorj2f, would you please tell us the solution you applied? Thanks.

I got the similar problem in my cluster with the same log in calico-node pod container.

[code]

[2017-09-16 04:52] #1690 closed

[2017-09-19 22:58] ozdanborne opened #1707 "`calicoctl get` on resource that does not exist gives successful return code"
`calicoctl get <resource> <name>` returns a successful error code, even when the resource does not exist. Example:

[code]

This is not what I expected, and is the opposite of what happens when using the golang api. Example:
[code]
yields: `2017-09-19 15:56:01.286002 I | [INFO] ERRORERROR: resource does not exist: ProfileTags(name=k8s_ns.test)`

## Expected Behavior
I'd expect an error when I GET

[2017-09-20 02:16] caseydavenport commented on #1707
Should be an easy and useful fix.

Anyone want to do this?

[2017-09-21 20:29] bcreane commented on #1345
@mgleung - was this fixed?

[2017-09-21 22:09] mgleung commented on #1345
@bcreane It does not look like this has changed.  We do need to use the resource's descriptive `String()` method in order to filter our overridden duplicates.  Was it decided whether to keep the number of applied resources or print out a string of each resource for the new result?

[2017-09-21 23:38] caseydavenport commented on #1345
I think we close this as `wontfix`

[2017-09-21 23:38] #1345 closed

[2017-09-25 01:39] caseydavenport commented on #1363
[code]

FWIW for modern Calico releases, if you point calicoctl at an etcd that doesn't have Calico data in it you'll get output like this where the Cluster Version is "unknown" since `calico/node` hasn't run against this etcd cluster.

Not a 100% solution, but in most cases it's a good way to check if you've got it calicoctl pointing at the right place.

[2017-09-27 05:53] like-inspur opened #1712 "calico node error in kubeadm environment"
[root@master1 ~]# kubectl get pods -n kube-system -o wide
NAME                                       READY     STATUS             RESTARTS   AGE       IP             NODE
calico-etcd-2p27t                          1/1       Running            0          7m        10.110.17.59   master1.kubeadm
calico-node-6753t                          1/2       CrashLoopBackOff   6          7m        10.110.17.59

[2017-09-27 06:09] caseydavenport commented on #1712
This looks like a duplicate of https://github.com/projectcalico/calico/issues/1139 - closing this one.

[2017-09-27 06:09] #1712 closed

[2017-10-05 04:48] vlindhol commented on #1133
Docker Swarm has a very low quality overlay network, as can be seen by this issue:

https://github.com/moby/moby/issues/32195

I am hoping Calico could fix this issue, when Docker Swarm support arrives! It also seems a bit more performant.

[2017-10-15 06:47] DreadPirateShawn commented on #1698
As it turns out, there's a pretty straightfoward workaround, in the meanwhile:

[code]

Build the above dockerfile and push to your registry, then use the following to run calico node with your custom image:
[code]

Hey presto! Custom flag is now provided to the Calico image without needing to recreate the internal docker run command.

[2017-10-16 05:29] surajnarwade opened #1720 "Unable to build locally"
[code]

[2017-10-16 06:34] gunjan5 commented on #1720
@surajnarwade try `make dist/calicoctl`

[2017-10-16 08:30] surajnarwade commented on #1720
@gunjan5 , dockerized way worked

[2017-10-17 09:47] fasaxc opened #1722 "Document separator fails on large input file"
I tried to inject a large input YAML file that I'd generated for testing but it was rejected with an error.

## Expected Behavior
File should have been handled without error.

## Current Behavior
I get the following error message:
[code]
After adding some more debug logs, I tracked it down to the document separator.
## Possible Solution
Rework the splitter to avoid scanning so far ahead in the buf

[2017-10-21 23:34] caseydavenport opened #1732 "calicoctl version has stopped displaying calico version / cluster types"
[code]

[2017-10-23 15:57] tmjd commented on #1720
@gunjan5 do we want to do anything to address this?  I'm going to go ahead and close this issue because I think just building with the make target is acceptable, if you feel otherwise please re-open.

[2017-10-23 15:57] #1720 closed

[2017-10-24 09:11] #1722 closed

[2017-10-24 14:59] #1732 closed

[2017-11-01 00:26] bcreane opened #1748 "calicoctl get BGPConfiguration panics"
`calicoctl get BGPConfiguration` panics:

[code]

Interestingly, specifying `yaml` output format for the same resource works fine:

[code]
## Expected Behavior

Probably should not panic.

## Current Behavior

Panics.

## Possible Solution

## Steps to Reproduce (for bugs)

1. Setup an etcdv3 datastore with calico v3.0.0-alpha1.
2. Create a bgp resource, e.g.:
[code]
3. `calicoctl get BGPConfigura

[2017-11-01 00:27] bcreane commented on #1748
This was a cluster created vi terraform/kubeadm, specifying "master" tags of calico/node, etc. Weird that confd version is `alpha1-rc3`. Haven't figured out why that's the case yet (calico/_data/versions.yml looks correct for v3.0.0-alpha1).

[2017-11-01 05:41] gunjan5 commented on #1748
i think i know what's wrong. let me attempt a fix in a PR

[2017-11-01 17:35] #1748 closed

[2017-11-14 15:49] ti-mo commented on #488
Hi @caseydavenport

Mesos/Marathon user with IPinIP and Docker containerizer here. We're able to set the MTU on our CNI workloads, but since most of them are Docker-based (and the Unified Containerizer just isn't an option right now), we cannot benefit from this feature in CNI.

Tuning `tunl0` on the host using `calicoctl config set --raw=felix IpInIpMtu 8981` works perfectly, but the interfaces i

[2017-11-15 20:59] caseydavenport commented on #488
@ti-mo I actually don't think adding an equivalent configuration option to the libnetwork plugin would be particularly difficult.

See here for another example of a config option: https://github.com/projectcalico/libnetwork-plugin/blob/353fc3dccbc123caf9010a3dca9ba0485143aa5f/driver/network_driver.go#L69

Adding a similar `CALICO_LIBNETWORK_MTU` option would probably be relatively straightforward,

[2017-11-16 11:13] ti-mo commented on #488
@caseydavenport Thanks so much for the quick reply, we have an internal tryout running successfully. 👍

Which approach would you prefer, extending the signature of `CreateVeth()` to include MTU, or adding a `SetVethMTU()` method? In the `SetVethMTU()` case, both calls should be executed from `NetworkDriver.Join()`, and it's an extra netlink call. Is this something you'd accept to be merged upstrea

[2017-11-16 18:27] caseydavenport commented on #488
@ti-mo I would have thought extending `CreateVeth` to be optimal.

We probably could, but it's more flexible to be able to configure the container veth and IPIP tunnel interfaces separately, so let's stick with that approach for now. There are scenarios where it's desirable to have two knobs to adjust here rather than one.

[2017-11-16 22:23] heschlie opened #1766 "Calicoctl STs for checking invalid manifests are rejected needs improvement"
The STs will "pass" during the `test_invalid_profiles_rejected` tests if the data is rejected for the wrong reason. We should improve the framework to check the correct error was given.

## Expected Behavior

Invalid data tests tell you when the data is rejected, and verify that it was rejected for the correct reason.

## Current Behavior

If the data is rejected for any reason the test passes.

#

[2017-11-21 16:47] chicagobuss commented on #1099
I could use some guidance here - I think this is relevant to my problem but not 100% sure.  We run k8s on AWS with canal, and the datadog daemon set integration expects hostPort to be sufficient to create a dogstatsd listener on <nodeIp>:8125 for all co-located containers.

The problem is, we don't think they took into account people using an overlay network - so our nodeIp isn't listening to 8125

[2017-12-05 19:29] michaelc0n commented on #1475
having the ability run/test calico on RaspberryPi (ARM) would be awesome.

[2017-12-12 13:22] forfuns commented on #913
@robbrockbank  sorry, I can't find MacOS binaries,can you tell me?

[2017-12-14 05:06] forfuns opened #1789 "macos:'calicoctl node' commands are not available on this OS"
running `calicoctl node run --ip=xxx.xxx.xxx.xxx` with macos
output error message : `Error executing command: 'calicoctl node' commands are not available on this OS`

## Expected Behavior
work for Macos

## Steps to Reproduce (for bugs)

1. wget for release page binary file
2. exec command : calicoctl node run --ip=IP

## Your Environment

* calico/node version (e.g. `docker run --rm calico/node v

[2017-12-14 16:14] caseydavenport commented on #1789
@forfuns The `calicoctl node` suite of commands is not supported on mac because we do not support running `calico/node` on mac, so it doesn't really make sense.

I don't believe we intend to support macos in the near future, so I'm going to close this for now. Thank you for raising an issue.

[2017-12-14 16:14] #1789 closed

[2017-12-14 22:03] vielmetti commented on #1475
one issue with building the `bird` dependency on arm64 might be this report of an old config.guess file:

http://bird.network.cz/pipermail/bird-users/2016-December/010817.html

I'm also interested in seeing Calico for arm64.

[2017-12-15 17:28] #1766 closed

[2017-12-19 19:46] caseydavenport opened #1795 "Unable to delete GNPs created by migration script."
[code]

Tried to delete a GNP, and it didn't work.

## Expected Behavior

## Current Behavior

## Possible Solution

## Steps to Reproduce (for bugs)

1.
2.
3.
4.

## Context

## Your Environment

* calicoctl version (e.g. `calicoctl version`):
* calico/node version (e.g. `docker run --rm calico/node versions`)
* Orchestrator type and version (e.g. kubernetes, mesos, rkt):
* Operating System and v

[2017-12-19 23:40] caseydavenport commented on #1795
This is actually a bug in the upgrade-calico script - it fails with v3.0 calicoctl, but only because the upgrade script has written bad data to etcd.

I have a fix in progress.

[2017-12-19 23:54] #1795 closed

[2017-12-19 23:55] caseydavenport opened #1796 "can't delete multiple resources by name"
This doesn't work:

[code]

## Expected Behavior

Should delete all three policies.

## Current Behavior

I get an error.

## Possible Solution

## Steps to Reproduce (for bugs)

1.
2.
3.
4.

## Context

## Your Environment

* calicoctl version (e.g. `calicoctl version`):
* calico/node version (e.g. `docker run --rm calico/node versions`)
* Orchestrator type and version (e.g. kubernetes, mesos, rk

[2017-12-20 09:17] deitch commented on #1475
@vielmetti see https://github.com/projectcalico/bird/pull/52

Got `bird` working on arm, and, yes, required updating `config.guess` and `config.sub`.

[2017-12-22 11:15] fanux commented on #974
I install calico on openstack VMs, and not use IPIP, but still can't ping pod on other node.
[code]

[2018-01-02 15:49] tmjd commented on #974
@fanux My gut feel is that the openstack networking is dropping the traffic because the src/dst of the pod traffic does not match the what is expected from the VM.  I'd probably take a look with tcpdump to see if the traffic is leaving the source host (VM) and arriving on the destination host.

[2018-01-03 08:53] fanux commented on #974
@tmjd I checked that, traffic is leaving the source host, but not arriving at the destination host. This issue is not caused by calico, but I don't know how to solve it. On aws has this issue too, some docs say disable the src/dst check can solve it. On openstack how to fix it?

[2018-01-04 15:48] tmjd commented on #974
The simplest solution is to just enable IPIP.

If you can't do that then you might need some deep OpenStack networking knowledge and internal configuration changes/updates.  I'm only aware of that being a possible option because of a previous experience with traffic on an OpenStack network that was sent without the source/destination of the host.  Not something I would recommend and I don't have t

[2018-01-12 19:22] caseydavenport commented on #1383
Noting that this would be useful for ALL resource types - not just WEPs.

[2018-01-17 21:23] nemmeviu commented on #1233
+1

[2018-01-19 07:52] pwzgorilla opened #1798 "Unknown resource type ipPool"
[code]
[code]
[code]
shows:
[code]

calicoctl release: calico2.0.0

[2018-01-19 17:56] caseydavenport commented on #1798
@pwzgorilla if you're using `calicoctl v2.0` then I believe that's not quite the correct yaml.

See here for an example: https://docs.projectcalico.org/v3.0/reference/calicoctl/resources/ippool

[2018-01-23 08:38] fasaxc opened #1800 "Command help incorrectly uses camelCase resource kinds"
## Expected Behavior

Should use either the `alllowercase` format that people tend to type on the CLI, or the `UpperCamelCase` format taht we use for resource "kinds" in v3.

## Current Behavior

`camelCase`
## Possible Solution

Change it!
## Steps to Reproduce (for bugs)

1.
2.
3.
4.

## Context

## Your Environment

* calicoctl version (e.g. `calicoctl version`):
* calico/node version (e.g. `do

[2018-01-25 20:27] kwatson opened #1801 "Issue with Docker & Calico-IPAM cyclical dependency."
I've been having issues using the default calicoctl node run method and docker daemon restarts. When docker daemon stops or starts, it first stops all the containers, and then attempts to cleanup and release IP's. However, since the calico container was already stopped, docker is unable to communicate with the ipam plugin. Docker will then hang for quite some time before finally giving up, and com

[2018-02-01 01:05] caseydavenport commented on #1801
Yeah, this sounds like a problem with the way we run the libnetwork-plugin as part of the `calico/node` container, managed by Docker.

I suspect running as a Docker plugin is the right longer term solution to this, but _for now_ I think running the libnetwork-plugin standalone should be the recommended way to do this.

[2018-02-02 16:23] quater commented on #1798
@caseydavenport I have been trying to do the same with Calico 2.0.0 and configured it to connect to a K8s cluster. When trying to create an IPPool resource by using the the provided sample YAML from https://docs.projectcalico.org/v3.0/reference/calicoctl/resources/ippool, it does not work.

It's a different error than initially reported with this issue but it's still an error.
[code]

BTW, I can r

[2018-02-02 18:53] caseydavenport commented on #1798
@quater Could you run the following commands:

[code]
and

[code]

[2018-02-05 13:13] dmlemos opened #1803 "`calicoctl version` returns 0 when connection to the cluster fails"
## Expected Behavior

When checking calicoctl version, the return error should be non-zero, if it fails to connect to the cluster:
[code]

In comparison `kubectl` fails in the same situation:
[code]

## Current Behavior

[code]

Returns 0, even with errors.

## Possible Solution

Have the command fail if it encounters errors.
For now I can use `calicoctl --version` to verify the version. Although

[2018-02-05 15:31] tmjd commented on #1798
If you are using etcd as the datastore for calico then you should configure calicoctl to access that instead of the Kubernetes API datastore.  Try changing your calicoctl configuration to access etcd and then try your commands again.

Side note: Seems like we may need better error reporting when calicoctl is accessing a datastore that is not initialized.

[2018-02-05 21:25] caseydavenport commented on #1803
Yep, this seems like a bug, and should be fairly straightforward to fix - a good one for any new contributors that might be watching :)

[2018-02-05 21:27] caseydavenport commented on #1803
Looks like this was fixed in v3.0: https://github.com/projectcalico/calicoctl/blob/master/calicoctl/commands/version.go#L70-L74

So this probably just applies to the v2.6 release series, as can be seen here: https://github.com/projectcalico/calicoctl/blob/release-v2.6/calicoctl/commands/version.go#L69-L82

[2018-02-07 20:44] etsangsplk opened #1806 "[question] Does calico support custom kubernets resources?"
Lets say I want to create further segregation under a namespace in kubernetes. E.g, I want to put customResource A and B under a namespace.
* I want network visibility only within A and  B does not have network visibility to A and vice versa.
then Able to allow  the policy to allow connection across A and B but not to outside.
Does calico support networking segregation for my customer resource?
Or

[2018-02-09 23:04] tmjd commented on #1806
I'm not sure what you mean by customResource.  Kubernetes has something called Custom Resource Definitions, which is basically a way to use the Kubernetes API as a datastore. If you are asking if Calico offers any capabilities to police access to those the answer is no, you can use K8s RBAC for that.

I think maybe you are just asking about namespace isolation, where pods in namespace A cannot acc

[2018-02-21 01:03] ozdanborne commented on #1806
@etsangsplk I'm going to close this issue as we haven't heard back from you in quite some time. Do reopen if @tmjd 's response does not satisfy your original issues.

[2018-02-21 01:03] #1806 closed

[2018-03-01 19:56] caseydavenport commented on #1698
I think we'd be happy to accept a PR which adds support for mounting in a felix config file as part of `calicoctl node run`, or adding the ability to pass arbitrary env vars through.

[2018-03-03 08:53] qiankunli opened #1817 "containers within the same network can not connect with each other"
there are 3 vm create by virtualbox

ubuntu ： 16.04
docker version：18.01.0-ce
calicoctl version:  1.6.3
quay.io/calico/node:   v2.6.2

ip pool:
[code]

docker network :
`docker network create --driver calico --ipam-driver  calico-ipam --subnet=172.32.0.0/16 net1`

profile
[code]

run container:
`docker run -it --net="net1" busybox sh`

container
[code]

mac address of cali0 is not ee:ee:ee:ee:ee:e

[2018-03-03 11:59] qiankunli commented on #1817
if i execute `ifconfig cali0 hw ether ee:ee:ee:ee:ee:ee`, everything is ok. now the question is that calico can not set the mac address of cali0 "ee:ee:ee:ee:ee:ee" ,why?

[2018-03-09 00:56] ozdanborne commented on #1798
@pwzgorilla did you get to the bottom of your issue?

From scanning, it sounds like the gist of the issue is that you are running a calicoctl that is using a mismatched etcd protocol from the calico installation, and/or using a mismatched datastore mode (etcd vs kubernetes).

If so, I'm going to convert this issue into an exploration of how we can better ensure that users run the correct calicoctl

[2018-03-09 07:04] caseydavenport commented on #1694
The Net field no longer exists in v3.0, so I'm going to close this.

[2018-03-09 07:04] #1694 closed

[2018-03-09 07:05] caseydavenport commented on #1681
This seems to have been fixed

[2018-03-09 07:05] #1681 closed

[2018-03-09 07:09] caseydavenport commented on #1568
https://github.com/projectcalico/calico/blob/master/calico_node/startup/startup.go#L861

Looks to be fixed now

[2018-03-09 07:09] #1568 closed

[2018-03-09 07:10] caseydavenport commented on #1482
This has been fixed by using a properly formatted logger

[2018-03-09 07:10] #1482 closed

[2018-03-09 07:12] caseydavenport commented on #1448
Closing as wontfix

[2018-03-09 07:12] #1448 closed

[2018-03-09 07:14] caseydavenport commented on #1384
Closing as a duplicate of https://github.com/projectcalico/libcalico-go/issues/761

[2018-03-09 07:14] #1384 closed

[2018-03-09 07:16] caseydavenport commented on #1363
calicoctl now requires `ETCD_AUTHORITY` to be set and won't default to a value.

[2018-03-09 07:18] caseydavenport commented on #1259
PR was here if anyone wants to pick it up: https://github.com/projectcalico/calicoctl/pull/1564

[2018-03-09 07:22] caseydavenport commented on #1210
https://github.com/coreos/etcd/commit/4e21f87e3d014d606bb3ba2a89731a7d24806611

Not sure if this change impacts clients as well, but it seems like it might. Haven't tried it myself.

[2018-03-16 07:04] haashah opened #1822 "BIRD routes unreachable. Kubectl logs command fails"
## Expected Behavior
Master and worker nodes able to communicate with eachother. kubectl logs command fetches logs from calico pods.

## Current Behavior
kubectl logs command fails with following error:

kubectl logs calico-node-4j2bk -n kube-system calico-node
Error from server: Get https://10.1.1.175:10250/containerLogs/kube-system/calico-node-4j2bk/calico-node: dial tcp 10.1.1.175:10250: connec

[2018-03-16 07:09] #1822 closed

[2018-03-16 07:10] haashah commented on #1822
Opened in calico project.

[2018-03-16 09:31] boyracer2014 commented on #1475
Is there any ETA for Calico on ARM/ARM64 ?

[2018-03-16 09:42] deitch commented on #1475
Ive been working on it for a while. Got PRs through for bird and go-build, almost for felix. Once that’s in, a few more components. I’m just helping from the outside though.

[2018-03-22 18:13] caseydavenport opened #1826 "`calicoctl version` should ouput CNI version as well"
Would be really useful for diagnostics if it tried to print out the CNI version if the plugin existed.

## Expected Behavior

## Current Behavior

## Possible Solution

## Steps to Reproduce (for bugs)

1.
2.
3.
4.

## Context

## Your Environment

* calicoctl version (e.g. `calicoctl version`):
* calico/node version (e.g. `docker run --rm calico/node versions`)
* Orchestrator type and version (e.

[2018-03-22 22:17] tomdee opened #1827 "Poor error message when trying to create profile with KDD backend"
I tried to create a profile with KDD and it didn't work. I was confused because the error message was bad.

## Steps to Reproduce (for bugs)
[code]

## Your Environment
Calicoctl from Calico 3.0

[2018-03-22 22:21] tomdee commented on #1827
I get a different error when I try to create a WEP -
`Failed to apply 'WorkloadEndpoint' resource: resource does not exist: WorkloadEndpoint(default/node0-k8s-wep--1-eth0)`

[2018-03-25 23:06] ebauman opened #1830 "YAML referenced on kubeadm cluster install page doesn't create CRDs"
Check out https://kubernetes.io/docs/setup/independent/create-cluster-kubeadm/#pod-network

The YAML referenced for Calico installation (https://docs.projectcalico.org/v3.0/getting-started/kubernetes/installation/hosted/kubeadm/1.7/calico.yaml) contains no definitions of CRDs required for Calico operation.

## Expected Behavior
I would expect that after using `kubeadm` to initialize a cluster, and

[2018-03-25 23:08] ebauman commented on #1830
See also #1704 which seems to be in the same vein

[2018-03-25 23:25] ebauman commented on #1830
My apologies: I just discovered https://docs.projectcalico.org/v3.0/getting-started/kubernetes/installation/hosted/kubernetes-datastore/calico-networking/1.7/calico.yaml
which does contain the CRDs.

[2018-03-26 03:06] ebauman commented on #1830
That didn't work either.
It wasn't until digging through issues that I discovered #355.
Am I understanding correctly that bgp global peers are not supported when using a kubernetes datastore?

[2018-03-27 14:24] jsrz commented on #1475
+1 on Arm support.

I was able to built all the Calico components and deploy on a K8S cluster.  Some basic things to watch out for (not a comprehensive list, just some things I encountered):

-Alpine:3.4 was being used as a base image for many of the Docker images. This needs to get bumped up to 3.6 to support Arm.
- Various make files and build scripts need to be updated to check for under laying

[2018-03-27 14:25] tmjd commented on #1830
I think it may be appropriate to close this issue again unless you believe the kubernetes-datastore yaml is not creating the CRDs needed and open a new issue with the information appropriate to your current issue.
That being said, what isn't specifically working for you? If you are receiving errors please could you include those too.  You should be able to create BGP global peers (see https://docs

[2018-03-27 14:34] deitch commented on #1475
@jsrz the initial PR for `calico/felix` was merged, enables explicit cross-building of binary and docker image. New PR is open to automate full cross-build and cross-image with multi-arch manifest.

Initial (similar) PR is open for `calico/typha`.

Once those are in, we will do the same multi-arch work for typha, then move to the other components. Major constraint now, I believe, is the time from

[2018-03-27 15:27] jsrz commented on #1475
Nice to hear things are moving forward. I have to say, my comments above are likely stale as I got all this working maybe some 2-3 months ago (release 2.5 if I recall correctly). With respect to the CNCF binaries getting pulled in during build, it was the **calico/cni** image.

I just took a quick peak at the latest source (https://github.com/projectcalico/cni-plugin/blob/master/Makefile).  Looks

[2018-03-27 17:11] ebauman commented on #1830
Right you are. I think this issue was a bit premature before I fully understood the solution.

Sorry for the false alarm, etc.

[2018-03-27 17:11] #1830 closed

[2018-03-27 20:00] tmjd commented on #1817
Are you setting the mac address of the interface in the container or the host side of the container?
What prompted you to set it to that value?  Did you see an error somewhere that Calico was trying to set it and was unable to?

[2018-03-29 08:31] MIBc commented on #1798
I use https://docs.projectcalico.org/v3.0/getting-started/kubernetes/installation/hosted/kubeadm/1.7/calico.yaml to install calico. When I run ETCD_ENDPOINTS=http://my-ip:6666 calico apply -f ippool.yaml. The same issue occured.

[2018-04-09 01:59] xiaolei0125 commented on #1817
@qiankunli @tmjd  Do you solved this problem ?
I met the same problem， my environment is:
ubuntu： 16.04.1
docker version：18.03.0-ce
calicoctl version: 1.6.3
quay.io/calico/node: v2.6.5
    The container cali0 mac is not "ee:ee:ee:ee:ee:ee", but in host, use cmd "arp -a", found the veth is " ee:ee:ee:ee:ee:ee",  which cause container network cannot receivie packets from host

[2018-04-10 07:25] deitch commented on #1475
We have been doing al to of work on this. @mkumatag opened two issue to track the multi-architecture builds and manifests. See https://github.com/projectcalico/calico/issues/1865 and https://github.com/projectcalico/calico/issues/1866

They are not fully up to date yet, but should be soon. So far we have 4 components on multiple archs, 1 with an open PR, and more to come. Single image tag with mul

[2018-04-15 08:13] huynhducbk95 opened #1843 "Seamless OpenStack and Docker networking problem"
Hi, I am new with calico and my purpose is get connectivity between VM in openstack and container in docker.
and I found this document to help me:
[https://www.projectcalico.org/seamless-openstack-docker-networking/](https://www.projectcalico.org/seamless-openstack-docker-networking/)
This document seems quite detail, but it work for old calico version:

Create the IP address pools (`calicoctl poo

[2018-04-15 19:53] caseydavenport commented on #1843
@huynhducbk95 yes, those steps are from a blog post that's _very_ old and I suspect are not appropriate any more with modern versions of Calico.

The most recent documentation is at https://docs.projectcalico.org, though I'm not aware of it having an equivalent set of steps.

[2018-04-19 09:01] huynhducbk95 commented on #1843
@caseydavenport sorry for delay.
I tried to deploy my deployment (calico based openstack and docker). It has similar steps with the link that I found.
Just a little difference from [that link](https://www.projectcalico.org/seamless-openstack-docker-networking/) about BGP configure on openstack host.

[2018-04-19 09:02] huynhducbk95 commented on #1843
I will close this issue here. Thanks for your response

[2018-04-19 09:02] #1843 closed

[2018-04-19 09:49] huynhducbk95 opened #1845 "cali interface not show on other host and cannot ping in the same network"
My deployment deploy docker container with calico network have 2 nodes (virtual machine created by KVM).
- node 1: hostname = docker and ip = 192.168.122.45
- node 2: hostname = database and ip = 192.168.122.13

when I done all step, I get state:
[code]
I got two problems as follow:
1. I created a ipPool and a network and two container in this network:
[code]
And then, I tried to ping from contain

[2018-04-19 10:32] chakravarthy392 opened #1846 "s390x/alpine image version should be changed in Dockerfile.calicoctl-s390x file."
S390x support is added from the version v2.0.3 , but build failed as there is no such image named `s390x/alpine:3.4`.

build has got successful d after I have made below change in `calicoctl/calicoctl/Dockerfile.calicoctl-s390x` file.

 changed `FROM s390x/alpine:3.4` to  `FROM s390x/alpine:3.6` .

Please change the alpine image version to `3.6` as mentioned in the [v3.1.0/master](https://github.c

[2018-04-19 10:38] deitch commented on #1846
There is an open issue that addresses several issues, including moving all alpine to 3.7. Please see #1848.

[2018-04-19 10:39] deitch commented on #1846
Sorry, that should have been “open PR”.  Hopefully @fasaxc or @caseydavenport can get it merged in soon. :-)

[2018-04-19 22:13] caseydavenport commented on #1845
The `cali` interfaces will only show up on nodes that are actually running the containers, so I think that's OK since you launched the continers on only one node.

To figure out why ping isn't working, I'd recommend using `tcpdump` to view the traffic and see where it gets dropped.

Also `iptables-save -c | grep DROP` to see if any iptables rules are dropping the traffic.

[2018-04-20 00:52] caseydavenport commented on #1475
Closing this in favor of projectcalico/calico#1865 and projectcalico/calico#1866 for tracking multi-arch.

[2018-04-20 00:52] #1475 closed

[2018-04-20 03:17] huynhducbk95 commented on #1845
@caseydavenport thanks for your response.
I know that when I create a container on one node (`docker` node), on other node that peer with `docker` node will create a route in the node's routing table (`database` node).
This route has :
- Destination field is IP of the container that I created on `docker` node.
- Gateway field is IP of the docker node that container was created.
But, I don't see th

[2018-04-20 16:26] #1846 closed

[2018-04-21 18:38] huynhducbk95 commented on #1845
@tmjd thanks for your explanation. Now, I know why some IP of containers don't show in routing table on other node.
But a little sad, when I ping between two container on one node. It's failed.
by `tcpdump` on these container's interface, I see that the destination container got ICMP request packet, but I don't see any reply packet.
[code]
and at the same time, at the interface of the container th

[2018-04-23 14:34] tmjd commented on #1845
If you try pinging the other way `10.10.20.10 > 10.10.20.21` do you see the ICMP echo requests if you tcpdump `cali5d7128fa54b`?  (If you haven't done that already, I'm just trying to make sure traffic works both ways.)

[2018-04-23 14:43] huynhducbk95 commented on #1845
yes, I see the ICMP echo requests by tcpdump cali5d7128fa54b when I ping 10.10.20.10 > 10.10.20.21
But, both ways I don't see any reply packet :(

[2018-04-23 15:13] tmjd commented on #1845
Could you run `ip a` and `ip r` inside the container?
Also have you tried pinging from the host to either of the containers?

You could try downgrading to Calico v2.6.2? I'm only suggesting this because of https://github.com/projectcalico/calico/issues/1512

[2018-04-24 07:06] huynhducbk95 commented on #1845
@tmjd I tried commands, both work fine:
[code]
I also tried ping from the host to containers, I got the same result:
[code]
at the same time:
[code]
I aslo get this problem when I try downgrading to Calico v2.6.2.

[2018-04-24 08:39] huynhducbk95 commented on #1845
when I ping from container to the host (in data center), I get reply packet but not shown in output of ping command:
[code]
and at vether `calif73b54c4622`:
[code]
Could you please explain why I don't see any output from ping command? is this because calico?

[2018-04-25 20:13] brat002 commented on #1817
The same.

[2018-04-26 08:25] CharlieR-o-o-t commented on #1817
Same problem:
Mac address not updated, seems that due to docker 18.03.

Docker 18.03
Calico node v2.6.5

Arp table from hostmachine:
`arp -a | grep 192.168.215.132
? (192.168.215.132) at ee:ee:ee:ee:ee:ee [ether] PERM on cali474957106ec`

Ifconfig from hostmachine:
`ifconfig cali474957106ec
cali474957106ec: flags=4163<UP,BROADCAST,RUNNING,MULTICAST>  mtu 1500
        inet6 fe80::c0a5:82ff:fe9e:15a

[2018-04-26 15:53] CharlieR-o-o-t commented on #1817
UPDATE:
Guys, I'm sure that issue at the side of docker behavior.

Docker 18.03
Calico node v2.6.8/v2.6.9
CentOS Linux release 7.4.1708

libnetwork: GET /IpamDriver.GetCapabilities
{"RequiresMACAddress":false}
 instructs docker do not change MAC address inside container.

So at container inspect it's empty:
`"MacAddress": ""`

I see can see calico netplugin response with MAC provided, but seems th

[2018-04-30 01:12] caseydavenport commented on #1817
@CharlieR-o-o-t have you been able to confirm that setting that fixes the issue?

I'm a bit surprised since Calico doesn't rely on a specific MAC value being set.

This seems to indicate that the veth doesn't exist on the host at all. Do you see it in the output of `ip link show` on the host machine?

My guess is that there is another log with type `[ERROR]` earlier in the log which would show why

[2018-05-01 14:41] tmjd commented on #1845
I'm not sure why that would be. If you are seeing the traffic on the interface then it should be in the container, there is no filtering (that I'm aware of) in the container.
Could you try running an nginx container or run a container with nc/netcat and try a TCP connection instead of ICMP traffic? I don't have any reasoning to expect a difference but it may be interesting to see if there is a dif

[2018-05-02 08:38] huynhducbk95 commented on #1845
I just installed with following basic commands. It's so basic, so I don't know why I got this bug:
- Install docker.
- Add `--cluster-store` to docker service file and restart daemon.
-  set prefix calico interface for container created by this docker host.
[code]
-  Download and change mode for calicoctl:
[code]
- Run calico node:
[code]
When calico node run correctly.
I created one ip pool:
[cod

[2018-05-04 13:17] tmjd commented on #1845
One thing that looks odd to me is that you set the InterfacePrefix for calico.  Did you find that was needed? because it looks like what you've set should be the default.  TBH I didn't know that was an option to change.

Did you try as I suggested and try netcat or nginx as your container? If the ping traffic is making it to the cali interface then it is in the container so at that point I don't k

[2018-05-04 17:10] huynhducbk95 commented on #1845
@tmjd thanks for your help,
I found this is a bug with docker 18.x
everything will ok with docker 17.12.

[2018-05-05 16:31] #1798 closed

[2018-05-10 16:16] tmjd commented on #1845
@huynhducbk95 Do you have a link to the issue?

[2018-05-15 20:56] bcreane opened #1852 "`node diags` filter command broken"
When running `sudo ./calicoctl node diags`, one of the errors is:
  `Could not run docker command: Error response from daemon: Invalid filter '"name'`

## Expected Behavior

Expect `diags` command to locate all "calico" nodes and not error out.

## Current Behavior

It looks like `diags` fails to filter out the containers with name "calico".

## Possible Solution

It looks like changing https://gi

[2018-05-19 12:08] nik786 commented on #898
I've just run through a vagrant install with CentOS using the versions you mentioned were failing.

@TrimBiggs
Do you think following process will work with calico 3.0 too???

start the node with calico/node:v0.18.0 and calico/node-libnetwork:v0.8.0
remove default 192.168.0.0/16 pool
add new 10.10.0.0/16 pool
create docker network with calico driver and calico ipam driver
create two docker contain

[2018-05-19 12:09] nik786 commented on #898
if i do use iptables -F on worker node then pods start to ping each other across different nodes
but after 2 secs all calico rules come back and stop pinging
is anyone have idea how to solve this???

[2018-05-20 00:32] caseydavenport commented on #898
@nik786 this issue is quite old - could you please open a new one for what you're seeing now?

[2018-05-20 04:34] nik786 commented on #898
@caseydavenport

./calico -v
v3.1.1

./calicoctl version
Client Version:    v3.1.1

./calico-ipam -v
v3.1.1

cni version is 0.30.0

/opt/bin/etcdctl -version
etcdctl version: 3.0.10

/opt/bin/etcd -version
etcd Version: 3.0.10

core-1:172.17.8.101

./calicoctl node run --ip 172.17.8.101

./calicoctl node status
Calico process is running.

IPv4 BGP status
+--------------+-------------------+-------

[2018-05-21 07:55] anjuls opened #1858 "How to delete calico completely in kubernetes and reinstall it?"
I am facing issue with the tunl0 device which has incorrect IP and not able to route it to the POD's IP.
In my cluster, for some worker nodes, POD routing is working correctly and for other remaining, it is not.
I am doing kubeadm reset on those workers and rejoining them. Rebooting the calico-node pod doesn't help. Also, manually i tried to delete tunl0 dev, it doesnt remove.

kubectl get pods -n

[2018-05-24 18:10] ozdanborne commented on #1858
To answer your original question - calico stores some additional data in etcd, which `kubeadm reset` does not wipe. If you're using Calico's Kubeadm manifest which runs etcd as a pod on the master, you'll need to run `rm -rf /var/etcd/calico-data` on the master as well.

But I think the core issue may be something else. Tunl0 _is_ supposed to have an address from the pod cidr. Can you show the out

[2018-05-24 20:51] seh opened #1859 "Calico sets up route to some pods on "eth0" device rather than "tunl0""
## Expected Behavior

In a Kubernetes cluster with Calico's "calico-node" pods running on each node, clients on all the nodes should be able to connect to servers running on any other node, given that there are no firewall rules blocking this pod network traffic among nodes. There shouldn't be any exclusions to this access between pairs of machines.

## Current Behavior

Per [this discussion in th

[2018-05-24 20:57] seh commented on #1859
Ah, here's a clue: The two offending pairs above (master _10.103.0.147_ and worker _10.103.0.151_, and master _10.103.0.188_ and worker _10.103.0.184_) are in the same subnet. I have the "CALICO_IPV4POOL_IPIP" environment variable set to "CrossSubnet," instead of "Always," which is the default. I do _not_ have the Kubernetes AWS Cloud Provider setting up routes for me. I set that after reading [Ca

[2018-05-24 21:01] seh commented on #1859
I also tried disabling the source/destination checks on these machines, per [the Calico documentation](https://docs.projectcalico.org/v3.1/reference/public-cloud/aws#routing-traffic-within-a-single-vpc-subnet), but that didn't have any effect on the routes or my ability to get one machine to talk to another.

[2018-05-24 21:21] seh commented on #1859
I realized that I filed this report in the wrong repository. Can we move it over to _projectcalico/calico_?

[2018-05-24 21:47] seh commented on #1859
Thinking about thus problem more away from the computer, I think the problem may be a firewall rule after all: I recall allowing Ingress to all nodes from other nodes for IPIP (protocol 4) traffic, but I think I also need a rule allowing ingress into each node from the pod network CIDR block for all TCP traffic. That assumes that these packets going over the “eth0” device will retain their source

[2018-05-25 05:51] 18930045992 opened #1860 "docker network create --driver calico --ipam-driver calico-ipam cal_net1"
Error response from daemon: plugin "calico" not found
Client:
 Version:      18.03.1-ce
 API version:  1.37
 Go version:   go1.9.5
 Git commit:   9ee9f40
 Built:        Thu Apr 26 07:20:16 2018
 OS/Arch:      linux/amd64
 Experimental: false
 Orchestrator: swarm
-----------------------------------------------
calicoctl version
Client Version:    v3.1.2
Build date:        2018-05-18T10:14:09+0000
G

[2018-05-25 13:06] tmjd commented on #1860
Please attempt to fill out the Issue template that was provided when you opened this issue, this will help provide context for the problem.
Here it is again for your convenience:
[code]

[2018-05-25 13:38] cmluciano commented on #1859
Cc @caseydavenport I can’t remember if Calico will allow you to block the pod network CIDR or not. I recall when developing CIDR blocks for NP that this came up a few times in regard to how CNI plugins could get hosed.

[2018-05-25 13:40] seh commented on #1859
I'm in the middle of trying out a revised configuration that admits TCP traffic ingress from the pod network CIDR block for pods in the same subnet. I suspect that Calico is obeying my directive to only use IPIP encapsulation when crossing a subnet boundary, and I'm blocking the resulting TCP traffic from entering the server.

[2018-05-25 13:48] caseydavenport commented on #1859
Ah, right. yes, this sounds like it's doing the right thing then by sending that traffic over eth0. You could try setting it to "Always" and if it fixes the problem then we'll know for sure.

As for why that traffic is getting dropped, it does sound very much like an AWS security group issue - i.e. not allowing the pod traffic. Might want to try allowing to and from the pod CIDR in your node SG ru

[2018-05-25 13:49] caseydavenport commented on #1859
No worries, we don't worry too much about where the issue is. Happy to discuss here.

[2018-05-25 14:30] seh commented on #1859
Here's something that surprised me, which tells me I'm confused. I opened an ingress firewall rule on these machines that allows TCP packets on any port in from the pod subnet CIDR block. That did not have the intended effect. Next I tried opening a similar rule that allows those same packets in from a particular AWS security group, of which all these machines are members. That _did_ work.

I thou

[2018-05-25 14:42] seh commented on #1859
I launched _busybox_ pods on several nodes—including those on separate subnets from each server—and confirmed that I can also reach the destination pods with the firewall rule in place allowing ingress not from the pod subnet, but rather from a set of instances in a security group.

@caseydavenport, is Calico performing NAT here for intra-subnet traffic? I expected the source IP address for packet

[2018-05-25 17:56] caseydavenport commented on #1859
Calico will, by default, perform NAT on traffic from a Calico IP pool to something not in a Calico IP pool (in essense, from a pod IP address to something that isn't another pod).

You should be able to tell pretty easily by doing a tcpdump on eth0 and looking at the source addr

[2018-05-25 20:18] seh commented on #1859
Using _tcpdump_, I see the outbound packets acquire the originating host IP address as their source address (with a wild-bound port), with the destination pod's IP address retained as their destination address. That explains why the ingress security group rule matches against the source security group, as opposed to the pod subnet CIDR block: the arriving packets don't claim to come from the pod s

[2018-05-25 20:18] #1859 closed

[2018-05-25 20:59] caseydavenport commented on #1859
Hmm, if this is Pod->Pod traffic, I would not expect that UNLESS it was going over the IPIP tunnel, which  it doesn't sound like it is. I wonder if something else is NATing the traffic?

[2018-05-27 19:47] caseydavenport commented on #1859
@seh yep! that looks right to me :)

[2018-05-31 03:37] luotian-github opened #1866 "Calico IPIP: Error the tunl0 in different nodes has the same IP address"
I'm using the calico IPIP in kubernetes, after "kubectl apply -f calico.yaml" as the guide, the containers in the two nodes can not access each other. I found the it used the same IP address in the tunl0 on my two nodes.

on master:
[root@10-110-25-65 yaml]# kubectl get node
NAME            STATUS    ROLES     AGE       VERSION
10.110.25.205   Ready     <none>    2d        v1.8.8
10.110.25.54    R

[2018-05-31 04:00] luotian-github commented on #1866
closed, move it to felix

[2018-05-31 04:00] #1866 closed

[2018-05-31 12:21] vikaskedia commented on #1817
Might be related to: https://github.com/projectcalico/calico/issues/1991

[2018-05-31 18:09] #1860 closed

[2018-06-11 22:31] dmmcquay commented on #1826
To clarify a bit, the goal is to get the cni-plugin version (not spec version cni which https://github.com/projectcalico/libcalico-go/pull/877 does).

There is some difficulty in deciding how to get the version of the cni-plugin into the datastore because there is no guarantee in how things will come up (etcd, calico/node startup, etc.).

[2018-06-13 18:01] #1704 closed

[2018-06-13 18:01] #1827 closed

[2018-06-14 08:55] CharlieR-o-o-t commented on #1817
@caseydavenport , yes, this setting fixes issue, but I'm not sure that this is correct way to fix.

This fix instructs docker to manage MAC, so mac address will be generated/configured by docker daemon. Before the fix there was mac management at the side of network plugin, mac was set to something like 'ee:ee:ee:ee:ee ... '

Yes, it's exists.

[2018-06-15 20:27] caseydavenport commented on #1826
I'm going to close this as wontfix for now.

[2018-06-15 20:27] #1826 closed

[2018-06-15 21:38] caseydavenport commented on #1800
Looks like calicoctl is case insensitive so this isn't really an issue.

[2018-06-15 21:38] #1800 closed

[2018-06-18 18:37] wegel commented on #1845
@huynhducbk95 I would be very interested to know exactly what is that Docker 18.x issue, as I'm facing the problem. Thanks!

[2018-06-19 01:55] huynhducbk95 commented on #1845
@wegel I don't know exactly what version used, but I just downgrade to **17.12.1~ce-0~ubuntu**

[2018-06-21 14:22] tmjd commented on #1817
@CharlieR-o-o-t So with your change https://github.com/projectcalico/libnetwork-plugin/pull/178 what is the resulting MAC address of containers? Do they have "ee:ee:ee:ee:ee:ee" or a generated address?

Calico doesn't really care about the MAC address. The reason it is set to that value was because there were some rare cases where the kernel was having trouble generating a MAC address, so since it

[2018-06-21 14:41] CharlieR-o-o-t commented on #1817
@tmjd , yes, I understand approach. But calico will work only in case dockerd set sandbox Mac to "ee:ee:ee:ee:ee:ee".

I spent time with debugging dockerd and can confirm that now dockerd daemon ignores response with Mac address from calico-libnetwork plugin.

This was broken from version docker-ce 17.12, commit:
https://github.com/docker/docker-ce/commit/eeeede3c5fb19289726b8b5a2481e17094302f48
M

[2018-06-22 10:41] CharlieR-o-o-t commented on #1817
Yes, bug at the interface Endpoint.Info, it's retrieve only incomplete data from KV storage (without calico-libnetwork MacAddress)
Created - https://github.com/docker/for-linux/issues/348

[2018-06-26 12:53] CharlieR-o-o-t commented on #1817
I have created PR : https://github.com/docker/libnetwork/pull/2205
awaiting merge.

[2018-07-12 12:15] lurenjia528 opened #1879 "GOOS=linux GOARCH=arm64 go build calicoctl.go"
/sig bug
2018-7-12
when I exec "GOOS=linux GOARCH=arm64 go build  #calicoctl.go"
calico-3.1.3
etcd-3.3.7
libcalico-go  master

modify  /libcalico-go/lib/clientv3/client.go  218  250  line  uuid.NewV4()
![250](https://user-images.githubusercontent.com/37833630/42632542-1ba38af4-8610-11e8-8837-1c0aababb463.png)
![218](https://user-images.githubusercontent.com/37833630/42632543-1c02be34-8610-11e8-87a

[2018-07-13 01:53] lurenjia528 commented on #1879
/sig kind/bug

[2018-07-16 15:24] tmjd commented on #1879
Please provide the error you were seeing before your fix and indicate more clearly what, if anything, you changed.

I haven't done any cross builds previously but I just tried with the latest calicocatl master branch and was able to:
1. <update my local checkout>
2. make vendor
3. cd calicoctl
4. GOOS=linux GOARCH=arm64 go build # with no errors

[2018-07-16 18:05] KlavsKlavsen opened #1883 "calico node status says: Active Socket: Connection refused ?"
## Expected Behavior
./calicoctl node status (on a k8s worker node) should say connected.

## Current Behavior
Calico process is running.

IPv4 BGP status
+----------------+-------------------+-------+----------+--------------------------------+
|  PEER ADDRESS  |     PEER TYPE     | STATE |  SINCE   |              INFO              |
+----------------+-------------------+-------+----------+------

[2018-07-18 01:41] lurenjia528 commented on #1879
oh,Maybe it's a dependent version of the problem，I'm in China,my glide always fail when 'glide install'
even though I set the ~/.glide/mirrors.yaml，So , some of the dependencies are manually installed，

glide install error
[code]

So,Where can I find some calico's component's binary or docker image for arm64?
Thanks.

[2018-07-18 14:07] tmjd commented on #1879
The arm64 port is community supported and is not currently built so there are no official binaries or images for arm64.

I'm not familiar with using glide mirrors so I can't help with that.

[2018-07-18 15:02] tmjd commented on #1883
The IP would be the PEER_ADDRESS 192.168.63.204, and the port would be 179 (bgp).

I'm assuming 172.21.0.1:443 is the kube-apiserver (which if it is a pod is most certainly running with host networking), I don't think Calico would be involved with reaching that.  I would take a look at kube-proxy on the host where 172.21.0.1:443 is trying to be reached.  kube-proxy sets up iptables to forward the

[2018-07-19 01:11] lurenjia528 commented on #1879
@tmjd thanks,I solved the problem of dependence and build success

@tomdee
local file still use vcs?

![1](https://user-images.githubusercontent.com/37833630/42915565-325cf3f2-8b33-11e8-86a3-9c5b65ed965e.png)
![3](https://user-images.githubusercontent.com/37833630/42915562-31b4798e-8b33-11e8-8c82-bdfa0eb0d83d.png)

[2018-07-19 01:33] lurenjia528 commented on #1879
@tmjd thanks,I solved the problem of dependence and build success.

@tomdee  thanks.
I try again,when mapping to github,the package 'golang.org/x/net' download success,but when I use local file ,it still failed.

![mirrors](https://user-images.githubusercontent.com/37833630/42916078-03c57ba6-8b36-11e8-8097-f28b11f5fe5c.png)

![yingshe](https://user-images.githubusercontent.com/37833630/42916076-03

[2018-08-17 15:16] Kr1Kr1 commented on #1845
I was facing the exact same issue that  @huynhducbk95 and the problem was solved after downgrading from docker 18.03.1-ce to 17.03.2-ce. If someone knows whats going on with Docker 18.x, that would be great!

[2018-08-23 21:55] #1879 closed

[2018-08-23 21:55] #1858 closed

[2018-08-23 21:56] caseydavenport commented on #1803
This has been fixed in three releases now, so I'm going to close.

[2018-08-23 21:56] #1803 closed

[2018-08-23 22:02] #1632 closed

[2018-08-23 22:03] #1582 closed

[2018-08-23 22:03] #1528 closed

[2018-08-23 22:04] #1404 closed

[2018-08-23 22:05] caseydavenport commented on #1363
Give the above, this can be marked closed.

We've seen a dramatic drop off in users who are misconfiguring this since the time this issue was raised.

[2018-08-23 22:05] #1363 closed

[2018-08-24 16:57] ry4nz opened #1893 "Why calico/node docker image increased by 120MB?"
[code]
The image size has increased dramatically.  Are the any optimization can be done here?

## Expected Behavior

Image size from 3.1 to 3.2 shouldn't increase so much.

## Current Behavior
Image size from 3.1 to 3.2 increased by 120MB

## Possible Solution
find a way to optimize building process

## Steps to Reproduce (for bugs)
just pull the images and `docker images | grep calico`

1.
2.
3.

[2018-08-24 17:00] ry4nz commented on #1893
closing this and move it to the appropriate repo.

[2018-08-24 17:00] #1893 closed

[2018-08-24 20:50] #1817 closed

[2018-08-28 15:45] hchenxa opened #1894 "container with hostPort can not access the local host's portIP:hostPort from the container"
container with hostPort can not access the local host's portIP:hostPort from the containe
## Expected Behavior

## Current Behavior

I have 2 host with calico as the container network, assume the host name like `hostA` and `hostB`.

`hostA` create a container with hostPort named tomcatA with IP `10.1.104.11`, then I login container and can access my tomcat service with containerIP:port, but can no

[2018-08-28 15:51] hchenxa commented on #1894
append some more info related to the test:

1. create the resource and login docker container:
[code]

2. then access the containerIP:containerPort
[code]

3. then check the HostIP:hostPort, found the connection timeout.
[code]

[2018-08-29 01:03] hchenxa commented on #1894
post the issue to calico project.

[2018-08-29 01:03] #1894 closed

[2018-08-31 07:38] leecsai opened #1896 "Error response from daemon: plugin "calico" not found"
Hi, guys
sorry for distrubing...
I met a question like this:
[code]
my docker configuration:
`[root@docker1 ~]# cat /etc/systemd/system/docker.service.d/10-machine.conf
[Service]
ExecStart=
ExecStart=/usr/bin/dockerd -H tcp://0.0.0.0:2376 -H unix:///var/run/docker.sock --storage-driver devicemapper --tlsverify --tlscacert /etc/docker/ca.pem --tlscert /etc/docker/server.pem --tlskey /etc/docker/ser

[2018-09-04 11:19] nvidhub commented on #1896
Error response from daemon: plugin "calico" not found -->cat /var/log/calico/libnetwork/current  可以查看日志。这个错误是因为calico/node镜像缺少libnetwork-plugin(一个二进制文件).
至于第二个错误，我也还在研究

[2018-09-04 15:13] leecsai commented on #1896
thx~~~~, nvidhub
I think because the calico process  cannot run on calico-node container, my container cannot start and report an error. But I don't know why the container process cannot start.

[2018-09-05 07:47] davidkarlsen opened #1900 "manifest for calicoctl pod install broken - missing permissions on serviceaccount"
## Expected Behavior
be able to exec into calicoctl pod and run example command as described on https://docs.projectcalico.org/v3.2/usage/calicoctl/install
[code]

## Current Behavior
Failed to get resources: connection is unauthorized: serviceaccounts is forbidden: User "system:serviceaccount:kube-system:calicoctl" cannot list serviceaccounts at the cluster scope
command terminated with exit code

[2018-09-05 23:00] #1900 closed

[2018-09-20 23:07] teran-mckinney commented on #1076
This is needed for using floating IPs on Vultr. Is there a workaround for this?

[2018-09-21 08:28] lwr20 commented on #1076
As a workaround, you could customise your own calico BGP templates (stored in the calico-node docker image) to have a password since BIRD actually supports this.

[2018-09-28 07:57] mirwan opened #1910 "calicoctl --unknown-flag wrongly returns 0"
When calling `calicoctl` with an unknown flag, the return code is 0. For example, when wrongly placing a command flag before the command, the command is not executed and usage is displayed (partially as it seems) but the return code is 0.
NB: This does not occur when passing unknown flag to the command.

## Expected Behavior
The return code should not be 0 when an unknown flag is passed to calicoc

[2018-09-28 21:11] caseydavenport commented on #1910
Yeah, it would be great to fix this. Not sure when I can get to it myself, but would be help get a PR through.

[2018-10-11 14:48] bj2k61 commented on #1667
I am having the same issue as Felipe ... I am struggling to create ippool resource and getting same errors as it is on the initial config by Felipe.  How do I " I moved to inside the cluster and used etcdv2 datastore then I got it to work :)"..... I made changes on my .bash_profile and followed the docs suggested by @tmjd  I  am not sure on which other config I need to make the amendments to get a

[2018-10-11 16:21] caseydavenport commented on #1667
[code]

This looks like a potential misconfiguration to me - you're setting etcd endpoints, but also telling Calico that it's running using the kubernetes datastore. You probably want to set `DATASTORE_TYPE=etcdv3` instead.

[2018-10-12 12:39] bj2k61 commented on #1667
thanks for your quick response I made the amendments as recommended but I still get the error below :( ...

[root@ip-172-17-11-236 ~]# cat new_calico_pool.ymal-bk
apiVersion: projectcalico.org/v3
kind: IPPool
metadata:
  name: dev-pool
spec:
  cidr: 172.17.0.0/16
  ipipMode: Always
  natOutgoing: true
[root@ip-172-17-11-236 ~]# calicoctl create -f new_calico_pool.ymal-bk
Failed to execute command:

[2018-10-12 12:43] bj2k61 commented on #1667
[root@ip-172-17-11-236 ~]# calicoctl get workloadEndpoint
Failed to create Calico API client: Unknown datastore type: etcdv3
[root@ip-172-17-11-236 ~]# calicoctl get workloadEndpoint

[2018-10-12 19:19] tmjd commented on #1667
What version of Calico have you installed and what version of calicoctl are you using? The OP was using an older version of Calico and `etcdv3` would not have been correct, it would have been `etcd`. That might be your problem too @bj2k61 .

[2018-10-20 22:31] scm-ns commented on #1113
So, its not clear to me. If the public ip is not visible within the net interfaces on a machine, calico will not work ? Is there no config where I can set calico to use public ip when it tries to reach out to the other nodes, and when it is trying to bind to the interface on a machine, it uses the private ip ?

[2018-10-24 00:33] #1133 closed

[2018-10-26 06:01] xej520 commented on #1845
docker 18.06.0-ce  is ok

[2018-11-03 01:41] caseydavenport commented on #1518
I'm going to close this for now. If we start seeing this pop up more often I'd be happy to reopen.

[2018-11-03 01:41] #1518 closed

[2018-11-03 21:44] caseydavenport commented on #1801
libnetwork is no longer a part of the calico/node container (and calico/node no longer lives in this repo!) So I'm going to close this.

I think any other enhancements related to this should be raised against https://github.com/projectcalico/libnetwork-plugin so that folks who are interested in developing that repo can find them.

[2018-11-03 21:44] #1801 closed

[2018-11-04 06:28] caseydavenport commented on #1896
The `latest` version of calico/node does not include docker libnetwork support.

You'll need to look at running the libnetwork plugin: https://github.com/projectcalico/libnetwork-plugin

Or, reverting to Calico v2.6.

[2018-11-04 06:28] #1896 closed

[2018-11-17 20:47] stpabhi commented on #1858
@anjuls ```modprobe -r ipip``` should delete tunl0 iface

[2018-12-01 03:41] jiangyoucai opened #1944 "docker network create --driver calico --ipam-driver calico-ipam net1"
[code]

[2018-12-01 20:54] caseydavenport commented on #1944
This looks like an issue with docker.

In the future, please fill out the issue template. I'd also recommend opening issues against the libnetwork repository if you're using that integration: https://github.com/projectcalico/libnetwork-plugin

[2018-12-01 20:54] #1944 closed

[2018-12-11 09:07] randmonkey opened #1949 "calicoctl label command?"
We found it is difficult to add or update labels of multiple resource(`nodes`) in calico datastore when we deploy route reflector cluster in an existing calico-k8s cluster with 200 nodes. It is hard to write a script to label all nodes at once using existing `calicoctl` commands. So, it may be good to have `calicoctl label` command for resources, similar to #1259.

[2018-12-18 15:42] #1949 closed

[2019-01-29 07:42] maverickash8889 opened #1961 "`Unable to build locally using make build`"
Make build silently fails if the LOCAL_USER_ID overruns value of 256000

## Expected Behavior

`make build` command should create the bin folder and associated ./dist folder having executables for suitable environments. Same is not happening as of now.

Exception handling to be done in make file. for example
`Starting with UID : 713578628
adduser: number 713578628 is not in 0..256000 range` we sho

[2019-02-04 21:09] caseydavenport commented on #1961
Looks the same as https://github.com/projectcalico/go-build/issues/64

[2019-02-25 20:54] #1309 closed

[2019-03-04 22:40] jpalardy commented on #1707
@caseydavenport I wasn't able to reproduce this ~ it works and exits with code 1. Already fixed?

Here's the [supporting code](https://github.com/projectcalico/calicoctl/blob/master/calicoctl/commands/get.go#L187-L190).

[2019-03-04 22:55] jpalardy commented on #1707
For reference, my console output:

[code]

[2019-03-05 02:49] mdzddl commented on #1944
hi，jiangyoucai;finally,did you resolve this problem,i face the same problem;thanks

[2019-03-05 04:59] #1707 closed

[2019-03-07 09:01] jiangyoucai commented on #1944
remove openvpn from your server

this is my config

# docker

install docker

    sudo yum install -y yum-utils \
    device-mapper-persistent-data \
    lvm2

    sudo yum-config-manager \
    --add-repo \
    https://download.docker.com/linux/centos/docker-ce.repo

    sudo yum install docker-ce

    sudo systemctl enable docker
    sudo systemctl start docker

    sudo groupadd docker
    sudo

[2019-03-08 02:10] #1910 closed

[2019-03-18 16:56] kahou82 opened #1986 "calicoctl returns nothing other than get nodes"
calicoctl returns nothing other than get host command

My datastore is kubernetes:

[code]

When I use calicoctl with get host, it returns my node info:

[code]

But if I try to get bgppeer or other resources, it doesn't work. Below is the debug log of the calicoctl:

[code]

## Expected Behavior
Expect calicoctl returns BGP Peers

## Current Behavior
calicoctl returns nothing

## Possible Solutio

[2019-03-18 20:05] caseydavenport commented on #1986
@kahou82 have you created any BGP peers? I wouldn't expect any peers to exist unless they had been created explicitly.

[2019-03-18 20:32] kahou82 commented on #1986
I didn't create any peer; I only apply the basic calico yaml from 3.4.3 release. Can you tell me which resources are working in this case?

[2019-03-18 20:40] caseydavenport commented on #1986
They are all expected to be working. `get bgppeers` will only show something if you create some bgppers first, so this sounds like it is working as expected.

`get nodes` will show nodes because they are automatically created and managed by Calico.

`get ippool` and `get workloadendpoint` i'd expect to show some data too.

[2019-03-18 20:40] #1986 closed

[2019-03-30 23:56] #1961 closed

[2019-04-29 15:36] hegphegp opened #1996 "How to use calico network with docker swarm"
**Description**

<b>How to use calico network with docker swarm, I don't want to user overlay network. Could provide some blogs or some examples about calico network with docker swarm?</b>

**software info:**

[code]

[2019-04-29 23:20] caseydavenport commented on #1996
Duplicate of https://github.com/projectcalico/calico/issues/2576

[2019-04-29 23:20] #1996 closed

[2019-05-03 09:22] tibetsam opened #1999 "calicoctl is not really checking etcd_endpoint reach-ability"
## Expected Behavior
i'm using calicoctl to get node resources. And i put a dummy endpoint ENV, but even with this dummy endpoint calicoctl is showing any empty resource rather than error to reach endpoint.

root@master:/home/test# ETCD_ENDPOINTS=http://myhost1:2379 ./calicoctl get bgppeers
NAME   PEERIP   NODE   ASN

telnet is not able to reach it.
root@master:/home/test# telnet myhost1 2379
teln

[2019-05-03 17:28] #1796 closed

[2019-05-03 20:48] caseydavenport commented on #1999
Hm, when I try to reproduce this connecting to an invalid ETCD_ENDPOINTS, I get an error. Here are a few examples (using calicoctl v3.5.1)

[code]

[code]

[2019-05-06 06:48] tibetsam commented on #1999
thanks for trying out on your node...

I did exactly same on my node again....i'm still not getting error.

Could you please let me know which kind of config and logs you need to check this issue?

root@master:/istio# ETCD_ENDPOINTS=http://127.0.0.1:2379 /home/test/calicoctl get nodes
NAME
master
worker

root@master:/istio# ETCD_ENDPOINTS=http://8.8.8.8:2379 /home/test/calicoctl get nodes
NAME
mas

[2019-05-16 18:28] chenrui333 opened #2008 "Compatibility between versions"
I am trying to support `calicoctl` formula, e.g. https://github.com/Homebrew/homebrew-core/pull/39892.

I wonder if we need to have multiple versions in homebrew side, like `calicoctl@3.5`, `calicoctl@3.6`, `calicoctl` (3.7 by default).

Thanks!

[2019-05-16 23:07] caseydavenport commented on #2008
First - that's awesome, really appreciate you doing that!

For the most part (like 90% of the time) calicoctl should work fine across different versions of Calico. However, there may be some cases where it won't, and so we'd typically recommend running a version of calicoctl that matches the version of Calico installed on the cluster.

[2019-05-17 07:05] timyinshi opened #2009 "Unable to execute calicoctl apply command"
/kind bug

Unable to execute calicoctl apply command,the command is:
calicoctl -l debug  apply -f /root/calicocluster.yaml
The error message is:
[code]

the file /root/calicocluster.yaml exists.

## Expected Behavior
I want to specify a file through the calicoctl command to create a resource

## Current Behavior
calicoctl can not find the specified file : /root/calicocluster.yaml

## Possible Solu

[2019-05-18 20:11] caseydavenport commented on #2009
Is the file readable by the current user? Are you able to apply other files but not this particular one?

[2019-05-19 16:02] Eywek commented on #941
Any updates on this?

[2019-05-20 20:56] caseydavenport commented on #941
@Eywek there isn't any work on this as far as I know.

Since the original request, I no longer think this is something that the core Calico team wants to support since it takes quite a bit of effort to maintain feature compatibility and testing required to call a datastore backend supported.

Using the Kubernetes API backend should solve the original issue, since it doesn't require a separate etcd

[2019-05-20 20:56] #941 closed

[2019-05-31 08:05] Ankur7890 opened #2018 "How to enable node again once calicoctl delete executed?"
Deleted one of the node through calicoctl command line where reason of deletion "IP already allocated"  which as per our understanding deleted each reference from etcd data store and if we need to add the same node again what would be the approach in k8s ?

One way is to run calicoctl run node but same is libcontainer/CNM whereas we want CNI based approach of k8s.

Our calico-node is running as da

[2019-06-03 20:44] caseydavenport commented on #2018
@Ankur7890 you can just restart the Kubernetes pod - it will recreate the node object when it comes back up.

[2019-06-03 20:44] #2018 closed

[2019-06-09 13:46] Chrislevi commented on #1133
@caseydavenport Is there any news about this?

[2019-06-09 14:59] olljanat commented on #1133
@Chrislevi
 status looks to be documented to https://github.com/projectcalico/libnetwork-plugin

```The libnetwork plugin integration is no longer included as a core component in Calico releases, and is not being actively developed or supported by the core Calico team. The latest release of Calico which includes this plugin is the v2.6.x series of releases.```

However overlay networking driver ha

[2019-06-25 15:03] Nurlan199206 opened #2027 "Bug, no bgp connectivity between master and node"
## Expected Behavior

I have two VirtualBox machines.  i can't setup bgp connection between them. I'm choosed CIDR `192.168.0.0/16` for pods in calico-typha.yaml. Also i don't know WHY BGP PEER ON MASTER NODE `172.21.0.1`. I think it's wrong address. Before `kubeadm reset`  I'm tried with CIDR `172.16.0.0/12` but same issue.

[code]

## Current Behavior

## Possible Solution

## Steps to Reproduce

[2019-06-25 15:54] tmjd commented on #2027
The Calico node on your `node1` host looks to have selected the wrong interface (based on the IP address your `nurlan` host is attempting to establish a BGP connection to).  You should take a look at https://docs.projectcalico.org/v3.7/reference/node/configuration#ip-autodetection-methods on the values that can be set for autodetection.
This is because there are multiple interfaces when you use Vi

[2019-06-25 16:17] Nurlan199206 commented on #2027
Wow, thank you.

![Снимок экрана 2019-06-25 в 22 16 37](https://user-images.githubusercontent.com/22808731/60115094-f272a900-9796-11e9-8c09-89059c170a42.png)

[2019-06-25 18:51] tmjd commented on #2027
Sounds like you're problem is solved, I'm going to close this. Thanks for reporting back.

[2019-06-25 18:51] #2027 closed

[2019-06-27 01:52] standaloneSA opened #2028 "Possible to use calicoctl with typha?"
There appears to be no support for [typha ](https://github.com/projectcalico/typha) in calicoctl
## Expected Behavior
Configuration directives for talking to typha

## Current Behavior
No configuration directives for talking to typha

## Possible Solution
Add configuration directives (and supporting code) for talking to typha

## Steps to Reproduce (for bugs)

1. Have typha
2. Try to configure cal

[2019-06-27 10:54] lwr20 commented on #2028
I'm not sure I understand what the problem is here, but there appear to be a couple of false assumptions in the above.  I'll attempt to address them:
- `calicoctl` does not talk to calico components, it sets configuration values in the datastore, which calico components access to update their config as needed.  There is no need for it to "talk to typha".
- `calicoctl` (like other calico components

[2019-07-01 22:13] tmjd commented on #1171
Reviewed. This still seems like a valid request and is at the correct priority.

[2019-07-01 22:13] tmjd commented on #1444
Reviewed. This still seems like a valid request and is at the correct priority.

[2019-07-01 22:16] tmjd commented on #797
Reviewed. This still seems like a valid request and is at the correct priority.

[2019-07-01 22:31] tmjd commented on #1024
Reviewed. This still seems like a valid request and is at the correct priority.

[2019-07-05 11:07] rata commented on #2008
@caseydavenport Do you think it might be possible to support some versions skews? I'd really appreciate those are supported.

My use case is using calicoctl in a very simple kubernetes controller, but having to match the controller with the exact version of calico used makes it error prone for us (the controller needs to be updated on every calico change) and we would need to release tons of image

[2019-07-19 17:43] hahapaul opened #2032 "The CALICO_IPV4POOL_CIDR value entered when calico apply is different from the CIDR value in calicoctl ipam show command"
**[[ in calico yaml file ]]**
[code]
_and CoreDNS / calico controller PODs allocated 10.244.x.x ip address as well_
**[POD ip]**
[code]

_but in "calicoctl ipam show", ippool looks calico's default CIDR range._
**[[ calicoctl ipam show ]]**
[code]

## Expected Behavior

When "calicoctl ipam show" is executed, IPPool (10.244.0.0/16)  should come out properly.

## Current Behavior

explained.

## Po

[2019-07-22 20:19] rafaelvanoni commented on #2032
@neiljerram Could you take a look at this? I think it might be in an area you made some changes to recently.

[2019-07-23 08:25] lwr20 commented on #2032
CALICO_IPV4POOL_CIDR only takes effect on the first install of calico.  If calico detects that the default IPpool has already been created, this value is ignored.

@hahapaul:  Is there any chance that you applied the yaml with the default CALICO_IPV4POOL_CIDR set and then apply the version with the edited CALICO_IPV4POOL_CIDR over the top?

Alternatively, did you install calico with the default CA

[2019-07-25 07:21] wsxedcer opened #2033 "Calicoctl cannot read data via calico-typha"
Calicoctl cannot read data via calico-typha

## Expected Behavior
Regardless of the way the user does the storage (kubernetes api or etcd), calicoctl should get the same resource display by get method.

## Current Behavior
In the case of calico-typha deployment, calicoctl displays the result as empty when it gets the resource through get.

## Possible Solution

## Steps to Reproduce (for bugs)

1.

[2019-07-25 08:08] wsxedcer commented on #2033
It was my mistake, using the wrong configuration file，The kubernetes api datastore should be correct according to this configuration.
https://docs.projectcalico.org/v3.8/getting-started/calicoctl/configure/kdd

[2019-07-25 08:08] #2033 closed

[2019-07-26 00:31] hahapaul commented on #2032
@lwr20 ok, I will try with your comment

[2019-08-02 02:25] #1259 closed

[2019-08-20 20:53] manelio commented on #1113
i know this was closed, but I’m facing the same situation.

I don’t understand why there’s no a clear information about such a common scenario: nodes with no visible public ip, nodes behind a home router, ...

I was searching for weeks without success.

If I found a working solution I’ll write a step by step guide about the right approach to the problem.

I’m sure it will be matter of adding some

[2019-08-27 15:29] mattymo opened #2047 "Add calicoctl subcommand patch"
Issue type: Feature request

As calicoctl evolves to work more and more like kubectl, adding the subcommand patch will improve end user experience. With kubectl patch, a user can quickly modify an object and not have to parse it. Without a patch function, the user needs to write some relatively sophisticated yaml/json parser and then replace the object.

Here is an example that is both unreadable

[2019-08-29 12:08] mattymo commented on #2047
@syscll
Strategy: I'm not too particular, so long as the scenario I described initially is possible.
JSON and YAML: of course. Feature parity with kubectl patch should be the goal
I agree that calicoctl should reject the entire patch if it partially fails.

[2019-08-29 22:42] syscll commented on #2047
SGTM - I am actively working on this so I'll post a link to the PR when I have a base implementation ready.

[2019-09-06 12:36] msherif4 opened #2056 "using vxlanMode option"
when I try to allocate VxLAN resource with the following I get an error
vagrant@master:~$ ./calicoctl apply -f - << EOF

Failed to execute command: error parsing document: field in document is not recognized or is in the wrong location: vxlanMode
## Expected Behavior
it should work based on the documentation https://docs.projectcalico.org/v3.7/networking/vxlan-ipip#configure-vxlan-encapsulation-fo

[2019-09-06 14:23] lwr20 commented on #2056
VXLAN support is a feature in Calico v3.7 (as you can see from the docs path you referenced).  The calicoctl you are using is v3.5.8 and obviously does not recognise the VXLAN setting.

Please upgrade your calicoctl to v3.7.x

[2019-09-06 15:08] msherif4 commented on #2056
Thanks!

[2019-09-06 15:36] #2056 closed

[2019-09-23 20:26] rafaelvanoni commented on #1999
@tibetsam Closing due to inactivity, please provide an update if this is still an issue and we'll re-open it. Additionally, you can try using the '-l debug' option to calicoctl and see if that provides any useful information.

[2019-09-23 20:26] #1999 closed

[2019-09-23 20:29] rafaelvanoni commented on #2009
@timyinshi Closing due to inactivity, please provide an update if this is still an issue and we'll re-open it.

[2019-09-23 20:29] #2009 closed

[2019-09-30 09:47] timyinshi commented on #2009
@rafaelvanoni ok,thanks.

[2019-09-30 10:04] Deaddy opened #2063 "Native build not working, starting dockerized build instead"
When following the instructions from README.md for the native build, the dockerized build starts.

## Expected Behavior
Go would pull dependencies and start building, or something would fail because of missing dependencies, in particular no docker container would be pulled and run.

## Current Behavior
The dockerized build starts, or fails if no docker is present or running.

## Steps to Reproduce

[2019-09-30 20:31] #2028 closed

[2019-09-30 23:27] prbsparx opened #2065 "calicoctl get policy $name prepends `default.` to the name"
Running calicoctl get policy $name adds "default." to the name

## Expected Behavior
calicoctl should get the policy by the name exactly as entered.

## Current Behavior
calicoctl prepends "default." to the policy name.

## Possible Solution
n/a

## Steps to Reproduce (for bugs)
Create a default deny network policy in Rancher v2.2.7 with the below YAML:
[code]
Use `calicoctl` to read the NetworkPo

[2019-10-02 22:37] #2047 closed

[2019-10-06 13:07] jayunit100 commented on #1464
So, It seems like the *simplest thing that could possibly work* would be to use PODCidr.  Should we just go with that?

(some bikeshedding below)

- why would we use the parsing down apiserver stuff,  if we get PODCidr for free ?

PODCidr is more likely to be correct, and less likely to be interpretted the wrong way, and requires no information about global state.

- If we go the route of using th

[2019-10-06 16:00] caseydavenport commented on #1464
There isn't a 100% guaranteed "this will work everywhere" sort of solution, since the full cluster CIDR isn't a part of the k8s API. However, there are a few things we can leverage:

- kubeadm config map (for kubeadm systems)
- kube-proxy config map (for systems which use it)

Might also be worth considering if there are any other similar mechanisms we could latch on to in addition to those, but I

[2019-10-09 13:07] tmjd commented on #2065
I originally thought this was a bug but taking a second look I do not think what you've done is a supported workflow. I think if the policy had been created with calicoctl it would have been named default.default-deny.
Directly adding a policy as a CRD resource is not suggested or recommended. Adding a policy like you indicated, as a CRD, is like manipulating the backing database directly and I do

[2019-10-09 17:55] prbsparx commented on #2065
@tmjd - I used kubectl create -f /path/to/yamlfile.yml to create the
Networkpolicy... are you saying that using kubectl to create a calico networkpolicy
Isn’t a supported workflow?

If that’s the case how are you supposed to create advanced calico based network policies in Kubernetes with kubectl/helm?

[2019-10-09 18:05] tmjd commented on #2065
Checkout this page https://docs.projectcalico.org/v3.9/security/calico-network-policy
But the answer is to create them with the calicoctl command. It can be used like `calicoctl create -f <file>`. Note the apiVersion needs to be `projectcalico.org/v3`.

[2019-10-09 18:53] prbsparx commented on #2065
So if I want to use the advanced functionality available directly through calico network policies, then I need to use calicoctl...
But if I want to use kubectl, and the api-resource that is made available by my kubernetes service, I have to use the `extensions/v1beta1` api, and behind the scenes kubernetes will translate the configuration into Calico rulesets because we’re using Calico for network

[2019-10-09 19:08] tmjd commented on #2065
yes

That is almost correct. Calico components also read and understand `networking.k8s.io/v1` Network Policy and creates rules to enforce that policy also, so there is no kubernetes component doing a translation into Calico rulesets.

[2019-10-14 23:09] chenrui333 opened #2072 "Looks like release v3.9.1 and v3.9.2 are the same"
Looks like the two release tags are tagging the same commit?

https://github.com/projectcalico/calicoctl/compare/v3.9.1...v3.9.2

Relates to https://github.com/Homebrew/homebrew-core/pull/45340

[2019-10-15 22:26] caseydavenport commented on #2072
@chenrui333 yeah, that's expected for patch releases where no changes have occurred.

It's a bit awkward - we version all of Calico as a single version so that it's easier for users to find components that are compatible with each other. That means if we fix a bug in one component, we re-release all the others as well, potentially at the same commit as the previous release.

[2019-10-15 22:26] #2072 closed

[2019-10-16 03:12] chenrui333 commented on #2072
Good to know. Thanks for the explanations!

[2019-10-21 18:18] #1343 closed

[2019-11-08 00:38] caseydavenport commented on #2032
Any update on this one, @hahapaul ?

[2019-11-08 00:55] #1383 closed

[2019-11-08 17:00] #2063 closed

[2019-11-14 10:55] mhmxs commented on #1444
This issue is closed because the module is not used any more.

[2019-11-14 14:42] mhmxs commented on #1444
I would like to fix this issue (it looks good for newbies) and as I followed the attached tickets it seems today `ip_set` module is the only one to add to checks. Am i right? I also want to ask that `calicoctl` loads the module [here](https://github.com/projectcalico/calicoctl/blob/5f53743a7214ea5193a788c1ed9f93d89c731c0e/calicoctl/commands/node/run.go#L425). Have i also add the new module(s) to l

[2019-11-22 04:45] tmjd commented on #1444
Yeah I think adding to the modules to load is correct.

I'm not sure if that is the only one to add or how to figure out which ones we depend on.
@fasaxc or @caseydavenport would either of you have any suggestions on how to figure out the modules felix depends on.

[2019-11-22 09:28] fasaxc commented on #1444
There's a list here; that'd be a good starting point. https://docs.projectcalico.org/v3.9/getting-started/bare-metal/requirements#kernel-dependencies

In addition, there are the `xt_XXX` modules for each match and action that we use.  Everywhere that there's a `-m <some match type>` in [this file](https://github.com/projectcalico/felix/blob/master/iptables/match_builder.go), there'll be an `xt_<so

[2019-11-26 13:42] mhmxs commented on #1444
Thanks @fasaxc,

seems many of the modules are not checked/loaded yet. Can i ask what does it mean "ipip (if using Calico networking)"? Is there any existing logic to check this behavior?

[2019-11-27 09:53] mhmxs commented on #1444
@fasaxc I was researching in the topic of loading build in modules with modprobe. And i found this documentation. https://www.kernel.org/doc/Documentation/kbuild/kbuild.txt.
[code]

I tried to load a module with `modprobe` and it didn't fail at all.
[code]
Do you remember where did you face with the modul lode fail or any advice how to reproduce it?

[2019-12-02 21:26] tmjd commented on #1425
The current default MTU is set to 1440, see https://docs.projectcalico.org/v3.10/manifests/calico-typha.yaml and https://docs.projectcalico.org/v3.10/manifests/calico.yaml, so I'm going to close this issue.

[2019-12-02 21:26] #1425 closed

[2019-12-14 10:04] mhmxs commented on #1444
@fasaxc Could you please answer my question? Seems i will have some time next week and would be nice to done this :) Thanks

[2019-12-16 09:59] fasaxc commented on #1444
One issue is that we run things inside containers where the modprobe that is inside the container may not have access to the modules.build.  Also possible that I've been confused by modules being added and removed form the kernel entirely.  For example, we used to need some nf_conntrack_XYZ modules but some of those can no longer be built as modules, I think.

[2019-12-19 20:48] teejaded opened #2091 "v3.11.0 darwin release binary is not a Mach-O binary"
## Expected Behavior
Expected Mach-O binary.

## Current Behavior
Downloaded linux ELF binary after clicking the darwin link.

[code]

[2019-12-19 20:57] lmm commented on #2091
Thanks for reporting this @teejaded. The v3.10.x series of releases have the right calicoctl darwin binaries. I'll try looking into this later today.

[2019-12-20 18:14] reneklomp opened #2093 "v3.11.1 binaries are all the same x86-64 executables!"
I downloaded the v3.11.1 binary for ARM64 but it fails to execute:
-bash: /usr/local/bin/calicoctl: cannot execute binary file: Exec format error
Comparing with other v3.11.1 binaries it appears they are all the same x86-64 executables.

[2019-12-20 18:21] tmjd commented on #2093
Thank you for reporting this, it is a known issue and work has been started to fix this.
Fixed by #2092

[2019-12-20 22:34] #2091 closed

[2019-12-20 23:36] lmm commented on #2093
@reneklomp the binaries are fixed now. Thanks for the report! 🙂

[2019-12-20 23:36] #2093 closed

[2019-12-20 23:37] lmm commented on #2091
@teejaded fyi, the fixed binaries have been uploaded

[2020-01-02 19:31] #1444 closed

[2020-01-02 21:11] #2032 closed

[2020-01-05 11:19] xzy256 opened #2103 ""kubectl apply -f calico.yaml" fail"
Hi,
I apply calico for k8s network, but encountered error:`error decoding from json: illegal base64 data at input byte 3`.
1. download [calico.yaml-3.11](https://docs.projectcalico.org/v3.11/getting-started/kubernetes/installation/hosted/calico.yaml)
2. edit it
[code]
When exec `kubectl apply -f calico.yaml`,  i get error as follow:

Etcd cluster is built with k8s certificates. It is healthy. How

[2020-01-06 19:27] tmjd commented on #2103
For the Secret, the key `etcd-key` should have the output of the command `cat /etc/kubernetes/ssl/kubernetes-key.pem | base64 -w 0`, it looks like you've put the actual command as the value which is incorrect.

Also ConfigMap should have:
[code]
The paths are where the secrets will be mounted into the pod, not a path on the host. So unless you've changed the mount where the Secret is mounted the a

[2020-01-07 06:49] xzy256 commented on #2103
Great! Thanks, it 's ok，refering to yours tips.

[2020-01-07 06:49] #2103 closed

[2020-01-10 10:38] admgolovin opened #2104 "Latest version marking issue"
I have faced with the strange behavior of marking the latest version of calicoctl:
I believe that the version list should look like this:

 calicoctl v3.8.6
 calicoctl v3.9.5
 calicoctl v3.10.2
 calicoctl v3.10.3
 calicoctl v3.11.0
 calicoctl v3.11.1 -- latest

But currently, my script that installs the latest version of the calicoctl shows the following statistic of latest tags:

 calicoctl v3.10

[2020-01-10 15:00] teccem opened #2105 "Calico does not create "vxlan.calico" interface"
## Expected Behavior
After calico configuration, VM should connect to cluster and have connection by vxlan with other nodes.

## Current Behavior
I have k8s cluster with separate etcdv3 for calico. All nodes in cluster successfully works, but i want to connect additional VM to network with calico-node (docker). As result VM has attached by "eth0" IP addr, but "vxlan.calico" interface is not create

[2020-01-10 15:40] tmjd commented on #2104
@lmm you've been doing the releases recently, do we need to adjust our processes to make sure we don't incorrectly mark the latest?

[2020-01-10 15:41] lmm commented on #2104
@admgolovin GitHub automatically marks the latest release (in terms of creation date) as the "latest". So when any release is published for a component, even a patch release like v3.9.5, it gets tagged as "latest". A quick google tells me that creating releases manually via the UI apparently gives you the option to mark a release as latest or not(?). But the API doesn't give us that option unfortu

[2020-01-10 15:43] lmm commented on #2104
Another option is to use docker. All of the "latest" Calico component images should have the latest release version embedded. E.g.:
[code]

[2020-01-10 16:08] tmjd commented on #2105
It seems like you've chosen the 'hard way', in general we'd suggest setting up the K8s nodes and deploying calico as a daemonset. I wanted to mention that in case you ended up on the 'hard way' not on purpose.
I'm not super familiar with how vxlan setup works but I'm wondering if there is some error message at the start of calico-node because there is some startup code that gets executed once and

[2020-01-10 17:15] song-jiang commented on #2105
@teecm Can you attach entire calico-node.log? I would start to debug this issue by running `calicoctl get node` to see if datastore has the node info for `vm1`.

[2020-01-10 19:47] caseydavenport commented on #2104
I'm not aware of any way to do this - could you share the link? I think GitHub just always marks the latest chronologically as the latest (it is not semantic version aware). I think this is just how GitHub is, unfortunately.

[2020-01-10 19:47] #2104 closed

[2020-01-10 19:50] caseydavenport commented on #2105
[code]

I think these are the wrong variables.

It should be `FELIX_VXLANENABLED` and `FELIX_VXLANMTU`

[2020-01-13 06:59] teccem commented on #2105
Thank you for fast answers.
@caseydavenport, I have change variables this does not help.
@song-jiang, [calico-node.log](https://github.com/projectcalico/calicoctl/files/4052322/calico-node.log). This is all log, node was powered off some time.

master-node2:/home/test-user# calicoctl get nodes
NAME
master-node2
vm1
worker-node1
worker-node2

vm1:/home/test-user# calicoctl get nodes
NAME
master-nod

[2020-01-13 23:35] rafaelvanoni commented on #2065
Closing due to inactivity, please let us know if this is still an issue.

[2020-01-13 23:35] #2065 closed

[2020-01-14 16:56] song-jiang commented on #2105
@teccem Are you sure it is full calico-node.log? Seems it only got a few lines of error logs repeating itself. Maybe you can restart Calico-node again and attach full content of calico-node log.

[2020-01-15 06:01] teccem commented on #2105
Hello @song-jiang.
ls -anh /var/log/calico/felix/
total 9.7M
drwxr-xr-x 2 0 0 4.0K Jan 15 05:54 .
drwxr-xr-x 4 0 0 4.0K Jan 15 05:26 ..
-rwxr--r-- 1 0 0 976K Jan 13 07:06 @400000005e1c16f1019be744.s
-rwxr--r-- 1 0 0 976K Jan 13 07:08 @400000005e1c178c168ef0c4.s
-rwxr--r-- 1 0 0 976K Jan 13 07:11 @400000005e1c1827370af334.s
-rwxr--r-- 1 0 0 976K Jan 13 07:14 @400000005e1c18c3050028b4.s
-rw-r--r-- 1

[2020-01-15 14:05] rdziwinski opened #2106 "I get context deadline exceeded."
Hello everyone
## Expected Behavior

I wish I could use calicoctl command.

## Current Behavior

When i'm trying run some calicoctl command i get context deadline exceeded error.
`rdziwinski@k8s-01-master:~$ ETCD_ENDPOINTS=https://10.10.1.1:2379 calicoctl version
Client Version:    v3.11.1
Git commit:        6c04a83
context deadline exceeded
`

## Possible Solution
idk :(

## Steps to Reproduce (f

[2020-01-15 15:05] rdziwinski commented on #2106
My big mistake. When we use kubeadm and locally etcd, we should doing according with: https://docs.projectcalico.org/v3.11/getting-started/calicoctl/configure/kdd

[2020-01-15 15:05] #2106 closed

[2020-01-17 17:24] song-jiang commented on #2105
@teccem Yes. It does. From the log it seems calico-node skipped creating a vxlan interface, this could happen if a local VTEP is not present. I will try to repro this issue and see it myself.

[2020-01-20 11:19] song-jiang commented on #2105
@teccem I could not repo this issue on my setup. Can you delete old logs and restart calico-node on vm1? I would like to see the very beginning of the log about `startup.go`. I pasted logs from my vm for your reference.

[code]

[2020-01-20 12:08] teccem commented on #2105
OK, but i almost did it last time. I have deleted calico-node and calicoctl and re pull this but didn't delete old logs. I will provide new logs in 2 hours

[2020-01-20 12:34] teccem commented on #2105
ls -anh /var/log/calico/
total 8.0K
drwxr-xr-x  2 0   0 4.0K Jan 20 12:28 .
drwxrwxr-x 13 0 106 4.0K Jan 13 06:25 ..
vm1:/home/test-user# ls -anh /var/log/calico/
total 12K
drwxr-xr-x  3 0   0 4.0K Jan 20 12:30 .
drwxrwxr-x 13 0 106 4.0K Jan 13 06:25 ..
drwxr-xr-x  2 0   0 4.0K Jan 20 12:30 felix
vm1:/home/test-user# date
Mon Jan 20 12:30:38 UTC 2020
vm1:/home/test-user# ls -anh /var/log/calico/fe

[2020-01-20 13:32] teccem commented on #2105
Jan 20 13:31:00 vm1 docker[3984]: 2020-01-20 13:31:00.496 [INFO][8] startup.go 259: Early log level set to info
Jan 20 13:31:00 vm1 docker[3984]: 2020-01-20 13:31:00.496 [INFO][8] startup.go 275: Using NODENAME environment for node name
Jan 20 13:31:00 vm1 docker[3984]: 2020-01-20 13:31:00.496 [INFO][8] startup.go 287: Determined node name: vm1
Jan 20 13:31:00 vm1 docker[3984]: 2020-01-20 13:31:00

[2020-01-20 15:02] song-jiang commented on #2105
Yeah, for some reason it does does not allocate tunnel address. Could you check
[code]

I did not put calico-node as a service, I just use the following shell script to start the container.
[code]

[2020-01-22 09:40] teccem commented on #2105
@song-jiang , thank you for advice, for you time.
I looks like my fault, but i have found that:
 ./calicoctl get ippool default-ipv4-ippool -o yaml
apiVersion: projectcalico.org/v3
kind: IPPool
metadata:
  creationTimestamp: "2020-01-20T13:25:26Z"
  name: default-ipv4-ippool
  resourceVersion: "4"
  uid: f44bdce7-c841-4d7b-8319-2c9fd7b9e048
spec:
  blockSize: 26
  cidr: 192.168.255.0/24
  ipipMode

[2020-01-22 10:32] song-jiang commented on #2105
Yes. Every 'vxlan.calico' device get a /32 address.

The problem maybe `nodeSelector` works as a node label selector, you need to explicitly adding `name: vm1` label to vm1 node. It does not match on node name.

[2020-01-22 10:42] teccem commented on #2105
ok, tnx.
calicoctl get node vm1 -o yaml
apiVersion: projectcalico.org/v3
kind: Node
metadata:
  creationTimestamp: "2020-01-20T13:31:00Z"
  name: vm1
  resourceVersion: "358"
  uid: 41b8db30-449e-4d4d-8010-7c1fc2919d84
spec:
  bgp:
    ipv4Address: 192.168.255.1/32
  ipv4VXLANTunnelAddr: 192.168.255.0

in any case, after some attempts to understand why problem happens (exactly after set CALICO_P i

[2020-01-22 10:49] teccem commented on #2105
oh, i see

ipv4Address: 192.168.255.1/32  <----- the IP is til there, ipam release didn't help. May be it is impact on tunnel creating.
ipv4VXLANTunnelAddr: 192.168.255.0

[2020-01-22 13:16] song-jiang commented on #2105
I mean you need add a label to your node resources. nodeSelector of ippool matches on labels not the names of a resource.
[code]

[2020-01-22 13:19] teccem commented on #2105
Calico's redeploy helps.
about nodeSelector, yes, it is need to add label to node/pod and etc. current metadata "name: vm1" is not used.

[2020-01-22 13:20] teccem commented on #2105
:) you are a little faster.
Thank you for you time and work. Problems is solved.

[2020-01-22 13:23] song-jiang commented on #2105
No problem. Glad you have it resolved.

[2020-01-22 13:23] #2105 closed

[2020-01-25 15:11] ehsanrocket commented on #1113
I have faced this issue .
how can I solve that ?

[2020-01-27 09:15] mhmxs commented on #1444
Hi @ozdanborne,

You closed this issue but i think there is one more open question. So in the documentation i found an optional kernel [module](https://github.com/mhmxs/calico/blame/7609d8952c9ec8493e63365cdaf3f45bca18b5bc/_includes/master/reqs-kernel.md#L24). That modul is not counted in the list of [checks](https://github.com/projectcalico/calicoctl/pull/2090/files#diff-1270cc1a1b5c264917b10bdbd

[2020-02-01 09:44] mhmxs commented on #1698
@caseydavenport I created a small PR to make available to attach custom Felix config: https://github.com/projectcalico/calicoctl/pull/2107

[2020-02-04 21:28] rafaelvanoni commented on #1210
@xh3b4sd It's been a while :-) But would be interested to hear if this is still an issue or if you worked around it somehow. Closing this issue for now, please add comment if you'd like us to re-open it.

[2020-02-04 21:28] #1210 closed

[2020-02-05 01:05] #1698 closed

[2020-02-10 02:02] renukamanavalan opened #2108 "kubeadm join: calico node fails with "unix /var/run/bird/bird.ctl: connect: no such file or directory""
Used the standard kubernetes cluster establishment for single control plane.
Calico complains not ready, as it fails to establish BGP session.
Details below.

**Any tips to move ahead, will be very helpful.**

1) In my VM, to set up master
    1.1) Ran "`sudo kubeadm init --pod-network-cidr=192.168.0.0/16 --apiserver-advertise-address=10.3.157.24`"
           I provide api-server as I wanted to ru

[2020-02-10 19:09] caseydavenport commented on #2108
@renukamanavalan could you share the calico/node log from the joined node? Usually this is accompanied with another error which could help identify what is going on here.

[2020-02-10 19:41] renukamanavalan commented on #2108
Here is a spew from one:

[code]

[2020-02-10 19:44] renukamanavalan commented on #2108
Ref: https://github.com/BIRD/bird/blob/master/sysdep/linux/netlink.c
 if (scope < 0)
    {
      log(L_ERR "KIF: Invalid interface address %I for %s", ifa.ip, ifi->name);
      return;
    }

How do we fix this ?

[2020-02-10 19:54] renukamanavalan commented on #2108
The node has docker0 interface at that address

[code]

[2020-02-10 21:12] tmjd commented on #2108
You may need to configure IP_AUTODETECTION_METHOD for calico. I think the selection of the IP/interface is selecting the wrong one. See https://docs.projectcalico.org/reference/node/configuration#ip-autodetection-methods

[2020-02-10 21:54] renukamanavalan commented on #2108
Thanks for the link. Being new to Calico, I would need to spend a lot of time to figure out, how to do this myself.

I am using  https://docs.projectcalico.org/v3.10/manifests/calico.yaml
(`kubectl apply -f https://docs.projectcalico.org/v3.10/manifests/calico.yaml`)

I neither see InstallationSpec nor CalicoNetworkSpec.

I need to set, "interface = eth0"

Can you please help?

[2020-02-11 04:07] renukamanavalan commented on #2108
I set IP_AUTODETECTION_METHOD and now the calico container is not Running.

Can you please help review the updated YAML file pasted below?

[code]

With orig yaml: `https://docs.projectcalico.org/v3.10/manifests/calico.yaml`, all were Running.

The addition I made:
[code]

The updated YAML:

[code]

[2020-02-11 04:45] renukamanavalan commented on #2108
BTW, I am not even joining kube yet.
[code]
Info from failing pod:

[code]

[2020-02-11 15:07] tmjd commented on #2108
Sorry for the confusion around

Those are currently only applicable for the OpenShift install that makes use of our operator for installation. They are not applicable for your installation.

Could you share the output of `ip a` from your master/host?
Also could you share the logs from calico-node? You should be able to get them with `kubectl logs -n kube-system calico-node-467m8`.

[2020-02-11 15:42] renukamanavalan commented on #2108
@ master:

[code]
API server is configured to use IP address 10.3.157.24 on 10.3.0.0/16 network at dev ens192.

[code]
At the end of running above commands:

[code]

@node:
[code]

@ master:
Upon worker node join:

[code]

remanava@str-renuka-01:~/try$ kubectl logs -n kube-system calico-node-82bnr
2020-02-11 15:32:28.215 [INFO][8] startup.go 259: Early log level set to info
2020-02-11 15:32:28.216

[2020-02-11 15:45] renukamanavalan commented on #2108
Log from another node:
[code]

[2020-02-11 16:20] renukamanavalan commented on #2108
I need to block auto-detect.

2020-02-11 15:32:28.330 [INFO][8] startup.go 621: Using autodetected IPv4 address on interface PortChannel0004: 10.0.0.62/31

PortChannel0004 is an i/f used by the Worker node, which is a switch running [SONiC](https://github.com/Azure/sonic-buildimage) for dataplane traffic.

For any communication with master, it must use eth0 i/f only.

[2020-02-11 16:24] tmjd commented on #2108
Judging by the output from `ip a` and the address you are using for the kubernetes apiserver, you need to use `interface=ens192` for the value of `IP_AUTODETECTION_METHOD`.  This method will need to work for all your hosts in the cluster. So if all your hosts will not have ens192, you should consider using `can-reach=10.3.157.24` instead.

Looking at the output from calico-node-wz6fl it looks like

[2020-02-11 16:24] renukamanavalan commented on #2108
I am using calico's template file as per '[Quickstart for Calico on Kubernetes](https://docs.projectcalico.org/v3.10/getting-started/kubernetes/)'  the suggested yaml is as below.
`kubectl apply -f https://docs.projectcalico.org/v3.10/manifests/calico.yaml
`
Please suggest, on how to update this yaml to block auto-detect and force eth0

[2020-02-11 16:25] tmjd commented on #2108
The `ip a` you included above does not have an eth0 so that will not work.

[2020-02-11 16:30] renukamanavalan commented on #2108
In Master the i/f name is ens192 and in worker node it is eth0

Let me see, if I can change host i/f name to eth0, so it would match across master and all worker nodes.

Say, I do that, then can I just add IP_AUTODETECTION_METHOD, below the existing entry for IP, as pasted below.

[code]

[2020-02-11 16:33] tmjd commented on #2108
Yes that should work. From the docs, it looks like you can also do `interface=ens192,eth.*`.

[2020-02-11 16:58] renukamanavalan commented on #2108
Passed Autodetect. Still

`Warning  Unhealthy  2m41s (x4 over 3m11s)  kubelet, str-s6000-acs-13  (combined from similar events): Readiness probe failed: calico/node is not ready: BIRD is not ready: BGP not established with 10.3.157.242020-02-11 16:48:43.079 [INFO][525] health.go 156: Number of node(s) with BGP peering established = 0
`

[code]

Still I get

[code]

[2020-02-11 17:00] renukamanavalan commented on #2108
Full spew:

[code]

[2020-02-11 17:02] renukamanavalan commented on #2108
From worker node:
"```
docker0: flags=4099<UP,BROADCAST,MULTICAST>  mtu 1500
        inet 240.127.1.1  netmask 255.255.255.0  broadcast 240.127.1.255
[code]
admin@str-s6000-acs-13:~/try$ sudo ifconfig
Bridge: flags=4163<UP,BROADCAST,RUNNING,MULTICAST>  mtu 1500
        inet6 fe80::3824:11ff:feb4:7fe4  prefixlen 64  scopeid 0x20<link>
        ether 96:b7:35:22:a2:9c  txqueuelen 1000  (Ethernet)

[2020-02-11 17:07] renukamanavalan commented on #2108
From log (pasted [above](https://github.com/projectcalico/calicoctl/issues/2108#issuecomment-584738136))

[code]

[2020-02-11 17:46] renukamanavalan commented on #2108
[ipa_classify](https://github.com/deepfield/bird/blob/15f75d65b89df94c507b0bd489f36791a71ad84e/lib/ip.c#L143) marking Docker IP address as invalid.
[code]

It appears bird is getting incorrect address, though calico gets it right.

[code]

[2020-02-11 18:45] renukamanavalan commented on #2108
Upgraded to calico node: 3.12.0 per[ quick start](https://docs.projectcalico.org/getting-started/kubernetes/quickstart).

Still same failure.

Any tips to move ahead please?

[2020-02-11 21:35] renukamanavalan commented on #2108
I am stuck here. I have no idea, why bird considers 240.127.1.1 as invalid address.

`bird: KIF: Invalid interface address 240.127.1.1 for docker0`

Which blocks two of pods from going ready.

[code]

[2020-02-11 21:58] renukamanavalan opened #2109 "bird: KIF: Invalid interface address 240.127.1.1 for docker0"
Following calico-quick-start, upon kubeadm join from worker node, two of calico pods in Master were not READY for the reason "BGP not established"

I am **stuck here.** **Any tips** to unblock would be **immensely helpful**.

[code]
[code]
AlsoI see, "`bird: KIF: Invalid interface address 240.127.1.1 for docker0`"

[code]
Logs are attached.
[logs.0.txt](https://github.com/projectcalico/calicoctl/f

[2020-02-11 22:00] renukamanavalan commented on #2108
Opened a new issue, as this issue has progressed to a different point and this is too big for any reasonable analysis. #2109

Feel free to close this, as appropriate.

[2020-02-12 04:51] #2108 closed

[2020-02-12 04:53] renukamanavalan commented on #2109
I manage to get pods running.

The message "bird: KIF: Invalid interface address 240.127.1.1 for docker0" was not fatal.
The fatal one was: The socket could not be bind to.
Upon fixing, the calico nodes are running fine.

[2020-02-12 17:13] #2109 closed

[2020-03-12 23:20] chenrui333 opened #2111 "release v3.13.1 and v3.13.0 tagged the same commit"
Just want to make sure that is desired.

relates to https://github.com/Homebrew/homebrew-core/pull/51668

[2020-03-16 20:15] spikecurtis commented on #2111
@chenrui333 from context, I think you're talking about 3.13.x, not 3.1.x, but please correct me if I'm wrong!

[2020-03-16 20:29] chenrui333 commented on #2111
@spikecurtis, yes, sorry for the typo. (the PR I linked basically tells the story 😄 )

[2020-03-16 21:47] spikecurtis commented on #2111
I've spoken to the release team, and yes, this is as expected. Only changes were in Felix / node.

[2020-03-16 21:47] #2111 closed

[2020-03-31 13:36] chenrui333 opened #2115 "release tag calicoctl 3.13.{0,1,2} are tagged against the same commit"
relates to https://github.com/Homebrew/homebrew-core/pull/52361
previously mentioned in this issue, https://github.com/projectcalico/calicoctl/issues/2111

@spikecurtis, just to check again, whether this is desired that all three release tags are tagged against the same commit, https://github.com/projectcalico/calicoctl/commit/eb796e31bcbfb42af3c2470bd23826f630d03ab5

[2020-03-31 13:37] chenrui333 commented on #2115
The release process seems not quite ideal (I wonder if I can see the code and help with it).

[2020-03-31 17:02] spikecurtis commented on #2115
Calico operates with a single version number for an entire release, including all our components and tools.  These patch releases are often related to bug fixes on a limited number of components, so not all repos will get new commits; many components do not change.

[2020-03-31 17:02] #2115 closed

[2020-04-14 12:53] hahasheminejad opened #2117 "Ability to check network policies syntax using calicoctl dry-run"
## Expected Behavior

Just wondering if a `--dry-run` option or anything similar is available for `networkpolicy` and `globalnetworkpolicy` kinds to check the validity of policies before applying.

The idea is to have a step in our pipeline for each PR to check the syntax/validity of rules before applying to the cluster.

## Current Behavior

## Possible Solution

Having `--dry-run` option for net

[2020-04-19 23:27] loxal commented on #1113
@liljenstolpe @ThomasLohner
Is this issue related to https://github.com/hetznercloud/hcloud-cloud-controller-manager/issues/40? I have an issue on Hetzner where I need to provide my a specific entry under `externalIPs`. No doing so leaves me with a `<pending>` external IP entry.

[2020-04-21 02:44] elgamal2020 opened #2118 "Failed to make calicoctl"
sudo make build
make build-calicoctl BUILDOS=linux ARCH=amd64
make[1]: Entering directory '/home/ubuntu/calicoctl'
mkdir -p bin
mkdir -p .go-pkg-cache bin /home/ubuntu/go/pkg/mod && docker run --rm --net=host --init -e GO111MODULE=on -v /home/ubuntu/go/pkg/mod:/go/pkg/mod:rw -e LOCAL_USER_ID=0 -e GOCACHE=/go-cache -e GOARCH=amd64 -e GOPATH=/go -e OS=linux -e GOOS=linux -e GOFLAGS= -v /home/ubuntu/

[2020-04-23 21:55] caseydavenport commented on #2118
Please don't run the build as `sudo` - you shouldn't need to!

`make build` is working for me.

[2020-04-23 21:55] #2118 closed

[2020-04-23 21:56] caseydavenport commented on #2117
This is a neat idea. I don't think we have anything like that right now, but a `--dry-run` or a `--validate` option would be really useful.

[2020-04-24 01:28] elgamal2020 commented on #2118
Hi no , it dosnt work for me , did you try with ubuntu 18.04 ?

[2020-05-05 23:53] KateGo520 opened #2126 "Cannot get latest version: module contains a go.mod file, so module path should be github.com/projectcalico/calicoctl/v3"
## Background
The github.com/projectcalico/calicoctl uses [Go modules](https://github.com/golang/go/wiki/Modules) and the current release stream version is **v3**. It must comply with the specification of "Releasing Modules for v2 or higher" available in the Modules documentation and enforced since the most recent versions of Go. Quoting the specification:

https://github.com/golang/go/wiki/Module

[2020-05-06 06:56] KateGo520 commented on #2126
@gianlucam76  @spikecurtis

[2020-05-13 15:27] caseydavenport commented on #2126
@KateGo520 thanks for raising this issue. May I ask what your goal is in importing `calicoctl` into another project? That isn't a scenario that the dev team has really imagined as a use-case for calicoctl.

As it is, if we were to actually do something about this, my preference would just be to make the breaking changes and fix the import paths. However, I don't really feel like we should do anyth

[2020-05-14 05:46] tnakajo opened #2131 "calicoctl: cannot execute binary file on MacOS"
## Expected Behavior

$ calicoctl
it runs properly.

## Current Behavior

$ pwd
/usr/local/bin
$ ls -la | grep calico
-rwxr-xr-x@  1 tnakajo  staff   38965248 14 May 12:46 calicoctl
$ ./calicoctl
-bash: ./calicoctl: cannot execute binary file
$ calicoctl
-bash: calicoctl: cannot execute binary file

## Possible Solution

No workaround on Mac OS yet.

## Steps to Reproduce (for bugs)

1.  Install t

[2020-05-14 06:03] tnakajo commented on #2131
Sorry, my bad. It works if I download the binary for the macos then renamed it to calicoctl.

`sudo mv calicoctl-darwin-amd64 /usr/local/bin/calicoctl`

[2020-05-14 06:03] #2131 closed

[2020-05-14 08:23] KateGo520 commented on #2126
Thank you for your response.
But I see people here use github.com/exercism/cli as a lib:
https://github.com/search?l=Go&q=github.com%2Fprojectcalico%2Fcalicoctl&type=Code

In my opinion it's better for the community to comply with the specification of "Releasing Modules for v2 or higher" available in the Modules documentation.

[2020-05-15 22:48] caseydavenport commented on #2126
@KateGo520 I'm sure plenty of people are using it as a lib, but that's not its intended purpose and is out of scope for the project - it's not intended to be a module for use in other projects.

If someone wanted to do the work to make this happen, I'd be happy to talk through what would be required. But I don't think we can make it a priority on the core dev team at the moment since it's not real

[2020-05-19 11:57] lurenjia528 opened #2132 "Does calicoctl has REST API?"
I use kubectl --v=9 can see the full request and response

Does calicoctl has RESTFUL api?

[code]

[2020-05-22 14:46] devopsmyth commented on #328
I'd like to reopen this as I'm experiencing this issue currently.

[2020-05-22 22:10] caseydavenport commented on #328
@devopsmyth could you open a new issue describing what you're seeing? This one is old and doesn't have any details on it.

[2020-05-23 23:24] devopsmyth commented on #328
Of course!

[2020-05-28 15:27] caseydavenport commented on #2132
There is not currently a supported REST API for Calico. However, working towards this enhancement would probably provide that: https://github.com/projectcalico/calico/issues/2923

The API that calicoctl uses today is considered internal.

[2020-05-28 15:27] #2132 closed

[2020-05-28 17:20] #2126 closed

[2020-05-29 20:59] #2008 closed

[2020-06-10 03:07] 420691301 commented on #2118
I encountered the same error. Because I always use root by default in my development environment. `useradd` will go wrong with `LOCAL_USER_ID=0`. How about using `RUN_AS_ROOT=true` instead of `LOCAL_USER_ID=$(LOCAL_USER_ID)` when `LOCAL_USER_ID` is 0?

[2020-06-10 15:49] elgamal2020 opened #2136 "POD connectivity within K8s installed over openstack / IPIP encapsulation"
Hello,
 
I have two cluster , each with 3 nodes with roles (master/worker) one setup on virtualbox and another on Openstack
 
For the Virtualbox environment , there are no problems I tried IPIP encap to always,never and cross subnet and the pod to pod communication across nodes are working perfectly
 
In the Openstack environment when I set the IPIP encap to never pod to pod communication across t

[2020-06-11 22:47] caseydavenport commented on #2136
Have you checked to make sure there is not RPF enabled in your underlying OpenStack network? Even if it is a L2 network, if RPF is being performed that may block packets from pod IP addresses. You'll either need to disable the RPF in the openstack network, or use encap within the L2 subnet.

This is similar to AWS, where you'd need to disable src/dst checks to use unencap'd traffic within a subnet

[2020-06-11 23:23] elgamal2020 commented on #2136
Hi Casey,

Thanks a lot for your answer , I have disabled the antispoofing allowing the POD CIDR adresses on my port

  443  openstack port set c0b1fc21-2dd7-4bf3-9d4e-ab23f341d7f8  --allowed-address ip-address=10.233.64.0/18
  444  openstack port set 53cd2e3d-0c13-492c-a09f-721457659b2a  --allowed-address ip-address=10.233.64.0/18
  445  openstack port set b2c49dba-3b8a-4f29-82d5-8386d093841f --a

[2020-06-29 20:00] gunboe commented on #2118
Dont use sudo!

Add the docker group if it doesn't already exist:
[code]

Add the connected user "$USER" to the docker group. Change the user name to match your preferred user if you do not want to use your current user:
[code]

Either do a `newgrp docker` or log out/in (prefer) to activate the changes to groups.

Finaly, you can use:
[code]

to check if you can run docker without sudo.

[2020-07-01 23:16] nuxeric commented on #2117
I am looking into taking this on and trying to contribute! I am not entirely sure if this is the right process but I thought I would document that I am looking into this issue! :D

[2020-07-10 02:21] komal-SkyNET opened #2149 "Outgoing NAT fails when multiple ip-pools are defined"
OutgoingNAT fails when there are multiple IP_POOLS in the ip_pool list with the below configs:
[code]

## Expected Behavior
Outgoingnat should work properly for 10.14.x.x/20 subnet.

## Current Behavior
Outgoingnat fails with the ippool config mentioned above. But after removing the default-ipv4-pool (192.x) - outgoing nat works for 10.14.x.x subnet.

## Steps to Reproduce (for bugs)

1. Apply the

[2020-07-10 02:42] komal-SkyNET commented on #2149
Created duplicate issue under calico subproject: https://github.com/projectcalico/calico/issues/3770

[2020-07-10 02:42] #2149 closed

[2020-07-29 13:23] eLvErDe opened #2156 "Provide Debian/Ubuntu packages on PPA"
Hello,

It could be great to provide calicoctl packages of calico's Ubuntu PPA.

Here is my Debian packaging building package for any architecture by downloading binaries from GitHub:

[code]

[2020-08-06 18:35] caseydavenport commented on #2156
@neiljerram WDYT?

[2020-08-07 09:51] neiljerram commented on #2156
In terms of need....  I guess I can see that some people prefer to have everything on their system packaged.  But this is quite a lot, given that there's a reasonable alternative of just downloading the calicoctl binary:
[code]

In terms of implementation...  If we did package calicoctl, it should follow our current packaging architecture, which is
- repo-specific stuff in the calicoctl repo - i.e

[2020-08-07 10:34] eLvErDe commented on #2156
For the license my point is: just relicense it as you want, I'm not claiming any copyright to make it easier

[2020-08-11 20:52] caseydavenport commented on #2156
@neiljerram yeah I agree with that general split.

I do think that some people will _not_ want calicoctl packaged together with Felix, so this would probably need to be a new package rather than added to the existing ones.

[2020-08-12 13:51] neiljerram commented on #2156
Oh yes, definitely a different package.  But if we start doing this, that package can go into our PPAs at https://launchpad.net/~project-calico.

So @eLvErDe if you'd like to take this forward, please raise the corresponding PRs against the calicoctl and packaging repos.

[2020-08-18 18:31] janisz opened #2163 "proposal: allow timeout configuration"
## Expected Behavior

I look at https://docs.projectcalico.org/getting-started/clis/calicoctl/configure/etcd and can't find a way to configure connection timeout or operation timeout.

[code]

## Current Behavior
[code]

## Possible Solution
* Use context with timeout.
* Add client network timeout

## Context
I'd like to know fast when something is wrong.

[2020-08-28 02:36] lalithvaka opened #2168 "Daemonset does not provision to master nodes - cni failed to set up pod"
Upgraded from 1.15.3 to 1.17.9 in our Dev cluster and started to see Fluent-bit daemonset started failing on master nodes with the following

Failed to create pod sandbox: rpc error: code = Unknown desc = failed to set up sandbox container
[code]
Fluent-bit version - 1.5.3 (FROM debian:stretch as builder)

[code]
Additional context
[code]
My curl on Master nodes fails as following but works from m

[2020-08-31 21:04] caseydavenport commented on #2168
The timeout seems to suggest that the CNI plugin is unable to access the Kubernetes API via its service IP address, which typically would mean a problem with the kube-proxy on those nodes.

However, it does look like kube-proxy is running on that node, and your `curl` test seems to suggest that it is working to an extent. I'd still double-check the kube-proxy logs for errors, just in case.

[code]

[2020-09-03 23:25] fabregas4you opened #2174 "CreateContainerConfigError on deployment calicoctl"
## Expected Behavior

calicoctl container running on pod nomaly.

## Current Behavior

When Installing calicoctl as a Kubernetes pod, results failed like this,
[code]

## Possible Solution

I don't have.

## Steps to Reproduce (for bugs)

1.  Installing k8s and set up calico.
2. Installing calicoctl as a Kubernetes pod as follow https://docs.projectcalico.org/getting-started/clis/calicoctl/install

[2020-09-04 17:03] caseydavenport commented on #2174
Which document did you follow to install Calico?

[2020-09-10 00:45] lalithvaka commented on #2168
Our Corporate Cyber security intrusion detection agent called Cylance is causing a whole lot of issues and seems to be locking the iptables as well. It does not work well with container environment and we have seen this agent quarantining some docker folders as well. Once we removed this agent everything started working.
[code]
system libc is at libc-2.17 and not libc2.28

[2020-09-10 00:45] #2168 closed

[2020-09-10 07:28] knfoo commented on #1518
I have run it to this as well.
I am using the geoip module.
I would like to avoid to run calico-felix binary on the host.

[2020-09-10 09:38] fasaxc commented on #1518
Not really sure what we an do  about custom modules.  Best option might be for you to build your own calico/node image with the extra module added.

[2020-09-10 09:38] fasaxc commented on #1518
I guess if there are just one or two modules and they're not large, we could just add them to the main image; is the geoip module packaged for RH?

[2020-09-11 07:55] knfoo commented on #1518
I installed the xtables-common-addons in ubuntu to get it working.
I "hacked" the calico-node deployment to do

[code]
And added the right volumes
[code]
That seems to work for now.
But it would be great if that was not necessary :)

[2020-09-11 09:00] fasaxc commented on #1518
If you can figure out how to build the RH version of the module here: https://github.com/projectcalico/node/blob/master/Dockerfile.amd64#L38 and if it didn't expand the container image too much, I think we'd accept a PR to add the extra module.

[2020-09-14 02:14] mozhuli opened #2178 "arm64 calicoctl can not run as amd64"
I installing calicoctl as a Kubernetes pod

[code]

[code]

## Expected Behavior

## Current Behavior

## Possible Solution

## Steps to Reproduce (for bugs)

1.
2.
3.
4.

## Context

## Your Environment

* calicoctl version (e.g. `calicoctl version`):
* calico/node version (e.g. `docker run --rm calico/node versions`)
* Orchestrator type and version (e.g. kubernetes, mesos, rkt):
* Operating Syst

[2020-09-15 21:01] giacomobartoli opened #2181 "Calicoctl get nodes is stucked"
## Expected Behavior
Running the command `calicoctl get nodes` I am expecting to see two kubernetes nodes

## Current Behavior
The command get stucked after having correctly installed calico for OSX

## Steps to Reproduce (for bugs)

1. `ibmcloud ks cluster config --cluster btct7mhf06d8fo6mmi6g --admin --network`
Ouput:
The configuration for btct7mhf06d8fo6mmi6g was downloaded successfully.
Networ

[2020-09-16 09:14] knfoo commented on #1518
OK I will have a look at it

[2020-09-17 06:21] askulkarni2 opened #2182 "calicoctl v3.16.1 binary does not run on macOS"
Tried to run calicoctl the latest version v3.16.1 on MacOS and it appears to be broken. Previous version works as expected.

## Steps to Reproduce (for bugs)
[code]

Previous [version](https://github.com/projectcalico/calicoctl/releases/download/v3.16.0/calicoctl-darwin-amd64) works as expected using the same steps.

## Your Environment
* Operating System and version: macOS Mojave

[2020-09-18 18:32] caseydavenport commented on #2181
Note that there has been a report that calicoctl v3.16.1 isn't working on MacOS here: https://github.com/projectcalico/calicoctl/issues/2182

this might be related? I'd suggest trying an earlier version and see if you have the same results - will help us tell if this is the same issue or something different.

[2020-09-21 03:05] Joseph-Lin-163 commented on #2174
You could try the following as a suggestion:
`kubectl create configmap calico-config --namespace=kube-system --from-literal=etcd_endpoints=http://127.0.0.1:2379`

[2020-09-21 20:49] #2174 closed

[2020-09-22 08:23] giacomobartoli commented on #2181
Hi @caseydavenport and thanks for your support.
Issue #2182 is different: when the user run 'calicloct' it returns no command as output. (I guess the user downloaded the wrong binary file).
In my case, the command line is kind of stuck, waiting for something..

[2020-09-22 08:24] giacomobartoli commented on #2181
Moreover, previous versions have the same behaviour

[2020-09-22 23:43] lmm commented on #2182
@askulkarni2 could you try again? I tried the same steps on my Mojave macbook and calicoctl worked for me.

[2020-09-25 05:32] askulkarni2 commented on #2182
@lmm its working now, though I am not sure what changed :)

[2020-09-25 15:56] #2182 closed

[2020-10-02 16:50] caseydavenport commented on #2181
Ah, right. the command is pending. I'd double check that:

- calicoctl is configured to point at the correct cluster
- you have network access to that cluster from the machine you're running calicoctl on.

You might also want to try running with debug logging on to see if there are any clues:

[code]

[2020-10-02 16:55] giacomobartoli commented on #2181
Hi @caseydavenport
Yes, I confirm that I have access to the cluster and my calicoctl is point at it.
I run the command you suggest and this is the output:

[code]

[2020-10-02 20:46] caseydavenport commented on #2181
Yeah, it looks like it's performing a request against the etcd cluster to get the node information and isn't receiving a response back.

[2020-10-07 05:31] guillaumefenollar commented on #900
I'd like to reopen this issue because we experience this behavior for more than a year now and we can reproduce it pretty easily.
We are in a case where we have several nodes in our clusters than are not started 100% of the time.
If a node is being started while some other nodes are dead (with calico-node pods remaining but not reachable), this first node need to wait for almost 5 minutes before g

[2020-10-15 18:43] caseydavenport commented on #900
@guillaumefenollar this is a very old issue, so rather than reopen it I would suggest that you create a new issue and describe your symptoms there.

That said, if you are running Calico in full-mesh BGP mode (the default) then restarting multiple calico/node pods at once will usually result in a temporary routing disruption for pods on those nodes. In order to restart gracefully, you would need to

[2020-10-18 17:16] JeffreyUrban opened #2204 "`calicoctl node checksystem` fails minimum systems requirements on arm64"
## Desired Behavior
_(desired, not expected, since state of calico arm64 support is unclear)_
---
`calicoctl node checksystem` should pass on a Linux distribution on arm64
OR
There is a method to obtain and add modules (`ipt_set`, `xt_icmp`, `xt_icmp6`, `xt_rpfilter`) so it will pass.
OR
There is guidance on whether is possible to run calico on arm64 without modules (`ipt_set`, `xt_icmp`, `xt_icmp

[2020-10-19 00:27] JeffreyUrban commented on #2204
Someone on the forums reported these same failures with amd64 (on Debian 10), so may not be specific to arm64.
kernel:
Linux X 4.19.0-11-amd64 #1 SMP Debian 4.19.146-1 (2020-09-17) x86_64 GNU/Linux
https://calicousers.slack.com/archives/C0BCA117T/p1602063050064900

[2020-10-19 13:36] JeffreyUrban commented on #2204
Appears here is where checks for these modules were introduced:
Issue: https://github.com/projectcalico/calicoctl/issues/1444
Pulls: https://github.com/projectcalico/calico/pull/3076/files, https://github.com/projectcalico/calicoctl/pull/2090/files

[2020-10-22 04:56] marcelo-devsres commented on #2181
# short version

Even though it might be, I'd say it might be any kind of basic TLS problems like invalid CA, invalid or expired certs. I found out (the hard way) calicoctl is not giving any insights for problems of this kind, and it keeps on a 'trying-to-establish-connection' loop instead of exiting with a meaningful error. This was on both 3.15 and 3.16.

Wanna know the rationale? Well, long sto

[2020-11-03 17:31] caseydavenport commented on #2204
Yeah, I think the checksystem command is itself pretty outdated, and IIRC it sometimes checks more dependencies than you actually need.

We need to audit the dependencies in that command and bring it up to speed with modern Calico. For now though, I would just ignore its output. Most distros have what you need anyway.

[2020-11-03 17:33] lmm commented on #2181
Thanks for the details @marcelo-devsres that's really helpful. I would expect calicoctl to at the very least log the etcd failures and ideally report the hard failure back to the user instead of retrying forever.

[2020-11-05 20:41] giacomobartoli commented on #2181
@marcelo-devsres does calico version 3.16.4 fix this bug?

[2020-11-05 20:44] giacomobartoli commented on #2181
This is the log I get from calico debug get globalpoliciesnetwork

[code]

[2020-11-06 18:40] marcelo-devsres commented on #2181
Still stuck.

ETCDs require TLS certs for connection. I didnt specify certs, and calicoctl is stuck, instead of exiting with some TLS error message.

[code]

[2020-11-23 10:20] fasaxc commented on #1076
Fixed in https://github.com/projectcalico/confd/pull/360

[2020-11-23 10:20] #1076 closed

[2020-11-23 19:16] caseydavenport commented on #1464
We do actually have logic for this for kubeadm clusters now.

Let's track any additional environments as separate issues, given there are a large number of potential ways to install a cluster and each may have different ways this needs to be done.

[2020-11-23 19:16] #1464 closed

[2020-11-23 19:17] #1024 closed

[2020-12-03 09:32] shashankv02 opened #2229 "panic when running `get workloadendpoint`"
Following panic occurs when running  `get workloadendpoint` command. The usage might be wrong but didn't expect a panic.

[code]

## Expected Behavior
No panic and proper message

## Steps to Reproduce (for bugs)
1. Installed calicoctl on k8s cluster using `kubectl apply -f https://docs.projectcalico.org/manifests/calicoctl.yaml`
2. Calico version installed on k8s - calico/node:v3.12.3, calico/kub

[2020-12-08 17:14] bcreane commented on #2229
Hi @shashankv02 - suggest you install the same version of `calicoctl` as your backend, ie.:

[code]

Let us know if you still see the crash with versions lined up correctly. I'll close for now, but feel free to reopen as necessary.

[2020-12-08 17:14] #2229 closed

[2020-12-10 21:01] caseydavenport commented on #488
whoops this should be closed now in v3.17!

[2020-12-10 21:01] #488 closed

[2020-12-11 10:38] hectorj2f commented on #488
Thanks @caseydavenport 🎉

[2020-12-20 20:47] mikeholownych opened #2239 "Not able to access external IP space with NAToutgoing enabled"
## Expected Behavior
Expecting to be able to reach the internet from pods in IPPool that has natOutgoing enabled.

## Current Behavior
Pods are not able to communicate outside of the cluster.

## Possible Solution

## Steps to Reproduce (for bugs)
1. Install k8s cluster
2. Install calico networking and network policies
3. Enable natOutgoing on default IPPool

## Context
I am trying to setup a numb

[2020-12-21 00:33] mikeholownych commented on #2239
Closing issue. Seems issue was due to fqdn not being closed with a "." at the end. Don't think this should be expected behaviour.. but not a show stopper.

[2020-12-21 00:33] #2239 closed

[2020-12-27 06:07] tanvp112 opened #2241 "Node diagnostic error dumping felix stats"
[code]
There is nothing in the logs directory complaint:

$ ls -l /tmp/calico885665184/diagnostics/logs
total 0

--log-dir seems has no effect, too.

[2020-12-28 05:36] kidrocknroll opened #2242 "Container runtime support for calicoctl"
Container Runtime support for `calicoctl`?

## Expected Behavior

`calico node status` will show node status

## Current Behavior

Now is empty

![image](https://user-images.githubusercontent.com/22533109/103191215-19231a00-490f-11eb-999d-6ca3f589579c.png)

![image](https://user-images.githubusercontent.com/22533109/103191252-33f58e80-490f-11eb-81be-380964530317.png)

## Possible Solution

Maybe t

[2021-01-06 23:29] caseydavenport commented on #2242
@kidrocknroll what makes you think that something is wrong?

It looks like calicoctl has detected the Calico is running on that node, and that it is not peered with anything else. I don't think container runtime should impact this command, since it communicates through the bird.ctl socket rather than container-runtime specific mechanisms.

[2021-01-06 23:32] caseydavenport commented on #2241
This will only gather data if felix is running on the local node, which it isn't always. Did the other data collect properly (e.g., iptables, routes, etc)?

Is calico/node running on the node that you ran this command on?

[2021-01-11 09:44] kidrocknroll commented on #2242
Sry for the delay... My Problem is why Calicoctl shows `No IPv4 Peer Found` while I have at least one node indeed...

[2021-01-12 19:57] caseydavenport commented on #2242
How did you install Calico? Do you have BGP peers configured or are you using VXLAN mode?

[2021-01-13 17:19] lwr20 commented on #949
FYI, Calico now supports Azure using VXLAN encap.
https://docs.projectcalico.org/getting-started/kubernetes/self-managed-public-cloud/azure#calico-networking

[2021-01-14 03:54] tanvp112 commented on #2241
$ sudo calicoctl node status
Calico process is running.

IPv4 BGP status
+---------------+-------------------+-------+----------+-------------+
| PEER ADDRESS  |     PEER TYPE     | STATE |  SINCE    |    INFO        |
+---------------+-------------------+-------+----------+-------------+
| xxx.xxx.xxx.xxx | node-to-node mesh | up    | 01:49:17 | Established |
+---------------+-------------------+

[2021-01-26 17:23] #2136 closed

[2021-01-26 17:36] #2242 closed

[2021-02-22 15:34] cdancy opened #2268 "Why the prompt for `sudo` when executing `calicoctl node checksystem`?"
For all tools running against a given k8s system that I've ever used I've never found one that prompted me to run with `sudo`. I guess my assumption is that should I have the necessary access to the k8s system than that in itself would define the necessary permissions. Maybe there is some history here I'm missing?

[2021-02-25 17:10] lmm commented on #2268
Hey @cdancy - the `node checksystem` command actually runs some checks against the node machine itself. It's used to determine if the host is capable of running Calico but I think that the command might be a bit out of date.

[2021-02-25 17:49] song-jiang commented on #2241
`ps -aux  | grep felix ` to see if felix process is running.

[2021-02-25 18:03] cdancy commented on #2268
Ok fair enough. I just see various reference in your guys code to check for root/sudo when I would think that, should the user have the necessary credentials in their relevant kubeconfig then any of the internal commands (assuming calico is installed of course) would just work. That seems to be the standard amongst other projects (i.e. kubectl, istioctl, glooctl, etc..).
__________________________

[2021-03-01 03:50] tanvp112 commented on #2241
yes, run as root with command: calico-node -felix

[2021-03-03 08:49] kishkulk opened #2269 "s390x calicoctl-linux binary"
Hi Team,

   Can you please make s390x calicoctl-linux binary available as part of  https://github.com/projectcalico/calicoctl/releases?

   This will help zLinux users to consume calicoctl easily

[2021-03-09 17:19] lmm commented on #2268
@cdancy I think you're right that we should be limiting sudo usage. In this specific case, you might be logged onto the node as a normal user without access to the files needed by the `node checksystem` command hence the sudo (maybe there's another way of doing those checks?)

[2021-03-09 17:49] #2268 closed

[2021-03-11 14:12] sigxcpu76 opened #2277 "Random failures in bird"
After a series of various node restarts, sometimes bird fails to move peers to `up` state. sitting in `wait`.
I've noticed that there was a (closed?) ticket for this issue: https://github.com/projectcalico/calicoctl/issues/900

The behaviour described there is identical with what is described there. If a node is down and kept down, other nodes randomly fail to establish the mesh upon restart.

##

[2021-03-13 00:06] prbsparx opened #2278 "Add argument to list NetworkPolicies that were created/applied/deleted."
In the current `calicoctl apply` output, all that it lists is:

    Successfully applied # 'NetworkPolicy' resource(s)

If you pass multiple, but only a subset gets applied, it would be very helpful to know which ones were successfully applied.

## Expected Behavior
The following should work on any verb that supports doing an action on multiple items at once. e.g. create, apply, delete

`-l` = lis

[2021-03-23 16:53] caseydavenport commented on #2277
In the original issue it looks like the suspected causes is that the indefinitely delayed GR with the dead node is preventing other nodes from properly gracefully restarting.

   selection for an address family until it either (a) receives the
   End-of-RIB marker from all its peers (excluding the ones with the
   "Restart State" bit set in the received capability and excluding the
   ones that do

[2021-03-25 01:07] auqf opened #2290 "the calico can not working well"
the calicoctl yaml is https://docs.projectcalico.org/manifests/calicoctl.yaml and the calico yaml is https://docs.projectcalico.org/manifests/tigera-operator.yaml
![image](https://user-images.githubusercontent.com/8895540/112403405-4f730880-8d49-11eb-9cdc-408cb42b7adf.png)
![image](https://user-images.githubusercontent.com/8895540/112403428-5d288e00-8d49-11eb-8d25-21e8bd038a4e.png)

[2021-03-31 17:52] rkamudhan commented on #1464
@caseydavenport Could you please explain the logic how the calico find the pod-cidr from kubeadm init command ?

[2021-03-31 17:55] rkamudhan commented on #1464
@caseydavenport this information available inside the kubeadm-config. I got my answer.

[2021-04-06 16:31] song-jiang commented on #2290
@auqf What is the status of calico-node and operator pods by running `kubectl get pod -A`?

[2021-04-20 16:33] lmm commented on #2241
Hi @tanvp112 , are you still having issues with `calicoctl node status`?

[2021-04-20 17:36] #2290 closed

[2021-04-21 21:50] #2269 closed

[2021-04-22 10:29] tanvp112 commented on #2241
hi, the issue is the following command. Please see first message.

sudo calicoctl node diags --log-dir=$PWD

[2021-04-23 15:57] caseydavenport commented on #2278
@prbsparx yep agree this would be nice.

For what it is worth, in v3.19 we're adding a tech-preview feature that allows just using kubectl for creating resources, which I believe will do this exact thing.

[2021-04-24 04:21] prbsparx commented on #2278
Y'know I'm pretty sure I asked about that feature almost a year ago but I can't find the issue related to it at all.

I'm excited for that ability, it'll make it much easier. Explaining to my kuberenetes admins what I'm doing with calicoctl will disappear. :D

[2021-04-27 23:40] caseydavenport commented on #2278
Yes, it's been a long time coming - very glad to see it now!

[2021-05-15 15:38] giacomobartoli commented on #2181
@caseydavenport so, how can I run the command calicoctl without incorring into this issue?

[2021-05-20 10:01] Alex-ander-s commented on #2181
@giacomobartoli
@marcelo-devsres
It depends on your cluster setup how you should set the ETCD_ENDPOINTS variable.
On our system we basically issued the internal certificates for the connection to the ETCD to **IP adresses** which means we also have to use the **IP adress** in ETCD_ENDPOINTS variable instead of the hostname.
So maybe replacing your
ETCD_ENDPOINTS=http://etcd1.intra:2379
with
ETCD_E

[2021-07-30 08:16] davidhay1969 opened #2384 "Vulnerability in Alpine Linux apk-tools - CVE-2021-36159"
The `calicoctl` image, as built via [Dockerfile.s390x](https://github.com/projectcalico/calicoctl/blob/master/Dockerfile.s390x) contains a potential vulnerability in the Alpine Linux `apk-tools` component.

This was highlighted by a scan of the resulting image, using IBM Container Registry's Vulnerability Advisor tool, which reported: -

[code]

This is further documented [here](https://snyk.io/vu

[2021-08-07 12:22] kitos9112 opened #2391 "calicoctl version mismatch when installed via homebrew channel only - Linux AMD64 tested only"
This is an interesting one that I could not see reported here on any other GH issue so far - Seems like the package containing `calicoctl` v3.20.0 (~HEAD) has been wrongly compiled without the leading `v` in front of the sem. version.

## Expected Behavior

## Current Behavior
Cannot use `calicoctl` directly installed from homebrew.

## Steps to Reproduce (for bugs)
A shell snippeter of what I did

[2021-08-10 15:00] AlexShu88 commented on #2105
@song-jiang , in my cluster, CNI is configured as Calico IPIP, but the calico logs are full of below errors:
021-07-20T23:09:45.693059301Z 2021-07-20 23:09:45.692 [INFO][81] int_dataplane.go 967: Finished applying updates to dataplane. msecToApply=0.636005
2021-07-20T23:09:45.794213171Z 2021-07-20 23:09:45.793 [INFO][81] int_dataplane.go 953: Applying dataplane updates
2021-07-20T23:09:45.79462419

[2021-08-10 16:40] coutinhop commented on #2391
We introduced version mismatch checking in v3.20, so likely the homebrew formula already did not contain the leading "v" but this was not an issue then. @chenrui333 I think the fix for this would be to add the leading "v" to line 27 of the formula?

https://github.com/Homebrew/homebrew-core/blob/bada3dfa842720e298c9e3811207d88743636142/Formula/calicoctl.rb#L27-L28

Meanwhile, a workaround would be

[2021-08-10 16:58] caseydavenport commented on #2384
That would be lovely - send them my way and I'll gladly review and merge. @davidhay1969

[2021-08-11 13:50] kitos9112 commented on #2391
I'd rather prefer installing `calicoctl` directly from GitHub as my previous steps outlined. Adding an extra flag to my `calicoctl` seems cumbersome to me.

[2021-08-14 13:59] kitos9112 commented on #2391
@coutinhop noted that. I'll try to raise an issue there. Nonetheless it might need to be in a couple of days time as I'm away ATM

[2021-08-15 08:37] davidhay1969 commented on #2384
Thanks @caseydavenport PR #2394 [Updating apk-tools in Alpine-based images #2394](https://github.com/projectcalico/calicoctl/pull/2394) raised

[2021-08-23 19:56] MasterAler commented on #2009
Same issue, had to workaround with `cat ip-pool.yaml | calicoctl apply -f - `

[2021-09-01 18:17] #2384 closed

[2021-09-14 14:10] czhenly opened #2413 "felix didn't create interface"
I follow this topic(https://docs.projectcalico.org/getting-started/openstack/installation/redhat) to use calico for Openstack, but felix donn't create interface tapxxx for vm

## Expected Behavior
I hope felix can automatically create an interface

## Current Behavior

calico-felix:
[code]

calico-dhcp-agent
[code]

## environment
 os: centos7.4

calico-felix config:
[code]

[2021-09-14 14:11] #2413 closed

[2021-09-21 16:40] #2241 closed

[2021-09-21 16:40] caseydavenport commented on #2391
Any update on this one?

[2021-09-27 17:16] markus-seidl opened #2423 "Calico + K3s + Armbian (Rock64) = exec format error"
## Expected Behavior
Installed Calico on k3s and expected the Tigera-operator to start.

## Current Behavior
[code]

## Possible Solution
None found (yet)

## Steps to Reproduce (for bugs)
1. Use Armbian Ubuntu 20.04.3 LTS on a Rock64 with 4Gig RAM (aarch64)
2. Install k3s v1.21.4+k3s1 with k3s_exec options " --disable servicelb --flannel-backend=none --disable-network-policy --cluster-cidr=172.16

[2021-09-27 17:32] markus-seidl commented on #2423
Sorry for the noise - wrong calico project.

[2021-09-27 17:32] #2423 closed

[2021-10-04 17:29] kitos9112 commented on #2391
I've yet not raised an issue on the brew formula, but the fix seems quite straightforward by having to change a couple lines of code as suggested earlier.

[2021-11-24 16:49] kelly-brown opened #2460 "Docker build is running off of older version of RHEL UBI"
I'm seeing some security vulnerabilities cropping up in our scanning of the calioctl image out on docker hub.  Looks like you guys are tagging that to RHEL 8.2  I think 8.5 went GA on 11/9/2021.  Can you guys get an update in the queue?

Thanks!

https://access.redhat.com/articles/3078

[2021-11-30 17:13] caseydavenport commented on #2460
For what it is worth, the calicoctl image only uses UBI as an intermediate layer in order to add some license files to the produced image. There is no UBI code in the final resulting image, which is actually just scratch with the compiled binary and license file present: https://github.com/projectcalico/calicoctl/blob/master/Dockerfile.amd64#L20-L38

That said, should still be fine to bump the ver

[2021-12-07 14:22] Akasurde commented on #2460
resolved_by_pr #2465

[2021-12-07 19:16] #2460 closed