[2015-01-22 17:58] liljenstolpe opened #1 "in the calico launch docs core-01 and core-02 flipped"
Greetings core-01 and core-02 are flipped in the peer settings in calico launch

[2015-01-23 02:02] Symmetric opened #2 "Timing issues when running demo inside VMWare VM"
I'm trying to run the demo on my dev box, which is a VMWare VM. The setup scripts took a very long time, though I did eventually get to the "Creating networked endpoints" step.

At that point, I didn't get connectivity between the containers, and there were some errors in the master logs:

[code]

Here  are the links to the diags bundles:

[core-01](https://transfer.sh/Gs5d9/diags-20150123-005959.

[2015-01-23 08:26] Lukasa commented on #2
This error occurs when the Felix that is supposed to set the interface up does not respond within 10 seconds. In a 'real' system this will be handled by the plugin, but in this early demonstration version the plugin treats it as a severe error and exits.

Looking at the logs, the relevant Felix is the one on core-01. That Felix starts processing the message at 00:55:22,418, more than one second af

[2015-01-23 09:08] Lukasa commented on #2
Tracking these issues as metaswitch/calico#141, metaswitch/calico#142, and metaswitch/calico#143.

[2015-01-23 09:10] ed-harrison commented on #1
I believe this was fixed by https://github.com/Metaswitch/calico-docker/commit/88fe28d79ea0716bbfe5c25f3f516138fa440a8d.

[2015-01-23 09:12] Lukasa commented on #1
Looks like.

[2015-01-23 09:12] #1 closed

[2015-01-26 09:12] Lukasa opened #3 "Felix uses way too much CPU"
We've had reports that Felix can use easily a whole CPU core in this demo. Clearly this is being inflicted by the rapid poll rate in Felix for this demo (far higher than we use in any production environment), but we should determine whether or not this is the result of a bug or is expected behaviour.

[2015-01-26 09:25] plwhite commented on #2
That all sounds right. It's not 100% clear if there's a pragmatic short term fix for this (e.g. pushing up timeouts), but in practice I think running in containers within VMs within VMs is really just getting to the point where it's not surprising we hit issues.

[2015-01-26 09:53] plwhite commented on #3
I think this should be an issue in the Felix repository - we know that shelling out is a CPU issue, and we should investigate how serious that issue is (which is quite easy to find out).

[2015-01-26 11:56] Lukasa commented on #3
For now, until we've investigated whether this issue genuinely is going to get hit in any production environment, I think it should stay here. When we've concluded that it's a real problem we should open an issue to track the root cause on the Calico repo. =)

[2015-01-27 13:34] plwhite commented on #3
I decided to investigate by removing the "ipset" commands from felix. The conclusion is that, on a single core and not incredibly fast VM with 4GB of RAM :

* Removing all the ipset shelling out turned the CPU use from 13% to 6% (total,  over all processes, though Felix is the biggest share of that).
* Replacing all the ipset shelling out with shell calls to something else ("echo") to just measure

[2015-01-27 13:38] plwhite commented on #3
Closing this down as covered by Felix issue : https://github.com/Metaswitch/calico/issues/150

[2015-01-27 13:38] #3 closed

[2015-01-30 01:07] spikecurtis opened #4 "Segfault in busybox container"
When I run the demo and attach to a container, then try to check its IP config, I get a segfault.

[code]

Diags at:
https://transfer.sh/2iyBO/diags-20150130-010421.tar.gz

[2015-01-30 11:03] Lukasa commented on #4
Interesting. I don't have a working docker environment atm so I can't reproduce this, so I'll let @plwhite take a swing.

[2015-01-31 22:45] plwhite commented on #4
Not me, I'm afraid. I've never got this demo to work at all.

I'm going to guess Tom is the right person to assign it to.

[2015-02-02 13:01] ed-harrison commented on #4
FWIW - I can reproduce it quite readily using the demo in this repo.  I guess the question is whether it is something specific about the busybox containers in this demo (i.e. they'd segfault even if Docker were setting up the networking rather than Calico), or something in what Calico is doing (or not doing).

@plwhite do you have any of your containers from the work you've done on Metaswitch/cali

[2015-02-02 13:16] plwhite commented on #4
Sorry, I misread this as an issue in the vagrant VMs. Cannot repro this here.

    root@calico-vm05:/home/ubuntu# docker attach 192_168_1_1
    root@bb19d26423a0:/#
    root@bb19d26423a0:/#
    root@bb19d26423a0:/# ip route
    default dev eth0  scope link
    root@bb19d26423a0:/# ip addr
    1: lo: <LOOPBACK,UP,LOWER_UP> mtu 65536 qdisc noqueue state UNKNOWN group default
        link/loopback 00

[2015-02-02 13:21] ed-harrison commented on #4
To answer your first question, yes the containers have connectivity.  In other words, the "demo" is working fine (i.e. from container $A I can ping container $D in the same security group but not container $B in a different one); it's just that this particular command fails.

I'm firing up my VMs again to check the latter question - do you want me to look on the host VM or in the container itself?

[2015-02-02 13:28] ed-harrison opened #5 "core-01 and core-02 end up on different VirtualBox Host-only adapters"
When I run "vagrant up" on my system, my two VMs end up on separate Host-only adapaters.  In other words, core-01 will be on adapter #2 while core-02 will be on adapter #3.  In order to proceed through the demo, I need to use the Oracle Virtual Box console to change the settings on one of the VMs (in other words, change core-02 so that it uses adapter #2).

Moreover, if I do a "vagrant destroy" ad

[2015-02-11 21:25] fasaxc opened #8 "calicoctl addtogroup doesn't support truncated container IDs"
I lost my container ID $A/$B/$C variables by quitting SSH and tried running calicoctl addtogroup with the container id from docker ps but it failed:

    $ sudo ./calicoctl addtogroup f58a67cc1cae GROUP_A_C_E
    'Container with ID f58a67cc1cae was not found.'

[2015-02-11 21:28] fasaxc opened #9 "`sudo ./calicoctl reset` fails with exception"
$ sudo ./calicoctl reset
Traceback (most recent call last):
  File "<string>", line 401, in <module>
KeyError: '--delete-images'

[2015-02-11 21:30] tomdee commented on #8
This is fixed already, it just hasn't made it into a release.

[2015-02-11 21:30] #8 closed

[2015-02-11 21:32] tomdee commented on #4
This is a bug in busybox. I suggest raising a bug there.

[2015-02-12 10:32] plwhite opened #12 "Add ability to network an existing container"
The main use case is where you create a container using the standard docker bridge, then want to add a Calico interface complete with IP and route (so that you have a container with a both a docker bridge for management and a Calico routed IP). At the point where the Calico interface is added, the default route on the container would change to use the Calico IP rather than the bridge.

To be clear

[2015-02-12 21:29] tomdee commented on #12
So, the route to the dockerbridge IP range should stay intact?

[2015-02-16 09:43] plwhite commented on #12
Yes, I think so.

[2015-02-18 01:47] Symmetric opened #18 "confd fails to start, missing /config/ directory."
On master (8034731c37868c3bc976c645b89e7b29c0f23e1e), I can't run the node or master containers. They are cyclically rebooting with this error:

[code]

I've tracked the problem down to a recent(ish) change that removed the /config directory from the config file.

PR incoming to fix that.

[2015-02-18 15:23] spikecurtis commented on #18
Already fixed in the latest version.  Sorry about that.

[2015-02-19 09:07] tomdee commented on #9
Fixed

[2015-02-19 09:07] #9 closed

[2015-02-19 09:07] #18 closed

[2015-02-19 22:10] Symmetric opened #23 "node creation fails if the netns doesn't have a default route"
Seen on master, commit 3038967.

If there's no default route in the created container:

[code]

PR incoming to fix this.

[2015-02-20 09:31] #23 closed

[2015-03-05 19:34] spikecurtis commented on #12
Fixed in v0.0.7.

[2015-03-05 19:34] #12 closed

[2015-03-05 19:34] #4 closed

[2015-03-13 18:23] spikecurtis opened #36 "calicoctl diags fails on CoreOS"
[code]

[2015-03-13 18:26] tomdee commented on #36
What version of CoreOS are you running?

[2015-03-13 18:47] Lukasa commented on #36
It wouldn't surprise me in the slightest if libcurl is compiled without SSL on CoreOS. OpenSSL is a nightmare hellscape full of pain, and if I were the CoreOS devs I'd do my best to keep it out of the base distribution.

[2015-03-13 19:27] spikecurtis commented on #36
I'm on coreos-alpha 612.1.0

[2015-03-19 22:03] Symmetric opened #42 "Endpoints for terminated docker containers are not cleaned up"
If a docker container terminates (either because its command completed, or because it was stopped/removed), the endpoint that was created in etcd by the powerstrip adapter is not cleaned up.

This leak can cause felix to spew a lot of logs; on my system I'm seeing ~50 logs per second of the form

[code]

We could intercept delete events on the docker REST API, but that only covers a subset of cont

[2015-03-19 22:13] spikecurtis commented on #42
Or, we could just implement our own calico-docker garbage-collection daemon to listen to the Docker event stream.

[2015-03-24 09:18] alexwlchan opened #44 "The link to the technical page on the Calico website in the README is broken"
Specifically, this paragraph:

I get a 404 if I try to visit that page. I assume it got moved around in the website redesign.

I don't know what (if any) is a suitable replacement link. I'd guess http://www.projectcalico.org/learn/, but I'm not totally sure.

(For comparison, the old page is [in Google's cache](http://webcache.googleusercontent.com/search?q=cache:z6sV0Se7IaUJ:www.projectcalico.org

[2015-03-24 10:36] ed-harrison commented on #44
Good spot - see pull request #45.

[2015-03-24 11:19] alexwlchan commented on #44
I've merged pull request #45, so this is fixed.

[2015-03-24 11:19] #44 closed

[2015-04-08 01:30] rohansingh opened #52 "Why isn't `CALICO_IP=auto` the default?"
When browsing the source, I noticed that using `-e CALICO_IP=auto` will cause calico-docker to auto-assign an IPv4 address. Is there any reason this isn't the default?

When integrating with orchestrators, it's not always reasonable to expect every orchestrator to always pass a `CALICO_IP` environment variable. If an orchestrator is going to the trouble of using the Powerstrip endpoint for Calico

[2015-04-08 20:15] spikecurtis commented on #52
Right now the Calico adapter for Powerstrip looks for that variable to know which container requests to add Calico to.  The idea is that if that variable isn't present, we wouldn't set up Calico networking (if, for example, you needed to run a container with "host" networking).

As you hinted at, people can always bypass Powerstrip and go directly to the Docker API for that, but that approach won'

[2015-04-08 20:42] rohansingh commented on #52
@spikecurtis Thanks for the in-depth explanation! I'm looking into Calico as a possibility for running Kubernetes. For now I'll just always specify the `CALICO_IP` variable for each pod. Thanks again.

[2015-04-09 17:57] #52 closed

[2015-04-10 22:23] Symmetric opened #56 ""No such image" when running calicoctl node"
Running the `calicoctl node` command, I got the following error:

[code]

This looked a bit suspicious, so I tried pulling the image manually -- doing that allowed `calicoctl node` to function properly:

[code]

I think we need to call /images/create first to pull the image. (c.f. docker run description, ss [3.1](https://docs.docker.com/reference/api/docker_remote_api_v1.17/))

[2015-04-13 06:10] frostynova opened #59 "confd doesn't handle hostnames (must use IPs for ETCD_AUTHORITY)"
for example:

[root@d72 ~]# ./calicoctl node --ip=10.100.143.72 --etcd=127.0.0.1:2379
Usage:
  calicoctl node --ip=<IP> [--node-image=<DOCKER_IMAGE_NAME>] [--ip6=<IP6>] [--force-unix-socket]
  calicoctl node stop [--force]
  calicoctl status
  calicoctl shownodes [--detailed]
  calicoctl profile show [--detailed]
  calicoctl profile add <PROFILE>
  calicoctl profile remove <PROFILE>
  calicoctl pr

[2015-04-13 16:29] spikecurtis commented on #59
It was getting pretty annoying to have to type `--etcd=` for just about every `calicoctl` command. Instead, `calicoctl` reads that information from the environment variable `ETCD_AUTHORITY`

Sorry for the confusion!  I'll make a note to add it to the docs.

[2015-04-13 22:46] Symmetric opened #60 ""curl: symbol lookup error" when running `calicoctl diags`"
Using the calico-coreos-vagrant-example template, I'm getting the following error when running `calicoctl diags`:

[code]

This is with v0.3.1, running CoreOS v575.0.0.

[2015-04-14 02:48] frostynova opened #61 "new docker instance route discovery slow"
I have built a test environment on Xen Server VMs (on the same physical server), for example host: d72 d73

then i launch some docker containers on them, i found the new container's route rule took up to 2-3 mins to appear in d72 or d73's route table, it is that normal?

[2015-04-14 08:15] neiljerram commented on #60
I've seen something like that, except with SSLv3 instead of v2, and with gevent instead of curl. The reason was that the OpenSSL on the host OS (Debian) did not provide the SSLv3 symbol, because they had removed it (cf. upstream OpenSSL) on the grounds of it being insecure. Fix was to install a newer gevent (from git) that doesn't ask for SSLv3.Could it be similar in your case?

[2015-04-14 11:15] Lukasa commented on #61
@frostynova Does it just take a long time to appear in the *other* host's routing table? That is, if you create a container on d72, does the container route take a long time to appear in both routing tables, or just d73's?

[2015-04-14 11:55] frostynova commented on #61
@Lukasa in both, but i can not reproduce it now. I changed the bird.conf in node container:

protocol kernel {
   -scan time 20;
   +scan time 1;
}

protocol device {
  - scan time 10;
  + scan time 1;
}

now the new route almost appear immediately

[2015-04-14 11:58] frostynova opened #62 "if the whole docker cluster is large enough, will the linux route table become a bottleneck?"
I notice that when launched a new container each host in the cluster will add a route rule, so if the cluster has 100 hosts, each host has 100 containers, the route table on each host will be more than 10000? will it become a bottleneck?

[2015-04-14 12:09] frostynova commented on #61
@Lukasa  i doubt if reduce the scan interval will cost much more than default configuration?

[2015-04-14 13:18] Lukasa commented on #61
The kernel scan time is the important factor: you can leave the device scan time relatively large.

I don't know where your scan times came from, because all the default configurations I can see have the kernel scan time set to 2, which should be low enough for most simple cases.

[2015-04-14 13:21] Lukasa commented on #62
We don't believe so. We've done ad-hoc tests of the Linux kernel FIB at much larger scale than 10k and it has performed admirably.

In the event it does become problematic, it's not too difficult to perform aggregation on the routes if the IP address management system allows us to. That would involve essentially pre-allocating IP blocks to each host and then ensuring that containers launched on th

[2015-04-14 13:21] #62 closed

[2015-04-14 13:22] frostynova commented on #61
@Lukasa thanks, i used v0.3.1 default container from there: https://github.com/Metaswitch/calico-docker/releases/

[2015-04-14 14:30] Lukasa commented on #61
Hmm, @spikecurtis, any idea how the BIRD container ended up with a large scan time in v0.3.1?

[2015-04-14 14:46] neiljerram commented on #60
I've just had a similar report from another partner, and it now appears that my previous comment was probably entirely irrelevant.  Instead, these errors seem to be to do with how the binary version of calicoctl is prepared (from the calicoctl.py source).  It appears that the binary version can assume that certain libraries or features will be present on the system where calicoctl is run - and the

[2015-04-14 14:47] neiljerram commented on #60
Similar problems are being discussed here: https://github.com/docker/compose/issues/170.

Also note that the 'rl_signal_event_hook' report came from running on ArchLinux.

[2015-04-14 14:57] neiljerram commented on #60
Ah, http://www.bay12forums.com/smf/index.php?topic=140966.115;wap2 says (for the same problem in an unrelated tool):

    Apparently there's a known incompatibility between Python 2.7 and readline 6.3; the pre-built executable is using a bundled Python 2.7 interpreter, so if you have the latter installed, that would cause it.

    It looks like Python has been updated to fix it since then, so I'll

[2015-04-14 15:55] fasaxc commented on #61
Marked as a bug, it should be much faster than that.

[2015-04-14 16:01] teemow commented on #60
I've compiled `calicoctl` in a archlinux container and then it works without `rl_signal_event_hook` errors.

[2015-04-14 18:01] spikecurtis commented on #61
When we start up bird in the calico-node container, bird uses the config at `/config/bird.conf` which should have a scan time of 2 seconds.  Note that it *does not* use the default file location of `/etc/bird/bird.conf`, which might be where you are seeing the longer scan times.

I'll keep digging on why things are taking so long, but I think the kernel scan time is a red herring.

[2015-04-14 18:03] Lukasa commented on #61
@spikecurtis Including the change of scan time fixing the problem?

[2015-04-14 18:24] spikecurtis commented on #61
Ok, I've repro'd it locally, and I think it's a Felix problem reading from etcd: https://github.com/Metaswitch/calico/issues/323

Felix doesn't get the update from etcd in a timely fashion.  When its connection times out, it re-reads what it missed and gets the updates, but this can be 10s of seconds after the endpoint was created.

[2015-04-14 18:46] fasaxc commented on #61
I don't think it's Metaswitch/calico#323; that issue was that the read takes longer to time out than it should due to retries.  I think we've got a more fundamental issue: we have an open watch connection but we don't get the event until after we timeout and retry.

I'm going to capture some tcpdump snoop from my local repro and see if I can pin the blame on one of the components.

[2015-04-14 19:25] tomdee commented on #60
@teemow Does this mean you're unblocked for your upcoming demo? If so, we can look into a more strategic fix for this.

[2015-04-14 20:24] spikecurtis commented on #61
I think we've isolated this to etcd.  Fortunately, there is a new version that seems to address the issue for me.  @frostynova can you upgrade etcd to 2.0.9 (https://github.com/coreos/etcd/releases/tag/v2.0.9) and let me know if that fixes the issue for you as well?

[2015-04-14 20:56] fasaxc opened #63 "New versions of python-etcd alter exception hierarchy"
For my local testing, I've got a newer version of python-etcd (installed from master on Github with some local changes).  The new version has a richer exception hierarchy and doesn't use KeyError for "key not found" and the like.

Not sure when that version will land in PyPI but it breaks calicoctl, which is expecting KeyError.

[2015-04-14 23:02] spikecurtis commented on #61
Tracking upstream at https://github.com/Metaswitch/calico/issues/359

[2015-04-15 00:28] spikecurtis commented on #61
I've uploaded a new release which works around the underlying issue in python-etc/urllib until we can upstream a fix there.  etcd wasn't the problem.  See https://github.com/Metaswitch/calico/issues/359 for full details.

https://github.com/Metaswitch/calico-docker/releases/tag/v0.3.2

@frostynova You can ignore my previous comment about etcd version upgrade---the new release linked above should w

[2015-04-15 04:17] frostynova commented on #61
@spikecurtis thanks, i will try the new calico-docker version  :)

[2015-04-16 01:24] lxpollitt opened #70 "Add container ID to calicoctl profile show --detailed"
Currently profile show displays two columns: the profile name and the Calico end point ID.  It would be very useful to have a third column that displays the Docker container ID (in the same 12 char abbreviated style that docker ps does).

[2015-04-16 01:27] lxpollitt opened #71 "Shorten Docker container IDs in calicoctl shownodes --detailed"
Currently the output of shownodes --detailed has extremely long lines which will wrap in many terminal windows.  It would be would be good to shorten Docker container IDs (displayed in the Workload ID column by calicoctl) to the 12 char abbreviated form in line with how docker ps displays container IDs.

[2015-04-16 07:33] frostynova commented on #59
@spikecurtis I found another problem, ETCD_AUTHORITY cannot set to "localhost:2379", must be "127.0.0.1:2379", otherwise the calico node cannot start

[2015-04-16 11:18] frostynova opened #72 "how to change a container's profile?"
i use:
[code]
to change container xyz to profile test2, but seems the ipset or iptables rules not changed? xyz still cannot ping other containers in test2

so how can i change a container's profile?

and  if a container wants to communicate with two or more profile, how can i do that?

[2015-04-16 17:27] spikecurtis commented on #59
@frostynova Yep, I can repro that behavior on my machine.  Looks like `confd` doesn't handle hostnames.

We should be able resolve that issue in our next release.

[2015-04-16 18:13] spikecurtis commented on #72
@frostynova you've got the command correct to set the profile (I assume `calicocl` is just a typo and use did use `calicoctl`).  Can you try running `calicoctl diags` and post the link to the diags bundle.  It would also help to know the other commands you ran.

I'm working on an example doc for customizing the network policy, which will include how to allow communication between profiles.  I'll p

[2015-04-16 19:28] spikecurtis opened #75 "calicoctl node fails on Ubuntu with Docker 1.12"
`apt-get install docker.io` apparently installs Docker 1.12, which causes an API error when we run `calicoctl node`.

[code]

We should investigate whether we can be compatible with this version of the API, and if so, use it.

[2015-04-16 19:38] spikecurtis commented on #72
This doc gives some more advanced examples of how to enable communication between different profiles.  Let me know if you have any questions!

https://github.com/Metaswitch/calico-docker/blob/master/docs/AdvancedNetworkPolicy.md

[2015-04-16 21:07] spikecurtis commented on #56
Fixed in master.

[2015-04-16 21:07] #56 closed

[2015-04-16 21:08] spikecurtis commented on #36
Dupe of #60 .  Closing because that one has better comments.

[2015-04-16 21:08] #36 closed

[2015-04-16 21:11] spikecurtis opened #77 "bird6.conf fails to recognize a host when its name is a prefix of another."
Created a host `core-01` using `calicoctl`.

Then created a host using `etcdctl` to represent a real router, using the hostname `core-01-tor`.  bird6.conf failed to set up peering to the router.

Tried again with hostname that didn't have `core-01` as a prefix, and it worked.

[2015-04-16 21:13] spikecurtis commented on #2
Closing, `calico-docker` is no longer on the affected branch of Felix.

[2015-04-16 21:13] #2 closed

[2015-04-17 02:43] frostynova commented on #61
The new version seems to work well, thanks all

[2015-04-17 02:43] #61 closed

[2015-04-17 02:58] frostynova opened #82 "How to upgrade calico node safely?"
If i want to upgrade the calico node, can i just stop the old container then pull and create a new one? is it safe to do so? (means not affect current environment, such as missing route rule or  iptables rules)

If i have a cluster, can i do this one by one or just together?

[2015-04-17 04:30] frostynova commented on #72
@spikecurtis thanks for the new doc.

i just reproduce the problem with a clear example (btw, diags cannot run on CentOS 7, no netstat and route command) :

we have two hosts: d72 and d73
on d72 we create two containers and add them to their profiles

1. docker run -e CALICO_IP=192.168.20.2 -td ubuntu --name web_node1
1. calicoctl profile add web
1. calicoctl profile web member add web_node1
1. do

[2015-04-17 09:25] Lukasa commented on #82
Hi @frostynova!

Right now we don't support seamless upgrade in calico-docker. The core Calico components do, but in calico-docker if you do that then the current environment absolutely *will* be affected. We're working on adding this functionality as we speak: expect it in the near future.

It would be interesting to know what you're doing with calico-docker and what your time-scales are. If you'

[2015-04-17 09:50] frostynova commented on #72
Go on testing, when following the new doc to set profile tags, i made a mistake, i added a tag which name is the same as other profile name. Then everything went wrong, i have to reset all config and iptables' rules to get everything ok.

So if a tag name can not be the same as a profile name, and it is dangerous, i think we need some method to prevent this happen.

[2015-04-17 10:00] Lukasa commented on #72
This is correct. Right now, Calico uses connection tracking to prevent us from needing to insert bi-directional rules that allow established traffic. We *may* want to add functionality to force connection tracking state to be dropped on profile change.

[2015-04-17 10:43] frostynova commented on #82
@Lukasa We just work on a new PaaS for our company, which is based on docker. Current we are still being early stage. I choose calico-docker as our network solution and doing some testing on it. We plan to deploy the first demo app later this month, and in the middle of the year to make it a production environment.

I wonder how current environment will be affected? i think route table and iptable

[2015-04-17 14:17] spikecurtis commented on #72
Profiles get set up by default with a tag name the same as the profile name---this is just so they behave like a group by default.  Hopefully that explains the behavior you were seeing.  If not, then could you give more detail?

You can remove any tags from the profile you don't want, including the default.

calicoctl profile <profile> tag remove <tag>

[2015-04-17 15:05] frostynova commented on #72
@spikecurtis oh, maybe what I said is confused.

for example, I had two profile A and B, what will happen if I add tag A to profile B?
I think containers in B can connect to A, but actually they even cannot connet to their hosts ip.

[2015-04-20 08:13] neiljerram opened #85 "Broken 'Calico CoreOS Vagrant' link"
On https://github.com/Metaswitch/calico-docker/blob/master/docs/GettingStarted.md, the link in "Use Calico CoreOS Vagrant to start a cluster in VMs on your laptop or workstation" seems to be broken.  It tries to go to https://github.com/Metaswitch/calico-docker/blob/master/docs/calico-coreos-vagrant, but I get 404 for that.

[2015-04-20 09:53] alexwlchan commented on #85
Looks like a typo in the Markdown syntax; should be fixed now.

[2015-04-20 09:53] #85 closed

[2015-04-20 10:49] grkvlt opened #86 "Add ability to specify container NIC interface name"
When using `calicotl container add` it would be useful to be able to specify the interface name directly, since `eth1` may not be available.

[2015-04-20 10:52] grkvlt opened #87 "How to add multiple IPs per container?"
This is mentioned in the README, but I copuld not find documentation on the lower level API to use?

What should I be doing here? I would actually like to be able to run `calicoctl container add` multiple times with different interface names and IP addresses if possible in future, but until then I am happy to use a different mechanism from [Clocker](http://github.com/brooklyncentral/clocker/) inst

[2015-04-20 10:58] grkvlt commented on #59
+1 I had the same issues. I also had to discover `ETCD_AUTHORITY` by browsing the code, this should be documented somewhere, probably?

[2015-04-20 15:55] tomdee commented on #59
FTR - ETCD_AUTHORITY has been added to the usage string, but the hostname vs. IP issue in confd hasn't been resolved yet.

[2015-04-20 18:36] spikecurtis commented on #72
Yes, if you add tag A to profile B, then containers in B should be able to connect to A, assuming you left the rules as they were by default.

If that fails then maybe something else is wrong.  Is it reproducable?  Can you send us diagnostics?

[2015-04-21 00:02] tomdee commented on #87
Do you really need to add multiple interfaces? A safer approach would be to just add multiple IPs to the existing interface.

To add multiple IPs (with the current code) you would need to add the IPs to the ipv(4|6)_nets array in the endpoint info - https://github.com/Metaswitch/calico-docker/blob/master/docs/etcdStructure.md#json-endpoint-config

And then manually adding the IPs to the interfaces

[2015-04-21 00:07] tomdee commented on #82
As @Lukasa says above, this is something we're still working on, but broadly speaking, yes, you should be able to do a rolling upgrade of your calico-nodes. If you take one down then other nodes will need to re-exchange routes with it over BGP when it comes back (if you're not using a route reflector).

[2015-04-21 21:44] #86 closed

[2015-04-21 23:04] #71 closed

[2015-04-21 23:07] tomdee commented on #87
Work in progress code for this is on the multiple-ips branch

[2015-04-21 23:10] tomdee commented on #5
I'm on the fence about documenting this. It's a vagrant problem, and not one that's unique to calico. No other projects that I've seen that use vagrant document this issue and once we document this problem, it's very hard to ever get rid of it. I think I'd just prefer to close this issue and hope we never see it again. WDYT?

[2015-04-21 23:49] lxpollitt commented on #5
Is the problem unique to Ed (i.e. he was just very unlucky) or is there something about Ed's setup that might turn out to be common.  e.g. Particular version of Windows OS, or a particular hardware?

[2015-04-21 23:51] tomdee commented on #5
Well, we couldn't work it out at the time and I doubt we'll be able to now. I don't think it's worth us spending (more) time on it and I don't think we need an issue to track it.

[2015-04-22 08:35] ed-harrison commented on #5
It could, potentially, be a bad interaction between vagrant/virtualBox and Windows 8 and/or the SP3.  I suspect most/all of our other testers will be using Win 7.  Virtual Box (not Calico!) definitely did something "bad" with my networking as it actually caused my wireless drivers to crash the machine about 15 minutes after going to sleep (a problem which went away as soon as I uninstalled VB).

P

[2015-04-22 11:14] frostynova opened #90 "NAT rule for metadata address 169.254.169.254 should not be configured"
I found a NAT rule:

Chain felix-PREROUTING (1 references)
target     prot opt source               destination
DNAT       tcp  --  0.0.0.0/0            169.254.169.254      tcp dpt:80 to:127.0.0.1:8775

but i cannot connect to 169.254.169.254:80

[2015-04-22 11:28] plwhite commented on #90
I think the answer to that is "no". That rule should only be created for an OpenStack deployment; with Docker it should be switched off (which can be done through the configuration).

For the short term it's harmless, but we ought to ensure that calico-docker sets the MetadataIP field to "NONE" to ensure that this rule is not populated. We'll address that in due course.

[2015-04-22 15:19] lxpollitt commented on #90
Ideally I think there should be no orchestrator specific code in Felix, and that Felix should provide a generic API to the orchestrator plug-in (via our etcd data model) so that the plug-in can drive funnies like this OpenStack requirement themselves.  For most calico-docker deployments for example, we definitely don't want this NAT rule, but we may want to insert an SNAT rule to allow containers

[2015-04-22 15:40] Symmetric commented on #90
Wort mentioning that other orchestrators use this IP too; e.g. CoreOS cloud
config.

I don't think this materially alters Alex's point, just wanted to flag it.

On Wed, Apr 22, 2015, 08:19 Alex Pollitt <notifications@github.com> wrote:

[2015-04-22 17:37] grkvlt commented on #87
@tomdee thanks, this seems like a reasonable approcach. I have provisionally updated Clocker to add mutiple IPs to the `eth1` interface based in the container now, but haven't touched the JSON data in etcd, I will wait until you have merged the `calicoctl` commands.

[2015-04-23 00:30] tomdee commented on #5
Merged the vagrant README fix so closing.

[2015-04-23 00:30] #5 closed

[2015-04-27 07:31] frostynova opened #92 "If env_list is 'null', env_to_dictionary() in powerstrip-calico.py will throw exception"
We use calico behind swarm-manager which will pass a null Env, this will cause env_to_dictionary() throw:

[code]

I think it will be better to check the value of env_list first

[2015-04-27 07:54] Lukasa commented on #92
Thanks @frostynova: you might want to try the branch in #93 to see if that helps with your problem.

[2015-04-27 08:12] frostynova commented on #92
@Lukasa that is LGTM, thx!

[2015-04-27 08:12] #92 closed

[2015-04-27 12:35] frostynova opened #94 "Cannot allocate ip when behind swarm"
After i put the calico behind swarm, it failed to allocate ip for the new created container, the error of powerstrip is:

[code]

Then i attached to the container and run this command manually, it said File exists.
And there was a new interface named  tmp70c5b9c4ecd

Strangely, if the container created by docker run, everything is ok.

So i compared the HTTP packets  between using swarm and using

[2015-04-27 16:19] spikecurtis commented on #94
@frostynova, calico-docker doesn't support Docker Swarm yet, but we're interested in getting it working.

Can you give more detail on how you set up your Swarm?  Are you running a `calico-node` container on every host in your swarm?  How have you set up Swarm to talk to the Powerstrip port, rather than the usual Docker port?

[2015-04-28 00:03] tomdee commented on #94
@frostynova where do you get the "Powerstrip uses docker API 1.17" information from? As far as I know, powerstrip just passes requests through.

[2015-04-28 00:24] tomdee commented on #75
We're using features that require at least API version 1.15. Closing this as wontfix
[code]

[2015-04-28 00:24] #75 closed

[2015-04-28 01:03] tomdee commented on #94
@frostynova I'm also interested in your architecture here. Are you running `calicoctl node` directly on the hosts, or running launching the calico node container through swarm?

I've launched my calico nodes outside of swarm (using the normal `calicoctl node` command)
I've got `swarm join` talking to the powerstrip port and I can run containers through swarm and have calico assign IPs to them. I t

[2015-04-28 01:26] frostynova commented on #94
@spikecurtis @tomdee

Our architecture is almost the same with your example:

- Calico-node start first (started by calicoctl node)
- Then swarm-agent (not managed by calico)
- But the request is from a private Go app not ```docker run```

I tried your method which use ```docker -H``` to start a container managed by calico, everything is fine.

So i think maybe the problem is our Go app use a wron

[2015-04-28 07:13] frostynova commented on #94
@tomdee After some testing, i found the problem is in API ```start```, the calico powerstrip do not accept non-empty POST DATA in ```start``` request, for example:

config.json
[code]

We use this config to create a container first (through calico port 2377, our vagrant ip is 192.168.77.21):
[code]

Then start this container:
[code]

Everything is OK

But if we add a POST DATA(no matter a string o

[2015-04-28 07:22] frostynova commented on #94
In Docker API v1.15 Doc, we can see it need a POST DATA when starting a container (although it seems    to be useless)

http://docs.docker.com/reference/api/docker_remote_api_v1.15/#start-a-container

[2015-04-28 09:45] frostynova opened #95 "docker inspect cannot fetch IP information"
[code]

Docker inspect output:

[code]

[2015-04-28 16:25] alexaltair opened #96 "calicoctl doesn't give clean error messages."
While trying out the calico-docker demo, I got the following stack traces from the calicoctl executable.
[code]
[code]
This was useful for me, but it's probably not what we want our users seeing. Should we write generally cleaner-looking error messages?

[2015-04-28 16:33] tomdee commented on #95
Likely won't fix until we move away from powerstrip. This should be in time for the Docker 1.7 release Due in June.

[2015-04-28 16:38] tomdee commented on #94
@bincarlos Do you know what could be going wrong here? Does powerstrip have special handling of the start request?

[2015-04-28 16:44] tomdee commented on #72
Closing. @frostynova please reopen if there's still an issue here.

[2015-04-28 16:44] #72 closed

[2015-04-28 16:46] tomdee commented on #59
Could this just be a hosts or DNS issue. We'll need to do some more testing.

[2015-04-28 17:40] Symmetric commented on #94
@frostynova , can you create a gist with the contents of your `/var/log/calico/powerstrip-calico.log` file on the node (preferably captured immediately after reproducing the issue)? Or just tail that file and see if it changes when you post to the /start API endpoint?

The /start request should be hitting our adapter's post-hook handler, which would produce logs (and hopefully an exception if it's

[2015-04-28 18:49] tomdee commented on #94
@frostynova I've pushed a branch so that calico hooks in the /start API request use version 1.15 of the remote API instead of 1.16. This might fix your problem.

The branch name is older-docker-api

You'll need to build a new calico-node image - instructions should be in the docs directory but let me know if you have problems.

[2015-04-28 21:09] binocarlos commented on #94
@tomdee @frostynova Hi - there isn't anything particular Powerstrip is doing with a start request - it matches the routes in `adapters.yml` and is somewhat blind to their meaning.  The same is true for API versions - adapters.yml has wildcards for the version in the url e.g. `/*/containers/create` and passes the requested url back to Docker unmolested (after the pre-hooks have run)

I just gave th

[2015-04-29 01:35] frostynova commented on #94
@Symmetric The log gist: https://gist.github.com/frostynova/7581b5708f4cbaaa500e
@tomdee I will try it, thx

[2015-04-29 08:10] frostynova opened #99 "docker run will get stuck if command exit immediately"
[code]

Then it will hang. Powerstrip error log is:

[code]

I think this is because powerstrip has no time to execute the POST-HOOK which added ip for the container.

If i add a ```sleep 3``` then everything is ok.
[code]

But i think it would be better if not get stuck in this case.

[2015-04-29 11:46] frostynova commented on #95
@tomdee So is there anyway i can patch powerstrip myself to get the IP Address? Such as Add a hook for the ```Get``` request? Does powerstrip support this?

[2015-04-29 12:23] frostynova opened #100 "How can i expose a port?"
If i have a nginx container managed by calico,  how can i expose its port 80 to make it communicate with outside network?
I found ```docker run -p``` didn't work.

[2015-04-29 16:47] Symmetric commented on #95
@frostynova I wrote some code to handle `docker inspect` calls as part of an experimental branch, you could take a look at that:

https://github.com/Symmetric/calico-docker/commits/kubernetes-powerstrip

The main commit I think you'll need to cherry-pick is https://github.com/Symmetric/calico-docker/commit/e1f9a8cef2a5ea305fa1ed98432a54dc91a3b45d.

We'd happily accept a PR for this, so let us know

[2015-04-29 17:28] tomdee opened #102 "Calicoctl commands probably don't need ipv4|ipv6 at the start of many of them"
It can be inferred from the IP.

[2015-04-30 09:41] frostynova commented on #100
Maybe one solution is keeping the docker0 interface ?

[2015-04-30 16:27] Symmetric commented on #100
If you connected containers to the docker0 interface, then we would not be able to enforce security rules between workloads; all containers on the bridge would be able to communicate with each other.

To open a port, you should modify the rules in the container's profile.

See the [Advanced Networking Guide](https://github.com/Metaswitch/calico-docker/blob/master/docs/AdvancedNetworkPolicy.md) for

[2015-05-01 00:05] spikecurtis commented on #100
@frostynova or are you asking how to allow IP speakers outside the Calico container network to connect to your containers?

The short answer is that Calico looks like an ordinary routed IP network, with each compute host acting as a router speaking BGP.  You'll need to set up an edge router to connect the Calico network to the external network.  Setting this up requires you to manipulate the etcd

[2015-05-01 05:14] frostynova commented on #100
@spikecurtis yes that is what i want. We have nginx containers which accept external requests. Looking forward to have a doc for this. Thanks.

[2015-05-04 16:48] robbrockbank commented on #63
v0.4.0 calico-docker / calicoctl released.

This updates to the latest Felix and uses the new etcd deb for installing etcd.

[2015-05-04 16:48] #63 closed

[2015-05-04 16:49] tomdee commented on #87
Fixed in https://github.com/Metaswitch/calico-docker/commit/7f59c8784e7cd720c4fca8e4899e01f65d21c7c0 and in the new release (0.4.0

[2015-05-04 18:31] spikecurtis commented on #100
I just wanted to say that we're all at a conference this week, so it'll be next week before I have a chance to write this.

http://docs.projectcalico.org/en/latest/addressing.html

is a good overview of how this works (focusing on VMs, but you can just think of containers when they talk about VMs).  I'll cover specifically how to do this with calico-docker.

[2015-05-04 18:48] lxpollitt commented on #100
@frostynova - If you need more help before @spikecurtis is available, then please let us know.

[2015-05-04 18:58] robbrockbank commented on #90
MetadataAddr is now set to None in the calico-docker felix configuration ... verified that this is now fixed.

[2015-05-04 18:58] #90 closed

[2015-05-04 19:34] robbrockbank commented on #102
There are a few commands that have the ipv4|ipv6 options

  calicoctl (ipv4|ipv6) pool (add|remove) <CIDR>
  calicoctl (ipv4|ipv6) pool show
  calicoctl (ipv4|ipv6) bgppeer rr (add|remove) <IP>
  calicoctl (ipv4|ipv6) bgppeer rr show
  calicoctl (ipv4|ipv6) container <CONTAINER> (add|remove) <IP> [--interface=<INTERFACE>]

The configure commands we can infer the ip version, but the show commands w

[2015-05-04 20:26] Symmetric commented on #102
I like a combination of 1) and 4) -- remove ipvX as a mandatory parameter
from all commands, add as an optional flag at the end of all the show
commands.

On Mon, May 4, 2015 at 12:34 PM, robbrockbank <notifications@github.com>
wrote:

[2015-05-04 20:27] spikecurtis commented on #102
I like the ip2 commands as a model.  They accept -4 or -6 as arguments, but default to IPv4 without qualification.

http://linux.die.net/man/8/ip

[2015-05-04 20:31] tomdee commented on #102
So - we can probably get away with removing ipv4/ipv6 everywhere (even show commands) and showing both ipv4 and v6 in the show commands
...but if we can keep (-4/-6) as an option on the show commands then that would be nice - so lets try to do that.

[2015-05-05 08:03] frostynova commented on #100
@lxpollitt @spikecurtis
I read the doc @spikecurtis mentioned, and this: https://github.com/Metaswitch/calico-docker/issues/87#issuecomment-94596735

Seems it only need to add another ip to the container interface and modify the relative etcd key?

[2015-05-05 16:52] robbrockbank commented on #95
The latest master now has a fix for this, based on the branch that @Symmetric mentioned above.

[2015-05-05 16:53] #95 closed

[2015-05-05 20:54] robbrockbank commented on #102
Fixed in pull req #110 pending review.

I removed ipv4/ipv6 from all configure commands, added as an optional --ipv4 | --ipv6 to the show commands, where the default is to show both.

I also changed the syntax slightly of the add additional ip commands since the syntax was extremely similar to the adding a container, just reordered.

To add an ip, it's now:

  calicoctl container <CONTAINER> ip (a

[2015-05-05 21:59] robbrockbank commented on #102
Pull request #110 reviewed and merged.

[2015-05-05 21:59] #102 closed

[2015-05-05 23:56] robbrockbank commented on #70
I've added pull request #112 - currently unreviewed.

This adds host, workload type and workload ID to the table.  We could also add IP info in as per the show nodes command...

[2015-05-06 21:28] robbrockbank commented on #96
Fixed in pull request #113, pending review.

Fix handles:
-  etcd errors (prints generic is etcd running message)
-  prints error if container not in calico network with details of why and how to fix
-  prints error if docker command needs sudo access

[2015-05-06 21:56] tomdee opened #115 "Dockerfiles contain unneeded dependencies"
Such as python-zeromq

[2015-05-07 00:38] robbrockbank commented on #99
Fix for issue #95 added protective exception handling in the webhooks - so this no longer hangs.

You will still see the exception in the logs, but the docker command completes.

[2015-05-07 00:38] #99 closed

[2015-05-07 00:51] robbrockbank commented on #70
Code now reviewed and merged.

[2015-05-07 00:51] #70 closed

[2015-05-07 14:41] grkvlt opened #117 "Adding a container to a profile removes it from current profile"
Is this expected behaviour? If I have multiple profiles, and I want containers A,B,C to be in profile X and C,D,E to be in profile Y, what happens is that container C is only in profile Y, it gets removed from X, but I really wanted it to be in both X and Y.

[2015-05-07 16:15] tomdee commented on #117
I suspect this is a bug. Are you using calicoctl or modifying etcd directly? If using calicoctl can you tell us the release you're using and the exact command line you used?

[2015-05-07 17:11] tomdee commented on #59
@robbrockbank Can you add the details of the testing you did?

This could be an instance of https://github.com/coreos/etcdctl/issues/109 but I think it's unlikely.
It could also be the fact that confd is cross compiled (I think the linux release is build on a mac) which could cause DNS resolver issues - https://inconshreveable.com/04-30-2014/cross-compiling-golang-programs-with-native-libraries/

[2015-05-07 18:29] tomdee commented on #42
We expect to fix this as part of integrating with libnetwork. Depending on what happens there, we might still need some garbage collection.

[2015-05-07 20:58] robbrockbank commented on #117
This is actually expected behaviour.  Only a single profile can be associated with a given endpoint.  Since each profile can contain a set of complicated rules, it is not trivial to algorithmically chain sets of rules together coming from different profiles - although this is something we are currently thinking about.

To do the behavior you're after, add tags for the profiles A and B, define a th

[2015-05-07 21:39] robbrockbank commented on #59
Testing I did was fairly limited as follows:

- Spin up a calico node (using 127.0.0.1)
- `docker exec -it calico-node bash` to get onto the calico node
- on calico node checked that localhost would resolve (e.g. ping localhost)
- Edit /etc/service/confd/run to replace ${ETC_AUTHORITY} with localhost:4001
- Restart confd service `sv restart confd`
- ps shows confd not running, logs in /var/log/cal

[2015-05-07 21:53] robbrockbank commented on #96
Merged in changes from #113.

Closing issue.

[2015-05-07 22:33] lxpollitt commented on #117
@robbrockbank - Actually we've just agreed to pull forward support for multiple profiles.  The data model will (shortly) support an ordered list of profiles associated with an endpoint (rather than just the single profile supported today).  Tags from the profiles will get combined into a single set.  The rules from the profiles will be appended to each other in the same order as the profiles are l

[2015-05-08 00:33] alexaltair commented on #96
Another example;

[code]

[2015-05-08 07:51] frostynova commented on #87
i tried the new cmd "calicoctl ipv4 container test_ct add 192.168.77.30", it said:
[code]

[2015-05-08 09:16] frostynova commented on #100
After manually add a FORWARD rule and a PREROUTING rule, i made a port export to outside.
But this need to exec iptables command on the hosts

[2015-05-08 17:20] tomdee commented on #87
@robbrockbank Could you try to repro (and fix) this?

[2015-05-08 18:30] lxpollitt commented on #100
@frostynova - I think it would be really helpful if we could schedule a call to discuss exactly what you are trying to achieve so we can best advise you on how to do it with the particular physical network topology you have.  There are a few different options and we would like to understand which would fit best for you.  What time zone are you located in?

[2015-05-08 18:52] frostynova commented on #100
@lxpollitt since my bad spoken english, i am afraid a call is something difficult. I could try to give an example

Our hosts' subnet is 10.100.0.0/16 and containers' subnet is 192.168.0.0/16 which is managed by calico. One of the containers is running nginx which is our app's web router

Before using calico, i can just expose port 80 of the nginx container to let client in host subnet access the w

[2015-05-08 22:24] robbrockbank commented on #87
@frostynova I've been trying to reproduce this locally without much success.

Do you happen to know what version of calico-docker you are running and also what commands you ran prior to error?

[2015-05-09 01:12] lxpollitt commented on #100
@frostynova - Are your hosts connected by physical L2 network?  And that L2 network is also connected to your border router?

Or is your physical network L3?

If you can answer the above then we should be able to point you are the best option to achieve what you are trying to do.

As background, in most Calico deployments people choose to peer with their L3 network elements (such as the border rou

[2015-05-09 16:33] grkvlt commented on #117
@robbrockbank @lxpollitt OK that makes sense - for the moment i'll continue using a single profile, then. i haven't done much with creating tags automatically, but that ws going to be my next improvement with the Clocker integration. Keep me posted on any changes to the way profiles work though, please

[2015-05-11 03:00] frostynova commented on #100
@lxpollitt Thanks to the detailed answers. Unfortunately, the physical network router is not under our control now, so i think we will work on NAT rules.

[2015-05-11 16:21] fasaxc commented on #100
Hi @frostynova, are you running on top of a particular cloud provider, such as GCE or AWS?

[2015-05-12 01:40] frostynova commented on #100
@fasaxc Not yet. Currently, we still deploy on physical servers, but in the future, we hope our project can be deployed in the environment as much as possible.

[2015-05-12 02:02] frostynova commented on #94
Sorry for later response, i tried the master code and found it has been fixed, thanks all

[2015-05-12 02:02] #94 closed

[2015-05-12 16:10] robbrockbank commented on #77
Tried to repro this just using two hosts in the vagrant set up named core-01 and core-01-02.  That worked just fine.

@spikecurtis Could you fill in a little more detail about how to repro this one?

[2015-05-13 07:33] frostynova opened #120 "If container exited and start again, calico will give it a new ip"
First, we launch containers with  ```CALICO_IP=auto```

We found if the container failed and be restarted manually, calico will give it a new IP. And in the etcd write a strange key, such as:

[code]

or

[code]

[2015-05-13 17:58] spikecurtis commented on #77
@liljenstolpe hit this in the field.  Maybe he can recall other salient details...

[2015-05-13 23:46] robbrockbank commented on #87
Fixed in #114

[2015-05-13 23:47] #87 closed

[2015-05-14 04:35] frostynova opened #121 "modprobe should not be a global check"
If i want to modify calico profile in a container which not has ```modprobe```, it will print to stdout an error message.

After viewing the code, i think ```modprobe``` is only needed by ```calicoctl node``` and should not be a global check.

[2015-05-14 07:57] frostynova opened #122 "Calico node does not use the correct interface"
We use vagrant to run docker, each vagrant node has two interfaces:

[code]

The enp0s8 is the real interface use to communicate with others, calico node is running with

[code]
And there is another similar node which ip is 192.168.77.22, and a calico profile named ```default```

Now we launch some test containers on both nodes
[code]

At last, IP 0.1 0.3 0.4 on Node1, IP 0.5 on Node2
The host rou

[2015-05-14 17:27] tomdee commented on #96
@robbrockbank Is this one you can take a look at?

[2015-05-14 17:28] tomdee commented on #82
Closing as the question has been answered. We still need to improve our docs around upgrades but we're tracking that internally.

[2015-05-14 17:36] tomdee commented on #117
Multiple profile support will be in the felix 0.21 release (in just over a week). We will do a calico-docker release shortly after.

[2015-05-14 17:39] tomdee opened #123 "Calico-docker releases are no longer tied to specific felix releases."
Since the 0.4.1 release.

We will fix this in a 0.4.2 release shortly.

[2015-05-14 17:41] robbrockbank commented on #77
Talked to Chris.

He added to the etcd config a calico/<host>/bird_ip entry where the <host> prefix was the same as one of the other nodes.

[2015-05-14 17:44] #121 closed

[2015-05-14 17:45] tomdee commented on #121
Fixed - It should be in the next release.

[2015-05-14 18:50] alexaltair commented on #123
Since the 0.4.1 release.*

[2015-05-14 19:43] tomdee commented on #123
That's what I said :-)

[2015-05-14 22:19] alexaltair opened #127 "FVs take a long time"
Running the bare scripts took 2 minutes. Some as-yet-diagnosed change has caused them to take 10 minutes. Running them with multiple hosts, (docker-in-docker) takes 25 minutes.

[2015-05-14 22:44] #122 closed

[2015-05-15 17:52] robbrockbank commented on #96
Another example
[code]

[2015-05-15 17:56] tomdee commented on #96
And another - note the error is OK, but it never returns.

[code]

[2015-05-18 19:44] chuckbutler opened #133 "calicoctl appears to break when specifying etcd"
When kicking off calicoctl w/ the linked binary in the docs: wget https://github.com/Metaswitch/calico-docker/releases/download/v0.0.6/calicoctl

I get some additional feedback from the binary when providing an external etcd server. It appears the python code is expecting another argument that was not passed:

[code]

[2015-05-18 19:46] chuckbutler commented on #133
Upon further investigation, it appears this binary linked in the docs is quite old, and this may be resolved with a quick PR to the doc.

[2015-05-18 21:41] tomdee commented on #133
@robbrockbank Can you update the docs to point at Alex's special "latest" URL (it's in the video he recorded here http://www.projectcalico.org/getting-started/docker/)

@chuckbutler Does an ENV var work for you or do you need the option of passing on the CLI?

[2015-05-19 04:38] frostynova opened #136 "Launch new containers will lead all bird route to be removed first"
I found after adding new containers, route rules added by bird on other hosts' will  be removed first, then added back.

This will cause ```ping``` lose about 7 packets

Our host: 192.168.77.0/24
Calico pool: 172.20.0.0/16
Environment: Vagrant + CentOS 7.0 + Docker 1.5 + Calico master branch

bird.log

[code]

[2015-05-19 04:59] frostynova commented on #136
After some trying, i found that ```pkill -HUP bird``` which in ```conf.d/bird.toml``` lead to this

[2015-05-19 08:54] frostynova opened #137 "Confd toml configuration should use prefix"
Since etcd may be used by others (such as swarm), confd should use prefix to limit the impact when etcd key changed, for example:

[code]

I think this is one reason of my problem: https://github.com/Metaswitch/calico-docker/pull/125#issuecomment-102298014
Another is https://github.com/Metaswitch/calico-docker/issues/136

[2015-05-19 10:55] lxpollitt commented on #133
@robbrockbank We should include both http://projectcalico.org/latest/calicoctl and an example of getting a specific release from github (as today).  You should flag that projectcalico.org/latest/calicoctl is not HA, so may not be suitable for production orchestration systems.

[2015-05-19 15:52] #120 closed

[2015-05-19 19:15] Symmetric commented on #136
From the Bird RPM [docs](http://rpm.pbone.net/index.php3/stat/4/idpl/23373923/dir/centos_6/com/bird-1.3.11-1.2.x86_64.rpm.html):

The docs don't mention protocol restarts though, and we'd assumed that this was safe. Should follow up with the Bird folks on this, might be a bug.

[2015-05-20 02:32] frostynova commented on #136
@Symmetric Maybe ```graceful restart``` option of BGP protocol will help?

http://bird.network.cz/?get_doc&f=bird-6.html#ss6.2

[2015-05-20 16:21] tomdee commented on #127
@alexaltair Have you got to the bottom of this yet? If you have, can you close it.

[2015-05-20 16:22] robbrockbank commented on #137
@frostynova - good spot - I'm working on adding that in.  i'll update as soon as it is in master.

[2015-05-20 16:22] tomdee commented on #123
The felix debs are now published on launchpad which doesn't easily allow multiple versions to be uploaded. So closing as wontfix.

[2015-05-20 16:22] #123 closed

[2015-05-20 16:23] tomdee commented on #115
FYI - I've removed python-zeromq.

The next round of removals probably won't come till we remove powerstrip.

[2015-05-20 16:28] robbrockbank commented on #136
@frostynova -  I was digging in to this yesterday and think there may be a few things at fault.  One of which was the graceful restart option which I've added to my local branch and will be adding to master later today.  Also, following your suggestion of adding a prefix to minimize confd invocations and finally removing the timestamp from the bird templates since I suspect (although haven't confi

[2015-05-20 19:06] alexaltair commented on #127
We made a lot of progress, but I want to keep evaluating it while I rewrite them in python.

[2015-05-21 23:54] robbrockbank commented on #137
@frostynova - this change has been made and is now checked in to the latest master.  This will be included in the next release.

[2015-05-21 23:55] robbrockbank commented on #137
Fixed by #141

[2015-05-21 23:55] #137 closed

[2015-05-21 23:57] robbrockbank commented on #136
Adding a new container should no longer cause this.  Fix is in the latest master and will be in the next release.

Main fix here is to ensure we don't restart BIRD if the template hasn't changed.  Main issue was that the template contained a timestamp, so regeneration of the template made it appear to have changed.

Fixed by #141

[2015-05-21 23:57] #136 closed

[2015-05-22 00:05] robbrockbank commented on #117
The latest calico-docker release includes an updated felix with profile support.  However, this function is only accessible by directly writing to etcd.

Reopening issue to cover updating the calicoctl commands to allow multiple profiles to be configured.

[2015-05-22 10:10] Lukasa opened #145 "calicoctl does not correctly serialize rules on rule updates"
When helping @makuk66 add some allow rules from a subnet, we encountered a bug in the way calicoctl handles these updates.

We tried to put the following in a file called `prof_group1_new.json`:

[code]

We then encountered the following:

[code]

The problem here seems to be that, while the `Rule` class has a special `to_json()` method that converts IPNetwork and IPAddr structures to strings befo

[2015-05-22 22:21] robbrockbank commented on #133
Documentation has been updated.  Closing issue.

Fixed in #140 and #144

[2015-05-22 22:21] #133 closed

[2015-05-26 16:57] #145 closed

[2015-05-26 22:41] alexaltair opened #149 "calicoctl diags command doesn't put diags in a dir before taring"
This means that when you untar the file, all the diags will be created separately in whatever dir you were in. For example, I was in my home directory, which had a dir named calico. The tar also contains a dir named calico, so it naively merged them.

[2015-05-27 03:11] chuckbutler commented on #133
Sorry about the delay. the ENV Var did indeed work for me, when setting ETCD_AUTHORITY things behaved as expected.

[2015-05-27 05:47] wtfbbqhax opened #150 "calicoctl fails to work when kernel has builtin ip6_tables"
I use Linode VPS as my playground; running Ubuntu 15.04 x64. Linode builds the kernels with all things compiled in- e.g., ip6_tables is "builtin" in my case.

[code]

[2015-06-01 20:11] tomdee commented on #150
Apologies for not responding sooner. Presumably this bug is stopping you from using calico? If so, we'll try to get a fix in the next release.

[2015-06-02 00:53] wtfbbqhax commented on #150
Awesome, thanks!

[2015-06-02 21:39] tomdee opened #164 "bird6 writes a log every second if the node doesn't have an IPv6 address configured."
[code]

My line 51 is `source address {{getenv "IP6"}};  # The local address we use for the TCP connection`

[2015-06-03 21:29] djosborne opened #169 "New builds don't create calicoctl.sh"
Possibly a result from commit 078bce883b03d2c3851ae2a41b79c5610b1853c2, running create_binary.sh only creates a new binary, but doesn't produce a new calicoctl.sh

[2015-06-03 21:58] tomdee opened #170 "Confd generates the felix config file even though there is no dynamic config"
There used to be dynamic config, but felix can read it directly from etcd now.

[2015-06-05 09:45] oscar-martin commented on #150
+1

[2015-06-05 18:40] alexaltair opened #176 "Calico doesn't pass docker the container's IPv6 address?"
To repro, pause at the end of the ST `test_ipv6` or run the equivalent commands manually. After you've created workloads with IPv6 addresses, do a `docker inspect node1`. You'll see that the field `NetworkSettings.GlobalIPv6Address` is empty. If you run `docker exec node1 ip -6 addr` you'll see that the container does have an IPv6 address.

[2015-06-05 18:44] tomdee commented on #176
This is a powerstrip limitation.

[2015-06-05 21:40] tomdee opened #177 "Calicoctl show commands should have sorted tables"

[2015-06-05 23:42] #150 closed

[2015-06-06 00:55] tomdee commented on #150
A fix has just gone into master for this. We'll hopefully do a release with it in on Monday.

[2015-06-08 15:52] spikecurtis commented on #176
I propose we don't fix since we're hoping to deprecate Powerstrip in favor of libnetwork.

[2015-06-08 16:08] alexaltair commented on #176
Sounds good to me. There's just a slightly hacky part of the tests that I'll fix after powerstrip is removed.

[2015-06-08 23:39] alexaltair opened #184 "Diags command gives strange message, "warning, got bogus unix line.""
Presumably that's the stderr from running `netstat` and `ip route`;

[code]

The output in the diags looks fine, except that the file `netstat` contains a non-ascii-character. This may be fixed by #178, but should be checked.

[2015-06-09 07:56] neiljerram commented on #150
Based on Alex Altair's release announcement (0.4.4), I'm concerned that this sounds like an incompatible change, but that you haven't announced it as such.

If someone has a reproducible and reliable setup that boots a host and then executes a script including calicoctl commands, I believe that setup may now stop working - because those commands used to include the 'modprobe ip6_tables' step, but

[2015-06-09 16:21] spikecurtis commented on #150
@neiljerram I believe this change is back compatible.  In some very early versions of `calicoctl` we used to call `modprobe`.  More recently, we decided we didn't want `calicoctl` automatically loading kernel modules without asking the user.

In recent versions `calicoctl` would check if the module was loaded and die if it wasn't.  The change we made just turns the error into a warning.

[2015-06-09 16:48] neiljerram commented on #150
Ah, OK, that sounds fine then. Sorry for worrying!

[2015-06-09 17:04] djosborne opened #187 "Argument parsing confuses commands if User-named parameters share words from other commands"
When running a command that requires a user-generated name (such as naming new profiles or containers), if the provided name is the same as a word in another command, the command parser will execute the wrong command. Naming a container "profile", or naming a profile "container", will confuse the system.

For example, it is impossible to create a container named "profile", as that executes the pro

[2015-06-09 18:27] spikecurtis opened #188 "STs spam logs with `sh.command.process.streamwriter: DEBUG` logs"
The nose output log is spammed with:

[code]

[2015-06-09 19:57] robbrockbank commented on #169
Fixes by #186

[2015-06-09 19:57] #169 closed

[2015-06-09 21:05] #177 closed

[2015-06-09 22:18] robbrockbank commented on #164
Fixed by #189

[2015-06-09 22:18] #164 closed

[2015-06-10 15:44] #149 closed

[2015-06-10 23:01] alexaltair commented on #96
Fixed in libnetwork-rebased.

[2015-06-10 23:01] #96 closed

[2015-06-10 23:48] spikecurtis opened #198 "calicoctl diags fails if /var/log/calico doesn't exist (e.g. haven't started Calico yet)"
Output from the command:

[code]

[2015-06-11 06:51] hvolkmer opened #201 "Kubernetes plugin uses hardcoded path for calicoctl"
The calico kubernetes plugin uses a hardcoded path to  `/home/vagrant/calicoctl`:

[code]

If this is deployed on systems that don't have a vagrant user and the calicoctl binary in this directory, the plugin does not work.

Expected: The plugin should try to find the `calicoctl` in `$PATH`.

[2015-06-12 00:35] lxpollitt commented on #201
@hvolkmer Are you able to workaround the issue in the short term?  We definitely will fix but want to understand the immediate urgency for you so we prioritize appropriately.

[2015-06-12 09:18] hvolkmer commented on #201
Currently I just create the directory and symlink the real `calicoctl` to the expected path. That works. I just  wanted to file the issue so that it won't be forgotten.

[2015-06-15 21:44] tomdee commented on #188
I've already fixed this on libnetwork-rebased

[2015-06-15 21:45] #198 closed

[2015-06-15 21:46] tomdee commented on #184
@djosborne Was this fixed by #178?

[2015-06-15 21:46] #127 closed

[2015-06-15 21:46] tomdee commented on #117
@robbrockbank remember to reference/close this when you make the next release.

[2015-06-15 21:47] tomdee commented on #115
Fixed on libnetwork-rebased so closing.

[2015-06-15 21:47] #115 closed

[2015-06-16 00:26] fasaxc opened #207 "Show command doesn't include icmp_code"
`icmp_code` is a valid rule field but it is missing from the show output.

[2015-06-17 22:16] fasaxc opened #221 "Add stats dump to diags script"
Felix now supports a stats and diags dump triggered by a SIGUSR1.  Would be nice to trigger than form the diags script.

[2015-06-17 22:21] tomdee commented on #221
Good spot. It would be nice to include felix stats on the calicoctl status command too.

[2015-06-17 22:53] spikecurtis opened #222 "get_ip_pool_config() in datastore.py is missing UT coverage."
Title says it all.

[2015-06-17 23:07] spikecurtis opened #223 "run_uts.sh doesn't output code coverage"
Check out the CircleCI config for how to do this with XUnit.

[2015-06-18 20:50] tomdee commented on #223
Fixed on libnetwork-rebased

[2015-06-18 20:50] #223 closed

[2015-06-19 15:54] spikecurtis opened #233 "calicoctl node should check IP address and warn"
A common problem setting up Calico for users is fat-fingering the IP address on `calicoctl node` command.  We can help avoid this by querying the system for configured IP addresses and verify that the specified IP is among them, dropping a big helpful warning if it is not.

[2015-06-19 16:03] spikecurtis opened #234 "calicoctl node should warn if hostname already exists"
A common problem new users have is trying to set up Calico on a few nodes that don't have unique hostnames.  This is particularly common if they use Vagrant, since they'll often just leave the default hostname.

I propose that `calicoctl node` do a little proactive checking to warn the user if they're likely to run up against this issue:

If the hostname already exists in the etcd database and it

[2015-06-19 16:22] fasaxc opened #235 "ICMP type programmed as a string"
New rules command programs the `icmp_type` as a string but felix rejects that at validation time.  It should be an int.

[2015-06-24 20:18] tomdee commented on #222
@robbrockbank Have you just fixed this?

[2015-06-24 20:19] tomdee commented on #188
Closing as already fixed

[2015-06-24 20:19] #188 closed

[2015-06-24 20:19] tomdee commented on #233
We could also default to using the first IP address. This would make demos nicer,

[2015-06-24 20:20] tomdee commented on #184
@djosborne Could you comment on whether this is fixed already?

[2015-06-24 20:20] robbrockbank commented on #222
Yes.... Once I check it in.  This is part of the get 100% coverage of datastore in the UTs.

[2015-06-24 20:20] tomdee commented on #42
Closing as this is now fixed by the libnetwork integration.

[2015-06-24 20:20] #42 closed

[2015-06-24 20:22] tomdee commented on #77
@robbrockbank so, was this user error or a bug? What's the next action on this?

[2015-06-24 20:23] tomdee commented on #100
@frostynova Hopefully our docs are now clearer on this issue. If you're still hitting problems or the docs are unclear then please do open another issue.

[2015-06-24 20:23] #100 closed

[2015-06-24 20:24] #176 closed

[2015-06-24 20:31] djosborne commented on #184
@tomdee Can't confirm, wasn't seeing this before nor after #178...

[2015-06-24 20:39] robbrockbank commented on #222
Fixed by #241

[2015-06-24 21:12] spikecurtis commented on #77
Given that @robbrockbank couldn't repro, and we don't have field diags, I'm closing this issue.

It was very easy to get the etcd keyspace into a bad state at the time, given the reliance on `calicoctl reset`.  My best guess is that we misunderstood the cause.  We can reopen if we see it again.

[2015-06-24 21:12] #77 closed

[2015-06-24 21:44] #184 closed

[2015-06-24 21:46] #222 closed

[2015-06-24 22:40] robbrockbank commented on #117
Closing out this issue, as there is a solution provided in the 0.4.6 release.

https://github.com/Metaswitch/calico-docker/releases/tag/v0.4.6

The old "profile member add" has been retired, and new "endpoint  <ENDPOINT ID> profile append|remove|set <LIST OF PROFILE NAMES>" command has been added.

You can use the command "container <CONTAINER ID> endpoint-id show" to determine the endpoint ID for

[2015-06-24 22:40] #117 closed

[2015-06-24 22:49] fasaxc commented on #207
Fixed under #236

[2015-06-24 22:49] #207 closed

[2015-06-24 22:50] fasaxc commented on #235
Fixed under #236

[2015-06-24 22:50] #235 closed

[2015-06-24 23:50] spikecurtis opened #246 "split calicoctl.py into smaller, focused modules"
calicoctl.py is at last count over 2000 lines long.  It has a mixture of arg parsing, node initialization code, table formatting code, and smaller pass-directly-to-datastore-module code.  We should break this up into focused modules (which can be tested!)

[2015-06-25 18:02] djosborne commented on #234
I'd add that heavy lifting should be done by the `checksystem` command

[2015-06-30 16:39] spikecurtis opened #256 "Container routes disappear if using Ubuntu NetworkManager"
Seen in the field.

User had two real interfaces configured: `eth0` and `wlan0` as follows:

    default via 192.168.1.1 dev wlan0  proto static
    10.111.111.101 via 192.168.2.7 dev eth0  proto bird
    172.17.0.0/16 dev docker0  proto kernel  scope link  src 172.17.42.1
    192.168.1.0/24 dev wlan0  proto kernel  scope link  src 192.168.1.170  metric 9
    192.168.2.0/24 dev eth0  proto kernel

[2015-06-30 16:52] spikecurtis opened #257 "calicoctl diags should record the etcd db in a more readable format"
Right now it's just a flat dump of the `<class 'etcd.EtcdResult'>`, but without any line breaks between objects.

Try a `PrettyPrint` of the object structure at minimum, since it's just `dicts` and `lists`

[2015-06-30 18:30] tnithya commented on #256
@spikecurtis  some additional observations
*The problem persists even after the pool contains only 10.111.111.0/24.
*Also, I'm unable to run zookeeper over swarm using the command
docker -H 192.168.2.7:1000 run -d   -e CALICO_IP=10.111.111.100 -e CALICO_PROFILE=prof -ti -e ZK_SERVERS="server.1=10.111.111.100:2888:3888 server.2=10.111.111.101:2888:3888 server.3=10.111.111.102:2888:3888" -e ZK_ID=1

[2015-06-30 19:09] spikecurtis commented on #256
@tnithya The error you are seeing from Swarm is due to the `--publish` directives.  These set up port mapping on the Docker host IP address (`192.168.2.x`), which is incompatible with Calico.  You don't need to use this port mapping since the `10.111.111.10x` addresses are directly routable from other containers.

Can you give me the exact commands you are using to start the Zookeeper containers w

[2015-07-01 02:37] tnithya commented on #256
@spikecurtis
Below is the exact command used without running against swarm:
**docker run -d -e CALICO_IP=10.111.111.100 -e CALICO_PROFILE=prof -ti -e ZK_SERVERS="server.1=10.111.111.100:2888:3888 server.2=10.111.111.101:2888:3888 server.3=10.111.111.102:2888:3888" -e ZK_ID=1 --add-host="zk1:10.111.111.100" --hostname=zk1 --publish=10.111.111.100:2181:2181/tcp --publish=10.111.111.100:2888:2888/tcp

[2015-07-01 09:20] frostynova opened #260 "Why profile name length must be less than 40 characters?"
Some of our profile name is longer than 40 characters, so i wonder if this is a hard limit by something or not?

[2015-07-01 09:25] grkvlt opened #261 "JSON parsing error with Docker 1.7.0"
I get the following error when using Clocker and trying to create a container using the Docker REST API with Docker 1.7.0 and Calico 0.4.8 installed. There's no extra configuration at this point beyond installing Docker and the calico-node container.

[code]

I have worked around this by rolling back my Docker deployment to 1.6.2 for the moment, but it seems to be straightforwardly reproduceable i

[2015-07-01 17:26] tomdee commented on #261
Are you able to repro this without calico installed?

Could you create a diags bundle and send it to us? (either using calicoctl diags, or just zipping up /var/log/calico)

[2015-07-01 18:13] #260 closed

[2015-07-01 18:14] spikecurtis commented on #256
@tnithya I'm afraid it's still a mystery what is causing those routes to disappear.  I've created a Calico container that has more detailed BIRD logging enabled, which might shed some light on what is happening to the routing table.

    docker pull spikecurtis/calico-bird-debug:v0.4.8
    ./calicoctl node --ip=<your ip> --node-image=spikecurtis/calico-bird-debug:v0.4.8

That should get the debug

[2015-07-02 02:00] frostynova opened #268 "calicoctl profile json show failed"
[code]

The content of 1.json:
[code]

Edit: calico node & calicoctl version is 0.4.8

[2015-07-02 02:10] tnithya commented on #256
@spikecurtis Please find attached the output from your container. Observation is still the same.
2015-07-02 02:03:36,462 [INFO][31/26] calico.felix.endpoint 424: Endpoint EndpointId<8c30f6be205e11e5bcabb8ca3ac44702> acquired all required profile references
2015-07-02 02:03:36,463 [DEBUG][31/26] calico.felix.actor 245: Finishing message batch
2015-07-02 02:03:36,463 [DEBUG][31/17] calico.felix.acto

[2015-07-02 02:46] tnithya commented on #256
@spikecurtis Route deletion appears to be happening from this code https://gitlab.labs.nic.cz/labs/bird/blob/master/sysdep/unix/krt.c based on the [alien async] removed statements in the log.

[2015-07-02 10:11] tnithya commented on #256
Spike,
Could if be that this
http://bird.network.cz/pipermail/bird-users/2013-September/003908.html
is the culprit?

Regards
Nithya

On Wed, Jul 1, 2015 at 11:45 PM, Spike Curtis <notifications@github.com>
wrote:

[2015-07-02 16:42] chanehua opened #269 "calico could not assign ip for container"
hi:
  I base GettingStarted.md this file to config my calico-docker, but calio could not assign ip
for container,do you have solution?
environment:
sys:ubuntu:14.04
calico version:v0.4.8
etcd:v2.1.0
docker version:1.70 & 1.6.2
thanks

![image](https://cloud.githubusercontent.com/assets/12761229/8482480/7d700322-211c-11e5-8ab8-688123e1a972.png)

[2015-07-02 16:51] spikecurtis commented on #256
@tnithya No, I don't think the issue you pointed to is the culprit.  The veth interface to the containers goes down and then comes back up, causing the route to be lost.  Do you happen to know if your Zookeeper container would ever restart the ethernet interface inside the container?

Can you try with a different container and see if you see the same behavior?  E.g.

    docker run -td -e CALICO_I

[2015-07-02 16:55] tnithya commented on #256
Spike,
I have been doing the same. Am not using zookeeper container. It still
gives the same problem..
I even flushed the routing tables manually on both systems.

The interesting point is that I don't get this problem on the other node.
Only on one of the nodes (192.168.2.8)

Regards
Nithya

On Thu, Jul 2, 2015 at 10:21 PM, Spike Curtis <notifications@github.com>
wrote:

[2015-07-02 17:33] spikecurtis commented on #256
@tnithya Very interesting!  The obvious follow up is then, what is different about the two nodes?

[2015-07-02 17:45] tnithya commented on #256
Only linux version. One displaying the problem is Ubuntu 14.04 LTS/ The
other one is ubuntu 15.04.

Other than this all the versions of docker, calico etc are the same.

On Thu, Jul 2, 2015 at 11:03 PM, Spike Curtis <notifications@github.com>
wrote:

[2015-07-02 17:53] spikecurtis commented on #256
My testing is on Ubuntu 14.04, so probably not that.

Where is Swarm running?
Anything in the Docker log or syslog that correlates with the time you lose the route to the container?

[2015-07-02 18:27] tnithya commented on #256
I have tested without swarm as well.
Results are the same.

Sent from my iPhone

[2015-07-02 23:03] #170 closed

[2015-07-02 23:39] tomdee commented on #269
The `ip` command isn't very good in busybox. Could you retry either using ifconfig or with a different OS, e.g.
docker run -e CALICO_IP=192.168.100.2 -ti ubuntu

[2015-07-03 02:59] chanehua commented on #269
hi:
   “docker run -e CALICO_IP=192.168.100.2 -ti ubuntu” method I have a try,but the result is the same as busybox.
“using ifconfig” I don't know how to config,I would like to ask how to view the calico config's log and the etcd Whether has a special configuration?
thanks!

[2015-07-03 05:32] #268 closed

[2015-07-03 05:32] #233 closed

[2015-07-03 05:32] #234 closed

[2015-07-03 17:40] tnithya commented on #256
Spike,
The problem appears to be with the Network Manager clashing with Calico
Addressing. The manager is trying to assign addresses via dhcp on the 14.04
Ubuntu machine.

l  3 18:25:51 nithya NetworkManager[6043]: <info> (calid55687f8218):
carrier now ON (device state 20)
Jul  3 18:25:51 nithya NetworkManager[6043]: <info> (calid55687f8218):
device state change: unavailable -> disconnected (reaso

[2015-07-04 14:48] loshkovskyi commented on #59
Just came across this issue as well. Can you please add a note about `ETCD_AUTHORITY` to your docs at http://docs.projectcalico.org/en/latest/index.html ? Thanks.

[2015-07-06 15:05] DaveLangridge opened #277 "getting started instructions look out of date"
I attempted to attach to a container using 'DOCKER_HOST=localhost:2375 docker attach workload-A' but I got:
Cannot connect to the Docker daemon. Is 'docker -d' running on this host?
@fasaxc had a look:
Newest version o fdocker seems to listen on a unix socket instead
Try: unix:///var/run/docker.sock

 DOCKER_HOST=unix:///var/run/docker.sock docker attach workload-A
worked fine

[2015-07-06 16:21] tomdee commented on #277
DOCKER_HOST=unix:///var/run/docker.sock is typically the default so there should be no need to set that environment variable. It's left over from the powerstrip integration.

[2015-07-06 16:53] tomdee commented on #269
When you say the result is the same on Ubuntu, do you mean you're seeing a Segmentation fault?

[2015-07-06 18:02] tomdee commented on #277
@TrimBiggs Can you fix up the docs?

[2015-07-06 20:01] TrimBiggs commented on #277
Will do.

[2015-07-06 20:35] tomdee commented on #59
I'm tracking the confd bug here https://github.com/kelseyhightower/confd/issues/309

[2015-07-07 21:50] spikecurtis commented on #256
@tnithya Glad you isolated the issue.

I believe this only affects desktop/laptop computers, and not servers which are our focus, so I won't be able to prioritize trying to make Calico play nicely with Network Manager for some time.

In the meantime, I'll add some comments to our troubleshooting guide to warn people to turn off Network Manager before attempting to use Calico.

[2015-07-08 14:14] chanehua commented on #269
I just look at the container's IP with my config's ip is not the same.

[2015-07-08 16:13] tomdee opened #290 "Creation of global config in etcd shouldn't be gated on whether the config directory exists"
e.g. see https://github.com/Metaswitch/calico-docker/blob/powerstrip-archive/calico_containers/adapter/datastore.py#L423

It should check for each piece of config and create it, rather than just look to see if the directory exists.

[2015-07-08 17:45] #59 closed

[2015-07-08 19:16] tomdee opened #293 "Build docs are out of date"
https://github.com/Metaswitch/calico-docker/blob/master/docs/Building.md

They should be using the Makefile

[2015-07-08 21:15] djosborne commented on #246
Fixed with #291

[2015-07-08 21:15] #246 closed

[2015-07-09 17:24] djosborne opened #296 "uncaught exception when running calicoctl when docker daemon is not started"
The error is thrown by checksystem (which is used in the node command) when a docker daemon is not running on the host system:
[code]

Caused by an uncaught exception here:
[code]

[2015-07-09 17:39] TrimBiggs commented on #277
Getting Started was updated with the release of v0.5.0 yesterday

[2015-07-09 17:39] #277 closed

[2015-07-10 22:24] djosborne commented on #296
We may also want to add a check to checksystem which reports the status of the docker daemon. Andd possibly run `service docker start` if the `--fix` flag is provided

[2015-07-10 22:29] tomdee commented on #293
@robbrockbank / @TrimBiggs  didn't one of you just fix this?

[2015-07-10 22:30] tomdee commented on #296
I'm OK with adding a check to `checksystem`. I'm not OK with calling service docker start with --fix.

[2015-07-10 22:33] tomdee commented on #256
@spikecurtis Given your docs fix, I vote that we just close this issue. WDYT?

[2015-07-10 22:38] tomdee opened #309 "Package calicoctl into a calico/ctl docker image"
This may or may not support the commands that interact with docker (e.g. starting a node and adding networking to container). Maybe they would only work if the docker sock is mapped into the container...

[2015-07-10 22:39] tomdee opened #310 "Start the calico-node container with specific capabilities (rather than --privileged)"
At the moment we do --privileged which is too broad...

[2015-07-10 22:48] spikecurtis commented on #269
I think the issue is that you exported `DOCKER_HOST` for the `cspark` user, but then run `docker run` as root.  See https://github.com/Metaswitch/calico-docker/blob/master/docs/Troubleshooting.md#sudo-docker-run-and-environment-variables

[2015-07-11 00:08] TrimBiggs commented on #296
I'll take a look at this.

[2015-07-11 00:11] #256 closed

[2015-07-13 22:21] robbrockbank commented on #261
Hi Andrew,

Just a quick follow up - did you manage to gather diags as Tom mentioned above?

One thing to note, the most recent release of the calico-docker images uses libnetwork rather than powerstrip (this currently requires use of the experimental Docker release).  See our docs for details.  We've archived off the powerstrip branch.  Would it be worth retrying using the libnetwork release?

[2015-07-14 15:44] matthewdupre opened #316 "calicoctl rule 'to' clause doesn't work following a 'from tag'."
For example:

`calicoctl profile PROFILE1 rule add inbound allow udp from 192.168.0.1 to 192.168.0.2` works, but
`calicoctl profile PROFILE1 rule add inbound allow udp from tag PROFILE1 to 192.168.0.2` doesn't.

There isn't really any workaround for this, because the 'from' has to precede the 'to' (and someone might want to pass two tags anyway.

[2015-07-14 16:08] matthewdupre commented on #316
(By works, I mean the command is accepted (no output), and by doesn't I mean rejected by printing the usage statement.)

[2015-07-14 16:11] #296 closed

[2015-07-14 16:12] TrimBiggs commented on #296
Closed with PR #314

[2015-07-14 16:14] matthewdupre opened #317 "Calicoctl rule json command fails with TypeError: IPNetwork('192.168.0.1/32') is not JSON serializable"
I created one rule with calicoctl (on top of the defaults), but when I tried to view the json for them with `calicoctl profile PROFILE1 rule json` I got the following traceback.

[code]

[2015-07-14 16:19] robbrockbank commented on #317
@matthewdupre Do you know what version of the calicoctl tool you are using - I believe this issue has been fixed in one of the recent releases.

[2015-07-14 16:25] matthewdupre commented on #317
I think I installed it on the the 3rd, so a week and a half ago.  Is there an easy way to get the version of the tool?  (If not there should be!)

[2015-07-14 16:27] matthewdupre commented on #316
I've tried this using the `rule update < json` command with the above "doesn't work" rule, and that works fine.  The `rule show` command also works.

[2015-07-14 16:39] djosborne commented on #187
This scope of this issue has decreased significantly thanks to the new command-submodules from  #291, though I am not convinced that there are still a few edge cases. We will need to investigate further.

[2015-07-14 16:50] TrimBiggs commented on #317
That's a good point.  We should have a 'version' command that simply prints the version number.

[2015-07-14 16:52] TrimBiggs opened #319 "Calicoctl should have a 'version' command"
There should be a simple way to check the version of calicoctl being used.

Having a command like `calicoctl version` that prints the version number would be simple and useful.

[2015-07-14 17:15] tomdee commented on #187
I can't see any specific case where this is a problem. Without a repro, I'm going to close this bug tomorrow.

[2015-07-14 17:17] TrimBiggs commented on #319
It would probably also be useful for this to print the commit id since people might be pulling the actual code and building directly.

[2015-07-14 17:52] TrimBiggs commented on #293
Closed with PR #315

[2015-07-14 17:52] #293 closed

[2015-07-14 18:29] robbrockbank commented on #317
See issue #268

[2015-07-14 20:15] TrimBiggs commented on #290
@tomdee, the branch you're referencing in that comment is the powerstrip-archive branch.

The master branch is here and has the check reading for a the InterfacePrefix key specifically:
https://github.com/Metaswitch/calico-docker/blob/master/calico_containers/pycalico/datastore.py

I think this is sufficient for being explicit about checking for the key.  What do you think?

[2015-07-14 20:36] TrimBiggs commented on #317
Yup, this is working fine on the master branch.

[2015-07-14 20:36] #317 closed

[2015-07-14 22:12] TrimBiggs commented on #316
Here's the command that the below input should be matching:
`calicoctl profile PROFILE1 rule add inbound allow udp from tag PROFILE1 to 192.168.0.2`

[code]

I think docopt is interpretting the "to" in the 2nd command as the <SRCCIDR>, then sees the 192.168.0.2 and cannot match it to any of its possible input criteria.

[2015-07-15 18:29] #187 closed

[2015-07-15 18:44] tomdee commented on #290
Yep. You can close the issue.

[2015-07-15 18:44] #290 closed

[2015-07-15 23:47] tomdee opened #328 "Calicoctl subcommands have broken bash autocomplete"

[2015-07-16 13:57] chanehua commented on #269
You are right, After I add  my user to docker group,execut the "export DOCKER_HOST" and run a contariner with my usre,the container assign the ip.very thanks!

[2015-07-16 13:57] #269 closed

[2015-07-16 22:35] #316 closed

[2015-07-17 15:26] tomdee opened #337 ""calicoctl container add" give stacktrace when container uses --net=host"
You can't add a calico interface to a --net=host container - it doesn't have a netns to add the interface to. But we should give a better error message to the user.

[code]

[2015-07-17 17:11] #257 closed

[2015-07-20 13:39] fasaxc opened #340 "Allow range of IPs to be specified with a pool"
Mentioned by @makuk66, who connected over IRC.  He'd a like a bit more control over which IP addresses are used in a pool.  Rather than the whole subnet, it'd be great to be able to use a range within a subnet:
[code]

[2015-07-20 13:44] makuk66 opened #341 "EXPOSE causes an eth0+cali1 instead of cali0"
If I run a container with an image that has an EXPOSE (see [Dockerfile](https://github.com/makuk66/docker-solr/blob/master/5.2/Dockerfile)) I get:

[code]

Note the `eth0` and the default route.

Whereas if I run the same thing without an EXPOSE (see [Dockerfile](https://github.com/makuk66/docker-calico-devices/blob/master/Dockerfile)), I get just `cali0`.

[code]

This makes it hard to use existi

[2015-07-20 16:40] tomdee commented on #340
Should be straightforward.

We're also planning to add more commands around assigned IPs (which is one of the uses for the pools).

[2015-07-20 17:00] tomdee commented on #341
I believe this is a libnetwork issue and I can't identify a workaround at the moment. I've raised a libnetwork issue and I'll work with them to make a fix.

[2015-07-20 18:44] tomdee commented on #341
As per the discussion on the linked libnetwork issue, you can work around this by naming your networking so it sorts before "bridge". e.g.
`docker run --publish-service solrbad2.anet2.calico --name solrbad2 -ti makuk66/docker-solr:latest bash`

I'm closing this issue in favor of the libnetwork one.

[2015-07-20 18:44] #341 closed

[2015-07-20 20:10] makuk66 commented on #341
Thanks!

[2015-07-20 20:28] tomdee opened #343 "Running calicoctl node without --ip detects the IP address docker0 bridge"
Calicoctl node has an optional --ip argument to control which IP should be used by bird for BGP peerings (among other things).

When --ip isn't used, calico detects what IP address to use, but it often detects the IP address of the docker0 bridge. I can't see a situation where this is useful, so that interface should be skipped.

[2015-07-20 22:12] spikecurtis commented on #343
c.f. https://gist.github.com/makuk66/a5b0c61648b17965fe49

[2015-07-21 00:48] #340 closed

[2015-07-21 12:43] amouat opened #346 "Warn if ipip module not loaded"
I spent the morning trying to network two boot2docker VMs provisioned by docker-machine running the experimental branch of docker. Everything seemed to install ok, but my containers couldn't talk to each other or be pinged on their calico addresses, even within the same host.

After some investigation, it seems to be because boot2docker does not include the ipip kernel module. It took me all morni

[2015-07-21 21:37] #343 closed

[2015-07-21 22:34] tomdee commented on #310
Replacing --privileged with --cap-add=ALL _isn't_ enough. We must be using some devices or replying other relaxations that --privileged gives us.

https://docs.docker.com/reference/run/#security-configuration

[2015-07-21 23:12] #221 closed

[2015-07-22 14:15] plwhite opened #357 "Documentation doesn't mention need to install consul"
To get calico-docker working with the new Docker plugins, you need to install consul (and that is what the Ubuntu vagrant demo does). However, our docs don't seem to mention that need, which means that just following them won't work.

@amouat, this is the issue we were discussing.

[2015-07-22 19:27] tomdee opened #361 "Stacktrace when running calicoctl with badly formatted ETCD_AUTHORITY"
[code]

[2015-07-22 22:06] #357 closed

[2015-07-22 22:07] #337 closed

[2015-07-22 22:24] spikecurtis commented on #346
@amouat Working on reproducing this.  Did you enable `--ipip` for any of your IP address pools?  Or does Calico fail to work even if you weren't using `--ipip`?

[2015-07-22 23:22] spikecurtis opened #363 "[Powerstrip] `calicoctl node` fails if alternate unix socket in use"
Failure seems to be in the checksystem module

[2015-07-23 07:10] amouat commented on #346
Nothing was working, so I looked through the logs and found errors in `/var/log/calico/felix/current` related to ipip. I just assumed this was the cause. I hadn't enabled `--ipip`.

[2015-07-23 13:49] fasaxc opened #365 "Some containers in same network get different profile IDs"
Running a scale test with 3 hosts, libnetwork, consul.  Spun up 100 pinger containers on each host as a random mesh of pings.  About 40% of containers never got a ping through to their peer.

Looking at iptables, I traced the path of the failing packets to the IP address of the source being missing from the ipset.  It turned out that the source and dest containers had ended up in different calico

[2015-07-23 15:21] tomdee commented on #365
Some questions:
* Need to know if this is only affecting just containers on different hosts?
  * You think it happens to containers on the same host
* Is there a time aspect on this? Does it affect just the first N containers, or is it a random selection of containers?
* How quickly are you spinning up containers?

[2015-07-23 16:14] tomdee commented on #365
Can you also provide logs from your docker daemons?

[2015-07-23 22:31] spikecurtis opened #368 "ipip kernel module should not be required if not running --ipip"

[2015-07-23 22:45] Symmetric commented on #309
Just had a wee think about this -- I like this approach, and it has some significant advantages.

It would allow us to bundle e.g. nsenter with our calicoctl, which would simplify our netns.py code significantly.

I like the idea of a two-layered approach; you can do `docker run -v ... --privileged calico/ctl node ...`, but we should also have a wrapper to preserve the original `calicoctl node ...

[2015-07-23 22:45] Symmetric commented on #309
Also note that this isn't crazy; Weave do something very similar for their weavetools image.

[2015-07-23 23:28] djosborne opened #370 "label names need encoding for compatability with felix"
#369 is a temporary fix to this issue, but we need a more reliable encoding scheme that won't have collisions.

[2015-07-24 09:50] fasaxc commented on #365
I sent you a diags bundle for this issue, collected with "calicoctl diags".

[2015-07-24 21:53] djosborne opened #377 "Vagrant guide lists incorrect hostnames"
Hostnames listed in the "GettingStartedGuide.md" guide are set to `ubuntu-1` and `ubuntu-2`, whereas hostnames listed in the ubuntu-vagrant-guide are set to `calico-1` and `calico-2`.

The getting started guide claims to use the same hostnames from the ubuntu-vagrant-guide, so we should change one or the other to match correctly.

[2015-07-24 22:04] tomdee commented on #377
I'm in the process of fixing this up.

[2015-07-24 22:09] #346 closed

[2015-07-24 22:12] spikecurtis commented on #363
Closed via #366

[2015-07-24 22:12] #363 closed

[2015-07-24 22:16] tomdee commented on #346
#368

[2015-07-28 10:59] loshkovskyi opened #382 "calicoctl documentation"
Hello,

In our project I would like to link to the `calicoctl` documentation but I'm not able to find one. Is it something that you'd want to add? It could go here, for example: https://github.com/Metaswitch/calico-docker/tree/master/docs
Right now, I am referring to `calicoctl help` for more details.

Thank you.

[2015-07-28 14:06] ninjadq opened #384 "can not using calicoctl in root user"
The version I use is 0.4.8. and host OS is centos6.5.

When I using normal user and run the following command
[code]
everything works fine to me.

But now I need to run calicoctl in root user, I run command like  this
[code]
the result is
[code]
It is confused me because docker is running as usual. I can run `docker` command on root user.

Anyone encounter the same problem?  Or it is a bug on cali

[2015-07-28 19:04] tomdee commented on #382
Yes, it's something we'd love to add. It's on our plan, but not likely to happen this week. Pull requests are of course welcome! The location you mention is the right place for it.

[2015-07-28 19:15] tomdee commented on #384
I see you're writing some Python code to integrate with Calico. I'd love to hear more about it?

I'm not sure why calicoctl can't connect to docker. The error is from
https://github.com/Metaswitch/calico-docker/blob/powerstrip-archive/calico_containers/calicoctl.py#L1928
...which indicates a connection error.

The Docker connection defauls to using the domain socket - see here
https://github.com/M

[2015-07-28 22:10] Symmetric opened #387 "`calicoctl checksystem` fails on Debian."
[code]
Debian (wheezy) doesn't include the sysctl binary, and so the import in calico_ctl/utils.py fails.

Looks like this might be another justification for containerizing the calicoctl command.

Note that sysctl is included in debian v8. Kubernetes uses debian 7 for their Kubernetes base image though, which is an argument for supporting that earlier version.

The `procps` package includes the sy

[2015-07-29 07:44] ninjadq commented on #384
Thank you for your reply.
We are developing a system [Eru](https://github.com/HunanTV) that managing containerized applications across multiple hosts just like kubenetes. And wish to integrate calico to Eru as the network module in the near future.
So I wanna write a demo that control calico network on host using restful api.

`DOCKER_HOST` is already set. I think if I don't set it, the `docker` c

[2015-07-29 08:10] ninjadq commented on #384
I'm sorry the problem seems that the `DOCKER_HOST` env var. When I unset this env var, it works now.
Thank you!

[2015-07-29 16:22] tomdee commented on #384
No problem, I'm glad to help.

[2015-07-29 16:22] #384 closed

[2015-07-29 20:52] tomdee opened #394 "Stacktrace when running calicoctl node without sudo"
Unexpected error executing command.

Traceback (most recent call last):
  File "<string>", line 92, in <module>
  File "/code/build/calicoctl/out00-PYZ.pyz/calico_ctl.node", line 168, in node
  File "/code/build/calicoctl/out00-PYZ.pyz/calico_ctl.node", line 187, in node_start
  File "/code/build/calicoctl/out00-PYZ.pyz/os", line 157, in makedirs
OSError: [Errno 13] Permission denied: '/var/log/ca

[2015-07-29 20:52] tomdee commented on #394
Hit this on CoreOS (on GCE) running v0.5.3

[2015-07-29 23:13] robbrockbank commented on #394
Fixed by #395

[2015-07-30 18:33] #387 closed

[2015-07-30 18:34] #394 closed

[2015-07-30 19:45] flipchart opened #398 "`profile member add` equivalent"
Since version 0.4.7 `profile member add` has been replaced with `endpoint profile append`. However, `profile member add` allowed one to use the container name, while `endpoint profile append` requires the endpoint id, which requires a second command to retrieve, i.e. `./calicoctl endpoint $(./calicoctl container xxx endpoint-id show) profile append xxx`. This is a bit messy and it would be great i

[2015-07-30 19:48] flipchart opened #399 "Calling calicoctl from inside a container"
I would like to be able to modify the host calico network from within a container. Is this currently possible? Specifically I want to be able to add/remove calico profiles from other containers. E.g. if there are 2 containers aaa, bbb, then I want to add a profile xxx to container bbb but run the commands from within container aaa

[2015-07-31 16:05] loshkovskyi commented on #319
+1

and it could be easily extended in the future with other useful information, for example, with client API version (just like in `docker version`).

[2015-07-31 17:53] lxpollitt commented on #319
And probably useful to report Felix version too if that it feasible?

[2015-07-31 21:35] #361 closed

[2015-07-31 22:49] tomdee commented on #399
You should be able to add/remove profiles from containers using calicoctl running inside a container. What error are you seeing (and what version are you using)?

The only commands that I can think of that won't work from inside a container are the `calicoctl container` and `calicoctl node` commands.

[2015-08-03 08:28] flipchart opened #403 "Working with containers that are killed"
When managing containers manually via `calicoctl container add <container> <ip>`, if the container is killed for whatever reason, I can't reconnect that container to the calico network again. Trying `calicoctl contain add` again gives me the message "< container> has already been configured with Calico Networking.". If I try to remove it via `calicoctl container remove <container>` I get the error

[2015-08-03 08:29] flipchart opened #404 "Calico version"
It would be great (especially for reporting issues) to have a `calicoctl version` command to get the version of calicoctl and node that are running. Alternatively, you could put this into the status command

[2015-08-03 09:12] alexwlchan commented on #404
Dupe of #319?

[2015-08-03 11:55] flipchart commented on #404
Yes. Apologies. Closing in favour of #319

[2015-08-03 11:55] #404 closed

[2015-08-03 16:56] robbrockbank commented on #398
Hi @flipchat,

Yes this is something we are aware of - it's partly a result of us trying to make the Calico profile management commands more generally applicable than to Calico with Docker containers.  This is still a work in progress and so we may add more container-centric commands to simplify the endpoint and profile manipulation, but this is not something we have decided.  We'll keep you poste

[2015-08-03 19:08] flipchart commented on #399
Ok so I had simply assumed it wouldn't be possible. So I spent some time working through some examples and it seems that I need docker within the container as I need to call `calicoctl container xxx endpoint-id show` to be able to get the endpoint and do the profile append.

Through my working I happened to actually read the output of `calicoctl` which pointed me to the `ETCD_AUTHORITY` environmen

[2015-08-03 19:26] flipchart opened #409 "Container looses internet access when added manually to calico network"
Not sure if this is expected behavior, but I'm pretty sure it worked (as in I had internet access after adding the container to the network) in a previous release (before version 0.4.7)

I start a container with docker, leaving the default networking, and not using powerstrip or libnetwork
`docker run -dti --name test ubuntu`

I confirm the container can access the internet
`docker exec test ping

[2015-08-03 21:18] spikecurtis commented on #409
@flipchart I suspect what's happening here is that your container can send packets to the Internet just fine, but the replies aren't routed back to the container.  You can turn on NAT for outbound traffic, which should allow outbound Internet access:  https://github.com/Metaswitch/calico-docker/blob/master/docs/FAQ.md#how-can-i-enable-nat-for-outgoing-traffic-from-containers-with-private-ip-addres

[2015-08-03 22:23] robbrockbank commented on #377
Fixed by #402

[2015-08-03 22:23] #377 closed

[2015-08-04 01:05] Symmetric opened #415 "calico IP-in-IP tunnel device uses incorrect MTU in GCE"
The tunl0 device uses MTU 1480 unconditionally. In GCE, the network MTU is 1460, so the correct MTU for the tunl0 device is 1440 in this environment.

With the incorrect value of 1480, packets are dropped after encapsulation, but before being transmitted on the VM's external interface. One might expect the kernel to generate an ICMP "fragmentation required" in this case, but that does not happen.

[2015-08-04 03:11] flipchart commented on #409
Outgoing NAT doesn't seem to have resolved the issue. I used the following commands:

[code]

No output from the last one. I assigned a profile to the container as well which allowed everything.

After I had run the above tests, I decided to remove the container from the calico network (`calicoctl container remove nat`) to see if internet connectivity was restored, but it was *not*. I had a look a

[2015-08-04 08:18] fasaxc opened #416 "High BIRD CPU usage when using route reflector"
Observed in my high-scale testing.  In a full mesh, BIRD seem to use very little CPU, even with hundreds of connections.  However, when moving to using a route reflector, it uses a lot more and outputs a lot to the log:

[code]

[2015-08-04 08:32] alexwlchan commented on #319
Closed by PR #414?

[2015-08-04 08:40] plwhite commented on #415
Actually, a trivial way of doing this would be to have this a configurable parameter in Felix. I might be misunderstanding, but shouldn't this issue be against calico, not calico-docker? Felix creates the tunnel, so changing this is just a couple of lines in Felix code.

[2015-08-04 14:47] lxpollitt commented on #415
Configurable parameter in Felix sounds sensible, but it's only half of the problem.  We also need to provide a way of either automatically configuring it or providing calicoctl commands to to so or similar.

[2015-08-04 15:39] spikecurtis commented on #409
@flipchart thanks for the update.  Let's try to divide and conquer.  You can't ping google.com; I'm interested if it's DNS failing, connectivity to the Internet failing, or both.

Can you ping 8.8.8.8?  If so, then we're just looking at a DNS resolution issue.

From within the container, what's inside `resolv.conf`?  e.g.

    cat /etc/resolv.conf

[2015-08-04 16:13] Symmetric commented on #415
Yep, good point @plwhite ; wasn't sure if there was docker-specific code in this situation.

Closed in favour of https://github.com/projectcalico/calico/issues/756.

[2015-08-04 16:24] robbrockbank commented on #319
Fixed by #414

[2015-08-04 16:24] #319 closed

[2015-08-04 16:28] Symmetric commented on #415
Actually this should be open for the calicoctl piece

[2015-08-04 16:30] spikecurtis commented on #399
@flipchart the `docker` command will read the `DOCKER_HOST` environment variable to target its connection to the Docker API (also understands `-H` flag on the command line).  But, to be reachable, the your docker daemon either needs to expose its API on a TCP socket, or you have to volume-mount the Docker unix socket into the container.

[2015-08-04 17:11] flipchart commented on #409
Thanks for the response. I've run the commands you requested, but to no avail. I ran them with containers on both a `--nat-outgoing` pool and regular pool with the same results

So probably not a DNS issue (alone). Below is the result after adding to the calico network
[code]

Below output is received no matter when run (before `calicoctl container add`, after adding, and after removing)
[code]

I

[2015-08-04 18:13] flipchart commented on #399
So to get docker working within the container I had to install it inside the container (not ideal) and then set the variable `DOCKER_HOST`. This gave me access to the host docker environment via docker commands, and also gave me some access to the calico commands all from within the container. The one that didn't work was `calicoctl container xxx endpoint-id show` which gave the output `No endpoin

[2015-08-05 08:32] plwhite commented on #415
The solution Shaun came up with was to set the default MTU low enough to work with GCE. Thus although you might want to allow tuning it, you don't absolutely have to in order to get IP in IP to work.

[2015-08-05 08:41] ninjadq opened #420 "function container_ip_add() takes exactly 3 arguments but 4 given"
The definition of `container_ip_add()` [here](https://github.com/projectcalico/calico-docker/blob/master/calico_containers/calico_ctl/container.py#L252), only have three arguments
But when you calling it, you passed it 4 args, [here](https://github.com/projectcalico/calico-docker/blob/master/calico_containers/calico_ctl/container.py#L74)

[2015-08-05 16:13] spikecurtis commented on #399
@flipchart what's going on here is that `calicoctl container xxx endpoint-id show` is using your hostname to scope its search for the endpoint.  It's designed this way to be fast, since the container name or ID is scoped to a single host.

Since your container's hostname is not the same as the Docker host's hostname, it fails.

Can you tell us a little more about your use case?

As a work around,

[2015-08-05 17:04] TrimBiggs commented on #420
Yup, good spot.  I've fixed this up in #421

[2015-08-05 17:04] #420 closed

[2015-08-05 23:44] #416 closed

[2015-08-06 10:21] slaws opened #426 "Host cannot communicate with containers when using IP-IP"
Hello,

I have actually 2 k8s nodes (192.168.112.7 and 192.168.112.10) running containers on subnet 172.17.0.0/16.
This k8s cluster is running on an Openstack tenant (I'm just a user of this tenant).

The pool  172.17.0.0/16 is configured with ipip and nat-outgoing.
The communication between containers on different hosts is working fine.

However hosts cannot communicate with remote containers. Re

[2015-08-06 13:06] fasaxc commented on #426
This is a bit sad.  We need packets from containers to hosts to be sent using IPIP but packets from host to host to be sent normally.  The standard routing table doesn't seem to support routing based on source address so we probably need to use iptables to pick out those packets and redirect them to tuml0.

[2015-08-06 13:17] fasaxc commented on #426
Looks like to redirect packets we need multiple routing tables, with iptables marking packets for forwarding by different tables.

[2015-08-06 15:58] Symmetric commented on #415
Also, note that the interface created by `calicoctl container add` (as of calicoctl v0.5.2) uses MTU 1500. This didn't seem to break things (i.e. just setting the correct MTU on the tunl0 adapter stopped the packet drops), but I suspect that we want to use the same MTU for the calico interface too.

[2015-08-06 16:37] Symmetric commented on #403
I've just hit this problem as well. FTR, here are the manual steps required to patch up the etcd repository to work around this problem:

[code]

Now the `calicoctl container add` command should work correctly.

[2015-08-06 17:50] caseydavenport commented on #426
Yep, this is a bit sad.

@slaws - Are you certain that IPIP is necessary for your deployment? It appears that your two k8s nodes are on the same /24 subnet.  Do you know what the underlying network looks like?

If your k8s nodes have L2 connectivity, I wouldn't expect IPIP to be required for your deployment.

cc @Symmetric

[2015-08-06 18:02] TrimBiggs commented on #415
It looks like the change to felix fixes the actual bug here.  I am closing this issue in favor of adding the additional calicoctl piece as a separate backlog item, since it is a different task and not a bug.

[2015-08-06 18:02] #415 closed

[2015-08-06 18:59] Symmetric commented on #415
I'll leave this here; just did some quick perf profiling and there doesn't seem to be a significant effect from reducing the container MTU from 1500 to 1440.

[code]

[2015-08-06 19:06] slaws commented on #426
@caseydavenport : Since I'm new with openstack (and openstack networks) I'm not certain that IPIP is required.

I also thought that IPIP was not necessary but when I tried to setup calico like I did on bare-metal, neither host nor containers could reach containers on another host.

[2015-08-06 20:00] fasaxc commented on #426
@slaws @caseydavenport the underlying fabric may be L2 but it appears to be doing a reverse-path check, which will disallow our routed packets (because the source of the packet will be the VM's IP, which is unknown to the fabric).

[2015-08-06 20:05] caseydavenport commented on #426
@fasaxc By the VMs IP do you mean the the pod's?  Perhaps I am missing something, but I would have thought in this case IPIP is not required, and simply using --nat-outgoing to provide the MASQUERADE rules would work.

[2015-08-06 21:08] caseydavenport commented on #201
The most recent version of the Kubernetes plugin allows the path to calicoctl to be specified using the CALICOCTL_PATH environment variable.  This value defaults to "/usr/bin/calicoctl".

Take a look at this doc for some more details: https://github.com/projectcalico/calico-docker/blob/master/docs/kubernetes/KubernetesIntegration.md

Eventually, future releases will remove the dependency on calico

[2015-08-06 21:08] #201 closed

[2015-08-06 22:34] lxpollitt commented on #426
@caseydavenport --nat-outgoing NATs outbound connections from a container.  In this case the connection is from the remote host to the container (i.e. inbound).  The inbound traffic to the container arrives fine.  The outbound traffic from the container gets dropped (presumably because of RPF in the fabric that doesn't recognize the container's IP).  Trying to NAT that traffic wouldn't help becaus

[2015-08-07 09:18] slaws commented on #426
Based on @fasaxc comment, I have a (dirty) workaround so I can continue my tests :

[code]
Now I can ping containers on other hosts from a host or a container
[code]

[2015-08-07 22:17] #403 closed

[2015-08-10 16:53] djosborne opened #430 "Stack trace when starting Node without Network Connectivity"
If calico/node docker images is not available locally, calico-docker will attempt to pull it. But without a network connection to dockerhub, it will dump a stack trace and quit. We should catch this exception and tell the user that they're missing the calico/node local image, and unable to pull from dockerhub.
[code]

[2015-08-11 20:47] webwurst opened #434 "error setting interface .. routes to ..: file exists"
I wrote down my steps to create a playground for `projectcalico` here:
https://gist.github.com/webwurst/f72e522a2f9425f15134

Everything looks fine and pinging within the set up containers works fine too. But when removing one container and recreate it I get this error:

I tried with docker-latest from last week and from today.

What do I wrong? Where can I check?
Regards!

[2015-08-12 00:48] TrimBiggs commented on #434
Hi @webwurst,

Thanks for bringing this to our attention.  I'm looking into it now and I'm able to reproduce the error locally by creating a container, removing it, then trying to recreate the container with the same name.  I'll let you know when I find out more about what's going on here.

[2015-08-12 11:12] fasaxc opened #436 "Hard to find endpoint by IP address"
While debugging some scale runs, I was finding that I often had the IP address of the container in-hand but it was difficult to get from that to the information about the container from calicoctl.

The best way I've found so far is:

* use ip route to find out what host the IP is on
* ssh onto that host
  * get the host's hostname
  * use ip route again to get the caliXXX interface name
  * use `c

[2015-08-12 11:14] fasaxc opened #437 "Hard to find endpoint by container name"
When debugging, I often have the name of a container to hand but calicoctl doesn't have an option to search by container name.  Instead, I have to:

* use `docker ps` to get the workload ID of the container
* feed that into calicoctl.

calicoctl also doesn't list the container name in its output, which means to go in reverse I have to go from workload or endpoint ID and grep docker's output for th

[2015-08-12 17:42] robbrockbank commented on #436
We're currently working on an updated IPAM module that should allow for this reverse mapping.  Watch this space :-)

[2015-08-12 17:43] robbrockbank commented on #437
There is the `calicoctl container <CONTAINER_ID> endpoint-id show` command which returns the endpoint ID given the container name or ID.  Does that give you what you need?

[2015-08-12 17:52] caseydavenport commented on #370
Issued moved to the Calico-Kubernetes repo here: https://github.com/projectcalico/calico-kubernetes/issues/8

[2015-08-12 17:52] #370 closed

[2015-08-13 00:06] TrimBiggs commented on #434
I believe I know what the issue is.  It seems to be a problem with Docker's libnetwork plugin being unable to create a container using an interface name that was used by a previously deleted container.  I'll try to find a way around this tomorrow and let you know what I come up with.

I'll be raising an issue in the docker/libnetwork repo as well that I will link to here.

[2015-08-13 07:45] webwurst commented on #434
Thx @TrimBiggs! I am really keen to play around some more with callico som more.

[2015-08-13 11:16] fasaxc opened #443 "Move to use upstream confd"
This seems to be the root-cause of the etcd issues that I was hitting in my scale tests:

confd generates O(n^2) work in regenerating the BIRD config, which is expected.  However, it seems to always pick a single etcd cluster node to talk to, which results in overloading the chosen node.

I created an upstream bug to track https://github.com/kelseyhightower/confd/issues/319 but we may want to addr

[2015-08-13 11:25] fasaxc opened #444 "BIRD using excessive CPU at scale"
As the number of routes goes up, BIRD spends more and more time polling the kernel routing table.  At 25000 routes, for example, it averages out to 30% of a core in my tests.

Experimentally, I reduced the poll rate to once every 20s.  That caused bird to burst to 20% CPU once every 20s, which seems more reasonable.  Of course, it will then take longer to spot deleted routes.

I'm worried that the

[2015-08-13 14:04] fasaxc commented on #444
Can confirm, the poll is an issue for propagation: https://github.com/projectcalico/calico-bird/issues/9

I'm still testing the stability impact.

[2015-08-13 15:14] robbrockbank commented on #399
@flipchart  Hi, I was wondering how things were progressing related to the problems in this issue.

Did you manage to get the ssh approach working, or use an alternative approach?  Would it be possible to share a little more about the use case - so that we can investigate whether there is something useful we can do to enhance the existing commands?

[2015-08-13 15:21] #430 closed

[2015-08-13 15:21] robbrockbank commented on #430
Fixed by #440

[2015-08-13 19:01] robbrockbank commented on #60
Tried to fix this using python libraries to replace curl.  Turns out to be a little more complicated than I'd hoped, so downed tools for the time being.

Details of changes so far (see branch: https://github.com/robbrockbank/calico-docker/tree/issue-60-no-curl-installed )

Namely using `requests`.  This had the add-on effect of requiring the following:
- pyopenssl
- ndg-httpsclient
- pyasn1
- requ

[2015-08-13 20:13] tomdee commented on #60
How about we just remove the upload functionality? And instead print a message saying "You can upload the diagnostic bundle to a file sharing service such as transfer.sh using curl
curl --upload-file XXX https://transfer.sh/XXX"

[2015-08-13 22:29] #328 closed

[2015-08-13 23:34] tomdee commented on #443
Adding blocked label as this is currently being treated as an upstream issue. We might be able to contribute a fix upstream or as Shaun suggests use something else.

[2015-08-14 00:06] tomdee commented on #310
Capabilities aren't enough. Because we're doing low level networking things, we need to write to /proc/sys - which we can't do without --privileged. - see https://unix.stackexchange.com/questions/209244/which-linux-capability-do-i-need-in-order-to-write-to-proc-sys-vm-drop-caches

FTR The issues I'm hitting without having --privileged is
[Errno 30] Read-only file system: u'/proc/sys/net/ipv4/conf/

[2015-08-14 00:06] #310 closed

[2015-08-14 00:11] tomdee commented on #365
This is probably an instance of https://github.com/docker/libnetwork/issues/337

Without an easy repro we can't drill down on this. Given it's already tracked upstream, I'm closing this issue.

[2015-08-14 00:11] #365 closed

[2015-08-14 00:13] tomdee commented on #368
This affects our calicoctl checksystem command.

Other than that, I think it's a matter of configuring felix properly. And I'm not sure if felix supports the configuration we need yet.

We probably want to do something like only enabling IPIP in felix once a pool has been created that enables IPIP. Until then, the IPIP module shouldn't be loaded or at least the tun0 device shouldn't be created.

[2015-08-14 00:15] tomdee commented on #382
Current work in progress is in a PR - https://github.com/projectcalico/calico-docker/pull/438

Comments are welcome!

[2015-08-14 00:26] tomdee opened #447 "calicoctl container remove doesn't restore default gateway"
See https://github.com/projectcalico/calico-docker/issues/409#issuecomment-127462680

[2015-08-14 00:39] tomdee commented on #409
Hi @flipchart I've just reproed your issue locally, but I'm still not sure what's going on. I'm fairly certain there's a bug here so I'll continue looking at it tomorrow and try to get a fix in ASAP.

[2015-08-14 00:40] spikecurtis commented on #368
Felix supports this now and will apply config changes immediately  https://github.com/projectcalico/calico/pull/749

[2015-08-14 00:42] TrimBiggs commented on #434
Hi @webwurst,

We have raised a couple of issues with docker and learned a bit more about what is causing the problems: https://github.com/docker/docker/issues/15573 and https://github.com/docker/libnetwork/issues/455.

When the container is first created, an endpoint is created.  When the container is removed, the endpoint still exists and the routes still exist.  When the container is created ag

[2015-08-14 10:59] webwurst commented on #434
Thanks a lot! Works fine for me, I have updated my [gist](https://gist.github.com/webwurst/f72e522a2f9425f15134) accordingly. Now up to some more adventures with promising project calico ;)

[2015-08-14 10:59] #434 closed

[2015-08-14 17:42] tomdee commented on #436
An easier way than your process above could be to run endpoint show and pass in the container ID. e.g.
[code]

The endpoint show command can be run on any host (but will still be quicker if you pass in the --hostname option). If you use docker inspect like in the example above then that needs to talk to the right docker daemon - i.e. one that knows about the container.

[2015-08-14 17:46] tomdee commented on #437
@fasaxc Don't grep docker output, use `docker inspect`.

Also, this bug is related to #398

[2015-08-14 18:59] fasaxc commented on #436
I didn't know the ID or name of the container, only its IP in this case.  I was debugging issues like "ping failed to 192.168.23.123" and that meant I needed to figure out who 192.168.23.123 was.

[2015-08-17 08:38] fasaxc commented on #444
BIRD seems to get blocked while it's polling.  Observed it failing to service incoming BGP connections if the poll interval is too short.

[2015-08-17 08:42] fasaxc commented on #437
I guess I'm saying it's pretty repetative/tedious to continually have to map back and forth between the (very long) IDs when I had the name in hand.  Could we copy the name to etcd, just so we can search on it?

[2015-08-17 14:11] lxpollitt commented on #437
Worth thinking about Spike's new IPAM stuff here in case that helps.

[2015-08-17 18:32] #60 closed

[2015-08-18 22:01] tomdee commented on #309
A first pass at this is on my repo
https://github.com/projectcalico/calico-docker/compare/master...tomdee:calico/ctl?expand=1

[2015-08-18 22:49] tomdee commented on #398
This has been fixed by adding profile commands under `calicoctl container`

[code]

[2015-08-18 22:49] #398 closed

[2015-08-18 22:58] tomdee commented on #399
@flipchart It doesn't sound right that you had to install docker inside the container.

[2015-08-18 23:00] tomdee commented on #437
This should at least be partially fixed by #450 (see also #398)

[2015-08-18 23:04] tomdee commented on #437
The name isn't unique cluster wide, so it's not nearly as useful in etcd as a UUID.

[2015-08-20 09:25] Lukasa commented on #443
We are also considering other confd changes to improve this: see kelseyhightower/confd#326.

[2015-08-21 15:25] johnmccabe opened #460 "calicoctl node detects incorrect IP in CoreOS Vagrant with Docker (default networking) guide"
Following the steps outlined in - https://github.com/projectcalico/calico-docker/blob/master/docs/getting-started/default-networking/Demonstration.md, you are prompted to start calico on both nodes with:

    sudo calicotl node

This results in both nodes detecting the incorrect IP 10.1.42.1 on startup.

    core@calico-01 ~ $ sudo calicoctl node
    No IP provided. Using detected IP: 10.1.42.1

[2015-08-21 15:32] johnmccabe opened #461 "Steps appending profiles to containers do not work in v0.5.5 CoreOS Vagrant with Docker Default Networking guide"
The CoreOS with Docker Default Networking Vagrant setup (https://github.com/projectcalico/calico-docker/blob/master/docs/getting-started/default-networking/Demonstration.md) lists commands to append profiles to containers which do not work in v0.5.5.

For example:

    core@calico-01 ~ $ calicoctl container workload-A profile append PROF_A_C_E
    Usage:
      calicoctl container <CONTAINER> ip (a

[2015-08-21 15:43] TrimBiggs commented on #460
Thanks for this @johnmccabe.  Can you paste in the output from running `ip -4 addr` on each of the vagrant machines?  We may have a fix for this already that will be in our next release.

[2015-08-21 15:44] johnmccabe commented on #460
Yeah just noticed #343

[code]

[2015-08-21 15:52] TrimBiggs commented on #460
Cool, this is exactly what I thought.  We've made a bug fix that is in the latest release of our libcalico library [here](https://github.com/projectcalico/libcalico/releases/tag/v0.1.4).  This should be fixed and in a new `calicoctl` release today.

For now, you can work around this by passing the `--ip` argument in the `calicoctl node` command:
[code]

I'll post an update in here once the release

[2015-08-21 15:54] johnmccabe commented on #461
Closing this as invalid - the v0.5.5 tag instructions are correct. I wasn't running off master.

[2015-08-21 15:54] #461 closed

[2015-08-21 16:00] robbrockbank commented on #461
@johnmccabe

Hi John,

Apologies for that.  The current docs are for our master code base which has recently had those commands added.  We are in the process of creating a new release of calicoctl that will have these changes in - hopefully releasing today.

If you are in hurry to use the new commands, you could build your own calicoctl image (see https://github.com/projectcalico/calico-docker/blo

[2015-08-21 16:01] robbrockbank commented on #461
Aha! looks like you responded while I was typing that up :-)

[2015-08-21 20:41] johnmccabe commented on #461
Ninja level backtracking skills closing that ticket :)

[2015-08-23 07:03] johnmccabe commented on #460
This works entirely as expected in the v0.6.0 release, thanks!

[2015-08-24 17:30] TrimBiggs commented on #460
Awesome!  I'll close this issue then.

[2015-08-24 17:30] #460 closed

[2015-08-26 07:46] fasaxc opened #470 "caliicoctl diags failing at scale"
Seen in the scale testing.  With 101 containers on an GCE 2-core instance running CoreOS, I can't run calicoctl diags:

[code]

I looked in /dev/pts/, which I think is where pty devices live but there were only about 120 in there and the system limit was 4096.  I suppose they may have been hidden in my containers!

This was a large-scale test so I had to tear it down before I could investigate fur

[2015-08-26 14:15] ajaybhatnagar opened #471 "Example container in the documentation fails to start."
I suspect it is because netmask used is 32 instead of 22 for the actual vlan. No way to specify netmask when starting calicoctl .

Actual network on node:
2: eth0: <BROADCAST,MULTICAST,UP,LOWER_UP> mtu 1500 qdisc pfifo_fast state UP group default qlen 1000
    link/ether 02:00:0a:ec:85:ab brd ff:ff:ff:ff:ff:ff
    inet 10.236.133.171/22 brd 10.236.135.255 scope global eth0

Container connection at

[2015-08-26 17:07] robbrockbank commented on #368
I've made a change to libcalico to only set the global setting once an IPIP pool has been created.  There is no reverse mechanism (i.e. the global setting is not disabled when all IPIP pools have been deleted ... but you can use the calicoctl config option to disable it if necessary).

I'm not 100% convinced we need a calicoctl change for this - the only one I can think of is to optionally install

[2015-08-26 23:05] TrimBiggs commented on #471
Hi @ajaybhatnagar,

I've just reproduced the issue locally with the latest experimental docker from today, but I do not see this when I use experimental docker from Aug 11.  I'll dig into this and try to figure out what has changed with Docker.

If you'd like to continue using Calico with libnetwork, you can use a `docker` image from one of our releases.  We copied a couple of known, working docke

[2015-08-27 00:16] TrimBiggs commented on #409
Hi @flipchart,

I looked into this a bit more.  The issue is that you have not set up a security profile to use with your container.

When a container is added to Calico, Calico takes over all networking.  The container cannot send or receive traffic until it has been assigned a security profile.  You can create a profile and assign it to the container.  By default, the profile will allow the cont

[2015-08-28 00:19] TrimBiggs commented on #471
After some further digging, it's not clear to me what the underlying problem is here.  Our libnetwork expert is out of the office at the moment, but he may have some insight into this issue when he returns.

Keep watching this space!

[2015-08-28 15:17] ajaybhatnagar commented on #471
Thanks Tim.
Ajay
From: Timothy Briggs [mailto:notifications@github.com]
Sent: Thursday, August 27, 2015 8:19 PM
To: projectcalico/calico-docker
Cc: Ajay Bhatnagar
Subject: Re: [calico-docker] Example container in the documentation fails to start. (#471)

After some further digging, it's not clear to me what the underlying problem is here. Our libnetwork expert is out of the office at the moment, b

[2015-08-28 16:45] spikecurtis commented on #368
I'm not sure what you're asking.  Is it "do we need to deal with the fact that the user may not have installed the `ipip` kernel mod when they add an IPIP pool?"  If so, then yes we do.

Or, are you asking "do we need to build the reverse mechanism so support is disabled automatically when the last IPIP pool is removed?"  For that one, I don't really think we do.

[2015-08-28 19:00] spikecurtis opened #479 "calicoctl checksystem should examine etcd version and warn"
There are some versions of etcd that have known problems.  As part of check-system we should check the running version of etcd and drop a warning if it isn't the version we recommend.

This means we would need to introduce the concept of a recommended version, do our testing with it, and be proactive about testing the new versions.

[2015-09-02 09:24] fasaxc opened #480 "Multiple felix logfiles"
I think the current felix.cfg results in multiple felix logfiles.  There's one generated from stdout/err in /var/log/calico/felix/current and a separate one that felix creates by default at /var/log/calico/felix.log.

[2015-09-02 16:37] tomdee commented on #409
I can no longer repro the problem so closing. @flipchart please let us know if you're still hitting this issue and we'll reopen and investigate further.

[2015-09-02 16:37] #409 closed

[2015-09-02 18:22] tomdee commented on #471
I've raised this issue with libnetwork https://github.com/docker/libnetwork/issues/485

[2015-09-02 18:24] ajaybhatnagar commented on #471
Thanks Tom.

From: Tom Denham [mailto:notifications@github.com]
Sent: Wednesday, September 02, 2015 2:23 PM
To: projectcalico/calico-docker
Cc: Ajay Bhatnagar
Subject: Re: [calico-docker] Example container in the documentation fails to start. (#471)

I've raised this issue with libnetwork docker/libnetwork#485<https://github.com/docker/libnetwork/issues/485>

—
Reply to this email directly or view

[2015-09-03 07:11] arjanschaaf opened #481 "Calico performance on the AWS public cloud"
Hello,

I'm running some tests on a setup using Calico 0.6.0, CoreOS and Docker all hosted in a Amazon VPC environment. To get Calico working created the IP Pool like it was documented in the AWS guide:

[code]

I created an environment with 2 t2.micro VM's running in 1 EC2 availability zone. The containers can reach each other just fine over the calico network: great! The test I'm running is usin

[2015-09-03 10:21] fasaxc commented on #470
Hmm, hit the same issue again today and tried increasing the number of ptys to no avail.  However, running as root did work around the issue.  Maybe that was the issue and we should error out and recommend running as root?

[2015-09-03 10:22] fasaxc commented on #437
Even if it showed me a lit of containers with a particular name, that'd be useful, I think.  Then it's up to me whether I use unique names or not.

[2015-09-03 10:49] fasaxc commented on #481
The IPIP encapsulation does add a small overhead but we've not seen such a big drop in our testing (mainly on GCE with larger instances).  Do you see the same drop on a small or medium instance?  In my experience, the CPU throttling behaviour of micro instances makes their performance very erratic.  The small extra load may tip you over the threshold and result in throttling, for example.

[2015-09-03 11:09] plwhite commented on #481
There are three possible limiting factors here on throughput

1. the cost of just having a veth and getting traffic out of it
2. the cost of IP in IP
3. the cost of getting traffic across the network.

Are you CPU limited (on either end) when you are running without 1 and 2 and getting 1Gb/s? You shouldn't be, but if you are then things could be problematic as you add the other factors in, especia

[2015-09-03 12:07] arjanschaaf commented on #481
So I re-ran the same test, but this time on a m4.xlarge instance: not throttling and a lot more power.
The qperf client is started with these params btw:

[code]

the results of 2 containers connected over the host interface without calico:

[code]

and again, but now using calico:

[code]

looking at the instance monitoring: CPU is very low during these tests.

[2015-09-04 11:06] arjanschaaf commented on #481
@fasaxc @plwhite apparently it isn't what you are trying to measure, but is also how you measure it.
I switched from qperf to iperf3 (https://github.com/esnet/iperf) mainly because it allows you to better run your tests with multiple connections in parallel (128 is the maximum) and it is better equipped to run tests over a longer period. These are the first results on a m4.xlarge instance:

**2 co

[2015-09-04 11:06] #481 closed

[2015-09-07 09:15] plwhite commented on #481
Thanks for that - very interesting. We've used both qperf and iperf3 in the past, but settled on qperf because it is simpler and gives us good latency numbers. But we've not seen the two giving such different results before, something that I'll take a look into. My guess is that (as you say) it's related to multiple output streams, and the veth is getting blocked as the TCP buffers fill up. Why it

[2015-09-08 17:23] robbrockbank commented on #443
We have a projectcalico/confd release that addresses this issue.  I'll update our node image to pull in that release.

Cory has created an upstream PR - so we should use the upstream release when it's available.

[2015-09-08 20:14] robbrockbank commented on #480
In libcalico, we do set the LogFilePath to be None, but it doesn't seem to be taking hold.

That said, I think we will still initially log to file because the felix.cfg file is used for start up logging (IIRC).  So perhaps the correct fix is to set the values in felix.cfg, but allow them to be overridden by etcd values.  I don't think this is currently possible though.

[2015-09-08 21:33] robbrockbank commented on #443
Fixed by #483

Once this fix is upstream in confd, we should revert to using the standard confd.

[2015-09-08 22:26] robbrockbank commented on #368
@spikecurtis   yeah sorry it was two separate points that i didn't do a good job of separating.

On the "reverse mechanism" to remove the ipip module - I don't think we need that either.

On the other point, I was wondering what we should do about the "calicoctl check system --fix" command.  At the moment, this installs the ipip kernel module - but arguably we may want this particular one to be an

[2015-09-10 22:10] alexhersh commented on #480
`projectcalico/calico/calico/felix/felix.py` initializes logging to a hardcoded `/var/log/calico/felix.log` path.
The `my_init` of the calico/node image in `projectcalico/calico-docker` starts a `svlogd` process that prints to the `/var/log/calico/felix/current` directory. Two conflicting logging schemas. I'm not even sure if `calicoctl config` correctly affects the logging level of either

[2015-09-10 22:14] robbrockbank commented on #480
The calicoctl config is used to modify the severity level of logs output to stdout/stderr.  Unless I'm mistaken svlogd captures and writes out anything Felix outputs to stdout/stderr.

So the calicoctl config *should* adjust the log levels for the log files in /var/log/calico/felix/current.

I think the issue is just that Felix is also writing out to file (which we should have disabled).

@alexher

[2015-09-14 08:52] ninjadq opened #486 "Can Not Start Calico Node on v0.6.0"
When I using this command to start a node
[code]
It returns that
[code]
It seems that in the function [warn_if_hostname_conflict](https://github.com/projectcalico/calico-docker/blob/master/docs/getting-started/libnetwork/Demonstration.md) `docker_client.containers(filters={'name': 'calico-node'})` returned a None.

I'm Using Centos 7 and docker-1.9experiments, and the calicoctl version is v6.0.0.

[2015-09-14 16:41] TrimBiggs commented on #486
Hi @ninjadq

Thanks for bringing up this issue.  I'm looking into it now, and I've just reproduced the problem locally.  I'll keep you updated on a fix for this when I've made more progress.

[2015-09-14 17:45] spikecurtis commented on #368
Yes, I'm inclined to leave the `check system --fix` command as is.

[2015-09-14 23:29] TrimBiggs commented on #486
I reproduced this earlier using the latest Docker experimental.  When I use an older version of Docker experimental, I don't see this issue, so it seems that some Docker commit has changed the return value for this call.

I've made a fix for this in PR #487.  For now, you can clone the repository once the change is in and run `sudo make binary` to create the `calicoctl` binary at `/path/to/calico-

[2015-09-15 00:43] TrimBiggs commented on #486
Fixed by #487

[2015-09-15 00:43] #486 closed

[2015-09-16 13:22] plwhite opened #488 "Automatic MTU configuration / discovery"
The veth created by calicoctl has an MTU of 1500. Unfortunately, if we are running in an environment where we have a very large MTU (such as on AWS, but also private data clouds), then we might want that MTU to be larger, and in some odd clouds with small MTUs we might want it to be smaller.

The limits are the following (breaking any of these will impact performance).
- The MTU should not be larg

[2015-09-16 15:29] DaveLangridge opened #489 "calico-docker doesn't work with gce"
created 2 GCE instances. Used calico-docker from https://github.com/projectcalico/calico-docker/releases/download/v0.5.5/calicoctl. created an ipip pool. The tunnel for this has an MTU of 1480, but the eth0 interface is 1460. Small packets (e.g. pings) work between containers, but qperf bandwidth is 0.

If I change the MTU of the tunnel to 1440 on both sides, all is fine.

A fix for #488 should fi

[2015-09-16 15:43] TrimBiggs commented on #489
Hi Dave,

I'm working on a fix for this right now.  I'll link to the PR when it goes up to keep this thread updated.

[2015-09-17 08:35] DaveLangridge commented on #489
I assume this will include the docs updates to tell users what to set this to. (e.g. 20 below the interface value). Should also consider changing the default so that it works for GCE.

[2015-09-17 10:01] plwhite commented on #489
@TrimBiggs I thought you were fixing issue #488? That's not related to this issue.

This bug is that calico-docker is downloading Felix 0.28, which is too old to work on GCE (you need at least Felix 1.0). That in turn is because (I think) calico-docker 0.5.5 downloads that version. The GCE page doesn't seem to explicitly say that only 0.6.0 works, so it probably should do (assuming that all those

[2015-09-17 10:47] Graeme-Miller opened #490 "Calico-docker does not work on AWS without VPC"
Whilst following the instructions [here](https://github.com/projectcalico/calico-docker/blob/master/docs/getting-started/AWS.md) I have run into some issues.

The root cause is that, running Calico on AWS requires your EC2 instances to be running within a VPC. Amazon will not allow ipencap traffic unless it is within a VPC. If this is expected functionality then the documentation should be updated

[2015-09-17 11:54] DaveLangridge commented on #489
Just to confirm. I upgraded calico-docker to version 0.6.0, and qperf worked fine. This issue can be closed. Though you might want to update the GCE page @plwhite mentioned. (I couldn't find that page - but I didn't look hard.)

[2015-09-17 12:08] lxpollitt commented on #490
We should definitely update the docs to resolve this issue, both in terms of making it clear that VPC is required and guiding users through the key VPC setup steps.  I think it is important to have a clear split between "here's how you set up a VPC in general, with SSH etc working" and "here's how you then add Calico".  For the former, we should also point to AWS's instructions.  (If they are conc

[2015-09-17 18:31] TrimBiggs commented on #489
Thanks for the clarification.  I'm updating the doc to make it clear that v0.6.0 is required when using GCE.   Following the current instructions of the GCE doc will automatically pull v0.6.0.

It seems that GCE is likely incompatible with Calico's powerstrip networking since the powerstrip release is based calico-docker and felix from several months ago.  We could possibly update this at some poi

[2015-09-18 04:56] TrimBiggs commented on #490
Thanks for the clear steps that you took to set up networking.  I'll update this doc first thing tomorrow.

[2015-09-18 06:31] TrimBiggs commented on #489
The doc is updated with PR #491. Feel free to review and leave any comments!

[2015-09-18 11:32] hectorj2f opened #492 "calicoctl doesn't provide a way to release old IPs"
Hello guys,

I am trying to reuse one IP from an old container but it seems that none of the existing commands is able to release this IP. I used `calicoctl remove container <CONTAINER_ID>` and `calicoctl container <CONTAINER_ID> ip remove <IP>` but I am still getting errors like the `IP has been already assigned`. I found a dirty workaround removing the assignment from etcd.

Is there a safer way

[2015-09-18 17:30] TrimBiggs commented on #492
Hi @hectorj2f,

Thanks for bringing this up.  When you say that the IP is from an old container, do you mean that the container has been removed from docker?  We currently do not have a command that frees the IP if the container no longer exists.

To free the IP, you can run the `calicoctl container remove <CONTAINER_ID>` command before deleting the container.  If you're seeing something different

[2015-09-18 17:30] TrimBiggs commented on #489
Fixed by #491

[2015-09-18 17:30] #489 closed

[2015-09-19 00:36] TrimBiggs commented on #490
I've added PR #493, which explains how to create a VPC and associated AWS objects, rather than using the AWS default VPC.  I plan to run through the whole demo again before getting this reviewed/merged.

[2015-09-19 07:37] lxpollitt commented on #490
@trimbiggs I'm not clear why you say "rather than using the AWS default VPC"?

[2015-09-20 13:30] hectorj2f commented on #492
Hi @TrimBiggs. We use CoreOS, and we found some situations on which there are orphan IPs due to failures stopping/deleting systemd units. It could be really cool if you define a TTL for the IPs if there are not endpoints assigned to these orphan IPs. That could solve the problem.

[2015-09-21 16:59] TrimBiggs commented on #490
@lxpollitt, just did a bit of research on AWS and I think I'm understanding what's going on now.

Accounts created before Dec 4, 2013 support [EC2-Classic and EC2-VPC](http://docs.aws.amazon.com/AWSEC2/latest/UserGuide/using-vpc.html), and all accounts created after just support EC2-VPC.  EC2-Classic does not use VPC; instead it allows instances to run in a single, flat network that you share with

[2015-09-24 05:59] mzupan opened #496 "AWS/Docker/Kubernetes: routing issue"
I'm having a routing issue with AWS/Docker I can't figure out where the problem is. I have 2 nodes setup following the offical guide running 1.0.6 in kubernetes. With the 0.2 version of the plugin

Node 1:

[code]

The second node is s follows

[code]

I loaded a nginx container and iptables looks like this for nginx on both nodes

node1

[code]

node2 where the nginx container is

[code]

I can `

[2015-09-24 06:03] mzupan commented on #496
Also just found out I lunched another busybox container on the other node from where nginx is running and I can't connect to the kubernetes service IP. If busybox is on the same node as nginx the service IP works just fine.

[2015-09-24 08:16] hectorj2f opened #497 "Felix iptable configuration is gone"
Hi guys,

I have a CoreOS cluster and we use fleet as scheduler. We figured it out that if for whatever reason the systemd unit that starts `calico-node` is restarted (possible reason fleet rescheduling, restarting of systemd-journald, ... kaos monkey). All the Felix iptable configuration of my containers in that host are GONE. That's bad... we expect `etcd` to have information about those contain

[2015-09-24 10:20] mzupan commented on #496
So running a tcpdump on the node that runs nginx I see the following

[code]

Its getting there but I think its not making the way back.

[2015-09-24 17:24] caseydavenport commented on #496
It looks like this traffic is originating from one of your nodes (10.122.1.9).

Can you check that your Calico security profile on the nginx pod is configured to allow this traffic?  Could you please include the output of the following commands.

[code]

If the profile contains a single inbound rule of the form `allow from namespace_default`, then the profile is configured to only allow traffic fr

[2015-09-24 17:26] caseydavenport commented on #496
Also, can you verify that your `ip route` and `ifconfig` output above match what is currently on your machines?

I've noticed that your routes include `192.168.1.4 dev cali39e715f4628  scope link` for your nginx pod.  However, I don't see `cali39e715f4628` in your `ifconfig` output.

[2015-09-24 17:58] djosborne opened #499 "Unclear which calicoctl commands will work only on a container's host"
Its poorly documented which calicoctl commands will only work when run on the hosts that are running the targeted container. I believe its all the `calicoctl container` commands. But we only mention this restriction as a sidenote in one of the [Getting Started Guides](https://github.com/projectcalico/calico-docker/blob/master/docs/getting-started/default-networking/Demonstration.md)

This could ar

[2015-09-24 18:40] mzupan commented on #496
[code]

I updated my original post with all the new IP info I'm now using

[2015-09-24 18:41] mzupan commented on #496
[code]

[2015-09-24 20:06] caseydavenport commented on #496
@mzupan Based on the profile, Calico is configured to reject any traffic to that pod that is not from the "default" Kubernetes namespace.  Can you run the following command and retry your `curl` from the remote node to verify if this is the problem?
[code]

[2015-09-24 21:03] mzupan commented on #496
so right now its

[code]

for all profiles and it's not getting past the remote host networking into docker

[2015-09-24 21:51] caseydavenport commented on #496
Hm.  Odd.  Would you mind providing tcpdump output on the receiving node, as well as the output of the following command:
[code]

Sounds like it might be a firewalling issue.

[2015-09-25 11:01] mzupan commented on #496
I think I finally got it working.

I installed kub 1.0.6 / calico 0.6.0 and the 0.2.0 of the plugin+proxy

I think the issue was I was setting up the pool too late so the nat or something wasn't setup correctly.

From busybox on another host I am not able to nslookup/ping to skydns

Thanks for the help

[2015-09-25 11:01] #496 closed

[2015-09-25 15:48] TrimBiggs commented on #471
Can this now be closed since docker/libnetwork#485 is closed?

[2015-09-25 15:49] TeaBough commented on #426
I have the exact same problem with 2 vagrant machines. But your workaround is not working in my case. I have to vm : 192.168.31.51 / 192.168.31.52 and the calico subnet is : 192.168.0.0/16.
So I did :

    # echo '8    docker' >> /etc/iproute2/rt_tables
    # ip rule add from 192.168.0.0/16 table docker
    # ip route add 192.168.31.0/24 table docker dev tunl0

I did the same thing on both of my m

[2015-09-25 15:53] ajaybhatnagar commented on #471
I will give it a try next week and let you know.
Thanks
Ajay

From: Timothy Briggs [mailto:notifications@github.com]
Sent: Friday, September 25, 2015 11:49 AM
To: projectcalico/calico-docker
Cc: Ajay Bhatnagar
Subject: Re: [calico-docker] Example container in the documentation fails to start. (#471)

Can this now be closed since docker/libnetwork#485<https://github.com/docker/libnetwork/issues/485

[2015-09-25 16:25] slaws commented on #426
@TeaBough I didn't test using vagrant and virtualbox.
However, with these rules and some iptables rules to avoid masquerading it seems to work on openstack.
I use these (basic) iptables rules to prevent masquerading when packets from containers are going to another container or a host :
[code]
And I also have docker masquerading and iptables disabled

[2015-09-25 17:07] matthewdupre opened #500 "calico-node container doesn't contain birdc."
It would be useful for debugging to have birdc in the calico-node container, but I couldn't find it in the usual places.

[2015-09-25 17:13] matthewdupre opened #501 "Can't remove a container from Calico if it's already been killed and rmed from Docker"
I wanted to stop a Calico node (`calicoctl node stop`), but it complained (rightly) that there was still a workload running.  I `docker kill`ed and `docker rm`ed the container, but it remained in calicoctl.

I then tried `calicoctl container remove <name>`, `calicoctl container remove <short id from docker PS>` and `calicoctl container remove <long workload id from calicoctl endpoint show --detail

[2015-09-25 18:26] TrimBiggs commented on #501
This is a duplicate of #492.

[2015-09-25 19:20] Symmetric commented on #426
@TeaBough I think your problem is that your VM IPs are in your calico subnet. You've created a rule which will push all traffic (from container or host) into the docker table, and that table only has the route `192.168.31.0/24 dev tunl0`.

Try setting your Calico pool to a prefix that doesn't include your VM IPs, say `192.168.32.0/24`. Then use the following route config:

[code]

[2015-09-26 00:53] tomdee commented on #500
It has birdcl though - is that not good enough? Please reopen if it isn't :smile:

[2015-09-26 00:53] #500 closed

[2015-09-28 12:17] TeaBough commented on #426
Nothing worked ... I'm now using the Vagrantfile in default-networking/ubuntu : https://github.com/projectcalico/calico-docker/tree/master/docs/getting-started/default-networking/vagrant-ubuntu.

Here is the configuration :
`172.17.8.101 (calico-01)`
and
`172.17.8.102 (calico-02)`

I have 2 containers :
`workload-A (192.168.0.1) running on calico-01`
`workload-B (192.168.0.2) running on calico-02`

[2015-09-28 14:22] plwhite commented on #488
One minor tweak - we absolutely ought to document the "right" values to set in the AWS instructions, so people know what to do here! This may well already be in hand, but just in case.

[2015-09-28 17:16] Symmetric commented on #426
Can you show the output of `ip route show table unspec` please? The output above only contains the default table, not the docker table.

[2015-09-28 17:39] mzupan commented on #426
I'm getting the same issue

[code]

Node1
  eth0: `10.122.1.21`
  cbr0: `192.168.1.1`

Node2
  eth0: `10.122.1.22`
  cbr0: `192.168.2.1`

From node1 pinging `192.168.2.1` I don't get a response but on node2 i see

[code]

Node1 route table

[code]

Node2 route table

[code]

node1 ip rule list

[code]

node2 ip rule list

[code]

[2015-09-28 17:49] Symmetric commented on #426
@mzupan can you try the workaround posted above, on each node:

[code]

And let me know if it works for you? We're looking at a longer-term fix, but I believe this should get things working. (This is an ip-in-ip specific issue, so it's only required in cloud environments).

[2015-09-28 18:18] tomdee commented on #261
Closing as we can't fix without additional diags and this in on an old version of calico. Please reopen if you're still hitting this.

[2015-09-28 18:18] #261 closed

[2015-09-28 18:18] #399 closed

[2015-09-28 18:34] tomdee commented on #436
Ok, makes sense.

The new IPAM code (which is used everywhere as of the 0.7.0 release) allows additional attributes to be stored against the allocated IPs.

So, we could add a calicoctl command along the lines of `calicoctl ipam info <IP>` which shows the attributes stored for an IP.

This of course requires you to be using IPAM and to store the additional info you want (in your case the endpoint

[2015-09-28 18:44] tomdee commented on #437
Given that the current data model doesn't provide for storing container/workload names I can't see us fixing this any time soon.

[2015-09-28 18:49] tomdee commented on #444
See this for the upstream issue - https://github.com/projectcalico/calico-bird/issues/9

[2015-09-28 19:10] spikecurtis commented on #497
@hectorj2f which version of `calicoctl` are you using?

[2015-09-28 19:14] tomdee commented on #447
This could be tricky to solve properly but at a minimum we should get a docs fix in place.

[2015-09-28 19:33] hectorj2f commented on #497
I am using v0.6.0

On Monday, September 28, 2015, Spike Curtis <notifications@github.com>
wrote:

[2015-09-28 20:02] TeaBough commented on #426
[code]

and

[code]

@Symmetric You were saying that it's an ip-in-ip issue required in cloud environments, but in my case it's when I use Vagrant without the ip-in-ip mode :

[code]

It's when I use this Vagrantfile : https://github.com/projectcalico/calico-docker/blob/master/docs/getting-started/default-networking/vagrant-ubuntu/Vagrantfile

[2015-09-28 20:04] tomdee commented on #471
We've retested this and found it to work. @ajaybhatnagar please reopen the issue if you're still hitting problems.

[2015-09-28 20:04] #471 closed

[2015-09-28 20:19] tomdee commented on #480
Our current felix.cfg contains
[code]

I'll try changing it to

[code]

[2015-09-28 20:59] #480 closed

[2015-09-28 23:02] tomdee commented on #501
Actually, not quite a dupe.

This is about calicoctl container remove not being able to find IDs when the container has been removed from docker. The other is about IPs.

[2015-09-28 23:04] tomdee commented on #492
In general, `calicoctl remove container <CONTAINER_ID>` _should_ remove the IP assignments. If it's not, we should work out why.

[2015-09-28 23:25] hectorj2f commented on #492
@tomdee It works we were killing the container before removing it from calico.

However we faced a similar problem in a different scenario on which you have to reboot one machine (for whatever reason) and you want one container to get the same IP before rebooting. The container is gone but the IP is still assigned to calico based on etcd keys. In order to make this work, I have to explicitly remov

[2015-09-28 23:33] Symmetric commented on #426
@TeaBough Sorry, missed that the first time round. I think you're probably hitting an rp_filter issue. Can you try disabling RPF on the interfaces on the hosts?

Try this:

`for if in all eth1 tunl0; do sudo bash -c "echo 0 > /proc/sys/net/ipv4/conf/${if}/rp_filter"; done`

If that fix works, it's a bug in our Vagrant file. Can you open a separate issue to track that (since this issue is specifica

[2015-09-29 00:24] tomdee commented on #492
I'm thinking that a `calicoctl ipam release <IP>` command would be generally useful here so I'll look at adding that for the next release.

Are you aware of the libcalico library? It would provide a code interface rather than command line interface for doing things like releasing IPs. But am I right in thinking that much of the orchestration that you guys do is based around systemd, so offering yo

[2015-09-29 09:15] hectorj2f commented on #497
@spikecurtis I use v0.6.0 :)

[2015-09-29 16:11] spikecurtis opened #505 "pools with ranges don't work well with IPAM"
`calicoctl pool range add ...` creates a bunch of small pools that add up to the range identified.  This is a problem if Calico IPAM is used, since we use a fixed-size block, so it will ignore any pools smaller than the block size (64-addresses in latest version).

In the worst case, if no pools are the block size or larger, we will completely fail to allocate addresses.

c.f. error logs in Kubern

[2015-09-30 20:39] tomdee commented on #505
@spikecurtis Any thoughts on how we should tackle this? Is it a choice between
1) requiring that `calicoctl pool` is aligned on IPAM-block-sized boundaries; or
2) making calico ipam support multiple block sizes?

Or is there a third way?

Given those options, 1) seems like the best way forwards, do you agree?

[2015-09-30 21:18] tomdee commented on #444
Closing as this is an upstream issue and it's not clear that it's a problem at our target scale.

[2015-09-30 21:18] #444 closed

[2015-09-30 21:20] tomdee commented on #492
I'm changing the title since I think we've established that `calicoctl remove container` does release the old IPs. You're looking for a way to clean up IP assignments, which might come in PR #510 or a way to remove stale endpoints (which will also release the IP) which could come in PR #507

[2015-09-30 21:33] tomdee commented on #497
AFAIK, felix won't remove the IPTables rules when it exits. @fasaxc can you confirm?

I can't repro this problem manually. @hectorj2f Does my run through below capture the issue you're seeing?
[code]

[2015-09-30 21:37] tomdee commented on #497
Actually ignore that. I think the problem is the `ExecStop=/opt/bin/calicoctl node stop --force` line in your unit file.

`node stop` will remove **all** config for that host from etcd. Therefore, that command is deleting all the endpoints from etcd. Normally, you wouldn't be able to run it because there are still endpoints configured, but because you're passing in --force, it's wiping those out t

[2015-10-01 21:03] TrimBiggs commented on #490
I've updated this PR, which covers creating a VPC if no default VPC is available: #493

[2015-10-01 22:51] TrimBiggs commented on #490
Fixed by #493

[2015-10-01 22:51] #490 closed

[2015-10-01 23:15] spikecurtis commented on #505
@tomdee I'd suggest a variation on 1).

This needs some thought on how it interacts with the routes BIRD exports, but:

Modify the `calicoctl pool range add ...` command to be aware of IPAM block sizes, and never create a pool smaller than a single block.  Instead, create the pool spanning at least an entire block, then mark all addresses outside the given range as unavailable in the block, perhap

[2015-10-02 09:18] hectorj2f commented on #497
Thanks @tomdee I'll try this option.

[2015-10-02 09:41] smakam opened #511 "Issue with running Calico with libnetwork and coreos"
hi
I followed the procedure here to install calico with libnetwork in coreos.
https://github.com/projectcalico/calico-docker/blob/master/docs/getting-started/VagrantCoreOS.md

Iam using coreos alpha 815.0.0 image with Vagrant and Virtualbox. I created 2 node cluster.

I was able to start calico with libnetwork.
When I start the container, I get the following error:
core@calico-01 ~ $ /opt/bin/dock

[2015-10-02 09:47] hectorj2f commented on #497
@tomdee I tried to replace `calicoctl node stop` by `docker stop` and at the beginning seems to keep the iptable definitions of existing container. Howeave after a while they are gone again.. :-(.

[2015-10-02 09:49] hectorj2f commented on #492
[code]
Yes, you're right we use `systemd` for the orchestration.

``` You're looking for a way to clean up IP assignments, which might come in PR #510 or a way to remove stale endpoints (which will also release the IP) which could come in PR #507```

Thanks. I'll keep one eye on these PRs.

[2015-10-02 10:59] loshkovskyi opened #512 "Support HTTPS in etcd URL schemes"
Right now it's not possible to use Calico with etcd cluster where all URLs use HTTPS. It would be great to have such option for security implications. The same is for Calico Kubernetes plugin, as everything I can do is to change the `ETCD_AUTHORITY` variable which is not enough to access the etcd store.

[2015-10-02 16:21] tomdee commented on #511
@smakam Thanks for the bug report.

This is a bug in our code. The problem is with line 110 in https://github.com/projectcalico/calico-docker/blob/master/docs/getting-started/libnetwork/cloud-config/user-data-first

The line needs to be replaced with
[code]

I'm not going to have a chance to test it myself today, but you're welcome to try :smile:

[2015-10-02 17:02] lxpollitt commented on #512
+1

[2015-10-02 17:17] smakam commented on #511
@tomdee
Thanks for your response.

i assume that we also need "mv docker-latest docker" since the next line does "chmod +x docker".

Now, I see that docker service does not get started and i get the following error for docker.service:
Oct 02 17:12:11 calico-01 systemd[1]: Starting Docker Application Container Engine...
Oct 02 17:12:11 calico-01 docker[2151]: flag provided but not defined: --kv-sto

[2015-10-02 17:18] caseydavenport opened #513 "Difficult to select version of Kubernetes plugin to use"
Currently, we can install our Kubernetes integration using the `--kubernetes` option on `calicoctl node`.

However, the calico-kubernetes plugin version is hard-coded in calicoctl with no way to configure it.  This is inflexible and leads to difficulty upgrading the plugin, which makes it hard to deploy bugfixes to users (a new release of calicoctl is required)

A few options here:
- `calicoctl no

[2015-10-02 18:07] tomdee commented on #511
Good spot on the mv command.

They've renamed that parameter to `--cluster-store=`. I think the format has also changed to require a `//` too

So, I think line 70 needs changing now (https://github.com/projectcalico/calico-docker/blob/master/docs/getting-started/libnetwork/cloud-config/user-data-first#L70) to

[code]

[2015-10-02 18:07] tomdee commented on #511
And yes to changing user-data-others

[2015-10-03 04:51] smakam commented on #511
hi @tomdee
I made the following change in line 70:
/opt/bin/docker --cluster-store=consul://$private_ipv4:8500 --daemon --host=fd:// $DOCKE
R_OPTS $DOCKER_OPT_BIP $DOCKER_OPT_MTU $DOCKER_OPT_IPMASQ

Now I get this error while starting calicoctl:
core@calico-01 ~ $ sudo calicoctl node --libnetwork
No IP provided. Using detected IP: 172.17.8.101
Unexpected error executing command.

Traceback (most r

[2015-10-05 16:35] hectorj2f commented on #497
@tomdee Do you have any workaround ? The `docker stop` alternative doesn't seem to work.

[2015-10-05 17:51] tomdee commented on #497
Is the current problem just that the iptables rules are disappearing (after a while)? or is there something else?

[2015-10-05 17:53] hectorj2f commented on #497
Well, if all the iptables definitions are gone.. the communication between containers fails as those are not defined anymore. Consequently, we're forced to re-register all the containers again.

[2015-10-05 17:55] tomdee commented on #497
So are you saying that just running felix again doesn't work?

(It might be worth us continuing this conversation on slack - you can sign up here for realtime support :smile: https://calicousers-slackin.herokuapp.com/)

[2015-10-05 20:11] tomdee commented on #511
Yes, looks like a docker problem. They're going to be merging a new libnetwork UX soon into docker and exiting experimental. It might be worth holding off a few days until things settle down.

[2015-10-06 07:50] fasaxc commented on #497
@tomdee @hectorj2f  Sorry, missed the notification when you tagged me.  Felix doesn't remove iptables definitions when it exits.  That is part of our "graceful restart" strategy; we leave the dataplane as-is when we exit and then resynchronise it when we're restarted.

When Felix starts again, it will go through a synchronisation process.

* First, it downloads the latest snapshot of the configura

[2015-10-06 08:00] fasaxc commented on #497
If the iptables rules are disappearing while Felix is down then something else on the system must be removing them.  There's no mechanism to time them out.  If that's the case then that other process is probably fighting with Felix while it is up too (but Felix refreshes the iptables state regularly while it is up to be robust to accidental iptables breakage).

[2015-10-06 13:28] hectorj2f commented on #497
Hi @fasaxc,

As I mentioned in this issue, we had a problem with iptables definitions being deleted of container that were still running. There is a way to reproduce the issue and it is described at the beginning of it. I'd like to know if you were able to reproduce it.

On the other hand, I tried replacing the `calicoctl node stop --force` command in my systemd unit by a `docker stop calico-node`

[2015-10-08 16:57] tomdee commented on #512
We should prioritise fixing this. The code should be easy but we need to agree on a design. Any input would be appreciated.

One option would be to use another environment variable such as `ETCD_SCHEME` which defaults to `http` but can also take the value `https`

@loshkovskyi What are your thoughts?

[2015-10-08 16:58] tomdee commented on #511
@robbrockbank Did you have a branch that fixes this?

[2015-10-08 20:52] tomdee opened #519 "calicoctl node stop removes enpoint configuration but leaves IPAM data in place"
This leads to dangling IP allocations

[2015-10-08 20:53] tomdee opened #520 "calicoctl node stop removes all config for a host which is surprising for users"
Maybe we should only remove config with a `--remove-config` flag, or add an extra `calicoctl node remove` command.

[2015-10-08 21:06] #492 closed

[2015-10-08 21:08] #436 closed

[2015-10-08 23:34] robbrockbank commented on #368
Closing.

Fixed by #522 and change to libcalico to only set the global ipip flag when an IP pool is added that requires it.

[2015-10-08 23:34] #368 closed

[2015-10-08 23:55] spikecurtis commented on #368
Do we check for the `ipip` module when the user adds a IP pool that requires it?

[2015-10-09 12:32] loshkovskyi commented on #512
Here is an example how I can access etcd store over HTTPS:
[code]
So if I set `ETCD_AUTHORITY` to `https`, I need several more variables to set paths to the certificates.

[2015-10-10 17:07] pwFoo opened #524 "Deploy calico docker plugin as container?"
Is there a calico docker image or a dockerfile to deploy the plugin inside a container with all dependencies like etcd?

[2015-10-12 10:50] smakam commented on #511
hi folks
Any progress on this? Would this get fixed as part of official Docker release? Any idea when this is expected?

Thanks
Sreenivas

[2015-10-12 16:07] tomdee commented on #511
Yes, it will be fixed as part of the docker 1.9 release (which is due on Oct 27 I believe).

If you want to try it out sooner, we'll be releasing a v0.8.0 version of Calico docker shortly - current work in progress is on this branch https://github.com/projectcalico/calico-docker/tree/v0.8.0-candidate

However, we only have it working on Ubuntu and not CoreOS.

[2015-10-12 16:23] tomdee commented on #511
I've raised an upstream bug to track this https://github.com/docker/docker/issues/16948

[2015-10-12 22:48] tomdee opened #527 "Attempting to change felix logging levels gives error message"
[code]
Help tells me it's valid. But when I try to change the level it says it's not valid.

[2015-10-12 22:49] tomdee commented on #527
Oh and I can't see the current value either. @robbrockbank what's going on?

[2015-10-14 18:36] tomdee commented on #488
We're not planning to fix this in the near future. Please chime in if you think that position is incorrect.

[2015-10-14 18:43] robbrockbank commented on #513
For libnetwork we have a --libnetwork option to turn it on and --libnetwork-image=<image> to specify the image.  This seems preferable since in the normal use case you don't need to specify the image.

[2015-10-14 18:53] tomdee opened #531 "calicoctl fails to run and just prints help text if ip6tables is missing"
[code]

By commenting out the exception handling code I found this
[code]

[2015-10-14 22:30] #527 closed

[2015-10-15 00:05] alexhersh commented on #519
I implemented a fix in libcalico, walker implemented a fix in calico-docker

[2015-10-15 16:31] plwhite commented on #488
I think it would be good to fix this, as it's a bit embarrassing that our network performance isn't great out the box. However, I don't have any reason to push this as a high priority, so back burner is probably fine.

[2015-10-15 18:37] alexhersh commented on #531
Moved the `ip6tables` command object creation into the exception handler. It should complain if it can't find ip6tables now.

[2015-10-15 22:39] alexhersh commented on #524
Hey pwFoo, sorry for the delay in responding. Our docker images for `calico-node` do not include an etcd deployment. Our guides offer some recommendations for installing etcd on your own.

If you would like to take a look at our docker images and dockerfiles, they are listed on the Calico DockerHub.

+ [Default Docker Image](https://hub.docker.com/r/calico/node/)
+ [Libnetwork Docker Image](https:

[2015-10-16 17:08] tomdee opened #536 "Calicoctl node should set the ip forwarding sysctls everytime it starts"
They are required for proper Calico operation, and it's a very fast operation.

It's also what Docker does.

Having these related to the checksystem command is wrong.

[2015-10-16 17:09] tomdee opened #537 "Calicoctl should check for the correct docker version when using the --libentwork flag"
--libnetwork requires Docker 1.9

[2015-10-16 17:18] TrimBiggs opened #538 "`calicoctl ipam` prints unexpected output line when IP isn't assigned"
The `calicoctl ipam` command prints a line that doesn't make sense in the context of the command.

This happens when running both the `ipam info` and `ipam release` commands.

[code]

[2015-10-16 17:59] TrimBiggs commented on #538
I also see this when I remove a container from Calico, but not when I release and existing IP:

[code]

[2015-10-16 18:22] tomdee opened #539 "The --fix flag to calicoctl checksystem should be depracated."
All it does it try to modprobe some modules, but felix will load them itself.

Remember to search for references to `checksystem --fix` in e.g. cloud-init files.

[2015-10-16 18:29] TrimBiggs commented on #382
PR #532 Should cover this when it goes in.

[2015-10-16 18:32] tomdee opened #540 "docker stop/start breaks calico networking when using `container add`"

[2015-10-16 18:36] #524 closed

[2015-10-16 19:23] robbrockbank opened #541 "Simplify release process (have master docs referring to master binaries and docker images)"
I think it would be great to have the documentation in the master branch of calico-docker refer to the latest docker images and binaries.  We'd have a link at the top of the readme on master pointing to the latest release if people don't want to use bleeding edge.

Useful for a couple of reasons:
-  Our master documentation will actually reflect the latest code.
-  It will be much easier creating

[2015-10-16 20:53] #501 closed

[2015-10-16 21:23] alexhersh commented on #537
PR #543

[2015-10-16 21:23] alexhersh commented on #536
PR #542

[2015-10-16 22:38] #537 closed

[2015-10-17 00:03] #536 closed

[2015-10-17 15:30] hectorj2f commented on #497
Hi guys. Do you have any news regarding this issue ?

[2015-10-18 06:12] tomdee commented on #497
No news I'm afraid. We've not encountered this issue ourselves or from anyone else so we'll need to get a local repro before we can fix. Do you think this should repro the problem?
* Run CoreOS
* Run `sudo calicoctl node`
* Create a container and network it with calico (observe that it has iptables rules)
* Run `docker stop calico-node`
* Wait 30s then I should see that the iptables rules have dis

[2015-10-18 10:12] hectorj2f commented on #497
Yes @tomdee, that'd be the ideal scenario to reproduce this problem.

[2015-10-19 16:44] robbrockbank opened #546 "Remove powerstrip from the documentation"
With the latest libnetwork release, probably makes sense to remove powerstrip demo.

Should do this once the 1.9 Docker release is made public.

[2015-10-19 17:09] tomdee commented on #479
Who knows what the problems are? And what should the recommended version be?

We're not (yet) relying on new features so we just use 2.0.11 in the STs - can that be our minimum version https://github.com/coreos/etcd/releases/tag/v2.0.11

Do we need the concept of a minimum version (i.e. the oldest that will still work) and a recommended (the oldest that will perform well).

[2015-10-19 17:29] tomdee commented on #497
I'm unable to repro this issue using the steps above with calico-docker 0.8 and CoreOS Alpha 835.1.0

Can you try again to see if you can repro it and let us know how you did it and what versions you used?

[2015-10-19 17:30] spikecurtis commented on #479
The issue is overstated (sorry!); the only known problem is version 2.0.9, in which Compare-and-swap fails using `python-etcd`.

We could track minimum and recommended, but that increases our testing burden.  I'm not sure we'll get enough out of it to justify it.

[2015-10-19 18:50] tomdee opened #547 "calicoctl status incorrectly uses apt to check felix version"
Felix is installed as a python module...

[2015-10-20 00:17] #539 closed

[2015-10-20 00:31] alexhersh commented on #531
Resolved in #544

[2015-10-20 00:31] #531 closed

[2015-10-20 20:47] caseydavenport commented on #513
@robbrockbank - yes, I'm leaning towards that option.

I'd propose:
[code]

The default for `--kube-plugin-version` would have to be hard-coded in `calicoctl` for now since there is no way to easily get the "latest" GitHub release (unlike for docker images).  If we containerize the plugin then we could change this behavior down the road.

I'm pretty keen to do this soon (and will do so myself if w

[2015-10-20 20:51] robbrockbank commented on #513
@caseydavenport This ties in with the proposal for streamlining the release process.  In that I suggested we implement a PHP script accessible on projectcalico.org that get return the latest build of the binaries scraped from the CircleCI artifacts.

On the master branch of calico-docker, we really would refer to the latest (bleeding edge) build of the plugins rather than referring to the latest r

[2015-10-21 16:15] #513 closed

[2015-10-21 17:56] robbrockbank commented on #511
The v0.8.0 release was tested with CoreOS.  This should be working now.  Closing issue.

[2015-10-21 17:56] #511 closed

[2015-10-21 21:00] caseydavenport opened #552 "IPAM host entry not added"
Seen while walking through the [Default Networking](https://github.com/projectcalico/calico-docker/blob/master/docs/getting-started/default-networking/Demonstration.md) tutorial on a CoreOS vagrant install (using master build of calico-docker).

`2015-10-21T20:37:27Z calico-01 /confd[28]: ERROR 100: Key not found (/calico/ipam/v2/host/calico-01) [624]`

It looks like confd is failing to configure

[2015-10-21 21:03] caseydavenport opened #553 "ip6_tables not installed in vagrant demo"
Seen in the CoreOS `vagrant up` demo in the Felix logs.

[code]

Looks like `ip6_tables` is not installed anymore after the `checksystem --fix` changes.

[2015-10-21 21:08] caseydavenport opened #554 "Standardize Kubernetes plugin install location"
Currently, `calicoctl node --kubernetes` installs the Kubernetes plugin to `/usr/libexec/...` on most distros, but installs it to `/etc/kubelet-plugins/calico` on CoreOS (since `/usr` is read-only).

This is unnecessarily confusing.  Post Kubernetes v1.1 (when the --network-plugin-dir option is released) we should update this behavior so the plugin is always installed to the same location.  This w

[2015-10-21 21:22] caseydavenport commented on #553
Looks like an issue with the way we're calling `modprobe` in `node_start(..)`

We run the following:
[code]

Which appears to install `xt_set`, but not `ip6_tables`.  I think we need to include the `-a` option on modprobe, which indicates that it should treat all arguments as modules to be installed.

e.g
[code]

[2015-10-21 21:27] tomdee commented on #553
D'oh. Thanks for investigating.

[2015-10-21 21:49] #553 closed

[2015-10-21 22:44] caseydavenport commented on #552
After a discussion with @robbrockbank - Looks like a problem in the aggregation confd template where we assume the `v2/hosts/HOSTNAME` entry exists.

The quick and dirty fix is to make sure that directory exists when `calicoctl node` is run.

[2015-10-21 23:19] spikecurtis commented on #552
I think this is in the latest `libcalico`.

https://github.com/projectcalico/libcalico/commit/1e82c9d3ee445b498f696950c664bc3482b3292c

[2015-10-21 23:31] caseydavenport commented on #552
Righto, it is.  Just not in the latest released version.

[2015-10-21 23:31] #552 closed

[2015-10-22 11:06] hectorj2f commented on #497
thanks @tomdee!. I'll try to reproduce it with this version.

[2015-10-22 14:28] TrimBiggs opened #557 "`Calicoctl endpoint profile (append...)` has unexpected output when no profile is specified"
The `calicoctl endpoint <endpoint_id> profile (append|set|remove)` command is written in docopt as:
[code]

This allows the user to ignore the `<PROFILES>` argument entirely.  This has strange output:
[code]

The `<PROFILES>` param should be required.

[2015-10-22 14:31] TrimBiggs commented on #557
Actually, it doesn't really make much sense to have the other flags in this command either...

I imagine this command used to be merged with the `endpoint <ENDPOINT_ID> profile show command`, which would explain this and why the `<PROFILES>` param is optional here.

Something like this:
[code]

[2015-10-22 14:38] TrimBiggs opened #558 "`Calicoctl endpoint <ep_id> (append|set|remove) profile` contains undocumented parameters"
This came up after raising issue #557

I imagine this command used to be merged with the `endpoint <ENDPOINT_ID> profile show command`, which would explain this and why the `<PROFILES>` param is optional here.

Something like this:
[code]

but this command should look like this:
[code]

If the endpoint is required, we should not need any additional information about the hostname/orchestrator_id/wo

[2015-10-22 15:38] TrimBiggs opened #559 "`Calicoctl container profile (append...)` has unexpected output when no profile is specified"
This command has the exact same functionality as the `calicoctl endpoint <ENDPOINT_ID> profile (append|set|remove) [<PROFILES>...]` command, which should also require the profiles flag as mentioned in #557.

[code]

[2015-10-22 18:26] robbrockbank commented on #559
Just update the output text is sufficient I think.

[2015-10-22 18:32] TrimBiggs commented on #559
The reason the `<PROFILES>` param is optional is to allow the `set` command to use an empty list of profiles to remove all profiles.

The change should be to update the output of the commands to be more clear what is going on.

[2015-10-22 18:34] TrimBiggs commented on #557
The reason the `<PROFILES>` param is optional is to allow the `set` command to use an empty list of profiles to remove all profiles.

The change should be to update the output of the commands to be more clear what is going on.

[2015-10-23 00:09] spikecurtis opened #560 "we shouldn't need the --log-dir option for calicoctl diags"
The log dir is set when `calicoctl node` is activated, so we shouldn't need to use the --log-dir option when we gather diagnostics.  If the node container is running or stopped but not removed, we can get the logging dir using `docker inspect`.

The only time a user should need to use this option is if they used a custom director AND have removed the calico-node container.  (So don't remove it com

[2015-10-23 10:30] fasaxc opened #561 "Garbled profile rule show output"
User on IRC pasted some output from calicoctl profile rules show.  It looked like his output had been improperly interleaved with the outbound rules shown before its heading:
[code]
He said he hadn't changed the rules at all.

[2015-10-23 10:30] fasaxc commented on #561
He was using version 0.7.0.

[2015-10-23 10:36] fasaxc commented on #561
User clarified that the output was correct on the terminal but only garbled when pasted into IRC.

[2015-10-23 10:36] #561 closed

[2015-10-23 17:02] robbrockbank commented on #558
It is correct that the endpoint ID is generally sufficient to identify an endpoint.  However, performing an endpoint lookup based purely on the endpoint ID requires a linear search through the etcd datastore to locate the endpoint.

Whilst this is OK for testing by hand, it does not make sense in a large deployment where there will be an orchestration layer.  In this case you can specify all of th

[2015-10-23 17:50] TrimBiggs commented on #488
We've had a few more discussions about MTU configuration via calicoctl.  We're planning to run a couple of tests to get a better idea of how Path MTU discovery works between containers and hosts.  We'll keep this issue updated with the progress towards a solution.

[2015-10-23 17:59] robbrockbank commented on #554
Marking as blocked (pending Kubernetes v1.1)

[2015-10-23 18:10] robbrockbank commented on #512
I've been looking into a design for this.  Please touch base with me before tackling this one.

[2015-10-23 18:34] TrimBiggs commented on #499
PR #532 will cover which commands should be run on the host or any node.

[2015-10-23 22:24] tomdee opened #564 "It should be possible to set up a node without starting calico (felix/bird/confd)"
Operators may want to choose their own way of deploying the `calico-node` components i.e. felix, bird and confd. We currently only support using a docker container, but we do have native packages in our openstack repos. In addition to running the components natively, operators may want to use other container formats such as rkt.

The expected way that we'll support this is to add a new `calicoctl

[2015-10-23 22:29] TrimBiggs opened #565 "Uncaught exception when passing nonexistant IF to `calicoctl container ip add` command"
[code]

[2015-10-23 22:58] spikecurtis commented on #564
+1

[2015-10-24 00:35] tomdee commented on #538
Closing in favor of the libcalco bug

[2015-10-24 00:35] #538 closed

[2015-10-26 16:51] #540 closed

[2015-10-27 18:48] TrimBiggs commented on #559
Fixed by #568

[2015-10-27 18:48] #559 closed

[2015-10-27 18:48] TrimBiggs commented on #557
Fixed by #568

[2015-10-27 18:48] #557 closed

[2015-10-27 19:12] TrimBiggs opened #569 "Orchestrator.md document needs reinstating with valid instructions"
Orchestrators.md still refers to Powerstrip.

It should be updated to be relevant to the current Calico deployments and should include links to the repos and docs for existing Calico orchestrator plugins.

[2015-10-27 21:43] TrimBiggs commented on #499
Fixed by #532

[2015-10-27 21:43] #499 closed

[2015-10-28 17:25] #447 closed

[2015-10-28 17:42] tomdee opened #573 "Calicoctl should check for a minimum kernel version"
I believe netns/veth pairs are the newest required piece of kernel tech, which means 2.6.24 or later

[2015-10-29 10:37] alexwlchan opened #576 "Add help strings to the Makefile"
It would make it substantially easier to ramp-up on calico-docker development if there was a `help` target describing the different targets and options.

Here's an example of what I'm thinking of, from the docs Makefile in the main calico repo:

<pre><code><strong>(calico) metaswitch at hermione.linode.co.uk in ~/c/docs on git:master
$ make help</strong>
Please use `make &lt;target>' where &lt;tar

[2015-10-29 13:31] frostynova opened #577 "How to limit the network speed between containers managed by calico?"

[2015-10-29 18:43] TrimBiggs commented on #382
Fixed by #532

[2015-10-29 18:43] #382 closed

[2015-10-29 18:51] loshkovskyi commented on #382
Awesome, thank you!

[2015-10-30 18:25] tomdee commented on #520
We have a design for this.

[2015-10-30 19:03] vijaykumar0690 opened #579 "Can Multitenant network created using calico"
Hi team,

Just want to know using calico multi tenant network can be created.
E.g. two users launching there cluster in mesos
Both using 172.16.0.1/16 segment and both cannot overlap and reach other .

It should be isolated.

Regards,
Vijay

[2015-10-30 20:46] spikecurtis commented on #579
Hi Vijay,

What you're asking is definitely possible in principle with Calico's policy model, but the Mesos plug-in is not set up to work that way.  Right now, the isolation model for Mesos is to define "network groups" (see https://github.com/mesosphere/net-modules) that containers are placed in.  They can reach other members of groups they are in, but not workloads in groups they are not members

[2015-10-30 20:46] #579 closed

[2015-10-30 22:57] crisidev opened #581 "Missing / Leftout docker.sh script in libnetwork cloud-config"
Hello,
libnetwork cloud config https://github.com/projectcalico/calico-docker/blob/master/docs/getting-started/libnetwork/cloud-config/user-data-others#L37 contains a missing / leftout script: docker.sh.

This causes coreos to fail provisioning of any node apart from the first.

[2015-11-02 10:18] vijaykumar0690 opened #582 "Calico-docker docs should point to calico-mesos docs"
Hi Team,

Can we have a document for calico with mesos integration.
On the future plans of having tenant wise seperation of overlapping ipv4s.
Wonderful design and thinking.When the future plan will be implemented in Calico.

If its implemented how we can have the tenant wise separation configured in mesos.

Regards,
Vijay

[2015-11-02 16:54] djosborne commented on #582
Hi Vijay, we are working on documentation now, you can take a peak at our WIP over at [calico-docker PR#19](https://github.com/projectcalico/calico-mesos/pull/19)

[2015-11-02 18:14] robbrockbank commented on #581
Fixed by #583

[2015-11-02 18:15] #581 closed

[2015-11-02 18:16] robbrockbank commented on #581
@crisidev - thanks for the issue - this is now fixed.

[2015-11-02 18:20] TrimBiggs commented on #565
Fixed by #578

[2015-11-02 18:21] #565 closed

[2015-11-02 19:42] robbrockbank commented on #547
Fixed by #584

[2015-11-02 19:45] robbrockbank commented on #541
Fixed by #574

[2015-11-02 19:45] #541 closed

[2015-11-02 20:08] crisidev commented on #581
Thanks for the quick fix!

[2015-11-02 20:34] robbrockbank commented on #546
Fixed by #585

[2015-11-02 20:36] robbrockbank commented on #569
The Orchestrators.md file will be removed as part of removing references to Powerstrip.  Updated the name of this issue to re-instate this document with up to date instructions.

https://github.com/projectcalico/calico-docker/pull/585

[2015-11-02 20:38] robbrockbank opened #586 "Reinstate swarm demonstration"
Previous swarm demonstration used powerstrip.  This was removed as part of the following PR:

https://github.com/projectcalico/calico-docker/pull/585

Need to re-instate the demo using libnetwork.

[2015-11-02 23:09] robbrockbank commented on #577
Hi @frostynova - this is something that has had a little thought, but not progressed very far.

Do you have a specific use case that that you can share and any thoughts on grnularity of configuration etc.

[2015-11-02 23:10] #547 closed

[2015-11-03 01:14] #546 closed

[2015-11-03 11:06] frostynova commented on #577
@robbrockbank Maybe we can use iptables + tc to limit the "calixxxx" interfaces?

[2015-11-03 18:28] robbrockbank commented on #577
Hi @frostynova - yes our line of thinking had led us to tc.  We were keen to get thoughts on use cases so that we could discuss how this would look to the user.  Do you have any thoughts on what you'd like to see?

[2015-11-03 19:22] #558 closed

[2015-11-03 21:12] TrimBiggs opened #592 "Calicoctl node prints exception when Docker is not ready for requests"
I hit this issue when running on AWS with CoreOS using cloud-config.

I believe what happened is that I ran the instance creation scriptsl and was able to SSH into the machines before the cloud-config had finished executing its install scripts.  I don't think Docker was completely installed when I ran `calicoctl node`.

We should quit, saying that Docker is not installed correctly, when we hit an

[2015-11-03 23:29] robbrockbank commented on #569
Make sure to update the link on the projectcalico.org website.

[2015-11-06 00:29] spikecurtis commented on #488
@TrimBiggs Did a test where we set up two containers, running over IPIP with jumbo-frame MTU on the real interface and ipip tunnel.  We start an iperf test, and then set the MTU on the server ipip tunnel interface back to 1500.

This results in some really bad TCP behaviour.  On the server, we see all kinds of out of order packets, enough to cause the server to start using selective ACK.  The pack

[2015-11-06 01:12] #564 closed

[2015-11-06 01:21] tomdee commented on #426
@Symmetric Can we do anything with this issue? Are we able to test the possible vagrant issue ourselves?

[2015-11-06 01:22] tomdee commented on #497
@hectorj2f We're working on making the `node stop` behavior better. The improvements should be in the next release.

I'm going to close this issue, but please do reopen it if you can repro the problem.

[2015-11-06 01:22] #497 closed

[2015-11-06 01:29] tomdee opened #601 "calicoctl validation failure - stacktrace"
[code]

[2015-11-06 01:30] tomdee opened #602 "Stacktrace during Ctrl-C"
[code]

[2015-11-06 01:45] tomdee opened #603 "Document and test IPv6 support in calico-docker"
Calico supports IPv6 but we don't do a very good job of explaining to users how to use it. Let's do a better job of documenting and testing it.
- [ ] `calicoctl node` can be run in IPv6 only mode (or v4 only or mixed) - should/does this just determine how bird shares routes?
- [ ] IPv6 can be used for talking to etcd (and/or IPv4?)
- [ ] containers can have 0 or more IPv4 and IPv6 addresses

Libne

[2015-11-06 09:35] hectorj2f commented on #497
@tomdee Thanks! sure I'd test the latest version when possible :+1:

[2015-11-06 17:43] #479 closed

[2015-11-06 18:02] robbrockbank commented on #520
Fixed by #599

[2015-11-06 22:42] TrimBiggs commented on #488
I've just added a section to the AWS doc that explains how to manually set MTU for jumbo-frames: #521

[2015-11-08 16:52] smakam opened #608 "Typo in cloud-config file of CoreOS with libnetwork"
Hi
I was trying out the example specified in:
https://github.com/projectcalico/calico-docker/blob/master/docs/getting-started/libnetwork/Demonstration.md

In this directory:
calico-docker/docs/getting-started/libnetwork/cloud-config
In user-data-first:
etcd2:
    advertise-client-urls: http://$private_ipv4:2379,http://$private_ipv4:2379
    listen-client-urls: http://0.0.0.0:2379,http://0.0.0.0:23

[2015-11-09 20:45] robbrockbank commented on #608
Thanks @smakam -  just fixing this now.

We just retired the use of the 4001 port fopr etcd in our demos, so the correct fix is to just remove these duplicates.  The 4001 port should not be necessary.

[2015-11-09 20:45] robbrockbank commented on #608
Fixed by #609

[2015-11-09 21:16] #608 closed

[2015-11-10 08:58] frostynova commented on #577
@robbrockbank It will be better to be a key-value in etcd, so that our controllers can set it dynamically

[2015-11-10 16:10] titilambert commented on #488
Hello, I got a problem with MTU. MTU of container cali interface should be less or equal to the MTU of tunl0 interface. (I think the default is 1440)
Also, It should be cool, to be able to define the MTU when we create docker interface.
[code]

Thanks !

[2015-11-10 16:29] TrimBiggs opened #610 "MTU within container not set to be equal to tunnel MTU"
From titilambert:

Hello, I got a problem with MTU. MTU of container cali interface should be less or equal to the MTU of tunl0 interface. (I think the default is 1440)
Also, It should be cool, to be able to define the MTU when we create docker interface.
[code]
Thanks !

[2015-11-10 16:32] TrimBiggs commented on #488
Thanks for finding this @titilambert, sorry it's caused you trouble.

I've moved your comment to be a new issue (#610) since the issue here describes an enhancement to modify the MTU.

[2015-11-10 17:18] tomdee commented on #610
I don't think `--mtu` is an existing option on `docker network create`. Maybe that part of the bug would be better raised against docker or libnetwork.

[2015-11-10 18:35] titilambert commented on #610
@tomdee the calico interface in the container is created by calico-node or by docker ?
Here (https://github.com/projectcalico/libcalico/blob/master/calico_containers/pycalico/netns.py#L79) we can see the command to create an interface. I don't know if it's the good one.

[2015-11-10 19:47] TrimBiggs commented on #610
I think there is an easy fix for this when using calico with docker default networking.  I'll take a look at this and put up a PR if so.

I don't think this will fix Calico with libnetwork.  We should raise an issue with docker or libnetwork as @tomdee mentioned.

[2015-11-12 10:54] AdoHe opened #614 "can not work on centos vms"
I have two vms, both are Centos 7, and they are running on my laptop. For the first vm, the hostname is `calico-01`, the  second vm hostname is `calico-02`, ip address for each vm is: `calico-01: 192.168.113.128`, `calico-02:192.168.113.129`, they can `ping` each other. Then I installed `docker 1.6` on both vms, and also installed `calicoctl` on both vms. Also the `etcd` in running at `calico-01`.

[2015-11-12 18:55] robbrockbank commented on #614
Hi @AdoHe,  As a first step, could you run `calicoctl status` on each node and paste in the output.

[2015-11-13 02:05] AdoHe commented on #614
@robbrockbank I run `calicoctl status` after the `calicoctl node`, and on both vms, I got such result:
[code]
I think cause is clearly: there is no such socket file created on my vm. is this problem related with some kernel module missing? I did run `calicoctl checksystem` before I run other containers, but no mistakes return.

[2015-11-14 00:02] TrimBiggs commented on #610
Hi @titilambert,

I have a couple of questions about this issue.  We had run some tests previously where having a container with higher MTU than the tunnel does not cause packet loss.  It is normal to see the ICMP response that you posted in IRC (`192.168.0.10: ICMP 192.168.0.8 unreachable - need to frag (mtu 1440), length 556`).  Path MTU discovery should see these responses and modify packet siz

[2015-11-14 07:08] wangqiang8511 opened #626 "calico docker container are not restarted automatically, when docker restart"
I think we want to set the calico-node, calico-libnetwork container to be restart automatically.
With docker 1.9, there are not restarted auto when docker restart.

I found the settings in the code

https://github.com/projectcalico/calico-docker/blob/master/calicoctl/calico_ctl/node.py

[code]

Should it be "always" instead of "Always"? According to
https://github.com/docker/docker/blob/13963957eb

[2015-11-14 07:10] wangqiang8511 commented on #626
I confirmed this. We should change "Always" to "always" to enable always restart policy.

[2015-11-16 21:40] ajaybhatnagar opened #627 "Documentation doesn't say that Docker needs to be started with --cluster-store for libnetwork to work"
Trying to setup demo Calico with libnetwork  as per link below but getting error on getting pools config. Other setup of etcd, docker and pre-req have been completed. OS is Ubuntu3.16.0-52-lowlatency.

https://github.com/projectcalico/calico-docker/blob/master/docs/getting-started/libnetwork/Demonstration.md

[code]

[2015-11-16 22:19] tomdee commented on #614
So it looks like bird is failing to run. Can you run `calicoctl diags` and send us the result?

[2015-11-16 22:20] tomdee commented on #627
This looks like a problem with how you've started docker. What options did you pass to the docker daemon when you started it?

[2015-11-16 22:34] #626 closed

[2015-11-17 01:00] ajaybhatnagar commented on #627
Docker demon running with defaults only. Did not see any spl startup option in docs/blog.

Sent from my BlackBerry 10 smartphone on the Rogers network.
From: Tom Denham
Sent: Monday, November 16, 2015 17:21
To: projectcalico/calico-docker
Reply To: projectcalico/calico-docker
Cc: Ajay Bhatnagar
Subject: Re: [calico-docker] Demo startup with libnetwork fails. (#627)

This looks like a problem with

[2015-11-17 02:03] tomdee commented on #627
You're right - it should be documented on this page - https://github.com/projectcalico/calico-docker/blob/master/docs/getting-started/libnetwork/EnvironmentSetup.md

You can see how we configure Ubuntu using Vagrant here - https://github.com/projectcalico/calico-docker/blob/master/docs/getting-started/libnetwork/vagrant-ubuntu/Vagrantfile#L70

[2015-11-17 07:59] frostynova commented on #82
I am back :)

Now we want to upgrade our environment (Calico 0.4.9 + Docker 1.6) to the latest release (Calico 0.10.0 + Docker 1.9 + libnetwork).

If we just let a node offline, upgrade calico & docker on it, then put it online, everything is OK?
I worried that the new node can not join the old network.

[2015-11-17 10:50] frostynova opened #630 "Calico with libnetwork not support Profile rules?"
I cannot find any guide to use profile rules with libnetwork

[2015-11-17 10:56] frostynova commented on #630
And in this doc, https://github.com/projectcalico/calico-docker/blob/master/docs/calicoctl/profile.md , it says:

[2015-11-17 11:36] AdoHe opened #631 "containers on hosts with different subnet"
FYI. I have two hosts and they are within different subnet, now I want to use calico to configure the network between containers which running on these two hosts. whether I have to use the `--ipip` flag? and what this flag mean? use ip in ip to do packet encapsulation?

[2015-11-17 16:17] ajaybhatnagar commented on #627
Thanks Tom for input. I was able to get it going.

From: Tom Denham [mailto:notifications@github.com]
Sent: Monday, November 16, 2015 9:04 PM
To: projectcalico/calico-docker
Cc: Ajay Bhatnagar
Subject: Re: [calico-docker] Demo startup with libnetwork fails. (#627)

You're right - it should be documented on this page - https://github.com/projectcalico/calico-docker/blob/master/docs/getting-started/

[2015-11-17 21:57] ajaybhatnagar opened #633 "After creating multihost calico demo docker containers they are unable to reach"
On node1
[code]

On node 2
[code]
Ping test fails:
[code]

Where to find debug logs ? There is no firewall between nodes.

[2015-11-17 22:08] robbrockbank commented on #633
Hi @ajaybhatnagar,

Could you run `calicoctl status` and share the output here.  Also, could you perhaps run `calicoctl diags` on both hosts and send us the output?

Most of the logs of interest are in the calico-node container - however, we volumne mount the log directory, so you simply look at the logs on your host in /var/log/calico.